[2019-11-04 19:12] andrewsykim opened #3 "Kubelet errors since host netns file doesn't exist"
After deploying `antrea` on a cluster (provisioned with Cluster API + kubeadm), pods were stuck in `ContainerCreating` state.

From the kubelet I saw:
[code]

From antrea-agent I saw similar logs:
[code]

I tried host path mounting `/var/run/netns` to the antrea agent but that didn't fix it.

[2019-11-04 19:30] antoninbas opened #4 "Review verbosity of log messages"
Some log messages are probably using a default verbosity value of 0, but should only be logged at higher verbosity levels. For example, I was looking at some recent agent logs for e2 tests and saw the following:

[code]

I think @abhiraut wanted to take a look at this.

[2019-11-04 23:10] antoninbas opened #6 "Curate / simplify the README to make it more user-friendly"
* see the [Contour](https://github.com/projectcontour/contour) README for a good example
 * add the "Overview" keyword for the first section and simply it, assume readers are already familiar with such things as "CNI" otherwise they would not have landed therew
 * "Features" section: unless something is very different from other CNI, just add a link in the README to that list of features. Or put i

[2019-11-04 23:11] antoninbas opened #7 "Add CI badges at the top of README"
* See [Contour](https://github.com/projectcontour/contour) for an example
 * build status + license + release

[2019-11-04 23:16] antoninbas opened #8 "Curate "Getting started" section in README"
* reduce the size of the section and consider having a link to a separate page (e.g. something like https://projectcontour.io/getting-started/)
 * most users will be using kubeadm so assume that: make kubeadm the default and shows which parameters to pass to kubeadm.
 * many people want to try the project first and see if it works before digging in more, the `kubectl  apply` command (pointing to a

[2019-11-04 23:18] antoninbas opened #9 "Add pre-flight check for requirements as part of the CLI tool"
Have an automated way of checking that all the requirements (e.g. OVS kernel module version) are met, instead of just listing them in the README.

[2019-11-04 23:19] antoninbas opened #10 "Provide user-friendly ways of checking the overall health status of Antrea"
* a `verify` / `check` CLI command
 * a visual indication (green / red) in Octant

[2019-11-04 23:22] antoninbas opened #11 "Ability to easily collect all the relevant information when submitting bug report"
There should be a CLI command that takes care of collecting all the relevant information and can package them in a tarball or upload them somewhere:
 * Antrea logs
 * Antrea version, Kubernetes version, container runtime information...
 * Dump of OVS flows

@frapposelli suggested leveraging https://github.com/vmware-tanzu/crash-diagnostics if possible.

[2019-11-04 23:24] antoninbas opened #12 "Document which types of Kubernetes deployments are supported"
kubeadm, minikube, kind, local-up-cluster.sh?

[2019-11-04 23:27] antoninbas opened #13 "Support running OVS in userspace mode"
Despite the loss in performance, this may be a requirement for some CNI users.

[2019-11-04 23:27] antoninbas opened #14 "Support running Antrea in clusters created with Kind"
Depends on https://github.com/vmware-tanzu-private/antrea/issues/13.

This could be very convenient for CI and enable us to run e2e tests as part of a public CI service.

[2019-11-04 23:30] antoninbas opened #15 "Consolidate developer-facing documentation"
Documents like docs/manual-installation.md, docs/mocks.md, docs/monitoring-crd.md should be moved to their own subdirectory, with its own README field.

Also consider automating the steps in docs/manual-installation.md using a script, if these steps are important for developer workflow.

[2019-11-04 23:32] antoninbas opened #16 "Use kubebuilder 1.16 instead of the code generator directly for CRDs"

[2019-11-04 23:33] antoninbas opened #17 "Add Antrea logo to README"

[2019-11-04 23:35] antoninbas opened #18 "Do an audit of Go dependencies"
According to @timothysc some entries in go.sum are surprising. They may have been pulled-in by things like the code generator and are not actually required to run the Antrea code.

We can try removing the go.sum file and running `go mod tidy` again.

[2019-11-04 23:39] antoninbas opened #19 "Ensure that we support the latest K8s version and the 2 previous minor versions"
* Same manifest yaml should work for all 3 "current" K8s versions
* Needs to be verified for every Antrea tagged release
* Do an audit of the `apiVersion` resource tags in antea.yml; make sure that they are up-to-date and will work with all 3 K8s versions

[2019-11-04 23:41] antoninbas opened #20 "Revisit API groups naming"
For example currently we have `clusterinformation.crd.antrea.io `. We will need to make this uniform with other vmware-tanzu repos (e.g. should end with a `vmware-tanzu.com` domain).

[2019-11-04 23:42] antoninbas opened #21 "Tag Docker images in manifest and use Always imagePullPolicy"
`AlwaysPull` may help avoid some issues when developers experiment with Docker images locally.

[2019-11-04 23:45] antoninbas opened #22 "Support ability to customize manifest yaml"
The default manifest should be user-oriented and work for most users.

For developers and users with specific use cases, we should provide the ability to customize the manifest easily. For an example see https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/examples/generate.sh, which uses [kustomize](https://github.com/kubernetes-sigs/kustomize).

[2019-11-05 00:05] antoninbas opened #24 "Add Jenkins CI"
When the repo becomes public, some (or all) of the CI can be transitioned to a public CI provider such as Travis CI.

[2019-11-05 18:25] antoninbas opened #25 "Update the mailing list addresses"
We have created the following googlegroups:

* **projectantrea** as the main mailing list, including where users can ask for help
* **projectantrea-dev** as the open mailing list to discuss development activities (probably not as useful as Github issues)
* **projectantrea-announce** as a restricted & curated mailing list (everyone can subscribe, only a few people can join) where we only post annou

[2019-11-06 06:53] #25 closed, assigned to antoninbas

[2019-11-06 22:36] andrewsykim opened #27 "Document OVS Datapath Flows"
**Describe the problem/challenge you have**
I think a diagram of the OVS data path flows managed by Antrea would be really useful to users (and developers). This would make debugging issues, developing features and fixing bugs way easier.

**Describe the solution you'd like**
A page that illustrates the data path of a packet going through open flow tables managed by Antrea.

**Anything else you wo

[2019-11-07 20:12] salv-orlando opened #28 "Antrea needs a process for security issue"
**Describe the bug**
Not a software bug, but a missing element for project governance.

**To Reproduce**
N/A

**Expected**
Contributors should have clear indication concerning the process for reporting, fixing, and disclosing security issues.

**Actual behavior**
There is no process at the moment.

**Versions:**
N/A

**Additional context**
N/A

[2019-11-07 22:43] jianjuns opened #30 "Add a description on the GitHub repo"
Add a description on the GitHub repo.  Currently says “No description, website, or topics provided.” At the top of page.

[2019-11-08 18:43] #30 closed, assigned to jianjuns

[2019-11-08 21:46] antoninbas opened #34 "Cleanup Makefile targets"
We should probably put the most "important" targets together at the top and move helper targets further down.

@salv-orlando also pointed out that information message sometimes use `==> X <==` and sometimes use `===> X <===` and we should probably make them uniform.

[2019-11-11 21:53] #4 closed, assigned to abhiraut

[2019-11-11 21:54] #3 closed, assigned to antoninbas

[2019-11-11 22:14] antoninbas opened #36 "Remove stale gateway routes on antrea-agent startup"
**Describe what you are trying to solve**
At the moment the Node route controller simply starts watching for Node updated from the K8s API server. For new Nodes, the appropriate flows are added to the vSwitch (by calling `InstallNodeFlows`) and the appropriate route is added to the gateway interface on the host. On agent restart, we replay flows & routes for all Nodes, however we do not clean-up s

[2019-11-12 05:10] wenyingd opened #37 "Leverage Openflow go binding instead of command line"
**Describe the problem/challenge you have**
Currently Antrea is leveraging ovs-ofctl command to install Openflow entries for connectivity and network policy, as each command starts a new process, the efficiency is lower.

**Describe the solution you'd like**
I will introduce a go binding for installing Openflow entries. Antrea initiates a Unix Domain Socket to connection to OVS, and it is used to

[2019-11-13 02:07] antoninbas opened #39 "Upload base Docker image with pre-built OVS to docker repo"
**Describe what you are trying to solve**
Building the Antrea Docker image currently takes upwards of 10 minutes since the OVS userspace daemons have to be built from source.

**Describe the solution you have in mind**
Move this code (https://github.com/vmware-tanzu-private/antrea/blob/master/build/images/Dockerfile.build.ubuntu#L19) to a separate Dockerfile. Build the image locally and push it on

[2019-11-13 02:09] antoninbas opened #40 "Remove references to dev@antrea.io mailing list"
Replace them with Google group email: projectantrea-dev@googlegroups.com

There is no point in multiplying dev email aliases and it's easier to manage the google group.

[2019-11-13 03:42] mengdie-song opened #42 "Get OVS Version from database for Monitoring CRD to show"
**Describe what you are trying to solve**
Let Monitoring CRD to show OVS version information

**Describe the solution you have in mind**
Get the ovs_version from OVSDB table Open_vSwitch, then add ovs_version to CRD AntreaAgentInfo.

**Describe how your solution impacts user flows**
N/A

**Describe the main design/architecture of your solution**
1.  Add a query interface to get ovs_version from OV

[2019-11-13 06:05] mengdie-song opened #43 "Octant UI plugin for monitoring the Antrea components runtime information and health status"
**Describe what you are trying to solve**
To display Antrea components runtime information and  health status on UI

**Describe the solution you have in mind**
Write an Octant plugin to display the information gathered by monitoring CRDs (AntreaControllerInfo and AntreaAgentInfo)

**Describe how your solution impacts user flows**
User can check Antrea components runtime information and health stat

[2019-11-13 06:09] tnqn opened #44 "Antrea Controller API endpoint is not secured"
**Describe the bug**
Antrea Controller API endpoint is not secured, anonymous clients can get the computed networkpolicy resources.

**To Reproduce**
1. Deploy antrea-controller deployment and service
2. Access the service without any token/cert provided, the request can be accepted

**Expected**
Only users/serviceaccounts that have permission of reading resources under "networkpolicy.antrea.io" c

[2019-11-13 18:36] #40 closed, assigned to antoninbas

[2019-11-13 18:50] tnqn opened #48 "Building image failed intermittently"
**Describe the bug**
`make build` sometimes failed because of missing intermediate image, which was there at Step 6/19 but was missing when copying bits from it at Step 15/19. Not sure if only me met this problem or it's a multi-stage Dockerfile bug.

Here is the failure output:
[code]
**To Reproduce**
`make build` could reproduce it, but not everytime.

**Expected**
`make build` should success co

[2019-11-13 22:31] antoninbas opened #50 "Document the CI pipeline"
Describe which sets of tests are being run, along with which linters are run. The document should also indicate how to debug CI failures.

[2019-11-13 23:12] jianjuns opened #51 "OVS module loading failure for RHEL and CentOS Nodes"
**Describe the bug**
modprobe of initContainer will fail on RHEL or CentOS Nodes.

**To Reproduce**
Deploy Antrea on RHEL or CentOS Nodes, and initContainer will fail.

**Expected**
Loading OVS module by initContainer for RHEL and CentOS Nodes.

**Actual behavior**
modprobe in the initContainer returns an error about binary execution.

**Versions:**
Please provide the following information:
 - Ant

[2019-11-13 23:53] tnqn opened #52 "Support Kubernetes NetworkPolicy"
**Describe what you are trying to solve**
Make Antrea support [Kubernetes NetworkPolicy](https://kubernetes.io/docs/concepts/services-networking/network-policies/).

**Describe the solution you have in mind**
Refer to https://github.com/vmware-tanzu-private/antrea/blob/master/docs/architecture.md#networkpolicy

**Describe how your solution impacts user flows**
User can create Kubernetes NetworkPol

[2019-11-14 02:43] mengdie-song opened #56 "Add and populate field lastHeartbeatTime to monitoring CRDs"
**Describe what you are trying to solve**
Add and populate lastHeartbeatTime to show Antrea Controller and Agent status by CRD

**Describe the solution you have in mind**
Add lastHeartbeatTime to monitoring CRDs (AntreaControllerInfo and AntreaAgentInfo).
Monitoring CRDs will be updated every 60 seconds with lastHeartbeatTime, so we can easily know
the status of Controller/Agent by checking if las

[2019-11-14 02:50] #43 closed, assigned to mengdie-song

[2019-11-14 07:27] #44 closed, assigned to ksamoray

[2019-11-14 08:32] mengdie-song opened #58 "Document and image for deploying octant and antrea-octant-plugin"
**Describe what you are trying to solve**
Add document and image for deploying octant and antrea-octant-plugin.

**Describe the solution you have in mind**
Add document and a docker image to help users to easily deploy octant and antrea-octant-plugin.

**Describe how your solution impacts user flows**
Users can deploy octant and install antrea-octant-plugin as a Pod or as a process depends on thei

[2019-11-14 18:40] #39 closed, assigned to antoninbas

[2019-11-14 22:02] #51 closed, assigned to jianjuns

[2019-11-14 22:27] jianjuns opened #62 "Support IPSec ESP for tunnel traffic"
**Describe what you are trying to solve**
Enable IPSec ESP on VXLAN or Geneve tunnels across Nodes.

**Describe the solution you have in mind**
OVS supports IPSec tunnels. But flow based tunnels no more work, instead a separate tunnel port needs to be created for each remote Node with IPSec configured.
We can use StrongSwan as the IKE for IPSec key exchange, and might start from using PSK (pre-sha

[2019-11-15 00:11] antoninbas opened #64 ""make fmt" fails on Mac OS after making one of the "docker-*" targets"
**Describe the bug**
Running `make fmt` fails on Mac OS after running `make docker-test-unit` because too many Go source files are found when evaluating `GO_FILES`:
[code]
This is because `make docker-test-unit` creates a `.cache` folder where all the Go dependencies are pulled. `find` descends in this directory and too many files are found, producing a shell argument list which exceeds the system

[2019-11-15 01:04] tnqn opened #67 ""make build" downloads go packages repeatedly"
**Describe the bug**
"make build" downloads go packages repeatedly, which slow down the building several minutes.

**To Reproduce**
run "make build" on linux

**Expected**
Maybe we should just build the binary as it was on linux, or consider leveraging gocache in docker build too, otherwise it's not worth to extend the building time several minutes on Linux for the ability to build it on Windows/O

[2019-11-15 03:30] tnqn opened #71 "Except field in NetworkPolicy is not supported"
**Describe the bug**
Except field in NetworkPolicy is not supported

**To Reproduce**
Create a NetworkPolicy with ipBlock which includes `except` field

**Expected**
The IP address in `except` CIDR should not be allowed

**Actual behavior**
The IP address in `except` CIDR is allowed

**Versions:**
Please provide the following information:
 - Antrea version (Docker image tag): 0.0.1

[2019-11-15 06:05] weiqiangt opened #74 "Use GitHub actions to do unit test"
**Describe what you are trying to solve**
Use GitHub actions to do unit test.

**Describe the solution you have in mind**
Add github actions file to enable this feature.

**Describe how your solution impacts user flows**
By using this, we can save more resources for CI to do e2e tests.
Each push would trigger the GitHub action.
When creating pull requests, the action result would show accordingly:

[2019-11-15 11:35] #56 closed, assigned to mengdie-song

[2019-11-15 16:30] #28 closed, assigned to salv-orlando

[2019-11-15 18:57] #64 closed, assigned to antoninbas

[2019-11-15 19:43] tnqn opened #81 "go mod tidy is broken with go 1.13"
**Describe the bug**
Failed to execute `go mod tidy` with go 1.13.4
[code]

**To Reproduce**
Execute `go mod tidy`

**Expected**
It should tidy the requirements.

**Actual behavior**
It failed.

**Versions:**
Please provide the following information:
 - Antrea version (Docker image tag): 0.0.1

[2019-11-15 21:24] #22 closed, assigned to antoninbas

[2019-11-17 20:43] #81 closed, assigned to antoninbas

[2019-11-17 21:11] antoninbas opened #93 "Add e2e network policy tests that can be run as part of CI"
**Describe the bug**
Depends on #52
Tagging this as a bug because these tests are a must-have and without them the network policy implementation can be broken at any time.

[2019-11-17 21:16] antoninbas opened #94 "Ability to run Kubernetes conformance tests in an automated fashion"
**Describe the problem/challenge you have**
We currently do not run the network conformance tests: https://github.com/kubernetes/kubernetes/tree/master/test/e2e/network

**Describe the solution you'd like**
We should be able to run the applicable tests - and in particular network policy tests - either as part of CI (if they can be run in a reasonable amount of time) or on-demand (nightly / for eac

[2019-11-18 02:14] #74 closed, assigned to weiqiangt

[2019-11-18 19:02] ksamoray opened #107 "Running antrea agent on the host breaks"
While running antrea agent on the host it fails immediately with the following error:

Nov 18 05:53:30 antrea-vm1 antrea-agent[7305]: F1118 05:53:30.088121    7305 main.go:56] Error running agent: error creating Antrea client: unable to load in-cluster configuration, ANTREA_SERVICE_HOST and ANTREA_SERVICE_PORT must be defined

[2019-11-18 20:00] antoninbas opened #109 "Add information about the CLA to CONTRIBUTING.md"
The VMware CLA bot has been enabled for Antrea. We should document this in CONTRIBUTING.md and refer users to the VMware CLA FAQ: https://cla.vmware.com/faq

[2019-11-19 00:36] alexbrand opened #111 "go get fails with an "invalid version" error"
**Describe the bug**
go get fails with an "invalid version" error

**To Reproduce**
Run:
[code]

**Expected**
The repository to be downloaded / cloned

**Actual behavior**
[code]

[2019-11-19 00:48] salv-orlando commented on #111
It seems like the replace directive in go.mod for octant is not working correctly? @antoninbas

[2019-11-19 01:12] antoninbas commented on #111
replace directives are not honored when using `go get`: https://github.com/golang/go/issues/30354

The replace is a temporary fix for us, but until we can get rid of it, the solution is to clone the repo using `git` directly.

[2019-11-19 01:19] antoninbas commented on #111
@mengdie-song do you think we will be able to move to use the next minor release of Octant directly, which would remove the need for the replace workaround?

[2019-11-19 02:09] mengdie-song commented on #111
Octant v0.9.0 and master branch are using K8s API kubernetes-1.18.0-alpha.0. I am thinking when we get the latest octant, it will automatically upgrade Antrea K8s API version. I am not sure if we want to upgrade K8s API version to 1.18.0-alpha.0.

[2019-11-19 02:37] mengdie-song commented on #111
If we do not want to upgrade K8s version this time, then I am thinking that we still use "go get octant@v0.8.0". The replace clause is actually for "make mocks". I am not sure if there is a way for us to skipping octant part when we "make mocks"? @antoninbas

[2019-11-19 06:06] mengdie-song commented on #18
Seems the issue#81 has been fixed, please try your script this time.

[2019-11-19 08:21] #111 closed

[2019-11-19 08:35] mengdie-song commented on #111
Have tested by command "go get  github.com/vmware-tanzu/antrea@master" and it is fine.

[2019-11-19 10:45] mengdie-song opened #115 "Add lastHeartbeatTime to UI"
**Describe what you are trying to solve**
To identify Antrea Controller and Agent status via UI.

**Describe the solution you have in mind**
Get lastHeartbeatTime from monitoring CRDs,
then add a new column named "Last Heartbeat Time" for both controller
and agent on UI to show controller and agent health status.

The column should be updated every 60 seconds if controller/agent runs fine,
as a re

[2019-11-19 19:05] antoninbas commented on #93
Assigning this to myself: I plan to add a simple test to our e2e suite. That will make sure that the network policy implementation doesn't break, until we start running the conformance tests (or at least some of them) as part of CI.

[2019-11-20 01:26] varunmar opened #119 "Antrea IPAM picks overlapping pod IP addresses"
**Describe the bug**
When installing Antrea on an existing cluster, pod IPs allocated may conflict with previously created pods (like kube-dns)

**To Reproduce**
Create a GKE cluster. Install Antrea. Create enough pod so that some of those pods will end up on nodes that already have existing kube-system pods.

**Expected**
Pods are allocated IPs that do not overlap existing pod IPs.

From a 2-node

[2019-11-20 01:27] varunmar opened #120 "changing the CNI_PATH breaks antrea-agent"
**Describe the bug**
If kubelet is started with a cni-bin-dir different from /opt/cni/bin, the antrea-agent can not find the host-local ipam plugin. This is true even if the node itself has the plugin in the cni-bin-directory.

**To Reproduce**
On a running GKE cluster, install antrea using the https://raw.githubusercontent.com/vmware-tanzu/antrea/master/build/yamls/antrea.yml file, but replace th

[2019-11-20 06:35] mengdie-song commented on #107
Hi ksamoray,

Thanks for your reporting.
I want to know how you ran antrea agent, via a Pod or via the command?
If you ran into this issue when you used the command antrea-agent, please check antrea-config and see if your kubeconfig path is right.

[2019-11-20 06:39] tnqn commented on #107
Thanks @ksamoray for reporting and @mengdie-song for looking into this. The issue is after adding code that supports NetworkPolicy #52 , we need a way for antrea-agent to discover the antrea service, it's done automatically if running as Pod, but needs to provide a kubeconfig if not, I forgot to update the manual installation doc for that, will do it soon.

[2019-11-20 06:43] tnqn opened #122 "NetworkPolicy should support named port"
**Describe the bug**
Currently NetworkPolicyController skips handling named port, it should be supported.

**To Reproduce**
Create a NetworkPolicy with rules that have named port define

**Expected**
Named port in NetworkPolicy should be supported.

**Actual behavior**
Named port doesn't take effect.

**Versions:**
Please provide the following information:
 - Antrea version (Docker image tag).
 0.

[2019-11-20 07:17] tnqn commented on #120
Thanks @varunmar for reporting it. Your understanding and analysis is correct, antrea-agent should either look for host-local in the hardcoded path if the plugin is put in a hardcoded path, or there should be a clear instruction to support a non default cni-bin-dir. We should have a fix for it soon.

For the question, it was done in this way because it requires credentials to get node information(

[2019-11-20 07:30] jianjuns commented on #119
Thanks for reporting this!
When you replace the CNI to Antrea, do you expect the existing Pods (created before Antrea is deployed) continue to have network connectivity? For now Antrea could not guarantee that.
Or you actually mean even the existing Pods lose connectivity, you would still avoid Antrea allocates IPs that conflict with the existing Pods, even that does not impact new Pods' connectiv

[2019-11-20 07:50] tnqn commented on #119
I see currently GKE supports GKE native CNI and Calico, so the existing Pods should get their IPs from one of them. Even if the IPs don't conflict, I think it's not guaranteed that Pods whose network are created by different CNIs can communicate, as Pods are connected via different approaches (linux bridge, routing mode, openvswitch bridge), and the gateway interfaces created by each CNI in defaul

[2019-11-20 09:37] ksamoray commented on #107
@mengdie-song the agent runs on the host context, not within a pod.
Seems like @tnqn  diagnose is correct as it's able to run while I revert #52

[2019-11-20 23:14] lzhecheng commented on #93
Hi Antonin, please assign me the task.

[2019-11-20 23:27] varunmar commented on #120
Makes sense, thanks for the explanation! We'll work around the path for now, and look forward to the fix.

The reason for the question is to try to understand how composing plugins (adding portmap, for example) works if there are two entire cni runtimes. But I think we can see what is happening, so we should be good for now. Thanks!

[2019-11-20 23:42] varunmar commented on #119
Ah interesting point about the gateway interfaces. Yes, that would also be unfortunate - we were just lucky that the default GKE CNI doesn't create any gateway devices.
I wouldn't expect existing pods to be able to communicate with the newly created ones, but I would have expected the old ones to communicate with whatever they had connectivity to before (the external world, for example) and all th

[2019-11-21 00:25] antoninbas commented on #119
Should we take the action item to add some documentation to the getting started guide about deploying Antrea in a cluster which already uses a different CNI plugin?

We could suggest the following steps: 1) delete existing CNI, 2) apply Antrea's yaml, 3) drain / uncordon each node one by one.

[2019-11-21 00:26] antoninbas commented on #119
Similarly we may want to make sure that Antrea cleans up after itself properly (deleting the gw interface, etc.) when it is deleted from a cluster :/

[2019-11-21 00:29] jianjuns commented on #119
Make sense to me. We might have a cleanup DaemonSet to do the cleanup.

[2019-11-21 02:02] #115 closed

[2019-11-21 06:44] #42 closed

[2019-11-21 16:34] weiqiangt commented on #18
Could we use this [renovate](https://github.com/marketplace/renovate) to help dependency management?

[2019-11-21 16:56] #120 closed

[2019-11-21 23:09] antoninbas commented on #6
@salv-orlando are we good to close this?

[2019-11-22 02:13] antoninbas commented on #14
It seems that using OVS in userspace mode also requires to explicitly disable TX offloading for each Pod's eth0 interface. Otherwise all TCP traffic going through the gateway is dropped (and probably Pod to Pod traffic as well). This is something I observed when working on support for Kind. All the packets going through the gateway were dropped and Pods couldn't reach the K8s API server.

[2019-11-22 13:54] salv-orlando commented on #6
@abas as far as I'm concerned, yes.

[2019-11-22 18:11] antoninbas commented on #6
Fixed by #33

[2019-11-22 18:11] #6 closed

[2019-11-22 22:55] antoninbas commented on #14
Found a good reference for the checksum issue: https://bugzilla.redhat.com/show_bug.cgi?id=1685616

support TX checksum offloading (this is not easy task with arguable profit).
i.e. if packet arrives with bad/no checksum it will be sent to the output port
with same bad/no checksum. Everything works in case of kernel datapth because
the packet doesn't leave the kernel space. In case of netdev datap

[2019-11-23 00:13] jianjuns opened #128 "Remove stale Controller and Agent CRDs when Controller / Agent Pods are removed"
**Describe the bug**
After a Controller or Agent Pod is deleted, the InfoCRD it creates will be left there for ever.

**To Reproduce**
Delete the Controller or Agent Pod, or remove a K8s Node.

**Expected**
Stale CRDs should be removed.

**Actual behavior**
Stale CRDs are kept for ever.

**Versions:**
Antrea: v0.1/0.2

[2019-11-23 00:15] jianjuns commented on #128
I also suggest to change Controller CRD name to "antrea-controller", and Agent CRD name to K8s Node name, which are easier to recognize.

[2019-11-23 15:21] tnqn opened #129 "Intermittent traffic issue due to GARP being dropped"
**Describe the bug**
It happens intermittently that a Node can't reach its local Pod during K8s Conformance test. After digging into the packets, it's because the Node was using the wrong MAC to access the Pod.
antrea-agent should have sent gratuitous ARP to refresh stale ARP entries in host network namespace, but those GARP packets were dropped by Openflow as the rule that allows the GARP was add

[2019-11-23 16:24] tnqn opened #131 "Default NetworkPolicy rules are not enforced correctly"
**Describe the bug**
The example default NetworkPolicy rules listed in https://kubernetes.io/docs/concepts/services-networking/network-policies/#default-policies are not enforced correctly.

**To Reproduce**
Create the example NetworkPolicy rules above and verify the traffic. The following K8s NetworkPolicy tests are related to it:
[code]
**Expected**
The traffic should be denied/allowed correctly

[2019-11-23 16:24] tnqn commented on #131
Working on fixes, assign to myself.

[2019-11-23 18:50] #7 closed

[2019-11-25 02:07] mengdie-song commented on #128
Got it. Will make a fix for it.

[2019-11-25 02:28] #129 closed

[2019-11-25 02:36] mengdie-song commented on #128
@jianjuns It looks good to me to change Agent CRD name to K8s Node name. But for Controller CRD name, I think we may support multiple controllers in the future.

[2019-11-25 11:30] weiqiangt opened #134 "Implement a cookieID allocator"
**Describe what you are trying to solve**
Using formatted cookieID to mark flow entries could make flow operations be more efficient. For example, to delete a flow entry, we need the matches of the flow, but by using cookieID, we would only cache a 64bits integer. Formatted cookieID could also make us able to delete a bunch of flow entries in one transaction by using cookieID mask while we need to

[2019-11-25 18:41] #109 closed

[2019-11-25 20:06] salv-orlando opened #136 "IPv6 support - including dual stack"
**Describe what you are trying to solve**
Antrea has currently been validate only with IPv4 networking.
IPv6 networking should be supported as well. This means both v6-only clusters and dual stack clusters. IPv6 dual stack has reached alpha status in Kubernetes 1.16

**Describe the solution you have in mind**

#### IPv6-only clusters ####

In theory IPv6 networking should work just like IPv4 netwo

[2019-11-25 20:31] jianjuns commented on #128
Yes, but I feel we could start from antrea-controller for now, and change to some other names when we really have multiple controllers?

[2019-11-25 20:32] jianjuns commented on #128
@tnqn: do you have an idea?

[2019-11-25 23:26] NiranEC77 opened #138 "How to debug slow downloads?"
I have 2 clusters built exactly the same only one with Antrea and another with calico. The Antrea cluster is slow to pull images etc. How do I debug this?

[2019-11-26 00:42] antoninbas commented on #8
I'm assigning this to myself as well. I want to take care of 2 after I finish Kind support.

[2019-11-26 05:13] tnqn commented on #128
I don't have preference, but think of that if using node name, we may know which node has issue at first glance but we still need to look for the agent name column when we want inspect the status of the agent. I feel it doesn't make much difference to get both of them from resource name or one of its column.
But I prefer to have same naming convention for controller and agent resources to avoid co

[2019-11-26 05:21] jianjuns commented on #128
Sorry, I did not get this "we still need to look for the agent name column when we want inspect the status of the agent“. What column?

I do not think Controller and Agent could be consistent, unless we use Pod name which is not user friendly and requires Agent and Controller must be Pods.

[2019-11-26 05:30] tnqn commented on #128
I mean that the purpose of CRD is to expose runtime of agent and have it monitored, so when things go bad, we need to inspect the agent (pod) itself to diagnose it (e.g. kubectl describe pod, kubectl logs pod, kubectl exec pod), then what we really need is the pod name, not the node name.

If you are considering components not running as Pods case, then I can't think of options other than Node nam

[2019-11-26 05:33] tnqn commented on #128
But I can't think of any reason people would run antrea as normal processes except development purpose.

[2019-11-26 05:47] jianjuns commented on #128
I see. I assume people first want to look up the agent info of a given node, and so feel node name is easier. Then they could find the Pod name in the CRD.
For process mode, I am just not sure for Windows. Do you know we are able to distribute a Windows image?

[2019-11-26 05:56] tnqn commented on #128
I forgot Windows case. Then yes, on Windows antrea-agent may have to run in process mode as host network mode is not supported. Your original suggestion https://github.com/vmware-tanzu/antrea/issues/128#issuecomment-557740599 makes sense to me.

[2019-11-26 08:28] salv-orlando commented on #138
Hello @NiranEC77!
I'm afraid I need more information. I don't think image pull will go either through Antrea or Calico, as that is usually done at the node level.

I guess not only image pulls but generally bandwidth could be slower. Since we seem to have evidence of slowness both in container and host networking, I would:
1) verify whether bandwidth in a container is radically different from the

[2019-11-26 11:30] mengdie-song commented on #128
Will change Controller CRD name to "antrea-controller" and Agent CRD name to K8s Node name as suggested. I find there are multiple places for antrea pod to be deleted or restarted and we have both graceful exit and os.exit in several places. Need to find a general way for cleaning up.

[2019-11-26 18:57] antoninbas opened #142 "Issues with "make test-tidy" and "make docker-tidy""
**Describe the bug**
* `make test-tidy` asks me to run `make tidy` to fix my go.mod even though I have the "wrong" go version installed
* `make docker-tidy` does not work when go 1.13 is installed locally because of breaking changes in `GOPROXY` between 1.12 and 1.13

**To Reproduce**
1. Install go 1.13 locally
1. Run `go mod tidy`
1. Run `make test-tidy`: it will fail and ask you to run `make tid

[2019-11-26 18:59] antoninbas commented on #142
Proposed solution for the `GOPROXY` issue: do not set the `GOPROXY` environment variable in the Docker unless it was set explicitly by the user (i.e. do not default to the output of `go env GOPROXY`).

[2019-11-27 03:14] wenyingd opened #145 "Unit Test failure on case TestDeleteRule"
**Describe the bug**
TestDeleteRule failed when running unit test. It might be a race condition, as it doesn't happen every time.

**To Reproduce**
Run unit tests multiple times.

**Expected**
The case should return success.

**Actual behavior**
Following are errors from the result:
--- FAIL: TestDeleteRule (0.00s)
##[error]    networkpolicy_controller_test.go:258: Expected no rule, got &{0xc00028

[2019-11-27 03:31] weiqiangt opened #147 "Enable race detector in unit-test"
**Describe the problem/challenge you have**
Enable race detector in unit-test to prevent race conditions like #145 .
Since the race detector would [not have false alarm](https://blog.golang.org/race-detector), we could enable it with confidence.

**Describe the solution you'd like**
Add flag `-race` to `go test`.

**Anything else you would like to add?**
Empty

[2019-11-27 04:43] weiqiangt commented on #142
@antoninbas , In CL #148 :

`go.mod` changed.

It fails and asks you to run `make docker-tidy`.

It finishes successfully. `go.mod` is polished.

[2019-11-27 10:40] tnqn commented on #145
Thanks @wenyingd for raising it, I have created PR #149 to fix it.

[2019-11-27 21:01] #13 closed

[2019-11-27 21:01] #14 closed

[2019-11-27 21:33] antoninbas opened #152 "Antrea agent must update br-int bridge if datapath type has changed"
**Describe the bug**
The agent configuration supports an `ovsDatapathType` parameter, which can be set to "system" or "netdev". If the `br-int` bridge exists but the datapath type is different, we currently do not update the bridge.

**To Reproduce**
* Deploy Antrea on a cluster.
* Check OVS datapath type in an Antrea agent Pod, it should be "system" (default)
[code]
* Delete Antrea (`kubectl dele

[2019-11-28 00:48] antoninbas opened #155 "Support Kind on macOS hosts"
**Describe the problem/challenge you have**
#137 added support for Kind on Linux hosts, but having native support on macOS would be super useful for many developers.

**Describe the solution you'd like**
Have the same support as on Linux. If some changes to host networking needs to be done, it's fine to have a script like the one we have for Linux (`hack/kind-linux.sh`) even though it adds one mor

[2019-11-28 04:34] #142 closed

[2019-11-28 07:15] #145 closed

[2019-11-28 11:10] tnqn opened #161 "NetworkPolicies with multiple rules are not implemented correctly"
**Describe the bug**
NetworkPolicies with multiple rules are not implemented correctly.

**To Reproduce**
1. Create a NetworkPolicy with multiple rules, each rule has its own PodSelector, for example:
[code]
2. Create nginx pod that the policy will apply to:
[code]
3. Create client pod that is allowed to access nginx 443 port only:
[code]
4. Access nginx 80 from client

**Expected**
The access sho

[2019-11-29 00:39] antoninbas commented on #161
If this is something that wasn't caught by the K8s e2e tests, maybe we should write our own for this (@lzhecheng). And maybe in the future we could submit a patch to add such a test to the K8s network policy test suite. What do you think?

[2019-11-29 00:46] tnqn commented on #161
It’s caught by K8s tests, I found it when investigating some failures.

[2019-11-29 00:48] tnqn commented on #161
Agree that if there are some generic test cases not covered by K8s tests, we could add them to upstream.

[2019-11-29 01:03] antoninbas commented on #161
@tnqn sounds good, I didn't realize that you caught this with the K8s tests :) I think for that kind of issue it would be valuable to document in the issue description which ones of the K8s tests caught this.

[2019-11-29 03:00] lzhecheng commented on #161
Yes, if any other uncovered cases found, please assign me to make a matching e2e testcase. I am looking for such cases in issues right now.

[2019-12-01 13:50] weiqiangt opened #169 "`make lint` is broken"
**Describe the bug**
The target `make lint` not works

**To Reproduce**
Running `make lint` on Non-Linux os would get the error:

**Expected**
It used to run successfully.

**Actual behavior**
The `$(go list)` lists out the `pkg/agent/util/ethtool/ethtool_linux.go` which is ignored by the golint.

**Versions:**
- Rev: 63afaed247242acc5b35f37680f6060ac779ce6d

**Additional context**
None.

[2019-12-01 13:52] weiqiangt opened #170 "Avoid populating deps to `go.mod` when installing tools during make"
**Describe the problem/challenge you have**
When running `make mocks` or `make lint`, dependencies of gomock and golint would be populated to `go.mod`.

**Describe the solution you'd like**
~~Set `GO1111MODULE=off` when installing tools.~~ (🙃 Not work)

**Anything else you would like to add?**
None.

[2019-12-02 21:05] abhiraut commented on #161
assigning it to myself.. will take a look

[2019-12-03 00:47] antoninbas commented on #27
I started working on this. Hopefully can submit something before the community meeting on Wednesday.

[2019-12-03 03:37] wenyingd opened #174 "Use bundle to add or modify multiple flow entries in a same operation"
**Describe the problem/challenge you have**
When a new pod/node/networkpolicy is added, multiple OpenFlow entries are needed to ensure the networking connectivity or isolation. Currently, Antrea is installing Openflow entries one by one, it is difficult to rollback when errors are happening.

**Describe the solution you'd like**
Bundle is a key feature introduced in OpenFlow1.4. It is a sequence o

[2019-12-03 03:38] wenyingd commented on #174
Assign it to myself.

[2019-12-03 08:26] tnqn opened #176 "Container probes fail because of NetworkPolicy dropping them"
**Describe the bug**
If a Pod has readinessProbe defined, and there's Ingress NetworkPolicy selecting the pod but the allowed rule doesn't include the readinessProbe port, the Pod would be marked as NotReady forever because the readinessProbe traffic are all dropped.

This is caught by K8s test case
[code]

**To Reproduce**
1. Define a Pod with two containers which listen on 80 and 81 separately,

[2019-12-03 08:38] tnqn commented on #93
@lzhecheng is it possible to enable the test by specifying the cases Antrea can pass for now?
I think it would be very helpful to ensure new PRs don't break previously passed tests and we can update the enabled cases in the PR fixing them.

[2019-12-03 08:41] tnqn commented on #176
Will revert #104 after #175 is merged

[2019-12-03 09:03] weiqiangt commented on #147
#163 implemented this issue, close it.

[2019-12-03 09:03] #147 closed

[2019-12-03 11:22] lzhecheng commented on #93
Yes, we can do this with conformance test. It is scheduled next week.

[2019-12-03 13:53] weiqiangt opened #177 "test/integration/cniserver_test.go is broken"
**Describe the bug**
`test/integration/cniserver_test.go` is unable to run due to recent changes.

**To Reproduce**
`go test -run=TestAntreaServerFunc -v github.com/vmware-tanzu/antrea/test/integration/agent`

**Expected**
It should successfully run.

**Actual behavior**
[code]

**Versions:**
Since e34cc0e479ac91930f5f54b4b0fd879645fde6a9

**Additional context**
None.

[2019-12-03 16:07] #177 closed

[2019-12-03 18:27] antoninbas opened #179 "Run integration tests as part of Github CI"
**Describe what you are trying to solve**
The integrations tests are easy to break since they are not run as part of CI: https://github.com/vmware-tanzu/antrea/issues/177

**Describe the solution you have in mind**
Let's investigate if it's possible to run them as part of Github CI. It should be possible since workflows use worker VMs with passwordless sudo access. If not possible, we need to inve

[2019-12-03 18:48] #176 closed

[2019-12-03 18:56] antoninbas commented on #174
I think it's worth adding that this change would make error handling much easier in the Antrea OpenFlow client, and in particular when it comes to installing flows for network policies. There will be no need to implement rollback manually.

[2019-12-03 21:41] #161 closed

[2019-12-04 00:18] RamXX commented on #62
@jianjuns Just a thought but I think as a first step, it may make more sense to use transport mode instead of tunnel mode for IPSec, and leave the tunneling aspect of this to VXLAN/Geneve, while using IPSec only for the encryption portion. This may be updated later on when (per roadmap) you can support no encapsulation modes (pure L3).

[2019-12-04 00:21] jianjuns commented on #62
@RamXX: thanks for commenting. Yes, I also mean IPSec encryption of VXLAN/Geneve tunnels. Maybe I should revise the description to make it clear.

[2019-12-04 01:00] #169 closed

[2019-12-04 01:06] #179 closed

[2019-12-04 02:00] antoninbas opened #181 "Deleting Antrea should do a complete cleanup"
**Describe the bug**
When running `kubectl delete -f antrea.yml`, one would expect everything created by Antrea to be deleted, including the OVS bridge on each Node, along with the gateway interface. Failure do so may cause networking issues if someone decides to deploy another CNI after deleting Antrea.

**Versions:**
Antrea version:
[code]

**Additional context**
1. We cannot simply delete the b

[2019-12-04 06:20] #37 closed

[2019-12-04 17:50] antoninbas commented on #119
Assigning this to me. Discussed at the 12/04/2019 Antrea community meeting. Only AI is to document how to deploy Antrea on a cluster which already has a CNI / running Pods.

[2019-12-04 19:27] jianjuns commented on #181
I think we could either have a separate DaemonSet or add a ConfigMap option to indicate antrea-agent to do the cleanup (the two approaches are not very different from each other, but with the ConfigMap way agent could watch the option in runtime when we support runtime config changes later).

[2019-12-04 19:54] jianjuns commented on #15
We have more and more developer docs added, and we should organize them in a better way. Besides the suggestions @antoninbas wrote above, I am also thinking should we add links to all docs in a single developer guide doc?

@salv-orlando: do you still plan to work on this one?

[2019-12-06 01:15] antoninbas opened #191 ""Duplicate" flows installed in IngressRule table for local Node traffic"
**Describe the bug**
Not really a bug per se, but probably involuntary and a bit confusing when looking at the flow table. This is what I get when I dump flows for IngressRule on my testbed (after installing a simple network policy):
[code]

It seems to me that flow 3 is not required because we already have flow 2, which has higher priority and is more "generic".

**To Reproduce**
Install a simple

[2019-12-06 01:16] antoninbas commented on #191
@tnqn I just noticed your comment: https://github.com/vmware-tanzu/antrea/issues/176#issuecomment-561060160
I'll open the PR to revert.

[2019-12-06 01:17] #191 closed

[2019-12-06 01:41] #131 closed

[2019-12-06 02:26] #58 closed

[2019-12-06 03:18] #107 closed

[2019-12-06 05:21] weiqiangt opened #194 "Bump Go to 1.13"
**Describe what you are trying to solve**
Go1.13 has been released for several months, it could bring performance increments.
There is no break change in this go release in syntax level.

**Describe the solution you have in mind**
Change all go version limit in scripts and go.mod from go1.12 to go1.13.
Update go version requirements in docs from go1.12 to go1.13.

**Describe how your solution impa

[2019-12-06 05:24] wenyingd opened #195 "Packets from unknown interface are allowed in table 0"
**Describe the bug**
The openflow entries in table0 are as following show. Antrea has added marks to the register according to packet's in_port. So the packet sent from Pod/gateway/tunnel should be resubmitted by flow entries 1~5, and the packets from unknown source might be handled by flow 6 or 7. It might introduce security risks because of the unknown packets.
1. cookie=0x0, table=0, priority=2

[2019-12-06 07:25] tnqn opened #197 "Egress NetworkPolicy are not enforced fast enough"
**Describe the bug**
Create an egress NetworkPolicy that block all outgoing traffic, and create a Pod to which the policy applies. The Pod can reach outside in a short time slot before the NetworkPolicy is enforced.

**To Reproduce**
It caused the following K8s NetworkPolicy e2e tests fail:
[code]

**Expected**
If the policy is created before the Pod, the Pod should be limited by the policy in its

[2019-12-06 07:47] ruicao93 opened #198 "Support `make bin` for non-linux platform"
**Describe what you are trying to solve**
Currently we can not `make bin` on non-linux platform, or we will get following issue:
[code]

**Describe the solution you have in mind**
Use `go build` instead of `go install` to build binaries, thus we could avoid the cross-compiled issue:
[code]

**Describe how your solution impacts user flows**
User can build binaries using `make bin` directly on non-l

[2019-12-06 07:49] ruicao93 commented on #198
Depend on #194  Bump Go to 1.13

[2019-12-06 08:55] wenyingd opened #200 "No ARP spoof guard for packets from host gateway"
**Describe the bug**
Antrea only has ARP spoofing guard flows for packets from local Pod, but not have check for ARP packets from host gateway. It might introduce security risk if a Pod running in host-network mode on the Node with CAP_NET_RAW and trying to do ARP spoofing.

**To Reproduce**
Deploy Antrea

**Expected**
cookie=0x1a, table=10, priority=200,arp,in_port=gw0,arp_spa=$gw_ip,arp_sha=$gw_

[2019-12-06 10:13] tnqn commented on #93
I summarized a test suite that are related to networking:
[code]
It will run 66 tests and can in parallel depending on number of cores. For example, in my testbed with 4 cores, it only took `11m2.523786056s` it would be 30+ minutes if single core, I think we are good to run all of them, as long as the testbed can have at least 2 cores. They can be guaranteed in 20 minutes.

For NetworkPolicy, we c

[2019-12-06 10:29] weiqiangt opened #203 "Implement the CLI for antrea"
**Describe what you are trying to solve**

There is no CLI for antrea, but there are needs of a CLI to inspect antrea.

**Describe the solution you have in mind**

There should be a cross-platform CLI client, called `antctl` maybe, provides well-organized commands with verbosity helps and examples. It should work like other CLIs in the community, e.g. `kubectl` and `docker`.
Before implementing th

[2019-12-06 11:40] wenyingd commented on #195
Run conformance test after change the default action as "drop", and find following cases might fail. It might be a race between Openflow realization and GARP packets. Go binding is async, it returns when the Openflow entry is sent out to the outbound stream, but not wait for the ACK from OVS.

[sig-apps] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] should perform rolling

[2019-12-06 18:18] NiranEC77 opened #204 "Cluster networking not working"
**Describe what you are trying to do**
I have deployed an app with Antrea and Istio, worked fine for a few days, now networking to the services does not work. Looking at the Antrea-agent logs I see the following:
Failed to watch AppliedToGroups: Get https://10.96.72.118:443/apis/networkpolicy.antrea.io/v1beta1/appliedtogroups?fieldSelector=nodeName%3Dcalico1-follower&watch=true: dial tcp 10.96.72.

[2019-12-06 18:31] antoninbas commented on #198
The cross compilation support is somewhat useful. Unfortunately, it doesn't solve the issue of running unit tests on macOS. And I expect most people simply want build the docker image anyway.

[2019-12-06 18:33] antoninbas commented on #200
I agree that this is probably a nice thing to add.

[2019-12-06 18:44] antoninbas opened #205 "The CI Kind test sometimes fail"
**Describe the bug**
The tests can fail sporadically, in the "Printing some debug information" step, with the following logs:
[code]
which means that `kubectl` is unable to connect to the K8s apiserver.

If we scroll up, we can see the following in the "Create Kind cluster" step:
[code]

This is definitely the root cause: we fail to disable checksum TX offload on the host side for one of the Kind

[2019-12-06 18:45] antoninbas commented on #205
Note that this seems to be happening ~5% of the time.

[2019-12-06 18:51] antoninbas commented on #93
@lzhecheng will you be working on enabling the tests given by @tnqn on the e2e testbed?

I believe we can run them for every commit if:
* we can run the 3 categories of tests (Antrea e2e, K8s conformance, K8s NP) on 3 different testbeds
* for K8s conformance and K8s NP tests, we can enable `--e2e-parallel`

Ideally, `/test-e2e` would complete in around 10minutes (at least if there is not too much

[2019-12-07 01:11] jianjuns commented on #20
@timothysc : could you confirm the API group to be: antrea.tanzu.vmware.com?

[2019-12-07 02:23] #194 closed

[2019-12-09 03:08] tnqn commented on #204
Hi @NiranEC77 the connection failure you pasted might be because `antrea-controller` was down.
Is it just the `antrea` service not working or all services? Are workload Pods' networking good?
If possible, could you show the output of `kubectl describe pods -n kube-system -l app=antrea`, want to understand the status of `antrea-controller` and `antrea-agent`.

[2019-12-09 06:51] wenyingd opened #211 "Use static MAC address instead of dynamic learning in conntrack state table"
**Describe the bug**
Antrea rewrites the host gateway MAC as the dest MAC for service reply packets on local node, so the reply traffic could be sent back to the sender following the path of the request packets. Current Openflow entry is learning host gateway dynamiclly with ct_label as a tempary cache. Host gateway MAC is a fixed value after the interface is created, and it could be loaded as the

[2019-12-09 12:33] wenyingd commented on #195
If wait 50ms before sending the GARP, the failed cases could pass in Conformance. But it adds extra waiting time for K8S to know Pod is running.

[2019-12-10 02:29] timothysc commented on #20
+1, that works.

[2019-12-10 11:41] tnqn opened #215 "Document NetworkPolicy implementation"
Describe how Antrea implement NetworkPolicy, including the internal API objects, how are they created in antrea-controller and transmitted to antrea-agent, and finally get enforced/updated.

[2019-12-10 15:37] NiranEC77 commented on #204
I will close this because I deleted that cluster and redployed. But I can tell you that the agent and  controllers were up

[2019-12-10 15:37] #204 closed

[2019-12-10 22:01] antoninbas opened #218 "Scan the latest Antrea release for vulnerabilities"
**Describe what you are trying to solve**
I suggest that we add a CRON job to scan the latest released Docker image for Antrea for vulnerabilities using [Clair](https://github.com/quay/clair). If some criteria are met (TBD), an email should be sent automatically to projectantrea-maintainers and / or projectantrea-dev to suggest making a new bug fix release.

**Describe the solution you have in min

[2019-12-11 03:02] #71 closed

[2019-12-11 15:49] tnqn commented on #197
Updating my plan to fix this:
The essential problem is, in current implementation egress enforcement must wait for Pods being up and running (having IP assigned) in kube-apiserver, while Pods might already be running when kubelet updates their status to kube-apiserver.

We can rely on the CNI ADD event to trigger the enforcement earlier, as the required data for policy enforcement (IP or OF port)

[2019-12-11 15:58] tnqn commented on #195
I would suggest to start a goroutine to send several GARPs with a short interval, like 3 packets with 100ms interval. Then it wouldn't extend the time agent processes CNI ADD, and it leaves 200ms to realize the flows.

[2019-12-11 20:01] antoninbas commented on #197
Thanks Quan, this sounds like something we can add to the 0.2.0 release.

For the longer term however, is this good enough or do we want something more "synchronous"? Should we instead try not to enable Pod networking until all "current" network policies (by "current" I mean network policies which predate the creation of the Pod by a non trivial amount of time)? Ideally maybe we should not enable

[2019-12-11 20:10] antoninbas commented on #197
To clarify, my proposal is the following: do not install the Pod flows (i.e. hold off on calling `InstallPodFlows`) until the Network Policy controller tells the Agent it is ok to do so. I am not sure how significant of a change it is to the internal API (Controller <-> Agent) but I think it may be a better approach.

[2019-12-12 00:40] abhiraut commented on #197
If the cause of this issue is that the pod might be in running state before the controller gets the notification and agent creates flows for the pod, the same should be true for ingress traffic too correct? Why would egress policy only have this effect?

[2019-12-12 02:18] #211 closed

[2019-12-12 02:20] #200 closed

[2019-12-12 04:56] antoninbas commented on #48
@tnqn have you run into this issue again since opening this ticket? I don't think anyone else has reported a similar issue.

[2019-12-12 09:14] tnqn opened #219 "NetworkPolicy doesn't work in Kind cluster because of a netdev datapath issue"
**Describe the bug**
On a Kind cluster, Network Policy doesn't work. It's because netdev datapath doesn't process conntrack correctly. The first SYN packet is dropped correctly but the second SYN packet (because of TCP retransmission) would be regarded as established and allowed.

**To Reproduce**
1. Create a Kind cluster
2. Create a deny-all policy and apply to Pod A
3. Access Pod A from Pod B

*

[2019-12-12 09:36] tnqn commented on #219
@wenyingd or @antoninbas do you want to track this issue with OVS? Not sure if we will use netdev in other scenarios in future. @jianjuns

[2019-12-12 12:27] antoninbas commented on #219
It's likely that the netdev datapath behaves slightly differently from the system datapath with regards to conntrack. We should definitely follow-up with the OVS community on this. However, even if it is something that needs to be fixed in OVS, it will take a while before we can have a new OVS release that we can use for Antrea and which integrates the fix. We may also run into the same issue if w

[2019-12-12 13:10] tnqn commented on #197
@antoninbas thanks for the suggestion, I actually thought the same as you and mentioned to @jianjuns.
However, I found it would be more complicated than I imaged:
1. It couples NetworkPolicyController and CNIServer, for each Pod, CNIServer needs a way to ensure NetworkPolicies of this Pod are enforced, which might introduce interfaces between them;
2. The NetworkPolicyController reconciles Policy

[2019-12-12 13:16] tnqn commented on #197
The ingress test would wait for server Pod's IP and create a client Pod to test it, if the testing code knows the Pod's IP, antrea knows it too and would already enforced the policy.
The egress test starts before the Pod's IP is updated in kube-apiserver, because kubelet starts the workload container first then updates the Pod's status to apiserver (or maybe in parallel), so if we rely on kube-api

[2019-12-12 16:24] tnqn commented on #219
Thanks @antoninbas, your proposal makes sense to me, we should try it.

[2019-12-12 22:11] antoninbas commented on #17
Fixed by #189

[2019-12-12 22:11] #17 closed

[2019-12-12 22:26] antoninbas commented on #11
This was discussed at the 12/11/2019 Antrea community meeting. We agreed that we should first define what should be collected before writing a tool that collects it in an automated fashion. A few things that were brought-up:
* Antrea logs
* kubelet logs
* kube-proxy logs / config maps
* OVS logs, OVS flows dump, iptables rules dump
* kube-apiserver logs
* which container runtime is used?

Could an

[2019-12-13 02:41] wenyingd commented on #219
Hi @antoninbas , do you mean ct() actions should be taken after NetworkPolicy rule check or only ct(commit) is taken after Network Policy rules? For 1, it should block all ct_state check in later Openflow entries for current packet, e.g. the actual "Established" connections. For 2, I think the "commit" connections should include all of Pod, gateway and tunnel ports, right? Besides, we have two tab

[2019-12-13 02:44] antoninbas commented on #219
Yes, I meant we should call `ct(commit)` in table 110. There is no point in committing a connection that violates a network policy, it just increases the probability that we will run into scaling issues with conntrack. But all traffic that gets to table 110 can be committed. Please assign the issue to yourself if you plan on working on this.

[2019-12-13 02:47] wenyingd commented on #219
Thanks for confirmation. I would assign it to myself and change the Openflow pipeline for a try.

[2019-12-13 02:51] antoninbas commented on #219
Tentatively adding this to v0.2.0 milestone

[2019-12-13 05:00] weiqiangt commented on #11
I'm actually implementing one on https://github.com/weiqiangt/antrea/tree/antctl-bundle during the implementation of the framework.
For now, it dumps:
- iptables
- ip links
- flow entries

@antoninbas, beyond you have mentioned, I think we could also execute all commands once and records all results.

[2019-12-13 07:45] lzhecheng commented on #93
Hi @antoninbas , sorry for late reply. Yes, @edwardbadboy and I will be working on it. I am not sure if we can make it before 0.2.0 release but we will try.

[2019-12-13 08:06] #128 closed

[2019-12-13 18:52] antoninbas commented on #195
@wenyingd does libOpenflow support flow monitors & notifications? I think longer term that's what we may want to do instead of relying on a timer. It may be useful for other things to if we have a simple framework in libOpenflow / Antrea to just register a Go channel that can get notified when a specific flow is added to a specific table. Then this Go routine here could just wait for the notificat

[2019-12-13 19:52] antoninbas commented on #93
Thanks @lzhecheng. Ideally we get this automated by next Wednesday. Otherwise we will need to run the tests manually before we cut the release.

[2019-12-13 20:20] jianjuns opened #223 "Antrea datapath and NetworkPolicy performance tests"
**Describe what you are trying to solve**
Enable performance tests of Antrea datapath and NetworkPolicy implementation, and possibly also compare with other CNIs and iptables implementations.

**Describe the solution you have in mind**
We might cover the following:
- [ ] Throughput of overlay traffic with standard MTU and jumbo frames.
- [x] Throughput of intra-Node traffic.
- [ ] Throughput, late

[2019-12-13 20:22] jianjuns commented on #223
@weiqiangt: as you are working on some tests already, assign the issue to you.

[2019-12-13 21:27] jianjuns opened #224 "NetworkPolicy scale tests"
**Describe what you are trying to solve**
Do scale tests and performance evaluation of Antrea NetworkPolicy implementation. This is mainly for NetworkPolicy computation and dissemination to Agents.

**Describe the solution you have in mind**
We need to cover:
1. Controller NetworkPolicy computation performance and CPU/memory consumption.
2. Controller to Agent dissemination.
Odeally we should supp

[2019-12-13 21:28] jianjuns commented on #224
@abhiraut @tnqn @weiqiangt

[2019-12-14 02:15] jianjuns opened #227 "Troubleshoot Antrea CP and DP for Pod networking and NetworkPolicy implementation"
**Describe what you are trying to solve**
Enable troubleshooting of Pod networking and NetworkPolicy, including Antrea control plane and data plane (OVS). Even users who do not know much about Antrea implementation and OVS, should be able to understand how Antrea implements Pod networking and NetworkPolicies with OVS flows.

**Describe the solution you have in mind**
In general we should provide i

[2019-12-16 03:07] wenyingd commented on #195
For a single FlowMod message, OVS didn't support to send back an ACK to the controller(ofnet/Antrea) actively. We could leverage Multipart message to check FlowStats, ofnet could decode the Multipart reply message to ensure if a flow entry is installed on the OVS.

For  each Multipart request message, Antrea could define the Match and cookieIDs of the expeced Flow entry. If we want to leverage thi

[2019-12-16 07:11] mengdie-song opened #230 "Add NetworkPolicy support for monitoring CRDs"
**Describe what you are trying to solve**
Add and populate NetworkPolicy related fields to monitoring CRDs.

**Describe the solution you have in mind**
1. And NetworkPolicy related fields (NetworkPolicyNum, AddressGroupNum, AppliedToGroupNum) to both Controller and Agent monitoring CRDs.
2. Populate controller NetworkPolicy related fields by information stored in the Antrea object storage.
3. Popu

[2019-12-16 07:37] tnqn opened #231 "Optimize to ignore Pod events without NodeName (and IP) in updatePod()"
If typically Controller always receives a Pod event without NodeName (and IP), maybe we should optimize to ignore the event in updatePod()?

_Originally posted by @jianjuns in https://github.com/vmware-tanzu/antrea/pull/222_

[2019-12-16 11:09] tnqn opened #233 "Antrea NetworkPolicy span sometimes not updated after AppliedToGroup changes"
**Describe the bug**
If NetworkPolicy is also being processed while processing AppliedToGroup, it could happen that AppliedToGroup's span changes but the related NetworkPolicy's span doesn't change.
The race condition is:
1. `updateNetworkPolicy` created an AppliedToGroup and enqueued it
2. `syncAppliedToGroup` started to process the AppliedToGroup and got the NetworkPolicies related to it (at the

[2019-12-16 11:29] lzhecheng commented on #93
@antoninbas , the automation code is basically ready. @edwardbadboy and I will deploy it on Wednesday. There are still 6 testcases which cannot be passed for NP, so I think it should not be deployed now ?

[2019-12-16 15:02] magaboomchen opened #235 "I want to set a SDN controller for br-int, but I can't find br-int"
**Describe what you are trying to do**
A description of what you are trying to achieve, what you have tried so far and the issues you are facing.
Hi, I want to use an OvS-based network plugin for my k8s cluster so that I can use an SDN controller to control all OvS and realize Service Function Chain forwarding. I have deployed a k8s cluster(v1.16.1 with 1 master node and 1 work node), and applied

[2019-12-16 15:49] tnqn commented on #235
Hi @magaboomchen, thanks for using Antrea!
The reason you didn't see `br-int` as an interface should be `antrea-agent` just created the bridge but not the internal port with same name.
And as antrea-agent is not using the default ovs db file path `/var/run/openvswitch/db.sock`, you need to specify the db path explicitly to operate OVS, for example:
[code]
Detailed can be found https://github.com/v

[2019-12-16 16:25] jayunit100 opened #236 "Exporting prometheus metrics for OVS performance and routes"
**Describe the problem/challenge you have**
It would be nice to be able to visualize and integrate CNIperformance over time with other dashboards in a K8s environment via prometheus

**Describe the solution you'd like**
Instrumenting the calls made to OVS with prometheus counters and so on.

[2019-12-16 18:48] antoninbas commented on #93
@lzhecheng we should deploy the tests ASAP. If some tests are failing because of missing features, we should exclude them from the test list that we run when we invoke `sonobuoy`. Ideally there would be a way to properly mark them as "xfail" (i.e. we run the tests even though they are expected to fail, and if they start passing, we have to explicitly remove them from the xfail list), but I am not

[2019-12-16 18:51] antoninbas commented on #21
Closing this since no update. At the moment we use:
 * default policy (`IfNotPresent`) for tagged releases of Antrea
 * explicit `IfNotPresent` for the development manifest to ensure that devs can override the image locally.

[2019-12-16 18:51] #21 closed

[2019-12-16 18:52] antoninbas commented on #67
Fixed by https://github.com/vmware-tanzu/antrea/pull/113

[2019-12-16 18:52] #67 closed

[2019-12-16 19:04] antoninbas commented on #18
@weiqiangt Sorry for the late reply. renovate looks interesting, but I am afraid we may run into a few issues:
* do you know how renovate handles dependency updates that break backwards-compatibility
* it seems that renovate always uses the latest go binary (at the moment we cannot configure it to use a specific go version)
* we may have an issue because of the octant dependency and our `replace`

[2019-12-16 19:27] suwang48404 opened #237 "support for noEncap mode"
**Describe what you are trying to solve**
Antrea to support other encapsulation mode for inter-worker-node pod traffic.

**Describe the solution you have in mind**
Antrea to allow users to specify additional encapsulation mode.

**Describe how your solution impacts user flows**
An user would need to modify antrea-cni.conf in Antrea deployment manifest and/or additional knobs (see later) that updat

[2019-12-16 19:28] antoninbas commented on #170
I agree that this is a pain. I have to use `git checkout` every time I run one of these. It seems there was a patch to add a `go get` `-g` flag to avoid this issue: https://go-review.googlesource.com/c/go/+/203279/, but it was abandoned. Here is the corresponding Github issue: https://github.com/golang/go/issues/30515. I plan on removing the `lint` target soon, so we will just have to figure out s

[2019-12-16 20:11] antoninbas commented on #195
I am not too familiar with OF Multipart messages, but that sounds like a big change. I thought Multipart messages were to support very large messages.

I think what I was suggesting was more something like this:
* send all FlowMod messages for the Pod
* send a barrier message
* in libOpenflow, wait for the corresponding barrier reply and notify Antrea by writing to a Go channel

We can also wait f

[2019-12-16 21:53] #119 closed

[2019-12-16 23:26] antoninbas commented on #205
Not a timing issue. The grep pattern in `hack-kind-linux.sh` is not specific enough.

[2019-12-16 23:44] jianjuns commented on #237
Thanks for making the proposal.

I have thought about no-encap mode too, and a little different from what you described I am thinking to use a single config option like networkingMode to indicate one of multiple different modes including noEncap mode. So, we could have:
1. encap - always encap with the specified protocol (VXLAN or Geneve or GRE or STT).
2. ipsecEncap - always encap and enable IPSe

[2019-12-17 00:01] jianjuns commented on #237
The major difference between my 1-4, and 5: in 1-4 Pod IPs are in different network from Nodes and the underlay network might not recognize Pod IPs; but in 5 underlay network is aware of Pods IPs and Pods IP and Node IPs could be in the same network (and even subnet).

[2019-12-17 00:16] jianjuns commented on #237
Thought over. We could also choose to remove 4 and document MTU should be explicitly set if all Nodes are in the same subnet. Just that it wont work for MTU auto-discovery that we might support later. But anyway I would prioritize 3 over 4.

[2019-12-17 00:48] #205 closed

[2019-12-17 01:20] suwang48404 commented on #237
let us have some discussion tomorrow?
thx, Su

[2019-12-17 02:18] wenyingd commented on #195
I agree to use bundle feature  if we want to make the flow installation work like a "sync" mode.

[2019-12-17 02:50] antoninbas commented on #195
@wenyingd it's not really synchronous from the client perspective: the call to libOpenflow won't block and we don't necessarily need to wait for the reply message before we return the CNI Add reply.

[2019-12-17 03:52] vicky-liu opened #239 "Antrea CLI to dump applied-to groups, address groups and translated network policies"
Antrea controller translates the upstream network policies into internal data models, e.g. applied-to groups, adress groups and internal network policies. The CLIs to dump those data on both controller and node agents will help the trouble shooting and debugging.
The CLIs look like:
antctl  get address-groups <uuid>
antctl get apt-groups <uuid>
antctl get network-policies <uuid>

[2019-12-17 05:38] weiqiangt opened #240 "Document the process for maintaining go deps"
**Describe what you are trying to do**

From @tpepper:

when/why are the updated and how far? bug fix commits versus release tags; frequent update to stay fresh or move slower/deliberate for stability?

[2019-12-17 05:39] weiqiangt commented on #240
@antoninbas

[2019-12-17 05:42] weiqiangt commented on #18
Thanks Antonin, I have created #240 for @tpepper's suggestion.
I did enabled renovate in my own fork and I will try to summarize the experience later.

[2019-12-17 05:42] #18 closed

[2019-12-17 10:22] tnqn commented on #48
@antoninbas Sorry for my late reply, I met it several times but now I think it has nothing to do with Antrea or docker. It happened on some of my VMs which were under disk space pressure, so I think it's kubelet actively cleaned up images that were not referred.
Closing it.

[2019-12-17 12:31] tnqn opened #241 "Policy with named port allows all ports"
**Describe the bug**
Antrea doesn't support policy with named port yet, but if a policy with named port is defined, it's enforced as allowing all ports, which may introduce security risk.
Before it can support named port, it should only allow known ports it can resolve.

**To Reproduce**
Create a NetworkPolicy with named port and a numbered port, apply it to a pod and check its traffic.

**Expecte

[2019-12-17 14:47] magaboomchen commented on #235
Hi @tnqn , thank you for your help!
Now I can find the br-int on work node and connect br-int to SDN controller (RYU) on master node successfully.
However, it seems that SDN controller (RYU) and antrea-agent can't coexist.
Here is my observation:
I run my app (an app which listens packet-in event and do nothing) in RYU.
After connecting to RYU, all default flow entries of br-int (set by antrea-age

[2019-12-17 17:07] suwang48404 commented on #237
@jianjuns incorporated your comments into the updated proposal. Hopefully it covered all our use cases.

[2019-12-17 19:15] #219 closed

[2019-12-17 19:21] antoninbas commented on #174
As discussed in another issue (https://github.com/vmware-tanzu/antrea/issues/195#issuecomment-566222964), we could use bundle support to improve how we send Gratuitous ARP packets after adding a new Pod. If libOpenflow can notify us on a Go channel when a bundle has been processed by OVS, we can use that information to stop sending GARPs.

@wenyingd I added this comment so we don't lose sight of t

[2019-12-17 20:34] McCodeman commented on #11
Additionally, we will want to capture `uname -a` or equivalent and status of ovs kernel module (not sure if the OVS logs above reported errors if the kernel module not loaded correctly). We could also offer to optionally dump the k8s network policies.

[2019-12-17 20:40] McCodeman commented on #11
Also, status of IP forwarding in kernel

[2019-12-17 21:08] suwang48404 opened #243 "Considering support annotation for open flows"
**Describe the problem/challenge you have**
Difficult to understand ovs flows as they are without any hints

**Describe the solution you'd like**
Consider support flow annotations, where  annotation may be used to identify purpose, owner, etc of a flow.

**Anything else you would like to add?**

[2019-12-17 21:58] antoninbas commented on #243
I agree, that could be a good idea.

BTW, you may find this relevant:
* this PR will start adding cookies to all flows to identify the owner (i.e. the reason why this flow was installed: https://github.com/vmware-tanzu/antrea/pull/187.
* this PR will be merged soon hopefully and adds detailed documentation about the pipeline: https://github.com/vmware-tanzu/antrea/pull/206. It has not been merged

[2019-12-17 22:06] antoninbas opened #244 "TestIPBlockWithExcept e2e test flaky on Kind"
**Describe the bug**
I noticed a test failure earlier today after enabling the test on Kind. It went away when I ran the test a second time. We may want to keep an eye on this and see if it happens again. See the logs here: https://github.com/vmware-tanzu/antrea/runs/353194354.

**Additional context**
[code]
Is it possible that the deny-all network policy takes too long to be enforced for the new

[2019-12-17 23:12] antoninbas commented on #235
I think that's the expected behavior with the current implementation. We actually do not set a primary controller for the br-int bridge, instead we connect to the mgmt Unix Domain Socket (similar to what `ovs-ofctl` does). Maybe this is something that we can investigate. @wenyingd do you think we should set the controller for br-int (equivalent of `ovs-vsctl br-int set-controller unix:/var/run/...

[2019-12-18 02:05] #241 closed

[2019-12-18 02:06] #233 closed

[2019-12-18 02:34] wenyingd commented on #235
@magaboomchen I didn't get your point much, do you mean you want to control br-int by another SDN controller(RYU) and antrea-agent at the same time, but the flow entries installed by antrea-agent is lost? Have you checked if RYU has logics to delete existing flows when the OFSwitch is connected? In my mind, some SDN controller has similar logics by default.

Actually, antrea-agent is a kind of OF

[2019-12-18 02:57] wenyingd commented on #243
@suwang48404 @antoninbas Do you mean we should support the OVS extension of "note" action in Openflow entry?

[2019-12-18 03:03] antoninbas commented on #243
I thought that's what @suwang48404 meant, but it seems the `note` action only supports hex digits and not human-readable strings. So I'm not sure how it would help with "understanding the flows". @suwang48404 could you clarify what you had in mind, maybe with an example? PTAL at the 2 PRs I mentioned above and let us know what else you think we should consider.

[2019-12-18 03:05] #195 closed

[2019-12-18 03:28] weiqiangt opened #245 "Integration test in CI run with unexpected Go"
**Describe the bug**
Actions run with `sudo` using the pre-installed Go 1.12 but not the newly installed Go 1.13. We expect to use the newly installed desired version Go but not the pre-installed.

**To Reproduce**
Print `go version` with `sudo` and without `sudo` in Actions.

**Expected**
`(eq $(go version) $(sudo go version))`

**Actual behavior**
`go env`
[code]
`sudo go env`
[code]
**Versions:

[2019-12-18 05:36] #197 closed

[2019-12-18 10:53] tnqn commented on #52
Antrea now supports Kubernetes NetworkPolicy except "named port" which we have #122 to track.
The implementation has been validated with Kubernetes NetworkPolicy e2e tests, except the following 4 failures:
[code]
3 of them need "named port" support so it's expected, the other one is an invalid test and no CNI can pass (reported this one to K8s community kubernetes/kubernetes#85908 and proposed a f

[2019-12-18 10:53] #52 closed

[2019-12-18 13:37] lzhecheng commented on #93
@antoninbas , the conformance and network policy tests have been deployed. Please have a check.

We use jenkins-job-builder for jenkins CI instead of jenkinsfile. We can check-in some code to show how we run the tests.

[2019-12-18 14:47] magaboomchen commented on #235
@antoninbas Thank you for your help!
I think I can't delete Antrea for the following reason:
In the future I will install a lot of servers, and some of them will be turned on/off dynamically to simulate hardware failures. If a server rejoin the cluster, I have to delete Antrea and all the other servers maybe disconnect (But I don't want them disconnect).

I come up with another approach to control

[2019-12-18 17:11] antoninbas commented on #203
As discussed at the 12/18/2019 community meeting, we are moving this out of the 0.2.0 release.

[2019-12-19 02:14] #93 closed

[2019-12-19 04:40] antoninbas commented on #94
We are running a subset of community (conformance / network policy) tests as part of CI. We still have action items to do (e.g. expose test logs publicly), but we can open follow-up issues for them.

[2019-12-19 04:40] #94 closed

[2019-12-19 04:41] antoninbas commented on #27
#206 was updated today and is still under review. Removing this from the v0.2.0 milestone as there is no reason to block the release for this.

[2019-12-19 06:25] antoninbas commented on #236
This was discussed at the [12/18/2019 Antrea Community Meeting](https://github.com/vmware-tanzu/antrea/wiki/Community-Meetings#december-18-2019). The decision was to start scoping the work and see if we can have some initial integration with support for non highly dynamic metrics for v0.3.0. @ksamoray volunteered to drive that.

[2019-12-19 06:26] antoninbas commented on #237
Adding this tentatively to the v0.3.0 milestone, although we probably need some additional design work / scoping to decide what should go into the release.

[2019-12-19 06:32] antoninbas opened #253 "Expose logs publicly for Jenkins CI jobs"
**Describe the problem/challenge you have**
We now run a subset of community tests (conformance / network policy) as part of CI for every PR. The tests are run on a VMware Jenkins server and the logs are not available publicly at the moment. This makes it very difficult for contributors to investigate / debug CI failures.

**Describe the solution you'd like**
Have the ability to access the logs fo

[2019-12-19 06:33] antoninbas commented on #50
This documentation should also include information about the Jenkins jobs, which run K8s community tests, e.g. which tests are run and on what kind of K8s cluster.

[2019-12-19 06:38] antoninbas opened #254 "Host Jenkins configuration files / scripts as part of the Antrea Github repo"
**Describe the problem/challenge you have**
We use Jenkins jobs to run community tests for every PR as part of CI, but these jobs are fairly opaque at the moment. #253 was opened to request that the logs for the jobs be published. But we should also try to host the Jenkins configuration files / scripts as part of this repo so that everything is maintained in one place and so that these files are p

[2019-12-19 08:42] mengdie-song opened #257 "Get and populate Controller and Agent connection information for monitoring CRDs"
**Describe the problem/challenge you have**
Get and populate Controller and Agent connection information for monitoring CRDs.

**Describe the solution you'd like**
1. From Controller side, we will populate the AntreaControllerInfo field ConnectedAgentNum.
The number is equal to the number of watchers of any NetworkPolicy object store (internalNetworkPolicyStore/addressGroupStore/appliedToGroupStor

[2019-12-19 09:49] mengdie-song commented on #244
Have met similar issue but got error from a different line.
` ##[error]    networkpolicy_test.go:108: Pod test-pod-networkpolicy-f0sxvq4a should be able to connect Service test-svc-nginx-ee8igovv, but was not able to connect`

[2019-12-19 16:00] tnqn commented on #244
The failures were because of the test running before `TestIPBlockWithExcept`: `TestPodConnectivityAfterAntreaRestart`.

`TestPodConnectivityAfterAntreaRestart` destroys and recreates dataplane
which affects existing connection between components (e.g coredns and
antrea-controller) and kube-apiserver somehow and they don't receive
events stream in some time.

When only antrea-controller is affected

[2019-12-19 21:55] antoninbas commented on #181
I'd like to start working on this. I like the DaemonSet approach more since it works even if there is an issue (e.g. buggy agent) or if Antrea has already been deleted from the cluster. Someone might have done `kubectl delete -f antrea.yml` already, and we need to be able to perform the cleanup without the Antrea agent / controller running.

My proposal is as follows:
* define a YAML manifest `ant

[2019-12-19 22:26] jianjuns commented on #181
Questions:
1. Do you plan to use agent bin to do the clean up or a separate bin?
2. For shared resources like Controller CRD who will do the clean up?

[2019-12-19 23:02] tong101 opened #261 "Antrea octant deployment pods failed to come up"
**Describe the bug**
I tried to deploy antrea octant with yaml in `build/yamls/antrea-octant.yaml`. However, the pods failed to come up and complains about secret `octant-kubeconfig` not found. Do we need to explicitly create this secret for antrea-octant to use? I didn't see any secret for it created in either `build/yamls/antrea-octant.yaml` or `build/yamls/antrea.yaml`.

**To Reproduce**
`$ kub

[2019-12-19 23:53] suwang48404 commented on #237
@antoninbas what is timeline for v0.3.0 release?

[2019-12-19 23:54] antoninbas commented on #237
@susanwu88 Jan 22nd. You can see that by clicking on the milestone name.

[2019-12-19 23:56] antoninbas commented on #181
1. No, I was planning to use different binaries (one for the DaemonSet and one for the "orchestrator", which will be run by the K8s Job and talk to the apiserver).
2. I think the "orchestrator" could take care of this easily, what do you think?

[2019-12-20 00:48] jianjuns commented on #181
I was thinking about running the same agent and controller bins, to avoid introducing new bins. But I saw there are benefits of using a separate bin too, that could be executed standalone, including executed manually. In this sense, do you think it is good to make it part of CLI, and so user could run the CLI manually to clean up?
Also note on Windows, we could not clean up Node state with DS.

[2019-12-20 00:49] jianjuns commented on #181
Just to add, it might be helpful to be able to clean up node after K8s is down.

[2019-12-20 01:05] antoninbas commented on #181
I think it's better to introduce new bins as I like the idea of separating the cleanup logic from the core functionality (rather than adding a new mode of operation for existing binaries).

I definitely think we should have the ability to run the binary directly as a process. I would like to organize the code as a library that can be used by the CLI & or in a DaemonSet. Even though `kubectl apply

[2019-12-20 03:56] #245 closed

[2019-12-20 18:15] #24 closed

[2019-12-20 19:16] tong101 opened #265 "Support externalTrafficPolicy Local for NodePort type service"
**Describe the problem/challenge you have**
When a service is exposed, the `externalTrafficPolicy` can be set to `Local` to disallow traffic out of the node to preserve client IP without any SNAT. However, when you create a `NodePort` type service with `externalTrafficPolicy` set to `Local`, the service cannot be access out of K8s cluster using the NodeIP (which the pods of the service are running

[2019-12-20 21:40] suwang48404 commented on #265
Hi couple points:
1. Antrea today does not do LB, this work is done by Kube-proxy
2. If we want to use externalTrafficPolicy = local, we can hookup service to a external LB with health check, that would also solve the problem?

[2019-12-20 21:54] tong101 commented on #265
This is unrelated to using LB or not.

The issue is not accessing service from Nodes which doesn't host the service Pods. Even if using the IP of the Node which service Pods are running on, service is still not accessible. What you describe is perfect for LB with healthcheck which can automatically remove service Node member which doesn't host any Pod. But in this case, even if you add LB with hea

[2019-12-20 23:10] jianjuns commented on #265
Thanks for reporting this @tong101.
We will look into this. @wenyingd @tnqn : could you check this one first?

[2019-12-20 23:32] tong101 commented on #265
Note that this use case works perfectly with Calico CNI.
Set up: 1 K8s master node with 2 K8s worker nodes
- Create an App with sample nginxdemos `Deployment`
[code]
- Create a `NodePort` type of service
[code]
- Suppose App `Pod` is running on worker node1 (10.39.0.140), and NodePort is 30281.
[code]
- Try to access `NodePort` service with woker node1 IP + NodePort: 10.39.0.140:30281. It will hav

[2019-12-21 01:11] #134 closed

[2019-12-21 21:35] suwang48404 commented on #243
yes "note" is hex, but I think ovs comes with with a utility ovs-decode-note that do hex to human readable ascii. We normally do "ovs-ofctl dump-flows br | ovs-decode-note" to read the flows

[2019-12-23 02:27] mengdie-song commented on #261
@tong101
Yes, we need to explicitly create the secret according to the kubeconfig file location in your setup.
You can refer to this guide for running octant together with antrea-octant-plugin.  https://github.com/vmware-tanzu/antrea/blob/master/docs/octant-plugin-installation.md

Please let me know if there is any further problem.

[2019-12-23 02:35] mengdie-song commented on #261
For now, octant doesn't support in-cluster config and it uses kubeconfig file. That's why we need to generate the secret according to kubeconfig file location and mount the secret.

[2019-12-23 07:22] tnqn commented on #265
Thanks @tong101 for your details. I have reproduced the issue and found the root cause. It's because kube-proxy doesn't accept non masqueraded traffic explicitly, and antrea-agent doesn't do it either, so the traffic was dropped when the default FORWARD policy was DROP.
Assigning it myself, will push a fix soon.

[2019-12-23 08:45] #20 closed

[2019-12-26 08:26] #230 closed

[2019-12-27 07:25] tnqn opened #274 "Pod networking is broken after antrea-ovs container restarts"
**Describe the bug**
It's observed that in a scale cluster, some Pods' networking is broken on some Nodes (4-5 nodes out of 1000 Nodes after running some time).
It's because the antrea-ovs containers in antrea-agent Pods on those Nodes were restarted for reason that is unknown yet, which looks like they were killed because of liveness probing failures but there were no events claiming them.
[code]

[2019-12-27 07:28] tnqn commented on #274
@antoninbas @wenyingd I think you were aware of the issue, I think we should prioritize the fix as it affects all Pods on a Node once it happens, and it's likely to happen on a scale cluster because of CPU/memory pressure.

[2019-12-27 07:51] lzhecheng opened #275 "Antrea CLIs to dump agent-info and pod-interface"
**Describe what you are trying to solve**
Antrea needs some CLIs for troubleshooting and debugging. I am going to implement agent-info and pod.

**Describe the solution you have in mind**
The CLIs look like:
* ```antctl agent-info```
* ```antctl get pod-interface [podName]```

[2019-12-27 08:10] tnqn opened #276 "Stale OVS ports were found after creating and deleting Pods"
**Describe the bug**
After creating and deleting Pods for a while, it was seen that some stale OVS ports were left whose owner container had been deleted.
[code]
Looked into antrea-agent log, it should be because the netns had been invalid when CNI Del was invoked. This is not normal but can really happen when containers was terminated by accident. antrea-agent should try its best-effort to clean

[2019-12-27 08:11] tnqn commented on #276
assigning to myself

[2019-12-27 08:22] tnqn opened #277 "Events to antrea-agents were discarded due to full channel in large scale"
**Describe the bug**
Thanks for @weiqiangt 's scale tests, it's found that many events to antrea-agents were discarded because of full channel when creating networkpolicies in batch and restarting antrea-controller.
Logs were `The input channel is full. Event %+v was discarded`.
There is a TODO for such case so kind of expected, need to improve the implementation:
https://github.com/vmware-tanzu/a

[2019-12-27 08:23] tnqn commented on #277
assigning myself.

[2019-12-27 08:48] tnqn opened #278 "Periodical resync add unnecessary considerable workload to controllers"
**Describe the bug**
Currently controllers set `resyncPeriod` to 60 seconds and it causes all objects are rehandled per  minute, while we have requeued the failed tasks to workqueue so there is no need to do a resync periodically unless we find a good reason for it. The workload introduced by it is considerable in scale cluster which has thousands of Pods and NetworkPolicies.

Create this issue to

[2019-12-27 09:00] tnqn opened #279 "Logs cleanup"
**Describe the bug**
In large scale, it was easy to get massive logs and most of them seems not helpful.
For example:
Every Pod will have a log with every Group when they don't match, so it gets N *  M such logs:
[code]
It might be helpful if they match, and we can know the not logged ones are not matching, so it's not worth to log all of them.

We should check log files and do a cleanup for simil

[2019-12-27 09:13] alokmaurya88 opened #280 "Ingress network policies are not honored , when user accesses the pods via NodePort service"
**Describe the bug**
A clear and concise description of what the bug is.
If you believe this bug is a security issue, please don't use this template and follow our [security guidelines](/SECURITY.md)
**To Reproduce**
Steps to reproduce the behavior.
1. Create RC

[code]
2.  Create a network-policy  to allow access only  from specific subnet
[code]
3.  Create a Nodeport service
[code]
4. Now  try t

[2019-12-27 10:16] tnqn opened #284 "NetworkPolicy processing optimization"
**Describe the bug**
In a scale cluster, It takes time to process all Network Policies once antrea-controller is restarted:
We should optimize processing network policies to reduce it, for example:

- [x] 1. Avoid repeated LabelSelectorAsSelector conversion
https://github.com/vmware-tanzu/antrea/pull/414

- [ ] 2. Avoid repeated pod <- - - > group matching in event handlers and sync workers.

- [

[2019-12-27 14:48] tnqn commented on #280
Thanks @alokmaurya88 for the details!
To differentiate traffic from Node itself (which is we must allow for container probes) and from external but SNATed and forwarded by it, I think we can use conntrack mark, like marking a special value in iptables output chain so only the former will get the mark and we should only bypass ingress network policy for traffic that has the Node IP as source IP and

[2019-12-27 17:37] alokmaurya88 opened #285 "Flow for ingress network-policy rule is not added when Pods with network-policy applied on it, are deleted and added."
**Describe the bug**
A clear and concise description of what the bug is.
If you believe this bug is a security issue, please don't use this template and follow our [security guidelines](/SECURITY.md)

[code]

**To Reproduce**
Steps to reproduce the behavior.
[code]
Below is network policy
[code]

Below is POD:
[code]
[code]
[code]
[code]
Below rule is missing
[code]
I believe a flow similar to bel

[2019-12-27 18:00] alokmaurya88 commented on #285
Agent log

https://gist.github.com/alokmaurya88/53dc92ee643565cf223d85ee515c7ca6#file-agent_log
Controller log
https://gist.github.com/alokmaurya88/bf443c0116f5612804edb0cf3c4281ee#file-controller_log

[2019-12-28 07:50] weiqiangt commented on #275
Thanks Zhechent.
IMO, the `status` command you proposed is too generic, could you please describe it more?

[2019-12-30 02:50] #265 closed

[2019-12-30 09:23] tnqn commented on #285
Thanks @alokmaurya88 for reporting!
It looks like caused by race condition, @wenyingd could you look at this issue? We should fix it in 0.3 as it affects correctness of NetworkPolicy.
@alokmaurya88 mentioned it can be reproduced by steps above frequently.

[2019-12-31 03:17] antoninbas commented on #274
I believe we have all the infrastructure required to support this (notification mechanism + roundID / cookie support). The re-connection should trigger an empty message to be sent on a Go channel used to notify the OF Client (https://github.com/vmware-tanzu/antrea/blob/master/pkg/ovs/openflow/ofctrl_bridge.go#L167). Right now, the message is discarded (https://github.com/vmware-tanzu/antrea/blob/m

[2019-12-31 04:45] tnqn commented on #274
Hi @antoninbas , I think @wenyingd hasn't worked on it yet and she is on leave , please feel free to take it.

[2019-12-31 18:41] antoninbas commented on #274
I'm on leave until the 6th as well, but I should have some time this week to look at this. I see 2 options:
 1. "restart" the entire agent when we are notified of a disconnection
 2. do not restart the agent, only replay the flows

1- is the simplest, but may be a bit of an overkill. In a large cluster, an agent restart can be quite expensive in terms of CPU & memory (and if as you said CPU / memo

[2020-01-01 00:47] jianjuns commented on #274
I would go for the 2nd approach. Could we stop the goroutines, and do reconciliation of all flows?

[2020-01-02 03:23] wenyingd commented on #285
Hi, @tnqn , the flow entry "table=90,priority=190,conj_id=11,ip actions=resubmit(,105)" is removed only when function `UninstallPolicyRuleFlows` is called. From agent log, I fould this log entry:
[code]
For rule ID `6c346c3ee6da760c`, above log is the last operation, and I did't find "Reconciling" after it.

[2020-01-02 05:32] lzhecheng commented on #275
Agreed. I have updated it.

[2020-01-02 06:54] Nilesh7756 opened #287 "Antrea-agent Container gets restarted at its startup with Error "exit status 4: iptables: Resource temporarily unavailable""
**Describe the bug**
A clear and concise description of what the bug is.
If you believe this bug is a security issue, please don't use this template and follow our [security guidelines](/SECURITY.md)

Antrea-agent Container gets restart on redeploying Antrea Daemon Set with below error:

`Error running agent: error initializing agent: error setting up iptables rules: exit status 4: iptables: Resou

[2020-01-03 02:46] tnqn commented on #285
@wenyingd but why there are flows that commits to conjunction 11? should they get deleted in the same `UninstallPolicyRuleFlows` call?

[2020-01-03 02:55] wenyingd commented on #285
@tnqn From the results, it seems a race condition. But from the log, if there are any conjunctive match flows existing in conjunction 11, there should be more than one deletion logs.

Is it possible that two rules matches the same conjunction ID? In my memory, agent control plane should guarantee only one goroutine is operating Openflow entries in the same conjunction. So if the assumtion is true,

[2020-01-03 03:20] tnqn commented on #285
The log that deleted flow with conjunctionID 11 was `13:57:47`.
The log that added CNI for pod `scale-ns-674347ee-50ee-4806-8efc-8b9ed4298f3e-rc-1-kgzsf` was `14:18:04`.
I think ConjunctionID 11 was reused after that. The first deletion log should be not related.
This exposes another problem: There are only `Deleted flow` but not `Added flow` which could confuse debuggers.

[2020-01-03 04:48] wenyingd commented on #285
Even if `ConjunctionID 11` is reused, I think the rule ID should be the same. Then after `scale-ns-674347ee-50ee-4806-8efc-8b9ed4298f3e-rc-1-kgzsf` is created, there should be a log to reconcile rule `6c346c3ee6da760c`. But it doesn't exist.

[2020-01-04 01:23] jianjuns commented on #284
How long it takes now, and what is the new target?

[2020-01-04 01:28] jianjuns commented on #280
I think NodePort will do SNAT and change the source IP to Node IP, then how could we enforce NetworkPolicy. Do you mean other implementations, for example, those use iptables, could apply NetworkPolicies to NodePort traffic? How this is possible when the destination Pod is on another Node?

[2020-01-04 01:34] jianjuns commented on #287
@Nilesh7756: thanks for reporting this issue. However I could not reproduce it in my env. Could I know more details how you reproduce it. I just tried to delete one antrea-agent Pod and let a new Pod get created by K8s, but did not see any error for the new Pod. Any extra steps I should do?

[2020-01-04 15:48] Nilesh7756 commented on #287
@jianjuns
We have K8S scale setup with Antrea:
Antrea version 0.2.0, Single K8 cluster, 100k Pods, 1000 worker nodes + 3 master nodes, 10k Namespaces, 20k Network Policies.

- 100K PODs got scaled in ENV
- Redeployed Antrea Deamon Set, by kubectl edit:
       kubectl edit ds <antrea-agent-ds> -n kube-system
- Here for POD's "Antrea-agent" container got restarted at its startup with error for some

[2020-01-06 02:07] #257 closed

[2020-01-06 03:48] mengdie-song opened #289 "Get and populate OVS connection conditions"
**Describe the problem/challenge you have**
Populate OVS connection conditions to Agent monitoring CRD.

**Describe the solution you'd like**
Get Openflow connection condition via function isConnected exposed by Openflow client.
Get OVSDB connection condition via a dummy version query.
Then populate both Openflow connection condition and OVSDB connection condition to Agent monitoring CRD.

[2020-01-06 09:03] wenyingd commented on #285
Thanks @weiqiangt and @tnqn for helping debug the issue. I think we have found the root cause. It is  a race in libOpenflow, the MatchField(conj_id)'s value might be overwritten by another goroutine, and then OVS receives and realizes an Openflow entry with the incorrect configuration.

I have created a PR(https://github.com/contiv/libOpenflow/pull/10) to fix it in libOpenflow. After it is merged,

[2020-01-06 18:28] antoninbas commented on #274
I think the ability to "pause" or stop the goroutine would be quite intrusive. We would need to introduce some pause channel, select statements... I believe the same is achieved by adding a read-write lock to the OF Client while keeping all the changes in one place. Only the reconciliation needs exclusive access, regular flow operations can still happen concurrently.

[2020-01-07 03:08] antoninbas commented on #8
@salv-orlando I took care of 2. Any other action items for this issue. Are you still planning to take care of item 5 (terminology)?

[2020-01-07 03:12] antoninbas commented on #274
@wenyingd I spent time working on this today and made some good progress. Hoping to open a PR soon. I got stuck for a while at some point because I didn't realize right away that stored `ofFlow` objects are no longer valid after a reconnection because of a stale table pointer. I used the following workaround...
[code]
Let me know if you think of something better.

[2020-01-07 03:42] wenyingd commented on #274
@antoninbas Personally, I would prefer to add a specific function in `ofFlow` to resetTable or add function in ofTable like `AddFlows`, but not change `ofFlow.Add` function. I think the function is also needed after we change to use Bundle messages.

[2020-01-07 16:37] tnqn commented on #287
@jianjuns I think the issue is hard to reproduce as it should be due to conflict between kube-proxy and antrea-agent when they happened to run iptables at the same time: the exit code `4` and message `iptables: Resource temporarily unavailable.` indicates that errno `EAGAIN` is returned by the kernel and is mostly because multiple iptables commands run concurrently.

iptables has a lock "/run/xtab

[2020-01-07 16:39] tnqn commented on #287
Created a PR for it, assigning to myself.

[2020-01-07 18:40] antoninbas commented on #274
@wenyingd I'll add a function to `ofFlow` as you suggested, we can always adjust later

[2020-01-08 11:24] #287 closed

[2020-01-08 20:58] antoninbas opened #300 "Remove default tunnel port when IPsec is enabled"
**Describe the problem/challenge you have**
The agent currently created a default tunnel port when IPsec is not enabled. However if the agent is restarted with a different configuration (IPsec not enabled -> IPsec enabled), we do not delete the port if needed.

[2020-01-08 23:27] tong101 commented on #261
@mengdie-song , thanks Mengdie for the update. I saw the document has been updated with extra step to explicitly create secret. I am good with that part. However, when I following the steps to deploy Octant as a pod, the pod failed to start up as the it cannot get the octant-antrea-ubuntu image. But when I do check docker images, it is there.
[code]
But when I tried to test to pull the image, it f

[2020-01-09 01:54] #289 closed

[2020-01-09 01:58] #285 closed

[2020-01-09 02:17] mengdie-song commented on #261
@tong101 Hi Tong, we haven't push octant-antrea-ubuntu image to dockerhub, which means for now you have to build the image locally using command `make octant-antrea-ubuntu`.
For the problem you have met in your setup, have you checked whether the image can be found in all the worker nodes? It is required since we set up a NodePort type of service for UI accessing and the antrea-octant Pod can run

[2020-01-09 02:26] antoninbas commented on #261
@mengdie-song yes I think we should build & push the image automatically

Do you think you can take a stab at updating build_master.yml and build_tag.yml: https://github.com/vmware-tanzu/antrea/tree/master/.github/workflows ?

[2020-01-09 02:28] mshindo commented on #261
Hi,

I've pushed the image to https://hub.docker.com/repository/docker/mshindo/octant-antrea-ubuntu. While it is OK for anyone to use it, it would be better to place it in a more canonical place with CI/CD enabled.

Motonori Shindo

[2020-01-09 02:32] mengdie-song commented on #261
@antoninbas Sure, I will take care of this part.

[2020-01-09 06:39] mengdie-song opened #304 "Improve openflow tableCache operation performance by changing Mutex"
**Describe the problem/challenge you have**
Function GetFlowTableStatus will be invoked by monitoring goroutine every minute to get OVS flow table information. Currently, there is only a Mutex for writing the cache but none for reading. As a result, the performance of reading cache can be affected when the cache is being written.

**Describe the solution you'd like**
To improve the performance of

[2020-01-09 15:07] tnqn commented on #280
@jianjuns I only meant the case that external access Pod via NodePort service of the Node where it runs: it might be an unexpected behavior when user allow neither NodeIP nor external IP to reach their Pod.
If user allow NodeIPs and expose NodePort service at the same time, I think they should be aware of that their Pods might be reached by external via SNAT (NodePort can have `Local` mode to pres

[2020-01-09 18:52] tong101 commented on #261
@mengdie-song It looks like issue is more related the the image itself. I just tried with docker pull on the same node with image, it reports error:
[code]

That will be great if we can push to docker hub, which makes the integration much easier.

[2020-01-09 19:19] jianjuns commented on #280
Does K8s has any guideline on this case? Do you want to ask in the sig-network channel?
@abhiraut

[2020-01-09 20:57] #36 closed

[2020-01-10 02:06] #27 closed

[2020-01-10 02:41] #277 closed

[2020-01-10 06:03] mengdie-song commented on #261
@tong101  The patch to push antrea/octant-antrea-ubuntu image to dockerhub has been checked in. I have also updated the document here https://github.com/vmware-tanzu/antrea/blob/master/docs/octant-plugin-installation.md. It should solve the problem in your setup. Please let me know if there is any other issue.

[2020-01-11 00:05] tong101 commented on #261
I just tried to deploy again and now it can pull the image from docker hub directly. Everything works now. I am closing the issue.

[2020-01-11 00:05] #261 closed

[2020-01-11 12:12] qq1310525081 opened #309 "This is very important to us, Maybe we've all been scammed"
Maybe we've all been scammed. I don't want to write anything here. You can contact me by email or qq(1310525081@qq.com) . This is very important to us. please

[2020-01-11 14:15] #309 closed

[2020-01-13 09:49] weiqiangt opened #310 "Running antctl in pod"
**Describe the problem/challenge you have**
To be more cloud-native, we can implement an image for running antctl in pod. This could provide users an another running choice.

**Describe the solution you'd like**
- An image of antctl.
- A single yaml file to deploy an antctl pod. The pod should have proper roles to use antctl.
- The antctl should run as remote mode.

**Anything else you would like

[2020-01-13 19:11] #274 closed

[2020-01-13 21:45] antoninbas opened #311 "When agent is restarted, stale OVS flows should be deleted"
**Describe the bug**
If the agent restarts (but not the antrea-ovs container), OVS flows are preserved. While all the necessary flows are replayed as part of the restart process, some old flows may no longer be needed / may no longer be correct because of changes in the cluster. We should not keep these flows around. They can be deleted as part of the restart process using `DeleteFlowsByCookie` (h

[2020-01-14 02:33] weiqiangt opened #312 "Publish antctl binaries for different platforms in releases"
**Describe the problem/challenge you have**
The antctl binaries are not included in release publish.

**Describe the solution you'd like**
Publish antctl binaries for different platforms in releases.
Also publish the antctl deploy yaml and image when #310 is implemented.

**Anything else you would like to add?**
Need to consider the name of antctl for each platform

[2020-01-14 09:02] #304 closed

[2020-01-15 00:24] antoninbas commented on #155
After some investigation, the same script (currently called `hack/kind-linux.sh`) can be used on macOS as well. When using Docker Desktop for Mac, docker creates a Linux HyperKit VM which creates veth interfaces for docker images and attach them to the docker bridge. The command we use in the script:
[code]
is equivalent to running ethtool within the HyperKit VM, which is what we want.

So the onl

[2020-01-15 17:22] antoninbas commented on #254
@lzhecheng do you want to close this issue now?

[2020-01-16 00:02] lzhecheng commented on #254
Sure. Thanks for reminding me. ;)

[2020-01-16 00:02] #254 closed

[2020-01-16 02:03] #203 closed

[2020-01-16 03:04] #276 closed

[2020-01-16 05:22] weiqiangt commented on #312
Hi @antoninbas, it looks like binaries in the release page are uploaded manually? If so, I think there is no change that should be involved in the repo?
I see [Kind](https://github.com/kubernetes-sigs/kind/releases) published binaries for different platforms in the form `kind-{platform}`, could we also follow this style?

[2020-01-16 08:27] lzhecheng opened #319 "Implement antctl table output format"
**Describe what you are trying to solve**
antctl supports json and yaml output format. A table output format is needed.

[2020-01-17 03:59] antoninbas opened #323 "Kube apiserver error logs caused by system.antrea.tanzu.vmware.com"
**Describe the bug**
I observe the following in the apiserver logs since we merged the antctl changes (about every minute or so):
[code]

**To Reproduce**
Deploy Antrea on a cluster, check the logs of the kube-apiserver Pod using kubectl.

**Versions:**
Antrea version:
[code]

[2020-01-17 05:04] #174 closed

[2020-01-17 05:58] antoninbas opened #324 "Flaky Kind e2e tests because antrea-test namespace cannot be deleted"
**Describe the bug**
It seems that the Kind e2e tests now have a high probability of failing. See [this run](https://github.com/vmware-tanzu/antrea/commit/c40904f8935c005c40ed63f4838ed667b32a78e1/checks?check_suite_id=405659949) but this is also something I have been able to observe locally.

**To Reproduce**
Create a new v0.7.0 Kind cluster and follow the same steps as the Github action: https://

[2020-01-17 06:07] weiqiangt commented on #324
I had met this issue during development of antctl.
One possibility is that we always delete the antrea deployment by current yaml but not the one applied last time. Thus, we may left resources.
In the antctl CL, I created a new `APIService` which will be left if we apply legacy codes which does not has endpoint to serve this service.

[2020-01-17 11:30] tnqn opened #326 "Use write_actions(output(PORT)) to carry output port in L2ForwardingCalcTable"
**Describe what you are trying to solve**
Output port is calculated in `L2ForwardingCalcTable` and written to `NXM_NX_REG0` for later matching and forwarding, it adds a little antrea specific knowledge requirement to understand the flows.

However, Openflow 1.1 and later supports `write_actions` to write the actions to action set but not apply them for now, and OVS 2.4 and later supports matching

[2020-01-17 19:23] antoninbas commented on #326
You would also need to take care of the `L3ForwardingTable` flow that bypasses the ingress policy rules for tunneled traffic:
[code]

I'm confused about your comment regarding the ordering of actions. I would expect that OVS would first update the action set with the output action, then do the resubmit, in which case the table we resubmit to should be able to match on `actset_output`. Regardless,

[2020-01-17 19:40] antoninbas commented on #326
After a quick experiment, I understand your comment about the order of `write_actions` and `apply_actions`:
[code]

It's surprising to me that `resubmit` does not behave more like `goto_table`, and that it is considered an apply-action.

[2020-01-18 00:12] jianjuns commented on #326
The proposal makes sense to me.

[2020-01-18 02:20] antoninbas commented on #324
@weiqiangt I don't think this is an issue with the yaml. In the case of Kind, we always create a new cluster to run the test suite.

I made some progress with this. When the agent on the control plane node is deleted, the TCP connection between the kube apiserver and the antrea controller apiserver is not cleaned-up properly. It stays in the ESTABLISHED state until the TCP connection times out, wh

[2020-01-18 02:24] antoninbas commented on #324
I pushed a "fix" for this: https://github.com/vmware-tanzu/antrea. It hides the problem rather than fixing it by decreasing the total TCP retransmission timeout from 10 minutes to a couple seconds.

[2020-01-19 02:11] wenyingd commented on #326
Hi @antoninbas , `resubmit()` is used as one action in `apply_actions` instruction, and goto_table is another kind of instruction. For OpenFlow implemented by OVS, the order of instructions in a single flow entry should be: apply_actions -> write_actions -> goto_table. So if you want to use `resubmit` and `write_actions`, the `resubmit` must be placed before `write_actions`. And when OVS execute `

[2020-01-19 03:08] wenyingd opened #331 "Antrea works on Windows Node"
**Describe what you are trying to solve**
Antrea could be run on Windows as worker Nodes in the cluster.

**Describe the solution you have in mind**
Windows HNS Network is used to support the container networking, and "Transparent" is the chosen driver type.
For each Pod, a HNS Endpoint is created and attached on both the infra container and the workload container. The IP address of the HNS Endpoi

[2020-01-19 03:20] wenyingd opened #332 "Use bundle for Network Policy"
**Describe the problem/challenge you have**
When a change on Network Policy or AddressGroup or AppliedToGroup is synced to antrea-agent, multiple OpenFlow entires need to be added or modified on the OVS bridge. Currently, each Openflow entry is sent seperately, and it is difficult for the client to commit or discard these changes idempotently.

**Describe the solution you'd like**
Bundle could be

[2020-01-20 19:48] #311 closed

[2020-01-20 19:53] antoninbas commented on #181
Removing this from 0.3.0, as PR #307 still needs a lot of work.

[2020-01-21 18:51] antoninbas commented on #237
Moving this out of the 0.3.0 milestone, as discussed at the 01/15/2020 community meeting.

[2020-01-21 18:52] #155 closed

[2020-01-21 19:24] antoninbas commented on #312
@weiqiangt @lzhecheng

yes I will take care of publishing the antctl binaries for linux / macOS / windows for upcoming releases

we do not publish any binary at the moment, just the antrea manifest, but that will change starting with 0.3.0

it will be manual at first (I'll add a script to the repo, a bit like what Kind does), but we can look into automating it later (maybe using something like [go

[2020-01-21 19:39] antoninbas opened #337 "Document antctl"
**Describe the problem/challenge you have**
It seems that there is no documentation available for antctl.

**Describe the solution you'd like**
While it is probably not necessary at this stage to document every individual command that we may add (one can use the help messages), we should document a few things that can be surprising at first when using antctl. Some things which come to mind:
 * in-

[2020-01-21 19:39] antoninbas commented on #337
Tagging this "optimistically" with release 0.3.0 since antctl will be part of that release.

[2020-01-21 22:01] abhiraut commented on #122
https://docs.google.com/document/d/1qm2LndGhC6c-on_A63TNCvjcr7aUFwDtaa5aqrAxd0s/edit#

[2020-01-21 22:23] suwang48404 opened #338 "e2e test use service"
**Describe the problem/challenge you have**
with current e2e test today, all tests appears to be pod-to-pod. This is not necessarily the native k8s application traffic pattern.

**Describe the solution you'd like**
consider adding tests for node port; node to service cluster, pod to service cluster tests.

**Anything else you would like to add?**

[2020-01-21 22:29] antoninbas commented on #338
@suwang48404 we rely heavily on the K8s community conformance tests: https://github.com/vmware-tanzu/antrea/tree/master/ci/jenkins

We do not want to write Antrea e2e tests which simply duplicate a K8s conformance test. This is why most of our e2e tests focus on Antrea-specific features. But if you think that some relevant scenario is not covered by the K8s conformance tests, please feel free to s

[2020-01-22 17:42] tnqn commented on #122
Tested K8s networkpolicy e2e with the above PRs:
Almost all named port tests can pass except the below:
[code]
It's because the test doesn't set `To` (which means all addresses) and expects a client Pod can access a server Pod's named port, but antrea uses `0.0.0.0` for all addresses so can't resolve the named port. To support this case, allowing all addresses should be converted to a group select

[2020-01-22 17:58] antoninbas commented on #236
As discussed at the 01/22/2020 community meeting, we are pushing this to 0.4.0. @ksamoray has an open PR (#321) ready for review, which he can present at the next community meeting.

[2020-01-22 17:59] antoninbas commented on #253
Not resolved yet, pushing this out to 0.4.0.

[2020-01-22 18:04] antoninbas commented on #312
We discussed this at the 01/22/2020 Antrea community meeting. We decided to postpone publishing the binaries until the next release for 2 reasons:
 * no available user-facing documentation yet (see https://github.com/vmware-tanzu/antrea/issues/337)
 * the only "useful" command that may be part of the release (`agent-info` - https://github.com/vmware-tanzu/antrea/pull/318) can only be run locally f

[2020-01-22 18:05] antoninbas commented on #337
Pushing this out to 0.4.0 as discussed at the 01/22/2020 community meeting.

[2020-01-22 18:34] abhiraut commented on #122
Do you think we can open a separate bug for this particular test case?

[2020-01-23 05:57] tnqn commented on #122
@abhiraut Yes, I think it's not a common use case and only requires antrea-controller change of how it converts an allow-all policy. Better to make the change with a separate PR. Would you take care of it?

[2020-01-24 02:33] antoninbas opened #342 "Create a release version of antrea-octant.yml"
**Describe the problem/challenge you have**
The yaml manifest hardcodes the docker image to `antrea/octant-antrea-ubuntu:latest`. This is also the only image available on dockerhub (no image tagged with the Antrea release).

**Describe the solution you'd like**
We should do the following:
- [ ] use kustomize to generate a release yaml manifest for antrea-octant
- [ ] with each release, upload a ta

[2020-01-24 02:41] abhiraut commented on #122
im filing a separate issue for it and assign it to myself

[2020-01-24 02:47] abhiraut opened #343 "Named port network policy fails when egress rule match all Pods in To"
**Describe the bug**
[code]
Test case fails because the test doesn't set `To` (which means all addresses) and expects a client Pod can access a server Pod's named port, but antrea uses `0.0.0.0` for all addresses so can't resolve the named port.

**To Reproduce**
Steps to reproduce the behavior.

**Expected**
Named port network policy must work even in the case where the To field selects all Pods.

[2020-01-25 06:29] suwang48404 commented on #324
well I saw this too late. this was my observation:

1. apiserver need to connect to Antrea-controller via its service IP, so DNAT is required. and contrack connection was created for that DNAT
2. when we delete Antrea-agent pod in our test case, those DNAT contrack connections were incredibly destroyed as well, even though these contrack connections were not with Antrea-agent.
3. now when apiserve

[2020-01-27 14:26] jayunit100 commented on #236
great thanks !

[2020-01-28 23:01] McCodeman opened #345 "Maintain list of project dependencies and their respective licenses"
**Describe the problem/challenge you have**
A list of open source projects and their respective licenses should be maintained to enable us to quickly respond to requests for this information.

**Describe the solution you'd like**
If feasible, we should investigate if this list can be fully or partially generated by using the module dependency file `go.mod` as a source of dependencies. As all depen

[2020-01-29 15:52] McCodeman opened #346 "Improve issue management"
**Describe what you are trying to solve**
Improve issue management including triage, prioritization, and tracking using a comprehensive set of labels to describe issue kinds, areas, prioritization, triage status, etc. The use of these labels will enable the use of new project boards to better visualize current release burndown, backlog, and roadmap. Additionally, using GitHub actions, we can autom

[2020-01-29 17:28] antoninbas commented on #237
Moving this out of the 0.4.0 milestone, as discussed at the 01/29/2020 community meeting.

[2020-01-29 17:40] antoninbas commented on #244
May have been the same issue as #324
Now that we have a workaround, I will try re-enabling the test

[2020-01-29 17:47] antoninbas commented on #324
@suwang48404 That's also my analysis, but I am not sure I know why the TCP connection does not get immediately reset, and instead we have to wait for a timeout.

We discussed this briefly at the Antrea community meeting today and decided that the current workaround was good enough and that this issue can be closed. Any one should feel free to re-open if they run into this issue again or want to pr

[2020-01-29 17:47] #324 closed

[2020-01-29 22:41] antoninbas commented on #338
@suwang48404 should we close this?

[2020-01-29 23:17] suwang48404 opened #348 "container mtu size"
**Describe the bug**
log into a container, ping -s 1500 www.cnn.com, it does not work.

**To Reproduce**
see as above

**Expected**
ping with any size works

**Actual behavior**
I do not see packet sent out on uplink, suspect some misconfiguration on ovs br-int. I did not dig deeper.

**Versions:**
Please provide the following information:
 - Antrea version (Docker image tag).
 - Kubernetes versio

[2020-01-29 23:32] suwang48404 commented on #338
I am actually writing e2e service test cases. So perhaps we should keep it open for now?

[2020-01-30 00:00] antoninbas commented on #338
Sounds good, please share test plans with us. It is always interesting to add e2e test cases not currently covered by K8s conformance suite or which exercise Antrea-specific implementation areas.

[2020-01-30 00:26] suwang48404 commented on #338
No sure k8s conformance covers or not. I intend to run this test on kind at least over various encapsulated mode. Today, k8s conformance test only runs on encap=overlay, right?

thx, Su

[2020-01-30 01:31] jianjuns commented on #348
Tried on a normal machine, "ping -s 1500 www.cnn.com" does not work either. Could you try ping a local IP (not in the Internet)?

[2020-01-30 12:14] ksamoray commented on #236
@McCodeman
Enlisted below the capabilities and metrics which are currently covered within Antrea PRs.
Please provide your feedback and recommend any additional required metrics.

** PR #321 **
From the agent:
- Initialize prometheus exporter, expose config parameters
- Expose process, golang metrics per the agent process (or exclude them)
- Expose the following agent metrics:
  * antrea_agent_host

[2020-01-30 15:04] suwang48404 commented on #324
it bugs me that conntrack can silently delete connection without notify TCP.

It turns out there is a flag nf_conntrack_tcp_loose,

when it is set to 0, deleting conntrack connection also deletes tcp connection. This is the behavior we want as it triggers tcp to restart as soon as underlying connect connection is destroyed.

when nf_conntrack_tcp_loose set to 1 conntrack suppose to start a new con

[2020-01-30 19:36] antoninbas opened #349 "Install loopback CNI plugin as part of Antrea bring up"
**Describe the bug**
On Linux, when the container runtime is set to docker, and when kubelet is started with `--network-plugin`, it requires the "loopback" plugin to be installed in order to set up the loopback network: https://github.com/kubernetes/kubernetes/blob/release-1.17/pkg/kubelet/dockershim/network/cni/cni_others.go#L30.

**To Reproduce**
Try to create a Pod with Antrea without the loopb

[2020-01-30 23:14] #349 closed

[2020-01-31 20:10] antoninbas commented on #170
This issue no longer exists for `mocks` target since we now generate them inside a Docker container.

I have been wanting to use `golangci-lint` for the `lint` target as well. It solves the issue as well since `golangci-lint`  is downloaded as a binary and includes all the linters already!

[2020-02-01 01:56] antoninbas commented on #348
Pinging a remote Node's gateway form a Pod (on a different Node) works fine for me:
[code]
I can see the fragmented tunneled packets leaving the Node:
[code]

And I can confirm that `ping -s 1500 www.cnn.com` does not work either from my machine. When I ping www.google.com from my Mac, I get a "wrong total length" error if I try any length greater than 64 bytes. www.cnn.com is more forgiving :P

[2020-02-01 02:07] suwang48404 commented on #348
this perhaps not a big deal, I stumbled upon it while testing something else. As long as TCP/UDP works we should be fine.

should we close this?

[2020-02-01 02:14] antoninbas commented on #348
I see no evidence that this is connected to Antrea, so yes I think we should close this.

The fragmented ICMP IP packets get sent out on the Node network correctly as far as I can tell. Since there is no legitimate reason to have large or fragmented ICMP packets, I imagine some router or other device is dropping them along the way.

[2020-02-01 02:27] suwang48404 commented on #348
That is interesting ...
as I recall, when I tcpdump on gw0, no packets came out, and ovs dp cache indicates dropping fragmented packets due to some rules in table 110 (some conntrack table), I did not dig too deep on this

[2020-02-01 02:52] antoninbas commented on #348
Pinging from a Pod, I see this on the gw interface:
[code]
 and this on the physical interface
[code]

Are you testing Antrea's master branch with the normal encap mode, or with some of your changes from #340 ?

[2020-02-01 03:07] suwang48404 commented on #348
with my change on kind.

[2020-02-01 04:36] suwang48404 commented on #348
Now that my interest is piqued, I dig deeper with ToT master Antrea

antrea/antrea-ubuntu      latest                     4370742c537d

On ovs table 30 , there is flow

cookie=0x1000000000000, duration=2896.101s, table=30, n_packets=10064, n_bytes=1865632, idle_age=0, priority=200,ip actions=ct(table=31,zone=65520)

basically it tells all packets go through conntrack, thereby generate conntrack co

[2020-02-03 14:24] #319 closed

[2020-02-03 18:07] #170 closed

[2020-02-03 19:10] antoninbas commented on #348
Looks like it could be an issue specific to the netdev OVS datapath. I'll take a look.

[2020-02-03 19:19] suwang48404 commented on #348
yeah, it looks like that way. I am pretty sure ovs should send reassembled ip to conntrack ...;
feel free to close this issue

thx, su

[2020-02-03 21:14] antoninbas opened #355 "Preserve OVS data path flows when Antrea is restarted gracefully"
**Describe what you are trying to solve**
At the moment, data path flows are deleted by ovs-vswitchd when the daemon gracefully exits. This means that for planned rolling upgrades of Antrea, we are currently bringing the network down. A simple experiment reveals that it can take more than 10s for the network to come back up:
[code]
That time may go up as the number of flows increase, and it may ta

[2020-02-04 21:07] antoninbas opened #357 "Update ROADMAP.md"
The document is no longer up-to-date:
 * "libOpenflow and ofnet for Openflow programming" no longer belongs under "Feature under Development"
 * some entries need to be moved from "Planned Features" to "Feature under Development"
 * "Planned Features" is missing some entries that already have been discussed between maintainers / at community meetings

I know @McCodeman is already working on a PR f

[2020-02-05 01:04] antoninbas commented on #348
I just noticed that the OVS release notes for 2.12.0 have the following:

https://github.com/openvswitch/ovs/blob/master/NEWS#L76

That could solve the issue. We are planning to update the OVS userspace to 2.12, so let's keep this issue open for now, and see if updating resolves it.

[2020-02-05 20:54] antoninbas commented on #355
To clarify: the changes in #358 only apply to kernel datapath flows. New connections that don't match any flow in the datapath will not be established until ovs-vswitchd has restarted and Antrea has replayed the flows. If kube-proxy selects an endpoint on a Node that's affected for a ClusterIP, the connection won't be established until then (or until there is a TCP SYN timeout and the app tries op

[2020-02-06 00:07] antoninbas commented on #300
@jianjuns I think this issue is no longer relevant if we merge https://github.com/vmware-tanzu/antrea/pull/359?

[2020-02-06 00:35] alex-vmw opened #361 "Update beta.kubernetes.io/os nodeSelector to kubernetes.io/os"
As per https://v1-14.docs.kubernetes.io/docs/setup/release/notes/ beta.kubernetes.io/os has been deprecated and will be completely removed in k8s 1.18. That said, please update beta.kubernetes.io/os nodeSelector to kubernetes.io/os in the antrea yml file.

[2020-02-06 00:45] jianjuns commented on #300
Yes.

[2020-02-06 22:53] #300 closed

[2020-02-06 23:09] antoninbas opened #364 "Enable golint as part of CI"
**Describe the problem/challenge you have**
We currently have a `make lint` target to run golint using golangci. The golint linter is disabled in CI, because it currently reports a lot of issues, most - **but not all** - of them are complaints about missing comments on exported variable.

**Describe the solution you'd like**
Let's address the issues reported by `golint` and enable this linter as p

[2020-02-06 23:37] antoninbas opened #365 "Support configurable https port for the Antrea Controller's apiserver"
**Describe the problem/challenge you have**
At the moment the port defaults to 443, and there is no way to configure a different value:
[code]

**Describe the solution you'd like**
We probably want to let the user choose a different port number when needed (and specify it in the Antrea ConfigMap). It may be a good idea to use a different port by default as well: 443 is the default https port and t

[2020-02-06 23:44] antoninbas opened #366 "Support user-provided certificate for the Antrea controller's apiserver"
**Describe the problem/challenge you have**
The Antrea Controller currently generates an in-memory certificate every time it instantiates the apiserver.

**Describe the solution you'd like**
We should let users specify their own certificate if they so desire, similar to how a certificate can be provided to kube-apiserver via the `--tls-cert-file` command-line option. For the Antrea controller, we

[2020-02-06 23:45] antoninbas commented on #366
@tnqn please feel free to add more information to this issue

[2020-02-07 00:26] abhiraut opened #367 "NetworkPolicy with Except clause drops traffic even if another NP exists which allows it"
**Describe the bug**
A clear and concise description of what the bug is.
If you believe this bug is a security issue, please don't use this template and follow our [security guidelines](/SECURITY.md)

A NetworkPolicy with Except clause drops traffic even if there exists another NetworkPolicy to allow the same "Except CIDR" as an Allowed IPBlock CIDR, if applied to a same group of Pods.

**To Repro

[2020-02-07 00:29] abhiraut commented on #367
This does not work as expected because we currently install a flow to drop traffic based on except clause with a higher priority than the flows for allow rules. Hence, if traffic matches more than one conjunction, as in this case, the rule with higher priority wins.

[2020-02-07 01:12] antoninbas commented on #367
Whoever will work on the fix, please add an e2e test. This also sounds like a good candidate for a new K8s community Network Policy test. @jayunit100

[2020-02-07 01:19] abhiraut commented on #367
Yeah I found this case while collecting a list of test scenarios to add to the doc maintained by @jayunit100.

[2020-02-07 10:00] xiaomingkou opened #368 "Need to support integration with Multus"
Please give sample yamls as well.

[2020-02-07 16:31] #342 closed

[2020-02-07 17:56] McCodeman opened #369 "Create website"
**Describe the problem/challenge you have**
Create a website to introduce the project, describe its value and features, and provide appropriate community, development, release, and blog links.

**Describe the solution you'd like**
The site will use Jekyll / Ruby as a static site generator. Content will be automatically rendered from Markdown within the repo. Additionally, the docs directory will b

[2020-02-10 19:05] antoninbas commented on #331
@wenyingd I haven't taken a look at #372 and #373 yet, but what's the testing strategy for this? Do we have a K8s testbed with Windows Nodes and can we enable at least a subset of the tests we run on Linux as part of CI? @edwardbadboy @lzhecheng

[2020-02-10 19:30] reachjainrahul opened #374 "STT Encap doesnt work on Azure Cloud"
**Describe the bug**
A clear and concise description of what the bug is.
If you believe this bug is a security issue, please don't use this template and follow our [security guidelines](/SECURITY.md)

E2E tests failed with Encap mode STT.

**To Reproduce**
Steps to reproduce the behavior.
Deployed a setup with Ubuntu 18.04. It seems Tunnel interface creation failed for STT. Have a live setup

Logi

[2020-02-10 19:31] reachjainrahul opened #375 "Add E2E coverage for supported Encap mode"
**Describe the bug**
A clear and concise description of what the bug is.
If you believe this bug is a security issue, please don't use this template and follow our [security guidelines](/SECURITY.md)
Please add coverage for supported Encap modes in the CI pipeline.

**To Reproduce**
Steps to reproduce the behavior.

**Expected**
A clear and concise description of what you expected to happen.

**Ac

[2020-02-10 19:50] reachjainrahul commented on #374
Same issue is seen on both 16.04 and 18.04 Cloud VMs...

root@k8s-master-17122203-0:/# uname -r
4.15.0-1066-azure

root@k8s-master-17122203-0:/# lsmod
Module                  Size  Used by
veth                   16384  0
ufs                    77824  0
msdos                  20480  0
xfs                  1208320  0
openvswitch           131072  3
nsh                    16384  1 openvswitch
nf_conn

[2020-02-10 21:06] jianjuns commented on #374
Seems STT is not in upstream OVS in kernel. @antoninbas: how should we document this?

[2020-02-11 18:34] #62 closed

[2020-02-11 21:17] suwang48404 commented on #237
feature implemented in https://github.com/vmware-tanzu/antrea/pull/340

[2020-02-11 21:17] #237 closed

[2020-02-12 01:45] #332 closed

[2020-02-12 03:15] wenyingd commented on #331
We need a K8S testbed with Windows Nodes as the worker nodes, and the master Node should be Linux node. Since K8S components(kubelet, kube-proxy), Antrea agent and OVS are working as processes on Windows node, we will provide a script to help deploy and run the processes in later PRs, and we also need a Windows node to run Windows specific and common test cases.

For unit test and integration test

[2020-02-12 03:37] jayunit100 opened #379 "Working issue for broad CNI plugin enhancements and upstream test improvements"
Per conversation with others in the Sig-network and Antrea communities, we've decided to move work that ties together a broad range of testing and enterprise readiness work into an upstream initiative which we'll try to drive forward once we finish hashing out the details.

[2020-02-12 07:23] lzhecheng commented on #331
Currently, we don't have any Windows testbed :(

[2020-02-12 10:47] tnqn opened #381 "NetworkPolicy not applied to all Pods that it should be"
**Describe the bug**
Create a NetworkPolicy which applies to more than one Pod, only one Pod is isolated.
The bug was introduced in https://github.com/vmware-tanzu/antrea/pull/327/commits/f2cb2378cfa0e72985d0e5aed0eb855f16a013b3#diff-a21676983cd81218f77f27aa676bbe76R270.
When iterating a slice and storing its items' address, must not use the address of the loop iterator variable as it's the same a

[2020-02-12 18:52] jayunit100 commented on #381
i made a tracking issue for this https://github.com/kubernetes/kubernetes/issues/88090 , thanks so much for reporting this @tnqn , lets address this in our broader improvement strategy https://github.com/vmware-tanzu/antrea/pull/380 ? I think this falls broadly in the category of performance exploration for non-trivial pod+node scenarios

[2020-02-12 19:29] McCodeman opened #383 "Update GitHub issue templates to use new labels."
**Describe the problem/challenge you have**
Current issue templates use old label schema.

**Describe the solution you'd like**
Update the issue templates to use the new label schema.

**Anything else you would like to add?**
We will keep old labels on existing issues but will only use the new schema for new issues. Old Issues will also have the new labels added. For example, issues previously lab

[2020-02-12 19:49] McCodeman commented on #368
@xiaomingkou Thanks for the suggestion! Can you please provide additional context such as use cases, platforms, operating systems, etc. We would like to further discuss mutli-interface support and this would help us frame the problem and possible solutions.

[2020-02-12 20:39] McCodeman commented on #338
FYI.. @jayunit100 is working to improve upstream tests in #379. We should combine these efforts.

[2020-02-12 21:17] McCodeman commented on #280
FYI, Calico does not use standard K8s network policy for this use case, see https://docs.projectcalico.org/security/kubernetes-node-ports

Calico applies that ingress policy to the host using the PRE-DNAT option. It keeps the pod and host policy concerns separated.

I like the idea of simplifying the configuration in this scenario for the user because the typical user will not understand the packe

[2020-02-12 21:29] McCodeman commented on #278
We should consider a more general move of our controllers to https://github.com/kubernetes-sigs/kubebuilder or more generally, use the https://github.com/kubernetes-sigs/controller-runtime. (kubebuilder is a scaffold and wrapper around controller-runtime). These both have reasonable defaults for things such as `resyncPeriod` and track the kubernetes api-machinery closely. I will put together a pro

[2020-02-13 01:02] antoninbas commented on #323
@weiqiangt I think you have a fix ready for this (I asked you to remove it from the antctl framework refactor PR). Do you think you can open a new PR with the fix so we can close this for 0.4.0? Thanks.

[2020-02-13 01:27] weiqiangt commented on #323
The OpenAPI changes is depends on the refactoring, I think it is not able to have a separate PR for the fix.

[2020-02-13 05:12] tnqn commented on #381
@jayunit100 Glad to see this case can be covered in e2e potentially.
Just in case another e2e test falls in the improvement proposal:
We found K8s e2e tests don't cover the case that a named port maps to different port numbers selected by a policy. I wrote a case in antrea e2e test suite to verify it and it's where I caught this issue. The code (via PR #336) is not merged yet, you can view it here

[2020-02-13 06:56] #381 closed

[2020-02-13 08:22] tnqn opened #386 "NetworkPolicy rules are not enforced correctly in some case"
**Describe the bug**
The upstream e2e `should allow egress access to server in CIDR block` is failing randomly.
It looks like a race condition when enforcing 2 egress rules.

**To Reproduce**
The e2e test deletes the test pod and policy too fast so hard to debug.
To reproduce step by step:
[code]
Now client should be able to access 10.30.0.59:80 and all addresses' 8080 port.
But there's a possibil

[2020-02-13 08:23] tnqn commented on #386
@wenyingd could you take a look at this? I suspect it's related to #332 .

[2020-02-13 09:01] AkashSarda commented on #365
Hi, I am a first time contributor, but also quite novice to Antrea. Since this is marked as a good-first-issue, can I take this issue?

[2020-02-13 09:40] xiaomingkou commented on #368
Thanks for your attention. In my case, I just need the basic second interface on some application pods. It should be similar to calico+multus. It's better if there will be some sample yamls to deploy a cluster with Antrea+multus easily. Please refer to https://github.com/k8snetworkplumbingwg/reference-deployment.
And I'm using ubuntu as k8s nodes os, might switch to photon in the future. The platf

[2020-02-13 12:52] tnqn commented on #365
@AkashSarda You are welcome to take it. I think the issue description is clear, feel free to let us know if any problem.

[2020-02-13 13:22] tnqn commented on #278
@McCodeman thanks for the information. We indeed considered kubebuilder in the beginning, but found it's CRD facing while CRD can't meet our requirement of policy dispatching: incremental update and span based transfer to achieve best efficiency. So we leverage various K8s libraries and tools directly and build our own apiserver and controller.
For controller-runtime, I just checked its interface,

[2020-02-13 18:42] antoninbas commented on #365
@AkashSarda I assigned the issue to myself so that no one else starts working on this.

Let us know on the Antrea Slack if you need help with anything!

[2020-02-13 18:43] antoninbas commented on #365
Actually I was able to assign the issue to you, so even better :)

[2020-02-13 21:55] jayunit100 commented on #386
Should we harden the upstream tests to reproduce this more reliably ?

[2020-02-14 02:48] tnqn commented on #386
@jayunit100 I think this might be too specific to internal implementation (might be race condition), hard to describe a generic scenario for it. It's detected by upstream test, even the steps I wrote can't reproduce it 100%.

[2020-02-14 02:49] tnqn commented on #386
@wenyingd could you prioritize this bug as it might affect our network policy functionality in upcoming 0.4.0?

[2020-02-14 02:55] wenyingd commented on #386
Sure, I will look into it.

[2020-02-14 09:46] AkashSarda commented on #365
Sure, Thanks a lot @antoninbas , @tnqn !

[2020-02-14 21:49] jayunit100 opened #391 "Network policy proposal updates"
@sedefsavas mentioned a couple of things she was going to work on, just putting them here for tracking.

- Node stories for testing in https://github.com/vmware-tanzu/antrea/blob/community-network-policy-tests/docs/design/cni-testing-initiative-upstream.md
- Discussing the use case and tradeoffs with regard to  redundant test matrices

[2020-02-17 02:13] #122 closed

[2020-02-17 02:14] #343 closed

[2020-02-17 02:57] #386 closed

[2020-02-17 17:12] tnqn commented on #323
@weiqiangt I met this issue and did some investigation, I see the OpenAPI endpoint doesn't have to have specs of all its paths (even kube-apiserver doesn't have all OpenAPI specs of its paths).
I see your refactoring PR doesn't have it yet, I can push a separate PR to fix it. Please let me know if it's ok.

[2020-02-18 01:40] weiqiangt commented on #323
Thanks @tnqn, the OpenAPI changes were moved to another CL which depends on the refactor. I appreciate if you could have a fix.

[2020-02-18 17:13] swade1987 commented on #366
I am happy to implement this!

[2020-02-18 22:52] antoninbas opened #399 "Flaky NetworkPolicy test"
**Describe the bug**
I have observed that one community Network Policy test starting failing occasionally in Jenkins:
[code]

I never noticed it before, so maybe it was introduced by a recent change?

[2020-02-18 22:53] antoninbas commented on #399
@tnqn apologies if this is a duplicate or if there is a pending PR to fix it. I did a quick search and couldn't find any relevant issue / PR but I may have missed something.

[2020-02-18 22:56] antoninbas commented on #399
For those with access to the Jenkins testbed:

* this run failed: http://10.176.26.99:8080/job/antrea-automation-networkpolicy-for-pull-request/198/
* but not this one: http://10.176.26.99:8080/job/antrea-automation-networkpolicy-for-pull-request/199/

The code tested was the same.

[2020-02-19 01:57] tnqn commented on #399
Thanks @antoninbas for the information. I saw it once in test result of https://github.com/vmware-tanzu/antrea/pull/390#issuecomment-586188723, then never reproduced.
I will take a look and try reproducing.
/assign

[2020-02-19 03:59] #278 closed

[2020-02-19 06:26] #323 closed

[2020-02-19 06:28] #279 closed

[2020-02-19 17:00] tnqn commented on #399
It's really hard to reproduce, I tried 10+ times locally.
The failure is not caused by Antrea implementation, but because the test doesn't wait for server Pod to be ready so there's a chance the traffic is rejected by iptables if the corresponding Service has no endpoints.
Please see my analysis at kubernetes/kubernetes#88340
Also created PR kubernetes/kubernetes#88341 to fix it in upstream.

[2020-02-19 18:13] antoninbas commented on #399
Thanks for tracking this down @tnqn. The failure rate is so low that we can leave the test enabled in CI. I suggest we keep this issue open until the upstream issue is resolved, in case someone else runs into this problem with their PR.

[2020-02-19 18:14] antoninbas commented on #383
@McCodeman It seems that you have taken care of updating labels for existing issues. Do you want to close this?

[2020-02-19 18:19] antoninbas commented on #337
No open patch for this (probably will happen after https://github.com/vmware-tanzu/antrea/pull/356), so pushing this out to 0.5.0.

[2020-02-19 18:20] antoninbas commented on #253
There is ongoing work on this, should be ready within the next couple of weeks.

[2020-02-19 21:44] antoninbas opened #401 "Support a more "hitless" upgrade"
**Describe the problem/challenge you have**
When the Antrea Agent Pod is restarted gracefully as part of a rolling update (e.g. when upgrading to a more recent Antrea version), existing connections are impacted. https://github.com/vmware-tanzu/antrea/pull/358 is a step in the right direction, but its scope is limited. In particular, when using Antrea in overlay mode, existing connections which go

[2020-02-20 03:26] tnqn commented on #399
It's fixed in upstream now, but not in any release yet (should be in a beta release soon), we can specify a newer kube-conformance-image-version to adopt the fixes. BTW, we don't have to skip any network policy test once moving to 1.18 test image.

[2020-02-20 18:30] #355 closed

[2020-02-20 18:40] antoninbas opened #404 "Update OVS version to 2.13.0 in Antrea docker image"
**Describe what you are trying to solve**
We currently use version 2.11.1. Since that version was released, several improvements were made, in particular to the userspace datapath (see http://docs.openvswitch.org/en/latest/faq/releases/ and https://github.com/openvswitch/ovs/blob/master/NEWS). In particular, upgrading to 2.13.0 should resolve https://github.com/vmware-tanzu/antrea/issues/348.

The

[2020-02-20 19:19] antoninbas commented on #404
Release tarball not available yet at https://www.openvswitch.org/releases/openvswitch-2.13.0.tar.gz. Pushing this out to 0.5.0.

[2020-02-20 20:15] dilan-js commented on #361
Hi all, I would like to complete this issue!
Thanks, Dilan

[2020-02-24 09:54] tnqn opened #407 "antrea-agent should use antrea versioned types consistently"
**Describe the bug**
Antrea apis define its own types for NetworkPolicy related objects, which are used in messages from antrea-controller to antrea-agent. But the openflow implementation is using upstream types which needs the antrea types to be converted to upstream types. They should use antrea types consistently to avoid unnecessary conversion.
This tracks the TODO:
https://github.com/vmware-t

[2020-02-25 19:57] jayunit100 opened #411 "Working through last bits of netpolicy test proposal improvements."
- parameter count for functions — maybe consider intermediary builders to take advantage of “dot” syntax and prevent confusion of parameters (i.e., podSelector and nsSelector are same type) https://github.com/jayunit100/k8sprototypes/blob/560650f101a4eb495651325f68259d2bbfa83396/netpol/pkg/utils/networkpolicyspecbuilder.go#L83
- Can you infer the type of network policy based on the builder constit

[2020-02-26 06:59] jianjuns opened #417 "ESP header size should be deducted from Pod interface MTU when IPsec is enabled"
**Describe the bug**
When IPsec tunnel is enabled, ESP header size (38 bytes) is not deducted from Pod interface MTU, which can cause big packets got dropped.

**To Reproduce**
Enable IPsec tunnel, and ping Pod or gw0 on another Node with any size > 1396, e.g.:
ping <remote-pod-ip> -s 1397.
The packets will be dropped since the packet size after IPsec encapsulation is bigger than Node interface MT

[2020-02-26 10:37] tnqn opened #418 "TestAntctlAgentLocalAccess failed occasionally"
**Describe the bug**
`TestAntctlAgentLocalAccess` failed occasionally.
[code]
agent log shows the antctl server was started at 02:08:27.823677 after the test sent CLI request (02:08:27.755053):
[code]
The test should ensure antrea-agent is ready before testing its API.
We can leverage readiness probe, which is currently a dummy script:
https://github.com/vmware-tanzu/antrea/blob/269299f678971e421a

[2020-02-26 12:57] tnqn opened #419 "Add health checks to antrea components"
**Describe what you are trying to solve**
antrea-controller and antrea-agent don't have valid health check yet.
The health checks are useful in some cases, for example:
Readiness can be used to indicate whether antrea-controller and antrea-agent has finished their initialization successfully and is ready to serve requests.

**Describe the solution you have in mind**
antrea-controller and antrea-ag

[2020-02-26 13:00] tnqn commented on #419
@jianjuns @antoninbas please share your opinion. If you agree with this proposal, I'd like to assign this to @ZhangYW18.

[2020-02-26 13:01] tnqn commented on #418
@ZhangYW18

[2020-02-26 17:08] McCodeman opened #420 "Refine no-encap for AWS EKS"
**Describe the problem/challenge you have**
@suwang48404 , can you edit to provide additional details of how you are tweaking no-encap mode.

**Describe the solution you'd like**
A description of what you want to happen.

**Anything else you would like to add?**
Anything else which is relevant and may help us understand the issue.

[2020-02-26 17:26] jianjuns opened #421 "Antrea Agent does not update tunnel type after restart when the configured tunnel type changes"
**Describe the bug**
If we change the tunnel type (e.g. from VXLAN to GRE) and restart Antrea Agent, Agent will not update the tunnel type of tun0, and so traffic is still sent using the old protocol.

**To Reproduce**
Redeploy Antrea with a new tunnel type.

**Expected**
Antrea Agent should update the tun0 type to the lasted configured tunnel type after starts.

**Versions:**
 - Antrea version (D

[2020-02-26 17:34] jianjuns opened #422 "Packets from tunnel input from IPsec tunnel ports and get dropped"
**Describe the bug**
In 0.4.0, we changed to use flow based tunneling even when IPsec is enabled. But the change introduces an issue that the received packets are still input from the IPsec tunnel ports not tun0 by OVS, and get dropped.
Unfortunately, this is not captured by our CI tests. It is because in the CI test, we first deploy Antrea with VXLAN tunnel type and IPsec disabled, and then re-de

[2020-02-26 18:02] jianjuns commented on #419
Make sense to me to add health check. Laster do you think we can add a CLI command for health check?

[2020-02-26 18:03] jianjuns commented on #419
BTW, I think ping based health check is a good one for Antrea beginner. @antoninbas @McCodeman

[2020-02-26 18:19] antoninbas commented on #419
I agree that it could be a good first issue but it seems that one of the tests is flaky because of the lack of health check (#418), so I understand if @tnqn wants to fix it right away.

[2020-02-26 23:12] poozza opened #424 "Document Antrea Support for the public cloud"
**Describe the problem/challenge you have**
I would like to know if Antrea is supported in AWS and Azure. What operating systems are supported?

**Anything else you would like to add?**
What security ports do I need to open to have Antrea working.
I would like an example of Antrea working in the Public Cloud

[2020-02-27 00:24] jianjuns opened #426 "Bcast packets are output to IPsec tunnel ports"
**Describe the bug**
Bcast packets (mainly ARP) will be output to all IPsec tunnel port on the OVS bridge. They will be tunneled to the remote Nodes and should be dropped in table 30 (at least for non-IP packets).

**To Reproduce**
Enable IPsec tunnel, and generate ARP requests e.g. using ping. Then you can see from OVS port stats or use tcpdump to capture tunnel packets to verify such packets are

[2020-02-27 00:25] jianjuns commented on #426
@wenyingd : as we discussed, we probably need no-forward support in ofnet to prevent packets output tunnel ports.

[2020-02-27 02:23] tnqn commented on #419
@jianjuns for liveness/readiness, they support http type probe so we can specify the endpoint directly, like K8s components' probes:
[code]
But of course, we can have a CLI to access the API endpoint for troubleshooting

[2020-02-27 02:30] ZhangYW18 commented on #418
Hi, this is a good-first-issue and I can take this issue.

[2020-02-27 02:54] jayunit100 opened #427 "Look into parallelizing NetworkPolicy tests"
We should be able to parallelize the Connectivity verification (Reachability) components of the network policy tests... note this does *not* include parallelizing the tests themselves, since of course, the identical namespaces will have stacked policies that result in different results.

But the Reachability is the bottlneck, so parallelization will increase test times by 50% or more (120s -> 30 s

[2020-02-27 06:40] rbhamre opened #430 "Ping is not working from one-of the pod after pod churn test on scale setup"
**Describe the bug**

############################

- Deployed a single k8s-cluster having 3 masters and 40 worker nodes
- Scaled up 400 NSs and 4k pods
- Initiated churn test of add/delete pods in a setup
- After certain iterations, observed that mesh ping is failing from one-of the pod out-of 4k pods

As shown below, ping to default gw from this pod is not working

# kubectl exec -it -n ns-105 c

[2020-02-27 06:55] rbhamre commented on #430
[antrea-logs.tar.gz](https://github.com/vmware-tanzu/antrea/files/4259919/antrea-logs.tar.gz)

[2020-02-27 07:22] tnqn commented on #430
Thanks @rbhamre for the great finding!

I had a discussion with @wenyingd. This should be due to a race between CNI ADD and CNI DEL events of different Pods on the same Node.
When coffee-rc-q9jcp was being created, coffee-rc-pmjx6 was being removed. The race happened in the following order:
1. ovs released coffee-rc-pmjx6's ofport 12572
2. ovs allocated ofport 12572 to coffee-rc-q9jcp
3. antrea-ag

[2020-02-27 08:12] #407 closed

[2020-02-27 09:30] rbhamre opened #431 "Most of the antrea-agent pods were restarted due to error code 137"
**Describe the bug**
###############################
It has been observed that most of the antrea-agent pods were restarted due to error code 137.
###############################

**To Reproduce**
Steps to reproduce the behavior.
###############################
- Deployed a single k8s-cluster having 3 masters and 40 worker nodes
- Scaled up 400 NSs and 4k pods
- Initiated churn test of add/delete

[2020-02-27 09:33] rbhamre commented on #431
[antrea-logs.tar.gz](https://github.com/vmware-tanzu/antrea/files/4260743/antrea-logs.tar.gz)

[2020-02-27 12:40] jayunit100 opened #432 "Define execution gift-wrapping (Sonobuoy plugin?K8s E2E library? Standalone ginkgo?) for netpol tests"
For #408 we currently have a *main* function that continuously cleans things out manually, and then calls each test individually:

[code]
Obviously this can be simplified with a `BeforeEach` (ginkgo) style invocation or a `[]func` directly in golang... , but since we dont really want to build a test framework, we should either

- consolidate on ginkgo
- consolidate directly on e2e.go upstream styl

[2020-02-27 12:52] jayunit100 opened #433 "Fuzz Testing for Netpol testing API"
**Describe the problem/challenge you have**

Since network policies can deterministically be used to generate logically passing/failing pod connection scaffolds, we should simply generate pods and namespaces logically for some larger scale performance tests using the netpol api merged in #408

**Describe the solution you'd like**
- Input: A Network policy
- Output: A Set of namespaces and pods whi

[2020-02-27 13:52] tnqn commented on #431
Thanks @rbhamre for reporting this!

Since the restarted container was antrea-ovs and the exit code is 137, I suspect it's kubelet killed them due to probe failure. Could you improve log level of kubelet and collect logs of it after antrea-agent on it was restarted? If it's confirmed, we can then focus on investigating why `ovs-ctl status` failed so frequently.

Adding "-v=1" to kubelet is enought

[2020-02-27 19:27] zyiou opened #435 "Antrea unit tests fail with go 1.14 version"
**Describe the bug**
Unit test on github.com/vmware-tanzu/antrea/pkg/agent/util failed when using go 1.14 version. If using go 1.13, all unit tests will pass. Here is the log trace:

[code]

**To Reproduce**
* Download the Antrea code and install go 1.14 with go1.14.linux-amd64.tar.gz
* run `make test-unit`

**Expected**
All unit tests should pass

**Versions:**
Please provide the following inform

[2020-02-27 19:28] antoninbas commented on #435
Thanks for reporting this. Do you know if this is an issue with Antrea or with the netlink Go package?

[2020-02-27 19:57] YiouZhu1010 commented on #435
According to logs it seems an issue with netlink Go, just in case that Antrea might be involved in.

[2020-02-27 20:04] antoninbas commented on #435
That was fixed in https://github.com/vishvananda/netlink/pull/507

Probably all we need to do is update the netlink version we are using. Let me take a look.

[2020-02-27 20:32] antoninbas opened #437 "Bump Go version for CI to 1.14"
Go 1.14 was released a couple days ago. We may want to upgrade the version we use for CI testing.

Trying to run unit tests with Go 1.14 revealed one issue (https://github.com/vmware-tanzu/antrea/issues/435), caused by the addition of `-d=checkptr` as a compile-time option (see https://golang.org/doc/go1.14#compiler).

[2020-02-27 20:34] antoninbas commented on #435
I opened a PR to fix this: https://github.com/vmware-tanzu/antrea/pull/436. I also opened an issue to track bumping up the Go version we use for CI to 1.14: https://github.com/vmware-tanzu/antrea/issues/437

[2020-02-27 21:27] #417 closed

[2020-02-27 21:27] #421 closed

[2020-02-27 21:27] #422 closed

[2020-02-27 21:32] McCodeman opened #438 "Update Issue Templates to match kind/<kind> labels"
**Describe the problem/challenge you have**
Update the issue templates to map to the issue `kind/<kind>` labels. Currently, the issue templates use the old labels.

**Describe the solution you'd like**
We will create the following GitHub Issue Templates:
- `kind/documentation` - Create or update documentation
- `kind/design` - Describe a feature you are planning to implement
- `kind/support` - Sup

[2020-02-27 21:43] #430 closed

[2020-02-28 05:20] rbhamre opened #442 "After performing network-policy churn on scale setup, all open flows are missing from few antrea-agent pods which causes 100% traffic drop."
**Describe the bug**
##################################

   - Deployed a single k8s-cluster having 3 masters and 40 worker nodes
    - Scaled up 400 NSs and 4k pods
    - Initiated network-policy churn test in a setup i.e. continuous add/delete network-policies across all 400 namespaces
    - After certain iterations, all open flows are missing from few antrea-agents which causes 100% traffic drop

[2020-02-28 05:20] rbhamre commented on #442
[antrea-agent-1.tar.gz](https://github.com/vmware-tanzu/antrea/files/4265343/antrea-agent-1.tar.gz)
[antrea-agent-2.tar.gz](https://github.com/vmware-tanzu/antrea/files/4265344/antrea-agent-2.tar.gz)

[2020-02-28 08:09] tnqn commented on #442
Thanks @rbhamre again for reporting this!

Since this only happened during networkpolicy churn test, I suspect it's due to deadlock or goroutine hanging in networkpolicy goroutines.
antrea-ovs container state, it was terminated at 15:44:30:
[code]
antrea-agent logs:
[code]
At 15:44:32.695824, it tried to replay OF flows after reconnecting to OVS but never finished (otherwise there should be a log

[2020-02-28 13:53] wenyingd commented on #442
I added a test and find that the functions to send OpenFlow messages might not return if OVS is restarted at the same time. There are two possible reasons blocking the function: 1) OFSwitch is writing message to an outbound channel, but no consumer at the peer because connection to OVS is blocked. 2) Bundle implementation is waiting for reply of the BundleControl message, but after OVS is restarte

[2020-02-28 17:53] #435 closed

[2020-02-28 17:54] #348 closed

[2020-02-28 17:54] #404 closed

[2020-02-29 01:57] antoninbas opened #448 "Automate Github release creation with a script"
**Describe what you are trying to solve**
I currently create each release manually by following the steps documented in https://github.com/vmware-tanzu/antrea/blob/master/docs/maintainers/release.md. This can be error-prone (and tedious), and as the project grows, there may be additional tasks to perform to create a release.

**Describe the solution you have in mind**
The process can be refined ov

[2020-02-29 19:34] tomk235 opened #450 "Containers for ARM architecture"
**Describe the problem/challenge you have**
Hi. as the containers that the installer adds are x86 they won't run on a raspberry. Would just be nice to have them available for ARM.

**Describe the solution you'd like**
Possibility to choose ARM architecture or instructions to create the containers for ARM architecture from source.

Thanks,
Tom

[2020-03-02 06:50] #442 closed

[2020-03-02 07:29] lzhecheng commented on #253
Now Antrea logs can be found [here](https://jenkins.antrea-ci.rocks).

Closing the issue.

[2020-03-02 07:29] #253 closed

[2020-03-02 23:04] antoninbas commented on #450
@McCodeman what should be the priority for this item in your opinion?

[2020-03-03 06:54] yktsubo commented on #326
HI, if this is long-term issue, can I work on this?

[2020-03-03 19:44] antoninbas opened #455 "Do not run e2e tests (Kind & Jenkins) for documentation PRs"
It would help keep the pressure lower on the CI systems. This enhancement was suggested by @lzhecheng.

One idea is to skip the CI tasks if the only modified files are under `docs/`, or have the `.md` extension.

[2020-03-03 19:49] antoninbas commented on #455
Note that jobs still need to report "success" to Github or the PR cannot be merged.

[2020-03-03 20:49] jianjuns commented on #326
@yktsubo : yes of course! Welcome to join us on Antrea!

[2020-03-03 21:41] abhiraut commented on #399
this should be fixed now? considering we moved to beta build?

[2020-03-03 21:42] antoninbas commented on #399
The issue will close automatically when #451 is merged

[2020-03-04 01:58] #399 closed

[2020-03-04 13:45] #239 closed

[2020-03-04 15:27] tnqn opened #463 "Provide service loadbalancing function to Pods via openflow in antrea-agent"
**Describe what you are trying to solve**
Given recent code change and some ongoing designs, I want to propose we improve the priority of implementing kube-proxy via openflow in antrea, reasons as below:

- NoEncap and passthrough mode are hacked and complex because of the dependency of K8s kube-proxy.
Currently only K8s kube-proxy can do DNAT for service traffic, so packets must be sent to host n

[2020-03-04 17:47] jayunit100 opened #464 "Support scale testing framework for network policies"
**Describe the problem/challenge you have**

Netpol framework is hardcoded to a/b/c x/y/z

**Describe the solution you'd like**

Would like to test larger scales of , for example, 30 pods per node. and possibly use

- fuzz testing to ensure breadth of coverage : generate policy and back calculate expectations
- psuedo-random verification for performance:  reducing probe test coverage (so that we d

[2020-03-04 19:11] antoninbas commented on #433
Somebody brought-up https://github.com/inovex/illuminatio in the KEP PR (https://github.com/kubernetes/enhancements/pull/1568). That project does something very much in-line with what I had in mind: it looks for existing Network Policies in the cluster and build test cases automatically for them. It doesn't look like they intend to move the code to upstream k8s. It is definitely worth taking a loo

[2020-03-04 23:30] jianjuns commented on #224
@tnqn and @weiqiangt: I am assigning this issue to you as you worked on the scale tests and already made some progress. Maybe you want to update the issue and add progress?

[2020-03-04 23:32] jianjuns commented on #464
Would like @tnqn and @weiqiangt to comment too, as they worked on our current scale tests. In general I would agree always good to share the framework for tests. But #224 created by me also includes some simulation (of Nodes and Pods) part.

[2020-03-05 00:31] antoninbas opened #467 "Initial packet drop when running Antrea on Kind cluster"
**Describe the bug**
When running Antrea on a Kind cluster (thus with the OVS netdev datapath), it seems that the first IP packet that needs to go across Nodes on the VXLAN overlay is dropped (this happens fairly consistently).

**To Reproduce**
1. Create cluster and deploy Antrea
[code]
2. Create the following Pods
[code]

3. Ping `busybox-worker` from `busybox-master` (or vice versa)

**Expected

[2020-03-05 15:25] tnqn commented on #48
It seems CI met this issue too recently and a little frequently.
https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/99/console
https://jenkins.antrea-ci.rocks/job/antrea-conformance-for-pull-request/52/console
https://jenkins.antrea-ci.rocks/job/antrea-conformance-for-pull-request/50/console
[code]
Reopened it to track.

[2020-03-05 18:43] antoninbas commented on #467
This seems to be a bug with VXLAN tunnels in the OVS netdev datapath, since I was able to reproduce it outside of Antrea. I have asked the OVS team for help.

[2020-03-05 23:12] antoninbas opened #472 "Flaky netpol test in CI"
**Describe the bug**
I have observed that the netpol tests sometimes fail in Kind (as part of the Github CI):
[code]

I believe this has nothing to do with #467, since in this case we have one Pod which cannot access the HTTP server running on itself. That traffic does not even go through OVS and is orthogonal to Network Policies.

Looking in the logs above, we can see:
[code]

This error is the s

[2020-03-06 00:20] McCodeman commented on #450
@antoninbas how much time do we estimate repackaging for ARM would take? Would any special tuning be required for rasberry pi platform. Is there an IOT, edge, or other use case for this? @tomk235 can you provide us some additional user story context so we can prioritize appropriately.

@tomk235 we could also work with you to update our Makefile and build process to produce the cross compiled binar

[2020-03-06 00:27] McCodeman commented on #450
@tomk235 which arm architectures are you targeting: ARMv4, ARMv5, ARMv6, ARMv7, ARMv8? We need to see which architectures support cross compile for OVS components as well.

[2020-03-06 00:30] antoninbas commented on #450
@McCodeman It seems fairly easy to build Docker images for different architectures in practice (https://docs.docker.com/docker-for-mac/multi-arch/). But it's hard to give a time estimate. If everything goes smoothly it will just take a couple hours to set everything up. But if we run into issues, e.g. when building OVS, it could take much longer to figure things out.

[2020-03-06 00:46] antoninbas commented on #450
I'm trying this in the background. Will report back here if there is any issue.

Note that we currently use Ubuntu as the base image and that only supports ARMv6 onwards:
[code]
This is why Raspberry Pi 1 (ARMv6) cannot run Ubuntu, but RPI 2(ARMv7) can. On my side I am reluctant to change the base image just to support RPI 1...

[2020-03-06 01:50] antoninbas commented on #450
After 1+ hour running on my laptop, the base image for Antrea (which includes OVS) is not even close to being built (it hasn't even started building OVS itself yet). It seems that the emulation is making this painfully slow. This tells me that if we use `docker buildx`:
 * we cannot build the ARM Docker images as part of CI
 * even if we only build the images as part of releases, it may still be t

[2020-03-06 04:44] rbhamre opened #475 "On scale setup having 100k pods, 50k services and 50k network-policies, accessing SVC-IPs from pods is failing with timeout error."
**Describe the bug**
On scale setup having 100k pods, 50k services and 50k network-policies, accessing SVC-IPs from pods is failing with timeout error.

NOTE: Due to network-policy issue https://github.com/vmware-tanzu/antrea/issues/442 used latest antrea build in which this issue was observed.
Below is the latest antrea build details used in the setup:

# antctl version
{
  "agentVersion": "v0.5.

[2020-03-06 06:26] tnqn commented on #475
When the access failed, the packets were NATed to specific Pod.
Packets captured on network device of target Pod:
[code]
The packets has the virtual MAC as dst MAC, so it's because L3 forwarding flows not working.
Dumped the flows:
[code]
It should be caused by flows not being replayed after restarting ovs, but not blocked by the same reason as #442 .
[code]
This time it didn't even start replayin

[2020-03-06 06:52] tnqn commented on #475
The issue is not specific to master branch, I can reproduce it with v0.4.0 too:
Killed the antrea-ovs container, if it took more than 5 seconds to restart ovs, the agent will loss connection to it and cannot recover.
Successful reconnecting case:
[code]
Failed reconnecting case:
[code]
Looks like bug of reconnecting mechanism of ovslib, but I didn't see openflow client recovered too, are they rela

[2020-03-06 07:57] tnqn commented on #475
To clarify, the ovsdb connection is recovered, it's openflow client not recovered, @wenyingd has found where the problem is, she will update and provide a fix.

[2020-03-06 09:08] tnqn opened #477 "`antctl get network-policy` output not very friendly"
**Describe the bug**
`antctl get network-policy` outputs data in json by default, which is a little inconvenient to have an overall view of the data, the default format should be more human friendly.
However, even with `-o table`, the output is not friendly enough:
[code]
1. The fields order changes randomly, it should be consistent and start from identifer.
2. There is no length limit for a line

[2020-03-06 09:11] tnqn commented on #477
@ZhangYW18 please see if you can improve this.

[2020-03-06 18:41] #472 closed

[2020-03-06 23:16] lzhecheng opened #479 "Execute jenkins-jobs-validator only when jenkins setup code changed"
**Describe what you are trying to solve**
Now there is a jenkins job: `jenkins-jobs-validator` executed when every PR is created. This is no necessary. `jenkins-jobs-validator` should only be executed when code under ci/jenkins/jobs is changed.

**Describe the solution you have in mind**
Modify code under ci/jenkins/jobs to change jenkins setup.

[2020-03-09 00:30] theshubhamp commented on #364
I didn't see anybody working on this issue so I took it up. Here's the first pull request that resolves a few reported issues which were trivial to fix: https://github.com/vmware-tanzu/antrea/pull/480

[2020-03-09 04:08] ZhangYW18 commented on #477
I read the code involved, the above problems are applied to all commands with table output, not just 'antctl get network-policy'.  Do we need to modify the format for all commands?

[2020-03-09 05:31] ZhangYW18 commented on #477
We can use Golang tags in command response struct definition to deal with most of the issues.
1. Use tags to specify the order. Sort according to field names in the alphabet order in default.
2. Use tags to specify constraints (length, maximum contents) when defining the return struct of commands.
3. Modify the response types in /pkg/antctl/transform. For a specific response struct, we need to rem

[2020-03-09 07:29] tnqn opened #481 "CI failed frequently because of building image failure"
**Describe the bug**
Similar to bug #48, CI tests failed because of the following image failure:
[code]
The missing image was made in step 4:
[code]
but was cleaned up by other builds executed simultaneously:
https://github.com/vmware-tanzu/antrea/blob/ab3414e4d557315bd60d133b17f53dde4834b5f1/ci/jenkins/jobs/macros.yaml#L182.

**To Reproduce**
Seen in jenkins logs:
https://jenkins.antrea-ci.rocks/

[2020-03-09 09:28] tnqn commented on #48
As this was seen in CI tests recently, I investigated the failure and found it's was because the 3rd stage building cannot found the image that should had been built in the 1st stage.
`kubelet` has periodical GC tasks to clean up unused images, which will be executed when the disk usage is higher than 85%. And because this intermediate image was considered "not in use", it was removed during stage

[2020-03-09 09:28] #48 closed

[2020-03-09 10:22] tnqn opened #483 "Unit test TestRamStoreWatchTimeout is flaky"
**Describe the bug**
The unit test failed occasionally:
[code]
This was because terminating watchers is asynchronous and it could take some extra time to receive the terminated notification. The extra time was set to 10 ms which turned out to be not safe enough as we have seen this failure.

**To Reproduce**
Benchmark the test hundreds of times, it may encounter the failure.
[code]

**Expected**
T

[2020-03-09 12:33] tnqn opened #485 "CI failed because of secret not found"
**Describe the bug**
Sometimes CI failed because of the following errors:
[code]

**To Reproduce**
https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/121/console

**Expected**
It shouldn't happen.

[2020-03-09 18:07] antoninbas commented on #485
I have observer this several times as well. @edwardbadboy and @lzhecheng believe that this is an issue with cluster deletion with ClusterAPI.

[2020-03-09 21:06] antoninbas opened #487 "[Netpol] Run probes in parallel"
**Describe the problem/challenge you have**
When computing the reachability the matrix for each test case, there seems to be no reason not to run the probes in parallel. This should further reduce the amount of time required to run the tests.

[2020-03-10 00:50] #481 closed

[2020-03-10 00:57] #475 closed

[2020-03-10 01:30] wenyingd opened #488 "jenkins-e2e failed with error: Pod xxx is forbidden: unable to create new content in namespace antrea-test because it is being terminated"
**Describe the bug**
Multiple test cases are failed in jenkins-e2e test, and got errors like this:
[code]
The failed build link is https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/127/.

**To Reproduce**
Not happen every time.

**Expected**
Testing pods could be created correctly.

**Actual behavior**
Pod  xxx is forbidden: unable to create new content in namespace antrea-test becau

[2020-03-10 03:10] antoninbas commented on #361
@dilan-js do you still intend to take a stab at this? Thanks.

[2020-03-10 04:19] jianjuns commented on #8
@antoninbas @salv-orlando : do you think this issue can be resolved now?

[2020-03-10 04:23] jianjuns commented on #243
@wenyingd : do libOpenflow and ofnet support flow note now?

[2020-03-10 04:25] wenyingd commented on #243
No. The message is not added in libOpenflow yet.

[2020-03-10 06:50] tnqn opened #491 "Jenkins CI is testing wrong commit"
**Describe the bug**
Jenkins CI is not testing the commit in PRs.
For example, https://jenkins.antrea-ci.rocks/job/antrea-conformance-for-pull-request/76/console
The merge commit should be:
[code]
But the output of antctl show 41048b0 which is the latest master commit.
[code]

**To Reproduce**
Run any Jenkins tests.

**Expected**
It should test the PRs' commit.

**Actual behavior**
It tested maste

[2020-03-10 18:01] abhiraut commented on #488
related ? https://github.com/vmware-tanzu/antrea/issues/485

[2020-03-10 21:19] #487 closed

[2020-03-11 03:14] tnqn commented on #491
@lzhecheng can we close it now since $471 is merged?

[2020-03-11 03:26] #418 closed

[2020-03-11 04:20] tnqn commented on #477
@ZhangYW18 The solutions sound good to me.
For 2, how is it related to rows?
I prefer the column width is not fixed and not filled with spaces.
It should be short when the content is short but have a maximum length, after which it should be truncated. The maximum length can be fixed for all columns.

[2020-03-11 04:51] tnqn opened #494 "Namespace cannot be deleted after upgrading antrea from 0.4.0 to 0.5.0-dev"
**Describe the bug**
I upgraded my cluster from 0.4.0 to 0.5.0-dev, none of namespaces can be deleted due to the errors below:
[code]
It should be introduced by this change #356 where `v1beta1.system.antrea.tanzu.vmware.com` was removed and antrea-controller doesn't has that API any more. But the apiservice was not unregistered and blocked all namespace deletion.

**To Reproduce**
1. Deploy antrea

[2020-03-11 05:00] ZhangYW18 commented on #477
This requirement can be solved automatically by https://github.com/jedib0t/go-pretty.

Also, for issue 4, a more concise and universal solution is to put on a map to store the titles which are needed to be converted when getting headers. This solution applies to all response structs with the same field names. It is not necessary to use tags.

[2020-03-11 05:09] ZhangYW18 commented on #477
I think the codes can be done within this week.

[2020-03-11 06:12] lzhecheng commented on #491
Yes, sure.

[2020-03-11 06:12] #491 closed

[2020-03-11 07:45] tnqn commented on #494
Applying a newer version of yaml is the most used way to upgrade, but without extra arguments there will be this kind of issues when some resources are removed from the yaml.
To clean up unneeded resources by applying yaml, kubectl provides "--prune" argument.
[code]
However, APIService is not in default prunewhitelist, we will have to specify what resources need to clean up:
[code]
I think we cou

[2020-03-11 12:44] jayunit100 opened #496 "Netpol Unit tests for the builder"
We need to build unit tests for explicitly testing the builder per vallerys comment...

https://github.com/kubernetes/enhancements/pull/1568#issuecomment-597392632

Easy task will get it started

It actually turns out that in writing these tests I found a bug in the way we handle protocols also, so this test fixes that bug and also adds the unit test as well

[2020-03-11 14:42] jayunit100 commented on #496
dont merge just yet, one more thing i have to do..

[2020-03-11 15:14] #496 closed

[2020-03-11 17:24] jianjuns commented on #494
Documenting the solution in 0.5.0 sounds good to me.
Not sure how to handle this with AKS Engine. Let us discuss with cloud folks.

[2020-03-11 21:57] antoninbas commented on #8
I'm fine with closing this, it seems that @salv-orlando is not planning to take on 5 and I am not sure it is required at this time.

[2020-03-11 23:15] antoninbas commented on #494
We could also take care of this internally in the init phase of the Antrea controller through the apiserver client: delete all the `apiregistration.k8s.io/v1/APIService` resources with the `app=antrea` label which we know are no longer required. Otherwise, this may create issues for people who upgrade without reading the documentation (not to mention we have to keep this around in the documentatio

[2020-03-12 01:59] #483 closed

[2020-03-12 07:57] rbhamre opened #500 ""address-group" are missing/empty on antrea-agent pods which causing 100% traffic failure"
**Describe the bug**
"address-group" are missing on antrea-agent pods which causing 100% traffic failure.

**To Reproduce**

    - Deployed single large k8s-cluster having 3 masters and 1k worker nodes.
    - Deployed 100k pods, 50k services and 50k network-policies
    - Now, tried to access svc-ips from pods however its failing with timeout error.

    - Tried mesh ping from pods however mesh pi

[2020-03-12 13:03] tnqn commented on #500
The connection issue is because the packets were dropped by openflows of networkpolicy. The networkpolicy are not supposed to drop them but are not enforced correctly due to missing address-group data.
[code]
The last logs of antrea-agent seems it has connected to antrea-controller but got no reply:
[code]
But it was actually connecting to an old antrea-controller instance and can still got replie

[2020-03-12 13:22] tnqn commented on #500
Checked kube-apiserver and kube-controller-manager memory usage, looks like caching resources in such scale indeed needs a lot of memory, 3 master nodes' memory stats as below:
[code]
[code]
[code]
Now I think we should try to schedule antrea-controller to master nodes only to see if the problem can still happen.

[2020-03-12 14:25] tnqn commented on #500
After scheduling antrea-controller to one of master nodes, it seems stable now, CPU and memory is not too high, compared with others:
[code]
It took 26min 47seconds to finish the calculation of  102k pods, 75k policies, 25k namespaces which generate 50k addressgroups, 75k appliedtogroups, 75k internal networkpolicies.
[code]
[code]

[2020-03-12 14:49] tnqn commented on #419
Closed by #476

[2020-03-12 14:49] #419 closed

[2020-03-12 14:55] tnqn commented on #284
@jianjuns got one number of v0.5.0-dev-5aeefb1 from scale tests:

It took 26min 47seconds to finish the calculation of 102k pods, 75k policies, 25k namespaces which generate 50k addressgroups, 75k appliedtogroups, 75k internal networkpolicies.
See https://github.com/vmware-tanzu/antrea/issues/500#issuecomment-598216416
My estimation of the space of optimization is nearly half of current value if w

[2020-03-12 16:42] tnqn commented on #494
@antoninbas it would require more permission granted to antrea-controller account, not sure whether it's worth (and the permission needs to be kept indefinitely to guarantee user can upgrade from 0.4.0). If we don't consider the long term possibility that we may have to deprecate some resources in future, maybe another way is having a dummy api to keep it work if this group "system.antrea" is like

[2020-03-12 18:20] antoninbas commented on #467
An email was sent to the ovs-dev mailing list: https://mail.openvswitch.org/pipermail/ovs-dev/2020-March/368577.html

[2020-03-12 18:49] #244 closed

[2020-03-12 20:39] antoninbas commented on #364
I am tempted to close this issue at this stage. As part of https://github.com/vmware-tanzu/antrea/pull/503, I have updated the documentation for our CI. In doing so, I realized that `golint` is not really meant to be run in the context of CI as per its authors (at least it is not meant to be used to block PRs for which errors are reported):

See https://github.com/golang/lint#purpose

What we coul

[2020-03-12 22:53] #8 closed

[2020-03-12 23:53] antoninbas commented on #494
I did consider the dummy API case. If the goal is to ultimately remove "system.antrea", then now is probably the right time to do it, as the number of users is bound to grow (hopefully) and it will just mean more users will run into this issue when we eventually remove it.

We should be more careful in the future, as the impact of this issue is very large IMO. With the antctl framework refactor, i

[2020-03-12 23:55] jianjuns commented on #284
So, the previous lasts with 20K policies are just several mins, but now with 75K policies it is already > 26 mins?
Yes it seems too long. While I agree we should optimize, we might prioritize based on the real numbers we want to support. @McCodeman: do you have some ideas on this?

[2020-03-13 00:02] antoninbas commented on #284
I have some encouraging results with the DDlog implementation that @ryzhyk and I have been working on. If @tnqn has a testbed ready, it may be worth giving it a try to see if there is a significant difference and if it DDlog can be a viable option for the long term.

[2020-03-13 00:41] abhiraut commented on #427
https://github.com/vmware-tanzu/antrea/pull/490 took care of it? @antoninbas

[2020-03-13 00:52] antoninbas commented on #427
Yes, my bad. Didn't find an existing issue at the time, so I created one. This is a duplicate of https://github.com/vmware-tanzu/antrea/issues/487 (or rather https://github.com/vmware-tanzu/antrea/issues/487 is a duplicate of this...).

[2020-03-13 00:52] #427 closed

[2020-03-13 02:52] tnqn commented on #284
I checked previous stats, it's 5k pods, 10k policies, 1 namespace, taking 4minutes.
The latest is 102k pods, 75k policies, 25k namespaces, taking 26 minutes. I think it seems a little optimized.

[2020-03-13 03:01] tnqn commented on #284
@antoninbas I don't own the testbed, just got this number when diagnosing the scale issue in #500, we may try to run a DDlog version of antrea-controller (as an individual pod, not affecting other agents) if it's convenient for @rbhamre.  But for long term, I think we could have a benchmark test which can generate pod/namespace/policy input and measure how long it takes for networkpolicycontroller

[2020-03-13 03:04] antoninbas commented on #284
@tnqn I have a benchmark already, using the fake K8s Go client, but I was hoping for a real testbed :)

[2020-03-13 03:21] jianjuns commented on #284
I remember it is 100K simulated Pods, and 10K policies, no?

[2020-03-13 03:28] tnqn commented on #284
@jianjuns The 2k simulated pods are agents, simulating api clients, having only a little influence to the calculation. The pods that will be calculated in controller was 5k real workload + 2k simulator pods.

[2020-03-13 03:41] jianjuns commented on #284
Confused - your latest results are from simulated 100K Pods or real Pods?

2K are simulated Nodes?
5K are Pods?

[2020-03-13 04:18] tnqn commented on #284
https://github.com/vmware-tanzu/antrea/issues/284#issuecomment-598530998 was explaining the previous result didn't have 100k pods, the simulated part is api consumer (customized antrea-agent), but they are also running as pods so there were 7k real pods.

The latest result is all based on real 100k pods, getting from the log of scale test as mentioned above.
Anyway, the data playing role in the ca

[2020-03-13 06:30] lzhecheng opened #505 "[CLI] Decouple CLI code from package monitor"
**Describe what you are trying to solve**
Currently, CLI is taking cluster information from pkg monitor. However, pkg monitor is designed for CRD monitor only.

**Describe the solution you have in mind**
Decouple CLI code from pkg monitor and put it into a new one. Add a new layer and struct for these two pkgs to share.

[2020-03-13 11:37] tnqn commented on #494
@antoninbas we still need apiserver aggregation for `networking.antrea` group, the `system.antrea` is removed because it changed to get system info from crd.
Your concern of api version is correct, that's also why I thought we may have to ask user to read upgrade/release doc to remove specific resources when their existence will cause trouble.

[2020-03-13 13:05] yktsubo commented on #326
I'd like to confirm my understanding is correct.
I don't take ingress policy into consideration now.

In this case, I think I need to change flows like below. Am I correct?
I tested in my testbed and confirmed that traffic inside nodes and across nodes worked.

Note: I omit cookie and stats for now.

- Before
[code]
- After
[code]

[2020-03-13 13:56] wenyingd commented on #326
Hi Yuki,

Thanks for your effort on this issue. You are correct, it is what we wanted.

[2020-03-13 18:08] antoninbas commented on #494
I am a bit concerned with always requiring `--prune -l app=antrea --prune-whitelist=apiregistration.k8s.io/v1/APIService` from now on. That makes Antrea more "complicated" to upgrade, compared to say Calico: https://docs.projectcalico.org/v3.5/getting-started/kubernetes/upgrade/upgrade and I wonder if we will get support issues from users who didn't go through the docs carefully and assumed they c

[2020-03-13 18:34] jianjuns commented on #284
Got it. I feel then some optimization probably needed, 8mins for 20K policies still sound too long.

[2020-03-13 20:59] jianjuns commented on #284
Do we have a way to simulate Pods? It is hard to create a big number of real Pods.

[2020-03-14 00:49] jayunit100 commented on #338
+1 thats a good idea to add service tests to the netpol framework .

^ @suwang48404, lets catch up about this .  We have a broad set of network policy improvements we're doing internally in hack/netpol.  Part of those tie into a broader KEP we are working on https://github.com/kubernetes/enhancements/pull/1568.

Would you like to discuss this (im free early monday)

[2020-03-14 20:44] theshubhamp commented on #364
I think it is reasonable to close this issue given the excerpt that you posted above.

@antoninbas Yes I'll be happy to look into this! Do we have an issue created already ?

[2020-03-16 03:33] lzhecheng opened #506 "[CLI] Unfriendly antctl error output"
**Describe the bug**
This issue is suggested and examples are provided by @antoninbas .

Now all antctl commands output error messages in an unfriendly way.
(This case doesn't exist now but it is still a good example.)
e.g.
[code]

[code]
They seem like debugging messages but not for users. Such message should be accessed with `-v`.

**To Reproduce**
Run antctl commands to get an unavailable resou

[2020-03-16 15:44] yktsubo commented on #326
Thank you for your response.
I'll start to code it.

[2020-03-16 19:31] antoninbas commented on #364
@theshubhamp In that case, I think it makes sense to use the same issue to track this. After all, we are still enabling golint as part of CI, but we are using it for suggestions rather than enforcing the result blindly. Let us know if you need help with this!

[2020-03-17 17:15] theshubhamp commented on #364
@antoninbas I tried this out last week and here's an example of how it would look: https://github.com/theshubhamp/antrea/pull/1#issuecomment-599150562  (download link part is still work in progress)

I was evaluating Github Action Artifacts to store the lint report, but action artifacts don't get available on the API until the parent workflow completes and it wouldn't work for this case.

I am sti

[2020-03-17 17:24] theshubhamp commented on #364
Another option would be add the lint report inline, but I am not inclined towards doing that yet, what do you think ?

<details>
<summary>Expand to see Goint Report</summary>
<p>

[code]
</p>
</details>

[2020-03-17 17:35] antoninbas commented on #364
@theshubhamp Thanks for the update. Your example comment is exactly what I had in mind.

I agree with you for the inline report, I don't think it would be very convenient.

Can you elaborate on why you cannot use an action artifact here? I found this related issue (https://github.com/actions/upload-artifact/issues/27) and it seems that issue was closed after there was a Github action API update: h

[2020-03-17 17:40] antoninbas commented on #364
Seems like this feature is indeed not available yet: https://github.community/t5/GitHub-Actions/Get-artifact-URL-in-steps-after-upload-artifact/td-p/44391

[2020-03-17 17:41] theshubhamp commented on #364
Yes, retrieving the link to the archive is not available until the workflow completes.

I have a support case open with GitHub support around this but haven't heard back from them yet.

[2020-03-17 17:43] antoninbas commented on #364
@theshubhamp maybe you can give this a try and let us know if you think it is a good solution: https://www.file.io/

It is fine if the link expires pretty fast (e.g. after 2 weeks).

[2020-03-17 17:47] theshubhamp commented on #364
file.io looks like something that would work. Thanks!

[2020-03-17 18:10] antoninbas commented on #450
Currently investigating using Travis CI for this, as it offers free arm64 builders: https://docs.travis-ci.com/user/multi-cpu-architectures/

[2020-03-18 15:31] tnqn opened #511 "E2E test should cover upgrade case"
**Describe the bug**
There should be upgrade tests to ensure:
- [ ] Connectivity of existing Pods can continue work
- [ ] Existing Pods can be deleted and antrea-managed resources like ovs port, veth devices can be cleaned up
- [ ] Existing NetworkPolicies can continue work
- [ ] Existing Namespaces can be deleted, see bug #494

[2020-03-18 15:40] tnqn commented on #511
@jianjuns @antoninbas @salv-orlando please share your opinions and see if we should have this ready before 0.5.0 as we have missed something that could cause issue after upgrading, like #494.

[2020-03-18 18:01] jianjuns commented on #511
Yes, agreed we should have this in 0.5.0, since we had production deployment since 0.4.0.

[2020-03-18 19:10] antoninbas commented on #511
I think that's a good start and we should try to have this in time for 0.5.

Maybe in the longer term we can verify other things as well (e.g. monitoring CRDs are still valid and Octant plugin still works as expected?).

What do you think the test should look like exactly? Maybe a specific folder under "test/e2e/" and the ability to provide 2 parameters when running `go test`: `-from-sha` and `-to

[2020-03-18 19:11] #383 closed

[2020-03-18 20:28] antoninbas commented on #361
No update, so re-assigning the issue to myself to make sure it gets taken care of in time for the 0.5.0 release.

[2020-03-18 20:38] antoninbas opened #513 "Release notes for each Antrea version should include supported K8s releases"
For example, we know that Antrea v0.4.0 will not support K8s 1.18 out of the box, since the release manifest uses the `beta.kubernetes.io/os` node selector, which is removed in 1.18. And we know that Antrea v0.5.0 will not support K8s versions older than 1.14.

However, this can only be done properly if we run actual regression tests against different K8s versions for each Antrea release.

[2020-03-18 21:47] abhiraut opened #514 "Antrea must support pods with hostPort"
**Describe the bug**
At the moment, pods (which are not hostNetwork) with hostPort setting do not work with Antrea right out of the box.

**To Reproduce**
Steps to reproduce the behavior.
Create a non-host-network pod with hostPort set.

**Expected**
A clear and concise description of what you expected to happen.

**Actual behavior**
A clear and concise description of what's the actual behavior. I

[2020-03-18 21:55] antoninbas commented on #514
Adding to this issue: it seems that calico (and possibly other CNI plugins) enables the portmap plugin by default.

[2020-03-18 22:00] antoninbas commented on #514
We should check if there is an upstream test for this: if yes, consider running it; otherwise add one to the Antrea test suite. My guess is that there is an upstream test but that we currently skip it in CI (probably because it has a `[Feature:<X>]` tag.

[2020-03-18 22:26] abhiraut commented on #514
i couldn't find an e2e test for networking..  i only find a scheduling related test.. it might makes sense because it is cni specific?

[2020-03-18 22:33] antoninbas commented on #514
I see something in `test/e2e/network/no_snat.go`, but it is also using `hostNetwork:true`.

The implementation may be CNI specific, but it seems like the desired behavior is pretty unambiguous to me. Wonder why there is no test.

[2020-03-18 22:47] abhiraut commented on #514
we can certainly start with a test in antrea and then push one upstream..

[2020-03-19 02:22] #506 closed

[2020-03-19 18:34] antoninbas commented on #485
@lzhecheng @tnqn @edwardbadboy I believe this can be closed now?

[2020-03-19 20:14] jayunit100 opened #516 "Log updates for new network policies"
**Describe the problem/challenge you have**

To test the max limit of network policies in antrea, I tried to make 1000 of them :)...

I tried checking the antrea-agent, antrea-ovs, and antrea-controller logs, and didn't see any realtime updates.

**Describe the solution you'd like**

 a log statement for every new network policy event created, so you can confirm that at least superficially, they a

[2020-03-19 20:17] antoninbas commented on #516
I think we already have such logs, but you won't see them unless you increase verbosity to 2 for the antrea controller / agent in the manifest yaml. I believe that was a conscious decision by @tnqn to avoid getting large logs.

[2020-03-19 22:40] lzhecheng commented on #485
Sure.

[2020-03-19 22:44] antoninbas commented on #448
This is a step in the right direction: https://github.com/vmware-tanzu/antrea/pull/517

[2020-03-19 23:08] abhiraut commented on #516
see https://github.com/vmware-tanzu/antrea/issues/279 .. but most important updates are logged at v2 level as pointed out by Antonin

[2020-03-19 23:53] antoninbas commented on #450
https://github.com/vmware-tanzu/antrea/pull/520 adds support to build and push Antrea docker images for ARM architectures for every Antrea release. Unfortunately, I couldn't find a simple way to test these images using public CI services. Travis CI does provide arm64 workers (https://docs.travis-ci.com/user/multi-cpu-architectures/), but the workers are LXD containers and they cannot run Kind (htt

[2020-03-19 23:53] antoninbas commented on #450
I suggest we discuss this at the next Antrea community meeting (03/25).

[2020-03-20 00:03] antoninbas commented on #485
It seems I was wrong, it is not actually fixed: https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/187/console

[2020-03-20 00:23] lzhecheng commented on #485
@edwardbadboy 's PR is to fasten the process of cluster deletion and we used to believe only slow deletion blocks cluster creation as well as getting secret. Now it seems there are other cases. We will keep investigating.

[2020-03-20 00:35] lzhecheng opened #521 "[CI] Merge Jenkins cleanup job into e2e, conformance, network policy jobs"
**Describe what you are trying to solve**
The workload cluster deletion used to take up a long time to finish. Now as a result of PR #495 , the processing time is reduced to less than 30s. So there is no need to separate the cleanup process into an individual job.

**Describe the solution you have in mind**
Merge [cleanup script](https://github.com/vmware-tanzu/antrea/blob/master/ci/jenkins/jobs/m

[2020-03-20 00:36] lzhecheng commented on #521
@edwardbadboy do you think it is possible?

[2020-03-20 01:35] tnqn commented on #516
I only removed too detailed logs that show whether each NetworkPolicy applies to each Pod, with which we will get number of Pods * number of Policies lines and some repeated logs.
I agree we should make verbosity 0 more informative as @jayunit100 suggested, otherwise we will have to ask user always improve to 2 to get any useful information.

[2020-03-20 01:56] tnqn commented on #516
I will handle this before 0.5.0.

[2020-03-20 02:28] tnqn commented on #511
Thanks @jianjuns and @antoninbas for your input.
@antoninbas I was just thinking some simple rolling update scenario from N-1 version. I think your proposal is very flexible and convenient. We get only a few days, do you want to implement the proposal yourself? If not, I would volunteer to be the coder.

[2020-03-20 05:30] antoninbas commented on #511
@tnqn I can take a stab at it tomorrow. But have we figured out what to do about https://github.com/vmware-tanzu/antrea/issues/494. I suggest keeping `system` as a dummy API for now (at least for 0.5.0), since we do not know yet for sure that we will not be needing it in the future. It would be great if you could drive this on your side?

[2020-03-20 09:23] tnqn commented on #511
@antoninbas sure, @jianjuns and I are discussing adding controllerinfo API under this group, if we can make it 0.5.0, then we don't have to have a dummy one. If not, I will take care of adding a dummy APIGroup.

[2020-03-20 13:46] trozet commented on #14
@antoninbas Hi, I've been working on adding similar support into OVN. I wanted to ask specifically why multiple OVS in separate containers cannot utilize the same kernel path? If each OVS is in its own namespace with its own unique DPID, will there be conflicts in kernel path? Thanks.