[2020-08-14 22:17] abhiraut commented on #1092
/cc @Dyanngg @gran-vmv

[2020-08-14 23:22] Dyanngg opened #1095 "PriorityAssigner does not revert priority updates if flow priority updates failed to be realized on OVS"
**Describe the bug**
priorityAssigner will issue priority updates to reconciler if a newly inserted priority requires established OVS flows to alter their priorities. If such operation fails, priorityAssigner should revert its internal mappings of priority<->ofPriority. Otherwise, the state in priorityAssigner and OVS table will be different.

**To Reproduce**
Currently not reproducible there is n

[2020-08-15 09:28] robcowart commented on #712
Hey team, I noticed that my [ElastiFlow](https://github.com/robcowart/elastiflow) project is mentioned above. If anyone can send me a PCAP of a good sampling of IPFIX records from Antrea I would be happy to add the necessary support to ElastiFlow as well as include some Antrea-specific dashboards. You can send the PCAP to elastiflow@gmail.com or provide me with a download link.

[2020-08-17 03:01] ZhangYW18 commented on #1089
We can avoid using cgo by switching to another open-source Graphviz repo that does not contain C files, like [gographviz](https://github.com/awalterschulze/gographviz). It may take some days to close this issue as we need to get familiar with this repo first.

[2020-08-17 18:31] suwang48404 commented on #985
@tnqn @jianjuns a couple questions:

1. metrics are defined per NP, can/should it include per endpoint? For instance, if an ANP is applied to all Pod, for live debugging user may want to know on which Pod(s) the NP is currently active?
2. current design calls for: a) agent push metric to controller via CRD b) Prometheus scrapes controller for NP metrics, right?
3. what timeframe this work is slate

[2020-08-17 19:19] jianjuns commented on #985
Yes, per endpoint stats is useful in some cases, but maybe it can be next step, after we have cluster level stats?

[2020-08-17 19:28] antoninbas commented on #985
@suwang48404 the current plan is to have an internal API for agents to push metrics to the controller, and a public API exposed by the controller with aggregated data (see `Metrics API (public)` section in Quan's post). We haven't looked at what kind of Prometheus integration we can do for this yet. @srikartati has started looking into it IIRC, but it is unclear whether Prometheus is a good fit to

[2020-08-17 19:54] antoninbas commented on #1089
@ZhangYW18 there's no rush; let's try to remove the dependency for the next release

[2020-08-18 02:37] ZhangYW18 commented on #1089
OK, please assign this issue to me.

[2020-08-18 12:54] jayunit100 opened #1103 "antrea-on-Kind is not happy anymore but I don't know why?"
**Describe the bug**

Kind is complaining about a missing OVS library.... any thoughts on why?  Maybe that library location is downloaded by the chi-install step ? Just saw this morning but iirc this used to work.

[code]

**To Reproduce**

Install any version of Antrea on a kind cluster.

**Expected**

**Actual behavior**

modprobe: FATAL: Module openvswitch not found in directory /lib/modules/4.

[2020-08-18 14:37] tnqn commented on #1103
might be related to kind image update that the kernel modules are not compiled into the image any more? but I think antrea doesn't need the kernel modules as it uses userspace datapath for kind, therefore, the step of loading kernel modules is not in https://github.com/vmware-tanzu/antrea/blob/master/build/images/scripts/install_cni_kind.
I never tried applying a generic antrea yaml on kind cluste

[2020-08-18 15:54] tnqn commented on #985
@jianjuns @antoninbas thanks for answering the questions.

@suwang48404 it targets for the coming release 0.10.

[2020-08-18 16:21] suwang48404 commented on #985
@antoninbas @jianjuns @antoninbas thx all for replying.

[2020-08-18 17:20] jayunit100 commented on #1103
antonin clarified that this doc really explains it
- antrea never was supported on kind without using that specific manifest
- seems like antonin will work on publishing those manifests w/ releases
thanks !

[2020-08-19 01:24] lzhecheng commented on #1043
Hello @antoninbas , my patch has been merged into OVS repo. The latest v2.14.0 has my patch in it. So shall we upgrade OVS version in dockerfile and remove the line to apply patch? Is there any other concern when upgrading OVS?

[2020-08-19 01:56] antoninbas commented on #1043
@lzhecheng no concern on my side, we can move to OVS 2.14.0 for the Antrea v0.10.0 release. If it makes things easier you can simplify https://github.com/vmware-tanzu/antrea/blob/master/build/images/ovs/apply-patches.sh to assume that OVS >= 2.14.0. Then I imagine that most (all?) patches won't be needed anymore. I think you should open a new Github issue to track this item however, so it gets mor

[2020-08-19 01:57] #1019 closed

[2020-08-19 14:54] tnqn opened #1113 "Some pods don't have L2 connectivity after all worker nodes are rebooted"
**Describe the bug**

 @alokmaurya88 found this issue after rebooting all worker nodes of a large scale cluster.

- Deploy 120K Pods + 40K Network policies
- Reboot all master + Worker nodes
- Once  all PODs come in Running state,  try to verify traffic for all pods.
- Traffic  for some PODs  does not work.
- Pods can not access egress traffic/ and  ingress traffic to pod  does not work as well.

[2020-08-19 19:16] antoninbas commented on #1113
I think you're right about the race in `github.com/containernetworking/plugins/blob/master/pkg/ns`. That's something I suspected when we were troubleshooting the ARP issue. Mostly I think this is because that package was never meant to be used in the context of a long running process handling multiple CNI calls.

But here is what I think is happening.
This is the sequence of events:
1) Antrea call

[2020-08-19 19:24] #1103 closed

[2020-08-19 21:38] antoninbas opened #1114 "Provide code coverage information for the different Antrea binaries"
**Describe the problem/challenge you have**
We should compute code coverage across all different tests suites and integrate with a tool like codecov. Ideally for every PR, we should show which parts of the code are not exercised by existing and new tests.

This would help increase Antrea's score for the CII questionnaire (see https://github.com/vmware-tanzu/antrea/issues/989).

**Describe the solu

[2020-08-19 21:39] antoninbas commented on #1114
@weiqiangt assigning this to you since I think you started looking at this already?

[2020-08-19 22:37] jianjuns commented on #630
@moshe010, @antoninbas：now we had the first PR merged. Should we consider further improvements of OVS offload? Two specific questions I have are: 1) could we automate some SR-IOV and driver configuration on the host with an initContainer?2) does it make sense to provide sample yaml files for Multus and SR-IOV plugins?

[2020-08-20 07:55] weiqiangt commented on #1114
Sure. @lxiaopei is working on e2e coverage calculation. I think I can set up the report first and collect all currently available numbers.

[2020-08-20 08:41] lxiaopei commented on #1114
Right, I am working on measure coverage for e2e tests. Could you help assign the issue to me? Seems I cannot do self-assign.

[2020-08-20 10:16] lzhecheng opened #1120 "Upgrade OVS to 2.14.0"
**Describe what you are trying to solve**
Currently, Antrea uses OVS v2.13.1 and recently 2.14.0 is released. With v2.14.0, there is no need to apply additional patches in apply-patches.sh.
E.g. Issue #1043

**Describe the solution you have in mind**
Upgrade OVS to 2.14.0. Update https://github.com/vmware-tanzu/antrea/blob/master/build/images/ovs/apply-patches.sh

@antoninbas suggests that we remo

[2020-08-20 15:01] tnqn commented on #1113
@antoninbas thanks for your analysis! Yes, I remembered you mentioned a race condition around it so I looked at those lines directly.
I agree with you about how the race happens and I can reproduce it with the code below (but not every time, `-count=100` can help)
[code]
Indeed we could fix this in Antrea by locking the OS thread, I also think this is not expected even in "containernetworking/plug

[2020-08-20 15:27] suwang48404 commented on #243
@jianjuns @wenyingd From debugibility perspective, is this feature important? can we add it to libopenflow quickly?

[2020-08-20 17:29] antoninbas commented on #712
@robcowart thanks for you comment. Given that the people working on this feature are VMware employees, we are checking with VMware legal if we can send you this pcap trace, as legal may consider it a contribution to the ElastiFlow project, and the project does not use a standard license.

[2020-08-20 17:31] antoninbas commented on #1120
Thanks for opening the issue @lzhecheng. Yes it makes sense to support 2.13.x IMO in case we need to rollback for some reason, or update one of the older `antrea/openvswitch` Docker images. I was just trying to make your life easier :)

[2020-08-20 17:36] antoninbas commented on #1113
@tnqn I agree that fixing it in `github.com/containernetworking/plugins` is best. Let me know if you don't have cycles to report & fix the issue there and I can take it. Until the patch is merged, we can use a fork and a `replace` directive in the go.mod. I think we are planning to do a 0.9.1 release soon, so that may be a fix we want to include.

[2020-08-20 17:54] jianjuns commented on #712
If that helps, you can look at our IPFix records definition: https://github.com/vmware-tanzu/antrea/blob/master/build/yamls/elk-flow-collector/logstash/ipfix.yml

[2020-08-20 18:00] jianjuns opened #1122 "Adjust API groups for Controller API and CRDs"
**Describe what you are trying to solve**
Need to finalize the API group definition for Controller API and CRDs. This is also required to support new features like IPAM, egress policy, NodePortLocal.

**Describe the solution you have in mind**
Per discussions offline, the proposal supported by most people is:
- “core”:  common types, ExternalEntity/Node, grouping
- “internal”: internal messages an

[2020-08-20 18:03] robcowart commented on #712
@jianjuns I have had the field definitions for a while, starting with the original fields and now the latest changes, as I have followed the code since the beginning. A PCAP allows me to test and setup some meaningful dashboards with real data to verify their usefulness. I can generate the PCAP myself, it will just take me a while until I can free up some resources in my lab.

[2020-08-20 18:05] jianjuns commented on #712
Got it. Then seems we need to wait for response from legal.
Thanks for the efforts!

[2020-08-20 18:14] jianjuns opened #1123 "Document public cloud deployment requirements"
**Describe the problem/challenge you have**
Document configurations of cloud networking to use Antrea on different clouds (AWS, Azure, GCP), including security group settings, hybrid mode, etc.

The issue about hybrid mode in AWS: #1080

[2020-08-20 18:15] jianjuns commented on #1123
@reachjainrahul : would you take this one?

[2020-08-20 21:22] antoninbas commented on #630
I'll let @moshe010 comment about whether he thinks it makes sense to have an initContainer that creates as many VFs as possible, configures them and binds them to the driver. Or at least does it make sense for most use cases?

I don't know if we need to provide sample YAMLs if we are just using the upstream ones from these projects. However I do agree it would be good to have a complete cookbook w

[2020-08-20 21:28] jianjuns commented on #630
Sure. For number of VFs, it can be a config option?

[2020-08-20 21:54] antoninbas commented on #630
It may not be the same number across all Nodes if it's a different NIC. But we can detect the max possible number easily.

[2020-08-20 23:29] #1095 closed

[2020-08-21 00:57] wenyingd commented on #243
@suwang48404 If you mean the OVS action "note", it is already supported in libOpenflow/ofnet, and we also add it in Antrea OpenFlow control interface. You can use this action in FlowBuilder https://github.com/vmware-tanzu/antrea/blob/master/pkg/ovs/openflow/interfaces.go#L191

[2020-08-21 02:37] suwang48404 commented on #243
Hi @wenyingd,

That is exactly what I asks for.

Thx for helping, Su

[2020-08-21 02:37] #243 closed

[2020-08-21 03:05] ruicao93 opened #1125 "[Windows]Support verify OVS installation in CI"
**Describe what you are trying to solve**
Currently when we update the OVS package, the installation script need to be tested manually. It's inefficient and unreliable.

**Describe the solution you have in mind**
We could add OVS installation verification in CI.

[2020-08-21 03:18] ruicao93 commented on #1125
@edwardbadboy  : If we add OVS installation step in Windows CI, CI will download OVS package in every test.
A problem is that the download will cost AWS budge. Do you think it's acceptable?

[2020-08-21 04:36] antoninbas commented on #1125
I think you may be able to find a way to only run the job when needed, e.g. only for PRs which modify https://github.com/vmware-tanzu/antrea/blob/master/hack/windows/Install-OVS.ps1. Failing that S3 is pretty cheap so if it only runs a couple times a day, it shouldn't be more than 1$ a month.

[2020-08-21 04:55] tnqn commented on #1113
@antoninbas I reported the issue https://github.com/containernetworking/plugins/issues/524 and created a PR https://github.com/containernetworking/plugins/pull/523. In the PR I didn't use threadNS as there is a test case that assumes the "hostNS" could be a specific netns.

[2020-08-21 05:09] antoninbas commented on #1113
Thanks. Patch looks good. I don't think there is much of an overhead in calling `runtime.LockOSThread()` a second time in this case. If there is, an alternative could be to call `GetCurrentNS()` just before `innerError = containedCall(hostNS)`:
[code]

[2020-08-21 05:32] tnqn commented on #1113
The alternative is similar to replacing the hostNS with the existing "threadNS", so it may break the test I mentioned too: https://github.com/containernetworking/plugins/blob/v0.8.6/pkg/ns/ns_linux_test.go#L99-L119.
I think the test means `netns.Do` could be executed in a specific netns, and the argument "hostNS" the called function gets should be the specific netns, instead of host netns. If we c

[2020-08-21 06:28] yktsubo opened #1126 "antctl traceflow doesn't work for traffic to service"
**Describe the bug**
antctl traceflow doesn't work for destination service.
The injected packet is not processed as packets to service(clusterip) in ovs pipeline.

[code]

**To Reproduce**
Do antctl traceflow for traffic to service like below.

[code]

**Expected**
The injected packet is loadbalanced and delivered to the pod.
Based on analysis with @gran-vmv , the following flag must be set to 2 w

[2020-08-21 11:47] weiqiangt opened #1130 "Tests for multiple alpha features"
**Describe the problem/challenge you have**
There is no test in CI to cover more than one alpha feature. e.g. we have met issue #1119.

**Describe the solution you'd like**
Add tests matrix to verify different alpha features' combinations.
One obvious question is that the test matrix may have a huge resource cost if we run it for each PR.

[2020-08-21 19:26] antoninbas opened #1133 "Document required iptables rules when using Antrea Proxy"
When using Antrea Proxy, one would expect kube-proxy / iptables performance not to impact Pod-to-Service traffic performance, since this traffic is handled in OVS. However, in practice performance deteriorates as the number of Services increase. This is because encapsulated traffic needlessly visits the kube-proxy iptables rules, incurring high CPU usage. The UDP tunnels are also added needlessly

[2020-08-22 02:41] antoninbas opened #1137 "Support "antctl query endpoint" command out-of-cluster"
**Describe what you are trying to solve**
Currently "antctl query endpoint" can only be run from inside the antrea-controller Pod.

**Describe the solution you have in mind**
We should be able to run "antctl query endpoint" from out-of-cluster, by providing the appropriate Kubeconfig file.

**Describe how your solution impacts user flows**
It makes the life of users easier by letting them use the

[2020-08-22 06:21] #1130 closed, assigned to nobody

[2020-08-24 11:20] tnqn commented on #1137
@antoninbas the proposal LGTM overall, just have a question on the API endpoint reachability.
By running "antctl query endpoint" from out-of-cluster, I assume you mean it could be somewhere that is not a K8s Node. The clusterIP may be not reachable, will you consider changing the service type to NodePort too?
Sharing something you may already know, there are [3 ways to access services from a machi

[2020-08-24 14:15] rbhamre opened #1141 "[TKG with Antrea on AWS] - Most of the worker-nodes is a cluster went into NotReady state"
**Describe the bug**
Antrea build: antrea/antrea-ubuntu:v0.9.0

- Deployed 3 master and 20 worker nodes tkg cluster
- Configured antrea cni for tkg cluster deployed in AWS
- Enabled hybrid mode and antrea-proxy
- Deployed tkg worker nodes across 2 AZs having different subnet
- Disabled SrcDestCheck on each node in the cluster
- Scaled up cluster with 1k namespaces, 2k pods, 2k clusterip services a

[2020-08-24 17:59] moshe010 commented on #630
Sorry I was OOO and I just saw it. for setting Mellanox SR-IOV you need FW configuration as well which requires reboot. We are working on https://github.com/openshift/sriov-network-operator to enable SR-IOV (legacy) and in the near feature switchdev mode. I think it better to use the operator framework instead of recreate it here.

[2020-08-24 18:48] jianjuns commented on #630
@moshe010: great to know we have an operator project to handle these configurations. Just to check even it is under OpenShift, it can work with K8s right?
Then probably we just need a cookbook for all pieces as @antoninbas suggested.

[2020-08-24 18:55] antoninbas commented on #1137
@tnqn, yes my bad, the last bullet point is incorrect:

We can use the Node IP to access the Antrea Controller, which is what "antctl supportbundle" is doing now and that's what I tested. However, how can I enable TLS for the connection? The certificate used by the K8s apiserver includes the Node IP in the SAN list, but that's not the case for the Antrea apiserver. We could potentially make it wor

[2020-08-24 23:29] antoninbas commented on #1141
It seems that you are scheduling 110 Pods on each Node, which is the limit and I believe explains why we see `SchedulingDisabled` for most Nodes. Is there any way to check memory usage on the Nodes? I don't know how much memory your workload Pods are consuming here, but the Nodes only have 2GB of memory to start with.

[2020-08-25 00:30] #420 closed

[2020-08-25 00:57] jianjuns commented on #868
Update of the progress:
PR #909 adds support for MTU auto discovery and removes the MTU config parameter.
PR #1015 changes noEncap (used by Antrea for GKE), hybrid, and networkPolicyOnly (used in AKS and EKS) modes to use Antrea native proxy, and removes the ServiceCIDR config parameter for these modes.

But still keep the issue open until we remove or validate ServiceCIDR parameter for the encap

[2020-08-25 03:00] lzhecheng commented on #1125
The job to verify Windows OVS installation has been deployed. Related doc has been updated in #1121 . Such check can be found in this PR as well.

[2020-08-25 03:00] #1125 closed

[2020-08-25 03:38] tnqn commented on #1137
This is resolvable, when authenticating server certificate, a server name can be provided to be checked against. It will only check hostname (node ip) if server name is empty. Even when antrea-agent authenticates antrea-controller, it uses the server name (antrea.kube-system.svc) instead of service IP or node IP.
[code]

Yes, I agree this will work well and can address the security issue and may e

[2020-08-25 03:53] antoninbas commented on #1137
Thanks @tnqn. for the pointer. The `ServerName` in `TLSClientConfig` works for my use case since I only need to connect to the Controller apiserver and I can configure the client as needed. However it does not work for Agent connections for "antctl supportbundle", since we do not generate a certificate for Agents. I don't know about the drawbacks of option 3. Maybe one of the reasons for keeping A

[2020-08-25 03:56] lzhecheng commented on #1120
Related PR is merged. Closing this issue.

[2020-08-25 03:56] #1120 closed

[2020-08-25 04:22] jianjuns commented on #1122
We cannot use "internal" as packages under "internal" directory will be treated as internal packages in Golang.
A few alternative names have been proposed are:
* impl
* implementation
* controlplane
* cp
* ctlplaneinternal
* backend
* local
* private

[2020-08-25 04:41] abhiraut commented on #1122
+1 to controlplane

[2020-08-25 04:56] edwardbadboy commented on #1122
controlplane sounds good.

[2020-08-25 05:04] jianjuns commented on #1122
One problem @tnqn mentioned in the community meeting - we need to use different API groups for CRDs and Controller/Agent API even they are for the same kind of information. For example, we have "clusterinformation" for monitoring CRD; "system" for system information from Controller API which includes the same information exposed via monitoring CRD; and "ops" for Traceflow CRD (while support bundle

[2020-08-25 05:06] dantingl commented on #1068
Doc for antrea operator:
https://docs.google.com/document/d/1OzvzN4kSf24e7oHo6eXuFLsb_9nFgO7ntgIT7jfwKG0/edit#heading=h.3ffyptusja6s

[2020-08-25 05:14] antoninbas commented on #1122
I think the issue is that we cannot use the same API group for both CRDs and an APIService object? Because the k8s apiserver uses the API group to decide which requests to forward through the aggregation layer?

That's funny because @tnqn and I were having a conversation in another issue about whether we actually needed APIServices... @tnqn, do you remember why we need an APIService for `system.an

[2020-08-25 05:19] jianjuns commented on #1122
antctl uses "system" group, not monitoring CRDs (one reason is we wanted to support local debugging even when K8s API is down, but probably it is not really implemented for controller API), and "system" group also includes support bundle.

[2020-08-25 05:28] antoninbas commented on #1122
Yes but it doesn't seem to me that either of these use cases require an APIService. I'm pretty sure that "antctl supportbundle" connects directly to the Agent / Controller, without going through the k8s apiserver. So I wanted to confirm that the issue @tnqn brought up comes from the fact that we cannot use the same group for CRD + APIService.

[2020-08-25 05:31] antoninbas commented on #680
Closing in favor of https://github.com/vmware-tanzu/antrea/issues/680

[2020-08-25 05:31] #680 closed

[2020-08-25 05:32] jianjuns commented on #1122
APIService just enables you to run antctl outside the K8s cluster and reaches Controller via K8s API. I know we do not do that for supportbundle, but it is the case for Controller information.

[2020-08-25 05:35] antoninbas commented on #1122
I am aware of that, but it doesn't seem *that* useful here. We can use CRDs for out-of-cluster and still have a separate implementation for the local use case that you mentioned above. I think it's actually better than exposing the same info through 2 different mechanisms, which is what we seem to be doing today. So my point is that removing the `system` APIService may be a viable solution.

[2020-08-25 05:39] jianjuns commented on #1122
Ok. I now got your point.
I think the question is why we want to treat "system" group differently from other groups. Also even you have "similar" set of information in CRD, do you still want to keep the capability of running antctl remotely for these commands (for example would you document antctl version does not work remotely?).

[2020-08-25 05:52] antoninbas commented on #1122
I was suggesting having `antctl` read the information from the CRDs when running out-of-cluster. But this has diverged into a different discussion (I still think we should consider removing the APIService for `system`...). Regarding the original topic, I would still prefer to avoid "bundling" all the CRDs into one API group, even though I am aware that there are other projects which do that, becau

[2020-08-25 06:17] jianjuns commented on #1122
We can talk about "system" group separately (still not convinced we must treat it differently).

I personally want not to use a single group for CRD either. But on the other hand, I do not like so many groups, and would like to differentiate CRDs and other APIs from group names, but I do not have a good idea to achieve this.

[2020-08-25 07:49] tnqn commented on #1122
controlplane sounds good to me as well.

Would it make sense to get rid of all APIServices and using NodePort service or exec endpoint to access Antrea APIs from out of cluster as discussed here https://github.com/vmware-tanzu/antrea/issues/1137#issuecomment-679067938, given that we will need a way to access non registered API like https://github.com/vmware-tanzu/antrea/issues/1137 anyway?
Then ma

[2020-08-25 08:30] antoninbas commented on #1141
Looking at this, it seems to be a memory issue, since as soon as we try to schedule 80+ nginx Pods on a Node, we see the Node become unschedulable, but the issue does not seem to happen with only 40 Pods. We are not sure why @rbhamre
 was able to run sanity tests for a few hours before running into an issue. @rbhamre is checking the `kube-controller-manager` logs to see if we can find more info ab

[2020-08-25 11:08] rbhamre commented on #1141
PFA kube-controller-manager logs, didn't find anything suspicions.

[kube-controller-manager-1.log.txt](https://github.com/vmware-tanzu/antrea/files/5123345/kube-controller-manager-1.log.txt)
[kube-controller-manager-2.log.txt](https://github.com/vmware-tanzu/antrea/files/5123348/kube-controller-manager-2.log.txt)
[kube-controller-manager-3.log.txt](https://github.com/vmware-tanzu/antrea/files/512

[2020-08-25 11:17] wenyingd opened #1144 "Enhancement is needed for support bundle on Windows"
**Describe the bug**
Currently OVS logs and Windows host network configuration are not included in the support bundle.

**To Reproduce**
Deploy Cluster including Windows Nodes, and then collect support bundle files on Windows Workers.

**Expected**
OVS logs and host network configuration (including ipconfig, network adapters, route, HNSNetwork, HNS Endpoint) are included. Besides, collecting kubel

[2020-08-25 18:18] srikartati commented on #1004
Thanks for the comment @antoninbas
Looked at the code more carefully.
We would need a new packetInHandler with a different reason other than ofprAction to process denied/rejected connections. This is because the packets with traceflow action need to be consumed for denied/rejected connections and vice-versa. If that is the case, we do not have to coexist with Traceflow packet handler and prioritiz

[2020-08-25 20:17] jianjuns commented on #1122
NodePort is not convenient and in many cases not really exposed to external network. Feel Pod exec is indirect too. So, I am not convinced to remove API Service just to reduce API groups. Even now we do not have many cases yet, I would not exclude the possibility to expose public API from Antrea directly, and would leverage the power K8s apiserver provides.

[2020-08-25 20:18] jianjuns commented on #1122
Anyway, from all discussion, I think at least we can start to move "networking" group to "controlplane". I will start to make the change.

[2020-08-25 20:28] jianjuns commented on #1137
Right. I would keep the possibility of exposing public API which can enable potential integrations, even now we do not have many use cases. It is also a more direct and efficient way than Pod exec. And I do not see big issues with APIService.

I do not like to support many ways to access API, but if you really believe remote execution and Pod exec are required for "antctl query", I would not be ag

[2020-08-26 03:31] wenyingd opened #1148 "antctl supportbundle doesn't work on Windows Nodes"
**Describe the bug**
A Failure is got when collecting support bundle on Windows Nodes.

**To Reproduce**
1. Download antctl binary on Windows Nodes
2. Run antctl supportbundle to collect Agent logs on the Nodes.

**Expected**
supportbundle file should be downloaded to the given path.

**Actual behavior**
Fail to generate supportbundle files, and a failure is printed:
[code]

**Versions:**
Please p

[2020-08-26 03:35] TicktW opened #1149 "whether Antrea support ipvs service"
**Describe what you are trying to do**
A description of what you are trying to achieve, what you have tried so far and the issues you are facing.

 We are now trying to apply Antrea to the telecom scenario.  I failed to transform Kubernetes CNI from Flannel to Antrea as https://github.com/vmware-tanzu/antrea/blob/master/docs/getting-started.md.  To be specific, the Kubernetes service with ipvs can

[2020-08-26 06:17] tnqn commented on #1149
@TicktW thanks for using Antrea. Antrea should support ipvs mode of kube-proxy, though this mode is not verified regularly in the CI.
I just tried with ipvs mode, it worked for me. I assume you are using default configuration and not enabling [AntreaProxy](https://github.com/vmware-tanzu/antrea/blob/master/docs/feature-gates.md#antreaproxy) feature. Is your cluster ServiceCIDR different from kubea

[2020-08-26 07:53] TicktW commented on #1149
Thanks for your consideration. The service works when Antrea and kube-apiserver use the same CIDR.

As
https://github.com/vmware-tanzu/antrea/blob/master/ROADMAP.md at Planned Features---NFV and Telco use cases
show, Antrea dose not support Multus and SRIOV devices, would you please tell me whether there are any plans to implement these features recently?

[2020-08-26 08:11] #1148 closed

[2020-08-26 09:13] tnqn commented on #1149
Thanks for confirming, good to know it works for you now.

For NFV and Telco use cases, AFAIK it's not in the upcoming release 0.10 yet. In theory Antrea could just work with Multus directly, though I don't verify it myself. @antoninbas is exploring this recently, may have more insights.
cc @jianjuns too.

[2020-08-26 13:06] tnqn commented on #1141
I see lots of “context deadline exceeded” as well as "container runtime is down" from kubelet log. The Node seems heavily overloaded. If it's this case, it's expected that kubelet reports itself as unschedulable because it failed to check container runtime's status, or even not reporting its status in time, then nodeLifeController could add taints to this Node and evict all Pods. @rbhamre could yo

[2020-08-26 16:46] tnqn opened #1152 "Certificate rotation doesn't take effect in apiserver of antrea-controller"
Please follow discussion around https://github.com/vmware-tanzu/antrea/pull/1146#issuecomment-680974066 for the context.

OK, I checked code and this should be a bug of rotating self-signed certificate.
In `generateSelfSignedCertificate`, it calls `MaybeDefaultWithSelfSignedCerts` which overrides the `s.ServerCert.GeneratedCert`:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s

[2020-08-26 17:46] antoninbas commented on #1152
Is someone working on this? We would like to include a fix in a new patch release this week. @MatthewHinton56 @tnqn

[2020-08-26 17:47] MatthewHinton56 commented on #1152
I can work on it.

[2020-08-26 18:37] antoninbas commented on #1149
I have tested Antrea with Multus and the macvlan plugin for secondary interfaces. It works as expected. I'm planning to upload some step-by-step guide in the next few days. I don't have a way to validate sriov right now, but I expect it works the same.

[2020-08-26 19:26] antoninbas opened #1153 "OVS offload documentation should include steps to ensure SR-IOV is enabled on the NIC"
This section (https://github.com/vmware-tanzu/antrea/blob/master/docs/ovs-offload.md#instructions-for-mellanox-connectx-5-and-above) should describe how to ensure that SR-IOV is enabled on the ConnectX-5. If not already enabled, the firmware configuration needs to be updated and apparently a server reboot is required (https://github.com/vmware-tanzu/antrea/issues/630#issuecomment-679278136). Maybe

[2020-08-26 19:26] antoninbas commented on #1153
@moshe010 do you think you could take this one?

[2020-08-27 02:54] TicktW commented on #1149
@antoninbas Is there any plan about IPAM for Multus interface?

[2020-08-27 03:48] jianjuns commented on #1149
We considered this but no short term plan yet. If you have any specific requirements/ideas, please let us know.

[2020-08-27 05:48] wenyingd opened #1157 "IGMP is not supported in OVS conntrack on Windows Nodes"
**Describe the bug**
Windows uses IGMP to support multicast, but IGMP is not supported in OVS conntrack on Windows Nodes. Antrea enforce all IP packets into OVS conntrack to help track connections and provide Network Policy, this behavior might also requires OVS conntrack to handle IGMP packets on Windows. These unsupported packets might introduce risks that OVS on Windows doesn't behave as expect

[2020-08-27 06:05] #1126 closed

[2020-08-27 06:27] yktsubo commented on #1126
@lzhecheng  , Thank you!

[2020-08-27 12:47] rbhamre commented on #1141
Hi Quan, didn't captured this details when the issue was observed, however can you please check if the below cmd o/p may help?

[code]

[2020-08-27 15:58] weiqiangt opened #1162 "ruleID may have conflict in policyCache"
**Describe the bug**
In `pkg/agent/network_policy.go:1004`, `pkg/agent/network_policy.go:1331`, `pkg/agent/pipeline.go:1385`, we're using `string(ruleID)` to generate the key, and the `string` here will not work like `fmt.Sprint` but convert the uint to a rune.

**To Reproduce**
I wrote the following snippet to demonstrate this issue:
[code]
This example shows although the number is identical, the

[2020-08-27 18:11] #1162 closed

[2020-08-27 19:05] antoninbas commented on #1149
@TicktW as Jianjun mentioned no short term plan. In the guide I will share, I will provision a DHCP server in the cluster to allocate IPs for secondary interfaces.

[2020-08-27 19:05] antoninbas commented on #1149
Closing this since the original issue has been resolved and the conversation has diverged to Multus.

[2020-08-27 19:05] #1149 closed

[2020-08-27 19:42] antoninbas commented on #1033
Assigning to @srikartati because he is already working on this: https://github.com/vmware-tanzu/antrea/pull/1143

[2020-08-27 20:20] #1152 closed

[2020-08-27 21:57] antoninbas opened #1164 "Support EndpointSlices in AntreaProxy"
**Describe the problem/challenge you have**
Starting with K8s 1.19, EndpointSlices are enabled by default (https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md#endpointslices-are-now-enabled-by-default) and used by kube-proxy to implement ClusterIP Services and increase scalability. We should consider supporting EndpointSlices in AntreaProxy as well. Since we still want

[2020-08-28 02:08] antoninbas opened #1169 "GKE CI job failing because of unsupported K8s version"
**Describe the bug**
Jobs are now failing with:
[code]

See http://jenkins.antrea-ci.rocks/view/cloud/job/cloud-antrea-gke-conformance-net-policy/64/console

This is probably because of the GKE update on 08/27: https://cloud.google.com/kubernetes-engine/docs/release-notes

What's surprising is that the CI script checked-in the Antrea repo uses a different version by default: https://github.com/vmw

[2020-08-28 02:23] ZhangYW18 opened #1170 "SYN bit of TCP Flags Field need to be specified in traceflow UI"
**Describe what you are trying to solve**
Currently, when users start a traceflow via UI, SYN bit of the OVS tcp_flags field of the packet sent out by traceflow controller is set to 0 by default. According to @lzhecheng, this leads to some errors in traceflow, for example, when sending a traceflow packet from a pod to a service, SYN bit needs to be set to 1, which means tcp_flags should be set to

[2020-08-28 02:25] ZhangYW18 commented on #1170
@lzhecheng Could you further explain what kind of errors will occur if we always set tcp_flags field to 0?

[2020-08-28 02:34] alex-vmw opened #1171 "antrea-ovs container crashed 5 times in about 6 minutes"
**Describe the bug**
antrea-ovs container crashed 5 times in about 6 minutes:
[code]

**To Reproduce**
Do not know to reproduce.

**Expected**
antrea-ovs container should not crash, especially multiple times in row.

**Actual behavior**
antrea-ovs container crashed 5 times in about 6 minutes.

**Versions:**
Please provide the following information:
Please provide the following information:
 - Antr

[2020-08-28 03:02] lzhecheng commented on #1170
Yes, Yuki describes it here.
https://github.com/vmware-tanzu/antrea/issues/1126

[2020-08-28 03:05] antoninbas commented on #1170
In commit messages and code, let's say "SYN packet" instead of "a packet with tcp_flags sent to 2", it makes it easier to follow. @ZhangYW18 if we do not use a SYN packet, then AntreaProxy will not perform ClusterIP load-balancing. I believe the packet will be dropped if it is not a SYN packet because it will be invalid according to conntrack.

[2020-08-28 03:43] Dyanngg commented on #1169
Already pushed a PR for this issue. For the version on readme, I cannot think of a better way other than periodically updating it manually for now

[2020-08-28 03:57] ZhangYW18 commented on #1170
If the error only happens in a specific case like #1126, then we can just set the tcp_flag field, or SYN bit, according to the input in the backend. I believe most users do not know what the tcp_flag or SYN bit means. Thus, I think it is not user-friendly to let the users fill in them via UI directly.

[2020-08-28 04:06] antoninbas commented on #1170
Yes I also think we should not expose the TCP flags in the UI for now, and just always set the SYN bit for TCP packets when building the CRD.

[2020-08-28 04:20] Dyanngg opened #1173 "Antrea NetworkPolicy and K8s NetworkPolicy collides if have the same name and namespace"
**Describe the bug**
Between controller and agent, Antrea NetworkPolicy and K8s NetworkPolicy are both converted to internal networkpolicy type for consumption. The keyFunc for the internal np store is defined as 'namespace/name' (L125, pkg/controller/networkpolicy/store/networkpolicy.go). Since both resources are namespaced, K8s NP and ANP with the same name in the same namespace will result in t

[2020-08-28 04:59] Dyanngg opened #1174 "Golangci-lint on mac-os times out often"
**Describe the bug**
Pre-checkin Action Go / Golangci-lint (macos-latest) has been very flaky recently with the following error:

[code]
Status board https://github.com/vmware-tanzu/antrea/actions?query=workflow%3AGo
Most recent failures are related to this issue

[2020-08-28 08:42] #1089 closed

[2020-08-28 08:58] ZhangYW18 commented on #1170
@lzhecheng Antonin and me are all more in support of encapsulating this field rather than expose it to users. Could you share with us the reasons you want to add this input field so we can further discuss the solution?

[2020-08-28 09:22] tnqn opened #1175 "Traceflow UX improvement"
**Describe the bug**
Recently we received quite a lot support requests for the Traceflow feature with Octant UI, I helped troubleshoot one and it turned out it's just because the delay of the Traceflow result, but people may be confused by the blank graph and not realizing it's in progress.

To improve the user experience, instead of showing a blank graph, it would be better to have some message s

[2020-08-28 09:22] tnqn commented on #1175
@ZhangYW18 do you think it's something we can improve?

[2020-08-28 09:50] ZhangYW18 commented on #1175
Currently, when drawing the traceflow graph, we judge the phase of traceflow first, and response with a blank graph if the phase is not "Succeeded". We can also show out some information on the graph when the traceflow is running, timeout, or in whatever any other status. When there's something wrong with traceflow, I suggest we show the error message via alerts, which will be available in the nex

[2020-08-28 11:04] tnqn commented on #1141
@rbhamre There is no information about the resource usage of the Node from the above output. But according to the message "Kubelet stopped posting node status" and the previous logs that says "container runtime is down", I think this was because the Nodes were heavily overloaded, either under great memory or CPU pressure, causing container runtime or kubelet itself not responsive. Unless it's antr

[2020-08-28 19:12] #1169 closed

[2020-08-28 20:22] abhiraut commented on #1173
@tnqn do you have bandwidth to tackle this? or want me to take a crack on it. not sure if you already started work

[2020-08-28 22:07] #1122 closed

[2020-08-30 05:05] nsxdemo opened #1181 "network policy doesn't work (even deny all)"
**Describe the bug**
Simply define a deny-all network policy, but it doesn't work as expected

**To Reproduce**
in my environment, I delete Antrea add-on, Kubeadm reset on node, and re-init and apply add-on, having the same issue

**Expected**
block all traffic between pods

**Actual behavior**
NetworkPolicy is not configured via Antrea, and traffic doesn't block

**Versions:**
root@an01:/# antctl

[2020-08-31 03:35] tnqn commented on #1181
@nsxdemo thanks for reporting. However I cannot reproduce it with master builds. Could you share the status and the logs of antrea-controller and antrea-agent Pods? You may use `antctl` to get them: https://github.com/vmware-tanzu/antrea/blob/master/docs/antctl.md#collecting-support-information

[2020-08-31 04:51] yktsubo commented on #1181
Hi, I'm seeing a similar issue with v0.9.1.
Networkpolicy is configured but there are no OVS flows to block traffic in EgressDefaultTable.

[2020-08-31 05:23] tnqn commented on #1181
@yktsubo could you share logs? I cannot reproduce with 0.9.1 either.
This is the deny-all policy I used:
[code]

[2020-08-31 05:28] yktsubo commented on #1181
The applied policy is
[code]
Here is the list of pods running in the namespace
[code]

What I found is that table50 doesn't have correct flows to block traffic on both node-1 and node-2.
But all connection seems fine.

[support-bundles_20200831T125822+0800.tar.gz](https://github.com/vmware-tanzu/antrea/files/5148444/support-bundles_20200831T125822%2B0800.tar.gz)

[2020-08-31 05:30] yktsubo commented on #1181
Here is the example from node1
[code]
From my understanding, node-1 should block traffic from 172.16.1.8 and 172.16.1.6 to outside.

[2020-08-31 11:04] tnqn commented on #1181
Thanks @yktsubo for sharing the information and providing a way to reproduce it.
After applying https://github.com/yktsubo/mock-demo several times, I can see that the networkpolicy reconcilers were not running any more (no `Reconciling rule` logs) while the agent can receive correct NetworkPolicy and AppliedToGroup events from the controller correctly. It should be the agent network policy workers

[2020-08-31 15:07] tnqn commented on #1173
@abhiraut I can work on this, I needed this to help distinguish policies for status and stats report.

[2020-08-31 20:09] alex-vmw commented on #1171
Previous ovs container logs:
[antrea-agent-dd9nf-ovs-logs.log](https://github.com/vmware-tanzu/antrea/files/5152426/antrea-agent-dd9nf-ovs-logs.log)

[2020-08-31 20:10] antoninbas commented on #1171
Thanks @alex-vmw, will look at this today

[2020-08-31 20:17] antoninbas commented on #455
@lzhecheng Found a way to do this so let me take a stab at it

[2020-09-01 01:16] antoninbas commented on #1171
@alex-vmw and I looked into this. It is very similar to https://github.com/vmware-tanzu/antrea/issues/1019. When looking at kernel logs, we see:

[code]

Even though `kernel.pid_max` was increased for the cluster, the limit enforced by cgroup for Pods was still pretty low:

[code]

This can be resolved by restarting kubelet on each Node, as a restart will cause kubelet to reset this value to the v

[2020-09-01 05:08] srikartati commented on #985
Hi,
Thanks for the offline discussion @antoninbas
Here the basic issue is having a Prometheus metric with the label as network policy name/uuid, which makes the label a high cardinality label. This is not recommended in Prometheus because of explosion of time series metrics. I tried to see if a constMetric can help by sending standalone metrics periodically with a specific set of labels. This does

[2020-09-01 05:50] suwang48404 commented on #985
@srikartati , thank you,  that was very informative.

[2020-09-01 18:30] srikartati opened #1195 "Support Flow Exporter feature for Windows"
**Describe the problem/challenge you have**
Currently, FlowExporter feature is only supported for Linux. Need to support for Windows.

**Describe the solution you'd like**
We already support dumping conntrack flows using ovs-appctl command.
We can use the same for windows and enhancing the ovs-appctl dumping command.
This requires testing on Windows nodes.

[2020-09-01 20:05] antoninbas commented on #1017
Taking this issue as it is causing a CI job to fail. Don't think we need to run in a Docker, but we need to make sure the version is consistent.

[2020-09-01 23:09] DanielGlaas opened #1197 "CrashLoopBackOff issue with pods kube-controller-manager-k8s-master and kube-scheduler-k8s-master"
**Describe the bug**
After applying the [antrea.yml](https://raw.githubusercontent.com/vmware-tanzu/antrea/master/build/yamls/antrea.yml) onto a fresh install of the latest kubernetes version 1.19 with latest docker 19.03.12 on ubuntu 18.04 in virtual box, I get a cluster with on master and two nodes without having to do any further interaction. Deploying a small application with an postgres datab

[2020-09-01 23:51] antoninbas commented on #1197
@DanielGlaas thanks for opening this. Do you have any material to share that would point to this being a CNI / Antrea issue? The deprecation warnings should be harmless, I assume they have something to do with the deprecation of the `apiextensions.k8s.io/v1beta1` API, which is something we are planning to address in the next Antrea release.

Based on the output of `kubectl get pods --all-namespace

[2020-09-02 01:36] srikartati commented on #712
@robcowart We did not get a clear green signal from our legal team yet on whether we could share the PCAP or not. As this is getting delayed, we were wondering if you could do the capture on your local testbed?
Thank you.

[2020-09-02 03:07] #1181 closed

[2020-09-02 04:53] #975 closed

[2020-09-02 04:53] #1017 closed

[2020-09-02 06:02] lzhecheng commented on #1043
@antoninbas could you help add the tests for IPsec? I have some other issues to solve.

[2020-09-02 06:56] robcowart commented on #712
I will. It will just take me a bit of time to get to it.

[2020-09-02 07:21] DanielGlaas commented on #1197
Wow, thanks you for this very quick reply!

Before I found antrea as CNI, I also tried other CNI managers like flannel and calico. None of the worked, compared of them antrea is that much better as applying the yml reply does it job and then the network is ready out of the box. :1st_place_medal:
Great job!

However, when testing the other CNI solutions I never noticed this CrashLoopBackOff issue w

[2020-09-02 09:18] lzhecheng commented on #1170
Sorry for late reply. I think users should have related knowledge for tcp_flag so it is ok for their to configure. Currently, only 2 is valid for tcp_flag when destination is service. I am not sure about future use of this field so it is better to make it configurable.
Besides these, if we want to configure this field for users, isn't it better to be in agent-controller? No matter UI or antctl, it

[2020-09-02 16:50] srikartati commented on #712
Appreciate your understanding. Thanks.

[2020-09-02 17:54] antoninbas commented on #1170
@lzhecheng is there any reason why today we don't set this flag unconditionally in the controller for every Traceflow request (not just requests for which the destination is a Service)? If we can do that, that may be the best solution. But then users will probably not be able to set that flag directly, as the value they provide would get overwritten by the controller. Is being able to set this fla

[2020-09-02 23:10] #1171 closed

[2020-09-02 23:26] srikartati commented on #1033
Closed the above PR as it is clubbed with categorizing Prometheus metrics and that needs a wider discussion.

Connection metrics will be handled in a separate PR. We have to handle the following metrics as part of Flow Exporter:
TotalConnectionsInConnTrackTable
TotalAntreaConnectionsInConnTrackTable
MaxConnectionsInConnTrackTable (this is to give percentage of remaining connections)

[2020-09-03 00:01] srikartati commented on #1033
Yongming agreed to take this up. Assigning this to him.

[2020-09-03 00:29] #1174 closed

[2020-09-03 01:09] #1144 closed

[2020-09-03 06:16] lzhecheng commented on #1170
@antoninbas , currently this flag is needed only for service destination.
There is a possible solution that we turn tcp_flag into a pointer in traceflow CRD. Then if users don't configure it through UI/CLI, agent-controller will set it as a default value, like 2 if service as destination.

[2020-09-03 20:56] DanielGlaas commented on #1197
Ok, it really looks like that the lack of memory was the problem. I'm sorry for asking this question and accusing antrea. But maybe it helps someone googling and searching for a solution of a similar problem.

I also have another strange observations, maybe this is related to antrea?
When running `kubectl get nodes`, `kubectl get pods --all-namespaces`, and `kubectl get services --all-namespaces`

[2020-09-03 21:06] antoninbas commented on #1197
I doubt this is related to Antrea. I would recommend enabling trace logging (`--v=6`) for kubectl and making sure that there is no error related to caching.

[2020-09-03 21:28] DanielGlaas commented on #1197
You're damn right! Thanks for pointing me to --v=6 and indeed the errors appeared related to caching

At first I wondered why you know the root cause that fast, and then I detected this old issue
https://github.com/kubernetes/kubernetes/issues/86462 and this commit https://github.com/vmware-tanzu/antrea/pull/263/commits/6cfe5766112c619db13263c3607296aef7d3d3fc created by you ;-)

Thank you very mu

[2020-09-03 21:28] #1197 closed

[2020-09-03 21:51] GraysonWu opened #1207 "The order between defer functions and t.Fatalf is wrong"
**Describe the bug**
The order between a statement of defer function and t.Fatalf matters. Wrong order will cause defer functions to not perform as we expected.
After a Fatal triggered, it will calling runtime.Goexit which will exit the goroutine, which will run the deferred functions in this goroutine.
But if a statement of a defer function is after Fatal, which means this deferred function hasn'

[2020-09-04 02:24] #455 closed

[2020-09-07 08:17] TicktW opened #1210 "Is there any plan to integrate Antrea into TKG(Tanzu Kubernetes Grid)"
**Describe what you are trying to do**
A description of what you are trying to achieve, what you have tried so far and the issues you are facing.
We use TKG, and I I wonder if TKG will use Antrea as CNI.

[2020-09-08 11:50] rbhamre commented on #1141
Hi @tnqn @antoninbas ,

In TKG-1.2 release, the minimum worker-node size should not be less that 2cpu and 8 mem. If we have tried to deploy tkg cluster in AWS less than this config then it is failing.
So looking at the min config requirement, I have deployed tkg cluster having 2 cpu and 8 mem using antrea and another cluster using calico cni, and scaled up the setup with 100+ pods per worker-node.

[2020-09-08 12:32] tnqn commented on #1141
@rbhamre thanks for confirming!

[2020-09-08 12:32] #1141 closed

[2020-09-08 17:39] antoninbas commented on #1210
I'll refer you to this recent blog post by VMware: https://blogs.vmware.com/networkvirtualization/2020/08/container-networking-antrea.html/

There should be a TKG release in the near future with Antrea support.

[2020-09-08 17:39] #1210 closed

[2020-09-08 17:44] #345 closed

[2020-09-08 22:31] antoninbas commented on #368
Switching this to documentation, as no change is required in Antrea (when using Antrea for the default network). Currently working on writing a guide on how to use Antrea with Multus, which will be added to this repo.

[2020-09-09 04:33] tnqn opened #1218 "TestControllerMetricsOnPrometheusServer is flaky"
**Describe the bug**
[code]

Recent failures:
https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/1178/console
https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/1199/console
https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/1174/console

None of the PRs touches related code.

**Expected**
The test should be stable.

[2020-09-09 04:34] tnqn commented on #1218
@ksamoray could you take a look?

[2020-09-09 06:48] tnqn opened #1219 "Pod-to-Service UDP bandwidth is relatively low"
**Describe the bug**
According to Alexis Ducastel's benchmark result: [Benchmark results of Kubernetes network plugins (CNI) over 10Gbit/s network (Updated: August 2020)](https://itnext.io/benchmark-results-of-kubernetes-network-plugins-cni-over-10gbit-s-network-updated-august-2020-6e1b757b9e49), Antrea performs well in the following metrics:
- Pod-to-Pod TCP bandwidth (9826 Mbps)
- Pod-to-Pod UDP

[2020-09-09 07:57] ksamoray commented on #1218
I suspect that this is a resources issue, is there a way to retrieve the pod logs from the test cycle?

[2020-09-09 08:05] ksamoray commented on #1218
Added PR #1220 to better understand Prometheus activity in cases such as above. However IDK how to access the pod log output.

[2020-09-09 09:40] tnqn commented on #1218
The “Build Artifacts” has logs of antrea pods.

[2020-09-09 10:24] ksamoray commented on #1218
Indeed, but Prometheus log is missing, and even if existed, wouldn't have any info about service connectivity. Which is why I added #1220.
But still there's no way to obtain that log. Right?

[2020-09-09 18:49] #1207 closed

[2020-09-10 03:01] weiqiangt opened #1224 "Update pipeline.md for policy rule metric flows"
**Describe the problem/challenge you have**
We need to update the pipeline.md according to the #1140 implementation.

**Describe the solution you'd like**
A description of what you want to happen.

**Anything else you would like to add?**
Anything else which is relevant and may help us understand the issue.

[2020-09-10 08:18] gran-vmv opened #1225 "Support CNP in Traceflow"
**Describe the problem/challenge you have**
Antrea traceflow doesn't support CNP/ANP now.
If CNP/ANP dropped a traceflow packet, Antrea cannot report this drop event properly and will get "timeout" result.

**Describe the solution you'd like**
Antrea Traceflow can report packet accepted/denied by CNP.

**Anything else you would like to add?**
Antrea Network Policy: https://github.com/vmware-tanzu/

[2020-09-10 08:21] lzhecheng opened #1226 "[e2e] Collect logs of all antrea-agent pods even Antrea is re-deployed"
**Describe the problem/challenge you have**
Currently, in e2e tests, logs of antrea-agent pods are collected at the end of a test. But it is possible that old antrea-agent pods are deleted and new ones are created when Antrea is re-deployed. In this case, logs of those old ones are missed.
E.g.
https://github.com/vmware-tanzu/antrea/blob/master/test/e2e/ipsec_test.go#L40

**Describe the solution y

[2020-09-10 18:39] #1043 closed

[2020-09-10 19:52] abhiraut opened #1227 "Propose updates to ExternalEntity CRD named port usage"
Lets discuss the proposal based on discussion https://github.com/vmware-tanzu/antrea/pull/1084#discussion_r485798409 on this issue.

In a nutshell, it is proposed that we update the ExternalEntity CRD spec to remove named ports per interface and instead associate named ports with the entity itself. This would require a change in the GroupMember struct used in internal communications.
Following are

[2020-09-10 19:53] abhiraut commented on #1227
/cc @jianjuns @tnqn @suwang48404 @Dyanngg

[2020-09-10 20:13] Dyanngg commented on #1227
Thanks @abhiraut for creating the issue. CC @wenyingd as the proposed GroupMember struct change affects dual stack pod processing.

[2020-09-10 20:18] Dyanngg commented on #1227
@suwang48404 Are we good with the proposed change in EE crd? i.e.
[code]

[2020-09-10 21:06] GraysonWu commented on #1002
Thank lzhecheng and antoninbas！
Didn't find cases of using Fatal inside a multi-action cleanup function or other situation that will cause a problem under test/e2e.
Will pay attention to whether to use Error or Fatal in the future.

[2020-09-10 21:16] suwang48404 commented on #1227
I am sorry, what is difference before and after this change? can u summarize, yaml is bit harder to read.

Thx, Su

[2020-09-10 21:24] Dyanngg commented on #1227
As summarized in the issue base, the proposed change is to move the `ports` array from being a property of `endpoint`, to a property that belongs to the base `spec` of externalEntity. This way we do not duplicate this information for each endpoint. @abhiraut to comment on versioning

[2020-09-10 22:31] jianjuns commented on #1227
[code]

Questions
1. IPs are used in AddressGroup only right?
2. For AppliedToGroup, do we have the requirements to apply to part of interfaces/endpoints in the VM?

[2020-09-10 22:58] Dyanngg commented on #1032
Closing this issue as it is not occuring any more.

[2020-09-10 22:58] #1032 closed

[2020-09-10 23:51] abhiraut commented on #927
and ANP since namespaced policies are also merged now

[2020-09-11 01:32] lzhecheng commented on #1002
Thanks Grayson! Let's close this issue.

[2020-09-11 01:32] #1002 closed

[2020-09-11 01:41] #881 closed

[2020-09-11 08:31] wenyingd opened #1234 "Random failure occurs in integration test "TestBundleErrorWhenOVSRestart""
**Describe the bug**
The integration tests failed quite often recently because of timeout (10min). And the it is stuck at case "TestBundleErrorWhenOVSRestart"

**To Reproduce**
Run integration test.

**Expected**
All tests should pass

**Actual behavior**
The integration tests failed, and the failed case is "TestBundleErrorWhenOVSRestart". After dumping goroutines, one goroutine info shows like fo

[2020-09-11 12:26] wenyingd opened #1236 "Enhance NetworkPolicy to support IPv4/IPv6 Dual-Stack"
**Describe what you are trying to solve**
Antrea is planned to support IPv4/IPv6 dual-stack. To  support IPv4/IPv6 dual-stack in Antrea, some code changes on NetworkPolicy are needed, including 1) configuring IPv6 IPBlock in the NP rule; 2) allow/drop both IPv4 and IPv6 packets sent to or from the corresponding Pods which are selected in a NP rule, or applied to by a NP rule.

**Describe the solut

[2020-09-11 17:56] antoninbas commented on #1234
I think it's a duplicate of https://github.com/vmware-tanzu/antrea/issues/711? You can close the older issue if it is.

[2020-09-11 19:31] abhiraut commented on #1227
yes for 1. i was thinking we will do what we have been doing with GroupMemberPod conversions, i.e. includeIP only if generating GroupMember for AddressGroups

2. @suwang48404  could answer that one

[2020-09-11 21:20] srikartati commented on #712
Closing this issue as the feature is available as alpha feature in Antrea 0.9.0. Opened new issues for enhancements: flow exporter support on windows, adding network policy info etc.
@robcowart Hoping we could continue our conversation on [Antrea Slack channel](https://kubernetes.slack.com/?redir=%2Fmessages%2FCR2J23M0X) or the [mailing list](https://groups.google.com/forum/#!forum/projectantrea).

[2020-09-11 21:20] #712 closed

[2020-09-11 21:47] #615 closed

[2020-09-11 22:00] GraysonWu commented on #927
Thanks for bringing it up. I will work on it.

[2020-09-11 23:19] jianjuns commented on #1227
Thought over. Anyway we might extend GroupMember to have an Endpoints field then. So, the current definition looks good.

[2020-09-12 06:45] siddhant94 commented on #1226
Hi, @lzhecheng , @antoninbas
I got a chance to look at this issue briefly. I wanted to check up on couple of queries regarding implementation.
So currently, the logs are written with written with both `describe` and `logs` suffix for `kubectl` command to disc with a file name format (`%s-%s-%s", nodeName, podName, suffix`) just inside teardownTest().
1) To write logs of the old pods i.e. when call

[2020-09-14 06:17] wenyingd commented on #1234
There should be some bug when resolving the goroutine leak issue in ofnet, which might cause the integration test failed and report a new error like,
[code]

[2020-09-14 07:02] ruicao93 opened #1242 "Released windows assets names are incorrect(v0.9.2, v0.9.3)"
**Describe the bug**
Some released windows assets names are incorrect in version v0.9.2 and v0.9.3. Could you help update the file names when you have time?

**Expected**
[code]

[2020-09-14 07:03] ruicao93 commented on #1242
Thanks @reachjainrahul for discovery.

[2020-09-14 10:39] lzhecheng commented on #1226
Hi @siddhant94
Yes, I think it is necessary to indicate which phase these pods are in. Suffix/prefix is a good idea and you can also put these pods into a folder.
Yes, all logs we collect now.
I am assigning you this issue. Thank you!

[2020-09-14 15:13] alexbrand opened #1244 "Feature list in Antrea website is not rendering properly [website]"
**Describe the bug**
The feature list in the doc site is not rendering properly. See attached screenshot.

![image](https://user-images.githubusercontent.com/545723/93103971-45c26700-f67b-11ea-9ff3-d150585dd31c.png)

[2020-09-14 16:47] srikartati opened #1245 "Implement linters for Prometheus metrics using promlint pkg"
**Describe the problem/challenge you have**
Prometheus metrics can have issues with its name, metadata, and types. There is a linter pkg called [promlint](https://godoc.org/github.com/prometheus/client_golang/prometheus/testutil/promlint) to detect these. We can make use of that.

**Describe the solution you'd like**
An example on how to use the promlint package in Kubernetes with a unit test:
htt

[2020-09-14 16:56] #905 closed

[2020-09-14 19:05] antoninbas commented on #1242
Thanks @ruicao93 and @reachjainrahul. Because of https://github.com/vmware-tanzu/antrea/issues/1089 I've had to upload assets manually, and I forgot to rename these 2. Will take care of it now.

[2020-09-14 19:14] #1242 closed

[2020-09-14 21:39] antoninbas commented on #1226
Note that the Pods should have a different name anyway, since they are being re-created in `redeployAntrea`. But an additional suffix may help.

[2020-09-15 00:11] antoninbas commented on #437
@edwardbadboy @lzhecheng could we bump up the Go version to 1.15 in the near future? Go 1.13 is no longer being supported AFAIK, so we no longer get security patches.

[2020-09-15 02:00] #1234 closed

[2020-09-15 03:54] tnqn opened #1250 "antrea-controller should be backward compatible with antrea-agent to allow graceful upgrade"
**Describe the bug**
In Antrea v0.9.3, the API group "networking" is renamed to "controlplane"(https://github.com/vmware-tanzu/antrea/pull/1147). When upgrading from 0.8 to 0.9.3, the control plane communication will be disrupted partially until the whole upgrade is done because the old antrea-agents cannot communicate with the new antrea-controller. The worst case is that the NetworkPolicy/ Appli

[2020-09-15 20:02] abhiraut opened #1253 "Revise Antrea NetworkPolicies short names"
Antrea NetworkPolicy CRDs can be retrieved using `kubectl` commands using either full name or short name. However, the short name `netpol` for Antrea NetworkPolicy collides with  that of K8s NetworkPolicy, in which case, the K8s NetworPolicies are returned. In order to retrieve Antrea NetworkPolicy, users must append the short name with the group name. eg
`kubectl get networkpolicies.security`
The

[2020-09-15 20:03] abhiraut commented on #1253
/cc @antoninbas @tnqn @jianjuns @salv-orlando

[2020-09-15 21:28] antoninbas commented on #1253
I think standardizing the names to "antreaclusternetworkpolicies" / "acnp" and "antreanetworkpolicies" / "anp" would be good and may help avoid any conflicts in the future as the upstream NetworkPolicy APIs evolve. If changing the full resource names is too disruptive, adding"acnp" and "anp" as short names (we can preserve the existing ones for now) is probably a good start. When we upgrade the AP

[2020-09-15 22:16] antoninbas opened #1254 "All release artifacts should be downloadable over HTTPS"
**Describe the bug**
Currently the OVS binaries provided by Antrea for Windows support are downloaded over HTTP: https://github.com/vmware-tanzu/antrea/blob/3a81b47266f84bf0fd22a7cdafe266f50adbeac2/hack/windows/Install-OVS.ps1#L11

We do validate the file's integrity using a checksum which is hardcoded in the script itself, so as long as the script is downloaded over HTTPS, the download will be se

[2020-09-15 22:16] antoninbas commented on #1254
I will start looking into what's required for this. Note that "downloads.antrea.io" points to an AWS S3 bucket.

[2020-09-15 22:57] antoninbas commented on #1137
@tnqn so I was going to resolve this issue by connecting directly to the Controller and enabling secure mode by using `ServerName` in `TLSClientConfig`. But what do you think of upgrade concerns when using `nonResourceURL`? In this case the API is only consumed by antctl, but we did talk earlier about providing some backwards-compatibility guarantees even for antctl. The alternative is to use a st

[2020-09-16 00:14] antoninbas commented on #1254
I have configured an AWS CloudFront distribution to serve content from the downloads.antrea.io AWS S3 bucket. The CloudFront distribution supports HTTPS requests for custom domain downloads.antrea.io, thanks to 1) a public SSL certificate generated by AWS Certificate Manager and 2) a CNAME record pointing downloads.antrea.io to the CloudFront domain (thanks @McCodeman for taking care of updating t

[2020-09-16 01:52] #1254 closed

[2020-09-16 05:02] tnqn opened #1257 "Support NetworkPolicy Status for AntreaPolicy"
**Describe what you are trying to solve**
This proposal is to expose the status of Antrea Policies to the `Status` field of corresponding CRDs, e.g. Antrea ClusterNetworkPolicy and NetworkPolicy.

antrea-controller collects NetworkPolicy realization status from antrea-agents and updates the `Status` field of Policy CRDs.

The struct of `NetworkPolicyStatus` is as below:
[code]

Besides, Kubernetes

[2020-09-16 13:11] alexbrand commented on #1244
Happy to look into this, but couldn't figure out where the source code of the website is.

[2020-09-16 13:56] siddhant94 commented on #1226
@lzhecheng Any pointers as how to test the e2e flow?

[2020-09-16 15:54] tnqn commented on #1137
@antoninbas I think using a standard K8s versioned API makes more sense now if we want to improve the feature later and keep compatibility. Although it's a "query", it's similar the TokenReview and SubjectAccessReview API in K8s, which uses the resources to represent actions. The APIs have only "create" verb, the query is in Spec of the Review resource and the response is in the Status, and no res

[2020-09-16 17:03] siddhant94 commented on #1226
Got it :+1:
https://github.com/vmware-tanzu/antrea/blob/master/test/e2e/README.md

[2020-09-16 18:29] antoninbas commented on #1244
Hi @alexbrand - the features list comes directly from the top-level README.md file. I'm currently working on it since it is out-of-date (as part of https://github.com/vmware-tanzu/antrea/issues/1058). I'll look into this issue at the same time, it's probably just a missing empty line that is required by netlify. I don't believe that the website is refreshed automatically (yet) when we update the m

[2020-09-16 22:09] antoninbas commented on #1137
That makes sense. I assume that the fact that the `Status` can be very large here (e.g. it could be the entire set of Pods when the policy applies to all Pods) is not an issue, since we are not using a CRD and this is not stored in etcd. Will take a stab at this and use the "ops" API group.

[2020-09-17 01:27] lzhecheng commented on #521
This issue has been fixed when upgrading VMC Jenkins. Closing it.

[2020-09-17 01:27] #521 closed

[2020-09-17 01:29] #768 closed

[2020-09-17 05:47] #1250 closed

[2020-09-17 06:57] ksamoray commented on #1218
Picked up this failure as it is rebased on top of #1220 PR, and has this failure too.
https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/1264/consoleFull

Logs reflects that Antrea Controller starts at 04:22:23 timestamp
`
I0917 04:22:23.047466       1 log_file.go:99] Set log file max size to 104857600
I0917 04:22:23.048453       1 controller.go:72] Starting Antrea Controller (version

[2020-09-17 07:13] ksamoray commented on #1218
BTW the Agent starts to bootup at 04:18:57 so I guess that the Controller is pending due to this as well. Could the clocks be out of sync BTW?

`
I0917 04:18:57.063292       1 log_file.go:99] Set log file max size to 104857600
I0917 04:18:57.063687       1 agent.go:62] Starting Antrea agent (version v0.10.0-dev-516b0b5)
`

[2020-09-17 07:42] tnqn opened #1262 "antctl get netpol should support AntreaPolicy"
**Describe the bug**
`antctl get netpol` assumes the controlplane networkpolicy is a namespace scoped resource and namespace/name can uniquely identify a NetworkPolicy. This is no longer true after Antrea ClusterNetworkPolicy and Antrea NetworkPolicy are supported, there are several issues:
1. More fields needs to be displayed, e.g. tier, priority, currently antctl has its own NetworkPolicy struct

[2020-09-17 07:55] siddhant94 commented on #1226
@lzhecheng @antoninbas What would be preferred to move the logs directory creating logic out of exportLogs(), so that we can control directory name as in when to add suffix etc.? Or
Add an argument to `exportLogs(tb testing.TB, data *TestData, dirSuffix string)` in which if we get suffix we create the suffix folder inside the logsDir. Something of this sort would be the final logs

[code]

[2020-09-17 18:05] abhiraut commented on #1262
duplicate of https://github.com/vmware-tanzu/antrea/issues/927

[2020-09-17 18:05] #1262 closed

[2020-09-17 18:05] abhiraut commented on #927
@GraysonWu please see issue description in https://github.com/vmware-tanzu/antrea/issues/1262 for some hints. Thanks for taking it up!

[2020-09-17 18:08] antoninbas opened #1264 "Remove unnecessary DMAC rewrite from Service CIDR flow"
**Describe the bug**
@dumlutimuralp asked a question about the necessity of the DMAC rewrite in the following flow:
[code]
This action also does not match the ovs-pipeline documentation: https://github.com/vmware-tanzu/antrea/blob/master/docs/ovs-pipeline.md#dnattable-40

It was actually introduced for networkPolicyOnly mode support: https://github.com/vmware-tanzu/antrea/pull/449. However, we no

[2020-09-17 19:09] antoninbas commented on #1218
It seems that for e2e tests on VMC, we apply the Prometheus YAML before actually applying the Antrea YAML (which will be applied from the Go test code). Maybe a solution would be to apply antrea.yml and wait for the Controller and / or Agents to be running before applying the Promtheus YAML: https://github.com/vmware-tanzu/antrea/blob/fd47097ab7f723650774315092fc6db9b33334d3/ci/jenkins/test-vmc.sh

[2020-09-17 21:19] jianjuns commented on #1264
This one is missed by  PR #1015 when we move noEncap/policyOnly/hybrid to Antrea Proxy. Probably we should compare the flows added by PR #449 and flows removed by PR #1015, to check anything else can be missed.

[2020-09-17 22:22] antoninbas commented on #1226
I think it's fine to have multiple directories with different timestamps like what you have above. Instead of nesting a new directory, you could do this:
[code]

But it would probably be neater to simply create the log directory in `setupTest` and store the path in `TestData`. Then you can get something like this:
[code]
In `teardownTest` you can take care of writing remaining logs or deleting the

[2020-09-18 00:01] jianjuns commented on #1257
The proposal looks great to me.

Do we have other examples of phase named "InProgress"? How about Realizing?

[2020-09-18 01:29] lzhecheng commented on #1226
All are good. My suggestion has little different from Antonin's latter one. I think timestamp is more important in a single test rather than between tests. Also, put final logs into a `beforeTeardown` folder.
[code]

[2020-09-18 01:35] antoninbas commented on #1226
+1 to the modified version proposed by @lzhecheng. It always adds an extra directory level (`beforeTeardown.<timestamp>`) even though for most tests that will be the only one, but I think that's ok.

[2020-09-18 01:39] lzhecheng commented on #1218
Then we could delete this line and add logic in e2e test code to apply antrea-promethus.yml if `--prometheus` is provided.

[2020-09-18 01:49] antoninbas commented on #1137
@tnqn "ops" is also used for CRDs so it doesn't seem that I can use "ops". Do you think I should use "system" (which does not seem like a great fit) or define a new group?

[2020-09-18 01:52] antoninbas commented on #1218
IIRC, what the push_antrea.sh script does (for local testing) is append the `antrea-prometheus.yml` contents to the end of `antrea.yml` - this avoids changes in the e2e code, and does not require copying an additional manifest to the master Node.

[2020-09-18 02:55] lzhecheng commented on #1218
Sounds good.

[2020-09-18 04:39] Dyanngg commented on #927
Hi @tnqn @abhiraut @jianjuns, a question to bring up with you after some offline discussions with @GraysonWu today. After https://github.com/vmware-tanzu/antrea/pull/1258 is merged (the entire PR looks like would be merged after v0.10 from the description), we still have the issue where `antctl get netpol ns/name` being ambiguous if there is a ANP/K8s NP created by the same ns/name. Do we want to

[2020-09-18 06:51] srikartati opened #1270 "Issue in querying policyCache given ruleID for adding netpol info in IPFIX flow records"
**Describe what you are trying to solve**
This is an issue with querying policyCache: pkg/agent/openflow/pipeline.go:305
NetworkPolicyMetrics and FlowExporter get the ruleID from ct_label of the conntrack connection. However, the rule corresponding to the ruleID could be modified or deleted in the policyCache.

This is briefly described in TODOs of PR #1172 and PR #1268

Both issues are similar bu

[2020-09-18 06:55] srikartati commented on #1270
@tnqn @antoninbas @jianjuns Please let me know your thoughts on this proposal. Let me know if you have any alternative ideas. Thought I will get some feedback before investing time in this. It is possible I might be missing something and this can be done in a simpler way.

[2020-09-18 07:03] srikartati opened #1271 "Replace IPFIX collector in antrea/ipfixcollector image with go-ipfix collector"
**Describe the problem/challenge you have**
Do not use third party IPFIX collector based on C libraries (libipfix) in the antrea/ipfixcollector. Instead, use IPFIX collector from vmware/go-ipfix library.

**Describe the solution you'd like**
IPFIX collector in vmware/go-ipfix is released as part of version 0.2.0. Use that IPFIX collector.
Please make sure the flow exporter e2e test (TestFlowExport

[2020-09-18 18:45] jianjuns commented on #1270
Do you guys feel we can change ID allocation strategy to introduce some delay before reusing an ID, and/or put the released ID to the end of the queue? I know it is not theoretically safe, but seems a more generic way to solve such kind of ID conflict problems.

[2020-09-18 19:01] jianjuns commented on #927
I feel we should be consistent with kubectl, and uses different resource names. Do you see any issue with that?

[2020-09-18 19:20] antoninbas opened #1273 "Document Antrea version lifecycle"
We need to start a doc to describe the following:
 * versioning scheme
    - proposal: we have been using semantic versioning from the start, but we should document what changes are acceptable in minor releases and in major releases
    - ideally we should also explain why the current major version is 0, and what are the goals for major version 1 release
 * release cadence
    - proposal: we curre

[2020-09-18 19:59] Dyanngg commented on #927
The tricky part is the resource antctl trying to get is the internal NP, regardless of whether it was created for K8s NP/ANP/CNP. So `antctl get netpol`/`antctl get cnp`/`antctl get anp` does not make sense to me, because in here `netpol` maps to the internal NP as opposed to the K8s NP. Following the discussion with @tnqn, I think my proposal would be:
1. Add a new command line option `antctl get

[2020-09-18 21:49] jianjuns commented on #927
I still prefer to keep the K8s resource names, for a CLI tool for end users. But like to here what others think.

[2020-09-18 21:52] antoninbas commented on #1270
I like Jianjun's idea, we can avoid re-using an id until we have exhausted the id space. However, I think beyond the id being re-used right away for a different rule, I think @srikartati also wanted to reduce the probability of a miss when looking up an id in the cache. That makes sense to me even though it is not as big of a concern as sending incorrect information. @srikartati rather than having

[2020-09-18 22:26] GraysonWu commented on #927
I prefer Dyanngg's proposal.

I think If we keep K8s resource name, I'm not sure if users will feel that's a duplicate function with kubectl.
Since K8sNP/ANP/CNP has been transferred to internal NP, we should treat them as the same 'class' only with a different attribute which is type/reference. We can add a column to the output called `type`. The `[-t k8s|cnp|anp]` option is just like a filter ap

[2020-09-18 23:42] abhiraut commented on #684
CRDs to update:

- [ ] antreacontrollerinfos
- [ ] antreaagentinfos
- [ ] traceflows
- [ ] clusternetworkpolicies
- [ ] networkpolicies
- [ ] externalentities

[2020-09-19 15:54] siddhant94 commented on #1226
Hi @lzhecheng @antoninbas , I have raised the PR.

https://github.com/vmware-tanzu/antrea/pull/1276

[2020-09-21 00:43] srikartati commented on #1270
Thanks for the helpful comments, @jianjuns, and @antoninbas.

As we have to address two issues here incorrect network policy info (reusing the rule IDs) and no network policy info (deletion of rule from rule cache). Both could be solved by doing the deletion in an asynchronous way with some delay.

Asynchronous deletion of rule from the rule cache:
I think the rule cache @antoninbas mentioned is t

[2020-09-21 10:52] tnqn commented on #1270
@srikartati thanks for tracking this. Both solution sound good. Now that we have a few features need the ofID to NetworkPolicy/NetworkPolicyRule mapping. I think instead of keeping the mapping in several places of different layers, we could maintain it one place and provide query interface to others that need it. IMO `idAllocator` could be the one as it's responsible for managing IDs. The ID reusi

[2020-09-21 11:39] tnqn commented on #927
Personally I think it makes sense to keep the subcommand consistent with the API since we already reuse a single controlplane NetworkPolicy resource to represent all kinds of NetworkPolicy. I guess it would be a little ambiguous to have 3 subcommands for a single API and code would be somewhat inconsistent with other `get` subcommand.
From the usage's perspective, I feel antctl is mostly used by n

[2020-09-21 12:00] ksamoray commented on #1218
Should be addressed by PR #1266. Please update the issue if failures reoccur.

[2020-09-21 12:16] tnqn commented on #1137
While I was thinking a new group or existing groups, I realized the operation is essentially a series of queries against controlplane resources, and most logic should be the same even if it's executed on client side, unless it's kept on server side for other API consumers too.
Just like [the way kubectl describe is implemented](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.i

[2020-09-21 17:18] #1058 closed

[2020-09-21 17:23] dreamtalen opened #1278 "Decouple connection polling and conntrack occupancy metrics from the flow exporter implementation"
**Describe the problem/challenge you have**
As mentioned in PR #1232, we want to decouple the conntrack occupancy metrics and connection polling from the flow exporter implementation. Currently, it is not straightforward to decouple both polling and flow export mechanisms. They are both enabled through FlowExporter feature gate and we expect flowCollectorAddr as a must given parameter.

**Describe

[2020-09-21 18:34] antoninbas commented on #1137
Thanks for commenting @tnqn. I do agree that handling everything client-side in antctl is an option, but don't you think we need a public API for these queries? I know that right now we are only looking at antctl as a client, but as part of possible integrations, there could be value in having this API be consumed by other tools, e.g. a UI. In that case, it would be better to have a public API so

[2020-09-21 19:02] jianjuns commented on #927
For getting a single type of policies, I think different resource names are easier for users to remember.
But I get your point that we might like to support returning all types of policies in one command (probably when policy type is not specified).

[2020-09-21 19:19] #368 closed

[2020-09-22 00:05] jianjuns commented on #1264
Compared these two PR, seems the DMAT rewrite is the only missed change.
I will push a PR to remove it.

[2020-09-22 01:41] edwardbadboy commented on #437
Thanks, Antonin. I think Zhecheng can help.

[2020-09-22 01:48] lzhecheng commented on #437
@weiqiangt @lxiaopei, do you think it will affect coverage in some ways?

[2020-09-22 01:51] weiqiangt commented on #437
IMO, the answer is no, since there is go test change in 1.15&1.14.

[2020-09-22 05:19] #1059 closed

[2020-09-22 05:21] jianjuns commented on #901
Should we close this one?

[2020-09-22 05:23] jianjuns commented on #891
I also feel 6 letters Pod name and 4 letters hash are too short.

[2020-09-22 05:29] jianjuns commented on #685
Close this one as we already have Traceflow visulization in Antrea Octant plugin.

[2020-09-22 05:29] #685 closed

[2020-09-22 05:30] jianjuns commented on #538
After we move NetworkPolicyOnly mode to AntreaProxy, this issue no more exists.

[2020-09-22 05:30] #538 closed

[2020-09-22 15:50] tnqn commented on #1219
I took a look at `perf top` and dataplane flows when testing Pod-to-Service UDP bandwidth. The dp flows were hit expectedly but the overhead of `masked_flow_lookup` is pretty high, the bandwidth was only **574** Mbps:
[code]
I suspected it's because it executes 4 flow lookups for each UDP packet. When the destination is service ip, the packet was sent to gateway interface, during which 2 flow look

[2020-09-22 15:53] tnqn commented on #1137
sure, I agree if we plan to have other clients to use the feature, server side implementation is better. We can discuss this in the community meeting.

[2020-09-22 18:37] jianjuns commented on #1219
Could we do connection tracking after the packet reenters OVS for Service traffic?

[2020-09-22 18:40] antoninbas commented on #1219
Thanks for looking into this. My understanding is that every time we send a packet to conntrack, the packet will be recirculated so it can be processed again with the conntrack context. So assuming we need both connections to be committed to conntrack (which I believe in the case), there isn't much we can do about the 2 recirculations (before kube-proxy, after kube-proxy) and the 4 datapath flows.

[2020-09-22 18:47] antoninbas commented on #1219
@jianjuns my understanding is that we need to do connection tracking for both connections

1. Pod-to-Service: to ensure that reply traffic (after kube-proxy rewrite) bypasses NetworkPolicy enforcement
2. Pod-to-backend-Pod: as part of NetworkPolicy enforcement (ensure that reply traffic is always accepted)

Maybe we could avoid 1) altogether? @wenyingd would it make sense to avoid committing these

[2020-09-22 19:01] suwang48404 opened #1284 "open flow library flow builder supports MatchCTDNAT, and MatchCTSNAT"
consider adding MatchCTDNAT and MatchCTSNAT to flow builder for completeness, even if they are yet used by the agent.

[2020-09-22 19:09] suwang48404 opened #1285 "open flow library flow builder provides generic API to learn actions."
The APIs exposed by ofLearnAction is pretty limited compares to generic ofnet APIs, it would be nice if LearnAction may support full range of match and load operations supported by ofnet . If too much work, consider expose nxLearn field in API so that caller may directly interact with ofnet.

[2020-09-22 19:43] antoninbas opened #1287 "Document Antrea public interfaces"
We should publish (on antrea.io) auto-generated documentation for Antrea's public interfaces.

These public interfaces include:

 * CRDs (NetworkPolicies, Traceflow, ...)
 * APIServices other than controlplane, which is meant to be consumed internally by Antrea; since integrated solutions may want to consume controlplane as well, it could be a good idea to generate the documentation for it as well

[2020-09-22 19:55] antoninbas commented on #901
Yes we can close this. We have a user guide and I have a more generic issue to auto-generate API documentation for Antrea interfaces: https://github.com/vmware-tanzu/antrea/issues/1287

[2020-09-22 19:55] #901 closed

[2020-09-22 20:22] antoninbas commented on #1219
@YiHungWei pointed me out to this commit in the Linux tree (https://github.com/torvalds/linux/commit/a7f35e78e701) which should improve flow lookup performance for recirculated packets. Apparently it was included in Linux starting with kernel 5.5. The current kernel version for an up-to-date Ubuntu 18.04 system should be 5.4. I wonder if we would see better performance with a more recent kernel th

[2020-09-22 21:07] #1264 closed

[2020-09-23 02:20] tnqn commented on #1219
@antoninbas The kernel version is `4.15.0-112-generic`, I can try on kernel 5.5 later.

[2020-09-23 02:53] tnqn commented on #1219
I meant when the packets were transmitted from container veth->gw0->tun0, the packet size can be much greater than MTU, and yes, it should be TSO playing the role.
[code]

[2020-09-23 03:41] #1175 closed

[2020-09-23 04:10] wenyingd commented on #1219
Currently, the Pod-To-Service traffic before kube-proxy is already bypassing NP rules: for the Pod-To-Service request packet, it is resubmitted to ConntrackCommitTable(105) from ServiceTable(40) directly, and accross all NP tables; while for the final reply packet, it would bypass NP rule check because of the ct_state=-new+est .

 If we want to completely avoid ct for the traffic for Pod-To-Servic

[2020-09-23 17:53] antoninbas commented on #1173
Moving this to the v0.11 milestone as discussed in #1258

[2020-09-23 17:54] antoninbas commented on #1068
Removing v0.10 milestone: the Operator will live in its own repository following best practices, and initial support needs not be tied to a specific Antrea release

[2020-09-23 18:07] antoninbas commented on #897
No update from OVS team, pushing this to next milestone

[2020-09-23 19:01] suwang48404 opened #1289 "consider open flow FlowBuilder MatchCTMark support mask"
That way, multiple clients may be tracking the same connection in the same zone.

[2020-09-23 19:02] suwang48404 commented on #1289
close it, flow builder does not MatchCTMask

[2020-09-23 19:09] suwang48404 commented on #1289
my mistake again, implementation is not exposed.

[2020-09-23 20:52] antoninbas commented on #1133
@tnqn @wenyingd is there a plan to push any change (documentation or other) for 0.10? or should we push this to the next milestone?

[2020-09-23 21:18] antoninbas opened #1292 "Restrict permissions for OVSDB (db.conf file) on each Node"
**Describe what you are trying to solve**
We use ovs-ctl start to run the OVS daemons. On the first invocation, it creates the OVSDB conf.db file with the following permissions:
vagrant@k8s-node-worker-1:~$ ls -l /var/run/antrea/openvswitch/conf.db
-rw-r--r-- 1 root root 21086 Sep 22 21:22 /var/run/antrea/openvswitch/conf.db

It is unclear why read permissions are set for all users.

By contrast,

[2020-09-24 01:30] wenyingd commented on #1133
I think the fix should be included in next release.

[2020-09-24 06:48] #1093 closed

[2020-09-24 14:46] tnqn commented on #1133
Agree this could be in next release, this should only matter when there are many iptables rules and many short-live connections. A proper change may need to limit the destination IPs to Node IPs of the cluster only, otherwise UDP connections to another endpoint that happens to use geneve/vxlan UDP port may be affected if conntrack is desired.

[2020-09-24 18:17] #917 closed

[2020-09-24 18:41] srikartati opened #1295 "Antrea IPFIX registry: Create a sub-assignment under VMware enterprise registry or apply for new one"
**Describe what you are trying to do**
Currently, Antrea IPFIX registry defined in go-ipfix library: https://github.com/vmware/go-ipfix/blob/master/pkg/registry/registry_antrea.csv uses an enterprise ID 55829 that is already being used.

Need to reserve an ID or create sub-assignment under VMware enterprise registry.
More context: vmware-tanzu/antrea#1280 (comment)
There is an issue in go-ipfix to

[2020-09-24 20:17] abhiraut commented on #1253
Fixed by #1291

[2020-09-24 20:17] #1253 closed

[2020-09-24 21:47] abhiraut opened #1297 "Run, collect and upload SCTP focused e2e tests with Antrea"
SCTP [support] in K8s is in beta for a while and as part of its promotion to GA, [requires] 2 independent network plugins to upload passing results for this feature. The ask here is to run SCTP focused tests with Antrea and upload the results to show Antrea support of SCTP protocol.

[support]: https://github.com/kubernetes/enhancements/issues/614
[requires]: https://github.com/kubernetes/enhancem

[2020-09-24 22:17] antoninbas commented on #1297
Thanks @abhiraut. I will run the tests with Antrea v0.10 once it's out

[2020-09-24 22:18] abhiraut opened #1298 "Add negative test cases to CRD ValidationWebhook"
Antrea validates AntreaPolicy CRDs (Antrea ClusterNetworkPolicy and Antrea NetworkPolicy) and Tier CRDs with the use of [validating web hooks](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#validatingadmissionwebhook).

Currently the following validations are performed by this web hook:
[code]

In order to improve testing coverage, add tests to ensure the above vali

[2020-09-24 22:53] antoninbas opened #1299 "Enforce formatting requirements on markdown files automatically for PRs"
Apparently Netlify markdown has some stricter requirements than Github markdown (we use Netlify for the website). Since the markdown files are used directly in the website, we need to ensure that these formatting requirements are met when merging PRs.

It's possible that a linter already exists, otherwise we can probably write a simple one.

[2020-09-24 23:00] zyiou opened #1300 "Add integration tests with go-ipfix"
**Describe the problem/challenge you have**
For flow exporter feature, currently the integration with go-ipix library is tested by e2e test. We would like improve the test coverage by enhancing integration tests with go-ipfix library.

**Describe the solution you'd like**
Add integration tests that loads actual IPFIX registries and tests with exporter code building out of the go-ipfix library.

[2020-09-25 02:17] #1033 closed

[2020-09-25 03:34] #985 closed

[2020-09-25 07:47] antoninbas opened #1303 "Github Actions hitting Github API rate limiting"
Some runs of the "Golicense" job take upwards of 2 hours. Similarly, the job in charge if automatically uploading release assets sometimes fails because of a timeout when accessing the Github API.

A quick investigation reveals that we are exceeding the API rate limit, which seems to be 1,000 calls / hour:
[code]

That makes sense since apparently a single run of the Golicense job requires 600+ AP

[2020-09-25 10:48] weiqiangt commented on #1164
If no one is working on it, I would like to take this.

[2020-09-25 23:10] antoninbas commented on #1297
I ran the 5 `SCTPConnectivity` e2e tests and they all passed. I uploaded the results. See https://github.com/kubernetes/enhancements/issues/614#issuecomment-699205624

[2020-09-26 01:40] antoninbas opened #1309 "e2e tests on Kind are frequently failing because of TestNetworkPolicyStats"
**Describe the bug**
`TestNetworkPolicyStats` is often failing with the following error:
[code]

@tnqn do you know if this is because of the Agent restarts after mutating the ConfigMap? This is a bit surprising because IIRC we do the same for the Traceflow tests and I don't recall seeing this many errors. But then again, we don't use an APIService for Traceflow. Maybe we'll have to temporarily ski

[2020-09-28 05:41] wenyingd commented on #1309
I also hit failures on this case on ipv6 branch, after reabsing on latest master code.

[2020-09-28 10:59] tnqn commented on #1309
Thanks @antoninbas and @wenyingd for reporting this and the detailed failure logs.
The test never failed in PR #1172 after I made antrea-controller restarts after antrea-agents, I checked the failure @wenyingd linked. The order of starting antrea-agent and antrea-controller is not expected:
antrea-controller started at 13:40:35.
[code]
antrea-agent on same node started at 13:40:46:
[code]
The conn

[2020-09-28 23:54] Dyanngg opened #1316 "E2E test namespaces are failing to be deleted after upgrading to v0.10"
**Describe the bug**
Upgraded local Vagrant cluster to Antrea ToT master immediately after v0.10 release (3e86fed96308a8a7e9eaa1adab44bcb17a855a92). Noticed that after running e2e testcases for AntreaPolicy, temp test namespaces would be stuck in `Terminating` phase due to the following:
[code]
[code]
It appears that the APIService for NetworkPolicy metrics was in some erroneous state, which preve

[2020-09-29 00:02] abhiraut commented on #1316
/cc @tnqn

[2020-09-29 00:30] antoninbas commented on #1316
Kind clusters don't handle Agent restarts (and therefore Antrea upgrades) very gracefully, as it causes pretty signifiant disruption to the dataplane. It's recommended to ensure that the Antrea Controller is restarted once after all the Antrea Agents have restarted. I am not completely sure about why the upgrade tests do not experience this issue though.

[2020-09-29 00:56] Dyanngg commented on #1316
Lowering the priority as an attempt to reproduce the issue was unsuccessful

[2020-09-29 02:49] tnqn commented on #1316
@Dyanngg in your cluster, is `net.ipv4.tcp_retries2=4` set?

[2020-09-29 04:41] #1309 closed

[2020-09-29 05:27] Dyanngg commented on #1316
[code]
This is on the new cluster where the issue was not reproduced

[2020-09-29 05:36] antoninbas commented on #1316
@Dyanngg I think there is some confusion. You mentioned a "Kind cluster" repeatedly, but the logs you are sharing show a prompt (`vagrant@k8s-node-master`) that is consistent with a Vagrant VM cluster, and not a Kind cluster.

If you observed the issue on a cluster using Vagrant VMs, it is a bit more concerning.

[2020-09-29 05:41] Dyanngg commented on #1316
My bad. I was under the impression that the vagrant vm cluster is backed by Kind. Sorry for the confusion. Let me edit the issue description

[2020-09-29 05:59] tnqn commented on #1316
If this is not Kind cluster, the datapath should not be affected by antrea-agent restart. Could you collect antrea-agent logs if you manage to reproduce it?

[2020-09-29 17:35] Dyanngg commented on #1316
Will do

[2020-09-29 17:54] abhiraut opened #1318 "Add a description field to Antrea NetworkPolicy CRDs"
**Describe what you are trying to solve**
Antrea NetworkPolicy CRDs like ACNP and ANP do not have the ability to store extra information to describe the intention of those policies.

**Describe the solution you have in mind**
Include a "spec.description" field in ANP and ACNP such that users can set additional text info regarding the policy created.

**Describe how your solution impacts user flows

[2020-09-29 18:01] abhiraut opened #1319 "Add the ability to set names for Antrea NetworkPolicy CRDs at rule level"
**Describe what you are trying to solve**
Antrea NetworkPolicy CRDs like ACNP and ANP rules do not have the ability to store extra information to describe the intention of those rules.

**Describe the solution you have in mind**
Include a "name" field in ANP and ACNP "to/from" rules such that users can set additional text regarding the rule created.

**Describe how your solution impacts user flows

[2020-09-29 18:22] #1303 closed

[2020-09-29 20:27] GraysonWu commented on #1318
I will work on it.

[2020-09-29 20:28] GraysonWu commented on #1319
I will work on it.

[2020-09-30 00:56] abhiraut opened #1325 "Support a range of ports in Antrea NetworkPolicy CRDs"
**Describe what you are trying to solve**
The ‘ports’ field in ingress and egress policies is an array that needs a declaration of each single port to be contemplated. e.g. to allow range 6000-9000 except port 6379 requires each and every port 6000, 6001 … 9000 with the exception of 6379 to be set explicitly.

**Describe the solution you have in mind**
Introduce a new filed to Ports section to inc

[2020-09-30 06:58] wenyingd commented on #1284
I think if we want to support matching SNAT/DNAT in ct, we might need a higher OVS version. As there is no feature needs this capability, I would prefer to add it when the feature requirement is coming.

[2020-09-30 19:38] Dyanngg opened #1327 "Antrea-native policies should support appliedTo on a per rule basis"
**Describe what you are trying to solve**
Antrea NetworkPolicy CRDs like ACNP and ANP supports enforcing ingress/egress policies on workloads specified in the `appliedTo` field in the policy spec. However, cluster admins are often posed with the need to create policy that needs to be enforced on different workloads, but serve the same purpose. For instance, consider web and db instances running in

[2020-09-30 22:08] jianjuns opened #1328 "Rotate and limit size of OVS logs"
**Describe the problem/challenge you have**
Right now we do not rotate OVS daemon log files, and the log files (e.g. ovs-vswitchd logs) can become very big.

**Describe the solution you'd like**
Install logrotate into the Antrea container image, and execute logrotate periodically against the OVS log files by the start_ovs script.

[2020-10-01 17:55] jianjuns commented on #15
I am thinking about creating two sub-directories under docs/ to put design and developer docs, like:

@antoninbas @abhiraut @salv-orlando @tnqn : what you guys think?

[2020-10-01 20:16] abhiraut commented on #1325
Also see https://github.com/kubernetes/kubernetes/issues/67526

[2020-10-01 22:45] abhiraut commented on #15
would we have a separate folder for resources and concepts? like antrea-network-policy.md, network-flow-visi.. etc which does not much talk about design but only concepts? if they both belong together then how about

[2020-10-01 22:57] dreamtalen opened #1332 "Support to execute unit tests on macOS"
**Describe the problem/challenge you have**
As mentioned in PR #1321, when we try to execute unit tests on macOS, there are some function undefined error.
For example, installLoadBalancerServiceFlows in pkg/agent/proxy/proxier.go is only defined in Linux and Windows environment.
[code]
Similarly, NewConnTrackSystem in flow exporter is only defined in Linux and Windows too:
[code]
Since unit tests

[2020-10-01 23:00] jianjuns commented on #15
I feel antrea-network-policy and netwwork-flow-visibility are more user docs, and we can put them in docs/ directly, unless we want a separate user doc or feature sub-dir.

[2020-10-01 23:13] abhiraut commented on #15
user facing content under docs/ sounds good to me. your proposal LGTM

[2020-10-02 04:51] #1226 closed

[2020-10-02 05:10] ambarishpande opened #1333 "Broken link in octant-plugin-installation.md"
1) Broken link on line 25
`You can update [antrea-octant.yaml](build/yamls/antrea-octant.yml) according to
your environment and preference.`

Should be
`You can update [antrea-octant.yaml](/build/yamls/antrea-octant.yml) according to
your environment and preference.`

2) Broken link on line 18
`CRDs should already be added. If not, please refer to [antrea.yaml](build/yamls/antrea-octant.yml) to`

[2020-10-02 05:14] ambarishpande commented on #1333
I would like to fix this issue.

[2020-10-03 00:13] #1328 closed

[2020-10-05 22:59] GraysonWu commented on #1325
Thanks for bringing this issue up!
About the new field and internally converted old field, I want to make sure which format you are proposing?
[code]
Or this?
[code]

[2020-10-06 17:55] #1333 closed

[2020-10-06 18:35] antoninbas commented on #1137
At the September 28th Community Meeting (https://github.com/vmware-tanzu/antrea/wiki/Community-Meetings#september-28-2020), we decided that introducing this new API in the `controlplane` API group would be a good place to start.

[2020-10-07 00:18] arunvelayutham opened #1347 "Containerized Network Function (CNF) use case support on Antrea"
**Describe what you are trying to solve**
SD-WAN/Telco CNF (Containerized Network Function) support on Antrea. Establishing network function virtualization (network application data plane) as a micro service orchestration in K8s environment, requires the below functionalities to be supported by CNI plugin (vital to support some of the most common use cases related to SD-WAN and Telco applications

[2020-10-07 00:28] antoninbas commented on #1347
Thanks for opening this issue @arunvelayutham. I think this would be a great topic to discuss at our next community meeting (Monday September 12th at 9pm PST), so we try to scope of these requirements and see which ones can be addressed (fully or partially) in Antrea. Would you be able to join the meeting?

[2020-10-07 00:39] arunvelayutham commented on #1347
Sure @antoninbas. would be great if we can accommodate this topic at our next community meeting. Saidulu and myself will be available in the meeting to discuss the CNF topic further from our end.

[2020-10-07 05:06] #719 closed

[2020-10-07 13:27] jayunit100 opened #1350 "formatting mucked up for networkpolicy doc"
**Describe the bug**
https://antrea.io/docs/master/network-policy/#antrea-networkpolicy all the yaml snippets are mushed up. not rendering.  maybe a missing yaml plugin or something ?

bash markdwown in other pages looks ok https://antrea.io/docs/master/aks-installation/

[2020-10-07 18:01] antoninbas commented on #1347
/cc @salv-orlando

[2020-10-08 19:06] jayunit100 opened #1354 "Antrea controlplane server can muck w/ the k8s apiserver core operations"
**Describe the bug**

It seems like basic operations like `kubectl delete ns blah` fail on antrea namespaces on the latest ubuntu image.

[code]

**To Reproduce**

Create an antrea kind cluster, run a conformance test, and delete the namespace

**Expected**

The antrea apiserver would never fail to lookup things , or if so, it would swallow the error so as not to block k8s apiserver from functioni

[2020-10-08 19:10] jayunit100 commented on #1354
[code]

So i guess the way this happens is related to certs

is there a way that, if antrea apiserver is down, it could try **not** to mess w the way the k8s apiserver is behaving ?

[2020-10-08 19:11] antoninbas commented on #1354
These APIServices are served by the Antrea Controller. Is there any issue with your Controller deployment or any connectivity issue between your K8s apiserver and the Controller Pod?

That's a property of APIServices, and there is not much that can be done. When a namespace is deleted, K8s contacts all APIServices to check if any resource needs to be deleted. If an APIService is not available, the

[2020-10-08 19:57] jianjuns commented on #1354
BTW, one fix (if you want not to recover kube-apiserver to Antrea Controller connectivity first) is to delete the Antrea APIServices.

[2020-10-09 21:30] jianjuns opened #1357 "Traceflow fails due to destination Node did not receive the trace packet"
**Describe the bug**
We observed once that Traceflow failed with timeout. The source Node reported the Trace results but the destination did not.
In this particular case AntreaPolicy is enabled, but the issue did not go away after we disable AntreaPolicy either.

**Actual behavior**
From Agent log, wed did not see any log messages about trace packet processing on the destination.

**Versions:**
v0

[2020-10-09 21:52] antoninbas opened #1358 "Add quick explanation of "Antrea" name in docs"
To satisfy people's natural curiosity :)

[2020-10-09 22:06] jianjuns commented on #1357
Can this be related to the OVS issue?

[2020-10-12 01:59] gran-vmv commented on #1357
Yes, this is an known OVS issue.
I reported this to OVS team and this issue is in progress now.

To reproduce this issue:
1. Set up an Antrea cluster which support inter-Node traceflow
2. Trigger at least 4 inter-Node traceflows at same yaml
3. Check the result, it is high probability that some traceflows will not receive the result from second Node.

This is caused by some race conditions in OVS

[2020-10-12 11:57] tnqn commented on #1332
The Golang way to solve this might be defining these functions in XX_unsupported.go with `// +build !linux,!windows` header so that the file can be compiled regardless of platform and the functions won't be executed on unsupported platforms. For instance: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cadvisor/cadvisor_unsupported.go

[2020-10-12 13:02] cvhariharan commented on #1012
Hi, I can pick this up if this is still open

[2020-10-12 16:59] jayunit100 opened #1362 "Docs for integrating global netpols w/ native ones"
**Describe what you are trying to do**

Creating policies that use global defaults while allowing individuals to customize allow policies later on seems like a repeatable use case /story that we should have docs for, specifically answering

- what is the default priority of a native k8s policy relative to global policies
- is it possible, at all, for a k8s native policy to conflict w/ an antrea sp

[2020-10-12 17:47] faridsaad commented on #1362
A use-case for this we currently have is creating a default clusterwide deny-all policy (with certain exceptions like DNS and communication to kube-system pods and services) for new clusters to be put in place (using ClusterNetworkPolicy).

We want to have namespace-owners be able to explicitly allow traffic they desire to permit. Can this be accomplished with an Antrea NetworkPolicy, k8s-native N

[2020-10-12 18:06] abhiraut commented on #1362
Would this section answer the above question regarding ordering? https://github.com/vmware-tanzu/antrea/blob/master/docs/antrea-network-policy.md#antrea-policy-ordering-based-on-priorities

you may write conflicting policies but if we carefully look at the enforcement based on priority as documented in the previous link, antrea specific policies will always be enforced first.

[2020-10-12 18:10] abhiraut commented on #1362
thanks for the feedback. we are exploring the addition of a baseline Tier which will host Antrea-native policies to be enforced after K8s NP (today not possible since all Tiers are enforced before K8s NP). With that change, you shall be able to create default deny rules with ACNP and then have individual Namespace owners open up traffic as they desire. Would that satisfy your requirement?

[2020-10-12 18:33] abhiraut commented on #1325
You can see my proposal here https://github.com/kubernetes/enhancements/pull/2090#issuecomment-707279690
/cc @jianjuns

[2020-10-12 19:00] antoninbas commented on #1012
@cvhariharan Thanks! I assigned the issue to you

[2020-10-12 19:06] antoninbas commented on #1357
If you look at this https://www.youtube.com/watch?v=py6gfeDuA30&list=PL7bmigfV0EqQzxcNpmcdTJ9eFRPBe-iZa&index=1&t=4225s, you will see that every inter-Node traceflow is failing, even though Joe is executing a single traceflow at a time.

[2020-10-12 20:34] jianjuns commented on #1347
@arunvelayutham : looking forward to learning your ideas of CNF support by Antrea. Esp. like to learn your proposal on service chaining, and multiple interface support - it is based on Multus or you propose to implement any extra functions in Antrea?

[2020-10-12 20:35] jianjuns commented on #1357
In another env, even Traceflow with source and destination on the same Node fails. Believe ran is deubugging it now.

[2020-10-12 22:07] #963 closed

[2020-10-12 23:32] jianjuns commented on #1325
The proposal makes great sense to me.

[2020-10-13 00:21] GraysonWu commented on #1325
That also looks good to me.
And for whether we need to support range in the `except` field, I think in that case user can add more obj in the `ports` list instead of using a range in `except`.

[2020-10-13 05:18] tnqn opened #1363 "Remove unnecessary sysctl configuration and reduce privilege"
**Describe the bug**
Currently antrea-agent container needs to run in privileged mode because it needs to manipulate sysctl to avoid redirect packets being sent to source Pods when they are routed by gateway interfaces. However, with L3 flows, Pod-to-Pod traffic will no longer go through gateway interfaces. And for Pod-to-Service traffic, perhaps because there's a DNAT action, there is no redirect

[2020-10-13 05:20] tnqn commented on #1363
cc @antoninbas I have verified pod-to-service packets are not impacted manually, will create a PR to verify all e2e tests are not impacted.

[2020-10-13 19:03] GraysonWu opened #1367 "ofnet support portRange"
**Describe the problem/challenge you have**
Per issue #1325, we want to support a range of ports in Antrea NetworkPolicy CRDs and we need support from ofnet.
Since OVS provides port/mask format as a solution of a range of ports, ofnet should also support port/mask format and provide related interfaces.

[2020-10-13 20:49] antoninbas opened #1368 "IPFix field name wrong in reference Kibana dashboard definition file"
**Describe the bug**
In https://github.com/vmware-tanzu/antrea/blob/master/build/yamls/elk-flow-collector/kibana.ndjson, the field name shows up as `ipfix.destinationServiceName`, but according to the documentation (https://github.com/vmware-tanzu/antrea/blob/master/docs/network-flow-visibility.md#ies-from-antrea-ie-registry) & the code, the name should be `ipfix.destinationServicePortName`. As a

[2020-10-13 20:56] antoninbas opened #1369 "FlowExporter should not depend on serviceCIDR when AntreaProxy is enabled"
**Describe the bug**
Our documentation for the `serviceCIDR` parameter in the Antrea Agent configuration states:
[code]

While this is true that we *mostly* ignore `serviceCIDR` when AntreaProxy is enabled, the FlowExporter feature actually depends on this parameter to export Service information in IPFix flow records (this functionality itself requires AntreaProxy to be enabled):

https://github.c

[2020-10-13 21:58] dreamtalen commented on #1332
Thanks for your information Quan, we are going to close this issue since using `make docker-test-unit` makes sense for macOS for dev purposes.

[2020-10-13 21:58] #1332 closed

[2020-10-14 02:00] TicktW opened #1372 "Centralized, flexible IPAM based on Namespace"
**Describe what you are trying to solve**
A description of the current limitation/problem/challenge that you are experiencing.

  Antrea currently relies on the host-local IPAM. The IP and host of pod are tightly coupled, and users do not have the ability to manage pod IP. For example, in some cases, I hope the pod has static IP, which antrea can't do now

**Describe the solution you have in mind*

[2020-10-14 02:29] gran-vmv commented on #1357
Yes. If there are many background traffics, traceflow may fail even we run only one.

[2020-10-14 04:18] jianjuns commented on #1372
Thanks for the proposal.

Could you please change the design doc link to some shared doc that allows public access, like a publicly accessible google doc?

Have you evaluated the OVS pipeline and forwarding changes to support other IPAM strategies other than subnet per Node, like we will do L2 networks span across Nodes, or /32 IPs?
While IPAM is a nice feature, I personally would not prioritize i

[2020-10-14 04:31] Dyanngg commented on #1367
/cc @Dyanngg

[2020-10-14 04:38] jianjuns opened #1374 "Support Pod secondary interfaces on OVS DPDK bridge"
**Describe what you are trying to solve**
Support connecting a secondary network interface of a Pod to an OVS DPDK bridge, and be able to send its traffic to a specified VLAN network.

This can be one specific feature for CNF/Telco use cases (also check #1347), and can be a replacement of other solutions - like MACVLAN, IPVLAN, Linux bridge - to connect Pod secondary interfaces to VLAN networks, w

[2020-10-14 04:40] jianjuns commented on #1347
Created a proposal for connecting Pod secondary interfaces to OVS DPDK bridge: #1374. Like to learn your thoughts. @arunvelayutham

[2020-10-14 06:57] pandeaarkin opened #1375 "Broken link for Network policy on antrea website docs"
**Describe the bug**
The link for Network Policy documentation present on sidebar navigation at https://antrea.io/docs/master/ is broken.

**To Reproduce**
1. Visit https://antrea.io/docs/master/
2. Click on Network Policy in the sidebar under Reference section.

**Expected**
Clicking on link should show antrea network policy doc
The correct link for which is https://antrea.io/docs/master/antrea-n

[2020-10-14 07:55] edwardbadboy opened #1376 "Antrea Octant Plugin should Set Reasonable Traceflow TCP Flags by Default"
**Describe the bug**
When create a traceflow in Antrea Octant plugin, the UI allows to choose Service as destination. The Traceflow CR generated by the plugin doesn't define any TCP flags. Such packets would be seen by conntrack as invalid, and any feature using conntrack won't work with such packets. It's better for the plugin to always set SYN flag for all TCP traceflow. According to [TCP header

[2020-10-14 09:09] mengdie-song commented on #1376
Thanks @edwardbadboy for reporting the issue and all the detailed information! I made a quick fix based on the description. But I am actually wondering why the issue only occurs when we choose to use service as destination. It seems that it will impact all TCP traffic. @gran-vmv Could you help take a look?

[2020-10-14 09:18] gran-vmv commented on #1376
For service destination, DNAT is used, which requires the packet must be conntrack valid. Thus the TCP flags should be set to 2.
@mengdie-song Is it possible to set default value by CRD definition?

[2020-10-14 10:02] mengdie-song commented on #1376
@gran-vmv Thanks Ran for the information. I haven't found a way to set default value via code-generator so far. So I think we may need both UI and kubectl with yaml file to ensure the TCP flag is set.

[2020-10-14 10:14] edwardbadboy opened #1379 "ovs-vswitchd Sometimes Report ">>>> over max translation depth 64 <<<<" in Log"
**Describe the bug**
I enabled Antrea proxy and sometimes I can observe ">>>> over max translation depth 64 <<<<" error in vswitchd log.

The symptom was a packet matched a flow in table 41, and then got sent to group 6, then selected bucket 1, then got resubmitted to table 42. However, in table 42 it didn't match any dnat flows, so it matched a "default" flow and got resubmitted back to table 41.

[2020-10-14 12:16] weiqiangt commented on #1379
@edwardbadboy, thanks for finding this issue.
After we discussed, a second thought is that even we use the bundle way to do the operations, the operation may still take effect in order (bundle only guarantees the order of operations within it?) and thus this issue should still exist.
I made #1381 to fix it. By ensuring endpoint DNAT flows to be removed at the end of an update procedure, I think th

[2020-10-14 14:33] dburkhalter-pivotal opened #1382 "octant 0.16 does not start with antrea plugin 0.11 on mac os x"
**Describe the bug**
A clear and concise description of what the bug is.
If you believe this bug is a security issue, please don't use this template and follow our [security guidelines](/SECURITY.md)

**To Reproduce**
Steps to reproduce the behavior.

**Expected**
A clear and concise description of what you expected to happen.

**Actual behavior**
A clear and concise description of what's the actu

[2020-10-14 14:41] #1382 closed

[2020-10-14 14:42] dburkhalter-pivotal commented on #1382
unable to reproduce it clearly

[2020-10-14 18:03] yasensim opened #1383 "Feature gate for disable SNAT of Pods behind node IP"
**Describe the problem/challenge you have**
There are customers that need end to end routed Pods without NAT. Currently, this is possible if we configure static routes for Pod networking to the appropriate nodes. However, it works from outside to Pods, but if Pod need to reach something outside it get's SNATed.
**Describe the solution you'd like**
Workload outside the k8s cluster must see the real

[2020-10-14 20:45] GraysonWu commented on #1318
Decided to use annotations for the description of the policy. This issue can be close.

[2020-10-14 20:59] #1318 closed

[2020-10-14 21:08] antoninbas opened #1384 "Enable CodeQL security scanning for Antrea"
Just something low-priority but worth investigating: https://docs.github.com/en/free-pro-team@latest/github/finding-security-vulnerabilities-and-errors-in-your-code/enabling-code-scanning-for-a-repository. CodeQL supports Go and can be enabled very easily as a Github worfklow (it is a Github product).

[2020-10-14 21:11] antoninbas commented on #1376
This is a duplicate of https://github.com/vmware-tanzu/antrea/issues/1170.

There was a discussion for that issue about whether the controller should set the SYN bit so that `antctl` users don't need to do it explicitly.

[2020-10-15 01:18] #1289 closed

[2020-10-15 01:33] mengdie-song commented on #1376
Thanks @antoninbas . I have checked the issue and also agree that it will be better for controller to set this field. In this way, UI, antctl and  kubectl with yaml do not need to set this explicitly. @lzhecheng Could you please take a look at the Traceflow from controller side?

[2020-10-15 01:48] TicktW commented on #1372
I have updated the link to a public google doc. As you can see at the slide, the network topology need to be changed for a flexible IPAM. In my opinion, a standardized and popular CNI plugin has its own IPAM like calico. If Antrea need its own IPAM with static IP, IP block management, IP management UI and etc, The network topology should be changed as early as possible.

[2020-10-15 02:49] #1379 closed

[2020-10-15 03:34] lzhecheng commented on #1376
I made a PR to implement this. `antctl traceflow` allows user to configure TCP flags when service is destination but it is ok.

[2020-10-15 08:49] derstich opened #1388 "Sort Options ANP/ACNP combine Policy TIER + Policy Priority inside TIER"
**Describe the problem/challenge you have**
With “kubectl get acnp” you can sort the policies either by name, tier or priority, but it is not possible to combine TIER Pirority + Policy Priority.
Also sorting by Tier will be done by the tier-name and not tier-priority.

Example:
kubectl get acnp --sort-by=.spec.priority
NAME     TIER                 PRIORITY
PA1          application    10
PA2

[2020-10-15 09:50] tnqn opened #1390 "Flakey unit test TestNetworkPolicyMetrics"
**Describe the bug**
`TestNetworkPolicyMetrics` failed on an irrelevant PR https://github.com/vmware-tanzu/antrea/pull/1389, and race was detected:
[code]

Need to check the race condition is because of the test code or the main code.

**To Reproduce**
Failed randomly when unit testing.

**Expected**
Test should be stable and thread-safe.

**Versions:**
Please provide the following information:
 -

[2020-10-15 13:06] dumlutimuralp opened #1391 "TTL in Table 70 for Load Balanced Flows"
**Describe the bug**

Table 70 in OVS Pipeline has a "dec_ttl" field in the flow entries. If the flow is coming from local gateway (ie recently processed by kube proxy) then the TTL is already decremented by Linux IP stack. Hence the "dec_ttl" in the flow entry in that Table 70 is redundant for these service to backend pod flows.

**To Reproduce**
Just prep a Kubernetes cluster with Antrea. Genera

[2020-10-15 18:55] antoninbas opened #1392 "Log error in the Agent if IPsec is enabled in Antrea configuration but OS is missing required packages"
**Describe the problem/challenge you have**
The official Docker image for Antrea (based on Ubuntu 20.04) includes all the necessary dependencies to support IPsec (in particular the strongSwan packages). Some downstream projects may consume Antrea and package it differently, e.g. using Docker images based on other distributions, and with a different set of installed packages. If some packages are m

[2020-10-15 20:35] jianjuns commented on #1383
Agreed it is a valid case to disable SNAT. It is pretty simple to achieve too.

[2020-10-15 23:55] abhiraut commented on #1388
thanks for the report.
kubectl output to sort tiers by priority is straight forward and I will add example to document.

kubectl output to sort policies based on tier and policy priority is not so trivial. Having said that, it is indeed a valuable ask and I will try to get back to you with a solution.

[2020-10-16 01:07] #1376 closed

[2020-10-16 01:32] TicktW commented on #1372
In addition, I think this feature would attract at least two types of users. One is the users who have important requirements for IPAM in telco scenarios. The other is the cloud users on traditional services, whose services are often identified by IP.

[2020-10-16 02:08] abhiraut commented on #1388
one potential solution to this could be to add a new field `effectivePriority` in Antrea-native policies `status` sub resource, which the controller patches with the "TierPriority.PolicyPriority" .. and then document that in order to retrieve sorted policies, `sort-by` on this new field

[2020-10-16 02:29] jianjuns commented on #1372
I agree this feature is useful in some cases. But it indeed requires some work to change our OVS pipeline to do either /32 routing, or implement logical layer 2 networks span across Nodes. Quite a few other Antrea features will be impacted too.
Of course you are welcome to explore this and summarize a complete proposal.

I am not sure I got your point about Telco - that should be for the secondary

[2020-10-16 03:24] #1170 closed

[2020-10-16 03:35] #1368 closed

[2020-10-16 03:50] wenyingd opened #1395 "SessionAffinity is broken for UDP/SCTP Services in Antrea Proxy"
**Describe the bug**
To support SessionAffinity in Antrea Proxy, an OVS learn flow is installed including the Service protocol configuration. But the current code is  hardcoded with "TCP" protocol for IPProtocol field in the flow entry. This might introduce mistakes in the flow entries for UDP/SCTP Service.
The corresponding code is https://github.com/vmware-tanzu/antrea/blob/master/pkg/ovs/openfl

[2020-10-16 10:30] luwang-vmware opened #1400 "IPAM - support dynamic subnet allocation"
File this feature request to support flexible IPAM. Please help evaluate it.  It will give user more flexible to sufficient use IP address.

[2020-10-16 13:16] jayunit100 commented on #1362
Would the after enforcement always override the ACNPs in this case ?

[2020-10-16 16:50] tong101 commented on #1400
@jianjuns Currently Antrea is using Node IPAM controller for Pod which doesn't support auto-scaling yet. By default Node CIDR subnet prefix is `24` and it can support max 254 Pods per node. Can Antrea support autoscale if Node's Pod subnet has been used up?

[2020-10-16 18:54] abhiraut commented on #1362
i have updated the diagram in the proposal [doc]((https://docs.google.com/document/d/11VrDIoLiY33iRCv8RaETeTqlpfZZGNLevpvzzH160V8/edit#heading=h.h5litbxp3c10)
. let me know if it helps make clear the enforcement?

[2020-10-16 19:07] jianjuns commented on #1400
Thanks for opening the issue.
We have another issue about IPAM for subnet/IP pool per Namespace: #1372. I think this one is about dynamically allocating subnets for Nodes? Changed to the title to: "IPAM - support dynamic subnet allocation".

I would agree it is valid use case that each Node starts with a small subnet, and allocate extra subnets on demand when the Node subnets run out of IPs.

@ton

[2020-10-16 19:43] abhiraut commented on #1319
@GraysonWu few requests that comes in for this task, mainly due to the usage of "name" field to uniquely identify a rule within a policy and be able to report stats on rule level:
1. Rule names should be unique within a given policy (this is already covered)
2. Rule names are optional, so autogenerate names for rules if they are not set

For (2), we may need to introduce a mutating webhook in Antr

[2020-10-16 20:30] GraysonWu commented on #1319
How about:
[code]
I prefer to open a new PR for Task(2).

[2020-10-16 22:45] antoninbas opened #1404 "Antrea API deprecation and removal"
This issue keeps track of API deprecation and removal for Antrea. It should remain open and be updated as often as needed.

N/A indicates that an API is not scheduled for deprecation / removal.

| API group | API version | API Service? | Introduced in | Deprecated in  | Removed in  |
|---|---|---|---|---|---|
| `core.antrea.tanzu.vmware.com` | `v1alpha` | No | v.0.8.0 | v0.11.0 | v0.11.0 |
| `netw

[2020-10-16 22:46] antoninbas commented on #1404
@tnqn do you think having this in this format is helpful / makes sense?

[2020-10-19 01:38] #1367 closed

[2020-10-19 19:54] #15 closed

[2020-10-19 22:26] jayunit100 opened #1407 "OVS windows error message is weird"
**Describe the bug**

today we saw something like this happening on startup in windows (antrea 0.10.1)

[code]
**To Reproduce**

Setup windows 2019 instance and try to install antrea as a windows cni provider

**Expected**

The workaround is to do:
[code]

But, it seems like id expect that a `hint` telling the user "product version not found , please set OVS_VERSION  from inside the container"

[2020-10-19 22:27] jayunit100 commented on #1407
is there a way that antrea agent can automatically fix this on startup ?  @ruicao93

[2020-10-20 01:12] TicktW commented on #1372
The point about Telco means some functions like multi interfaces IPAM, static IPs for group of stateful pods that we need in our business. And the cloud I mentioned is not aimed at cloud. In some traditional software systems, the service is named by IP. That means service A could invoke service B by B's IP. In this case, static IPs is required when software is migrated to K8s environment.

[2020-10-20 01:17] TicktW commented on #1372
for #1400, a centralized role is needed to manage the IP range for hosts, but it is different from a namespaced subnet.

[2020-10-20 04:40] #1395 closed

[2020-10-20 08:25] lzhecheng commented on #1316
Hello, this issue happens everytime when running `TestFlowExporter` case. It is on a local kubernetes 3-node cluster. Please remember to apply `antrea.yml` before running the case since there seems to be no `deployAntrea`.

There's nothing wrong in antrea-agent log
[code]

Part of log of kube-apiserver pod.
[code]

[2020-10-20 09:05] tnqn commented on #1316
@lzhecheng does the manifest yaml match the antrea-controller code version? I believe it's because antrea-controller code doesn't include https://github.com/vmware-tanzu/antrea/pull/1172 while the yaml includes the APIService that was added by that PR.
[code]

[2020-10-20 13:59] tnqn opened #1413 "Support Pod traffic shaping in Antrea"
**Describe what you are trying to solve**
Users are asking for traffic shaping ability for certain pods over k8s network when using Antrea as CNI.

**Describe the solution you have in mind**
Similar to [hostPort](https://github.com/containernetworking/plugins/tree/master/plugins/meta/portmap) feature, the CNI plugin team offers [bandwidth](https://github.com/containernetworking/plugins/tree/master

[2020-10-20 14:04] tnqn commented on #1413
@jianjuns @antoninbas @salv-orlando when exploring this feature for a user request, I found it's pretty easy to have this feature in Antrea with the abilities provided by the bandwidth plugin and kubelet, and some CNIs already support it officially in this way. Let me know if you think if it's good to have it in Antrea.

[2020-10-20 17:08] tnqn commented on #1319
Since the rule in within the context of a Policy, I think we don't need to repeat the policy name in rule names, "ingress/egress-[action]-[uid]" makes sense to me. How do you plan to generate the uid part?

[2020-10-20 17:42] jianjuns commented on #1413
Agreed good to have traffic shaping. But how you plan to support it - just a cookbook doc, or you want to change our default CNI conf?

[2020-10-20 19:11] antoninbas commented on #1413
@tnqn do you see this as a temporary solution for traffic shaping support, with an eventual implementation using OVS to support both Linux & Windows Nodes?

[2020-10-20 19:15] robcowart opened #1417 "IPFIX start and stop timestamps are wrong/too large"
**Describe the bug**
IPFIX start and stop timestamps are wrong/too large.

**To Reproduce**
I simply installed a new Kubernetes lab environment, and installed Antrea.

**Expected**
Start and Stop timestamps sent in the IPFIX record should be the actual start and stop time.

**Actual behavior**
As seen in the PCAP output below, the timestamps are ~85 1/2 years in the future.

[code]
The hex value i

[2020-10-20 20:57] faridsaad commented on #1362
@abhiraut - The baseline tier should allow us to do exactly what we need. Any estimate on when/how long would it take to implement?

[2020-10-20 21:40] antoninbas commented on #1417
@dreamtalen do you think you could take a look?

[2020-10-20 21:44] antoninbas opened #1418 "Run unit tests on Windows as part of CI"
Github-hosted runners support Windows Server 2019 (https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners). I think we should consider running the Antrea Go unit tests on Windows as part of the Github CI to exercise the Windows platform specific code.

[2020-10-20 21:55] GraysonWu commented on #1319
I plan to use some outside packages to generate uid like https://pkg.go.dev/github.com/google/uuid or other packages.
Or if it's ok to use an organized name, I think an auto-increment int also works?

[2020-10-20 23:01] dreamtalen commented on #1417
Sure, I will try. @robcowart Could you please share me the steps of capturing this packet with wrong start and stop time?

[2020-10-21 02:08] tnqn commented on #1413
@jianjuns Since we have portmap in antrea CNI conf, I think bandwidth plugin is similar and could be in Antrea CNI conf too, https://github.com/vmware-tanzu/antrea/pull/1414 is what we need to change in Antrea.

@antoninbas thanks for the reminder. I took a look at OVS QoS documents, it seems OVS doesn't implement QoS itself but configures TC to do it on Linux https://docs.openvswitch.org/en/lates

[2020-10-21 02:28] ruicao93 commented on #1407
I tried to repro the issue by deploying a VM using Windows OVF provided by issue reporter but failed.

It should be an occasional issue when ovsdb-server service registery timout duing OVS installation.

@jayunit100 I prefer to enhance the OVS installation script for the issue.

[2020-10-21 06:06] lzhecheng commented on #1316
Thank you Quan. Indeed. @Dyanngg maybe it is the same case for you.

[2020-10-21 08:40] robcowart commented on #1417
The environment is a new lab, consisting of...

* 1 x control plane/master node and 3 x worker node on bare metal
* All are running the software version mentioned above.
* Time is sync'd on all nodes using NTP and the timezone is UTC.
* The cluster was setup using `kubeadm init --pod-network-cidr=10.244.0.0/16`

Antrea was deployed by...
* downloaded `https://github.com/vmware-tanzu/antrea/release

[2020-10-21 15:24] tnqn commented on #1133
I thought about this, but haven't come up with an approach that could bypass conntrack only for Pod-to-Pod traffic going throught host network. It's because PREOUTING chain is the only chance we can add "NOTRACK" for routed packets, but we cannot identify Pod-to-Pod packets from real Pod-to-Pod packets and the response of Pod-to-Service packets.

[2020-10-21 19:18] vrabbi commented on #450
Any updates on this?

[2020-10-21 19:46] antoninbas commented on #450
I haven't spent any time on this in a while. Still unsure what's out best solution to have a CI pipeline to build & test the ARM Docker images. We are definitely looking for help on this one, and we would love to collaborate with projects like k3s and microk8s to validate Antrea as a CNI for these distributions and integrate with their CI pipelines for testing.

[2020-10-21 20:08] antoninbas commented on #1404
I was concerned about maintainability if added to a document (document needs to be updated as part of PRs with API changes). However, I agree that a document is better and since API addition & deprecation events should be rare, maybe it won't end up being too much of a concern.

Yes, the plan was to include all existing APIs

[2020-10-21 20:11] #437 closed

[2020-10-21 20:23] antoninbas commented on #1413
Thanks for the info. I believe OVS also implements OpenFlow meters "natively" in both the userspace and kernel datapath, which I guess could be used to also achieve traffic shaping. I don't know if they are supported on Windows.

Looking at the OVS docs for QoS, we would need to use policing rather than traffic shaping to implement Pod traffic shaping, which apparently is not optimal and could cre

[2020-10-21 21:34] abhiraut commented on #1362
Will propose "baseline Tier" in the next community meeting and get feedback and update status here.

[2020-10-21 21:49] jayunit100 opened #1426 "PS1 script ordering breaks due to openvswitchd race (and other questions)"
**Describe the bug**

3 separate, n00b issues when starting antrea up on windows,

## clarify edits needed to kube proxy

(SOLVED) turns out its because you MUST replace the ENTIRE PS1 script , as documented in #1415  , so that PR should make it clearer...

- Possibly related to the next error i had about `cni/net.d` not being created ..... i **did not follow the instructions** :),  to "Replace th

[2020-10-21 22:48] Dyanngg commented on #1388
@abhiraut PolicyPriority is a float. If we want to set something like "TierPriority.PolicyPriority" the `effectivePriority` needs to be of string type. Not sure if `sort-by` can work as expected on strings

[2020-10-21 22:54] abhiraut commented on #1388
does seem to work on strings on a dry run i did once

[2020-10-21 23:00] Dyanngg commented on #1388
`"3.2.6" > "13.2.5" == true` for go string comparison

[2020-10-21 23:09] abhiraut commented on #1388
maybe some sort of a float normalization using the two priorities. so that the field remains a float and sort on that

[2020-10-22 12:50] ruicao93 commented on #1426
Thanks Jay for your report.

For issue 3 we have a PR to fix it: #1423

Issue 2 is a user error as you mensioned in Issue1.

For issue1 as you said, we should emphasize user to prelace all content of `run-script.ps1`. Will update the doc in next PR.

[2020-10-22 18:09] jayunit100 opened #1429 "antrea-windows:0.10.1 and antrea-windows:0.9.3 cant start due to "parameter incorrect" error on certain windows versions?"
**Describe the bug**

It looks like there might be a version incompatibility of some sort, not sure, between theparticular docker/windows im running and antrea 0.10.1.

Im running windows 2019 , version 1809, with the updates etc installed.

[code]

**To Reproduce**
Steps to reproduce the behavior.

**Expected**
A clear and concise description of what you expected to happen.

**Actual behavior**
A

[2020-10-22 18:11] jianjuns commented on #1429
@ruicao93 : you might look at this?

[2020-10-22 18:14] jianjuns commented on #1392
Do you think we can check by the antrea-ipsec container?

[2020-10-22 18:25] jianjuns commented on #1391
You must be right. But it seems not very simple to fix, so I wonder does it deserve a fix or not.
@wenyingd : what you think?

[2020-10-22 18:28] jianjuns commented on #1391
Of course we can add flows in table 70 to avoid dec TTL for packets from gw0, but that will require one flow for each remote Node; or we can add another table to do TTL only, but just feel these are not worthwhile.

[2020-10-22 22:10] #1273 closed

[2020-10-22 22:44] #1012 closed

[2020-10-22 23:29] antoninbas commented on #1392
Yes I'll try to add an appropriate check there

[2020-10-23 01:28] wenyingd commented on #1391
Since we have already classifiered packet's source in table0 (ClassifierTable), maybe a solution is that we decrease TTL on source node only if it is sent from local Pod (using check with in_port)? Anyway, it looks we have to handle TTL differently from other actions on source Node in L3RoutingTable(table=70), adding a new table or using a special(higher priority) flow entry for packet from gw0 in

[2020-10-23 01:35] wenyingd commented on #1391
Another thought is , does this issue only exist when we use kube-proxy for Service functions? If yes, does it mean it will be gone after Antrea Proxy is used? @dumlutimuralp @jianjuns  Then the fix looks meaningless, for we should remove the workaround flows at that time.

[2020-10-23 02:20] tnqn commented on #1391
@wenyingd the issue exists regardless of host network is used for service loading.
For service traffic, if host network does DNAT, it already decreases TTL itself, then OVS pipeline does another time.
For non-service traffic, like Node or non-hostnetwork Pod accesses another Pod, it doesn't need to decrease TTL on local Node, but OVS pipeline does once.
In short, the packets from gw0 never needs d

[2020-10-23 02:47] wenyingd commented on #1391
Do you mean accessing local Pod? We didn't decrease TLL for packet if it is accessing local Pod. Currently the two TTL decreasement taken by OVS include: 1) packet targeting at a remote subnet CIDR; 2) packet from remote Node.

@tnqn If we enable Antrea Proxy and let gw0 access Service, do we need to decrease TTL? If no, then we could come to a conclusion that do not decrease TTL if packet is from

[2020-10-23 03:17] jianjuns commented on #1391
Right all packets from gw0 should skip TTL dec. A separate table sounds simpler than adding one flow for each remote Node. But I feel still not a small change to our current pipeline.

[2020-10-23 03:17] #1383 closed

[2020-10-23 03:40] #1195 closed

[2020-10-23 07:40] wenyingd commented on #1391
I would prefer to use 70 table for local Pod destination and tunnel, and 71 is only for TTL dec on source Node. As TTL dec on dst Node is always taken in OVS pipeline, we could not change these flows. The TTL dec difference exists only on the source Node, so when packet is on source Node table 70 only rewrites DMAC and sets tunnel, and then takes TTL dec in table 71. Then we could have different p

[2020-10-23 07:43] wenyingd commented on #1391
For Policy Only mode, do we need to dec TTL when rewriting packet's dst MAC using gw0's? In current flow entries, TTL is taken.

[2020-10-23 07:45] robcowart commented on #1417
It may be completely unrelated to this issue, but I have also noticed that when flow export is enabled, the antrea-agent will consume 100% of a CPU core. It returns to normal after disabling flow export.

[2020-10-23 08:51] ruicao93 commented on #1429
Hi @jayunit100 , have you tried other versions of Antrea?

From the info you pasted, it seems a docker or hcshim issue.
[code]

[2020-10-23 08:56] jayunit100 commented on #1429
Yeah I tried both 0.9 and .10, weird huh?

[2020-10-23 09:45] jayunit100 commented on #1429
Some upstream stackoverflow articles discuss NetNat removal as a potentially related issue

[2020-10-23 10:14] ruicao93 commented on #1429
@jayunit100 Currently we have no enough info for debugging. Could you help collect logs on the failure node? There should be more details in the logs.
- kubelet log: C:\var\log\kubelet
- antrea-agent Pod log: C:\var\log\kubelet\pods
- docker log: C:\Program Files\Docker

[2020-10-23 10:16] jayunit100 commented on #1429
Sure will do

[2020-10-23 10:19] ruicao93 commented on #1429
The log location of Docker depends on how you install docker. It may only exist in windows system events.

[2020-10-23 14:44] tnqn opened #1432 "Antrea APIServices should respect labelSelector"
**Describe the bug**
Currently the antrea extension apiserver doesn't use labels and doesn't respect labelSelector in request. However, since some of these APIs are registered as APIServices, the API responses will be misleading to the k8s clients that list API resources with specific labels and expect only matched resources.

**To Reproduce**
List Antrea resources with labelSelector, all resource

[2020-10-23 16:25] tong101 commented on #1400
@jianjuns the request is a little different that IP pools per namespace, already IP pools for namespace is another good feature. The request is similar to what [`calico-ipam`](https://docs.projectcalico.org/networking/get-started-ip-addresses) did. Initially a default smaller `/26` block is created, and IP blocks can be created/destroyed dynamically as number of pods on the node grows/shrinks.

[2020-10-23 16:53] jianjuns commented on #1400
Understood. That is why we keep them two separate issues.

[2020-10-23 21:30] #1392 closed

[2020-10-23 23:32] antoninbas commented on #1417
I deployed a cluster with Antrea and the same config as you (except for `flowCollectorAddr` of course),  but didn't observe high CPU usage. I even deployed some Pods to generate a lot of iperf traffic, but Antrea resource usage stayed pretty low:

[code]

I generated a lot of traffic (but not that many connections). I left it running for a while but things were stable. Is there anything useful in

[2020-10-23 23:55] antoninbas opened #1434 "Ability to enable profiling in Antrea components"
**Describe the problem/challenge you have**
When a user runs into an issue like this [one](https://github.com/vmware-tanzu/antrea/issues/1417#issuecomment-715095704), it is hard to collect relevant information to troubleshoot the issue.

**Describe the solution you'd like**
We should have a way to enable profiling and the pprof HTTP server (https://golang.org/pkg/net/http/pprof/) for the Antrea co

[2020-10-23 23:57] antoninbas commented on #1434
@tnqn I think this is something that would be very helpful to have in 0.11. I can take care of it if no one else has cycles, but let me see if you see any issue with the approach first. I have tested it or written any code yet.

[2020-10-24 00:57] weiqiangt commented on #1434
It seems that once we use an apiserver the pprof http handler will be set up by default.

Sent from my iPhone

On Oct 24, 2020, at 7:57 AM, Antonin Bas <notifications@github.com> wrote:

﻿

@tnqn<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Ftnqn&data=04%7C01%7Cweiqiangt%40vmware.com%7C680102df7eba421182f908d877af60c4%7Cb39138ca3cee4b4aa4d6cd83d9dd62f0%7C0%7C0%7C63

[2020-10-24 01:08] antoninbas commented on #1434
@weiqiangt it does look like profiling is enabled by default. Could you look into it if you have the chance and maybe share some steps? It would be great to document it. There is probably some authentication required?

[2020-10-24 16:52] robcowart commented on #1417
@antoninbas I am going to walk through the whole process again and will document each step for repeatability. If the CPU utilization remains I feel like I should open a separate issue unless you feel it should stay here.

[2020-10-25 02:07] arunvelayutham commented on #1347
Hi @jianjuns , @antoninbas We are working on a proposal to address SDWAN and Telco use cases with Antrea and considering your proposal at #1374 ticket as well. We would come with the details during our 9th November 2020 community discussion.

[2020-10-25 04:05] jianjuns commented on #1347
@arunvelayutham : looking forward to your proposal!

[2020-10-25 10:18] weiqiangt commented on #1434
Sure.
The `/debug/pprof` does need authentication, you can use the following command to have a try. We also have a feature that relies on this (#1110)

[code]

For documenting, where would you like to put them in?

[2020-10-25 22:45] jayunit100 commented on #1429
Didn't see anything unique in the docker logs. Assuming it's HNS related.

What's the best way to debug HNS?  Couldn't find a lot of docs on it .

[2020-10-26 05:22] jayunit100 commented on #1429
I'm starting to wonder wether there's some "update" required for "install-cni" To work properly on hcsshim.  It seems like maybe hcsshim should Kinda be able to predict this kind of failure , since basically the invalid parameter is hinting at an API that is not implemented yet.

[2020-10-26 11:44] dumlutimuralp commented on #1391
**From a pure networking point of view, my thoughts are as below,**

Linux TCP/IP Stack is a virtual router. Hence whichever "routed" flow goes through it then that flow' s TTL should be decremented. For instance,

- **Pod to remote Pod** flows are essentially traversing two virtual routers, first is source node' s IP stack, second is destination node' s IP stack. Source pod and destination pod re

[2020-10-26 16:36] jianjuns commented on #1391
@dumlutimuralp
For Pod to Service and External to remote Pod traffic, it is indeed routed 3 times? For example for external to remote Pod: host IP -> gw0 -> remote gw0 -> remote Pod. Then it is not wrong to decrement TTL by 3?

[2020-10-26 17:10] dumlutimuralp commented on #1391
@jianjuns my interpretation of traffic just being DNATed by iptables (for pod to service or external to nodeport) is not a routing decision rather than an IP swap since there will be routing that has to occur anyway between nodes. Cannot recall of the top of my head what an if an actual/ordinary load balancer' s behaviour is to decrements the TTL when it forwards traffic to a backend server.

[2020-10-26 17:16] jianjuns commented on #1391
Pod -> Service is complexer. But what you think about external Pod -> remote Pod. Is it like host IP -> gw0 -> remote gw0 -> remote Pod?

[2020-10-26 17:45] dumlutimuralp commented on #1391
Not sure I fully undestand.
I actually compared Pod to service and Pod to Remote Pod in the [Github article](https://github.com/dumlutimuralp/antrea-packet-walks).
As I see, both pod to service and also external to nodeport service (which is backed by clusterip anyway) , go through iptables for DNAT. Hence not sure if that process should decrement TTL. But as I understand that is Linux IP stack an

[2020-10-26 21:09] jayunit100 commented on #1429
Interestingly, applying a windows update for a patch fixed this issue.  i guess hcsshim is broken in certain instances, and that causes the `cni-install` phase to fail.

https://www.catalog.update.microsoft.com/Search.aspx?q=KB4577668 was the patch i had to apply.

We probably should update the docs to say this, ill issue that PR

[2020-10-26 21:18] dreamtalen commented on #1417
Hi Rob, I failed to reproduce the wrong start and stop timestamps on my side. I'm not sure if it's related to differenct IPFIX collectors we are using. Would you please try our ELK Flow Collector at https://github.com/vmware-tanzu/antrea/blob/master/docs/network-flow-visibility.md? There will be a Kibana dashboard which is easy to use and recommeneded for Antrea flow visualization. Also, please te

[2020-10-26 21:26] #1413 closed

[2020-10-26 22:25] antoninbas commented on #1417
@robcowart Thanks! Yes please open a separate issue when you get the steps documented.

@dreamtalen @zyiou could we take a deeper look at the timestamp thing? I know that the timestamps look correct (at least `flowStartSeconds` does) when looking at the records using the ELK stack configuration we provide. But there is something fishy when looking at. the records in Wireshark. https://tools.ietf.o

[2020-10-26 22:26] robcowart commented on #1417
The collector is irrelevant in this case as I was seeing this on the wire via a PCAP before it reached the collector. Seeing it also in the collector just confirms what was seen on the wire.

Can you share anything else about your environment? As I mentioned above I am on Ubuntu 20.04, K8S 1.19.3 via `kubeadm init`. How does this compare to what you are testing?

I will walk through my environment

[2020-10-26 22:54] zyiou commented on #1417
@antoninbas I remembered that `flowStartSeconds` and `flowEndSeconds` should be `uint32` initially, but we manually modified the data type to `int64` when matching logstash fields and exporter fields. @srikartati I will change them back to `uint32` if there is no further concern. Thanks!

[2020-10-27 02:34] antoninbas commented on #1434
Thanks for the information @weiqiangt. This document would be the right place: https://github.com/vmware-tanzu/antrea/blob/master/docs/troubleshooting.md

*However* it's not as simple as I had hoped, and it seems that it would not be possible to use `go tool pprof` or the browser directly? I wonder if `antctl` could provide some sort of proxy functionality in that case so that a user could do `ant

[2020-10-27 03:29] srikartati commented on #1417
Thanks @robcowart for raising this issue.

Currently, we consider uint 64-bit datatype for both dateTimeSeconds and dateTimeMilliseconds, which is a bug.
https://github.com/vmware/go-ipfix/blob/master/pkg/entities/ie.go#L370

As pointed correctly by @antoninbas, dateTimeSeconds should be unsigned 32 bit, but dateTimeMilliseconds still be unsigned 64 bit.
The bug is in the format for dateTimeSecond

[2020-10-27 03:48] weiqiangt commented on #1434
Yes, your idea is nice.
Do you have the bandwidth to implement this? Otherwise, I think I can implement this also.

[2020-10-27 04:08] srikartati commented on #1417
An orthogonal point: Right now, flowEndTime is not properly encoded in the flow record. Conntrack flows do not add the stopTime until the conntrack flow is deleted.
https://github.com/torvalds/linux/blob/9ff9b0d392ea08090cd1780fb196f36dbb586529/net/netfilter/nf_conntrack_core.c#L664

Currently, we consider stopTime as flowEndTime for each conntrack value and so we see some arbitrary values.
One op

[2020-10-27 04:12] srikartati opened #1438 "[Flow Exporter] Enhance e2e tests."
- Add e2e test to capture flow records of inter-node flows.
- Add e2e test that tests the service name mapping in flow records when Antrea proxy is enabled.
- Break the existing test into different tests.

[2020-10-27 05:37] antoninbas commented on #1417
I would suggest using 0 to make it clear that the value is not valid yet. I couldn't find any guidance for `flowEnd*` fields in the IPFIX RFCs, though I may have missed it. On the one hand, it makes you wonder whether you should only export data after a flow "terminates". On the other hand, the existence of fields like `octetDeltaCount` would imply that it is not the case and that exporting inform

[2020-10-27 06:31] ruicao93 commented on #1429
Hi @jayunit100 , thanks for the update.

`https://www.catalog.update.microsoft.com/Search.aspx?q=KB4577668 ` is a cumulative update.  So we can't determine which update version is needed.

I think the update version on your testbed is too old. Actually we have already have the description to require user to install latest Windows updates:

[code]

[2020-10-27 08:10] ruicao93 commented on #1429
Hi @jayunit100 , do you have another node which can repro the issue and fix the issue by installing the KB?

I think we'd better to confirm the issue is related with windows update and can be fixed by KB before update the doc.

[2020-10-27 09:16] robcowart commented on #1417
Most network devices send flow records based on one or more configurable timeout settings. While they will track a flow for a longer period of time, they will send flows more frequently. This is necessary for a number of reasons.

- Many server-to-server TCP connections can live for weeks, months or longer (e.g. the connection between Kibana or Logstash to Elasticsearch). They essentially never en

[2020-10-27 16:29] antoninbas commented on #1417
@srikartati @zyiou @dreamtalen could we investigate the possibility of implementing `inactive_timeout` and `active_timeout` as @robcowart suggested to limit burstiness and maybe have a more compliant implementation? As part of this it may be interesting to add `flowEndReason` to the records (https://www.iana.org/assignments/ipfix/ipfix.xhtml#ipfix-flow-end-reason), to indicate whether the record w

[2020-10-27 18:16] antoninbas commented on #1297
Closing this issue. SCTP is graduated to GA in K8s 1.20.

[2020-10-27 18:16] #1297 closed

[2020-10-28 00:19] antoninbas commented on #1434
I can take a look at it later this week. I think we may be able to use the `kubectl proxy` code for this. If other things come up that I have to take care of, I'll ask you for help.

[2020-10-28 16:14] jayunit100 commented on #1429
dont have a testbed, now that my windows node is finally working im afraid to kill it :)

[2020-10-28 17:26] jayunit100 opened #1447 "windows design doc missing"
looks like the windwos design doc url is missing:

https://github.com/vmware-tanzu/antrea/blob/master/docs/design/windows-design.md
doesnt get linked from

https://antrea.io/docs/master/windows-design/

[2020-10-28 18:01] antoninbas commented on #1447
This link is active for me: https://antrea.io/docs/master/design/windows-design/. The doc moved since the last Antrea release (v0.10.1) as we re-organized some of the documentation.

I just clicked through the menus to get there: Click `Documentation` -> Select `master` as the version -> Click `Windows Design`

Are you thinking of another document?

Unfortunately the website still has to be update

[2020-10-28 19:27] rhenwood-arm commented on #450
Hi @antoninbas : there are some hardware platforms that may be suitable for your needs. Can you provide more detail on what you're looking for?

[2020-10-28 19:44] antoninbas commented on #1295
IANA just assigned PEN 56506 for Project Antrea:

[code]

[2020-10-28 19:46] antoninbas opened #1448 "Switch to correct PEN number for Antrea for IPFIX"
The PEN number that was assigned by IANA is 56506 (https://github.com/vmware-tanzu/antrea/issues/1295). The code & documentation should be updated to use this number and we should stop using 55829, which is assigned to a different organization.

[2020-10-28 19:46] antoninbas commented on #1295
Closing in favor of https://github.com/vmware-tanzu/antrea/issues/1448

[2020-10-28 19:46] #1295 closed

[2020-10-28 23:39] antoninbas commented on #450
Hi @rhenwood-arm. We are looking for a solution to address the following:
 * build Antrea Docker images for `arm/v7` and `arm64/v8`; this is quite a computationally intensive process as we try to use an up-to-date version of the Ubuntu base image and we often have to rebuild Open vSwitch from source. It can be done with emulation but it takes a few hours. That's fine though if we only want to buil

[2020-10-29 04:42] vrabbi commented on #450
Hey @antoninbas, have you looked at the new AWS arm based servers - graviton? They are much cheaper than the x86 servers and are really great performance. The only thing is I don't know of a arm v7 solution on AWS but it is a great arm v8 solution

[2020-10-29 06:36] tnqn opened #1454 "Flaky e2e test TestTraceflowIntraNode"
**Describe the bug**
TestTraceflowIntraNode sometimes failed.
[code]
It's because the way it checks whether a networkpolicy is realized is not valid now after `antctl get networkpolicy NAME -n NAMESPACE` can return multiple objects (it no longer returns error code for NotFound case).
[e2e-kind-encap.tar.gz (4).zip](https://github.com/vmware-tanzu/antrea/files/5456542/e2e-kind-encap.tar.gz.4.zip)

[2020-10-29 06:40] tnqn commented on #1218
The issue reoccurred: https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/1508/consoleFull

[2020-10-29 06:54] tnqn commented on #1218
And it's frequently today, another failure: https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/1512/console

[2020-10-29 07:44] #1133 closed

[2020-10-29 07:55] ruicao93 commented on #1429
@jayunit100 I'd like to close the issue because we already required user to install latest windows update in installation doc.

And we don't know which KB is must need to avoid this issue. So we can't recommend the specific KB for user for now.

[2020-10-29 07:55] #1429 closed

[2020-10-29 08:01] ruicao93 commented on #1426
Jay is working on update the doc:
https://github.com/vmware-tanzu/antrea/pull/1415

[2020-10-29 08:12] ruicao93 opened #1455 "[Windows] Provide guide/scripts to prepare enviroment needed by antrea-agent after reboot."
**Describe what you are trying to solve**
After Windows node reboot, there's need to prepare the enviroment before starting antrea-agent.

**Describe the solution you have in mind**
Provide guide/script to reset the enviroment after node reboot.

- [ ] Add a script which helps to prepare the enviroment needed by antrea-agent after node reboot.
- [ ] Update Windows installation doc to guide user ho

[2020-10-29 11:10] ruicao93 opened #1458 "[Windows] antrea-agent failed to start due to: Failed to set the uplink port with no-flood config"
**Describe the bug**
antrea-agent failed to start due to and explained:
`Failed to set the uplink port with no-flood config: exit status 1`

ovs logs are empty when issue happened.

Full agent log:
[code]

**To Reproduce**
Reboot the node have chance to meet the issue.

[2020-10-29 11:13] ruicao93 commented on #1458
It's strange beacuse ovs logs are empty when the issue happens.
To get more info about the error, I will create a PR to log error details when fail to config `no flood` on uplink port.

[2020-10-29 11:24] perithompson commented on #1458
I do get this in the ovs-vswitchd.log at the time if the first error but after a pod restarts the error clears?

[code]

[2020-10-29 20:43] antoninbas commented on #450
@vrabbi Yes I'm aware of the armv8 servers on AWS. I'm still hoping for a solution that supports multiple arm versions. It seems that kops does support using these servers as worker Nodes: https://github.com/kubernetes/kops/pull/8938, so that would be a good solution for CI. I would still like to hear from people about whether they only care about armv8 or whether they also care about other ARM fl

[2020-10-30 04:11] #1369 closed

[2020-10-30 06:39] weiqiangt opened #1463 "Antrea Proxy NodePort Service Support"
[Google Docs](https://docs.google.com/document/d/196XsLQHEJM1BVRovpaSrnZxxg3beZ8x8fsJ9CFmqzws/edit?usp=sharing)
**Describe what you are trying to solve**
_This draft is only for Linux Nodes, we still need to design the solution for Windows Nodes._
We had already implemented ClusterIP services support in Antrea, but Kube-Proxy is still needed to support NodePort services. Since the Kube-Proxy does

[2020-10-30 09:38] perithompson opened #1465 "Windows Service - Connection Reset by Peer"
**Describe the bug**
When restarting Windows server 2019 host with antrea 0.10.1 and kubernetes v1.19.1, I run Clean-AntreaNetwork.ps1 and Prepare-ServiceInterface.ps1, in that order, however, before the antrea windows agent is able to recreate the vswitch I find that I have to run the following.

[code]

I have noticed that if I start this in the following order
[code]

The antrea agent starts co

[2020-10-30 09:46] perithompson commented on #1426
In order to automate the kube-proxy changes you could use the below kustomize to build the required manifest
[code]

[2020-10-30 18:24] jianjuns commented on #1465
Thanks for reporting the issue.
@wenyingd @ruicao93 : would you help on this one?

[2020-10-30 18:50] srikartati commented on #1270
Raised a PR #1411 for this issue.

Used cache.Store for asyncRuleCache and a rate-limited queue to keep the rule IDs that have to be deleted asynchronously. I used the same methodology of workers in the network policy controller to delete the rule IDs in the rate-limited queues.

Feedback on the PR will be helpful.

[2020-10-30 21:21] srikartati commented on #1448
https://github.com/vmware/go-ipfix/blob/release-0.2.0/pkg/registry/registry_antrea.csv
Since this registry is associated with the PEN number of Antrea open source project, should we move/host this registry as part of Antrea repo?

[2020-10-30 21:38] antoninbas commented on #1448
@srikartati yes I think it would make more sense, in order to keep the `go-ipfix` library generic

[2020-11-02 06:23] ruicao93 commented on #1465
Thanks @perithompson for your report.

We already have an issue(#1455) to track the node reboot issue.
I will close this one and track the update in #1455.

[2020-11-02 06:23] #1465 closed

[2020-11-02 11:35] srikartati commented on #1417
Thanks @robcowart for detailed comments.

@antoninbas Yes, an IPFIX field based on status flag in polled connections was in plans to be implemented, which is similar to `flowEndReason`. `active_timeut` and `inactive_timeout` suggestion is definitely interesting--currently we have only export frequency for all flows. We do not differentiate active and inactive flows.
Considering `flowEndSeconds` as

[2020-11-02 18:52] #1434 closed

[2020-11-03 05:53] #1458 closed

[2020-11-03 17:23] tnqn commented on #1173
Closed by #1445

[2020-11-03 17:23] #1173 closed

[2020-11-03 18:01] tnqn opened #1482 ""antctl get networkpolicy" options adjustment"
**Describe the bug**
To fix https://github.com/vmware-tanzu/antrea/issues/1173, https://github.com/vmware-tanzu/antrea/pull/1445 made controlplane NetworkPolicy resource cluster scoped, now controlplane NetworkPolicies' names are different from their source NetworkPolicies. For example, the following controlplane NetworkPolicy's name is "880db7e8-fc2a-4030-aefe-09afc5f341ad" while its source Netwo

[2020-11-03 18:03] tnqn commented on #1482
@jianjuns please feel free to edit the issue to reflect your latest proposal.

[2020-11-03 18:24] jianjuns commented on #1482
Yes, I just do not like -S to specify the origin NP name. I do not have a strong opinion either (because I do not have a very good idea), but slightly prefer "antctl get netpol allow-https -n default".

[2020-11-03 18:25] jianjuns commented on #1482
Another question - if -T is not specified, we will look up all policy types or default to K8sNP?

[2020-11-03 23:54] #1404 closed

[2020-11-04 02:18] jayunit100 commented on #1447
odd... Its on and off ... maybe the web service periodically flakes?

[2020-11-04 02:19] jayunit100 commented on #1447
<img width="463" alt="Screen Shot 2020-11-03 at 9 17 32 PM" src="https://user-images.githubusercontent.com/826111/98061592-327d7d80-1e1a-11eb-83ad-ad9cfdbfbe64.png">

[2020-11-04 02:24] antoninbas commented on #1447
No, the link is just different based on the version you are looking at, because this document was moved recently as I mentioned above

So the following are valid links:
* https://antrea.io/docs/master/design/windows-design/
* https://antrea.io/docs/v0.10.1/windows-design/

But this one is not: https://antrea.io/docs/master/windows-design/

[2020-11-04 07:39] tnqn opened #1486 "Deadlock in openflow client"
**Describe the bug**
@alokmaurya88 reported that in large scale cluster Pods failed to come up with error "no IP addresses available in range set:", even though enough IPs are available.

From antrea-agent log, there were CNI Add events for a Pod but no CNI Del events:
[code]

From containerd log, it thought netplugin failed with no error message:
[code]
So it should be antrea-agent didn't finish

[2020-11-04 20:08] antoninbas commented on #1244
Has been fixed

[2020-11-04 20:08] #1244 closed

[2020-11-04 20:08] #369 closed

[2020-11-05 00:18] antoninbas commented on #1375
Fixed, thanks for reporting this!

[2020-11-05 00:18] #1375 closed

[2020-11-05 03:16] #1432 closed

[2020-11-05 03:39] rhenwood-arm commented on #450
@antoninbas: There is an Armv7 and Armv8 option that I'm looking into. I hope to have some details in the next couple of days.

[2020-11-05 11:10] ppouliot commented on #450
Everyone,

There are free Arm VM resources available   for OSS projects located here:
https://osuosl.org/services/aarch64/

The request form for access is located here:
https://osuosl.org/services/aarch64/request_hosting/

If there are questions feel free to contact me directly.

[2020-11-05 14:48] tnqn opened #1499 "antrea-agent kept crashing on iptables error after restarting a Node with many Pods running on it"
**Describe the bug**
In large scale clusters, xtables lock may be hold by kubelet/ kube-proxy/ portmap for a long time, especially when there are many service rules in nat table. antrea-agent may not be able to acquire the lock in short time. If the agent blocks on the lock or quit itself, the CNI server won't be running, causing all CNI requests to fail.
If the Pods' restart policy is Always and

[2020-11-05 17:32] rhenwood-arm commented on #450
@ppouliot : do the platforms include Armv7 hardware support?

[2020-11-05 21:17] antoninbas commented on #1486
is anyone working on this? @wenyingd @weiqiangt

[2020-11-06 01:11] weiqiangt commented on #1486
@antoninbas, I'm working on it. The PR https://github.com/wenyingd/ofnet/pull/15 is under review. After merging it, I will push a PR to update the dependency.

[2020-11-06 02:14] gran-vmv opened #1500 "Support Gateway IP as destination IP in Traceflow"
**Describe the problem/challenge you have**
Currently user can only set Pod/Service IP in Traceflow destination IP. Other types of IP are not supported.

**Describe the solution you'd like**
Support Gateway IP as destination IP in Traceflow.

**Anything else you would like to add?**
In Traceflow PacketIn process, agent will check all "packet which output to gateway port". If destination IP is in P

[2020-11-06 07:58] #1357 closed

[2020-11-06 19:26] antoninbas commented on #1486
BTW, can the issue be reproduced reliably in the context of an integration test? I'm thinking that if this is the case we may want to add such a test to validate the fix and improve our test suite.

[2020-11-07 02:13] antoninbas commented on #1287
Submitted a PR to add a wrapper script around `gen-crd-api-reference-docs`: https://github.com/vmware-tanzu/antrea/pull/1507

The generated API reference doc is already available on the Antrea website: https://antrea.io/docs/master/api-reference/. I see some room for improvement, in particular I don't think we have quite enough comments in the Go source.

[2020-11-09 02:55] lzhecheng opened #1509 "Refactor agent networkpolicy types"
**Describe what you are trying to solve**
Suggested by @jianjun, put OF specific definitions in `pkg/agent/types/networkpolicy.go` into `pkg/agent/openflow`.
e.g.
`MatchKey`

The task begins after `ipv6` branch is merged into master.

[2020-11-09 03:48] tnqn commented on #1454
assigned to myself as it's causing many failures these days.

[2020-11-09 03:56] ruicao93 opened #1512 "[Windows] antrea-agent fails to start using `Start.ps1`"
**Describe the bug**
Reported by @reachjainrahul

[Windows] antrea-agent fails to start using `Start.ps1` with error:
···
Unable to connect to the server: dial tcp 10.240.255.5:443: connectex: No connection could be made because the target machine actively refused it.
...
Install-AntreaAgent : Exception calling "FromBase64String" with "1" argument(s): "Value cannot be null.
···

**Additional conte

[2020-11-09 04:01] weiqiangt commented on #1486
IMO, I don't think it can be easily reliably reproduced although the occurrence rate is comparatively high.

According to our prior analysis, we need to ensure the OVS response TIMEOUT and the internal statuses of goroutines are in expected states. I actually tried to patch a `sleep(10)` to the `publishMessage` to mock the situation, and after applying this fix, the agent not blocks anymore.

[2020-11-09 06:11] #1455 closed

[2020-11-09 08:25] ZhangYW18 opened #1514 "E2E Test Case `TestDeletePod` Failed on CentOS 7"
[Matrix compatibility test job](https://jenkins.antrea-ci.rocks/job/antrea-weekly-matrix-compatibility-test/) runs weekly, and the E2E test running under CentOS 7 fails on `TestDeletePod` test case in recent two weeks:

[code]

[2020-11-09 08:29] ZhangYW18 opened #1515 "E2E Test Case `TestReconcileGatewayRoutesOnStartup` Failed on CentOS 7"
[Matrix compatibility test job](https://jenkins.antrea-ci.rocks/job/antrea-weekly-matrix-compatibility-test/) runs weekly, and the E2E test running under CentOS 7 fails on `TestReconcileGatewayRoutesOnStartup` test case in recent two weeks:

[code]

[2020-11-09 08:37] ZhangYW18 opened #1516 "E2E Test Case `TestPodTrafficShaping` Failed on Photon 3"
[Matrix compatibility test job](https://jenkins.antrea-ci.rocks/job/antrea-weekly-matrix-compatibility-test/) runs weekly, and the E2E test running under Photon 3 fails on `TestPodTrafficShaping` test case in recent two weeks:

[code]

[2020-11-09 09:02] ruicao93 commented on #1512
The issue should happened when `Start.ps1` script trying to init antrea-agent config file but failed due to API server refuse the connection by some reason.

We could make following enchancement for the script:
- Check the return code of `kubectl` commands when initing antrea-agent config.
- Add a option to enable recreate the antrea-agent config every time on antrea-agent startup.

[2020-11-09 16:12] arunvelayutham commented on #1347
@jianjuns, We are working on to share a demo along with our proposal on SFC for CNF/SDWAN. This would take a little more time (as per the current status) and we would like to hold our presentation until we are ready with the demo. Sorry for the inconvenience. I will start share the details on our proposal ticket as soon as we complete (by end of this week).

[2020-11-09 18:29] jianjuns commented on #1347
@arunvelayutham : thanks for the update!

[2020-11-09 19:16] rotbau opened #1519 "antrea octant plugin does display antrea information for contexts"
**Describe the bug**
Using Octant with Antrea plugin to view information on multiple Kubernetes clusters.  The kubeconfig I use with Octant has multiple Kubernetes cluster contexts in it.  Octant will show relevant information for the selected context as expected, however Antrea does not.  Regardless of which context is selected in Octant, antrea will only show information for one context and will

[2020-11-09 20:39] antoninbas commented on #1486
Fixed by https://github.com/vmware-tanzu/antrea/pull/1511

[2020-11-09 20:39] #1486 closed

[2020-11-10 05:25] antoninbas commented on #1514
@ZhangYW18 can you check if `ip route` is available on the CentOS Nodes? If not that would explain the issue.
If this is the reason for the failure, I believe we can easily remedy this by making a small change to the test case.

[2020-11-10 06:20] ZhangYW18 commented on #1514
@antoninbas
No, it's not available.
I tested the following two commands: `ip link show lo` and `ip route list dev docker0`. They all received the following error:
`bash: ip: command not found`
This may be the reason that result in the failure in `TestDeletePod` and `TestReconcileGatewayRoutesOnStartup`.

[2020-11-10 09:40] #1454 closed

[2020-11-10 13:50] tnqn opened #1527 "Traffic between some random pods is not working"
**Describe the bug**
@alokmaurya88 reported that in a cluster there was one Pod was not able to connect to Pods on another Node while other Pods were able to.
[code]
It was caused by the routes and flows to podCIDR 10.128.4.0/24 were missing on this Node.

**To Reproduce**
It happened when two conditions were met：
1. the agent was disconnected from kube-apiserver for a long time and the cached res

[2020-11-10 17:51] #1270 closed

[2020-11-10 18:23] jayunit100 opened #1528 "(UX) Windows agent startup should hint if ovs* is down when running NetAdapterAdv. commands"
**Describe the bug**

The setup for antrea can fail with a complex error message when the various ovs services are down:

[code]

It turns out that an easy fix, if installation worked previously, is to ensure all ovs services are running:

[code]

**To Reproduce**

On a working antrea cluster, stop one of the ovs services and then restart the agent.

**Expected**

The agent should report that it c

[2020-11-10 22:51] antoninbas commented on #1515
Duplicate of https://github.com/vmware-tanzu/antrea/issues/1514

[2020-11-10 22:51] #1515 closed

[2020-11-10 23:07] antoninbas commented on #1516
Token Bucket Filter (TBF) does not seem to be available in Photon OS: https://github.com/vmware/photon/blob/master/SPECS/linux/config-esx#L1310

However it is required by the bandwidth plugin: https://github.com/containernetworking/plugins/blob/ccd872bd7a834e0948758cc039a90721d817a8ed/plugins/meta/bandwidth/ifb_creator.go#L116

At the very least we should:
 * document this issue there: https://git

[2020-11-10 23:16] antoninbas commented on #1514
Yes it's the reason for the failure then. Thanks for checking. I can take care of fixing it: we can just exec into the correct antrea-agent Pod instead of ssh'ing into the Node. The ip tools are available in the antrea docker image.

[2020-11-10 23:49] jayunit100 commented on #1528
proposed fix

maybe  run something like
[code]

and confirming all are running before proceeding with those CIM queries

then just exit gracefully, if not?

@ruicao93 for thoughts

[2020-11-11 00:30] antoninbas commented on #1516
Maybe `confix-esx` is actually not the right place to look

@ZhangYW18 could you do the following on one of the Photon Nodes:
 * check the kernel config parameters in `/boot/config-$(uname -r)`, in particular `CONFIG_NET_SCHED` and all the "Queueing/Scheduling" config parameters (`CONFIG_NET_SCH_*`)
 * can the `sch_tbf` kernel module be loaded with `sudo modprobe sch_tbf`?
 * what is the exact Pho

[2020-11-11 01:12] ruicao93 commented on #1512
Hi @reachjainrahul , I will make a PR to enhance the startup script.

If your are using old version, you could remove following files everytime before calling `Start.ps1`.
`$AntreaEtc` is the location of etc dir under `$AntreaHome`, the value by default is: `c:\k\antrea\etc`
[code]

[2020-11-11 02:38] antoninbas commented on #1271
Moving this to the next release. It's something we need to do to improve our testing framework, but it does not need to be directly tied to a specific release.

[2020-11-11 02:39] antoninbas commented on #897
Seems like this has been root-caused by OVS devs, but no fix yet

[2020-11-11 02:43] antoninbas commented on #1327
We agreed to postpone this to v0.12

[2020-11-11 03:24] #1448 closed

[2020-11-11 03:42] mengdie-song commented on #1519
Thanks for reporting the issue. I have reproduced the antrea-octant-plugin contexts switching issue in my setup.
We used to use self-generated client in antrea-octant-plugin, however, we can not pick up context switch changes from octant dashboard in this way, so that antrea-octant-plugin does not show content changes during context switch.

I have a quick test that the problem can be solved if we

[2020-11-11 03:43] antoninbas commented on #1516
@tnqn pointed out to me that the issue has already been reported to the Photon OS team. It seems that it is actually the `ifb` kernel module which is missing (https://github.com/vmware/photon/blob/dca7e9c3821f5151d5f44c822ace06aa868a86d2/SPECS/linux/config_x86_64#L2346).

So on the Antrea side, we indeed just need to include this information in the OS documentation and disable this test for Photon

[2020-11-11 04:16] #1527 closed

[2020-11-11 04:22] antoninbas opened #1532 "Improve release branch maintenance process"
When a bug is fixed in master, we should decide at that time which release branches to cherry-pick the bug fix to, as per our [versioning policy](https://github.com/vmware-tanzu/antrea/blob/master/docs/versioning.md). This should be driven by the contributor of the patch as much as possible, who can take care of resolving conflicts happening during the cherry-picking process.

Maintainers can then

[2020-11-11 06:27] #1225 closed

[2020-11-11 06:49] ZhangYW18 commented on #1516
OK, you can check the TEST_OS env variable. It's valued `photon-3` when running matrix tests on Photon 3.0.

- Phonton version and kernal version:
[code]

[2020-11-11 15:26] tnqn commented on #1499
The issue was reproduced even antrea-agent was running and was able to process CNI Del requests.

Confirmed this is due to competition between portmap processes and kube-proxy. There are mainly 3 iptables clients: portmap, antrea-agent, kube-proxy:
After a Node restarted, all containers were dead so kubelet/containerd tried to recreate them, but it needs to delete their old sandbox containers firs

[2020-11-11 18:04] #1499 closed

[2020-11-11 18:55] Dyanngg commented on #1316
Closing this issue as it is not encountered anymore and is most likely related to the reason explained above.

[2020-11-11 18:55] #1316 closed

[2020-11-11 19:51] srikartati opened #1536 "TestControllerWithDuplicatePodCIDR seems to be flaky"
**Describe the bug**
https://github.com/vmware-tanzu/antrea/pull/1535/checks?check_run_id=1386921141

5s limit in TestControllerWithDuplicatePodCIDR doesn't seem to be enough. Some runs are passing.

**To Reproduce**
Observed this in Github CI as part of PR push.

**Expected**
Test need to pass consistently.

**Actual behavior**
Test is flaky.

**Versions:**
Observed this on master branch with com

[2020-11-11 23:40] lzhecheng opened #1539 "Strategy for merging branches in vmware-tanzu/antrea repo"
**Describe what you are trying to solve**
All branches that are merged into master will be squashed.

**Describe the solution you have in mind**
Branches in vmware-tanzu/antrea repo, like ipv6, windows, should not be squashed.
@jianjuns @tnqn @antoninbas

[2020-11-11 23:44] antoninbas commented on #1539
@lzhecheng why don't you want them to be squashed? do you think having a single large commit is not a good idea?

[2020-11-12 01:25] lzhecheng commented on #1539
@antoninbas Sometimes we break down a large PR into several small ones, right? I thought it should be the same.

[2020-11-12 01:32] antoninbas commented on #1539
That's true, as long as the individual commits are self-contained. I was just checking that we meant the same thing. "rebase" is disabled for the repo to avoid mistakes (PR with multiple commits which were meant to be squashed ends up being rebased because the wrong option is used when merging). However, these feature branches (e.g. `ipv6`) can definitely be treated differently. If I take care of

[2020-11-12 01:49] lzhecheng commented on #1539
Thank you. Yes, I saw the case multiple commits in a PR, including "fix comments", got merged into master and the commit history looks not so good. Since Github doesn't support more granular control, let's save our efforts to temporarily enable/disable rebase and keep the repo as it is now.

[2020-11-12 01:49] #1539 closed

[2020-11-12 02:30] antoninbas commented on #1363
The Agent no longer writes the `send_redirects` kernel parameters (v0.11). However, the FlowExporter feature uses sysctl to set `nf_conntrack_acct` and `nf_conntrack_timestamp`. Because the Agent does not fail (but instead logs a warning) when these parameters cannot be written to, "privileged" mode is technically no longer *required*. However, we still run the Agent in privileged mode by default,

[2020-11-12 03:47] #1362 closed

[2020-11-12 04:07] antoninbas opened #1540 "Better support for updates to the Antrea base docker images"
At the moment we have a CRON job running as a Github workflow which periodically (every 12 hours) updates the `antrea/openvswitch` and `antrea/base-ubuntu` Docker images. These images are then used in all CI builds, whenever we need to build the `antrea/antrea-ubuntu` image. This includes tests, but also jobs which update the `antrea/antrea-ubuntu` image (whenever the master branch is updated or a

[2020-11-12 05:41] #1257 closed

[2020-11-12 11:33] tnqn commented on #831
@alex-vmw Now [K8s v1.19.4](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md#bug-or-regression) has the fix:
[code]
I'm closing this.

[2020-11-12 11:33] #831 closed

[2020-11-12 11:45] tnqn commented on #1536
@srikartati Thanks for reporting this. However the link of test failure is no longer there, I specified `-count=50` locally and couldn't reproduce it. In theory the test should take about 2 seconds (wait for the min back-off 2 seconds). Could you download the test log if you meet the failure again?

[2020-11-12 13:14] tnqn commented on #1536
I managed to reproduce the failure by adding `-race`, since the goroutine never gets to run when it fails. Maybe race detector adds some delay to start a goroutine, not sure if increasing the timeout can fix the problem, will investigate solutions.

[2020-11-12 16:21] srikartati commented on #1536
Thanks for reproducing it. I did not realize the same link gets updated if I update the PR. Will collect the test log next time.

[2020-11-12 18:46] antoninbas opened #1543 "TestPodTrafficShaping flaky on dual-stack clusters"
**Describe the bug**

The `TestPodTrafficShaping` e2e test case is sometimes failing for dual-stack clusters in Jenkins. I am not aware of a similar issue for v4-only clusters and I am not observing the issue for ipv6-only clusters either.

[code]

We should disable the test for clusters with v6 until we can figure this out.

**Versions:**
 - Antrea version: ToT and v0.11

[2020-11-12 19:01] antoninbas commented on #1114
Fixed by https://github.com/vmware-tanzu/antrea/pull/1139, https://github.com/vmware-tanzu/antrea/pull/1160 and https://github.com/vmware-tanzu/antrea/pull/1288

[2020-11-12 19:01] #1114 closed

[2020-11-12 20:14] srikartati opened #1545 "Enhancements to NetworkPolicy support in Antrea Flow Exporter"
Currently, we only add the NetworkPolicy name and Namespace in flow records generated by Flow Exporter.
We can add network policy UUID, NetworkPolicy type, rule name, and rule priority to flow records.

[2020-11-12 21:15] antoninbas opened #1546 "TestWorker/delete-rule-with-async-delete-interval is flaky when run in Github CI"
**Describe the bug**

I have observed the test fail a couple of time on master. The full log is below:

[code]

[2020-11-13 04:05] srikartati commented on #1546
I was able to repro this on local setup with count=50.
Fixed it by adding shutdown process to the queue. Without this wait.Until go routine in the test cannot be stopped.

With fix, not able to hit the issue event with count=1000 in multiple runs.

[2020-11-13 05:00] abhiraut commented on #1545
this should probably say something about "flows" in the issue title.. a bit misleading ;)

[2020-11-13 05:18] abhiraut opened #1550 "Antrea-native policy without a Tier set in it's spec should have "application" tier set"
**Describe the bug**
When an Antrea-native policy is created without a Tier, it is pushed to the default "Application" Tier but the `kubectl` output shows the field as empty.

**To Reproduce**
Create ACNP without a Tier in spec.
`kubectl get acnp <name>` and notice Tier field is empty. Although the ACNP is by default associated to Application Tier.

**Expected**
Tier field is automatically set to

[2020-11-13 05:50] abhiraut commented on #1550
note.. this bug has no effect on functionality .. more cosmetic

[2020-11-13 08:04] srikartati commented on #1545
Definitely. Updated it.

[2020-11-13 08:17] srikartati commented on #1536
Assigning to Quan as he is working on it.

[2020-11-13 09:12] ruicao93 commented on #1528
Thanks @jayunit100 for your report.

I think query the network adapter retrun proper failure message if not exist is good. Will create PR for that, thanks.

[2020-11-13 18:25] abhiraut opened #1553 "Traceflow resources must be cleaned up after use"
**Describe the bug**
Once a Traceflow is initiated, a TF CRD object is created in the cluster which is used to provide the functionality and the result of the trace. However, once the result is posted, the TF object remains in the cluster until it is explicitly deleted by the user. This is not ideal.

**To Reproduce**
Create a TF. Observe the result. Wait for a few days. Still see the TF object in

[2020-11-13 18:40] antoninbas commented on #1553
I know the `antctl` implementation takes care of deleting the CRD (when the `--wait` option is used, which is the default). I thought the Octant plugin did the same thing?

If you create the CRD yourself directly with kubectl or the API, I think this behavior was intentional.

[2020-11-13 18:41] antoninbas opened #1554 "Update antrea.io website for releases 0.10.2 and 0.11.0"

[2020-11-13 18:42] abhiraut commented on #1553
Ok got it. I did not try with Octant or antctl. If the behavior is same with Octant (CRD is deleted) we can close this issue.

[2020-11-13 18:43] zyiou commented on #1417
Closes this issue (fixed in PR #1479)

[2020-11-13 19:01] antoninbas opened #1555 "Switch from Dockerhub to public VMware Harbor registry (projects.registry.vmware.com)"
**Describe what you are trying to solve**
Docker recently introduced rate limiting for pull requests on DockerHub (https://docs.docker.com/docker-hub/download-rate-limit/), and the rate limiting is only supposed to get more stringent in the future. To avoid rate limiting, users can upgrade to a paid account.

Because Antrea is supported by VMware, we have access to a public [Harbor](https://goharb

[2020-11-13 22:35] #1516 closed

[2020-11-13 22:46] antoninbas commented on #1026
Looks like we didn't have time to update the documentation for AntreaProxy, even though it is enabled by default in Antrea v0.11

[2020-11-16 20:37] #1514 closed

[2020-11-17 12:10] marcusschiesser commented on #1347
@arunvelayutham @jianjuns We're at https://glasnostic.com/ are also working on a setup to run CNFs on Antrea. How about we share our status and see if we can work together? You can send me an email to marcus@glasnostic.com

[2020-11-17 18:32] srikartati opened #1562 "Flaky test (node_route_controller_test.go) observed in windows unit test CI run"
**Describe the bug**
-- FAIL: TestControllerWithDuplicatePodCIDR (5.00s)
130 Error:     node_route_controller_test.go:153: Test didn't finish in time
131 Error:     node_route_controller_test.go:156: missing call(s) to *testing.MockClient.InstallNodeFlows(is equal to node1, is equal to 00:00:00:00:00:01, is anything, is equal to 10.10.10.10, is equal to 1, is equal to 0) D:/a/antrea/antrea/pkg/age

[2020-11-18 02:26] mengdie-song commented on #1553
Hi @abhiraut, for antrea-octant-plugin, we will automatically delete the traceflow CRD created by UI after 300s/5min.

[2020-11-18 02:28] abhiraut commented on #1553
thanks for the confirmation. closing this issue.

[2020-11-18 02:28] #1553 closed

[2020-11-18 03:05] jayunit100 commented on #597
This is all done at this point I think we can close it, and what's left if needed can be done upstream

[2020-11-18 03:23] #1298 closed

[2020-11-18 18:09] jianjuns commented on #1347
@marcusschiesser : great to know you are interested in this topic too! I think @arunvelayutham plans to present a proposal in our next community meeting. Would you attend and discuss there?
@arunvelayutham : could you confirm this? BTW, as next week is Thanksgiving, we might have fewer attendees. Would you prefer to move the presentation to the one after?).

[2020-11-18 18:12] jianjuns commented on #1347
@poozza and @yasensim provided inputs to us about the Telco use cases from VMware. They might like to join the discussions and contact you. @marcusschiesser

[2020-11-18 19:46] antoninbas opened #1570 "Two K8s 1.19 Conformance tests for ClusterIP Service SessionAffinity are broken [AntreaProxy]"
**Describe the bug**

Several ClusterIP Service tests dealing with SessionAffinity were added to the K8s Conformance tests in 1.19:
https://github.com/kubernetes/kubernetes/blob/1df1f882c4421d313abb468fef5c15f89983471c/test/e2e/network/service.go#L2394-L2486

2 of these tests are consistently failing with Antrea v0.11:
* `[sig-network] Services should be able to switch session affinity for service

[2020-11-18 20:45] antoninbas opened #1572 "CI jobs for AKS & EKS are failing"
**Describe the bug**

They have been failing for about a week:
* http://jenkins.antrea-ci.rocks/view/cloud/job/cloud-antrea-eks-conformance-net-policy/86/
* http://jenkins.antrea-ci.rocks/view/cloud/job/cloud-antrea-aks-conformance-net-policy/57/

Creating a single issue because even though I have not investigated the failures, the jobs started failing at the same time, so it is likely that it is

[2020-11-18 20:55] antoninbas opened #1573 "Add CI conformance job will all feature gates disabled"
We already have a job with all features enabled. When we introduced this job, all features were disabled by default in Antrea, but now that some of them have been graduated to Beta and are therefore enabled by default (AntreaProxy, Traceflow), it would make sense to introduce an additional job to run conformance tests will all features disabled.

[2020-11-18 22:11] Dyanngg commented on #1572
triggered a manual run and saw this in sonobuoy logs:
[code]

[2020-11-19 01:34] #1550 closed

[2020-11-19 02:39] ruicao93 opened #1577 "[Windows] antrea-agent failed to start `install-cni` container"
**Describe the bug**
Occasionally, antrea-agent failed to start `install-cni` container and show following error in Antrea CI:
[code]

**To Reproduce**
No idea about how to reproduce it. The issue happens occasionally in Antrea CI.

**Other info**
[code]

[2020-11-19 02:48] ruicao93 commented on #1577
The container log complains that it can not write/overwrite files due to no acccess denied.

The script(`/k/antrea/Install-WindowsCNI.ps1`) executed in `install-cni` container should be ok and there's no change recently.

I think it most likely to be a Docker related issue. We will investigate further later.

@lzhecheng : To avoid blocking the CI tests, we could remove some files before run Window

[2020-11-19 03:45] lzhecheng commented on #1577
Windows CI is updated with @ruicao93 's suggestion.

[2020-11-19 03:51] antoninbas opened #1578 "SessionAffinity timeout max value"
**Describe the bug**
According to the K8s API documentation, the maximum value for `service.spec.sessionAffinityConfig.clientIP.timeoutSeconds` is 86400, which corresponds to 1 day. See https://godoc.org/k8s.io/api/core/v1#ClientIPConfig.

In Antrea, the maximum value is actually 65535, since this timeout is implemented using an OpenFlow hard timeout, which is a uint16.

I am not sure there is too

[2020-11-19 06:20] marcusschiesser commented on #1347
@jianjuns sure, i would like to join. Can you send the details please? Meanwhile anyone please feel free to contact me concerning this issue

[2020-11-19 14:32] pvtl-pre opened #1580 "Nodeport and Network Policies"
**Describe the problem/challenge you have**
I have external (known) clients to the private Kubernetes cluster that I run that need access to some of the pods in my cluster. To simplify the process, I want to expose these pods via nodeport and by using other tools, I can create a Service Registry on these exposed pods for my clients to consume. I would like to secure this solution using network pol

[2020-11-19 17:08] jianjuns commented on #1347
Our community meeting occurs every two weeks on Tuesday at 5AM UTC (9PM PDT, 6AM CET, 10.30AM IST, 1PM China). And there will be one next week. Also check: https://github.com/vmware-tanzu/antrea/wiki/Community-Meetings

Is the time good for you?
I still need to confirm with @arunvelayutham if he still plans to present the proposal next week, or maybe change to the next meeting. Will give you an up

[2020-11-19 17:38] #1570 closed

[2020-11-19 19:44] antoninbas commented on #1580
This is similar to something that came up in the past: https://github.com/vmware-tanzu/antrea/issues/280

@abhiraut is this a feature that's on your radar?

[2020-11-19 20:10] abhiraut commented on #1580
yes. but not scoped for the next few releases at least. @jianjuns mentioned it also needs NodePort support with AntreaProxy before we could implement such network policies with Antrea.

[2020-11-19 20:16] perithompson opened #1581 "Windows Containerd Support"
**Describe the problem/challenge you have**
With the announcement of that [windows containerd support](https://github.com/kubernetes/enhancements/issues/1001) is stable in 1.20 and the deprecation of dockershim, we would like to move forward with Windows support for containerd.

**Anything else you would like to add?**
I have been testing this out today and I have noticed a few errors that will ne

[2020-11-19 20:16] perithompson commented on #1581
/sig windows

[2020-11-19 22:30] antoninbas opened #1583 "Upstream K8s conformance test "Services should have session affinity timeout work for service with type clusterIP" is flaky"
**Describe the bug**
"Services should have session affinity timeout work for service with type clusterIP" seems to be failing 30% of the time, both in CI and in my Vagrant-based test environment.

This is after merging https://github.com/vmware-tanzu/antrea/pull/1576. Before that, the test was consistently failing all the time.

**To Reproduce**
Deploy the latest version of Antrea and run the test

[2020-11-19 23:00] antoninbas commented on #1583
When looking at the logs it seems that SessionAffinity is not enforced correctly. An investigation reveals that "Services should have session affinity work for service with type clusterIP" actually suffers from the same issue (confirmed from the logs). However that test consistently succeeds.

Here is a look into what happens: in OVS learning is done by the userspace daemons, which means there is

[2020-11-19 23:31] antoninbas commented on #1572
Re-opening as the tests are still failing on both AKS & EKS.

[2020-11-20 01:04] antoninbas commented on #1572
One finding is that the EKS CNI introspection API is no longer available, so the https://github.com/vmware-tanzu/antrea/blob/master/build/yamls/antrea-eks-node-init.yml script is broken.

We can use the contents of `/var/run/aws-node/ipam.json` to decide which containers to restart.

[code]

See https://github.com/awslabs/amazon-eks-ami/pull/487

I will address this first

[2020-11-20 01:12] antoninbas commented on #1572
Second issue is that AntreaProxy is not enabled for policyOnlyMode: https://github.com/vmware-tanzu/antrea/blob/3db240dab7a758f0199ada0eb333b0cf8fb442f2/cmd/antrea-agent/agent.go#L185-L192

In that mode `nodeConfig.PodIPv4CIDR` and `nodeConfig.PodIPv6CIDR` are not set...

[2020-11-20 01:18] ruicao93 commented on #1581
Thanks peri, we will investigate if there're any gap between docker and containerd on Windows.

[2020-11-20 01:47] wenyingd commented on #1581
Hi @perithompson , may I know the version of kubelet?

Originally, kubelet on Windows format the "netNS" string in this style: 1) For sandbox container, the netns is "none" 2) for workload container, the netns is in the format of "container:$sandbox_container_ID". So we have a check for the existence of ":" in the netNS string to find the infra container ID if its value is not "none".

But accordi

[2020-11-20 03:13] antoninbas commented on #936
I'm bumping up the priority of this issue. We need to be able to test specific Docker images to avoid issues such as #1572 (adding IPv6 support completely broke policyOnly mode which is used on EKS & GKE). We need to be able to test big impactful changes in all the K8s cloud managed services before we merge the corresponding PR. We also need to make sure that job failure notifications are sent to

[2020-11-20 04:37] #1583 closed

[2020-11-20 06:25] #1391 closed

[2020-11-20 06:42] perithompson commented on #1581
HI @wenyingd, this was on v1.19.1, I used cluster-api to create the cluster and set the crisocket, with containerd, I've been told that a nat network must be created for any pods to start, once this is done any other plugin can be added on top

[2020-11-20 07:06] wenyingd commented on #1581
Got it, we will double check.

[2020-11-20 07:24] marcusschiesser commented on #1347
@jianjuns That's great. I am available and if there's time I can also say a few things to our current status. Please send me the Zoom link or invite to marcus@glasnostic.com. Looking forward to meet you guys.

[2020-11-20 13:32] tnqn opened #1587 "NetworkPolicy are not enforced correctly during upgrade"
**Describe the bug**
During upgrade, Pods on the nodes that haven't been upgraded lost connectivity after Antrea controller is upgraded to v0.11.

**To Reproduce**
1. Deploy v0.10.2, create a networkpolicy that allows Pod A to access Pod B
2. Upgrade controller to v0.11.0 and keep agent as v0.10.2.
3. Pod A cannot access Pod B

Check openflows, the IP of Pod A was not in openflow.

**Expected**
Ne

[2020-11-20 16:36] perithompson commented on #1581
Some more information, if we create a nat network using ``` New-HnsNetwork -Type NAT -Name nat``` from [PrepareNode.ps1](https://github.com/kubernetes-sigs/sig-windows-tools/blob/v0.1.4/kubeadm/scripts/PrepareNode.ps1) the cni cannot create as it needs the nat plugin to work to initialise for the antrea-agent-windows pod to start-up

**containerd logs**
[code]
**kubelet logs**
[code]

[2020-11-20 17:26] #1572 closed

[2020-11-20 19:01] #1587 closed

[2020-11-21 01:14] antoninbas commented on #1347
@marcusschiesser the Zoom link is in the README

[2020-11-22 11:39] robcowart commented on #1417
@zyiou, @srikartati this issue should be reopened. I have tested v0.11.1 and while the issue is partially fixed, there is still an issue. The flow start time is now correct. However the flow end time is still way in the future. It is not as far in the future as when I originally reported this issue. However it is still wrong.

[code]

[2020-11-23 15:50] srikartati commented on #1417
@robcowart You are right. Just checked the code. We are getting the stoptime from conntrack table, instead we should record the stopTime as the time when the flow record is created (time.Now) from the discussion in this issue.
https://github.com/vmware-tanzu/antrea/blob/master/pkg/agent/flowexporter/exporter/exporter.go#L252

@zyiou Is it possible for you to add this in one of the PRs you already

[2020-11-23 18:13] zyiou commented on #1417
Sure. I can add this in #1582 when I finished the upgrade to go-ipfix v0.3.1

[2020-11-24 04:21] #1271 closed

[2020-11-24 10:38] ruicao93 commented on #1581
@perithompson : We do the test using Containerd as runtime and found that antrea-agent cannot work with Containerd for now.

Here're problems we found in test:
- Containerd calls CNI plugin in different operation sequence and different params. So antrea-agent need to adapt to the differences.
- Containerd might require CNI plugin to use different hcsshim API for network setup. We need more investi

[2020-11-26 16:02] tnqn opened #1599 "agent crashed when networkpolicystats feature was enabled and an antrea networkpolicy with drop action was created"
**Describe the bug**
After I enabled NetworkPolicyStats feature and created an Antrea NetworkPolicy with drop action, all agents crashed:
[code]

I checked the openflow of metrics flows:
[code]
And the code parsing the flows: https://github.com/vmware-tanzu/antrea/blob/521b177430326d6eb129f9c85743031f3e1bd903/pkg/agent/openflow/network_policy.go#L1398-L1409

It seemed the function expected `reg3=`

[2020-11-26 16:37] tnqn opened #1600 "OVS didn't forward packets on one Node"
**Describe the bug**
Thanks Michael Wakabayashi for reporting this issue.
It was found that Pods on one node cannot connect to any endpoint. After dumping the flows, I found that all of the flows were 0 and confirmed that `flow-restore-wait` was still true somehow.
I have checked antrea-agent and antrea-ovs logs:
antrea-agent declared that it had removed the config successfully.
[code]
antrea-ovs