[2020-03-20 22:11] abhiraut opened #525 "Support latest client-go updates"
**Describe the bug**
client-go is updating some of the method signatures. https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20200123-client-go-ctx.md#graduation-criteria
which must be supported in Antrea codebase.

[2020-03-20 23:21] #361 closed

[2020-03-21 13:52] srikartati opened #530 "Running e2e tests with customized master node name in the case of kind provider"
**Describe the bug**
For e2e tests, kind provider only supports only the default master node name ("kind-control-plane").
Need to fix to run the e2e tests for any master node name.

In addition, https://github.com/vmware-tanzu/antrea/blob/master/ci/kind/kind-setup.sh accepts any type of a cluster name. We should probably restrict naming convention to rfc1035/rfc1123. Otherwise, we do not align wit

[2020-03-21 15:42] srikartati commented on #530
This do not require an issue. Will be just creating a PR.
Sorry for the confusion. Closing/deleting this.

[2020-03-21 15:42] #530 closed

[2020-03-24 00:02] suwang48404 opened #538 "NetworkPolicy for External Service not working in Policy-Only mode."
**Describe the bug**
NetworkPolicy for External Service not working in Policy-Only mode due to masquerading.

If Endpoint(s) of a Service is some external IP, service request is also masqueraded with Node IP when enters OVS bridge after LB by the host network. This is required so that so the reply traffic may reach the Node, and be un-DNATed in the host network.

This also means service request lo

[2020-03-24 08:33] ZhangYW18 opened #541 "Set table output as the default output for `antctl get` commands"
**Describe the bug**

The default output format should be table format, which is easier for developers to get a comprehensive view of the response data.

Also, the table format should apply to the recently added command `antctl get pod-interface`. `antctl get pod-interface` commands outputs data in json by default, which is a little inconvenient to have an overall view of the data, the default for

[2020-03-24 08:35] ZhangYW18 commented on #541
I will assign this issue to myself.

[2020-03-24 09:15] ZhangYW18 commented on #541
@tnqn  Could you help me assign this issue to me? I do not have write access for this repo.

[2020-03-24 19:46] antoninbas opened #544 "[Netpol] Tests are still flaky"
**Describe the bug**
Some "whitelisted" probes are still failing occasionally for Netpol tests. See for example https://github.com/vmware-tanzu/antrea/pull/529/checks?check_run_id=531493613. In that case the `EgressOnNamedPort` (port 80) test failed because of two failing probes:
[code]

This happens from time to time for arbitrary tests. There is still a good chance IMO that this is happening bec

[2020-03-24 19:53] antoninbas opened #545 "E2e test TestPodConnectivityAfterAntreaRestart is flaky"
**Describe the bug**
`TestPodConnectivityAfterAntreaRestart` seems to be flaky, at least when running tests on Kind. I will monitor and check if this also happens in Jenkins tests. On Kind, this seems to happen regardless of the encapsulation mode, and the test logs typically look like this:
[code]
It is surprising that the ping works in one direction and not the other. Typically the ping we run f

[2020-03-24 20:56] #337 closed

[2020-03-25 01:27] lzhecheng opened #547 "[CLI] Support plural and short names for antctl"
**Describe what you are trying to solve**
Now antctl only supports one name for each command. It should be helpful if it supports plural and short names.

**Describe the solution you have in mind**
Refactor command definition framework to support this.

**Expected**
The following commands should get same results..
[code]

[2020-03-25 02:27] lzhecheng commented on #275
Two antctl commands have been added.

[2020-03-25 02:27] #275 closed

[2020-03-25 02:51] #516 closed

[2020-03-25 03:03] #511 closed

[2020-03-25 07:12] #500 closed

[2020-03-25 07:20] tnqn commented on #500
@rbhamre I found when antrea-controller runs standalone, it didn't consume that much memory, and did local tests and now think it should be the process of starting watch consumed that memory.
After optimizing it with #543, I can observe that memory usage has been reduced a lot with 100 agents (from 2G to 400M). I think it should fix the issue in your scale too.
Please let me know if you get a chan

[2020-03-25 07:25] tnqn commented on #494
Fixed by #527

[2020-03-25 07:25] #494 closed

[2020-03-25 13:56] yktsubo commented on #326
Hi

Is this right place to discuss about extension of ofnet and libOpenflow packages? I'm trying to implement them but facing some challenges.

I did some research and some extension are required in ofnet and libOpenflow packages.
I would like to ask for some advice on how to implement extension.

Here is what I expect to implement in those packages.

1. ofnet

- ofnet requires to support multiple

[2020-03-25 14:16] wenyingd commented on #326
Hi Yuki,

In ofnet, the instructions for apply_actions and write_actions are added, please check with the latest commit in "dev" branch in repo: github.com/wenyingd/ofnet. A set of new APIs are added to support Antrea to add instruction/actions more flexibly.

For libOpenflow, you are correct, we need to add message encoding/decoding for action "actset_output".

After above functions are added, we

[2020-03-25 14:39] yktsubo commented on #326
Hi Wenying,

I spent last 2 days to implement in ofnet but didn't make it work. Thank you for your support.
I'll see and try to implement write_actions in Antrea. I've already confirmed goto_table works in Antrea.

After I confirmed that write_actions and goto_table work in Antrea, I'll look into libOpenflow extension.

[2020-03-25 15:23] williamtu commented on #14
I think it doesn't work, but in reality, I do see people running multiple ovs-vswitcd in multiple
containers sharing one ovs kernel datapath, without any problem. I guess it depends on use cases.

There is a talk about this in 2015 mentioning a couple of issues
https://www.openvswitch.org/support/ovscon2015/17/1555-benc.pdf

[2020-03-25 15:27] salv-orlando commented on #236
@ksamoray  completed patch reorganization, but it's too late for Antrea 0.5 inclusion. I would consider deferring this integration to 0.6 (and also enable prometheus in CI - so that we can verify data collection works ok)

[2020-03-25 15:28] salv-orlando commented on #181
Unfortunately there weren't many review in the past few days. @antoninbas  do you think we can still make a final push for 0.5.0 inclusion, or do we just move this issue to 0.6.0?

[2020-03-25 17:12] antoninbas commented on #14
@trozet I believe you can make it work, but I also think that wasn't the best option for the Antrea case:
 * the OVS bridge for each Kind Node needs to have a different name (and I believe so does the host gateway interface), which means that we have to tinker with some Antrea configuration files to make this happen.
 * I don't know how easy it would be to make it work on macOS (or if it's even po

[2020-03-25 20:05] #477 closed

[2020-03-25 23:54] #312 closed

[2020-03-26 02:48] antoninbas commented on #450
This was discussed at the Antrea community meeting on 03/25/2020 - see [meeting minutes](https://github.com/vmware-tanzu/antrea/wiki/Community-Meetings#march-25-2020).

[2020-03-26 11:52] salv-orlando commented on #547
Hello @lzhecheng  - is this addressed by https://github.com/vmware-tanzu/antrea/pull/555 ?

[2020-03-26 12:01] lzhecheng commented on #547
Yes, thanks for reminding me.

[2020-03-26 12:23] salv-orlando commented on #431
Looking at the OVS log it really appears it's being killed by the kubelet because of liveness probe failures.

Also as the liveness probe does only this:

[code]

I think we should not rule that the the probe might be timing out because of excessive load on the node.

[2020-03-26 18:57] abhiraut commented on #514
btw should we enable portMap plugin by default? or via configuration var? @antoninbas

[2020-03-26 19:00] antoninbas commented on #514
I think it should be a configuration parameter, but enabled by default. @jianjuns @tnqn ?

[2020-03-27 02:49] #547 closed

[2020-03-27 16:49] yktsubo commented on #326
Hi Wenying,

I saw your commit and confirmed that we could implement goto_table and write_actions with that.
But I'd like to confirm that. if I correctly understand, we need refactoring in pipeline with new commit, right?

[2020-03-27 21:18] srikartati commented on #152
Hi Antonin,
If no one is working on this, I would like to pick this up. Thanks.

[2020-03-27 21:21] antoninbas commented on #152
@srikartati feel free to pick it up. We haven't had any user asking for this feature yet, as you either want to run Antrea using the Kernel datapath (most common case by far) or the userspace datapath (as of now, the only use case for this is Kind clusters), but switching datapath types for the same cluster is unlikely.

I'm assigning the issue to you anyway.

[2020-03-28 20:06] theshubhamp commented on #364
@antoninbas created a PR here https://github.com/vmware-tanzu/antrea/pull/561, I ended up using https://transfer.sh to upload the report temporarily (14 days)

[2020-03-29 17:45] srikartati commented on #152
Created a PR for this: https://github.com/vmware-tanzu/antrea/pull/563
I am updating ovs datapath type if bridge exists like protocols without checking if its changed from previous datapath type or not.

A tangential question about netdev datapath type: I guess this might be used in ovs-dpdk datapath. Will this have more use cases when ovs-dpdk supported other than kind cluster?

[2020-03-30 06:04] tnqn opened #565 "`antctl get networkpolicy` should have consistent namespace and name fields"
**Describe the bug**
In controller mode, `antctl get networkpolicy -o table` will return name but not namespace
[code]
which is confusing.

In agent mode, it will return uuid as name, which makes it not straightforward to associate the result with the policy got from antrea-controller and the one in K8s API.
[code]

**To Reproduce**
Via the above commands.

**Expected**
Controller and agent mode s

[2020-03-30 06:04] tnqn commented on #565
@ZhangYW18 could you help fix this?

[2020-03-30 06:49] wenyingd commented on #326
Yes, originally ofnet didn't provide much customized actions/instructions to the caller. I add a set of new APIs to let the caller(Antrea) decide what instruction/actions are needed in the FlowMod message. To be compatible with current implementations in Antrea, I add the new APIs but not modify on the existing functions directly.

To apply the new APIs, some necessary refactoring work in Antrea i

[2020-03-30 17:00] yktsubo commented on #326
Hi Wenying,

Thank you for your response and support.
I confirmed how to write write_actions and goto_table using new API by your test code.
Since we might need refactoring In Antrea, while waiting for that, I'm gonna work on actset_output implementation and try to test first.

[2020-03-30 20:44] antoninbas commented on #152
Yes, we may use the netdev datapath type more extensively if we want to support DPDK. However, for baremetals cluster with high networking performance requirements, I'd rather investigate OVS hardware offload (when the NIC supports it) first.

[2020-03-31 00:53] antoninbas commented on #544
After investigation, I believe that this happens because there is no delay between tests, and Antrea has no time to cleanup policies from previous tests. As an illustration, let's look at a failed run (https://github.com/vmware-tanzu/antrea/runs/546293990?check_suite_focus=true).

This is the test which fails:
[code]
[code]
If we look at the previously run test, we see:
[code]
[code]

Which shows

[2020-03-31 03:23] weiqiangt opened #570 "Use cross-compile in `make bin`"
**Describe what you are trying to solve**
Currently, the `make bin` could only be used on Linux, other platforms need to use `make docker-bin`. But the `docker-bin` is slow and even halt sometimes on macOS.

**Describe the solution you have in mind**
Use the built-in cross-compile feature of gc to make `bin` workable on all platforms.
**Test plan**
The checksum should be equal as the old way.

[2020-03-31 06:54] wenyingd opened #571 "OpenFlow feature enhancements"
**Describe the problem/challenge you have**
Antrea is using OpenFlow 1.3 to support traffic forwarding. libOpenflow/ofnet is mainly focus on OpenFlow1.3 standard protocol, and only parts of OVS extensions are added.

**Describe the solution you'd like**
Use this issue to track new OpenFlow extension requirements, which are needed in new Antrea features.

**Anything else you would like to add?**
Th

[2020-03-31 10:37] tnqn opened #574 "Deny-all egress policy is not enforced correctly"
**Describe the bug**
@reachjainrahul reported that the deny-all egress policy failed to isolate Pods as expected.
[code]
Creating a Pod under `development` namespace, the Pod can still access outside.

This should a regression in 0.4.0, 0.4.1, 0.5.0 introduced when support named port. For egress policy, if there are no "ToAddresses" and "IPBlocks", there were no PolicyRules created, which caused t

[2020-03-31 10:39] tnqn commented on #574
@jianjuns @antoninbas should we consider a patch release 0.5.1 to fix it?

[2020-03-31 11:52] ZhangYW18 commented on #565
Hi, I can help and take this issue.

[2020-03-31 13:43] theshubhamp commented on #437
Do we want to upgrade to the latest version (1.14) across the project or just for tests for now (excluding antctl etc.) ?

[2020-03-31 13:49] #541 closed

[2020-03-31 17:09] jianjuns commented on #574
Yes, I think we need 0.5.1.

[2020-03-31 17:55] #544 closed

[2020-03-31 17:56] antoninbas commented on #545
Now that I have fixed the netpol tests flakiness (hopefully) I will look into this next.

[2020-03-31 17:58] antoninbas commented on #574
Yes, I can create the release on Wed 04/01

[2020-03-31 18:25] antoninbas commented on #437
Across the project

[2020-03-31 18:44] jianjuns commented on #571
Thanks @wenyingd for tracking these. Added four more items.

[2020-04-01 01:33] #570 closed

[2020-04-01 02:11] #574 closed

[2020-04-01 03:58] ZhangYW18 commented on #565
Should I sort the rows according to "namespace" column or "name" column?

[2020-04-01 04:01] tnqn commented on #565
It would be perfect to sort Namespace first, then name.

[2020-04-01 12:57] wenyingd commented on #545
Hit the same issue in "Kind / E2e tests on a Kind cluster on Linux". Failure link is https://github.com/vmware-tanzu/antrea/runs/551863149

[2020-04-01 19:54] #152 closed

[2020-04-01 23:27] antoninbas opened #579 "Antrea controller segfaults when connectivity to apiserver lost temporarily"
**Describe the bug**
While running some tests to troubleshoot #545, I ran into the following segfault.

[code]

**To Reproduce**
Run the e2e test `TestPodConnectivityAfterAntreaRestart` on a Kind cluster in a loop with `go test -v -run=TestPodConnectivityAfterAntreaRestart github.com/vmware-tanzu/antrea/test/e2e -provider=kind`.

**Expected**
`TestPodConnectivityAfterAntreaRestart` breaks the data

[2020-04-02 09:09] ruicao93 opened #584 "CI tests get blocked on rollout failed."
**Describe the bug**
A clear and concise description of what the bug is.
If you believe this bug is a security issue, please don't use this template and follow our [security guidelines](/SECURITY.md)

When there's issue happens during rollout antrea deployment, CI tests are blocked to wait it finish.

**To Reproduce**
Steps to reproduce the behavior.

1. Prepare broken antea codes.
2. Run CI tests

[2020-04-02 18:10] #514 closed

[2020-04-02 22:21] #579 closed

[2020-04-03 01:44] antoninbas opened #591 "Antrea does not run on Photon OS 3"
**Describe the bug**
When creating a single node cluster with kubeadm on a Photon OS VM, Pod Networking does not work. For example, trying to ping the local gw0 from any Pod does not work. When looking at the Antrea agent logs, one can see the following:
[code]
BTW, @wenyingd do you think these log messages can be displayed in a more user-friendly format :) ?

If I dump the flows, I can see that t

[2020-04-03 01:45] antoninbas commented on #591
@jianjuns @abhiraut FYI

[2020-04-03 01:46] antoninbas commented on #591
@wenyingd let me know if you need more information. I know we don't explicitly document that we support Photon OS, but the kernel looks recent to me and so I'm surprised that we see this error. If you want me to try to install something on my Photon OS VM, please let me know. Unfortunately I cannot give you SSH access since the VM is running locally on my laptop...

[2020-04-03 01:48] wenyingd commented on #591
@antoninbas It looks photon doesn't support "ct" feature on the OVS. Could you help check the OVS kernel module version on the testing VM? In my memory, the OVS kernel module version should be higher than 2.6.

[2020-04-03 01:50] tnqn commented on #591
I remember @edwardbadboy found an issue that photos OS didn't compile multiple conntrack zone support by default. It looks like similar.

[2020-04-03 01:52] antoninbas commented on #591
I just saw this: https://github.com/vmware/photon/blob/master/SPECS/linux/linux-esx.spec#L322

Maybe a slightly more recent version of Photon OS will work?

[2020-04-03 01:54] yktsubo opened #593 "Compliance to k8s log format in antrea-agent pod"
**Describe what you are trying to solve**
A description of the current limitation/problem/challenge that you are experiencing.

Antrea-agent pod have different type format of log which are ovs logs.
Considering forward to syslog servers, it's good to have consistent format of logs.

[code]

**Describe the solution you have in mind**
A clear and concise description of what you want to happen.

Use

[2020-04-03 01:56] theshubhamp commented on #437
Created a PR for this: https://github.com/vmware-tanzu/antrea/pull/592

[2020-04-03 01:56] tnqn commented on #591
Yes, I guess so.

[2020-04-03 01:59] edwardbadboy commented on #591
Hi Antonin,

Would you check the following command output?

`grep CONFIG_NF_CONNTRACK_ZONES /boot/config-$(uname -r)`

See if it's `CONFIG_NF_CONNTRACK_ZONES=y`. If not, it's the cause of the failure.

It could be when they compile the kernel, the zone support of conntrack module was not enabled. Previously when I tried Antrea on Photon OS, I recompiled the Photon kernel with that flag set to "y"

[2020-04-03 02:00] edwardbadboy commented on #591
Seems they already made the change. Let's use a more recent Photon OS version then.

[2020-04-03 02:02] antoninbas commented on #591
I ran `tdnf upgrade linux-esx` and it fixed that specific issue. Pod networking is still not working, so I'm looking into it.

[2020-04-03 02:21] antoninbas commented on #591
Alright this was a combination of multiple things, but I managed to make it work:
 * `tdnf upgrade linux-esx` to upragde kernel
 * pick a correct cluster Pod CIDR (whoever reported the issue on Slack was using one that overlapped with the Service CIDR)
 * allow traffic on gw0: `iptables -A INPUT -i gw0 -j ACCEPT`. It seems that Photon OS has a strict firewall by default.

Maybe these things are wo

[2020-04-03 02:30] tnqn commented on #591
Perhaps we could solve the 3rd with antrea-agent if it's common for other CNIs to add such rules for their traffic. Right now we only add rules to FORWARD chain.

[2020-04-03 02:37] antoninbas commented on #571
Added an item for translating errors to human-readable logs.

[2020-04-03 04:38] jianjuns commented on #591
@antoninbas agreed we should document CONFIG_NF_CONNTRACK_ZONES and firewall rules. CONFIG_NF_CONNTRACK_ZONES is a known issue for Photon OS, and last time we pushed a change to enable it for the vSphere build.

[2020-04-03 21:20] abhiraut opened #597 "[NetPol]: Ensure parity with upstream K8s NetworkPolicy e2e tests"
Netpol testing framework is missing quite a few test scenarios. Ensure we are at least on par with upstream NetworkPolicy conformance tests.

- [ ] Ingress policy test cases
- [ ] Egress policy test cases
- [ ] Default deny/allow test cases
- [ ] MultiSelector test cases
- [ ] Stacked NetworkPolicy test cases
- [ ] IPBlock test cases
- [ ] NamedPort test cases

[2020-04-03 21:21] abhiraut commented on #597
/cc @jayunit100 @sedefsavas @mattfenwick

[2020-04-03 21:47] sedefsavas commented on #597
@abhiraut We were keeping track of missing cases in this excel: https://docs.google.com/spreadsheets/d/1-ku-Fq0jOkiH6G51kFnGAYfihwRwykIb5upuvy-jgiA/edit#gid=1287479808

Yellow tests are missing and some tests are combined together. I haven't checked the latest updates on the code though. This may be outdated.

[2020-04-03 22:49] antoninbas commented on #375
@reachjainrahul can we close this? We have tests for the different encapsulation modes in CI, although we only run the Antrea e2e tests (no K8s community tests). I'm assigning the issue to you. If you don't think it should be closed, please add more information in the issue description.

[2020-04-03 22:51] antoninbas commented on #198
Fixed by #569

[2020-04-03 22:51] #198 closed

[2020-04-03 23:31] #545 closed

[2020-04-03 23:52] abhiraut commented on #597
thanks @sedefsavas. The sheet helps.

[2020-04-03 23:53] abhiraut commented on #391
@sedefsavas @jayunit100 i believe this was already incorporated in the design? Close it?

[2020-04-04 00:57] abhiraut commented on #591
maybe check if Input policy is drop and only then apply the rule ?

[2020-04-05 15:27] yktsubo commented on #326
Tested actset_output in my end and raised pull request into libOpenflow.
Prepared code to support actset_output in ofnet but didn't raise PR since the actset_output code is not ready in libOpenflow yet.

Will look at antrea code to use goto_table instead of resubmit.

Thanks.

[2020-04-06 14:58] tnqn commented on #365
Hi @AkashSarda, this issue becomes urgent and we may need to fix it ASAP as applications that are in host network and listen to 443 cannot be deployed, want to confirm if you are working on this and can push a PR soon? Thanks.

[2020-04-06 21:20] AkashSarda commented on #365
Hi. I was just going to start on this bug, but I am a newbie, and I do not expect it to finish it in a matter of hours. Please close it if you have a PR already

[2020-04-06 21:53] abhiraut opened #598 "Support Cluster wide Network Policies in Antrea in hierarchical fashion"
**Describe what you are trying to solve**

At the moment, it is not possible to create security policies which can be applied to a K8s cluster as a whole. No such upstream resource or CRDs exists which can be leveraged for the same. In addition to this, it is not possible to organize security policies either.

**Describe the solution you have in mind**

In order to support cluster wide policies, w

[2020-04-08 06:18] #505 closed

[2020-04-09 07:06] ruicao93 commented on #584
Fixed by: #599

[2020-04-09 07:06] #584 closed

[2020-04-09 14:26] tnqn commented on #593
Thanks @yktsubo. I see it's because ofnet uses logrus. As logrus supports customized formatter, we can possible set a formatter that generates same style log.

[2020-04-09 18:09] antoninbas opened #607 "antrea-octant.yml in release assets use wrong docker image"
**Describe the bug**
The antrea-octant.yml for 0.5.1 uses the `antrea/antrea-ubuntu:v0.5.1` image instead of `antrea/octant-antrea-ubuntu:v0.5.1`. Same goes for release 0.5.0 (ever since assert upload was automated).

This is because the [prepare-assets.sh](https://github.com/vmware-tanzu/antrea/blob/v0.5.1/hack/release/prepare-assets.sh) does not update the `IMG_NAME` env variable before invoking

[2020-04-10 01:41] #607 closed

[2020-04-11 16:09] srikartati commented on #367
Hi, I am looking at this issue. Took help from Abhishek offline, to get the context and background.
This still seems to be happening.

I added policy-1 as:
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: test-network-policy
  namespace: default
spec:
  podSelector:
    matchLabels:
      role: db
  policyTypes:
  - Ingress
  ingress:
  - from:
    - ipBlock:
        cidr: 10

[2020-04-13 04:57] tnqn opened #612 "antctl should return clear error message"
**Describe the bug**
antctl always return "Error: Unknown error" regardless of the type of configuration error:
When antrea-controller was not up
[code]
When using an incorrect token
[code]

**To Reproduce**
Steps above.

**Expected**
It should show clear error at least for above known cases like kubectl
[code]

**Actual behavior**
Always `Error: Unknown error`

**Versions:**
Please provide the fo

[2020-04-13 04:58] tnqn commented on #612
@ZhangYW18 could you take a look?

[2020-04-13 05:59] ZhangYW18 commented on #612
Ok, I can take this issue.

[2020-04-13 10:30] ksamoray opened #613 "Apply authentication to Antrea agent apiserver endpoint"
Antrea agent uses apiserver to interact with antctl. However, unlike the controller, the API endpoint is exposed only locally which limits antctl to local execution.
Additionally, we would like to reuse the listener for Prometheus metrics, which would require external access to the API endpoint's metrics path.

Having authentication in a similar way to the controller's implementation could help he

[2020-04-13 15:15] tnqn commented on #613
I think this is a reasonable change as we may need to have other APIs for antrea-agent to support features like support bundle, and metrics API will expose a port to external anyway with or without reusing apiserver, so better to reuse what apiserver already has (the api path "/metrics" and its handler) @jianjuns @antoninbas @salv-orlando

[2020-04-13 15:38] yktsubo commented on #593
Thank you for looking at this.
Do we use klog instead of logrus? I guess it's better if we can use the same log module on both.

[2020-04-13 16:19] #565 closed

[2020-04-13 18:05] antoninbas commented on #613
Agreed. I discussed it last week with @srikartati and we should re-use the "/metrics" path in the apiserver for the Antrea Prometheus metrics, using the K8s wrappers around Prometheus objects (e.g. K8s Gauge which wraps the Prometheus Gauge).

[2020-04-13 18:11] abhiraut opened #615 "Support Namespaced Antrea NetworkPolicy CRD"
**Describe what you are trying to solve**
Existing K8s NetworkPolicy API do not support a way to select external entities and other resources like Nodes, Services etc, in its spec and support other features like logging of Rules.

**Describe the solution you have in mind**
Introduce a Namespace scoped Antrea NetworkPolicy CRD to support additional features unsupported by K8s NetworkPolicy APIs.

*

[2020-04-13 21:28] jianjuns commented on #613
Another comment - I still hope we are able to bind to both Node IP with auth, and a local endpoint (ideally UDS) without auth for local debugging when losing connection to K8s API.
If we can support the same Controller API it is ideal.

[2020-04-14 00:01] srikartati commented on #367
I think I found a more concrete root cause. Both policies (policy-1 and policy-2) are adding conjunctive flows with same priority. Subnets 10.10.0.0/16 and 10.10.2.0/24 are overlapping. In OVS ofctl documentation (https://www.openvswitch.org/support/dist-docs-2.5/ovs-ofctl.8.txt), there is a note about overlapping conjunctive flows:
"Conjunctive  flows  must  not  overlap  with  each other, at a g

[2020-04-14 00:36] antoninbas commented on #367
Do we need to worry about this even when the action for the 2 conjunctions is the same?
For example, the following policies:
[code]
give me these flows:
[code]

These conjunctive flows are clearly overlapping, but maybe it is not an issue because the action is the same, so there is no unpredictability?

If the above is not an issue, solution 2 sounds good to me. Could you make sure it covers a cas

[2020-04-14 00:37] antoninbas commented on #367
Adding @wenyingd as she wrote the agent logic that installs the conjunctive flows.

[2020-04-14 01:07] wenyingd commented on #367
I don't think we can simply change the priority of the conjunctive match flows. I guess your point is to make a higher prioirty for the conjunctive match flow. As the conjunctive match flows are shared by different network policy rules(e.g., two Network Policy egress Rule are binding to the same group). If we lower the priority of the conjunctive match flow which is used in an "EXCEPT" rule, it mi

[2020-04-14 02:59] abhiraut commented on #367
I believe this approach won't work when you have both policies with except rules in it and overlapping CIDRs.
I discussed this bug with @tnqn in the past and the only practical solution to it was to split up the Allowed CIDRs in to set of allowed CIDRs by removing the except slices.

[2020-04-14 05:31] #365 closed

[2020-04-14 16:39] tnqn commented on #593
We use klog in antrea to align with K8s as we import most of its libraries, but another library ofnet is using logrus, which is out of our control, so may have to set logrus's format to achieve same style.

[2020-04-14 22:03] srikartati commented on #367
Yes, both flows with conjunctive match have the same action and no extra match fields, whereas, with "except" the actions and the match fields can differ. and that causes the problem.

Thanks for the thoughts, Anton and Abhishek. Yes, this is a great example, where both overlapping policies have except blocks and prioritizing the associated flows will become tricky. Thought of having a mechanism w

[2020-04-14 22:29] srikartati commented on #367
Thanks for the comments.
Not sure if we were completely on same page about my original proposal. The above situation will not arise because all the individual flows with conjunct actions for a given conjunct flow/conjunct ID (2) will always have the same priority.
In any case, as priority change will not work. Please give your feedback on having diff CIDR slices and eliminating except blocks and c

[2020-04-15 08:49] tnqn opened #616 "API aggregation should be configurable and secured"
**Describe the bug**
There are some setup requirements for getting API aggregation working properly and securely, e.g. [extra flags on kube-apiserver](https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/#enable-kubernetes-apiserver-flags) and [proxy CA, client cert, client key](https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/#kubern

[2020-04-15 16:33] yktsubo commented on #593
@tnqn
Thank you for your comment. I understood.

I just tested with the following code by putting into antrea-agent/main.go.
[code]

It seems working.

[code]

But I have 2 questions.

1. Is antrea-agent/main.go the right place to put the code?
2. I didn't find a way to get thread ID. I put 1 as thread ID for now.

BTW format of klog is as follows
[code]

[2020-04-16 06:36] ZhangYW18 commented on #612
This problem can be solved easily under controller mode, as the HTTP response result contains the error message. But under agent mode, we can only get the error message processed by k8s, which ignores the error message written in handlers.

One solution is to unify the error message under two modes by self-defining a 4-digit error code list for each command and specifying the message according to

[2020-04-16 06:50] tnqn commented on #612
What do you mean by "we can only get the error message processed by k8s, which ignores the error message written in handlers"?
I think you can write the error message to body like apiserver does and read it from client side, is it doable? I think introducing custom error codes is not necessary given K8s has clear error struct.

[2020-04-16 06:51] mengdie-song opened #619 "Monitoring CRD update logs are continuoustly printed when error occurs."
**Describe the bug**
"Failed to partially update agent monitoring CRD" is continuously printed when update error occurs.
It is because we use the uninitialized CRD returned by previous failed request.

**Versions:**
 - Antrea version (Docker image tag). release 0.5

[2020-04-16 07:20] tnqn commented on #619
I think the change is by intent as we shouldn't stop updating when meeting an error, otherwise the routine stops whenever there's a temp network issue or server side issue. But the change didn't handle the following update case well. We should continue updating CRD once it recovers.
The previous release may have other issues that CRD won't be updated after meeting any issue, right?

[2020-04-16 07:32] mengdie-song commented on #619
@tnqn I thought it was removed by accident. You are right that we can continue updating once it recovers. Will update this part.

[2020-04-16 08:15] ZhangYW18 commented on #612
In "k8s.io/apimachinery/pkg/api/errors/errors.go", the generic API server replaces our error message with its own error message.

In errors.go line 402:
[code]

[2020-04-16 08:46] tnqn commented on #612
Did you mean we cannot send out error message body out? I think it's not true, I did a test and can get the error message as I wrote:
[code]
[code]

[2020-04-16 14:37] tnqn commented on #593
@yktsubo Thanks for working on it.

I suggest to put it in pkg/ovs/openflow/logs.go, in which package uses ofnet, so that programs that use the package will have their log style unified automatically. We can move it to a common package when there's another package having the issue.

Maybe refer to https://github.com/kubernetes/klog/blob/master/klog.go#L607, which uses `os.Getpid()`, though it's no

[2020-04-17 02:45] yktsubo commented on #593
Thank you for your comment. I'll work on this issue based on your advice.

[2020-04-17 14:24] tnqn opened #625 "Some antrea-agent pods stuck in termination state for around 15 minutes"
Thanks @alex-vmw for reporting and helping troubleshoot this issue. Quoting  @alex-vmw's report and revised a few details.

**Describe the bug**
When rolling update antrea-agent daemonset, it happened several times (almost every time on one cluster) that some antrea-agent pods stuck in termination state for around 15 minutes, then it recovered automatically. Some observation and analysis as below:

[2020-04-17 21:50] antoninbas opened #626 "Routes and IP configuration of gw0 removed when networkd restarts on a Node"
**Describe the bug**
Thanks to @alex-vmw for reporting this issue.

When networkd crashes (or when it is restarted manually) which is something we observed on a live cluster, it seems that networkd assumes that it is managing gw0 and it therefore deletes the IP configuration for gw0, along with all the routes associated with gw0. The only solution for this at the moment is to restart the antrea-ag

[2020-04-18 00:04] antoninbas opened #627 "Periodically verify that all required routes are present in the Node"
**Describe what you are trying to solve**
At the moment if a route is deleted manually or by some other process like networkd, the route is never installed again until the agent on that Node restarts. See https://github.com/vmware-tanzu/antrea/issues/626

**Describe the solution you have in mind**
Other CNIs (e.g. flannel - https://github.com/coreos/flannel/blob/v0.12.0/backend/route_network.go#L1

[2020-04-18 00:13] antoninbas opened #628 "Periodically verify that all required iptables rules are present in the Node"
**Describe what you are trying to solve**
This is similar to https://github.com/vmware-tanzu/antrea/issues/627 in spirit, but for iptables rules instead of gw0 routes.

**Describe the solution you have in mind**
We should verify that all iptables rules required by Antrea are present, in case some other process removes them (or a rule is removed manually by mistake). kube-proxy does something simil

[2020-04-18 01:01] antoninbas commented on #626
The original plan was to have the antrea initContainer write this file to `/run/systemd/network/10-antrea.network`:
[code]
However, there are 2 issues with that approach:
 * The host gateway may not be named `gw0`. In theory Antrea users can edit the config to choose a different name. This makes it hard to write the appropriate file in the initContainer.
 * The entire `/run` directory from the hos

[2020-04-18 04:17] jianjuns commented on #626
Yeah, I do not really like to get into network manager business. But I still think we should check and sync routes periodically. I think most other solutions do so.

For your issue #1 I think initContainer can mount the Agent ConfigMap and read the gateway interface there (BTW, I feel better to add an "antrea-" prefix to all interfaces we created like antrea-gw0).

[2020-04-18 17:55] moshe010 opened #630 "support for ovs hardware offload"
**Describe what you are trying to solve**

Currently Antrea networking model supports connectivity to the Pod by creating a veth pair.  The first veth is plugged to the OVS br-int and the second veth is passed to the container namespace. As mentioned above, OVS Offload feature relies on SR-IOV. In this networking model the VF representor is connected to the OVS br-int and the SR-IOV VF is moved to

[2020-04-18 18:02] moshe010 commented on #630
simple POC code https://github.com/moshe010/antrea/commit/4d527d8169eabbe8deffee642334dc9b2daaf658

[2020-04-19 17:32] jianjuns commented on #630
Thanks for making the proposal @moshe010. It would be great to enable OVS offload for Antrea!
Will review the google doc and probably have more discussion there. @antoninbas @tnqn @salv-orlando

[2020-04-20 03:22] gran-vmv opened #631 "Support Traceflow"
**Describe what you are trying to solve**
Currently, traceflow is used in network diagnostic, but Antrea does not support this feature to identify which logical modules a packet will pass through.

**Describe the solution you have in mind**
Define a Traceflow CRD for managing traceflow request and result (observations).
Implement Traceflow Controller in Antrea Controller/Agent to handle Traceflow

[2020-04-20 10:05] tnqn opened #632 "antrea-agent sometimes failed to start due to iptables-restore error"
**Describe the bug**
It's found in @alex-vmw's K8s cluster that a few antrea-agents appeared as `error` once when rolling update.
The log was as below
`F0418 01:42:51.650004       1 main.go:57] Error running agent: error initializing agent: failed to initialize iptables: error executing iptables-restore: /sbin/iptables-restore --noflush`

It's likely because iptables-restore conflicted with other

[2020-04-20 12:44] tnqn opened #635 "All Kind tests in CI failed consitently"
**Describe the bug**
All kind tests failed because of same error: `docker image antrea/antrea-ubuntu:latest failed to load`.

[code]

[2020-04-20 21:48] antoninbas commented on #635
Is this an issue you are observing locally as well, or is it specific to CI?

I see that all the CI tests are indeed failing with a "No space left on device" error which occurs when the antrea docker image is loaded into the workers. I wonder if something has changed with the worker VMs used by Github. Maybe they reduced available disk size? I will look into it...

[2020-04-20 22:35] antoninbas commented on #635
This is a known issue and many users have reported the same problem in the last couple of days: https://github.com/actions/virtual-environments/issues/709. The Github engineering team is working on it and as of a couple hours ago, they started a rollback to the old Ubuntu images: https://github.com/actions/virtual-environments/issues/709#issuecomment-616801148. It seems that on my fork things are

[2020-04-20 23:46] williamtu commented on #630
Hi @moshe010,
The doc mentioned "Mellanox ConnectX-4 Lx onwards NIC hardware", does this card support connection track and tunnel offload?
I'm reading slide12, and I thought we have to use ConnectX 6DX.
https://www.openvswitch.org/support/ovscon2019/day2/0951-hw_offload_ovs_con_19-Oz-Mellanox.pdf

[2020-04-21 00:58] #635 closed

[2020-04-21 06:45] moshe010 commented on #630
Mellanox ConnectX-4 Lx is the first one that support hardware offload but it can support only vxlan offload. The ConnectX-5 an above we support connection track and tunnel offload. Also note that currently the code and design is talking only on ovs kernel and not ovs-dpdk. Regarding the ConnectX-6DX is also support virtio hardware offload (vDPA) (which is more applicable from VM).

[2020-04-21 07:18] #613 closed

[2020-04-21 07:25] #612 closed

[2020-04-21 09:22] tnqn commented on #631
The CRD fields should all be camel case to follow K8s API convention: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#naming-conventions
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/

[2020-04-21 13:52] yktsubo commented on #593
Fixed by: #629

[2020-04-21 13:52] #593 closed

[2020-04-22 08:30] gran-vmv commented on #631
Thank Quan. The CRD fields were changed to camel case.
Added Google Docs link for easy commenting.

[2020-04-22 13:43] yktsubo opened #646 "Better user experience in dump ovsflows by antctl"
**Describe what you are trying to solve**
There are some points we might improve `antctl get ovsflows`
- `antctl get ovsflows` don't dump flows  in the order of process of packets.
- if dumping flows without stats is supported, better to read flows when hitting an issue.

**Describe the solution you have in mind**
- Sort flows first by table and then by priority.
- Add option to dump flows without

[2020-04-22 15:26] tnqn commented on #625
It seems the issue was because ovs conntrack state mismatched unexpectedly.

I'm able to reproduce the connection issue between metrics-server and kube-apiserver. The steps are:
1. Deploy metrics-server: `kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.3.6/components.yaml`, better to schedule it to a Worker Node to exclude some other factors.
2. Check its co

[2020-04-22 17:00] antoninbas commented on #625
Great finding @tnqn

Do you known why? Is this an issue with OVS? Why does it depend on whether some packets are forwarded using the default Normal flow after OVS comes back up?

[2020-04-23 02:44] tnqn commented on #625
@antoninbas I don't know why yet, I'm asking OVS experts whether this is an issue or misconfiguration. Do you think we could use `flow-restore-wait` to block the forwarding until antrea-agent installs necessary flows? It may cause packets dropped for a few seconds even for established connections.

[2020-04-23 02:46] antoninbas commented on #625
@tnqn Do you think we can clear the flag after adding the "connectivity" flows (that should be very fast) and without waiting for NP flows? If yes, then let's make the change.

[2020-04-23 02:57] tnqn commented on #625
@antoninbas Yes, I think so, currently we don't wait for NP flows to be installed before enabling forwarding anyway.

[2020-04-23 16:23] tnqn opened #647 "Antrea containers should have cpu/memory requests defined by default"
Thanks @alex-vmw again for reporting this issue!

**Describe the bug**
Without `requests`, antrea pods got assigned `BestEffort` QoS, in which class pods will be killed first once OS is out of memory. But antrea pods is critical to the cluster, so it would affect pod networking for a while once they were killed.
Now I also suspect that the issue https://github.com/vmware-tanzu/antrea/issues/431 wa

[2020-04-23 16:28] tnqn commented on #647
@antoninbas I'm assigning this to you since you already worked on it.

[2020-04-23 16:43] tnqn opened #648 "antrea-agent pod stuck in CrashLoopBackoff/OOMKill on a node under memory pressure"
Thanks @alex-vmw for reporting this.

**Describe the bug**
It was found that on a worker node that was under resource pressure the antrea-agent Pod stuck in CrashLoopBackoff/OOMKill and while antrea-ovs container was erroring out in a loop (ovsdb-server: /var/run/openvswitch/ovsdb-server.pid: pidfile check failed (No such process), aborting)
[code]
It was in this state until the Pod was deleted an

[2020-04-24 06:03] #591 closed

[2020-04-24 06:03] #626 closed

[2020-04-24 18:41] jianjuns commented on #625
But what flows are needed to avoid the conntrack state mismatch? Any flow, except the default flow?

[2020-04-24 20:08] jianjuns opened #651 "Antrea OVS flows dumping and correlation"
**Describe what you are trying to solve**
Dump Antrea OVS flows through antctl and Agent API

**Describe the solution you have in mind**
Agent will expose API under /ovsflows to support retrieving all OVS flows in the OVS bridge, or flows installed for a given entity (like a local Pod, or a NetworkPolicy), or flows in a given table.

Ideally we would translate a flow to a readable format, and corr

[2020-04-24 20:15] jianjuns opened #652 "Support packet tracing in the local OVS bridge"
**Describe what you are trying to solve**
Trace packets in local bridge with antctl

**Describe the solution you have in mind**
We are able to enable packet tracing that can trace all OVS flows a given packet will traverse in the bridge. Note, this feature is for tracing in the local bridge only, but not cross-node tracing.

User should be able to specify:
- the source, which can be a local Pod, o

[2020-04-24 20:26] jianjuns commented on #646
Thanks @yktsubo for raising the suggestions.

Now flows are ordered by tables already in the Agent API response. But just that the antctl table output format does not respect the order.
@lzhecheng @weiqiangt : any idea how to fix this?
I am also working on an PR to dump flows of a specific table: #649

Any specific reason you want to remove stats? Maybe we can consider a short format to remove sta

[2020-04-24 21:27] antoninbas commented on #357
Closing this issue. I think it was fixed in https://github.com/vmware-tanzu/antrea/pull/377

[2020-04-24 21:27] #357 closed

[2020-04-25 15:27] yktsubo commented on #646
Thank you for your comments.

Since ovs-ofctl supports --no-stats option, I proposed flows without stats.
But the idea is that it's good if we can have a short format of flows as you think.
So I think it's better if we can print flows without stats, cookie and duration

[2020-04-25 22:43] jianjuns commented on #646
Ok. I feel n_packets sometimes are useful to check the packets hit the flow or not. So, I could work on a change to remove other fields we talked, but keep n_packets.

[2020-04-27 06:13] mengdie-song commented on #619
The fix has been checked in.

[2020-04-27 06:13] #619 closed

[2020-04-27 13:59] tnqn commented on #625
Thanks Yi-Hung Wei from OVS community for finding the root cause, quoting his explanation:

@jianjuns according to the explanation above, it's not only the default flow, we must send all packets to conntrack to keep the connection's state tracked correctly.

I think using "flow-restore-wait" can fix it, and we should start forwarding at least after restoring the pipeline, but it's also good to wai

[2020-04-27 17:18] jianjuns commented on #625
Sounds a good approach (though ideally we should apply all flows in a single bundle after restart).

[2020-04-27 21:31] antoninbas commented on #630
@moshe010 A couple of us reviewed the doc and we think it looks good. Would you be open to come present at the next Antrea community meeting, so we can ask a few questions and discuss next steps? The next meeting will be Monday May 4th at 9PM PST.

[2020-04-27 21:39] antoninbas commented on #625
Actually I was thinking about this more over the weekend. Should it be considered a security issue that we restore connectivity before we re-install NP flows? Maybe we should switch to a single bundle ASAP as Jianjun suggested.

[2020-04-27 22:56] moshe010 commented on #630
@antoninba Yes sure.  I see in the Readme it saids Tuesday at 4AM GMT.  So in Israel time (GMT+3) its Tuesday at 7AM. Just want to make sure I don't miss it :).

[2020-04-27 23:33] antoninbas commented on #630
@moshe010 yes that's correct

great if you can make it, hope it's not too early for you :/

[2020-04-28 03:10] tnqn commented on #625
@jianjuns @antoninbas I agree that ideally we should enable ovs-vswitchd forwarding after installing all flows including Pod, Route, NP flows, especially now established connections can continue work and new connections won't be mishandled in default fashion with flow-restore-wait set.
However, in current code we don't have a clear boundary that we have installed Route and NP flows. We need a way

[2020-04-28 03:15] tnqn commented on #625
BTW, now I am dealing an issue in #658 that kind cluster doesn't work with `flow-restore-wait`, I think it might be because the node's physical network requires OVS forwarding but antrea-agent requires physical network to fetch node and pod information before enabling forwarding, do you have any idea how I could make Kind work? @antoninbas
If no solution, I might have to set up flows that has no n

[2020-04-28 03:48] antoninbas commented on #625
@tnqn the easiest thing to do for now may be to avoid using `flow-restore-wait` altogether for Kind clusters, i.e. if the datapath type is `netdev`

[2020-04-28 04:54] jianjuns commented on #625
Agreed we should fix the traffic drop issue first.

[2020-04-28 17:23] antoninbas opened #661 "TestAddNetworkPolicyWithMultipleRules unit test is flaky?"
**Describe the bug**
This is the first time I observe this test failing, but here is the error log I got for my CPU resource requests PR (https://github.com/vmware-tanzu/antrea/pull/659), which should not impact any unit test whatsoever:
[code]

I don't know how often this occur. May be worth running the test 1000 times in a row with `-count` to check :)

**Versions:**
Antrea version: top-of-tree

[2020-04-28 18:52] ksamoray opened #662 "Use K8S Prometheus stability wrapper"
Kubernetes offers a wrapper for Prometheus metrics API, which allows tagging of a metric's stability state (e.g stable/alpha/deprecated) and pulling only stable metrics by the Prometheus server.
This wrapper could replace direct calls to Prometheus client, and offer this extra functionality.

Users could choose and evaluate the level of reliability of a metric according to their needs and asses th

[2020-04-28 21:08] antoninbas commented on #181
Pushing this out to next release

[2020-04-28 21:09] antoninbas commented on #375
Removing this from v0.6.0 milestone. Let's not tag this for a new release until we have the requested information.

[2020-04-29 00:38] #236 closed

[2020-04-29 17:43] #647 closed

[2020-04-29 17:58] antoninbas commented on #231
@tnqn is this still a valid issue?

[2020-04-29 19:10] antoninbas opened #666 "Stale NetworkPolicy flows should be delete from agent after controller reconnection"
**Describe the bug**
I saw some TODOs in the code (https://github.com/vmware-tanzu/antrea/blob/v0.5.1/pkg/agent/controller/networkpolicy/networkpolicy_controller.go#L319) and confirmed that if a K8s NetworkPolicy is deleted while the Antrea Controller is down, the corresponding flows will never be deleted from OVS.

**To Reproduce**
1. Create K8s NetworkPolicy and appropriate Pods
2. Confirm that

[2020-04-29 19:14] #625 closed

[2020-04-29 22:19] antoninbas commented on #485
Closing this. The issue has not been observed in a while.

[2020-04-29 22:19] #485 closed

[2020-04-29 22:46] jianjuns opened #667 "Egress Policy"
**Describe what you are trying to solve**
Egress and SNAT policies implementation of Antrea - being able to control egress Nodes and SNAT IPs of Pod egress traffic (from Pods to external network).

**Describe the solution you have in mind**
Just put some high level ideas here.

### Egress policy definition
***EgressPolicy CRD***
We might introduce an EgressPolicy CRD that:
- selects Pods, Namespac

[2020-04-29 23:50] #646 closed

[2020-04-29 23:55] yktsubo commented on #646
Jianjun
Thank you for considering my proposal.

[2020-04-30 02:14] jianjuns commented on #227
Sub-issues:
- [ ] OVS flow dumping (#651)
- [ ] OVS packet tracing (#652)
- [ ] Packet tracing across Nodes (#631)

[2020-04-30 02:17] jianjuns commented on #646
@yktsubo your feedback is definitely welcome!
The antctl table format output is still not ideal. It prints empty lines when the flow strings are long. Will continue to improve it.

[2020-04-30 06:00] antoninbas commented on #661
I can confirm that currently this test fails fairly frequently in CI

[2020-04-30 06:15] srikartati commented on #661
I observed this on my PR (#639) too. Tested on my local branch and it went through fine.

[2020-04-30 06:27] tnqn commented on #661
It failed on the line introduced recently by 14092922f06a26138783649b21727fbd8a0dfe84, should be because the return value of `controller.GetNetworkPolicy` is not deterministic.
I can take care of it.

[2020-05-05 02:49] antoninbas opened #678 "[EKS] Return path for NodePort traffic is broken for EKS clusters running Antrea"
**Describe the bug**
@Dyanngg reported to me that the Jenkins CI job for Antrea on EKS (policy only mode) was sometimes failing because of the following conformances tests:
[code]
We investigated the issue and were able to track it down.

**To Reproduce**
Create an EKS cluster with 2 nodes using `t3.medium` instances. Apply the following yaml manifest:
[code]

SSH into one of the Nodes and curl th

[2020-05-05 02:50] antoninbas commented on #678
@McCodeman FYI

[2020-05-05 03:42] antoninbas commented on #678
Thinking about this a bit more, it probably makes sense to add the new iptables rule without deleting the one installed by the AWS CNI, just in case they monitor & reconcile rules periodically like kube-proxy does (or if they don't do it now, in case they start doing it in the future).

[2020-05-05 20:20] poozza opened #680 "Support for Openshift"
**Describe the problem/challenge you have**
I would like to use Antrea with Openshift 4.3

**Describe the solution you'd like**
I would like to see a certified Antrea Operator for use with Openshift 4.3

**Anything else you would like to add?**
Antrea should work as a CNI with Openshift running on vSphere and in AWS.

[2020-05-06 12:33] tnqn commented on #666
@antoninbas thanks for filing this, I left the TODO and had an approach to fix it, will take care of it in 0.7.0.

[2020-05-06 13:07] tnqn opened #684 "Handle deprecation of apiextensions.k8s.io/v1beta1 in K8s 1.19"
**Describe the bug**
`apiextensions.k8s.io/v1beta1` will be deprecated in favor of apiextensions.k8s.io/v1 in K8s 1.19: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md#deprecation.
Its removal of beta level will be in 1.22.

`apiextensions.k8s.io/v1` API is available in v1.16.

I'm not proposing simply switching to v1 in latest deployment yaml as it won't work for

[2020-05-06 13:57] tnqn opened #685 "Use Octant UI to create Traceflow request and view the graphical result"
**Describe what you are trying to solve**
This is an addition to #631, via which we can diagnose network issue by creating Traceflow CRD and watching the result from its status.
As Antrea already has a Octant plugin to view its cluster information, we can also have a plugin to create the Traceflow CRD in a more user-friendly way and view the graphical result.

**Describe the solution you have in m

[2020-05-06 14:01] tnqn commented on #685
@jianjuns @antoninbas @salv-orlando Please see if the proposal makes sense to you. I believe the form and the diagram can be better, they were just experimental work.
If the proposal makes sense, @mengdie-song and @ZhangYW18 will work on this as they worked on the PoC.

[2020-05-06 17:43] jianjuns commented on #685
Yes, UI looks good to me. But I would still prioritize backend (CRD driven) work first. You know we might not have Octant in most deployments.

[2020-05-07 00:34] antoninbas commented on #631
@gran-vmv there are some open questions in the design doc, could you take a look?

[2020-05-07 03:15] wenyingd commented on #571
For task "OF table eviction", it is an extension proposed in OpenFlow1.3, but OVS is not supporting table evction until OF 1.4. As libOpenflow only supports OF version 1.3, I would like to hear more voices about if it is a must for Antrea. If yes, I would try to communicate with the maintainer of libOpenflow to know if OF 1.4 could be supported in libOpenflow first.

[2020-05-07 03:19] #661 closed

[2020-05-07 03:48] antoninbas opened #690 "Antrea EKS conformance tests should skip tests that require external service access"
**Describe the bug**
[test-conformance-eks.sh](https://github.com/vmware-tanzu/antrea/blob/master/ci/test-conformance-eks.sh) should skip the following k8s conformance tests:
 * [sig-network] Services should be able to change the type from ExternalName to NodePort
 * [sig-network] Services should be able to create a functioning NodePort service

These tests are expected to fail IMO because (among

[2020-05-07 04:26] antoninbas commented on #678
Note that after the fix, the conformance tests are still failing, because they also check that a NodePort service can be accessed using the Node's externalIP. The failure is expected. See #690

[2020-05-07 04:31] jianjuns commented on #571
I think table name is nice to have. Maybe we could check with libOpenflow maintainer on the plan to support OF 1.4?

[2020-05-07 16:06] tnqn opened #692 "Antrea communication security enhancement"
**Describe what you are trying to solve**
antrea-controller now generates a self-signed certificate to serve requests, and its clients kube-apiserver and antrea-agent cannot get the CA that signed the cert so disable verifying server's certificate. This leaves antrea subject to MITM attacks if the underlying network is insecure.
We had #366 and #616 to track related issues, this proposal is to dis

[2020-05-07 16:12] tnqn commented on #692
@jianjuns @antoninbas @salv-orlando @vicky-liu Please review the proposal.

[2020-05-07 17:35] jianjuns commented on #692
LGTM. I still like to simply mount the Secret, but I know it might not work for the controller generated cert.

Question:

Why we need a separate CA cert here? Controller could just publish the self signed cert as the CA cert for Agent right?

[2020-05-07 18:04] antoninbas commented on #692
@tnqn thanks for the detailed proposal

Do you think any user may express concerns about `antrea-controller-tls` using the `Opaque` secret type instead of `kubernetes.io/tls`? Concretely is there any difference from a security perspective?

Maybe you can clarify the following:

I would think that we could omit the secret altogether (instead of not setting the data fields) to use the current insecu

[2020-05-07 22:24] #367 closed

[2020-05-08 07:37] edwardbadboy opened #697 "Antrea Agent Crashed with iptables 1.8.X"
**Describe the bug**

Antrea agent assumes iptables version is < 1.6.2, and iptables-restore doesn't support `--wait`. So Antrea agent locks on "/var/run/xtables.lock" before running iptables-restore.

In the latest Debian 10 release, the iptables version is 1.8.3. The iptables-restore command supports the `--wait` option, and it acquires the xtables lock automatically. If Antrea acquires the lock

[2020-05-08 07:58] edwardbadboy commented on #697
If we switch to the latest Debian image, we need to only support a signle iptables version. I see that kube-proxy is using the latest Debian but with lower iptables version. This is an option, too.

[2020-05-08 17:36] tnqn commented on #692
In this proposal, CA is mounted to antrea-agent, TLS cert is mounted to antrea-controller, but we have to grant update permission of CA to antrea-controller, so it doesn't make difference between adding a get/watch permission to antrea-controller or mounting it. But I guess an API based watcher is simpler to implement and quicker to update APIServices, as mounted secret needs up to 1 minute to get

[2020-05-08 20:01] #678 closed

[2020-05-08 21:56] antoninbas commented on #215
I am planning to write something next week and submit a PR.

[2020-05-11 02:22] tnqn opened #701 "Jenkins e2e failed quite often"
**Describe the bug**
Jenkins e2e failed quite often regardless of which PR is tested: https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/
[code]

**To Reproduce**
Comment `/test-e2e` to any PR.

**Expected**

- [ ] e2e env should be stable
- [ ] alarm when tests fail with unreasonable high probability

[2020-05-11 06:21] wenyingd opened #702 "Random failure in unit test: TestAddNetworkPolicyWithMultipleRules"
**Describe the bug**
The following failure in the unit test happened occationally. If I re-run the test, it might succeed next time:

[code]
**To Reproduce**
Run the unit test.

**Expected**
The case should succeed.

**Actual behavior**
The case failed occationally.

**Versions:**
Please provide the following information:
 - Antrea version (Docker image tag): v0.7.0-dev

[2020-05-11 06:24] tnqn commented on #702
@wenyingd have you rebased on master? this may be duplicated with #661 which has been fixed by #686

[2020-05-11 06:28] wenyingd commented on #702
Last time I rebased windows branch is on May 6th, looks the fix was not merged yet at time. I will try to rebase on lastest code.

[2020-05-11 06:38] weiqiangt opened #703 "Implement APIs for collecting debug information"
**Describe what you are trying to solve**
We need APIs for collecting cluster information and logs, and these data should be useful for bug triage.

**Describe the solution you have in mind**
Implement related APIs for collecting and downloading on both agent and controller

**Describe how your solution impacts user flows**
Users could use antctl and APIs to collect debug information.

**Describe

[2020-05-11 12:24] #697 closed

[2020-05-11 23:07] #690 closed

[2020-05-12 18:37] #218 closed

[2020-05-13 09:43] mengdie-song opened #708 "Remove unused binaries from image antrea-ubuntu and octant-antrea-ubuntu"
**Describe what you are trying to solve**
/usr/local/bin/antrea-octant-plugin is not used in antrea-ubuntu and can be removed to reduce
image size.

**Describe the solution you have in mind**
'make bin' now compiles all the binaries and we can separate it into two commands.
One is used by image octant-antrea-ubuntu to compile antrea-octant-plugin alone and the other is used by image antrea-ubuntu

[2020-05-13 12:43] yktsubo opened #709 "Support flow stats and mega flow mask stats"
**Describe the problem/challenge you have**
To support flow/connections stats of ovs dataplane as metrics.
That gives cluster admin which node has high load from ovs perspective.

**Describe the solution you'd like**
Expose the following metrics.

[code]
[code]

[code]
[code]

**Anything else you would like to add?**
The explanation of metrics is available in the following link.
http://www.openvsw

[2020-05-13 17:36] antoninbas commented on #708
Maybe we can have a target per binary to keep it clean? `make antrea-agent`, `make antrea-controller`, `make antrea-octant-plugin`, ...

[2020-05-13 20:16] antoninbas opened #711 "Flaky OVS integration test?"
**Describe the bug**
I observed the following error in integration tests run as part of Github CI:
[code]

The backtrace goes on and on... Looks like we get stuck trying so send an OF message until the test time outs.

This is the workflow that failed: https://github.com/vmware-tanzu/antrea/runs/672129853

I suggest we keep monitoring this test and see if it happens again. Please add a comment to

[2020-05-14 04:06] srikartati opened #712 "Flow Exporter in Antrea Agent"
**Describe what you are trying to solve**
Network visibility into the Kubernetes cluster provides benefits such as network management, troubleshooting, compliance of network policies etc. It can help answer the questions such as What are the networking policies employed between two services?, What L4 port has the highest traffic on a node?, What nodes are communicating the most (Tx/Rx bandwidth)?,

[2020-05-14 06:14] srikartati opened #713 "Additional Antrea Agent metrics"
**Describe the problem/challenge you have**
Currently, pod count and OVS flow count metrics are supported in Antrea Agent. It would be nice to have more metrics.

**Describe the solution you'd like**
Following metrics could be interesting:
- [x] Total number of ingress/egress network policy rules installed on the node.
   We could utilize InstallPolicyRuleFlows and UninstallPolicyRuleFlows methods

[2020-05-14 10:07] mengdie-song commented on #708
@antoninbas In this way, do you think we need to add an extra target to compile all the binaries except antrea-octant-plugin?

[2020-05-14 17:18] tnqn commented on #692
@jianjuns @antoninbas I made some changes to the proposal based on some new investigation result and the PoC code in #714. Now we should be able to support user providing secrets themselves, or via cert-manager, or antrea generating self-signed certs.
Please take another look.

[2020-05-14 17:32] antoninbas commented on #708
I don't think so, we can just run `make antrea-agent antrea-controller antrea-cni antctl` in the Dockerfile instead of `make bin`. What do you think?

[2020-05-14 19:27] antoninbas commented on #692
Thanks @tnqn, I did a quick review and left some initial comments in the PR

[2020-05-14 19:36] jianjuns commented on #692
Took a quick look too. LGTM overall. Will do more detailed code review.

[2020-05-15 01:20] mengdie-song commented on #708
@antoninbas Sounds good to me. I will make the change accordingly.

[2020-05-15 09:09] mshindo commented on #712
The design document suggests exporting the flow statistics in the reverse direction using Antrea's own Private Enterprise Number. However, there's a standard defined in RFC5103 for exporting flow stats in the reverse direction as a "bi-directional" flow. Can this information element be used for exporting the stats in the reverse direction instead of using the Antrea-specific IE?

[2020-05-15 17:19] srikartati commented on #712
Hi Motonori,
Yes, that can be used. We will plan to add those enterprise ID elements to our registry.
Thanks for the suggestion.

[2020-05-18 01:46] #708 closed

[2020-05-18 12:00] ksamoray opened #718 "Create a service account in monitoring namespace for Prometheus"
Prometheus yaml uses default service account for access to Antrea resources.
Instead it should use a separate service account with the appropriate permissions.

[2020-05-18 13:27] ksamoray opened #719 "Document Antrea Prometheus metrics"
Prometheus integration offers a list of metrics on both controller and agent components.
The metrics should be enlisted in a reference document with a short description for each metric.

[2020-05-18 21:42] srikartati commented on #719
@ksamoray  Understanding of network policy/addressGroups/appliedToGroups related metrics at controller is probably dependent on following documentation that is referred in ovs-pipeline doc:

[2020-05-19 01:59] #666 closed

[2020-05-19 03:23] mshindo commented on #712
I have started to write an IPFIX exporter. I am not an expert Go programmer but do have a decent experience with flow technologies, including implementing NetFlow v5 and v9 exporter in the past. I am willing to contribute to Antrea somehow.

[2020-05-19 03:24] antoninbas commented on #712
@srikartati could you sync-up with @mshindo to see how he can help with this?

[2020-05-19 03:37] antoninbas opened #720 "antctl should support getting kubeconfig path from KUBECONFIG env variable"
Just like kubectl, it would be great if antctl could support getting the kubeconfig path from the `KUBECONFIG` environment variable when running out-of-cluster (in controller mode).

I have confirmed that it is not the case yet when using Antrea v0.6.0.

[2020-05-19 03:59] srikartati commented on #712
@mshindo @antoninbas  Sure. It will be great to get Motonori's help. We have some breakdown items for ipfix library and development items in Antrea. I will reach out to Motonori and see where he is interested to contribute.

[2020-05-19 04:09] antoninbas commented on #719
I have started working on such a document, but i will take a bot of time to do correctly.

[2020-05-19 18:11] antoninbas opened #723 "Antrea should take into account changes to the configmap without requiring agent restart"
**Describe the bug**
When updating the antrea-agent.conf in the Antrea YAML manifest and re-applying the manifest, all changes are ignored. One possible solution is to update the ConfigMap name (or update `build/yamls/base/conf/antrea-agent.conf` and run `generate-manifest.sh` again, which will take care of consistently updating the ConfigMap name); however, this requires an Agent restart.

I beli

[2020-05-19 22:11] #652 closed

[2020-05-20 18:26] michmike commented on #331
this is awesome. i love this work and can't wait to talk about it in Kubernetes SIG-Windows.
a couple of questions.
1. What versions of windows will you support? Windows Server 2019 (1809) and beyond for example
2. Does NSX-T NCP also use the transparent driver?
3. Will heterogensouc clusters be supported? meaning a mix of windows and linux worker nodes in the same cluster. i assumed it is, just w

[2020-05-20 23:09] rangar commented on #667
Have you considered multiple interfaces/networks Nodes can be connected to ? Will I be able to pick which interface/network I can SNAT from ?

[2020-05-21 01:03] jianjuns commented on #667
Yes, mentioned multiple interfaces in the "NodePool CRD" section. But as other ideas described in the proposal, I have no detailed design yet, and we might need to look into the details.

[2020-05-21 18:44] antoninbas opened #729 "Add test matrix for cloud managed K8s services"
**Describe the problem/challenge you have**
@Dyanngg has been working on setup Jenkins CI jobs for Antrea on managed K8s services (so far EKS & GKE). It would be a good idea to have a document (maybe in the README file under `ci/jenkins`?) with an up-to-date list of jobs and some configuration details for each one. Maybe a table with a following information:
* name of the job with link
* status of

[2020-05-21 19:10] jianjuns commented on #331
@michmike thanks for the support.
@wenyingd and @ruicao93 can provide more information, but let me try answering some your questions.
1. @wenyingd and @ruicao93 can provide the exact patch version.
2. Yes. We can use transparent driver only.
3. Yes.
4. We do not have all changes in upstream OVS to remove Hyper-V vSwitch dependency. And I feel it will be long term work to maintain OVS support for W

[2020-05-21 21:12] abhiraut opened #730 "Replace usage of klog to use klogv2 in antrea"
Replace usage of klog in all components to bump up to v2

[1] https://github.com/kubernetes/kubernetes/pull/90183
[2] https://github.com/kubernetes/enhancements/pull/1617
[3] https://github.com/kubernetes/klog/pull/148/files

[2020-05-21 23:47] AkashSarda commented on #597
Hi some of the tests related to Matchexpressions are commented out

[2020-05-22 01:35] ruicao93 commented on #331
Thanks @jianjuns for the answers.

@michmike, for the qustions:

We plan to support Windows Server 2019 (1809) in first release because it's the latest LTS version. The newer versions of windows(1903+) currently are not in test scope. But I think we can verify Antrea on these versions after we complete the CI integration for windows.

Thanks,
Rui

[2020-05-22 01:59] #720 closed

[2020-05-23 02:01] yktsubo commented on #713
Hi @srikartati
I'm thinking to work on this. Did you already start?

[2020-05-23 07:46] srikartati commented on #713
That would be great. Please go ahead and assign this to yourself.

[2020-05-24 13:44] yktsubo commented on #713
Sure, but it seems that I don't have permission to assign myself.
When you have a chance, please assign myself

[2020-05-25 04:20] ksamoray opened #734 "Antrea metrics disappeared with introduction of PR #727"
Since the merge of PR #727, the Antrea specific metrics do not appear in Prometheus client output on both controller and agent.
Seems like the metrics are registered successfully but still do not show up while querying apiserver listener.

Tried building without the change above and metrics do show up.

[2020-05-27 00:31] antoninbas opened #740 "Add support for Antrea in IBM Kubernetes Service (IKS)"
**Describe what you are trying to solve**
IKS is IBM's K8s managed service. At the moment, it deploys Calico as the CNI when creating a cluster (this is the only provided option). Calico is used for networking (including IPAM) and Network Policy enforcement. "CrossSubnet" IP-in-IP is used:
[code]
We should try to provide support for Antrea in IKS as an alternative to Calico.

**Describe the soluti

[2020-05-27 02:19] srikartati commented on #723
@antoninbas Currently Antrea agent loads its config map (antrea-agent.conf) as subpath volume.
From k8s documentation, kubelet will not update subpath volumes.

Does it make sense to have a separate config map called antrea-agent-updatable.conf and mount it as a volume with no subpath? In Antrea agent, we need to create a poll that keeps on checking this file and various keys for updates and act a

[2020-05-27 02:31] #692 closed

[2020-05-27 03:38] antoninbas commented on #723
I think we can stick with a single ConfigMap, but use different volumes, instead of a single volume with `subPath`s:
[code]
Then we can have another volume for the other files (controller, cni).

I haven't tried it, but I feel like it should work. Maybe @tnqn can also provide some insight.

[2020-05-27 06:55] #718 closed

[2020-05-27 16:03] tnqn commented on #366
This has been closed by #714

[2020-05-27 16:03] #366 closed

[2020-05-27 16:11] tnqn commented on #616
With #714, The APIServices managed by Antrea are secured now. The kube-aggregator (kube-apiserver) will verify the antrea-controller's serving cert against a valid CA bundle.
As we don't have a deployment case that API aggregation is disabled, closing this for now.

[2020-05-27 16:11] #616 closed

[2020-05-27 16:33] tnqn commented on #723
@antoninbas @srikartati I don't know a real reason why we used subPath volume, guess it was just straightforward to use subPath to mount a single key of a ConfigMap and we didn't consider dynamic config reloading at that time.
If the approach @antoninbas raised can work, I think it would be perfect.

[2020-05-27 20:09] antoninbas commented on #367
Regarding my question at the beginning of this comment: https://github.com/vmware-tanzu/antrea/issues/367#issuecomment-613163555.

There is a patch to clarify this in the OVS docs: https://mail.openvswitch.org/pipermail/ovs-dev/2020-May/371089.html

The individual flows that constitute a conjunctive flow may overlap with those that constitute the same or another conjunctive flow.

[2020-05-27 20:40] srikartati commented on #367
In the above question, did you mean the actions as in the following flows or some other actions? If those are different actions, I misunderstood the question.
[code]

Thanks for clarifying conjunctive flow overlap to be the overlap across all dimensions in a given set of conjunctive flows. I presumed this to be the case as the conjunction match has to happen across all dimensions but did not test

[2020-05-28 01:29] wenyingd commented on #702
The issue is gone after rebased with latest code. So close it.

[2020-05-28 01:29] #702 closed

[2020-05-28 01:32] wenyingd commented on #571
Do you think we could check to support OF 1.5 directly?

[2020-05-28 02:00] wenyingd opened #747 "Integration test failure"
**Describe the bug**
After merging PR #634, the integration tests are failed because of some code conflict.

**To Reproduce**
Run integration tests

**Expected**
Tests should pass.

**Actual behavior**
Tests failed:
[code]

**Versions:**
Please provide the following information:
 - Antrea version: 0.6.0

[2020-05-28 02:32] #747 closed

[2020-05-28 09:00] tnqn commented on #734
Thanks @ksamoray for reporting it. This is because apiserver registers its own prometheus registry and serves metrics request with it since 0.16.0. We should move to those functions when registering the metrics.
https://github.com/kubernetes/kubernetes/commit/466980dd747e06e55451301c624eecccfa505123

Created #749 to fix it.

This issue proves that #657 is very important to guarantee this feature,

[2020-05-28 19:10] #662 closed

[2020-05-28 19:10] #734 closed

[2020-05-28 19:22] ksamoray opened #752 "Complete the replacement of prometheus calls with K8S metrics wrapper"
PR #750 implemented the K8S metrics wrapper, replacing Prometheus API calls.
However few of the agent's metrics weren't migrated completely:
* antrea_agent_ovs_flow_table metric uses native Prometheus calls, and is registered with metrics.RawRegister()
* antrea_agent_local_pod_count uses metrics.RawRegister()
metrics.RawRegister() calls should be replaced with metrics.Register() calls, as metrics.

[2020-05-29 05:31] antoninbas opened #756 "Latest Docker images not pushed to dockerhub anymore"
**Describe the bug**
After this change (https://github.com/vmware-tanzu/antrea/commit/5515d7a91bf399971aae695eae3748235296621f), Docker images are no longer pushed to dockerhub when master is updated. The "push" step is systematically skipped.

[2020-05-29 05:54] weiqiangt opened #758 "Antctl support-bundle command doesn't verify server certificate"
**Describe the problem/challenge you have**
Antctl client should verify the server when it is running in remote mode.

**Describe the solution you'd like**
TODO

**Anything else you would like to add?**

[2020-05-29 05:57] antoninbas commented on #758
I think that only applies when we connect directly to the antrea-agent / antrea-controller, as opposed to when we connect to the k8s apiserver and requests are proxied by kube-aggregator.

[2020-05-29 06:01] wenyingd opened #759 "Use action "goto_table" instead of "resubmit" in OpenFlow on Windows"
**Describe the bug**
According to issue #326 goto_table should be used to support OF instrunction "write_action". Most
of the current OpenFlow entries are already changed to use "goto_table" action, which might cause the implementation on Windows is not aligned with others.

**To Reproduce**
Run Antrea on Windows

**Expected**
Use "goto_table:" action in the new OpenFlow entries introduced by Antr

[2020-05-29 06:13] #756 closed

[2020-05-29 06:57] tnqn commented on #758
Yes, please clarify the scope of the issue. For now, I think in our documented usage we only connect to antrea components directly for support-bundle subcommand so the issue should be "antctl support-bundle command doesn't verify server certificate"

[2020-05-29 07:52] wenyingd opened #761 "NetworkPolicy for Service traffic doesn't work on Windows Nodes"
**Describe the bug**

Userspace kube-proxy on Windows terminates the initial connection which is sent out from the Pod to Service, and sets up a new connection on the gateway interface to the chosen backend Pod. When packet re-enters OVS, it is using gw0's IP as the source address, which causes the NetworkPolicy rules don't work as expected (the source IP address can't be matched).

**To Reproduce

[2020-05-29 07:56] #703 closed

[2020-05-29 20:25] antoninbas opened #764 "Go report card for Antrea shows F rating"
**Describe the bug**
See report card https://goreportcard.com/report/github.com/vmware-tanzu/antrea
This doesn't look good since we link to the report card in the Antrea README
It seems that a few of the tools, in particular `gofmt` cannot run successfully, hence the bad score. We should take a look and see if this is caused by some file which is part of the repository, or if this can be fixed eas

[2020-05-29 20:29] antoninbas commented on #764
Related issue: https://github.com/gojp/goreportcard/issues/299 ?

[2020-05-29 21:40] antoninbas opened #765 "antctl documentation is missing information about support-bundle"
**Describe the bug**
With the recent addition of the `supportbundle` command to antctl, the documentation (https://github.com/vmware-tanzu/antrea/blob/master/docs/antctl.md) should have been updated but was not.

**Versions:**
Antrea v0.7.0

[2020-05-30 00:38] antoninbas opened #768 "Move as much logic as possible out of Jenkins job YAML specification files"
**Describe what you are trying to solve**
Because changes to the YAML files are not enforced until after the PR with those changes is merged, it is very easy to run into issues like #766

**Describe the solution you have in mind**
I suggest moving as much logic as possible (e.g. cluster setup, test invocations, cluster cleanup) out of these files (https://github.com/vmware-tanzu/antrea/blob/master

[2020-05-30 01:16] antoninbas commented on #701
I also observe the following errors in the Kind e2e tests quite often:
[code]
I believe I also observed it at lest once for the Jenkins e2e job.

[2020-06-01 19:23] ksamoray commented on #768
@antoninbas while pulling out code out of macros.yml, is it possible to also reuse this code with Kind/github based test jobs?

[2020-06-01 19:27] antoninbas commented on #768
I think most of the logic is for cluster lifecyle, and it's probably not going to be applicable to the Kind-based jobs.

[2020-06-02 02:24] wenyingd opened #776 "Use ct_nw_xx/ct_tp_xx in NetworkPolicy to help collect metrics"
**Describe what you are trying to solve**
The NetworkPolicy is implemented using conjunction in Antrea, and the currently only the first packet is strictly matched in the conjunctions, while all the related and reply packets in any established connections are allowed using a high-priority flow entry with the match condition "ct_state=+est". This design can reduce the matching times, but make the m

[2020-06-02 02:26] wenyingd commented on #776
@tnqn Are the above flows are what you expected for NP metrics? Besides, I would like to hear your thoughts about if we can use "ct_state=+trk-inv" in the new conjunctive match flows instead of "ct_state=+new" and "ct_state=+est".

[2020-06-02 03:13] tnqn commented on #764
I triggered a refresh and now it seems good: `A+    Excellent!`.
Perhaps it's a temporary resource issue of gocard?

[2020-06-02 05:05] antoninbas commented on #764
That sounds like the most likely explanation. Hopefully it does not happen too frequently. Closing this issue then.

[2020-06-02 05:05] #764 closed

[2020-06-02 15:48] tnqn commented on #776
@wenyingd Yes, that's my expectation, but I do have some questions on flow details.
1. The pipeline should have dropped invalid flows before NetworkPolicy tables, so we should skip "-inv" to save some computation?
2. I think we don't need to check "+new" and "+est" in conjunctive match flows as we only care about the counters of goto flows?
3. We should use 2 goto flows: one for "+new" and the oth

[2020-06-02 18:35] #346 closed

[2020-06-03 00:28] wenyingd commented on #776
@tnqn For "inv" packet, we have dropped the pakcets in `ConntrackState` table(31) , so there will be no such packets entering egress/ingress table.
According to OVS limitation, a "ct_state" match must be included in the same flow entry when using ct_nw_xx/ct_tp_xx as a prerequisite, otherwise OVS will returns error when installing the flow entry. So I'm afraid we can't construct your expected flow

[2020-06-03 01:19] #759 closed

[2020-06-03 02:21] antoninbas opened #783 "Integration tests failing on macOS"
**Describe the bug**
When running `make docker-test-integration` on macOS, I get many errors:
[code]

**To Reproduce**
run `make docker-test-integration` on macOS after cloning the latest Antrea.

**Expected**
Since `make docker-test-integration` runs the integration tests in a Docker image, I expected the integrations tests to run successfully. My guess is that the tests make some assumptions (wi

[2020-06-03 04:33] tnqn commented on #776
Got it, thanks for the explanation.
Then we could use `ct_state=-inv+trk` to match the first and following packets in conjunctive match flows? For example:
[code]

BTW, I saw you mentioned we can still use ofport as one clause? Could you explain how could it match reply packets with ofport?

[2020-06-03 09:09] wenyingd commented on #776
It is my fault, I forget the reply packets. ofport can't be used for reply packets.

[2020-06-03 19:10] jayunit100 opened #785 "[sig-apps] Conformance tests being skipped."
**Describe the bug**

Looks like upstream Conformance tests suites will need to get some looking into - some are failing (most pass) when running the full suite.

The reason this might be new failures is that we i guess are skipping `sig-apps` tests in CI...?

[code]

[code]

[code]

This one seems like it might be flakey in certain antrea clusters, but not sure.
[code]

**To Reproduce**

`sonobuo

[2020-06-03 19:25] rosskukulinski commented on #785
https://github.com/cncf/k8s-conformance/blob/master/instructions.md

Deploy a Sonobuoy pod to your cluster with:

`$ sonobuoy run --mode=certified-conformance`

NOTE: The --mode=certified-conformance flag is required for certification runs since Kubernetes v1.16 (and Sonobuoy v0.16). Without this flag, tests which may be disruptive to your other workloads may be skipped. A valid certification run

[2020-06-03 19:25] jayunit100 commented on #785
so , now these tests are passing for me :) , it might have been flakiness.

[2020-06-03 19:28] rosskukulinski commented on #785
Regardless, I think the antrea e2e test suite should be validating against a complete certified-conformance test run. @McCodeman

[2020-06-03 19:31] jayunit100 commented on #785
yup, ill be working with @antoninbas to figure out why we skip the others and get this mostly sorted, will spend more time characterizing these failures and confirming wether they are related to my infra, antrea , or both ....

[2020-06-03 23:38] antoninbas commented on #785
We ran a select subset of conformance tests for every PR, and we try to keep the time it takes to run the tests to around 20 minutes. If running the full suite takes much longer on our infrastructure, we will probably not run it for every PR, but we can add a separate daily Jenkins job.

[2020-06-04 00:52] jianjuns opened #788 "Limit the size of Antrea log files"
**Describe what you are trying to solve**
Antrea now logs to files by default, but there is no limit on the log file size, and thus Antrea log files can occupy lots of disk spaces when running long.

**Describe the solution you have in mind**
We can add a default log file size limit argument for antrea-controller and antrea-agent in the deployment yaml file, but this will just limit the size of a

[2020-06-04 05:17] #752 closed

[2020-06-04 10:06] reachjainrahul opened #793 "Antrea agent version v0.7.0 is crashing in EKS env"
[code]

[2020-06-04 10:36] jayunit100 commented on #785
Hi folks. Ok... I confirmed 3 out of the 4 tests I originally reported break pretty consistently..... here are results from a `Kind` cluster which I also ran these on.

I think antonin, maybe a fast path forward would be

(1) As a first priority, specifically adding a `--ginkgo.focus=Basic StatefulSet functionality` test on antrea job, as it would give you rapid signal as you mentioned, and that c

[2020-06-04 10:42] tnqn commented on #793
Thanks @reachjainrahul for finding this.
It's because https://github.com/vmware-tanzu/antrea/commit/e02685f8385af4bce604d65d5a5c273f3cfc1185 changed to call `aq.nodeConfig.PodCIDR.String()` while `aq.nodeConfig.PodCIDR` is nil for networkPolicyOnly mode:
https://github.com/vmware-tanzu/antrea/blob/396d2b5d78368998c38afba8500c8cbfbf6adf59/pkg/agent/querier/querier.go#L196
Technically it was wrong b

[2020-06-04 12:12] jayunit100 commented on #785
To go further into details here, it seems like what happening is that these statefulsets health checks, which i think involve node->pod connectivity, dont turn green even after certain image updates.  Im not sure how it is that this could be antreas fault but am digging more now.

[code]

[2020-06-04 13:16] tnqn commented on #793
Created #795 to fix it.
@lzhecheng @Dyanngg I wonder whether the EKS test runs and votes in CI.
If not, can we enable it to avoid this kind of issues?

[2020-06-04 13:41] tnqn commented on #793
@jianjuns @antoninbas @salv-orlando we may need 0.7.1 for this. Perhaps together with the fix for #785 if it's something related to antrea.

[2020-06-04 17:18] tnqn commented on #785
@jayunit100 thanks for finding this and digging into it!
I tried to reproduce this and found error logs in antrea-agent:
[code]
This error indicated GARPs were not sent. I think it may explain why the tests were flaky: only when enough number of tests had run in a cluster, leading to some IPs being reused before the Node's ARP cache expiry, the Node would fail to reach those Pods.

antrea-agent is

[2020-06-04 17:21] antoninbas commented on #793
@Dyanngg was this not detected in CI?

[2020-06-04 17:40] antoninbas commented on #793
@tnqn yes, let's schedule a release for tomorrow

[2020-06-04 17:42] srikartati commented on #776
Hi,
Do you think it is worth breaking the following flow into two flows to capture stats in both directions separately? May be by using ofport match field.
`table=50,ip,priority=200,ip,conj_id=1,ct_state=-new,actions=goto_table:70`

[2020-06-04 18:17] #783 closed

[2020-06-04 18:47] Dyanngg commented on #793
This was actually detected in CI http://jenkins.antrea-ci.rocks/view/cloud/job/cloud-antrea-eks-conformance-test-native/ as jobs has been failing for a while, but the notification is only setup for cleanup job failures and we seem to have missed this. I will add notifications for build failures as well and will specifically validate before every release. The reason why it is not a vote in CI is th

[2020-06-04 19:28] antoninbas commented on #793
Once https://github.com/vmware-tanzu/antrea/issues/729 is addressed we will also have more visibility into CI health.

[2020-06-04 19:57] Dyanngg commented on #729
Will work on adding this in the README under CI

[2020-06-04 22:09] srikartati opened #799 "Robust testing for prometheus metrics in Agent and Controller"
**Describe the problem/challenge you have**
Extend the existing e2e test or add new unit/integration tests if possible to check on the accuracy of metrics values.

**Describe the solution you'd like**
Currently, prometheus metrics are relying on manual tests. E2e test covers only whether metrics are available in output or not. The values of metrics should be checked for accuracy.
One possibility:

[2020-06-05 00:01] antoninbas commented on #799
Can this be tested with unit tests / integration tests so that we keep the number of e2e tests under control?

[2020-06-05 00:14] jayunit100 commented on #785
great awesome thanks tnqn.  Keep me posted and let me know how i can help !

[2020-06-05 00:30] srikartati commented on #799
Sure, Antonin. I updated the comment.

[2020-06-05 01:40] wenyingd commented on #776
Having an offline discussion with @tnqn about the requirement for the NP metrics, we need to collect sessions and packets for a single NP. "ct_state=+new, conj_id=1" is used to help collect the count of the sessions, while  the sumary of "+new" and "-new" is used to help collect total packets.

@srikartati could you help give more explaination about the motivation to split "ct_state=-new"?

[2020-06-05 02:07] jayunit100 commented on #785
@tnqn on a local cluster, an you run ....

[code]

That should quickly give you an indication - or alternatively just point me at a dockerhub image to test and ill swap it out in one of my clusters.

[2020-06-05 03:18] antoninbas opened #801 "Kind tests fail very often in CI"
**Describe the bug**
It is very common to have at least one test failing for any given PR, because some antrea-agent instances take too long to become ready (even though they usually become ready).
[code]

I have been unable to reproduce it locally on my laptop or on Azure VMs that mimic the Github Linux worker VMs. However, I was able to ssh into a worker and inspect the agent logs:
[code]

I thi

[2020-06-05 03:19] antoninbas commented on #701
Move the "error when waiting for Antrea rollout to complete" to its own issue: https://github.com/vmware-tanzu/antrea/issues/801

@tnqn are you still observing this "Error when setting up test: some CoreDNS replicas are still unavailable after 1m30s" error in Jenkins?

[2020-06-05 03:43] jayunit100 opened #802 "need liveness checks... Antrea ports on EC2 : Modifying Security groups to accomodate agent -> requires agent restarts (agent doesnt recover)"
**Describe the bug**

So, originally i filed this bug as general catastrophic failure, but  it looks like there is a pattern ---  likely pods on *different* nodes can't talk with one another.  I say this because, it seems as though looking at netpol tests, if 'x/a' can talk to 'z/y' then z/y also can talk to x/a and ANY other pods that x/a can talk to , and so on...... meaning that the communicati

[2020-06-05 04:04] tnqn commented on #785
@jayunit100 Appreciate your help!
I cannot reproduce the failures locally when focusing on "Basic StatefulSet functionality", maybe it's because the pod cidr of my Node is /24 so no IPs were reused with a few tests. I'm running with "--mode=certified-conformance" but it will take time to confirm the success is stable.
Since you can reproduce it in your cluster consistently, could you help verify t

[2020-06-05 04:25] antoninbas commented on #802
@jayunit100 does VXLAN traffic (UDP port 4789) need to be enabled explicitly in the VPC?

[2020-06-05 06:13] antoninbas commented on #802
I created a cluster on EC2 using kops:
[code]

I am able to run the whole netpol testsuite with no errors:
[code]

I think you will need to provide us with access to your cluster (kubeconfig & ssh access), or share with us steps so we can reproduce the issue.

[2020-06-05 07:58] #793 closed

[2020-06-05 13:18] jayunit100 commented on #802
yeah im assuming the same thing must be a firewall thing.

[2020-06-05 13:32] jayunit100 commented on #802
confirmed theres a firewall issue, i guess we should doc this somewhere for antrea ?

[2020-06-05 13:36] tnqn commented on #802
Agree, the required ports should be listed at https://github.com/vmware-tanzu/antrea/blob/master/docs/getting-started.md#ensuring-requirements-are-satisfied, including the VXLAN port (or other tunnel ports if different tunnels are used), and the default api port.

[2020-06-05 13:38] jayunit100 commented on #802
thanks folks, ok so. if i issued a patch to `antrea-agent` which logged a *warning* or failed after checking the udp port is open , would that be accepted ?  Seems like its a critical failure so docs is really only the first step, UX would be much better if the microservice detected and actively failed.

[2020-06-05 13:46] tnqn commented on #793
Confirmed the eks test can pass with the patch: https://jenkins.antrea-ci.rocks/job/cloud-antrea-eks-conformance-test-native/66/console

[2020-06-05 13:58] tnqn commented on #701
No, I haven't seen it for some days, not sure since when.

[2020-06-05 14:03] jayunit100 commented on #802
question - would it be possible to configure all OVS to run on a different port ? just as an intermediary hack.

[2020-06-05 14:26] tnqn commented on #801
I think 172.17.0.2 ->10.96.0.1 doesn't go br-int? or do we rely on any OVS flows to connect node network on Kind? We had the conntrack issue because the packets were marked as "+inv" and we had a flow to drop invalid packets in br-int pipeline. If br-phy doesn't have drop flow, then the packets shouldn't be dropped even if the seq number doesn't match?

[2020-06-05 15:37] jayunit100 commented on #802
if an antrea node "A" is sitting there, and absolutely *no* rules from other nodes are received on the OVS channel, is that an obvious indicator that something *might* be wrong ?  If so we could log a warning, i.e. a periodic print out of how many total OVS rules have been created or received ?  that might be a good indicator.  but i dont really know.  just an idea bc as of nowthere is no signal i

[2020-06-05 16:28] antoninbas commented on #701
Closing this for now, let's reopen if we see this again

[2020-06-05 16:28] #701 closed

[2020-06-05 16:58] antoninbas commented on #802
It is really orthogonal to OVS rules.

As we add more Prometheus metrics, some of them may help in troubleshooting this (e.g. we could show the amount of cross Node traffic).

It's hard to test for Node connectivity without creating Pods. We could send an ICMP echo request to the gateway interfaces of other Nodes, but the Node configuration may be such that no reply will be generated, so that coul

[2020-06-05 17:14] tnqn commented on #785
I have run `certified-conformance` mode in two local clusters.

- In the first cluster (4.15.0-66-generic), unfortunately, all the tests passed consistently with or without the fix (2 times without fix, 3 times with fix).
- In the second cluster (4.4.0-45-generic), I did reproduce some of the above failures with 0.7.0 2 times, and all the tests passed after applying the patch, but I only ran once

[2020-06-05 17:37] McCodeman commented on #802
This is an interesting conversation and I've seen this type of troubleshooting process more times than I care to count in the wild. An interesting feature may be an optional canary pod deployed as a daemonset to all nodes that would allow a checkout of the overlay and help to identify possible problems with host and IaaS firewall rules. The dameonset would only need to be deployed following enviro

[2020-06-05 18:41] antoninbas opened #805 "Jenkins jobs are all broken?"
**Describe the bug**
I'm trying to run the jenkins jobs in order to cut the 0.7.1 release: https://github.com/vmware-tanzu/antrea/pull/804

But they all fail with the following error:
[code]

Possibly because of this PR: https://github.com/vmware-tanzu/antrea/pull/681

[2020-06-05 18:41] antoninbas commented on #805
See https://jenkins.antrea-ci.rocks/job/antrea-conformance-for-pull-request/532/ for an example

[2020-06-05 20:35] srikartati commented on #776
@wenyingd  I can think of the following example where direction based stats could be useful. Let's say there is an egress network policy rule letting a k8s service to talk to an external IP CIDR.
Here fine-grained stats of how much traffic is coming into the service/cluster and going out of service/cluster would be useful I think as traffic can be asymmetric.

[2020-06-05 23:51] lzhecheng commented on #805
The reason is that #804 doesn't include #681 to update Jenkins template, while the online Jenkins setup already changed. So such issue will not happen to any PR on master branch.

[2020-06-06 00:25] antoninbas commented on #805
That makes sense, thanks for the quick reply @lzhecheng

[2020-06-06 00:25] #805 closed

[2020-06-06 01:22] antoninbas commented on #801
@tnqn you're right. There was no reason why it would fix it but I let myself get hopeful after I ran the tests a few time on Github and everything was passing. However, it started failing again after a few runs.

I was able to find out that the TCP keepalive mechnism kicks in and I guess eventually times out the connection. It takes about 5 minutes, which would be roughly consistent with the Go se

[2020-06-07 13:58] jayunit100 commented on #802
+1 to the optional canary daemonset to be used for diagnosis .

[2020-06-08 01:44] lzhecheng commented on #488
We haven't seen the issue for a while and let's close it for now.

[2020-06-08 01:44] #488 closed

[2020-06-08 14:56] jayunit100 commented on #802
From live debugging w tnqn, we're thinking a *liveness check* will help alot with this situation....

[code]

some pods can stay in `ready 1/2` state for a longgggg time, getting `context cancelled` events when talking to theAPIServer, when were toggling security groups on and off.

[2020-06-08 17:43] antoninbas commented on #11
Now that we have the `antctl get supportbundle` command added by @weiqiangt in #694, I think we can close this issue.

It is not documented yet, but there is an open issue for documentation (#765).

[2020-06-08 17:43] #11 closed

[2020-06-09 08:24] weiqiangt commented on #463
[Design document](https://docs.google.com/document/d/19UgeZbfNBLi_ltjPQy-yIri-K_k3PIfCe8adnVxfqoY/edit?usp=sharing)

[2020-06-09 12:04] #709 closed

[2020-06-09 14:29] tnqn opened #814 "antrea-agent shouldn't get evicted by "NoExecute" taint"
**Describe the bug**
I met a failed test `NoExecuteTaintManager Multiple Pods [Serial] evicts pods with minTolerationSeconds [Disruptive] [Conformance]` with a small probability (1 out of around 10 times) when running sonobuoy `certified-conformance` mode.

The test created two pods on a Node, tainted the Node with `kubernetes.io/e2e-evict-taint-key: NoExecute`, then verified the Pods were evicted

[2020-06-09 16:40] tnqn opened #817 "Document ports/firewall rules required by antrea"
**Describe the bug**
It should be documented clearly that which ports/firewall rules are required by antrea, both for controlplane api ports and dataplane tunnel ports.

[2020-06-09 21:10] srikartati commented on #713
@yktsubo Just added the following metric as well:
OVS Interface statistics (packet count, drop count etc.) including TEP, Uplink, GW interfaces.

Feel free to skip this if not interested. Just using this issue to keep track of new agent metrics.

[2020-06-09 22:10] antoninbas opened #818 "No vulnerability to MitM attacks via IPv6 rogue router advertisements"
This issue is here to document that Antrea is not vulnerable to the MitM attacks on IPv4 clusters using IPv6 rogue router advertisements described here: https://github.com/kubernetes/kubernetes/issues/91507

The [OVS pipeline](https://github.com/vmware-tanzu/antrea/blob/master/docs/ovs-pipeline.md) defined by Antrea will drop all IPv6 traffic received from containers or the host gateway interface

[2020-06-09 22:10] antoninbas commented on #818
Closing issue right away since Antrea is not vulnerable to the attack

[2020-06-09 22:10] #818 closed

[2020-06-09 22:22] jayunit100 commented on #785
[code]

0.7.1 Defeinetly still fails for me, ill try applying the master yaml .

[2020-06-09 22:44] antoninbas opened #819 "Run entire K8s conformance test suite as a daily Jenkins job"
Because of time constraints, we only run the tests that we consider the most "relevant" (e.g. sig-network tests) as part of CI for every PR. We should still have a daily run to check the entire conformance test suite, as it may help detect some issues like #785. Ideally, we would also be able to run the job on demand for a given git reference, as it would enable us to validate Antrea release candi

[2020-06-09 22:46] antoninbas commented on #819
Tests should be run with `sonobuoy run --mode=certified-conformance`

[2020-06-10 00:03] lzhecheng commented on #819
As for daily run, since we don't have a PR for Jenkins to update status, I will add a link to this job in the CI README and have a slack notification to a nanny group. Is it ok?

As for on-demand run, shall we add a new "/test-whole-conformance" in each PR?

[2020-06-10 00:08] antoninbas commented on #819
Slack is going to be difficult since we only have one public Slack channel, in the k8s workspace. But could you set up email notifications for projectantrea-dev@googlegroups.com? I think @Dyanngg was going to do the same for the EKS & GKE jobs.

For on-demand, that's not quite what I had in mind. I'd like to have the ability to visit the Jenkins dashboard and trigger the job for a given commit sha

[2020-06-10 00:22] lzhecheng commented on #819
I will investigate email notification.

I got it. Parameterized Jenkins job is ok. But I think "/test-whole-conformance" can cover it since you have to make a PR anyway before making a release? Correct me if I am wrong since I observe that there would be one PR before every release.

[2020-06-10 00:31] antoninbas commented on #819
Yes, I can use `/test-whole-conformance` for the releases with the current release process I am following.

[2020-06-10 00:45] lzhecheng commented on #819
Great, let's do this way for now. We can consider a parameterized Jenkins job next.

[2020-06-10 02:10] jayunit100 commented on #785
So, interestingly, im seeing that the ip addresses here are empty in statefulsets.....

[code]

Any thoughts on how that might be ?
-  other containers seem to come up with IP addresses
-  According to the APIServer, these StatefulSet containers *do* indeed have IP addresses

Seems like a race condition, will run several of these overnight to see what the failure pattern is .

[2020-06-10 02:19] jayunit100 commented on #785
**Hypothesis**

all of these 'nonready' pods are failing b/c even though the APISErver thinks they have IPAddresses assigned, when the pod comes back up, the  CNI underneath isnt attaching those eth devices, and the readiness checks fail.

[2020-06-10 04:50] #814 closed

[2020-06-10 21:11] antoninbas opened #822 "Better error logs for Agent - Controller connectivity issues"
**Describe the problem/challenge you have**
One thing that came out of #802 is that Agent logs are not very user-friendly in case of such a connectivity issue. The log messages are as follows:
[code]
And they are repeated every 30 seconds.

**Describe the solution you'd like**
@tnqn do you think it would make sense to have more user-friendly error logs, indicating that there is a connectivity issu

[2020-06-10 21:16] antoninbas opened #823 "Frequent failures of TestUserProvidedCert"
**Describe the bug**
While troubleshooting some separate issue with the Kind-based CI jobs, I have observed that the `TestUserProvidedCert` test tend to fail fairly frequently with the following logs:
[code]

**Versions:**
Antrea v0.7.1

[2020-06-11 01:47] lzhecheng commented on #819
@antoninbas Yes we can have 2 jobs or parameterized job for different container runtime and they will run in parallel.

[2020-06-11 15:23] tnqn opened #829 "IP allocation of host-local IPAM was not released after restarting agent"
**Describe the bug**
There was no sync-up between the IPAM cache of antrea-agent and the IPAM plugin, the IPAM DEL could be skipped incorrectly when deleting a Pod created before antrea-agent was restarted, leading to IP address leak.

The handling of multiple CNI DELs is idempotent. There is no need to check in-memory cache before calling IPAM DEL.

**To Reproduce**
1. Create a Pod
2. Restart ant

[2020-06-11 16:06] jayunit100 commented on #785
it looks like https://github.com/vmware-tanzu/antrea/pull/827 will fix this issue , but i guess we should leave this issue open until conormance is running nightly

[2020-06-11 16:12] tnqn commented on #785
I have updated "Fixes" to "For" so it won't close this one.

[2020-06-11 17:10] antoninbas commented on #785
We have another issue to track the addition of daily full conformance testsuite jobs (#819), so feel free to close this one when #827 is merged.

[2020-06-11 17:22] tnqn commented on #823
Looks like it's because `antreaController` is nil.
https://github.com/vmware-tanzu/antrea/blob/3b7566fa85dc135eaa498688c568d02ed11b4d12/test/e2e/security_test.go#L178
I missed an error check here:
https://github.com/vmware-tanzu/antrea/blob/3b7566fa85dc135eaa498688c568d02ed11b4d12/test/e2e/security_test.go#L148-L149
But I don't know how `getAntreaController()` could fail.
Will look into later.

[2020-06-12 00:43] #801 closed

[2020-06-12 02:33] alex-vmw opened #831 "NetworkPlugin cni failed to set up pod "pod_name" network: failed to Statfs "/proc/12764/ns/net": no such file or directory"
**Describe the bug**
On our k8s clusters we are seeing a lot of errors of the the below form:
[code]

**To Reproduce**
No idea. We do not yet know why we are seeing these errors. This requires some help from Antrea team to investigate and root cause on live k8s clusters.

**Expected**
We expect the CNI (Antrea) to always setup pod networking without any errors.

**Actual behavior**
We are randomly

[2020-06-12 02:53] alex-vmw opened #832 "NetworkPlugin cni failed to set up pod "pod_name" network: rpc error: code = Unavailable desc = all SubConns are in TransientFailure, latest connection error: connection error: desc = "transport: Error while dialing dial unix /var/run/antrea/cni.sock: connect: no such file or directory"
**Describe the bug**
On our k8s clusters we are seeing a lot of errors of the the below form specifically for DaemonSet pods:
[code]

**To Reproduce**
No idea. We do not yet know why we are seeing these errors. This requires some help from Antrea team to investigate and root cause on live k8s clusters.

**Expected**
We expect the CNI (Antrea) to always setup pod networking without any errors.

**A

[2020-06-12 04:53] alex-vmw opened #833 "antrea-ovs container frequently restarting on the nodes causing a node outage"
**Describe the bug**
antrea-ovs container frequently restarting on the nodes causing a node outage

**To Reproduce**
Unknown

**Expected**
antrea-ovs container does not restart by itself

**Actual behavior**
We had 2 nodes in the cluster where antrea-ovs container was frequently restarting, causing a node outage. Here is how many restarts we see on each node:

Node sc-stg-coreos-master003b
[code]

[2020-06-15 03:13] #829 closed

[2020-06-16 08:21] mengdie-song opened #837 "Upgrade Antrea K8s API version and Octant version to support Traceflow UI plugin"
**Describe what you are trying to solve**
We need to upgrade octant to its latest version for traceflow UI plugin
because we need these two issue fixes https://github.com/vmware-tanzu/octant/issues/948 and
https://github.com/vmware-tanzu/octant/issues/951.
But the latest octant uses K8s API v0.19.0-alpha.3 and github.com/googleapis/gnostic@v0.4.1 (which also has a broke API issue https://github.co

[2020-06-16 08:26] tnqn commented on #837
LGTM
@jianjuns @antoninbas do you have concern about moving octant plugins to sub-folder to decouple their library dependency conflict?

[2020-06-16 14:22] tnqn commented on #632
According to @alex-vmw's observation, iptables-restore on some nodes (4/154 Nodes) could still fail after acquiring xtables lock:
[code]

There must be some other issues, reopening the issue.

[2020-06-16 14:30] tnqn commented on #632
Exit status 1 is used for all errors other than invalid or abused command line parameters, hard to tell the reason of the random failure from current logs.
Created #839 to log error messages printed to stderr.

[2020-06-17 01:18] #785 closed

[2020-06-17 01:18] antoninbas commented on #837
I'm fine with the approach. I commented in more details in the corresponding PR.

[2020-06-17 02:56] #823 closed

[2020-06-17 03:27] lzhecheng opened #845 "RuleID in Traceflow Status Observation"
**Describe what you are trying to solve**
In the current design of Traceflow, `Observation` struct doesn't need a `RuleID` field (Conjunection ID). Network policy can be got from `NetworkPolicy` field. But `RuleID` may help for other features like flow exporting/correlation, realization, stats, etc.
This issue is to track this field.

[2020-06-17 06:52] lzhecheng commented on #819
@Dyanngg As for whole-conformance test with docker, currently the best choice may be to put it on AWS. Could you please try to deploy with kops and investigate the cost of it?

[2020-06-17 14:03] rosskukulinski commented on #819
Would it be possible to use cluster api AWS instead of kops?

________________________________
From: Zhecheng Li <notifications@github.com>
Sent: Tuesday, June 16, 2020 11:52:13 PM
To: vmware-tanzu/antrea <antrea@noreply.github.com>
Cc: Ross Kukulinski <kukulinskiro@vmware.com>; Manual <manual@noreply.github.com>
Subject: Re: [vmware-tanzu/antrea] Run entire K8s conformance test suite as a daily J

[2020-06-17 15:12] tnqn opened #846 "Use Feature Gates to enable or disable features"
**Describe what you are trying to solve**
There are a number of features that are being developed and likely to be disabled by default in their early stage.
Currently we have to introduce a temporary config for each feature like below:
https://github.com/vmware-tanzu/antrea/blob/9697bb13d27eca708659bb67582a18b22ae01f3b/cmd/antrea-controller/config.go#L38-L41
https://github.com/vmware-tanzu/antrea/

[2020-06-17 18:36] antoninbas commented on #819
@rosskukulinski we are already using ClusterAPI VMC for all existing e2e tests. However we recently ran into an issue which was container runtime dependent, so we would like to have some test coverage with both docker and containerd. It seems that ClusterAPI does not let us provision Nodes with docker as the container runtime, so have to fall back to kops to test with docker.

[2020-06-17 19:02] rosskukulinski commented on #819
ahh! Ok, right.  Carry on, @antoninbas :)

[2020-06-17 21:11] antoninbas commented on #846
I like the idea. I have one question: if we work on a feature that will eventually be enabled by default, but for which we want to preserve the ability to disable it, where does it go in the config? Or is it even a valid scenario?

One concrete example is `EnableAntreaProxy`. It will be disabled by default at first (alpha - v0.8.0), and eventually enabled by default when it's stable (beta - starti

[2020-06-18 00:43] #729 closed

[2020-06-18 04:19] tnqn commented on #846
@antoninbas it's supported to preserve the ability to disable a feature even after it reaches GA as long as it's not [locked to default](https://github.com/kubernetes/kubernetes/blob/15e95e48964d4e800f7210a249f9122ee7d79fcc/staging/src/k8s.io/component-base/featuregate/feature_gate.go#L65), there will just be a warning log such as `Setting GA feature gate ClusterNetworkPolicy=false. It will be rem

[2020-06-19 02:23] weiqiangt commented on #463
Here is the slides used in Community Meeting: https://drive.google.com/file/d/1IL6zdDYZuQZklBOz1MKKZifmbi7XWTXL/view?usp=sharing

[2020-06-19 16:47] chipzoller opened #853 "Provide pre-built Octant plugins"
**Describe the solution you'd like**
Please consider providing pre-built Octant plugins for Windows, Linux, and MacOS. Would be great to have for easy consumption.

[2020-06-21 10:43] #846 closed

[2020-06-22 10:14] tnqn commented on #853
@chipzoller Thanks for the suggestion, I think it's doable.
@mengdie-song Could you take a look? cc @antoninbas

[2020-06-23 00:53] antoninbas commented on #853
Are you thinking of binaries or Docker images (to run Octant + plugin as a Pod)?

[2020-06-23 00:57] chipzoller commented on #853
I was thinking of just the binaries. You already publish the Docker images, which are helpful to get up and running quickly. Binaries are useful for those who already use Octant for many other clusters and want to simply add Antrea support via plug-ins to their existing installation (with ability to manage it outside the cluster).

[2020-06-23 02:09] mengdie-song commented on #853
Thanks for the suggestion. Will take care of it.

[2020-06-23 07:24] #837 closed

[2020-06-23 18:14] #525 closed

[2020-06-23 18:21] tnqn commented on #833
There were "Liveness probe failed" events for the two Pods:
[code]
But the events didn't say whether it's due to timeout or real probe failure, i.e. ovs processes were not running.
There could be two possibilities:
1. The node's cpu was very tight, leading to the probe script cannot finish in time, though it's hard to explain it failed 3 times successively with 5 seconds timeout. BTW, exec probe s

[2020-06-23 18:40] alex-vmw commented on #833
Hi @tnqn,
In which logs do you see the "Liveness probe failed" error?

[2020-06-24 01:46] tnqn commented on #833
@alex-vmw "Liveness probe failed" is the message of events I saw from log insight.

[2020-06-24 02:27] tnqn commented on #832
Confirmed with @alex-vmw offline that the errors only happened when a node joining the cluster. The reason of the errors is because:
kubelet has only a simple check against CNI and it varies for CRI. For docker, it checks the presence of CNI conf and bin: https://github.com/kubernetes/kubernetes/blob/4de511a4cfdb8e49e804be18245911bf3270fb2f/pkg/kubelet/dockershim/network/cni/cni.go#L200-L202
(Note

[2020-06-24 04:28] reachjainrahul opened #863 "Antrea conf is not populated in EKS if node is scaled up"
For CNI chain,  /host/etc/cni/net.d dir is searched and updated with Antrea conf. In EKS env, its observed 10-aws.conflistis not present when antrea install_cni_chaining is called.

[2020-06-24 07:39] #863 closed

[2020-06-24 11:26] wenyingd opened #865 "Remove the OpenFlow entry with "normal" action from Windows Nodes"
**Describe what you are trying to solve**
Currlent we have an OpenFlow entry in table=20 with "normal" action for ARP packets to allow MAC learning for local Pod traffic and Pod-to-Gateway traffic. As the uplink interface is also plugged on the OVS bridge, a risk exists to let the overlay IP addresses
leak to the underlay network by a "normal" action flow. This flaw might cause duplicate address i

[2020-06-24 15:02] tnqn commented on #831
@alex-vmw, `failed to Statfs "/proc/XXX/ns/net"` normally means the sandbox container had been dead before calling CNI.
The workflow of creating a Pod:
1. Create the sandbox container
2. Start the sandbox container (at this step netns should exist)
3. Setup networking for the sandbox container

It's likely that the sandbox container died or was killed somehow when executing step 3 so the associate

[2020-06-24 21:19] antoninbas commented on #832
Seems safe to close this issue.

[2020-06-24 21:19] #832 closed

[2020-06-25 17:00] jianjuns opened #867 "Support Antrea as primary CNI in EKS"
**Describe the problem/challenge you have**
As of now, Antrea supports only networkPolicyOnly mode in EKS, where EKS native CNI takes care of IPAM and L3 connectivity with VPC native networking, and Antrea only enforces K8s NetworkPolicies. This way has advantages of leveraging VPC networking for connectivity, but has limits on number of Pod IPs per Node. So, it would be good to provide an option

[2020-06-25 17:07] jianjuns opened #868 "Validate user config options after Antrea controller/agent start"
**Describe the problem/challenge you have**
Currently Antrea does not validate all user config options (e.g. serviceCIDR, defaultMTU). Misconfiguration might lead to Antrea not working as expected.

**Describe the solution you'd like**
Antrea controller and/or agent should validate all config options at start, and might fail with clear error logs when options are not configured correctly that will

[2020-06-25 17:14] jianjuns opened #869 "EKS Pods could start before Antrea CNI is ready on a new Node"
**Describe the bug**
On EKS, Antrea relies on CNI chaining to be invoked for a new Pod and move the Pod interface to the OVS bridge. However for a new EKS Node (e.g. a Node created by scaling up the EKS cluster), it is possible a new Pod get created before Antrea is initialized on the Node and configures the CNI chaining. Antrea will not have chance to move the Pod interface to OVS bridge, and enf

[2020-06-25 18:10] shapirov103 commented on #868
Ideally, both validation and/or automatic CIDR discovery (fail of discovery attempt is unsuccessful) would result in the best user experience.

Discovery of CIDR maybe platform specific. For example, on EKS standard `kubectl cluster-info dump` does not provide the CIDR (maybe only in cases when the parameter is not explicitly), however it is returned in response to  service creation with ClusterIP

[2020-06-25 19:39] alex-vmw opened #870 "On a node with high memory pressure antrea-ovs container went into a constant CrashLoopBackOff loop"
**Describe the bug**
On a node with high memory pressure antrea-ovs container went into a constant CrashLoopBackOff loop.

**To Reproduce**
Not sure how to reproduce but here is what we know happened:
1. On 06/24/2020 8:35pm Pacific Time we receive first alert from Prometheus indicating the node had high memory utilization (96.67%).
2. 20-30 mins later we started getting many alerts about some pod

[2020-06-25 21:28] alex-vmw opened #871 "antrea-ovs container restarted multiple times causing antrea-agent container to be forever stuck in "Ready: False" state"
**Describe the bug**
antrea-ovs container restarted multiple times causing antrea-agent container to be forever stuck in "Ready: False" state.

**To Reproduce**
Not sure how to reproduce but here is what we know happened:
1. On 06/25/2020 6:17am Pacific Time we receive first alert from Prometheus indicating that antrea-ovs container on the node had restarted 6 times in the past hour.
2. At 6:42am

[2020-06-26 01:36] antoninbas commented on #870
After debugging with @alex-vmw and @jianjuns we have determined that the issue goes away if we manually delete the OVS .pid files and restart the agent. We are hitting this error case repeatedly: https://github.com/openvswitch/ovs/blob/v2.13.0/lib/daemon-unix.c#L668

It seems that they hit a similar issue in ovn-kubernetes: https://bugzilla.redhat.com/show_bug.cgi?id=1803920#c4

We have asked for

[2020-06-26 02:13] alex-vmw commented on #871
Attaching a antrea-agent process core file we collected during the troubleshooting session.
[antrea-agent-core.zip](https://github.com/vmware-tanzu/antrea/files/4834724/antrea-agent-core.zip)

[2020-06-26 02:14] antoninbas commented on #871
@alex-vmw Thanks. I opened an issue with the fix we discussed today.

[2020-06-26 17:03] jayunit100 opened #876 "Ensure Antrea works in any namespace (remove any kube-system hard-coding)?"
Running antrea in kube-system works fine right now, but the external certs are expected to be in kube-system ns  (context here is that secrets living in kube-sys means that operations like rotating them means folks would need to muck w/ kube-system, which is undesirable).

Lets remove the hardcodings to kube-system whereever possible and instead just look up the local namespace of the antrea/// i

[2020-06-26 18:09] ncdc commented on #876
Point of clarification: the external certs are expected to be in kube-system if you're providing them using a secret. Rotation is orthogonal.

I think we had previously discussed the contract between Antrea and user-supplied certificates to be a path in the filesystem containing ca.crt, tls.crt, and tls.key. In fact, I think that's what I'm seeing in the code:

https://github.com/vmware-tanzu/antr

[2020-06-26 18:35] antoninbas commented on #876
Yes, looks like it will work as long as you create the secret in the same namespace as Antrea.

The cacert controller is used regardless of whether you BYO CA cert or you let Antrea generate one. It is how we publish it to the Antrea agent in a uniform fashion. When you BYO, the cacert controller will just publish it directly using the `antrea-ca` ConfigMap in the `kube-system` namespace. To resol

[2020-06-26 18:50] jianjuns commented on #876
You guys are right. I checked  securing-control-plane.md. It just uses kube-system as an example. Actually many our docs follow this way and use kube-system in examples. Probably let us just add a note in securing-control-plane.md, that it should be the namespace antrea deploys.

[2020-06-26 18:51] antoninbas commented on #876
@jianjuns we still need to create the `antrea-ca` configMap in the correct namespace

[2020-06-26 18:53] jayunit100 commented on #876
Its by default created in the correct ns on master ?
[code]

[2020-06-26 18:57] antoninbas commented on #876
Sorry I misspoke: yes it will be created in the correct namespace, but the cacert controller that Andy pointed to will look for it in the kube-system namespace when trying to update it, so the contents will be wrong.

[2020-06-26 19:28] abhiraut opened #877 "NetworkPolicy rule with Protocol specified but no Port leads to a runtime error"
**Describe the bug**
NetworkPolicy Rule with a Protocol set but no Port number leads to a runtime panic

[code]
**To Reproduce**

Create a NetworkPolicy with egress rule as follows:
[code]

**Expected**
Policy should be applied to all Ports with Protocol UDP

**Actual behavior**
Policy fails to apply and leads to an error.

[2020-06-29 04:13] tnqn commented on #870
By "restart the agent", did you delete the old Pod? or just waited for kubelet to restart the antrea-ovs container?
Asking because I remember we met this issue before and fixed it by deleting the old Pod, so wondering whether deleting pid files alone can fix it or it always requires deleting the old Pod.

[2020-06-29 05:40] tnqn commented on #877
This is an important case we must support, @wenyingd could you come up with a fix before releasing 0.8.0?

[2020-06-29 08:14] weiqiangt opened #881 "TestProxyServiceSessionAffinity does not work in KIND tests"
**Describe the bug**
proxy_test.go:TestProxyServiceSessionAffinity can not be passed in KIND tests.

**To Reproduce**
Run e2e tests with Kind.

**Expected**
This test should always pass.

**Actual behavior**
Test failed, although learned flows are generated.

**Versions:**
0.8.0-dev

**Additional context**
It may be an issue of OVS. Since the hairpin test can pass, the user mode conntrack looks go

[2020-06-29 19:37] antoninbas commented on #870
The Pod was in a crashback loop. I think we just deleted the files and waited for it to be restarted by kubelet.

[2020-06-29 20:38] #870 closed

[2020-06-29 20:40] #871 closed

[2020-06-30 00:59] #877 closed

[2020-06-30 03:44] #876 closed

[2020-06-30 05:01] jayunit100 opened #883 "Antrea "the hard way" tutorials"
**Describe what you are trying to solve**

As one of the few We need a community focused tutorial, that leverages active learning / hacking to build out an 'antrea-like' solution to solve some pedagogical holes in terms of how folks compare CNIs across the board, and specifically, how they get comfortable with antrea internals.

**Describe the solution you have in mind**
A clear and concise descri

[2020-06-30 05:03] jayunit100 commented on #883
similar artifacts:
- Kelseys tutorial https://github.com/kelseyhightower/kubernetes-the-hard-way
- BPG tutorial from calico folks https://docs.projectcalico.org/getting-started/kubernetes/hardway/configure-bgp-peering
cc @cantbewong

[2020-06-30 07:27] tnqn commented on #870
@antoninbas thanks for the clarification.

[2020-06-30 11:30] aidrees opened #885 "Octant Plugin exec format error"
Hi Team, i have Antrea 0.7 on Kind 0.8.0 on Mac. i am trying to deploy Octant plugin for Octant as a process. Octant is deployed in my laptop.
after moving the antrea-octant-plugin file (the one that is generated under antrea/plugins/octant/bin) to the plugins folder i get below error,

(⎈ |kind-ali-kind-antrea:yelb)➜  octant git:(master) octant
2020-06-30T15:16:46.471+0400	INFO	dash/watcher.go:11

[2020-06-30 14:12] tnqn commented on #885
@mengdie-song could you take a look?

[2020-06-30 14:27] tnqn commented on #831
@alex-vmw I took a deep look with the logs you provided and managed to reproduce it by creating a short lifecycle pod.
It turns out to be an upstream issue that kubelet would create extra sandbox for a Pod whose RestartPolicy is OnFailure after all of its containers succeeded, while there might be another goroutine killing the Pod simultaneously, then CNI might get an invalid netns when it's calle

[2020-06-30 16:09] cantbewong commented on #883
another artificant - a 2017 ons conference deck on Kubenernetes with Open vSwitch [https://events19.linuxfoundation.org/wp-content/uploads/2017/12/Kubernetes-Networking-Made-Easy-with-Open-vSwitch-and-OpenFlow-P%C3%A9ter-Megyesi-LeanNet-ltd..pdf](https://events19.linuxfoundation.org/wp-content/uploads/2017/12/Kubernetes-Networking-Made-Easy-with-Open-vSwitch-and-OpenFlow-P%C3%A9ter-Megyesi-LeanNet

[2020-07-01 01:40] mengdie-song commented on #885
@aidrees Thanks for reporting the issue. Could you let me know which version of octant you are using?
It seems that you refer to the octant-plugin-installation.md on master branch and we just upgrade octant to 0.13.1 in this version.
Are you following the steps listed here https://github.com/vmware-tanzu/antrea/blob/master/docs/octant-plugin-installation.md#deploy-octant-and-antrea-octant-plugin-a

[2020-07-01 04:06] #463 closed

[2020-07-01 05:32] ruicao93 opened #889 "[Windows] Support enable Firewall on Windows worker nodes"
**Describe the problem/challenge you have**
A description of the current limitation/problem/challenge that you are experiencing.
Currently, antrea-agent require disable FW on Windows worker nodes to avoid traffic be blocked. This will increase the security risk.

We should support enable Firewall on Windows worker nodes while keep the essential connectivity.

**Describe the solution you'd like**
A

[2020-07-01 08:57] aidrees commented on #885
(⎈ |kind-ali-kind-antrea:default)➜  ~ octant version
Version:  0.13.1
Git commit:  72c5ea94283ab48cc6c2b7e91d7c901af031ecb3
Built:  2020-06-04T00:21:32Z

(⎈ |kind-ali-kind-antrea:default)➜  ~ antctl version
antctlVersion: v0.7.0
controllerVersion: v0.8.0-dev-3311637

(⎈ |kind-ali-kind-antrea:default)➜  ~ kind version
kind v0.8.1 go1.14.2 darwin/amd64

(⎈ |kind-ali-kind-antrea:default)➜  ~ antctl g

[2020-07-01 08:59] antrea-bot opened #890 "Can We add a Common Prefix to All Pod Interface Names on the Host"
**Describe the bug**
Usually Antrea Agent runs inside a VM. On KVM and VMware VMs, there exists some mechanisms such as vmware-tools and [open-vm-tools](https://github.com/vmware/open-vm-tools) for reporting guest OS memory, CPU and network information to the hypervisor. When there are many Pods on the VM, there will be a lot veth interfaces for Pods. Usually people want vmware-tools to ignore Pod

[2020-07-01 09:19] edwardbadboy opened #891 "Can We add a Common Prefix to All Pod Interface Names on the Host"
**Describe the problem/challenge you have**
Usually Antrea Agent runs inside a VM. There exist some mechanisms for reporting guest OS memory, CPU and network information to the hypervisor. For example, there are various guest-agents for KVM; and vmware-tools, [open-vm-tools](https://github.com/vmware/open-vm-tools) for vSphere. When there are many Pods on the VM, there will be a lot veth interface

[2020-07-01 09:19] edwardbadboy commented on #890
Sorry this issue is created by me. I used the wrong account. Created the following issue instead.
https://github.com/vmware-tanzu/antrea/issues/891

[2020-07-01 09:19] #890 closed

[2020-07-01 09:29] mengdie-song commented on #885
Hi @aidrees ,

My guess is that your OS is darwin and the steps I wrote in the doc is to compile antrea-octant-plugin for Linux.

For the issue you met here, I think you can try to change this line: https://github.com/vmware-tanzu/antrea/blob/master/plugins/octant/Makefile#L6 to the line below:
GOOS=darwin GOARCH=amd64 $(GO) build -o $(BINDIR) github.com/vmware-tanzu/antrea/plugins/octant/cmd/antr

[2020-07-01 09:41] aidrees commented on #885
Hi @mengdie-song

error has changed to below,

(⎈ |kind-ali-kind-antrea:default)➜  octant git:(master) ✗ octant
2020-07-01T13:40:06.746+0400	INFO	dash/watcher.go:116	watching config file	{"component": "config-watcher", "config": "/Users/alialidrees/.kube/config"}
2020-07-01T13:40:06.748+0400	INFO	module/manager.go:79	registering action	{"component": "module-manager", "actionPath": "action.octant.d

[2020-07-01 09:43] aidrees commented on #885
here is my Makefile,

SHELL  := /bin/bash
GO     ?= go
BINDIR ?= $(CURDIR)/bin

.PHONY: antrea-octant-plugin
antrea-octant-plugin:
	@mkdir -p $(BINDIR)
	GOOS=darwin GOARCH=amd64 $(GO) build -o $(BINDIR) github.com/vmware-tanzu/antrea/plugins/octant/cmd/antrea-octant-plugin

.PHONY: octant-plugins
octant-plugins:
	@mkdir -p $(BINDIR)
	GOOS=linux $(GO) build -o $(BINDIR) github.com/vmware-tanzu/antr

[2020-07-01 10:13] tnqn opened #892 "Document prerequisite of enabling antrea service proxy"
**Describe the bug**
I was trying the feature `AntreaProxy` but met pod connection issue after enabling it.
Thera are logs saying something is wrong:
[code]
It's impossible understand what the error messages mean.

I can find ovs-vswitchd logs with plain message:
[code]

Apparently my kernel module is too old, but it meets the requirement documented in https://github.com/vmware-tanzu/antrea/blob/m

[2020-07-01 20:42] antoninbas commented on #892
@tnqn just a quick note that the parsing of the OF error message is already tracked by https://github.com/vmware-tanzu/antrea/issues/571, but according to @wenyingd this is a pretty large amount of work.

Agreed for a separate document with list of experimental features and their requirements. I can take a stab at that.

[2020-07-01 20:58] antoninbas opened #893 "Improve e2e testing for gated features"
**Describe what you are trying to solve**
Writing e2e tests for gated features in alpha stage (disabled by default) is currently a bit clunky. Because Antrea components ignore updates to the ConfigMap when they are running, a restart is required for these changes to take effect. So the approach that consists in updating the ConfigMap as part of setting up a test case is not ideal, since it require

[2020-07-01 21:15] shapirov103 commented on #868
@jianjuns if you create a separate issue for automatic CIDR discovery (even if it is done similar to what I described) please let me know.

As far as the MTU parameter: may be in the documentation for EKS we should state the default is 9001 (which is inherited from EC2). If there is a way (I just used ip link on the pod) to also discover it automatically, then EKS installation is going to be super

[2020-07-01 22:15] antoninbas commented on #893
@Dyanngg pointed out to me offline that there could be a lot of redundancy since a lot of the tests will be run multiple times with minor changes in configuration. It is true, but 1) hopefully redundancy is not too much of an issue as hopefully the jobs can run in parallel (I don't know if Github puts a limit on parallel jobs), 2) redundancy can be good when a gated feature impacts several part of

[2020-07-01 22:19] antoninbas commented on #891
Adding the `veth` prefix sounds good to me. But we should discuss whether "first 6 characters from Pod name, 4 characters from hash value" is the best solution. Is 4 bytes of entropy enough? I guess in case of a name collision, we will just fail the Cmd Add, in which case kubelet will retry and a different hast will be selected. @tnqn what do you think?

[2020-07-01 23:13] jianjuns commented on #868
For EKS (networkPolicyOnly mode), we plan to switch to OVS kube-proxy soon, and that will remove the serviceCIDR parameter requirement.
For other cases, the problem is that we still feel no good way to discover serviceCIDR directly. @tnqn once looked into this, and can provide more comments.

For MTU, @reachjainrahul is working on MTU auto-discovery, and I think it will be available soon. We will

[2020-07-02 02:30] abhiraut opened #897 "Netpol test suite randomly fails when run in Kind and with tunnel type set to Geneve"
**Describe the bug**
Netpol test suite which tests network policy feature fails if run in Kind cluster with tunnel type set to Geneve. When tunnel type is set to VXLAN, the same set of tests pass.

**To Reproduce**
Run Netpol suite in Kind cluster created with tunnel type set to Geneve.

**Expected**
Tests should pass and not depend on tunnel type.

[2020-07-02 07:31] tnqn commented on #893
I totally agree they should be re-organized to be more efficient. My opinions as below:

For long term, a feature may be enabled by default so configmap may not be the only source of truth. Maybe we could share the function that parses config content and sets default value in cmd package, then all tests know the same config with antrea components. The only problem is that `config.go` is currectly

[2020-07-02 12:39] tnqn opened #898 "Enabling Traceflow feature caused ClusterNetworkPolicy to be enabled"
**Describe the bug**
Enabling Traceflow feature only, ClusterNetworkPolicy will be enabled too. This is because ClusterNetworkPolicy relies on the shared crdInformerFactory to be enabled/disabled.
[code]

**To Reproduce**
Enable Traceflow, create one ClusterNetworkPolicy, antrea-controller will handle the event and send related events to agent.
[code]

**Expected**
ClusterNetworkPolicy should cont

[2020-07-02 18:22] #892 closed

[2020-07-02 18:52] antoninbas opened #901 "Missing documentation for Traceflow API"
There is currently no documentation, whether for the CRD API or the UI Octant plugin (screenshots / a video may be useful there).

See the documentation we have for Antrea ClusterNetworkPolicies: https://github.com/vmware-tanzu/antrea/blob/master/docs/network-policy.md

[2020-07-02 21:55] #898 closed

[2020-07-02 23:36] #788 closed

[2020-07-02 23:49] srikartati opened #905 "Prometheus metrics: Change summary type metrics to histogram type metrics."
There are summary/summary vector type metrics in Antrea. As per [Kubernetes metric overhaul](https://github.com/kubernetes/enhancements/issues/1206), it is recommended to use histograms instead of summaries.  And the summary types are tagged for deprecation.
The main advantages of histogram types are [aggregation and inexpensive](https://prometheus.io/docs/practices/histograms/#:~:text=The%20essen

[2020-07-03 04:39] antoninbas commented on #631
I think we can close this and open follow-up issues as needed?

[2020-07-03 09:33] gran-vmv commented on #631
Sure. Please close this if no further work in 0.8

[2020-07-03 09:36] #631 closed

[2020-07-03 09:58] mengdie-song commented on #885
Hi @aidrees,

Quan and I have further tested antrea-octant-plugin on Mac.
We can meet the same issue if we miss the second step on the documentation. You need to export your kubeconfig path (file location depends on your setup) to environment variable $KUBECONFIG even when it's located in the default path. I will enhance this part later to check default location if users do not set the variable, b

[2020-07-03 21:27] antoninbas opened #912 "OVS pipeline documentation needs to be updated to account for ClusterNetworkPolicy"
As part of the CNP implementation, new OVS tables were added to enforce these new network policies. The [OVS pipeline document](https://github.com/vmware-tanzu/antrea/blob/master/docs/ovs-pipeline.md) needs to be updated accordingly.

[2020-07-05 11:37] aidrees commented on #885
Hi @mengdie-song,
just tried the file you pointed to and the problem is solved and the plugin works.
just needed to make it executable before running octant.
Thank you,
Ali

[2020-07-06 23:08] abhiraut commented on #598
@antoninbas @jianjuns safe to close this now? for individual follow up features like logging, other selectors, maybe we can open new issues

[2020-07-06 23:35] antoninbas commented on #598
I would say yes.This original proposal talks a lot about "Categories" but that falls under tiering and we pushed this to 0.9.0. Is there an issue to track this?

[2020-07-06 23:51] abhiraut opened #917 "Support Tiering of NetworkPolicies"
**Describe what you are trying to solve**
Add the ability to group NetworkPolicies (ClusterNetworkPolicy, K8s NetworkPolicy..) in a hierarchical fashion

**Describe the solution you have in mind**
Introduce a new CRD Tier(or Category) to group policies. More info -> https://docs.google.com/document/d/11VrDIoLiY33iRCv8RaETeTqlpfZZGNLevpvzzH160V8/edit#

**Describe how your solution impacts user flow

[2020-07-06 23:52] abhiraut commented on #598
Tiering aspect moved to https://github.com/vmware-tanzu/antrea/issues/917

[2020-07-06 23:52] #598 closed

[2020-07-07 00:49] jianjuns commented on #368
@xiaomingkou : have you done some validation already? If you yes, could you share your observations to understand the current gap?

[2020-07-07 01:29] wenyingd commented on #865
Having some offline discussion with @tnqn , using a single flow entry and a group entry to simulate broadcast in local(including local Pods and the host gateway) might make the OpenFlow design more complicated. Another concern is the group might be modified frequently whenever a new Pod is added or an existing Pod is removed, and this is possible to cause a flapping on the traffic.

We have anothe

[2020-07-07 04:25] jianjuns commented on #865
I think it is fine to set uplink to no-flood as a short term solution. For long term, let us consider flexible IPAM together - should we switch to /32 IPs or still keep subnet/L2 concept.

[2020-07-07 05:32] jianjuns commented on #889
@ruicao93 : so by default Windows firewall will block all traffic and we want to automate the firewall rules to allow Antrea traffic? As the first step, do you think we can document how to configure Windows firewall manually for Antrea to work?

[2020-07-07 15:04] yktsubo opened #919 "Check kernel version by antrea agent"
**Describe what you are trying to solve**
Currently, there is no kernel version check by agent. Hence agent keeps running with some openflow errors when your node kernel version doesn't meet the requirement.
I would expect agent doesn't make nodes Ready and exit with a proper error message such as "Kernel version doesn't meet  requirement."

**Describe the solution you have in mind**
initContainer

[2020-07-07 23:13] srikartati commented on #905
There are only three Antrea controller metrics that need to be changed to histogram type:
DurationAppliedToGroupSyncing
DurationAddressGroupSyncing
DurationInternalNetworkPolicySyncing

[2020-07-08 01:12] ruicao93 commented on #889
Thanks @jianjuns . I think it's adoptable to add doc to guide user configure the firewall manully before we implement the codes.

I will update the windows installation doc first.

[2020-07-08 01:34] ruicao93 opened #920 "[Windows] Manage OVS processes' lifecycle in antrea-agent Pod"
**Describe the problem/challenge you have**
A description of the current limitation/problem/challenge that you are experiencing.

On Linux side, we manage OVS processes in antrea-agent Pod. So we got advice about if we can also manage the OVS in same method on Windows worker nodes. Let's discuss necessity and feasibility of this topic.

**Describe the solution you'd like**
A description of what yo

[2020-07-08 03:22] ruicao93 commented on #920
@jianjuns @wenyingd :
I have investigated the potential solutions to manage OVS in antrea-agent Pod and add the investigation results in `Describe the solution you'd like` section.

Neither of the two potential solutions are feasible. So I think keep OVS processes as Windows service is the best way currently.
How do you think?

[2020-07-08 05:42] mengdie-song commented on #853
Have included pre-built octant plugins in the release assets, please check Antrea latest release v0.8.0.

[2020-07-08 05:42] #853 closed

[2020-07-08 05:49] mengdie-song commented on #853
I have another PR for updating octant plugin installation guide https://github.com/vmware-tanzu/antrea/pull/914 which has not been merged yet.
After downloading the binary, please make sure antrea-octant-plugin is executable, otherwise Octant can not find it.

[2020-07-08 06:20] lzhecheng opened #923 "[Antctl] Support Traceflow"
**Describe what you are trying to solve**
Antctl doesn't support Traceflow and users can only use Traceflow through octant UI.

**Describe the solution you have in mind**
Antctl supports Traceflow. It can create Traceflow and retrieve results.

**Describe how your solution impacts user flows**
* Create Traceflow

`antctl create traceflow/tf -S namespace/podSrc -D namespace/podDst // create a trace

[2020-07-08 07:15] antoninbas commented on #923
Is there an advantage to having 2 separate commands (one to create the CRD, one to get the result)? From a user perspective, I think it would be nicer to be able to run a single command, which would block until the CRD status becomes available. What do you think?
[code]

[2020-07-08 07:37] lzhecheng commented on #923
@antoninbas yes, I think it is good to wait for result when creating a new traceflow. Then what if user would like to check results of old traceflows? They may just want to see result of the last one instead of creating a new one.

This leads to another question about lifecycle of a traceflow. Should we keep traceflows forever? Or we may find a rule to do cleanup. What's your opinion?

[2020-07-08 07:53] vicky-liu commented on #923
I think we once talked about the TF CRD lifecycle control in traceflow demo. One of the option is to have the TF CRD to trace the flow one-time and cleanup automatically by UI or by CLI after getting result. Otherwise, the stale TF CRD will increase a lot during a few years. However If it's the user to create TF CRD, then it's user to cleanup. cc @jianjuns @McCodeman for opinion.

[2020-07-08 16:39] jianjuns commented on #923
On one hand, I think kbuectl apply + yaml is good enough and would not maintain multiple user interfaces; on the another hand I also agree antctl might still be more convenient for users. So, really have no strong opinion. Like to hear what others think.

[2020-07-08 16:43] jianjuns commented on #920
Could we at least create the Windows Service by the DS to avoid a separate installation process?

[2020-07-08 18:32] antoninbas commented on #923
I like the following:
* if a user wants to have full control, they can use kubectl and manipulate the CRDs directly
* if a user wants simplicity, they can use antctl with a single command; antctl will create the CRD, block until the status is available, display the result, then cleanup the CRD

[2020-07-08 22:02] antoninbas opened #924 "Confusing warnings when running `antrea-agent --version`"
**Describe the bug**
Since this change (#878), we get these warnings when checking the version of an antrea binary, or when running e2e tests:
[code]
We should avoid calling `GetCAConfigMapNamespace` to initialize a global `var` (`caConfigMapNamespace`), especially given the fact that the `var` is only used in one function.

[2020-07-08 23:16] abhiraut opened #927 "[Antctl]: Support commands to query AntreaPolicy types (CNP/ANP)"
**Describe the problem/challenge you have**
Antctl does not support retrieving internal objects corresponding to CNP

`antctl get networkpolicy` should support retrieving policies and objects related to CNP.

[2020-07-09 01:15] ruicao93 commented on #920
We can move the Windows Service installation in DS, but user still need to install OVS driver manually.

Do you think it's better to seperate the Windows Service installation from current OVS installation process?

[2020-07-09 06:51] lzhecheng commented on #923
Thanks @jianjuns @antoninbas . Then antctl should take care of whole lifecycle of traceflows created by it.

[2020-07-09 11:09] tnqn opened #934 "Pod IP was configured to Node's eth0 when Pods were created on a Node in parallel"
**Describe the bug**
It happened to @alex-vmw's cluster that some short-life Pods didn't get their IPs and caused connectivity issue.
It was observed that the missing Pod IPs were configured to Node's eth0 somehow, and there were a number of error logs like:
[code]
And there were FD leaks after Pods created and deleted.
[code]
The issue didn't happen when v0.5.1 was used.

**To Reproduce**
Running

[2020-07-09 12:10] tnqn commented on #934
### Root cause
GratuitousArpOverIface in "github.com/j-keck/arping" is not thread-safe as it uses global variables to keep socket and Sockaddr:
https://github.com/j-keck/arping/blob/1a9d8d0d4f43e32ed4df967f1b3fd67cee09f38c/arping_linux.go#L9-L10
When batch processing CNI ADD requests, race condition could happen and lead to FD leak and mismatch as the goroutine that sends gratuitous ARPs may close

[2020-07-09 16:13] tnqn commented on #923
I think it's good to have antctl to create the traceflow object even it can also be done with kubectl.
Similarly, I always create pod, deploy, service by `kubectl run`, `kubectl create deploy`, `kubectl expose`, instead of searching for a yaml template, changing it, applying it, which takes quite a lot of time. `antctl traceflow --args` style command is much more convenient.

For the lifecycle man

[2020-07-09 17:35] antoninbas commented on #923
I'm fine with additional flags to tweak the behavior, but I think the *default* should be the most common / simplest case for the user (wait for a reasonable amount of time and triggers the CRD deletion).

[2020-07-09 17:40] #934 closed

[2020-07-09 18:28] antoninbas commented on #934
I wanted to thank @alex-vmw for all the help he provided in troubleshooting this issue and the time he spent on this.

[2020-07-09 20:14] Dyanngg commented on #893
If a feature is enabled by default (when it reaches beta for example), shouldn't it be tested by default in
- Encap (default tunnel)
- Hybrid (default tunnel)
- NoEncap
rather than going though `IsFeatureEnabled`? This check should only run for alpha stage features?

[2020-07-09 20:16] antoninbas opened #936 "Support testing arbitrary Antrea images on EKS & GKE"
**Describe the bug**
The `ci/test-conformance-eks.sh` and `ci/test-conformance-gke.sh` scripts will always apply Antrea YAML manifests referencing `antrea/antrea-ubuntu:latest`. Because no Antrea Docker image is loaded on the Nodes, the image will always be pulled from dockerhub which means that these scripts cannot be used to test a specific Antrea ref.

Instead the scripts should be able to tar

[2020-07-09 20:59] antoninbas commented on #893
For features in Beta stage, we need to have tests with the feature disabled (while for features in Alpha stage the extra tests are with the feature enabled). So I think Quan's point was that we need both the ConfigMap + knowledge about whether a feature is enabled / disabled by default.

@tnqn regarding your proposal, when a feature is in Beta, we ideally should have some code coverage to ensure t

[2020-07-10 04:30] #865 closed

[2020-07-10 04:34] ruicao93 commented on #920
As we discuessed in the meeting. Let's keep using OVS processes as services in current stage because the method is enough easy and stable.

We gained a lot of experience duing the investigation. It will be great helpful if we decide to convert the OVS management to Pod in the future.

[2020-07-10 04:34] #920 closed

[2020-07-10 04:34] #924 closed

[2020-07-10 05:29] abhiraut opened #937 "Traceflow fails with "bundle reply is timeout""
**Describe the bug**
Start a trace between two pods using traceflow CRD. Status fails with the following error

[code]

**To Reproduce**
Following yaml used for Traceflow

[code]

**Expected**
Expected trace to succeed

**Actual behavior**
Trace failed with "bundle reply is timeout"

**Versions:**
Please provide the following information:

 - Linux kernel version on the Kubernetes Nodes (`uname -r

[2020-07-10 05:29] abhiraut commented on #937
/cc @tnqn

[2020-07-10 06:26] gran-vmv commented on #937
@abhiraut Could you share environment info with @wenyingd and me? We have hit this issue before, but cannot analyze the root cause without access to OVS.

[2020-07-10 07:44] weiqiangt opened #939 "Use an Antrea base image instead of Ubuntu"
**Describe what you are trying to solve**
So far, when building an Antrea image, we always need to try to update and download outer dependencies, such as CNI binaries, wget. And we had met several failures due to network errors when fetching dependencies.

**Describe the solution you have in mind**
Instead of building dependency layers on ubuntu we can use an Antrea base layer.

**Describe how you

[2020-07-10 10:02] gran-vmv commented on #937
@abhiraut Wenying and I found the root cause.
I'll enhance the reliability on below code snippet in pkg/agent/openflow/packetin.go:
[code]
You won't get this error if you have fixed the comment https://github.com/vmware-tanzu/antrea/pull/918#pullrequestreview-446165465
But if you get this error again, please workaround this by changing from `return false, err` to `return false, nil`

[2020-07-10 12:31] wenyingd commented on #937
The root cause is, some error happend in PacketInHandler, which causes the thread jump out of the for-loop. There is a channel between the PacketInHandler and the ofnet, ofnet is blocking at sending new "PacketIn" message into the channel (no consumer is at the other side of the channel at that time). Hence, ofnet could not handle the next "inbound" message. But ofnet's "outbound" channel is worki

[2020-07-10 19:40] srikartati commented on #893
I am trying to employ this methodology for flow exporter e2e tests.
To solve the redundancy issue, where only specific tests are required for specific features such as trace flow, flow exporter, we could add tests with run option in the following command when starting job:
 go test -v -timeout=30m github.com/vmware-tanzu/antrea/test/e2e -provider=kind -run <tests>

Feel this might be easier when c

[2020-07-11 01:42] antoninbas commented on #893
That could work as well, but maybe relying on the test name is not as convenient as using "tags" (like upstream tests) or running specific tests based on a desired set of features.

I do think that the list of jobs given above (every traffic mode X {default, `AllAlpha:true`, `AllBeta: false`}) is the easiest to maintain. We should have a way to select tests more specifically (e.g. based on a featu

[2020-07-11 09:35] MatthewHinton56 commented on #730
Hello, Can I take this issue?

If so, should third_party/proxy be updated to a version using v2?

[2020-07-13 08:27] mengdie-song commented on #885
Have updated octant plugin installation guide with more details https://github.com/vmware-tanzu/antrea/blob/master/docs/octant-plugin-installation.md#deploy-octant-and-antrea-octant-plugin-as-a-process, mark it closed.

[2020-07-13 08:27] #885 closed

[2020-07-13 12:27] lzhecheng opened #945 "[Traceflow] IP6 wrong link-layer encapsulation"
**Describe the bug**
When a users starts an inter-node traceflow and dumps Geneve packet with `tcpdump`, the user will find a packet saying that "IP6 wrong link-layer encapsulation". Also, the user cannot dump the correct traceflow packet.

**To Reproduce**
* Start a traceflow
* Dump Geneve packet with `tcpdump`

**Expected**
A correct traceflow packet.

**Actual behavior**
A packet saying that "I

[2020-07-13 13:09] wenyingd opened #947 "Windows NodePort Service doesn't work if the traffic is sent out from the local Pod"
**Describe the bug**
Orignally, the global vMAC is used as a mark to ensure OVS could rewrite the packet's MAC with the real value when matching local Pod's IP address in the L3Routing table. After Antrea Proxy is enabled, a new mark in reg0[19] is used for such target.

On Windows Nodes, an OpenFlow entry is added in the Classifier table to ensure that the packet sent from the Node's IP (not from

[2020-07-13 18:14] abhiraut commented on #730
Absolutely!
Regarding the third_party packages, our aim is to remove that dependency by working on https://github.com/kubernetes/kubernetes/issues/92369, so we can skip that for now.

[2020-07-14 04:37] abhiraut commented on #136
can you link the google doc here? Thanks

[2020-07-14 04:47] wenyingd commented on #136
The design doc is https://docs.google.com/document/d/1ufIwWeopZRaNKQNXhXx3sU89YloWztlk2oMMBzQdk28/edit#

[2020-07-14 06:39] wenyingd commented on #136
I want to have some confirmation about the open issue mentioned in the design doc about if SNAT is supported with IPv6.

According to the discussion in the community meeting, a fully routed topology with IPv6 is strongly dependent on the infrastructure configuration on IPv6. So we could  **start with SNAT enabled in Encap mode as the first step, and then support No-SNAT in the NoEncap network**.

[2020-07-14 08:36] #945 closed

[2020-07-14 17:02] jianjuns commented on #136
Sounds good to me!

[2020-07-15 01:59] #947 closed

[2020-07-15 23:38] agiannif commented on #628
I can take a shot at this!

[2020-07-15 23:39] antoninbas commented on #628
Awesome @agiannif! Looking forward to your contribution.

[2020-07-16 00:35] #912 closed

[2020-07-17 04:21] #939 closed

[2020-07-17 16:53] srikartati commented on #799
Assigning this to Yuki as he was planning to add tests for the metrics he worked on. Please let me know if that doesn't work for you @yktsubo

[2020-07-17 23:55] yktsubo commented on #799
Thank you, I'll add tests for newly added agents metrics.

[2020-07-18 02:05] jayunit100 opened #963 "Checked-in YAML manifests for git tag point to latest Antrea image, which is confusing"
**Describe the bug**

https://raw.githubusercontent.com/vmware-tanzu/antrea/v0.7.2/build/yamls/antrea.yml
https://raw.githubusercontent.com/vmware-tanzu/antrea/v0.8.0/build/yamls/antrea.yml

points to "antrea-ubuntu":latest

**To Reproduce**

curl the url above, grep latest :)

[2020-07-18 03:23] antoninbas commented on #963
These are not the manifests we release. The manifest that is part of the repo always points to latest on purpose, and you are just looking at the source tree for specific tags here. You need to look into release assets: https://github.com/vmware-tanzu/antrea/releases

e.g. https://github.com/vmware-tanzu/antrea/releases/download/v0.8.2/antrea.yml

[2020-07-18 11:42] jayunit100 commented on #963
Ok. Is that a change or has it always been this way?

[2020-07-18 11:42] jayunit100 commented on #963
(I can close this if needed)

[2020-07-18 13:31] jayunit100 commented on #963
renamed the issue since now i realize this was my mistake :), but still think maybe should  rename it unless it will cause heavy breaking of things, to something like `master` or `latest` .... just to avoid confusion since its referenced in the readme.

[2020-07-20 06:35] #937 closed

[2020-07-20 14:09] sudswasavi opened #969 "NodePort Local in Antrea"
**Describe what you are trying to solve**
Current NodePort implementation using kube-proxy provides an easy way to expose a service’s port on a kubernetes’ node’s port. Irrespective of where the actual pod runs, nodeport exposes a port on every node. While, this is a quick and easy solution to create a service of type loadbalancer (and any application pod) for external connectivity, it has the fol

[2020-07-20 16:25] srikartati commented on #905
I posted the intention of this change in Slack and google groups, and there were no concerns.
As this is a direct swap of metrics type for the above-mentioned metrics, I am tagging this as a good first issue.

[2020-07-20 17:26] antoninbas commented on #963
We can rename them, but at the very least it would require us to update all CI

I didn't find a reference to it in the README. There is a reference in the [getting started doc](https://github.com/vmware-tanzu/antrea/blob/master/docs/getting-started.md#installation) but I think this section does a pretty good job of explaining which YAML to use to deploy a released version of Antrea.

We can keep t

[2020-07-21 00:08] jayunit100 commented on #963
your call close if needed antonin

[2020-07-21 02:35] wenyingd commented on #761
Since Antrea Proxy is merged in release 0.8.0, NetworkPolicy could work on Windows Nodes. So close this issue.

[2020-07-21 02:35] #761 closed

[2020-07-21 03:13] wenyingd commented on #136
According to the discussion, Encap mode should be supported at the first phase. Hence, following sub tasks might be needed

Consume Node.Spec.CIDRs to parse multiple Pod Subnets
Improve IPAM plugin to support both IPv4 and IPv6 addresses allocation, and configured them on the container
Configure host routes and OpenFlow entries to support Pod L3 connectivity with IPv6
Add support for IPv6 in Servi

[2020-07-21 21:54] abhiraut commented on #776
We also need to consider the impact on ClusterNetworkPolicy related rules.. because we share code in agents for the same and whether we want to/can do something similar for CNP as well.
Btw .. how does it have an impact on NP performance?

Another question is that we are also planning to log matched traffic based for a NetworkPolicy rule(for which logging is enabled). I don't think we want to log

[2020-07-21 22:26] jakesokol1 opened #974 "antctl query"
**Describe what you are trying to solve**
It is difficult to track network policies for very large clusters. To determine which policies apply to any given endpoint, a user must examine the entire set of network policies and the entire set of selectors for each policy to find a match. This represents a burden for large scale kubernetes clusters with complex policy structures, and one which has bee

[2020-07-22 02:00] wenyingd commented on #776
Having some discussions with @tnqn and @weiqiangt , we plan to use a single table dedicated on collecting the metics for Egress rule, and another one for Ingress rule. If we have similar requirement for CNP, there should be another two tables for CNP Egress rules and CNP Ingress rules. And the current implementations for NetworkPolicy rule doesn't change.

Originally, we thought about using ct_nw_

[2020-07-22 06:02] lzhecheng commented on #923
Currently the very basic implementation of `antctl traceflow` is finished. It takes two required options: `source` and `destination`. Also, it creates, retrieves and deletes CRD as soon as the command returns.

Here are some remaining issues:
1. Support more options like those in `Packet` field.
2. Support "--wait" option. @tnqn In this case, I think the antctl just create the traceflow CRD, right

[2020-07-22 06:24] weiqiangt opened #975 "New version kustomize generate different YAML"
**Describe the bug**
Kustomize with version [v3.8.0](https://github.com/kubernetes-sigs/kustomize/tree/kustomize/v3.8.0) will change the order
of fields in some cases, thus generated YAMLs are different between v3.3.0 and latest. This will cause the manifest-generate check to fail.

**To Reproduce**
Use kustomize v3.8.0+ to run `make manifest`.

**Expected**
The newly generated YAMLs should pass t

[2020-07-22 17:07] tnqn opened #976 "Support self-signed certificate rotation"
**Describe the bug**
Antrea supports certificate rotation for user provided certificate: https://github.com/vmware-tanzu/antrea/blob/master/docs/securing-control-plane.md#certificate-rotation. It assumes either user or cert-manager will update the secret before expiry.
But for `selfSignedCert=true` case, Antrea generates a static certificate which has one year expiration and doesn't rotate it, tho

[2020-07-23 08:41] lzhecheng commented on #923
@gran-vmv @mengdie-song Currently, command provides options for source and destination. How many other fields should be supported like header specs? I think this should be a quick and handy command to start a traceflow. If there are many fields to config, maybe applying a yaml file is better?

[2020-07-23 16:14] jianjuns commented on #923
I think you can also refer to antctl trace-packet command arguments. It uses OVS flow expression to define the packets. Let us first check if that can cover TF parameters or not.

[2020-07-24 05:56] lzhecheng commented on #923
Thank you Jianjun! I added protocol and port options.

[2020-07-27 18:22] tnqn opened #985 "Support NetworkPolicy statistics"
**Describe what you are trying to solve**
This proposal is to collect and expose the statistical data of NetworkPolicy. `antrea-controller` collects NetworkPolicy metrics from `antrea-agent`, aggregates the data, and exposes them through the antrea metrics API.

Monitoring solutions and users can access the data via the metrics API. It can also be accessed by `antctl get metrics networkpolicy`, ma

[2020-07-27 20:09] antoninbas commented on #976
I think this is a good feature to have. I am not sure the parallel with kubelet certificate rotation is too accurate, since in that case kubelet requests a new signed certificate from the controller manager.

I noticed that kubeadm has an alpha feature to trigger a manual certificate rotation (https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#manual-certificate-renewal). D

[2020-07-28 03:39] srikartati commented on #776
Hi @wenyingd ,
 ct_label would be good I think. However, I have couple of questions (more like clarification).
1. In ct_nw_XX methodology: As ct_nw_XX supports subnet masks, the resulting OVS flow count may not be same as the number of connections in conntrack table, but potentially lower right?
2. Why will metrics need separate tables? Is there any problem in using existing egress and ingress tab

[2020-07-28 04:10] wenyingd commented on #776
For ct_nw_XX, the subnet masks is controllable. If we want to keep the count the same as the connections, we could use 32 bit mask.

We use a seperate table to collect the metircs because we don't want to change the NetworkPolicy function flows. So in the original function table,  we could still use a single flow with match condition "ct_state=-new+est" to allow all established connections. But th

[2020-07-28 05:00] jianjuns commented on #985
Question - for controller API to expose aggregated policy stats, do we need to follow some format to facilitate Prometheus consumption too?

[2020-07-28 05:17] tnqn commented on #985
I don't know whether Prometheus is suitable to collect the metrics data for dynamically created/destroyed resources, didn't see the Kubernetes metrics API takes Prometheus into consideration: https://github.com/kubernetes/metrics#apis.

@ksamoray do you know a similar case of Prometheus integrated apps or whether it supports metrics for frequently created/destroyed resources?

If we really want to

[2020-07-28 05:30] srikartati commented on #985
Will these statistics support denied/not allowed sessions, packets, and bytes too?

[2020-07-28 05:52] ksamoray commented on #985
@tnqn I haven't really ran into such use case, where Prometheus manages metrics with a short lifespan. I can look around and conduct a couple of experiments. I believe that Prometheus will store these metrics even after they're not reported anymore at /metrics.
It is possible to expose these via /metrics and consume them via other apps (there's a parser for the Prometheus output). But then, if Pro

[2020-07-28 05:56] tnqn commented on #985
For Antrea specific NetworkPolicies that have DROP action, the sessions, packets, and bytes will be for denied traffic, though sessions and packets should be same in this case.

[2020-07-28 06:07] tnqn commented on #985
Thanks @ksamoray for you quick answer. The cleanup for stale items is also my concern. Good to know that this parser approach that allows antrea maintain a single API even if user wants the data in their Prometheus server, is it Prometheus official mechanism or 3rd party tool?

[2020-07-28 06:35] srikartati commented on #985
Regarding network policies metrics at Prometheus server: Are deleted network policies should really be considered as stale? There may be a use case, where a user wants to see network policy metrics say 12 hours ago for a duration of one hour. In this scenario, deleted network policy data would still be useful. I am presuming the Prometheus server will have a configurable time period to save the me

[2020-07-28 17:36] ksamoray commented on #985
Any metric which would be exposed on the Agent's /metrics endpoint can be defined as a Prometheus metric and will be scraped by the Prometheus server. Prometheus server stores scraped metrics in its tsdb to a predefined retention (defaults to 15 days), even if the metric has been unregistered on the agent.
This is not a problem as tsdb storage is fairly "cheap", and as @srikartati suggested, could

[2020-07-29 02:23] antoninbas opened #989 "Obtain "passing" CII Best Practices badge"
The badge (https://bestpractices.coreinfrastructure.org/en) relies on a self-certification process. To obtain a "passing" badge, a set of criteria must be met (additional criteria for the "silver" and the "gold" badges). Antrea already meets a lot of them, but looking at the remaining ones, addressing potential issues, and obtaining a badge is a good way to make the project even better. The CII Be

[2020-07-29 02:23] antoninbas commented on #989
I have started a CII Best practices project here: https://bestpractices.coreinfrastructure.org/en/projects/4173

[2020-07-30 02:18] lzhecheng opened #1002 "[Enhancement] t.Error for cleanup functions"
**Describe the problem/challenge you have**
Suggested by @antoninbas , it is better to use `t.Error` instead of `t.Fatal` in cleanup functions.

**Describe the solution you'd like**
Reconsider the usage of `t.Error` and `t.Fatal`.

[2020-07-30 03:17] ZhangYW18 opened #1003 "Openflow builder interface for matching DSCP header"
**Describe the problem/challenge you have**
Antrea traceflow needs to use DSCP for dataplaneTag, while now Antrea Openflow builder does not have support for matching DSCP header.

**Describe the solution you'd like**
A new function that matches DSCP header.

**Anything else you would like to add?**
Anything else which is relevant and may help us understand the issue.

[2020-07-30 03:28] antoninbas commented on #1002
I indeed think it is probably better to call `t.Error`, but it only really matters if your cleanup function needs to take multiple actions, like in the following example:
[code]
Calling `t.Fatal` means that if `cleanupAction1` fails, then `cleanupAction2` won't be performed, which is not ideal.

[2020-07-30 03:31] antoninbas commented on #1003
I thought we use an option TLV in the Geneve header for the dataplane tag? Is this feature desired in order to support TraceFlow for other encap protocols?

[2020-07-30 04:02] gran-vmv commented on #1003
Yes, this feature is to support Traceflow for other encap protocols and no encap mode.
Meanwhile, I found it might get wrong dataplane tag when OVS decapsulate a geneve packet with tun_metadata0, thus I feel we can try DSCP instead.

[2020-07-30 19:02] jayunit100 commented on #723
Calico allows you to quickly toggle a protocol and gives you an instant read out of the new routing tables.  Without this change, there is an inconsitency in the state of the antrea configmap and the actual state of the routing tables.

[2020-07-30 20:05] srikartati opened #1004 "Tracking "not allowed"/"denied" connections at Antrea Agent"
**Describe what you are trying to solve**
Connection tracking table only holds "allowed" connections that are matched through network policy rules. We do not know what connections are dropped or denied, and also statistics associated with them. These connections will be useful for flow visibility feature giving an account of denied connections for the user, specifically flow exporter can export th

[2020-07-30 22:49] antoninbas commented on #1004
I think you have to put a safeguard in place to make sure that the CPU doesn't get flooded by packetins. Otherwise a compromised Pod could just generated denied connections specifically to trigger packetins and flood the Antrea Agent. That means that some packetins could be dropped and the Agent would miss some "connection denied" events. Maybe we should also have a way to prioritize Traceflow pac

[2020-07-30 22:52] antoninbas commented on #1003
So is there a bu in the current traceflow implementation or in OVS? Or is this expected behavior?

[2020-07-31 00:41] abhiraut opened #1007 "Antrea NetworkPolicy CRDs should support audit logging"
**Describe the problem/challenge you have**
A description of the current limitation/problem/challenge that you are experiencing.
Currently there is no way to enable/disable logging for firewall rules created corresponding to Antrea network policy CRDs. This limits admins from auditing network traffic.

**Describe the solution you'd like**
A description of what you want to happen.
Introduce a new f

[2020-07-31 00:49] qiyueyao commented on #1007
Assigned to Qiyue.

[2020-07-31 01:29] gran-vmv commented on #1003
This should be a bug in OVS. I checked Geneve packet by tcpdump, and the dataplaneTag is correct, but sometimes get wrong result in OVS on receiver Node.

[2020-07-31 05:26] antoninbas opened #1012 "Linters are not run on files with windows build tag"
**Describe the bug**
We currently only invoke the linters (with golangci-lint, as part of CI) with `GOOS` set to Linux:
https://github.com/vmware-tanzu/antrea/blob/43dcdf949142f4e98867b2111069fefae1516e32/Makefile#L187-L197

This means that Windows-specific build files are not covered by the linters. We should consider invoking the linters a second time with `GOOS=windows` (unless there is a bette

[2020-07-31 11:02] jayunit100 commented on #723
You also could just have the agent  crash immediately on configmap hash changes probably without having to make any other major changes....

[2020-07-31 18:35] #730 closed

[2020-07-31 21:25] antoninbas opened #1016 "Enable "go vet" linter in CI"
As part of CI we should run the ["go vet" linter](https://golang.org/cmd/vet/), which may help detect some common Go programming errors early and in an automated way.

The linter can be enabled by editing the golangci-lint [config file](https://github.com/vmware-tanzu/antrea/blob/master/.golangci.yml). I did a quick test locally, and there are some warnings to take care of (or tell the linter to i

[2020-07-31 21:39] suwang48404 opened #1017 "make manifest in docker"
**Describe the problem/challenge you have**
Each version of kustomize may produce an variant (in format) of same manifest yaml (in content), as such check_manifest may fail in CI, if developers' kustomize and CI's kustomize version is different.

**Describe the solution you'd like**
Consider dockerize manifest generation and checking.

[2020-07-31 22:06] antoninbas opened #1018 "Run K-Bench on dedicated testbed as part of Antrea CI"
[K-Bench](https://github.com/vmware-tanzu/k-bench) is a framework to benchmark the control and data plane aspects of a Kubernetes infrastructure. In particular,  it includes metrics for network performance (inter-Node Pod throughout, intra-Node Pod throughput, latency, ...).

I believe we should run some performance tests using K-Bench as a daily CI job, using the Antrea ToT as the CNI. The testbe

[2020-07-31 22:18] alex-vmw opened #1019 "antrea-ovs container crashed and got stuck rebooting on a node for 25 minutes"
**Describe the bug**
antrea-ovs container crashed and got stuck rebooting on a node for 25 minutes and recovered after node was drained:
[code]

**To Reproduce**
Do not know to reproduce.

**Expected**
antrea-ovs container should not crash, but if it does it should recover on first restart and not reboot for 25 minutes, causing pods to loose network connectivity.

**Actual behavior**
antrea-ovs co

[2020-07-31 23:21] alex-vmw opened #1022 "failed to get of_port of OVS port xxxxxxxx-yyyyyy: timed out: "wait" timed out after 5002 ms"
**Describe the bug**
After increasing the timeout to 5 seconds for getting the of_port (https://github.com/vmware-tanzu/antrea/pull/830), we stopped getting thousands of the timeout errors, until last night. We had a single node that started to continuously fail pod creation until we cordoned it off (more than 122,000 errors in less than 2 days). The node produced thousands of errors like below:
[

[2020-08-01 22:59] MatthewHinton56 commented on #1016
Can I claim this.

[2020-08-02 04:50] MatthewHinton56 commented on #976
Can I claim this issue? Thank you

[2020-08-03 01:05] #1003 closed

[2020-08-03 15:01] ksamoray opened #1026 "AntreaProxy feature is missing in pipeline doc"
[OVS Pipeline document](https://github.com/vmware-tanzu/antrea/blob/master/docs/ovs-pipeline.md) is missing AntreaProxy.

[2020-08-03 17:59] alex-vmw commented on #1019
One interesting thing, this happened on same node as antrea-controller was running on and not on any other node in the cluster!

[2020-08-03 18:31] antoninbas commented on #1026
Thanks Kobi. I think we should make sure we have updated the doc by the time Antrea proxy is enabled by default.

[2020-08-03 20:18] antoninbas opened #1027 "Windows Jenkins CI jobs fail when fork's name is not "antrea""
**Describe the bug**
For a PR like this one (https://github.com/vmware-tanzu/antrea/pull/1021), for which the fork's name is not simply "antrea" (in the case of that PR, it is "antrea-1"), the windows CI jobs fail with an error like this one:
[code]
A quick fix would be to always clone the fork as "antrea", instead of using the fork's name (default with `git`).

I tried to see if I could fix the i

[2020-08-03 20:45] #630 closed

[2020-08-04 02:06] lzhecheng commented on #1027
Fixed this by: `git clone ${ghprbAuthorRepoGitUrl} antrea`
Verified on PR #1021 .

[2020-08-04 02:06] #1027 closed

[2020-08-04 03:28] antoninbas commented on #1027
Thanks for the quick fix @lzhecheng

[2020-08-04 09:53] ruicao93 commented on #1019
From agent log we found many resource temporarily unavailable issue. It seems that the PIDs are exhausted on the issue node. Which may caused OVS cannot run properly.
[code]

@alex-vmw Could you help collect the process usage info on the issue nodes?

ovs-vswitchd and ovsdb-server are always exit with code 0:
[code]

[2020-08-04 16:24] tnqn commented on #976
I think it has value to have an API and `antctl` to force the controller to generate a new self-signed certificate, maybe useful when the certificate is considered leaked or user's security policy require more frequent certificate rotation.

[2020-08-04 17:21] antoninbas opened #1032 "Antrea GKE CI job keeps failing"
**Describe the bug**
It seems that the job is failing most of the time. Last 6 runs failed, but every time it was a different job failing:
[code]
[code]
[code]
[code]
And so on...

**Expected**
Tests should pass consistently.

**Actual behavior**
The job is flaky, but it is never the same test failing.

**Versions:**
Antrea TOT

**Additional context**
Full build history: http://jenkins.antrea-ci.r

[2020-08-04 18:39] McCodeman opened #1033 "Connection Tracking Metrics"
**Describe the problem/challenge you have**
My team is seeing a ceiling on the number of connections allowed for certain workloads. Connections are dropped after a simultaneous connection threshold is reached. We think it may be due to connection tracking table saturation.

**Describe the solution you'd like**
We think a new metric showing the current number of connection in the connection trackin

[2020-08-05 01:37] antoninbas opened #1035 "Watches always fail to start once when agent restarts"
**Describe the bug**
I don't know if this is a bug, but when force restarting an Antrea Agent on a Node (by deleting the previous Pod), I always see these logs on restart:
[code]
Notice the warnings.

The call to this function is failing:
https://github.com/vmware-tanzu/antrea/blob/5be570b203cde54f42eaeb8f52a4353f846ff214/pkg/agent/client.go#L72-L76
I believe this is because the apiserver code use

[2020-08-05 04:53] alex-vmw opened #1036 "antrea-controller log is continuously spammed by useless messages"
**Describe the bug**
antrea-controller log is continuously spammed by useless messages. They are continually coming in at a rate of 10+ per second:
[code]

**To Reproduce**
Unknown. We are just running a basic install of antrea-controller, nothing more.

**Expected**
antrea-controller log shouldn't get continuously spammed by useless messages.

**Actual behavior**
antrea-controller log is continuo

[2020-08-05 05:19] ruicao93 commented on #1019
After search more logs from loginsight, we can found that `antrea-ovs` container was stopped permanentl:
[code]

We believe that  `antrea-ovs`  container was stopped due to `Liveness probe failed` as we say many following log during issue time:
[code]
We don't see any related OOM log, so we there might be process runout which caused the issue. I will try to repro locally for this guess.

[2020-08-05 09:42] tnqn opened #1038 "Imports order should be tidied automatically"
**Describe the bug**
It took reviewer's effort to check the tidiness of imports and wasted review cycles to comment and address the issues of them. And they could be missed, e.g.
https://github.com/vmware-tanzu/antrea/blob/3f84fe3ffa475c9afae604f00c3732082e5d0e0f/test/e2e/providers/kind.go#L17-L23

The linter [goimports](https://godoc.org/golang.org/x/tools/cmd/goimports) can handle it automatical

[2020-08-05 13:45] tnqn opened #1041 "High cpu usage of groupPodsByServices"
**Describe the bug**
When a NetworkPolicy egress rule had ports specified and had a large AddressGroup which has a large number of Pods, it took quite a little CPU time to execute `groupPodsByServices` in antrea-agent. And if the rule applied to Pods across all Nodes, it would lead to CPU usage burst of the cluster, affecting the healthy of the whole cluster.

[code]

<img width="807" alt="Screen

[2020-08-05 14:28] tnqn commented on #1041
With #1031, the cpu usage was greatly reduced:
<img width="1011" alt="Screen Shot 2020-08-05 at 10 25 52 PM" src="https://user-images.githubusercontent.com/5331316/89424663-a56b4f80-d76a-11ea-91b3-46f1353f16e3.png">

[2020-08-05 16:35] tnqn commented on #1035
@antoninbas thanks for filing it, I think your analysis makes sense. `ConfigMapCAController.RunOnce()` seems useless as the cache is not synced for sure when it's called.
I think we could add a wait to `networkPolicyController.Run` to avoid the warnings.

[2020-08-05 16:42] tnqn commented on #1035
Had a quick PR to fix it: #1042

[2020-08-05 17:42] antoninbas opened #1043 "IPsec functionality is broken"
**Describe the bug**
When trying to build and install OVS from source outside of Docker by following the same steps as in this [Dockerfile](https://github.com/vmware-tanzu/antrea/blob/v0.8.2/build/images/ovs/Dockerfile), @lzhecheng realized that there was a bug in OVS: https://github.com/openvswitch/ovs-issues/issues/192. The ovs-monitor-ipsec script was not updated properly when OVS transitioned

[2020-08-05 17:43] antoninbas commented on #1043
We may not want for the OVS bug to be fixed upstream to fix this issue. Instead we can add a patch [here](https://github.com/vmware-tanzu/antrea/blob/master/build/images/ovs/apply-patches.sh). The patch could:
- change the shebang in the ovs-monitor-ipsec to use Python2 (assuming the script still works with Python2)
- fix the script so that the code is valid Python3 code

[2020-08-05 23:50] antoninbas commented on #1022
I looked at this issue with @alex-vmw. At this point we are pretty convinced that this is the same issues as this:
* https://github.com/openvswitch/ovs-issues/issues/175
* https://bugs.launchpad.net/ubuntu/+source/openvswitch/+bug/1839592

This leads us to this glibc bug: https://sourceware.org/bugzilla/show_bug.cgi?id=23861. We confirmed that the glibc version shipped in the Antrea Docker image (

[2020-08-06 02:15] tnqn commented on #1022
@antoninbas @alex-vmw great finding!
I'm open to switching to Ubuntu 20.04 but I don't really know the potential risks, would see @jianjuns's input.

[2020-08-06 02:20] ruicao93 commented on #1019
I limit the max process number locally and the issue can be reproduce.

Alex also found that some of worker nodes in testbed contains more than 20k processes. It's approaching the limit of node(32K).

Alex has increased the proc max limit on worker nodes,  let's see if the issue still exists after the change.

[2020-08-06 02:24] jianjuns commented on #1022
I think fine to switch to 20.04. It has been released for a while.

[2020-08-06 05:09] wenyingd opened #1044 "Scale issue: kube-apiserver memory increases a lot when restarting Antrea Agent in scale setup"
**Describe the bug**
After multiple Antrea Agents is restarted (delete the original Antrea Agent Pod), the RSS value of kube-apiserver should increase a lot.

Antrea Agent tries to list all Pods on current Node from kube-apiserver to reconcile when it starts, and kube-apiserver tries to pull all Pods from the backend etcd server to serve the request. This causes a lot of temp data is pulled into t

[2020-08-06 05:56] #1038 closed

[2020-08-06 09:16] wenyingd commented on #1044
The issue is introduced because, although kube-apiserver has a cache in the memory, it still uses the remote storage ( etcd ) to servie every "List" request if the resourceVersion is not set in the request. Antrea Agent will list all Pods located on the current Node it boots up, and no resourceVersion is set in the request, so the request will trigger kube-apiserver to pull data from the etcd serv

[2020-08-06 16:26] tnqn opened #1048 "Support csum option on OVS tunnels"
**Describe what you are trying to solve**
OVS supports enabling UDP checksum computation, which can boost the Geneve/VXLAN tunnel throughput greatly by triggering GRO on the receiver: https://mail.openvswitch.org/pipermail/ovs-dev/2015-August/302878.html.

- Openstack neutron has supported this option https://bugs.launchpad.net/neutron/+bug/1492111 for performance consideration.
- Linux kernel def

[2020-08-06 18:32] srikartati commented on #897
Changing networkPolicyDelay to 20s helps in passing the test for geneve tunnel.
https://github.com/vmware-tanzu/antrea/blob/master/hack/netpol/pkg/main/main.go#L27

I ran network policy realization benchmark test with geneve and vxlan tunnel to see difference in realization times:
`go test -v github.com/vmware-tanzu/antrea/test/e2e -provider=kind -run=xxx -bench=BenchmarkRealizeNetworkPolicy`

Wit

[2020-08-06 19:06] Dyanngg commented on #1032
Some findings after digging into the full logs of this particular failure: http://jenkins.antrea-ci.rocks/view/cloud/job/cloud-antrea-gke-conformance-net-policy/52/

It seems that the testcase `[sig-network] NetworkPolicy [LinuxOnly] NetworkPolicy between server and client should enforce updated policy [Feature:NetworkPolicy]` failed before any NetworkPolicy is applied.
 In most of the testcases d

[2020-08-06 19:29] antoninbas commented on #897
It's more like a 4x difference, but I agree it could explain the issue under certain circumstances. Before thinking about a fix, we need to find an explanation for this if we can:
* check if for some reason this is caused by executing the `ovs-ofctl dump-flows` command.
* add more logs in the agent if needed to try and isolate the issue. I would suggest looking at `AddFlowsInBundle` and seeing if

[2020-08-06 19:31] antoninbas commented on #1032
@Dyanngg you can experiment with VXLAN if you want, but if this started happening after the switch to Geneve, then I think it may indeed be connected to #897. If @srikartati is working on this actively, maybe we can wait and see if there is progress in the next couple days.

[2020-08-06 22:08] srikartati commented on #897
Yes its not 10x.. don't know why I said that (I was looking at other numbers in parallel).
Thanks for the pointers. Let me try in that direction.
Yes, I thought so too as the involved pods have node IP as their IP.

[2020-08-07 02:48] #1044 closed

[2020-08-07 04:35] srikartati commented on #897
Checked logs when running netpol tests with timestamps. I see that rules being realized quickly on agent and syncing happens in milliseconds. In addition, checked prometheus metrics (antrea_agent_ovs_flow_ops_latency) at agent corresponding to AddFlowsInBundle. Add operations are finishing in milliseconds.

Following is the failed case. Note the difference in time zones:
Test log:
[code]
Agent log

[2020-08-07 18:56] #1022 closed

[2020-08-07 21:43] antoninbas commented on #1036
After some investigation, these logs are normal and expected. The Antrea apiserver uses the default value (1800s) for the `MinRequestTimeout` parameter:
[code]
In a large cluster, like Alex's, with almost 200 Nodes (and 3 watches per Agent), you can expect potentially 1,000 such log messages per hour at the controller.

I think the best solution is simply to reduce the verbosity of these messages

[2020-08-07 22:21] antoninbas commented on #1036
See also documentation for the server `Config` here: https://godoc.org/k8s.io/apiserver/pkg/server#Config

I confirmed it was the root cause by setting `MinRequestTimeout` to a much smaller value (60s) in my test cluster, which generated a lot of log messages despite the small cluster size.

[2020-08-08 04:42] #1041 closed

[2020-08-08 04:43] #1035 closed

[2020-08-08 18:28] poozza opened #1058 "Update feature list and roadmap"
Update feature list and roadmap in the README file to reflect the latest features supported in the project
Remove items from the roadmap which are already implemented
https://github.com/vmware-tanzu/antrea/blob/master/README.md

[2020-08-08 18:32] poozza opened #1059 "Add link to documentation on working with Windows nodes"
Add link to documentation on working with Windows nodes on the Getting Started Page
https://github.com/vmware-tanzu/antrea/blob/master/docs/getting-started.md

[2020-08-08 18:33] antoninbas commented on #1059
I already see a link in the installation section:

[2020-08-09 03:00] spyroot commented on #368
Folks any update on that?  Do you have reference spec?

[2020-08-10 17:13] srikartati commented on #897
Investigated this further. Issue seems to be dataplane flow cache. Even though the rule is installed, cached flow in dataplane is processing the old rule/action, which is causing random failures with geneve tunnel.

I observed that communication is failing for remote pods for whom the rules are changed from previous testcase. If the rule doesn't change, then communication is fine.
By disabling meg

[2020-08-10 21:22] #1036 closed

[2020-08-10 23:13] antoninbas commented on #897
Thanks for looking into this. Let me see if I can reproduce outside of Antrea with a standalone OVS switch, since you are probably busy with the Flow Export stuff. If I can, we can let the OVS team know.

[2020-08-10 23:31] srikartati commented on #897
Sounds good. Thanks.

[2020-08-11 00:04] abhiraut commented on #897
probably let ovs team take a look? we anyway have set the netpol tests to run in vxlan mode for now. maybe add a note about it in some sort of known issues doc ? but if it needs a workaround for testing other alpha features (as suggested by @srikartati ) then maybe we can alter the param for testing before ovs team fixes it.

[2020-08-11 00:12] abhiraut commented on #280
probably still relevant.. but to answer Jianjuns question, this is not a "well defined" use case from k8s in terms of network policy behavior.

[2020-08-11 09:32] ruicao93 opened #1064 "[Windows] Add CI support to verify Windows startup scripts"
Antrea now supports start antrea-agent through manually run startup scripts provided by https://github.com/vmware-tanzu/antrea/pull/1013. It's a alternative way to run antrea-agent on Windows.

We need to add CI support to verify if Windows startup scripts works as expected.

[2020-08-11 09:34] lzhecheng commented on #1064
Now, there are conformance and networkpolicy Jenkins tests for Windows cluster. To verify the startup scripts, networkpolicy test will use it to deploy antrea agent.

[2020-08-11 12:03] #923 closed

[2020-08-11 19:03] antoninbas commented on #711
I have observed this issue in a couple of recent integration tests runs, as part of our Github CI.

[2020-08-11 22:22] MatthewHinton56 commented on #976
Could more frequent certificate rotation be satisfied by adding a flag to the controller to allow the user to specify a max rotation interval.

[2020-08-11 22:37] antoninbas commented on #976
I think we can postpone these items, unlike @tnqn has an objection:
* let user provide a shorter rotation interval through a configuration parameters
* let user force a rotation though `antctl`

I'd like to be able to include your PR #1024 in the upcoming v0.9.0 release (scheduled for August 12th).

[2020-08-11 23:16] MatthewHinton56 commented on #976
Rebased PR is up, just need the pipeline runs and final approval.

[2020-08-11 23:38] #1016 closed

[2020-08-12 00:01] poozza commented on #1058
https://github.com/vmware-tanzu/antrea#features needs to be updated as well.

[2020-08-12 02:24] ruicao93 opened #1068 "Antrea Operator for Openshift 4"
**Describe what you are trying to solve**
Cluster operator is introduced in Openshift 4 to create resources during cluster bootstrap process, and then update and monitor these resources.

Here we propose to  introduce antrea operator in Openshift 4 to manage antrea resources lifecycle.

**Describe the solution you have in mind**
Antrea operator is used to deploy and update antrea-controller deploy

[2020-08-12 03:12] dantingl commented on #1068
I think it's better to create a separate repo for operator. When we use operator-sdk to generate framework code, it has a directory structure, so maybe it's not good to be put in a sub-directory in antrea repo.
Also I think most other operators have its own repo, maybe we can follow the same way.

To sync the configmap between antrea and its operator, we can make a script to run regularly.

[2020-08-12 10:06] #869 closed

[2020-08-12 13:22] andrewsykim commented on #969
It's probably worth calling out that the behavior you mentioned about kube-proxy varies depending on what is set on the externalTrafficPolicy field. Using `externalTrafficPolicy=Local` with kube-proxy _does_ address many (if not all?) of the issues you listed here.

[2020-08-12 13:25] lzhecheng commented on #1043
Now with a OVS patch applied before deb compiled, IPSec function is recovered. When IPSec e2e tests are added, this issue can be closed.

[2020-08-12 14:16] #976 closed

[2020-08-12 17:19] #1048 closed

[2020-08-12 18:08] maplain commented on #969
+1 on what @andrewsykim said.

1. When `externalTrafficpolicy=Local` is set, a healthcheckNodePort will be allocated, to which LB can configure healthchecks to decide if backend pod is running on that node. `healthCheckNodePort` can be used to customize that port: https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip

2. it's not

[2020-08-12 19:36] antoninbas commented on #897
Good news. I think I was able to reproduce the issue outside of Antrea, with a vanilla OVS deployment. I will summarize the steps and reach out to the OVS team.

[2020-08-12 21:44] antoninbas commented on #1043
@lzhecheng I'm leaving you as the assignee for the issue. Feel free to re-assign to me if you don't have time to fix the tests in the near future.

[2020-08-13 00:20] antoninbas opened #1075 "Truncated / incorrect error logs for Antrea Agent"
**Describe the bug**
Both @srikartati and I have noticed an issue with some error messages in the agent:
[code]
[code]
[code]
Those are not Antrea logs, they are generated by go-client. Because of more aggressive inlining in recent versions of Golang, the logic used by klog to determine the correct stack frame when retrieving the file name / line number is no longer correct. See https://github.com

[2020-08-13 04:06] antoninbas commented on #1075
After investigating, I'm not so sure I was right about the actual issue. Antrea v0.8.2 does not suffer from this issue, so it may have something to do with the klog -> klogv2 transition in Antrea, and how we redirect logs from klogv1 to klogv2.

[2020-08-13 04:21] srikartati commented on #1075
Are you suspecting that issue may have something to this constant: `defaultPrefixLength` ?

[2020-08-13 04:39] antoninbas commented on #1075
Yes the `defaultPrefixLength ` constant is wrong (the prefix includes the file name so it cannot be a constant value...). That can be fixed easily.
I believe `outputCallDepth` is also wrong so I am trying to fix that as well. If this one cannot be a constant at all (still checking on that), I am not sure how to fix it.

[2020-08-13 06:49] lzhecheng opened #1077 "[Antctl] Pod or Service may have same name on trace-packet and traceflow commands"
**Describe the bug**
In the implementation of trace-packet and traceflow, when parsing an object, it tries to find pod with the name first, then service. However, it is possible that a pod and a service have the same name.

**To Reproduce**
`antctl traceflow` and `antctl trace-packet`

**Expected**
User can specify pod or service even with same name as destination and get correct results.

**Actua

[2020-08-13 09:51] rbhamre opened #1080 "For hybrid mode encap in AWS, need to enable traffic in worker-node Security group for pod cidr"
**Describe the bug**

For hybrid mode encap in AWS, need to enable traffic in worker-node Security group for pod cidr.

**To Reproduce**
Steps to reproduce the behavior.

- Configured antrea cni for tkg cluster deployed in AWS
- Enabled hybrid mode and antrea-proxy
- Deployed tkg worker nodes across 2 AZs having different subnet
- Disabled SrcDestCheck  on each node in the cluster
- For pod-to-pod

[2020-08-13 09:52] rbhamre commented on #1080
CC: @tnqn @antoninbas

[2020-08-13 11:31] flashdumper commented on #368
+1, any updates?

[2020-08-13 12:20] dandrushko commented on #368
Indeed Multus is required for majority of Telco cases. What's the roadmap on adding Multus support?

[2020-08-13 12:28] pvarade commented on #368
+1, roadmap would be very helpful.

[2020-08-13 16:36] jianjuns commented on #368
Our understanding is Multus should just work with Antrea (Antrea to be the primary CNI for Pod primary network interfaces, and Multus can manage Pod secondary interfaces). But not sure if anyone validated it or not.
If you have tried Multus and seen any issues, please share the information.

[2020-08-13 16:44] jianjuns commented on #1077
Yes, I thought about this when adding trace-packet command. However, I feel same name for Pod an Service is rare, and probably not worthwhile to support that will complicate the command input.

[2020-08-13 19:28] antoninbas commented on #1032
Moving this to the v0.10.0 milestone. We are making progress on #897 but we don't have a solution yet.

[2020-08-13 20:51] Dyanngg commented on #1032
The positive news is that GKE tests have been consistently passing this week. I experimented with VXLAN a week ago and it not resolve the issue. From those test logs last week I was still seeing NetworkPolicy tests fail because of initial setup phase failure (client pod cannot reach server pod w/o any policy enforced).

[2020-08-14 01:05] antoninbas opened #1086 ""Uplink" table (5) missing from OVS windows documentation"
The Windows design documentation (https://github.com/vmware-tanzu/antrea/blob/master/docs/windows-design.md) should probably be updated a bit to account for changes in https://github.com/vmware-tanzu/antrea/pull/943. It should mention the "Uplink" table, which is specific to the Windows datapath.

[2020-08-14 02:23] #1075 closed

[2020-08-14 03:12] lzhecheng commented on #1064
CI job is deployed.

[2020-08-14 03:12] #1064 closed

[2020-08-14 03:46] lzhecheng commented on #1077
Currently, we should notify users that pod is searched first then service. We can do this in antctl help message and docs.

[2020-08-14 09:08] antoninbas opened #1089 "Dependency on github.com/goccy/go-graphviz breaks prepare-assets.sh"
**Describe the bug**
The [prepare-assets.sh](https://github.com/vmware-tanzu/antrea/blob/master/hack/release/prepare-assets.sh) is used to generate all the assets to be uploaded as part of a Github release. It is all taken care of automatically by a Github workflow. For the v0.9.0 release, this workflow failed because of a new dependency on github.com/goccy/go-graphviz for the Antrea Octant Plugin

[2020-08-14 20:30] qiyueyao opened #1092 "Traceflow Support CNP Egress/Ingress Tables"
**Describe the problem/challenge you have**
Currently when adding conjunction action flow, traceflow load conjunction information in Egress/Ingress Reg. But only considers the network policy tables. CNP feature has added specific tables from 45-49 and 85-59.

**Describe the solution you'd like**
Include CNP tables in the logic for loading information in reg.
Query table ID with conjunction ID, ins

[2020-08-14 21:37] Dyanngg opened #1093 "PriorityAssigner is not optimized for batch priority registration"
**Describe what you are trying to solve**
Since release v0.9, NetworkPolicy flows are installed in batch after the restart of Antrea agent. In this case, the agent Reconciler will register the priorities in batch for all flows that requires an OpenFlow  priority assigned to them (CNP and Namespaced Antrea NetworkPolicies). In the current implementation of priority.go, the batch priority registrati