[2021-10-14 22:49] dreamtalen commented on #2831
OK, thanks

Sure, thanks Srikar and Antonin.

[2021-10-14 22:56] #2860 closed

[2021-10-15 00:22] antoninbas opened #2894 "NodePortLocal does not handle multi-protocol well (same target port) if the Node ports is already in use for one protocol"
**Describe the bug**
To provide a good user experience and simplify the implementation, the NodePortLocal controller allocates a single Node port value for a give (PodIP, PodPort) tuple.
With a Service like this one:
[code]
For any backend Pod implementing this Service, the NPL controller will allocate one local Node port and traffic to that port will be forwarded to the Pod (iptables rules) for b

[2021-10-16 02:47] weiqiangt opened #2895 "Need a ARM version antrea/ethtool image"
**Describe the problem/challenge you have**
Image antrea/ethtool can not work on arm computer, e.g. m1 chip.

**Describe the solution you'd like**
Hope there can be an image supports arm64 arch.

**Anything else you would like to add?**
Although I can build one on local by using `build/images/ethtool/Dockerfile`, the default behavior is to pull the amd64 version on docker hub.

[2021-10-17 00:21] #1123 closed

[2021-10-17 00:21] #833 closed

[2021-10-17 00:21] #802 closed

[2021-10-17 00:21] #632 closed

[2021-10-17 00:21] #375 closed

[2021-10-18 17:17] wenqiq commented on #2488
@antoninbas @tnqn There is a solution for this issue in PR #2890. PTAL. Thanks. And maybe we need to transfer the repo(https://github.com/antoninbas/benchci) to the antrea-io organization before this. I added some code in the repo https://github.com/wenqiq/benchci which is based on @antoninbas's repo.

[2021-10-18 19:52] iKarthik opened #2901 "Can antrea co-exist with AWS VPC CNI?"
**Describe the bug**
Am a newbie when it comes to CNI, apologies if this question does not make sense. Reading the documentation provided, it is not clear to me whether Antrea CNI can co-exist along with AWS VPC CNI or Antrea CNI is full replacement for AWS VPC CNI. I understand that Antrea can be deployed only in NetworkPolicy mode along with AWS VPC CNI but does this mode give me the [Egress fea

[2021-10-18 20:27] antoninbas commented on #2901
That would be one way to do it, if we can validate Antrea in encap mode on EKS
However, let's wait to hear from @tnqn about what it would take to support Egress in networkPolicy mode. My assumption was that we could do it without too many changes, as we should still be able to tunnel Egress traffic to the Egress Node, but I may be missing some important considerations.

[2021-10-19 00:28] lzhecheng opened #2904 "[AntreaProxy][Doc] Unify AntreaProxy related docs"
There are some PRs dealing with AntreaProxy functions for Linux and Windows. The docs of these changes need to be unified, e.g. OVS pipeline logic, routes on hosts. Finally we should ensure that duplicated docs are removed after all function PRs have been merged.

[2021-10-19 00:28] antoninbas commented on #2488
@wenqiq I have transferred the repo: https://github.com/antrea-io/benchci
Please start opening PRs there to get your changes merged

[2021-10-19 01:02] wenyingd commented on #2115
There is a PR in libOpenflow to support OF1.5 https://github.com/antrea-io/libOpenflow/pull/13

[2021-10-19 04:52] wenqiq commented on #2488
@antoninbas Done. https://github.com/antrea-io/benchci/pull/1

[2021-10-19 15:22] wenqiq commented on #2573
label value pattern: "^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?$"
[code]

[code]

[2021-10-19 17:19] dreamtalen commented on #2831
Unfortunately it's still not 100% stable after adding `WaitForCacheSync` in https://github.com/antrea-io/antrea/pull/2892, the Kind test failed on my 5th try at https://github.com/antrea-io/antrea/runs/3932131855 with same reason. I will continue to rerun tests to see what the probability of failure is.

[2021-10-20 03:12] Jexf opened #2910 "Antrea Egress only watch the special interface IP Addresses events"
**Describe the problem/challenge you have**
Sometime we want to use Antrea Egress feature to do some special things, like getting the client real ip. Now kube-proxy uses SNAT to solve service loadbalance triangle path problem, the backend pods can`t get the client real ip.

**The steps to get client real ip with Antrea Egress**:

1. Use keepalived to generate a vip, and config the vip on special i

[2021-10-20 08:32] lzhecheng opened #2911 "[Windows] Support nodePortAddresses in Windows AntreaProxy NodePort"
Current `nodePortAddresses` in Windows AntreaProxy is not supported yet #2863. This issue is to track it.

[2021-10-20 13:09] #2573 closed

[2021-10-20 14:27] tnqn opened #2913 "Stop replacing github.com/Microsoft/hcsshim with private fork"
**Describe the bug**

`github.com/Microsoft/hcsshim` has been replaced with `github.com/ruicao93/hcsshim v0.8.10-0.20210114035434-63fe00c1b9aa` for a while: https://github.com/antrea-io/antrea/blob/110e9f6a577334afd7e824414948fa3b3771aba6/go.mod#L151-L153

Sooner or later, we will need to bump up `github.com/Microsoft/hcsshim` version for new features or bug fixes, or dependency conflicts. The com

[2021-10-20 20:28] antoninbas commented on #2913
Do we need to create a temporary fork in antrea-io so that we can pick up recent bug fixes until this patch is available upstream: https://github.com/microsoft/hcsshim/pull/922?

[2021-10-20 22:39] antoninbas commented on #2910
cc @wenqiq

[2021-10-21 01:22] wenyingd commented on #2913
I will look through the code to ensure if we have substitions inside Antrea Agent to remove the pin with Rui's change on the hcsshim version.

[2021-10-21 08:26] gran-vmv opened #2917 "Broken markdown links in ./docs/network-flow-visibility.md and CI pipeline blocked"
**Describe the bug**
The link in Antrea documents is broken and breaks the CI pipeline.
https://github.com/antrea-io/antrea/blob/main/docs/network-flow-visibility.md?plain=1#L380

**To Reproduce**
Submit a PR which only add some valid code comments.

**Expected**
CI pipeline passed.

**Actual behavior**
ERROR: 1 dead links found!
[✖] https://www.elastic.co/guide/en/elasticsearch/reference/7.x/adva

[2021-10-21 08:45] ShashankNEC opened #2918 "DHCP Container with SRIOV"
**By following your article to run DHCP container on K8S am trying to run this but with SRIOV interfaces facing below issue**
### I want to achieve that my test pods will get ip's from DHCP server and this DHCP server is listening on SRIOV interface

AM trying to run a DHCP server on K8s cluster (single node). CLuster having flannel with multus CNI and SRIOV.
I have run the DHCP container and succ

[2021-10-21 09:57] gran-vmv opened #2920 "[CI] Add conformance and netowrkpolicy test for AntreaIPAM in CI pipeline"
**Describe the problem/challenge you have**
We need to run conformance and networkpolicy for AntreaIPAM in CI pipeline.

**Describe the solution you'd like**
Have new pipelines to run the necessary tests for AntreaIPAM
[code]

**Anything else you would like to add?**
N/A

[2021-10-21 13:10] luolanzone opened #2922 "Multi-Cluster CI Pipeline Breakdown"
**Describe what you are trying to solve**

There is no CI pipeline to guarantee multi-cluster code in feature and main branch, we need set up necessary environment and pipeline to verify e2e multi-cluster scenarios.
This is a part of issue #2770

**Describe the solution you have in mind**

1. MCS CI pipeline framework for
    * static code check (golangci)
    * integration test
    * e2e test
2.

[2021-10-21 17:42] antoninbas commented on #2918
You set `ipam.type` to `host-local` and not `dhcp` so why do you expect DHCP to be used for IP allocation?

I'm going to close this issue. It seems that you don't use Antrea but Flannel, and this repo is probably not the best place to discuss this. I also see that you opened the same issue in a different repo: https://github.com/k8snetworkplumbingwg/sriov-network-device-plugin/issues/391. You may

[2021-10-21 17:42] #2918 closed

[2021-10-21 17:52] #2917 closed

[2021-10-21 18:02] #2885 closed, assigned to nobody

[2021-10-21 18:36] antoninbas opened #2923 "Graduate the NodePortLocal feature to Beta"
The plan was to graduate NodePortLocal to Beta in 1.4, and think that we can still make it happen.

Why graduate the feature to Beta?
- enabling it does not have an impact on Antrea functionality unless the NodePortLocal "API" is used (`nodeportlocal.antrea.io/enabled: "true"` annotation added to a Service). There should also be no observable impact on performance when the API is not used. This me

[2021-10-22 00:49] GraysonWu opened #2925 "Make to/from field omitempty"
**Describe what you are trying to solve**
The idea of making to/from field omitempty is brought up when investigating `ToServices` e2e test failure. I commented why we make `ToServices` omitempty here: https://github.com/antrea-io/antrea/pull/2755#issuecomment-948078307. `to` and `from` are the same "level" fields as `toServices` and `ports` which are omitempty. So the same reason also applies.

S

[2021-10-22 00:50] wenyingd commented on #2913
I agree to cache it in the memory if we don't need to think of the restart/reconcile case. In current code, we have logic to create OVS port if only HNSEndpoints are created in function "reconcile". So do you mean we could remove that logic?https://github.com/antrea-io/antrea/blob/main/pkg/agent/cniserver/pod_configuration.go#L447

[2021-10-22 02:45] jianjuns commented on #2913
Does it generate error messages in OVS logs? I do not like to manage files, but I am fine with it if no other way.

[2021-10-22 03:46] luolanzone commented on #2922
cc @bangqipropel

[2021-10-22 09:28] leonstack opened #2927 "Support serviceAccountSelector for NetworkPolicy"
**Describe the problem/challenge you have**
Some workloads have same serviceAccount that have same permission to access some resources, for now if we want to setup allow NetworkPolicy for these workloads to access the resources, we need create several NetworkPolicies (or with several group) to match all the workloads, this is a little complicate.

**Describe the solution you'd like**
We can use se

[2021-10-22 10:07] #2880 closed, assigned to nobody

[2021-10-25 13:46] jayunit100 opened #2932 "antrea-agent windows (as a nssm service) won't pick up environment variables"
Update: This MAY NOT  be a bug, because  nssm allows you to inject env vars..
- `nssm set antrea AppEnvironmentExtra KUBE_DNS_SERVICE_HOST=... ` and
- `nssm set antrea AppEnvironmentExtra KUBE_DNS_SERVICE_PORT=...`

HOWEVER im curious: Why should `FQDN controller` prevent antrea agent from starting ? Seems like core antrea should work without it.

**Describe the bug**

Great work by @hxietkg on fi

[2021-10-26 00:22] jayunit100 opened #2933 "Add NSSM pathway for windows Antrea CI tests"
**Describe the bug**

In order to have a template that NSSM users for windows can borrow, we should run nssm tests upstream.

**Expected**

Antreas upstream CI tests windows containers started via a nssm script, and bundles this nssm script in hack/

see. https://github.com/antrea-io/antrea/issues/2932

[2021-10-26 03:32] jayunit100 opened #2934 "We should pin ci/kind/"
**Describe the bug**

You can't automatically use ci/kind to try out antrea locally, but... it seems natural to do so.  It runs quite nicely with a couple of very small line changes :)...

Right now to use the ci/kind script to test a old version (like 1.3.0) you have to  patch the ubuntu images to use that specific tag...

[code]
i.e.
[code]

*Solution*

Can we parameterize the `latest` parameter

[2021-10-26 04:38] wenyingd opened #2935 "Remove the validation of serviceCIDR in Agent configuration if AntreaProxy is enabled"
**Describe the bug**
A validation for the Agent configuration option serviceCIDR exists in the code no matter AntreaProxy is enabled or not, which is not needed if kube-proxy is replaced by AntreaProxy in the setup.

**To Reproduce**

Run Antrea Agent with AntreaProxy feature gate is enabled, and check if the this code is executed https://github.com/antrea-io/antrea/blob/main/cmd/antrea-agent/opti

[2021-10-27 02:21] hongliangl opened #2938 "Remove method `snatMarkFlows` in pipeline_windows.go and pipeline_other.go"
Since Antrea on Windows has implemented SNAT on Node, this part of code in pipeline_windows.go is not needed anymore.

[code]

So in file `pkg/agent/openflow/client.go`, method `func (c *client) InstallSNATMarkFlows(snatIP net.IP, mark uint32) error`
can use function  `func (c *client) snatIPFromTunnelFlow(snatIP net.IP, mark uint32) binding.Flow` directly.

[2021-10-27 17:23] #2923 closed, assigned to nobody

[2021-10-28 12:42] wenqiq opened #2944 "Antrea antctl get ovsflows response INTERNAL_ERROR"
**Describe the bug**

get ovsflows:
[code]

agent logs:

[code]

**To Reproduce**

create large scale networkPolicies(about 5k), and use antctl to get ovsflows

**Expected**

antctl get ovsflows works well with large scale pods and networkPolicies

**Actual behavior**

antctl get ovsflows reponse INTERNAL_ERROR, observed a panic in agent log: `runtime error: invalid memory address or nil pointer .

[2021-10-28 14:12] wenqiq opened #2945 "TestEgress/testEgressClientIP test failed probabilistically"
**Describe the bug**

TestEgress/testEgressClientIP test failed
`go test -v "antrea.io/antrea/test/e2e"  -provider=remote -remote.sshconfig=/var/lib/jenkins/ssh-config -remote.kubeconfig=/var/lib/jenkins/kube.conf -run=TestEgress/testEgressClientIP`

[code]

controller log:
[code]

agent log:
[code]

**To Reproduce**

`go test -v -run=TestEgress/testEgressClientIP ./test/e2e -provider=kind`

**Exp

[2021-10-29 07:10] wenyingd opened #2948 "[CI] Windows containerd setup is needed"
**Describe the problem/challenge you have**

Antrea Windows supports running Pods using containerd as the runtime, but we don't have such testbed in CI. So it is difficult to test the code when a PR is focusing on a containerd case.

**Describe the solution you'd like**

**Anything else you would like to add?**

[2021-10-29 07:18] wenqiq opened #2949 "Networkpolicy not work after running large scale networkpolicies(5k)"
**Describe the bug**

networkPolicy=“355cf6bb-973e-4969-a39e-2db0a6acf405”
stdout=“” stderr=“nc: 10.0.138.105 (10.0.138.105:80): Connection timed out\n”
fromPod=“antrea-scale-test-pod-e4118328-2100-4a7c-b4c6-92c8f148310a”
toPod=“antrea-scale-test-pod-45b9733f-86cb-476b-9d1d-afc4637ddb38”

fromPod:
[code]
toPod:
[code]
NP:
[code]
np yaml:
[code]
Test connection between the fromPod and toPod:
[code]

[2021-10-29 19:01] #867 closed

[2021-10-29 19:02] antoninbas commented on #2913
We may want to merge the change post v1.4 to reduce risk?

[2021-10-29 19:06] jianjuns commented on #2913
I assume OVS will still log something when creating a port correctly but no WARN logs?

[2021-10-30 00:32] #2806 closed

[2021-10-30 00:36] #1482 closed

[2021-10-30 01:29] antoninbas commented on #2315
@mengdie-song I took a stab at this since I think you must be busy with other things

[2021-11-01 10:00] Kaushal28 commented on #1659
So what are the steps for complete cleanup?

[2021-11-01 10:22] hxietkg opened #2954 "Skip "ipconfig /renew" on shutdown in script Clean-AntreaNetwork.ps1"
**Describe the bug**

Clean-AntreaNetwork.ps1 is calling "ipconfig /renew", it takes 2mins, it seems this is not necessary on shutdown, can we add a parameter to control this command?

**To Reproduce**

**Expected**

**Actual behavior**

**Versions:**

**Additional context**

[2021-11-02 00:08] jayunit100 commented on #2911
Can we put the URL to the design propsal for this in this issue?

[2021-11-02 10:19] jayunit100 opened #2961 "[community] remap antrea.io/live"
**Describe the bug**

antrea.io/live points to a google doc, but @yashbhutwala had a great idea to use a hackmd.io file.

- please remap antrea.io/notes to `https://hackmd.io/@jayunit100/antrea-LIVE/edit`
- please remap antrea.io/live to
`https://github.com/jayunit100/k8sprototypes/blob/master/antrea-LIVE/README.md`

thanks !

**Expected**

Antrea live links are easy to read and access/interact wi

[2021-11-02 18:41] antoninbas commented on #2961
@jayunit100 please try to manage with a single link (`antrea.io/live`) or if you really need 2 links use `antrea.io/livenotes` for the second one.

I'm transferring the issue to the website repo. You can update a PR directly there to configure the redirections. Look at https://github.com/antrea-io/website/pull/12 for reference.

[2021-11-03 01:39] jsalatiel commented on #2531
I am facing the same problem, but I do not have any extra file at /etc/cni/net.d/, but 10-antrea.conflist.
I am forced to always manually restart crio after any node gets rebooted, otherwise pods will not be able to start on that node complaining about missing cni:
[code]
Running Alma Linux 8.4 and antrea 1.2.2

[2021-11-03 02:58] #2488 closed

[2021-11-03 10:40] #2954 closed

[2021-11-03 15:23] tnqn commented on #2699
@GraysonWu Please use the standard github keywords in the future PRs so that the issue can be closed automatically by github on merge.

[code]

[2021-11-03 15:23] #2699 closed

[2021-11-03 15:26] tnqn commented on #2395
UDP has been supported in v1.4. Postponing SCTP to v1.5 or later.

[2021-11-03 16:05] tnqn commented on #2801
The "Flexiable IPAM" has been merged to main branch and will be available in v1.4.0 which will be released this week. The feature gate is called "AntreaIPAM".
Please check the documentation to see whether it's what you expected or raise your ideas: https://github.com/antrea-io/antrea/blob/feature/flexible-ipam/docs/feature-gates.md#antreaipam. Note that it only supports requesting IPs from an IPPo

[2021-11-03 18:14] antoninbas commented on #2531
@jsalatiel I suggest reaching out to the cri-o community instead as this issue affects all CNI providers and is no Antrea-specific: https://github.com/cri-o/cri-o/issues/4276

[2021-11-03 18:21] jsalatiel commented on #2531
Tks @antoninbas . I will do that. But I do not see the same behavior on calico for example. Although I need to restart the crio after the initial calico deployment, I will not have to restart for any worker reboot after that first reboot.

[2021-11-03 18:23] antoninbas commented on #2531
I am not sure I see how this error is possible on reboot, unless the system deletes the contents of the `/etc/cni/net.d/` directory, which doesn't seem likely.

[2021-11-03 18:25] jsalatiel commented on #2531
I also have no idea why.
What I did to "fix" was create a system unit PATH that restarts crio when there are changes to /etc/cni/net.d/
Now all nodes work fine after rebooting.

[2021-11-04 02:12] wenyingd opened #2972 "Remove unnecssary function call of "IsIPv4Enabled""
**Describe the bug**

The function IsIPv4Enabled/IsIPv6Enabled is called many times by different features to check if IPv4 or IPv6 is enabled in the existing code, which is actually not needed. We can call the functions one time and record the result in AgentInitializer or NodeConfig, and use the reuslt directly in other features. For example, these calls are actually able to remove:
https://githu

[2021-11-04 13:56] tnqn opened #2979 "ACNPRejectIngress and ACNPRejectIngressUDP failed when AntreaIPAM is used"
**Describe the bug**

The tests failed in "jenkins-flexible-ipam-e2e", on which cluster AntreaIPAM is enabled:
[code]

It's likely because the Reject action handling doesn't take AntreaIPAM case into consideration.
For a Pod whose IP is allocated in AntreaIPAM mode, its traffic is not routed by the host network and is bridged to the physical network.

**Versions:**

 - Antrea version (Docker image

[2021-11-04 13:57] tnqn commented on #2979
@GraysonWu could you please take a look?

[2021-11-04 14:00] tnqn opened #2980 "TestFlowAggregator failed when AntreaIPAM is used"
**Describe the bug**

The test failed very frequently in "jenkins-flexible-ipam-e2e", on which cluster AntreaIPAM is enabled:
[code]

**Versions:**

 - Antrea version (Docker image tag). main-a48f4db0608b30cb420032f5e8e42eb79fa499cc, v1.4.0

[2021-11-04 14:01] tnqn commented on #2980
@srikartati could you please take a look or assign it to proper developer?

[2021-11-04 14:13] tnqn opened #2981 "Windows conformance test failed consistently"
**Describe the bug**

[code]

It failed when the Windows Pod tried to access external network. However, the Node itself can access external network. This happened for the latest 20+ builds.

[2021-11-04 14:13] tnqn commented on #2981
@wenyingd @lzhecheng Let's track the issue here.

[2021-11-04 19:21] srikartati commented on #2980
Hi @dreamtalen, As this issue is very similar to the one you root caused before https://github.com/antrea-io/antrea/issues/2283#issuecomment-868030335
Could you take a look at what is different in the new testbed that the flexible IPAM feature is using? The test is passing on other CI test beds but failing frequently on the "jenkins-flexible-ipam-e2e" test bed.

[2021-11-04 20:53] dreamtalen commented on #2980
Sure, I will take a look.

[2021-11-04 21:51] #2829 closed

[2021-11-04 22:44] antoninbas opened #2984 "BenchmarkExportConntrackConns panics"
**Describe the bug**
`BenchmarkExportConntrackConns` is panicking after merging https://github.com/antrea-io/antrea/pull/2854.
[code]

This is causing the `Go Benchmark Test` workflow to fail on the main branch.

[2021-11-04 22:46] antoninbas commented on #2984
@heanlan could you take a look at this?

@wenqiq we should probably run the benchmarks once for each PR (without bench-ci) to make sure that they are not broken, without consuming too many Github Actions minutes. What do you think?

[2021-11-04 22:59] heanlan commented on #2984
I'll look into it.

[2021-11-05 00:23] lzhecheng commented on #2911
The Windows AntreaProxy design will be put into docs/ in the future. This issue is about a small improvement.

[2021-11-05 00:26] lzhecheng commented on #2981
So far the conclusion is that it results from bug in OVS. Opened an issue there: https://github.com/openvswitch/ovs-issues/issues/232

[2021-11-05 00:38] #1509 closed

[2021-11-05 02:11] #2642 closed

[2021-11-05 02:28] wenqiq commented on #2984
Actually, the Go benchmark test workflow has recorded the benchmark error of #2854 : https://github.com/antrea-io/antrea/actions/runs/1423364727

We can avoid this if we run the Go benchmark workflow for each PR, it will take about 17minutes which run the benchmarks twice. I think we can add a step in go.yaml to run the benchmarks, it will only take about 9-10minutes.

[2021-11-05 14:11] tnqn commented on #2981
@wenyingd and I digged deeper into the problem and found it's caused by a wrong handling of ip fragments in OVS windows datapath:
When ip fragments were received on one of the OVS port and there is an action `ct` in the pipeline, the fragments will be reassembled before sending to connection tracker according to the doc (https://man7.org/linux/man-pages/man7/ovs-actions.7.html):
[code]
However, th

[2021-11-05 14:28] tnqn opened #2990 "Go Benchmark Test kept failing"
**Describe the bug**

See https://github.com/antrea-io/antrea/runs/4118003946?check_suite_focus=true
[code]

[2021-11-05 16:29] #2990 closed

[2021-11-05 17:28] antoninbas commented on #2984
@wenqiq 10 minutes is still pretty large when run every time the PR is updated.
If something likes `go test -run=XXX -bench=. -benchtime=1x` performs the same job (without the possibility of flakes) and does it much faster, then we should consider doing that instead.

[2021-11-05 18:06] dreamtalen commented on #2980
Update: looks like this failure may cause by a time difference between k8s pod and testbed host.
An example of logs from a failed test running on ipam testbed: http://10.176.27.169:8080/job/antrea-flexible-ipam-e2e-for-pull-request/139/consoleFull
[code]
We could see there is a 6 seconds difference between `flowStartSeconds` and `timeStart`. However in other testbed, this difference is less than 1

[2021-11-05 18:42] antoninbas commented on #2980
@dreamtalen it's probably better to write the test in such a way that it doesn't assume time sync between 1) the host running the Go tests and 2) K8s Nodes / Pods.

[2021-11-05 20:35] srikartati commented on #2980
Thanks @dreamtalen

I think comparing `flowStartSeconds` and `flowEndSeconds` seems like a decent solution for the issue.

[2021-11-07 00:22] #1512 closed

[2021-11-08 02:28] #2726 closed

[2021-11-08 02:32] luolanzone commented on #2250
Hi @hangyan , if you don't mind, I would like to assign this to our intern @xiaoxiaobaba

[2021-11-08 04:18] wenyingd opened #2997 "Egress feature might fail if the transport interface is configured"
**Describe the bug**

The current code is using Node's IP in the Egress feature, which is the Node's management IP. If the user has configured another interface to transport the traffic, it might fail to match the expected OpenFlow entry, because the management interface is possibly not managed by OVS in that case.

The relevant code is https://github.com/antrea-io/antrea/blob/873bd29353cd06a07f04

[2021-11-08 12:05] edwardbadboy opened #3002 "More Accurate ClusterGroup Realization Tracking"
**Describe the bug**
Create a ClusterGroup. In the spec, set a childGroups but do not create the children ClusterGroups. Check the ClusterGroup status, it gets GroupMembersComputed condition.

**To Reproduce**
[code]

**Expected**
Before children groups are actually created, no GroupMembersComputed condition appears in parent group.

**Actual behavior**
GroupMembersComputed condition is set even i

[2021-11-09 00:47] itlinux opened #3005 "client-side throttling, not priority and fainess"
**Describe what you are trying to do**

every command in k8s gets this annoying message any suggestions on how to eliminate it.

[2021-11-09 01:05] antoninbas commented on #3005
Please provide more information for this issue, such as:
* which version of Antrea are you using?
* what makes you think this issue is related to Antrea?
* what are the exact log messages you are seeing and which component is logging them?
* do you observe these logs at specific times (e.g. just after deploying Antrea to the cluster) or always?

[2021-11-09 02:10] edwardbadboy commented on #3002
Maybe @Dyanngg could comment? Thanks!

[2021-11-09 05:21] #2934 closed

[2021-11-09 05:54] leonstack opened #3008 "Support port mirror for assigned Pods"
**Describe the problem/challenge you have**
Some times we have a remote server wants to analyse the packets which translate from/to some pods, so we need to pass these packets to the server, and also won't break the original translation for the pod.

**Describe the solution you'd like**
1. We can create a ovs bridge named br-mirror, and connect  br-mirror with  br-int by patch port, for example:
b

[2021-11-09 11:33] #2935 closed

[2021-11-09 18:15] antoninbas commented on #3008
@leonstack Thanks for the detailed issue. Could you clarify why you propose to introduce a new bridge (`br-mirror`) to handle the mirrored traffic and send it to the sink? Why not create the tunnel port on br-int and use this port as the `output-port` when configuring the mirroring?

[2021-11-09 18:20] #1966 closed

[2021-11-10 00:49] dreamtalen commented on #2980
Have a fix at https://github.com/antrea-io/antrea/pull/2983 by removing the comparing with host time, triggered `test-flexible-ipam-e2e` multiple times and no FlowAggregator test failure happened again.

[2021-11-10 02:48] lzhecheng commented on #1934
NodePort support is implemented in this PR: https://github.com/antrea-io/antrea/pull/2863

[2021-11-10 02:48] #1934 closed

[2021-11-10 02:49] #1935 closed

[2021-11-10 02:53] lzhecheng commented on #1463
@hongliangl should this issue be closed? Maybe @jianjuns 's question has already been solved?

[2021-11-10 02:55] lzhecheng commented on #1931
@hongliangl should this issue be closed?

[2021-11-10 03:51] leonstack commented on #3008
Hi, because the mirror function will forward the packets to the `output-port` directly, there is no chance to filter the packets: If we only want to get the packet for `destinationPort=80`, we need a pipeline to filter such packets, and other packets will be dropped when after the mirror action.

[2021-11-10 09:24] wenyingd opened #3016 "Support comparing OF table name in integration test"
**Describe the bug**

Since OF table is configured with a readable name in Antrea, the integration tests should supports comparing the OpenFlow entries using table name, then it is easier to check the actual flow entries with the Antrea Agent feature's expectation even if we change the table ID in future.

**To Reproduce**

**Expected**

**Actual behavior**

**Versions:**

**Additional context**

[2021-11-10 22:53] jayunit100 opened #3020 "antrea.io/live URL remap to README.md"
Small task: Can we remap antrea.io/live to the README that has the list of all shows and schedule on it?  https://github.com/jayunit100/k8sprototypes/blob/master/antrea-LIVE/README.md

Much easier to read :)

happier to maintain it in an official place if folks want but for now per conv w @antoninbas were just doing it here.

[2021-11-11 05:59] wenqiq opened #3023 "Suport NodeSelector in ACNP/ANP ingress/egress rules"
**Describe the problem/challenge you have**

Suport NodeSelector in ACNP/ANP ingress/egress rules, by defining NetworkPolicy with nodeSelector we can create rules
for pods on certain Kubernetes Nodes.

**Describe the solution you'd like**

Define nodeSelector field in NetworkPolicy egress/ingress rule.
NodeSelector selects certain nodes which should be subject to the rule.

For example, The follow

[2021-11-11 18:02] #2980 closed

[2021-11-15 00:22] #1573 closed

[2021-11-15 15:45] #2984 closed

[2021-11-16 14:41] tnqn commented on #3023
Why `nodeSelector` is not in `from` or `to` like other selectors?

[2021-11-16 15:55] wenqiq commented on #3023
Thanks for the reply.
Maybe this feature can be explained in more detail in the following example:
[code]

[2021-11-16 18:29] jianjuns commented on #3008
So, the assumption is users can manually add flows to the mirror bridge to filter packets?

What you think about a solution of creating a DaemonSet or adding a separate container to the antrea-agent DS to create the mirror bridge and enable mirroring (e.g. using ovs-vsctl command)? In this way, we need not to change Antrea code for that.

And what you think about ERSPAN for the use case?

[2021-11-16 18:37] jianjuns commented on #3008
I guess you want to programmably control what Pods should be mirrored (with a CRD?), and so this way does not work. @leonstack

[2021-11-18 16:03] tnqn commented on #2979
Fixed by #3003

[2021-11-18 16:03] #2979 closed

[2021-11-19 01:24] wenyingd opened #3037 "Traceflow unit test "TestTraceflow/normalTraceflow" is flaky"
**Describe the bug**

This unit test is flaky, it might pass if we re-run it after the failure. I got the following error output it failed.

[code]

**To Reproduce**

**Expected**

**Actual behavior**

**Versions:**

Anrea 1.4

**Additional context**

[2021-11-19 02:35] gran-vmv opened #3039 "Wrong Node config in e2e/service_test.go:testClusterIP"
**Describe the bug**
In windows e2e environment, the Nodes config in `testClusterIP` case are wrong.
[code]

**To Reproduce**

**Expected**
Should use `clusterInfo.windowsNodes[<index>]` instead of `0` and `1` above.

**Actual behavior**
These Nodes are probably Linux Nodes. Thus this testcase is meaningless in windows e2e.

**Versions:**
Latest main branch.

**Additional context**
nginx image can

[2021-11-19 14:38] #3002 closed

[2021-11-23 04:50] luolanzone commented on #2612
@xiaoxiaobaba  Could you help to take this issue? thanks.

[2021-11-23 08:33] leonstack commented on #3008
Yes, use ovs-vsctl command can do such thing, but not automaticlly enough, if pod failed and recreated on another host, the flows created on the old host won't work any more. With CRD, we can watch the pods' lifecycle, and keep the flows binding to the host which pod belong to, even the pod recreated on another host.

I‘m not quite familiar with ERSPAN, seems it's based on GRE Tunnel, I think we c

[2021-11-23 13:35] #3037 closed

[2021-11-25 06:34] hxietkg opened #3057 "Windows: Time gap between Ethernet0 being removed and br-int starting"
**Describe the bug**
When antrea-agent starts in Windows node, it moves interface Ethernet0 to ovs bridge, and create a new interface named br-int for system, so Windows node has no IP address in this short period, the time gap maybe a few seconds in the bad-performance environment.

**To Reproduce**
Run command 'ipconfig' during Windows node startup.

**Expected**
Reduce the time gap.

**Actual b

[2021-11-29 01:30] arunvelayutham commented on #1347
CNF use case adaptation design was agreed with Antrea community and feature implementation activities are in progress.

[2021-11-29 03:37] luolanzone opened #3060 "Antrea code coverage is not configured properly"
**Describe the bug**

There is a flag named `kind-e2e-tests` but no coverage data at all, and the data for flag `integration-tests` are not showing on Codecov Report even after we trigger the test via /test-integration

**To Reproduce**

The issue can be found in `Codecov Report` in each PR comment.

**Expected**

Integration test code coverage should be showing in `Codecov Report`

**Actual behav

[2021-11-29 06:18] #3016 closed

[2021-11-29 21:47] jayunit100 opened #3062 "antrea.io/live , need to fully redirect"
**Describe the bug**
looks like local urls in the README.md page for antrea.io/live doesnt load properly, i think it needs to be "fully" redirected/forwarded if possible ?

![image](https://user-images.githubusercontent.com/826111/143947851-94c6c760-2964-47f8-8890-40a0a17fb818.png)

**To Reproduce**

Go to antrea.io/live and click on the links, they wont load bc they try to go back to the antrea.i

[2021-11-29 21:54] antoninbas commented on #3062
Hi @jayunit100 - please open such issues in the antrea-io/website repo instead. I am transferring this one.

[2021-11-29 22:24] antoninbas commented on #3057
@wenyingd @lzhecheng could you triage this issue?
I am not sure there is much we can do. Is this operation expected to take a few seconds?

[2021-11-30 00:42] wenyingd commented on #3057
We have a solution: we could rename the vnic created by Windows host when creating the HNSNetwork, and attach it on OVS bridge directly, then we don't need to remove that nic and create a new one, and migrate the IP/MAC/Route, so that we might save much time.

[2021-11-30 12:45] #2913 closed

[2021-11-30 14:44] tnqn commented on #3008
@leonstack I was thinking about adding something similar to Antrea to support several use cases.  Maybe it can meet your requirement too.
The proposal is to add a CRD to declare the Traffic Control configuration similar to tc-mirred. The CR will select traffic based on from/to Pods, direction, L4 protocol and port and apply mirror or redirect action on it. An example is:
[code]
The capability itse

[2021-11-30 21:01] antoninbas commented on #2205
I think the verbosity can be set by editing this line: https://github.com/antrea-io/antrea/blob/9a52de90e90a8beeb512f56c51b670d93ec82325/build/yamls/antrea-windows.yml#L8?

[2021-12-01 01:46] XinShuYang commented on #2205
I will work on this

[2021-12-01 11:10] wenyingd opened #3073 "CI testbed for multicast e2e cases"
**Describe what you are trying to do**

Hi,

We are working on the multicast feature, and we need a specific testbed for multcast e2e cases. The setup needs 3 nodes at least, and one node should have two network interfaces, and Multicast should be enabled on all network interfaces on the nodes.

[2021-12-01 17:22] gtato commented on #2774
@wenyingd did you manage to fix this? I am having the same issue.

[2021-12-01 17:36] tnqn opened #3075 "Antrea-native NetworkPolicy status is not correct in some cases"
**Describe the bug**

Thanks @edwardbadboy for reporting the issue.

For an Antrea-native policy with multiple rules that have different AppliedTo, some rules may not be effective on a Node when the policy applies to the Node. In this case, antrea-agent didn't make any actual dataplane change and didn't report new status to antrea-controller if the only changed part of a policy event is about the

[2021-12-02 01:50] luolanzone opened #3076 "Use release version for Antrea image instead of 'latest' one"
**Describe the bug**

There will be image inconsistent when user is trying to use manifests in Antrea release version but it will get latest image in docker hub, which may cause deployment failure.

**To Reproduce**

**Expected**

When we release a new version of Antrea, we should replace all 'latest' version in Deployment definition with version.
eg:
`projects.registry.vmware.com/antrea/antrea-ub

[2021-12-02 05:21] wenyingd opened #3077 "Windows network policy case fail: should allow ingress access from updated pod"
**Describe the bug**

When running test-windows-networkpolicy with TOT code, the case "should allow ingress access from updated pod" always fail.
Following are some failure links triggered by different PRs:
http://10.176.27.169:8080/view/windows/job/antrea-windows-networkpolicy-for-pull-request/2346/
http://10.176.27.169:8080/view/windows/job/antrea-windows-networkpolicy-for-pull-request/2347/
htt

[2021-12-02 14:31] #3060 closed

[2021-12-02 18:29] antoninbas opened #3078 "hostNetwork Pods should be omitted from AddressGroups computed by antrea-controller"
**Describe the bug**
When defining a NetworkPolicy that selects hostNetwork Pods as NetworkPolicy peers, these Pods are included in the AddressGroups computed by the Antrea Controller and dispatched to the Antrea Agents.
This can lead to some unexpected behavior as these hostNetwork Pods advertise the Node's IP address in the `status.PodIP` field. One example is when defining a NodePort Service wi

[2021-12-02 18:31] antoninbas commented on #3078
@Dyanngg @GraysonWu could you take a look at this?

@jianjuns @tnqn @alex-vmw FYI

[2021-12-02 19:45] antoninbas commented on #3076
Could you clarify? All the release manifests for https://github.com/antrea-io/antrea/releases/tag/v1.4.0 look correct to me. There should be no reference to the `latest` tag.

The checked-in manifests (https://github.com/antrea-io/antrea/tree/v1.4.0/build/yamls) still use `latest`. It is possible to change these as well, but I am not sure there is value in doing so (shouldn't users be picking up t

[2021-12-02 19:50] shettyg opened #3081 "Antrea-1.4 connecitivity between windows pod and linux pods fails with different CNIs"
**Describe the bug**

We have a setup with windows nodes using Antrea. linux nodes use a different CNI plugin. In this setup, with Antrea1.4, connectivity between linux pods and windows pods do not work.

There is asymmetry in the packet path. A ping from linux pods reached the windows pods. The response from the windows pod ends up being sent to antrea-gw0 and then gets SNATed to the host IP.

Th

[2021-12-02 19:51] #1519 closed

[2021-12-02 19:51] #2315 closed

[2021-12-02 19:51] #2676 closed

[2021-12-02 20:03] antoninbas commented on #3081
I am assigning this to @tnqn because this is related to https://github.com/antrea-io/antrea/pull/2161 which he worked on. https://github.com/antrea-io/antrea/pull/2161 relies on Linux Nodes annotating their Node resource with `"node.antrea.io/mac-address"`, which obviously is not the case if the Antrea Agent is not running on the Linux Nodes.

@shettyg if there is any possibility to annotate the N

[2021-12-02 20:46] antoninbas opened #3082 "Supportbundle for each Agent is missing NetworkPolicy resources"
**Describe the bug**
When generating a supportbundle, the tarball for each Agent is missing files for NetworkPolicy resources: `networkpolicies`, `appliedtogroups`, `addressgroups`.

**To Reproduce**
`antctl supportbundle`, then look at the tarball for each Agent in the generated supportbundle directory.

**Versions:**
Antrea v1.4 and ToT

**Additional context**
This seems to have been broken from

[2021-12-02 21:00] shettyg commented on #3081
Thank you for the immediate response. We will consider adding "node.antrea.io/mac-address" if there is no easy fixe to avoid it. (In this case, we are using noencapmode.)

[2021-12-03 00:32] GraysonWu opened #3084 "Validation of `group` as a stand-alone selector is not comprehensive"
**Describe the bug**
Within an ingress or egress rule, `group` cannot be used with any other selectors. But we only checked if `group` is used with `podSelector`, `namespaceSelector`, and `IPBlock`. So if users use `group` with other selectors such as `fqdn`, the policy will have unexpected behavior.

https://github.com/antrea-io/antrea/blob/main/pkg/apis/crd/v1alpha1/types.go#L425-L429
https://gi

[2021-12-03 00:48] luolanzone commented on #3076
@antoninbas , ah, yes, I was checking the manifest in v1.4.0 tag branch, not the file in release page. it looks good in release download page, so I suppose we only have one inconsistent issue in checked-in manifests. I would say it's possible that people might go to and check those files under the release tag directly, it would be good to fix it but it's not urgent.

[2021-12-03 01:15] #3075 closed

[2021-12-03 02:04] #2832 closed

[2021-12-03 10:51] XinShuYang commented on #3077
I found this bug during testing new windows OvS. I have a PR here.

[2021-12-03 13:34] tnqn commented on #3081
@antoninbas is correct. To get better dataplane performance, it bypasses the windows host network when possible, but that requires overwriting the dst MAC by OpenFlow rules. If it doesn't know the dst MAC, it falls through to the host network to forward the traffic.

I guess the windows host didn't even know this was reply traffic as it's the first packet it saw for this connection. Even it can ch

[2021-12-03 14:23] #3078 closed

[2021-12-03 16:59] antoninbas commented on #3081
@tnqn why is there SNAT in this case given that it is Pod-to-Pod traffic (even if the host doesn't know this is reply traffic)?

[2021-12-03 20:36] GraysonWu commented on #3084
I'm thinking if we could use open API to control the relation between those fields instead of using validating webhook?

[2021-12-06 08:58] Jexf opened #3091 "`self`Action in ACNP is not working well, need update to `Self`"
**Describe the bug**

Add an ACNP,  as example:

[code]

But the pods in the same namespace also can not to ping each other.
[code]

The current supported NamespaceMatchType is `Self`.  so follow the configuration in the guide document https://antrea.io/docs/v1.4.0/docs/antrea-network-policy/  will not work well.

[code]

**Versions:**
Antrea 1.4.0

[2021-12-06 16:45] tnqn commented on #3081
@antoninbas I forgot this is Pod-to-Pod. You are right. It shouldn't do SNAT at all regardless of the direction. Then we should look at the NAT configuration of the windows host. For Linux, we use `-m set ! --match-set ANTREA-POD-IP dst -j MASQUERADE` to filter pod-to-external traffic. There should be a similar filter on Windows. @wenyingd could you confirm if this is an issue?

[2021-12-06 18:35] #3091 closed

[2021-12-07 00:26] wenyingd commented on #3081
Windows NetNat confguration doesn't support "exclude" options on either internal addresses (PodCIDR) or external addresses (SNATed address), so I don't think we could do it on the Windows host as what we have done on Linux. A substitution is, maybe we could query peer Node's MAC (using "Get-NetNeighbor" on Windows by Agent) if the Node's annotation is not set. What do you think?

[2021-12-07 05:18] #3082 closed

[2021-12-07 12:16] tnqn commented on #3081
There may be no neighbor cache if the two Nodes never communicated. If adding another step to trigger communication, maybe it makes make sense to just send ARP query to retrieve the MAC address. There should be some Go libraries doing it.

And it needs to handle cross-subnet case. Bypassing windows host network was optional and affected performance only before, now it becomes necessary as it will

[2021-12-07 13:53] luolanzone opened #3100 "Add copy right info automatically."
**Describe what you are trying to solve**

We would see copy right missing in codes during review every now and then, it would be better if Antrea provides CI to add
copy right info automatically.
**Describe the solution you have in mind**

Add a new target in Makefile like `make check-copyright` to check any missing copyright and add it automatically.

**Describe how your solution impacts user fl

[2021-12-07 22:34] GraysonWu commented on #3084
Didn't find a good way to solve it via API design. Mainly blocked by [this rule](https://kubernetes.io/blog/2019/06/20/crd-structural-schema/#:~:text=inside%20of%20value%20validations%20no%20additionalProperties%2C%20type%2C%20nullable%2C%20title%2C%20description).

Open a PR solving it by making our validating webhook more comprehensive.

[2021-12-08 00:51] bangqipropel commented on #3100
will it also contain that replace the old copyright? I also see some copyright is also 2020, and will it be updated to 2022?

[2021-12-08 01:32] luolanzone commented on #3100
@bangqipropel  no, we shouldn't replace old copy right, only check those files without copyright and add it.

[2021-12-09 08:09] luolanzone opened #3107 "Multicluster support in antctl"
**Describe what you are trying to solve**

Since multi-cluster feature is under development, we need to add more commands to antctl to support multi-cluster feature to provide a better experience for MC ClusterSet initialization.

**Describe the solution you have in mind**

Add a sub-command `mc` to `antctl` so user can run `antctl mc` to trigger multi-cluster related commands.

**Describe how you

[2021-12-09 08:09] luolanzone commented on #3107
cc @hjiajing

[2021-12-10 01:57] #3084 closed

[2021-12-10 02:05] wenyingd commented on #3081
If sending ARP, I have thought of 3 options to leverage the ARP reply: 1) packet in the reply to Antrea Agent, then Antrea Agent could install OpenFlow entries for peer PodCIDR on a different Node; 2) use "learn" action to dynamic use the src MAC in the reply, then Antrea Agent could not wait for the ARP reply, but directly installs a flow on OVS. 3) let the Windows Host to learn the ARP reply (by

[2021-12-10 02:23] jianjuns commented on #3081
But Windows should have a way to skip NAT for specific IPs, no?

Using ARP to discover MAC is much complexer, and can be another source of traffic issues, esp. when we have a large number of Nodes.

[2021-12-10 02:28] wenyingd commented on #3081
I didn't find a valid configuration to exclude some IP/CIDR in Windows NetNat yet.

[2021-12-10 03:14] wenyingd commented on #3081
Another thought is, using another CIDR for windows NAT, and filter the traffic that is sending to external in OVS then perform SNAT in OVS using the CIDR configured for Windows NAT. This solutions should be also suitable for Egress feature on windows. What do you think? @jianjuns @tnqn

[2021-12-10 03:16] wenyingd commented on #3081
The CIDR for Windows NAT could be 169.254.0.128/25, which can be configured on Windows NetNAT

[2021-12-10 08:42] Shengkai2000 opened #3115 "Support external IP management of Services"
**Describe the problem/challenge you have**
Support allocating and configuring external IPs for Services of LoadBalancer type

**Describe the solution you'd like**
Be able to automatically allocate external IPs for LoadBalancer type Services from an IP pool, which can be defined using the ExternalIPPool CRD, and configure the external IPs on the Nodes selected by the ExternalIPPool.

[2021-12-10 14:15] gricec opened #3117 "EKS Anywhere support"
**Describe the problem/challenge you have**
Can we have EKS Anywhere support documented

**Describe the solution you'd like**
Please can you advise if EKS Anywhere is supported and if so can we provide documentation showing so. Calico is showing support and it would seem Antrea could follow the same example

[2021-12-10 17:01] antoninbas opened #3118 "Update K8s dependencies to a more recent version"
This issue can be used to keep track of the necessary changes when upgrading the K8s dependencies (currently v1.21) to a more recent version.

For K8s v1.23:
* Switch from `k8s.io/apimachinery/util/clock` to `k8s.io/utils/clock` for virtual clocks used for testing (in `pkg/agent/controller/networkpolicy`). The former package is being deprecated (see https://github.com/kubernetes/kubernetes/pull/10

[2021-12-10 19:21] antoninbas opened #3119 ""E2e tests on a Kind cluster on Linux (noEncap)" CI failures"
**Describe the bug**

I am seeing a lot of CI failures recently for the "E2e tests on a Kind cluster on Linux (noEncap)" CI job (run by Github actions).
The failures are always the same, with test Pods not being created properly:

[code]

When looking at kubelet logs I see the following failures:
[code]

For some reason, the `projects.registry.vmware.com/antrea/agnhost:2.26` is not being pulled pr

[2021-12-10 19:45] antoninbas opened #3121 "Support bypass AntreaProxy for Pod-to-Service traffic for LoadBalancer Services"
**Describe the problem/challenge you have**
@alex-vmw has a use case where he would like to deny inter-namespace Traffic using ACNP(s). However, if a Pod in Namespace A tries to access a LoadBalancer Service using its external (public) IP, and the backend Pods for the Service are in a different Namespace B, @alex-vmw wants the connection to be allowed. Originally I thought that a policy like this

[2021-12-10 23:41] antoninbas commented on #3121
While it's possible (although a bit hacky) to bypass kube-proxy with rules like these ones when it runs in iptables mode:
[code]

however, this obviously not working when running kube-proxy in ipvs mode

@tnqn I can't think of a solution that would let us cleanly bypass kube-proxy for that kind of traffic. We can still add that config option for AntreaProxy, but it will only work when using Antrea

[2021-12-11 00:27] #893 closed

[2021-12-13 01:24] XinShuYang commented on #2205
I found a way to add klog verbosity level on Windows. I have a PR here.

[2021-12-13 01:59] jianjuns commented on #3115
Thanks for proposing this idea. I would agree it sounds quite feasible to extend external IP management of Egresses to Services! Wonder if you are looking at an implementation already?

[2021-12-13 08:46] luolanzone opened #3126 "Update feature gate information in antctl"
**Describe the bug**

Since more feature are introduced, the feature gate information from antctl is inconsistent with latest feature gate list.

**To Reproduce**

Run `antctl get featuregates`, this list is a static information according to code https://github.com/antrea-io/antrea/blob/main/pkg/apiserver/handlers/featuregates/handler.go#L32-L33, it should reflect latest feature gates from https:/

[2021-12-13 13:41] tnqn commented on #3121
@antoninbas I feel making too many changes to bypass iptables rules installed by kube-proxy is a bit beyond antrea's responsibility. Since proxying services optionally is not supported by kube-proxy, it should make sense to ask users to remove it if they want to get the desired behavior.

[2021-12-14 01:00] antoninbas opened #3131 "Antrea ProxyAll doesn't remove stale routes on the host"
**Describe the bug**

When the Antrea Agent is restarted, stale antrea-gw0 routes installed by AntreaProxy in ProxyAll mode (e.g. for LoadBalancer Services) are not removed. This doesn't match what we do for other routes that we install on the gateway, e.g. Pod CIDR routes in encap mode.

**To Reproduce**
1. run Antrea with AntreaProxy configured in ProxyAll mode
2. create a Service of type LoadBa

[2021-12-14 08:42] Jexf opened #3133 "Need add retry to udpate NetworkPolicy status"
**Describe the bug**
[code]

**To Reproduce**
When we create the Cluster Network Policy, there is a certain probability that the ClusterNetworkPolicy status will sync failed , although the ClusterNetworkPolicy final status is correct.

**Expected**
Need add retry to udpate NetworkPolicy status

**Versions:**
Antrea 1.4

[2021-12-14 10:11] Jexf opened #3135 "duplicated deleting related AddressGroups action in deleting ClusterNetworkPolicy process"
**Describe the bug**
[code]

**To Reproduce**
1. Create a ClusterNetworkPolicy
2. Delete the ClusterNetworkPolicy

**Versions:**
1.4

[2021-12-15 00:23] #1673 closed

[2021-12-15 00:23] #1555 closed

[2021-12-16 06:26] Shengkai2000 commented on #3115
Yes, as you can see, I have created a pull request referenced this issue. Please help to review. Thank you!

[2021-12-16 17:13] jianjuns commented on #3115
Great to see the PR!

[2021-12-17 06:28] hongliangl opened #3148 "[Windows] Service LoadBalancer of Antrea ProxyAll on Windows Node doesn't work"
When ProxyAll is enabled on Windows Node and kube-proxy is removed.

Reproduce steps:

- Windows Node IP: `10.176.209.252`, client IP: `10.176.210.53`
- create a LB Service
     -  `externalTrafficPolicy` is `Cluster`
     -  external IP is `179.254.169.1`
     -  port is `8080`
     -  Endpoint is on a Linux Node.
- Add a route on the client, `route add 179.254.169.1 MASK 255.255.255.255 10.176.2

[2021-12-17 09:23] wenyingd commented on #3081
Having some offline discussion and test with @hongliangl @XinShuYang , we have another solution: add a new OVS internal port for the traffic that doesn't need to perform SNAT, enable IP-Forwarding on the interface, and then we add OpenFlow entries in OVS to ensure the packets are output to the new interface. Back to this issue, we could add OpenFlow entry for the Pod traffic on a Node which is not

[2021-12-17 14:41] #3077 closed

[2021-12-18 00:10] antoninbas opened #3150 "Add support for `ip6gre` tunnel type?"
Unlike for `vxlan` and `geneve` (UDP-based tunnels), trying to use the `gre` tunnel type to build an IPv6 overlay will not work, Pod-to-Pod communications across Nodes will be broken. This is because to build an IPv6 GRE overlay (IPv6-in-IPv6), the `ip6gre` tunnel type must be used.

However, there doesn't seem to be any error message (at least not in Antrea) when trying to use the `gre` tunnel ty

[2021-12-18 00:19] antoninbas opened #3151 "IPsec mode not working with IPv6 overlays"
**Describe the bug**
In an IPv6-only cluster, trying to enable IPv6 doesn't work (so far I have tried with VXLAN tunnels only). There is no connectivity between Pods across different Nodes, and no IPsec Security Associations are being created.

**To Reproduce**
Apply the `antrea-ipsec.yml` manifest in an IPv6-only K8s cluster, check Pod connectivity.

**Versions:**
Antrea v1.4 and ToT

**Additiona

[2021-12-18 00:24] #1941 closed

[2021-12-18 00:24] #1975 closed

[2021-12-18 00:24] #1848 closed

[2021-12-18 00:24] #1831 closed

[2021-12-18 00:24] #1789 closed

[2021-12-19 00:25] #1739 closed

[2021-12-19 00:25] #1691 closed

[2021-12-19 00:25] #1680 closed

[2021-12-19 00:26] #1621 closed

[2021-12-19 00:26] #1581 closed

[2021-12-19 00:26] #1600 closed

[2021-12-19 00:26] #1400 closed

[2021-12-19 13:54] jayunit100 opened #3152 "[windows] antrea-agent startup fails, ovs-vswitchd complaining of of "broken meter" function"
**Describe the bug**

On the [sig-windows-dev-tools](https://github.com/kubernetes-sigs/sig-windows-dev-tools/pull/124/files) repository, were seeing a new interesting bug on antrea agent startup, not sure if somehow related to new installation of ovs or anything, but its on v1.4.0.

Im noticing in an instance of antrea-agent which isnt working, that theres some complaining about a meter implement

[2021-12-19 16:46] jayunit100 commented on #3152
cc @wenyingd , any thoughts on this?

[2021-12-19 18:11] uablrek commented on #2531
FYI, please see https://github.com/cri-o/cri-o/issues/4276#issuecomment-997434949

[2021-12-20 00:24] #1153 closed

[2021-12-20 00:24] #1068 closed

[2021-12-20 00:24] #883 closed

[2021-12-20 00:24] #891 closed

[2021-12-20 10:37] tnqn commented on #2531
Thanks @uablrek for the information. According to your finding, the issue could be fixed by installing cni config after cni bin.
I think even without the issue, that order makes also makes more sense. I have created #3154 for that change and verified it could work for cri-o, regardless of the existence of `100-crio-bridge.conf` (`10-antrea.conflist` takes priority over `100-crio-bridge.conf` in le

[2021-12-21 00:26] #1991 closed

[2021-12-21 00:27] #740 closed

[2021-12-21 00:27] #331 closed

[2021-12-21 01:40] antoninbas commented on #3151
I submitted an OVS patch for this after getting some help from the strongSwan folks: https://mail.openvswitch.org/pipermail/ovs-dev/2021-December/390357.html

I think we can apply this patch manually in our build until it is merged upstream.

[2021-12-21 11:06] leonstack commented on #3008
Yes, it can meet my requirement. After some consideration, filter the traffic seems useless, because mostly the pod is running for one progress, which bind to one port, so ignore this requirement.

[2021-12-21 21:19] antoninbas commented on #3150
For now I have decided to create a PR that fails if `gre` is used in an cluster that supports IPv6, and which updates the documentation accordingly. In order to properly support GRE for IPv6 clusters, we need to consider the case of a dual-stack clusters with one overlay per address family. This case would require 2 default tunnel ports, one with type `gre` and one with type `ip6gre`. This would a

[2021-12-21 21:25] antoninbas opened #3157 "Dual-stack case is broken for Vagrant-based test cluster"
**Describe the bug**
Trying to run `./provision -ip-family dual` and deploying Antrea (v1.4) in the created cluster will not work. Antrea Agents will keep crashing because of an initialization error:

[code]

This was because https://github.com/antrea-io/antrea/pull/2436 introduced the limitation that both IP addresses have to be assigned to the same device on the Node. This was deemed a reasonabl

[2021-12-21 22:03] knabben commented on #3152
Running in the same environment:

[code]

[2021-12-22 13:45] jayunit100 commented on #3152
^ yup, thats the version of the drivers, the os is
[code]
and the other info, as amim mentioned is:
[code]

Any thoughts on this @wenyingd ?

[2021-12-23 00:52] wenyingd commented on #3152
It looks correct from the driver information. Since ovs-vswitchd Service is not able to run, could you help manually run the process. You can try following steps:
1. stop-service ovs-vswitchd
2. ensure Service ovsdb-server is running
3. open a powershell window on the Windows host,
4. run command: "c:\openvswitch\usr\sbin\ovs-vswitchd.exe  --pidfile -vfile:info --log-file"

Then check the output i

[2021-12-23 18:48] #3157 closed

[2021-12-26 00:26] #1278 closed

[2021-12-28 00:25] #2020 closed

[2021-12-28 02:58] projx opened #3165 "Enabling Egress IPs causes controller failure"
**Describe the bug**
Enabling the Egress IP features prevents the Controller from starting

**To Reproduce**
1) Install Antrea, kubectl apply -f https://github.com/antrea-io/antrea/releases/download/v1.4.0/antrea.yml
2) Edit the antrea-config ConfigMap, uncomment the "Egress: false" and change to "Egress: true"
3) Kill the agent and controller pods, so they regenerate

**Expected**
The controller

[2021-12-28 03:31] projx commented on #3165
I think the issue may have been in the ConfigMap itself, I created a new one from scratch an its now working!

[2021-12-28 03:31] #3165 closed

[2021-12-29 15:03] odidev opened #3166 "Enable testing on ARM64"
Hi Team,

**Describe the problem/challenge you have**

I ran the kind e2e tests by using the ```/ci/kind/test-e2e-kind.sh``` command on ubuntu arm64 platform and by implementing the changes mentioned here https://github.com/odidev/antrea/commit/f9462226c2c5f38d36d716dcc463c704e5220ad6 although all the tests are not passing successfully few are failing.

Please find the logs: [antrea_tests_kind_arm

[2022-01-01 11:41] sanchayanghosh opened #3167 "Antrea agent does not start. Error - key failed with : configmap "antrea-ca" not found."
**Describe the bug**

We get an error key failed with : configmap "antrea-ca" not found when we attempt to start antrea cluster on kubernetes.

**To Reproduce**

1. Do a kubeadm init --pod-network-cidr=192.168.0.0/16
2. `kubectl apply -f https://github.com/antrea-io/antrea/releases/download/v1.4.0/antrea.yml`
3. After that when you do kubectl get, you get this:
[code]
4. When we try to get the log

[2022-01-02 00:26] #1982 closed

[2022-01-02 00:26] #1026 closed

[2022-01-03 12:52] jsalatiel opened #3168 "Netpolicy logging should also log destination port"
**Describe the problem/challenge you have**
Log to /var/log/antrea/networkpolicy/np.log should contain destination port.
The current format for the logging looks like:
[code]
Although useful, it would be a lot more useful if it contained the destination port, so it would help to debug.

**Describe the solution you'd like**
The destination port should also be logged

**Anything else you would like

[2022-01-03 18:57] antoninbas commented on #3168
170 is an implementation detail (priority of the OVS flow which implements the policy)
60 is the packet length

I agree that we should add some more info to https://github.com/antrea-io/antrea/blob/main/docs/antrea-network-policy.md#audit-logging-for-antrea-native-policies. And including the source and destination ports sounds good to me. @qiyueyao could you take a look at this?

[2022-01-03 19:13] antoninbas commented on #3166
Thanks for opening this issue.
First I'll point out that we are happy to merge a PR that facilitates running the Antrea e2e tests on a K8s cluster with arm64 Nodes.
But please note that:
* The `antrea/ethtool` docker image should already support arm64 (https://hub.docker.com/r/antrea/ethtool/tags)
* Public runners for Github actions do not support arm64. As a result self-hosted runners are require

[2022-01-03 19:19] antoninbas commented on #3167
The `antrea-controller-7999d9686-xzr27` Pod is `Pending`. Could you figure out why with `kubectl describe`? The Controller is in charge of generating the ConfigMap, so if it's not running it would explain why the ConfigMap doesn't exist.

[2022-01-04 00:25] #2023 closed

[2022-01-04 00:25] #1358 closed

[2022-01-04 04:16] luolanzone commented on #3131
Hi @antoninbas  I am curious about how to use metallb with Antrea, I didn't find any document about this, is there any special setting for metalb in Antrea?

[2022-01-04 05:23] jayunit100 commented on #3152
interesting ok.  I guess we may need to look at this interactively sometime on a live system.  for now, ill close this issue.

[2022-01-04 05:23] #3152 closed

[2022-01-04 09:25] luolanzone commented on #3131
I didn't see route duplicates, but found the ClusterIP CIDR is not the same as Service IP range in cluster info in my local:
* added route: `10.19.0.0/19 via 169.254.0.253 dev antrea-gw0`
* Service CIDR in dump info:
[code]

[2022-01-04 20:34] antoninbas commented on #3131
Nothing special is required to run metalLB with Antrea, I just followed the `Installation By Manifest` instructions in https://metallb.universe.tf/installation/

The `10.19.0.0/19` in your case is fine. It is a subset of the cluster Service CIDR. AntreaProxy is not aware of the full CIDR, so it dynamically computes routes based on observed Service ClusterIPs.

[2022-01-05 10:39] hongliangl commented on #3131
For cases:

1. Before rebooting: ProxyAll is enabled, after rebooting: ProxyAll is disabled, staled calculated ClusterIP routing entry and stale LB routing entries  should be deleted.
2.  Before rebooting: ProxyAll is enabled, after rebooting: ProxyAll is enabled, staled calculated ClusterIP routing entry should be deleted.

For case 1, the staled calculated ClusterIP routing entries will not affe

[2022-01-05 17:02] tnqn opened #3172 "`run-k8s-e2e-tests.sh --e2e-all` does not run any NetworkPolicy tests"
**Describe the bug**

`run-k8s-e2e-tests.sh --e2e-all` is supposed to run both Conformance and NetworkPolicy tests:
[code]
But actually it doesn't run any NetworkPolicy tests:
[code]

It was because `run_conformance` overrided the global `RUN_E2E_SKIP` variable with `DEFAULT_E2E_CONFORMANCE_SKIP`.

**To Reproduce**

Run `./ci/run-k8s-e2e-tests.sh --e2e-all`

**Expected**

**Actual behavior**

**Ve

[2022-01-06 04:43] #3172 closed

[2022-01-06 11:54] #3135 closed

[2022-01-06 13:24] #3133 closed

[2022-01-08 00:26] #2049 closed

[2022-01-09 00:26] #1979 closed

[2022-01-09 11:42] zm1990s opened #3178 "Antrea IPAM Addresses are not recycled when deploy is deleted."
**Describe the bug**
When using Antrea 1.4's IPAM to allocate static ip pools to namespace. IP will not get recycled after deployment is deleted.

**To Reproduce**
1. Create an antrea ippool.
2. Create a namespace with ippools annotion.
3. Create a deployment with two pods belongs to the above namespace.
4. Make sure pods get IPs properly.
5. Delete deployment.
6. `kubectl describe ippool <ippool-

[2022-01-09 11:51] #3178 closed

[2022-01-09 17:41] jsalatiel opened #3179 "EgressIP not applying - antrea-egress0 interface down"
**Describe the bug**
After creating an Egress Object and applying the right label to the pod, pod can not access anything. The EgressIP does not appear as as an assigned IP on any interface on the server.

**To Reproduce**
[code]
**Expected**
The IP should be assigned to the server and the POD should SNAT to that IP.

**Actual behavior**
No ip assigned and pod with no connectivity outside the clus

[2022-01-09 21:39] jsalatiel commented on #3179
I missed this detail in the docs:
If only egressIP is specified, Antrea will not manage the assignment of the IP and it must be assigned to an arbitrary interface of one Node manually.

Closing...

[2022-01-09 21:39] #3179 closed

[2022-01-10 00:26] #2066 closed

[2022-01-10 05:31] #3121 closed

[2022-01-10 19:03] antoninbas opened #3181 "CVE-2021-44716 (go net/http)"
This CVE was published on 01/01/2022: https://nvd.nist.gov/vuln/detail/CVE-2021-44716
The Go net/http package has a vulnerability for non-gRPC HTTP/2 endpoints. This vulnerability affects all HTTP endpoints in Antrea as HTTP/2 is enabled by default for Go HTTP servers. It can cause increased memory consumption in the Antrea processes until they are OOM-killed.
All Go versions prior to 1.16.12 and

[2022-01-11 00:18] wenyingd opened #3184 "Replay cached multicast relevant flows are not supported"
**Describe the bug**

The existing code doesn't replay multicast cached flows if Agent reconnects to OVS after a disconnection.

**To Reproduce**

**Expected**

**Actual behavior**

**Versions:**

**Additional context**

[2022-01-11 03:33] Jexf opened #3187 "Missing host route for antrea-gw0 interface in some scenes"
**Describe the bug**
Missing host route for antrea-gw0 interface in some scenes

**To Reproduce**
1. Show the applied routes for antrea-gw0 interface
[code]
2. Remove all routes which are related with antrea-gw0 inferface

3. Restart Antrea-Agent

**Expected**
All removed routes will be added for the antrea-gw0 interface again

**Actual behavior**
Missing host route  `
10.224.0.0/24 dev antrea-gw0

[2022-01-11 09:03] wenyingd opened #3188 "Noencap Pod to remote Pod packets is dropped by the source MAC check on the Hypervisor"
**Describe the bug**

Hi, we have a setup running K8s  cluster on NSX-T network. A source MAC check is configured on the hypervisors to ensure the packets sent from the VM (Node) is using the MAC configured on the VM NIC. Then the Windows Pod to remote Pod traffic is not working with noEncap mode.

Going through the existing code with noEncap mode, the source MAC is actually Pod's MAC when outputt

[2022-01-11 18:40] antoninbas commented on #3187
This is the route added automatically by the kernel when the IP address is configured on the interface. We do not have reconciliation logic for this route at the moment (unlike for the other ones which are added explicitly by Antrea). I'll look at what we can do for this.

[2022-01-12 00:50] #2030 closed

[2022-01-12 01:29] bangqipropel commented on #3107
question on this:
`show` seems like an important command in mc command, will we consider `show` as a keyword here? it seems like it means `list` for resources, but seems like `get` or `describe` for clusterset?

[2022-01-12 02:17] wenyingd commented on #3081
Any thoughts about this option? @jianjuns @tnqn @antoninbas

[2022-01-12 03:31] jianjuns commented on #3081
I feel the new proposal sounds better than the previous two.

So, there is no other way like packet mark, etc. to identify a packet requires NAT?

[2022-01-12 03:39] luolanzone commented on #3131
we probably can avoid service ClusterIP CIDR calculation according to a stackoverflow answer:
https://stackoverflow.com/questions/44190607/how-do-you-find-the-cluster-service-cidr-of-a-kubernetes-cluster, and it can works across cloud providers.
here is an implementation for it: https://github.com/submariner-io/submariner-operator/blob/153d839b6ccd1f03a8f4afd9175a7e8c0dfcbf54/pkg/discovery/network

[2022-01-12 07:00] wenyingd commented on #3081
I didn't find a valid configuration from the Windows host. Windows SNAT using source CIDR as the filter, and we can't use it to differentiate the pod traffic to an external destination or to a Node

[2022-01-12 11:12] Jexf opened #3192 "Check and wait for antrea tier restapi instead of retrying directly"
**Describe the bug**

[code]

Now Antrea Controller need to create baisc tiers as default in starting process. But it will be failed when the endpoint of antrea service is not ready.  Maybe we need to check and wait for antrea tier restapi instead of retrying directly.

**Versions:**
1.4

[2022-01-13 00:30] yongxiu opened #3195 "antrea stopped working after a few hours"
**Describe the bug**
Installed Kubernetes with antrea on Windows nodes, it works well in the beginning, pod can ping other Linux nodes' pods, Windows nodes show healthy.

After a few hours, the Windows nodes become unhealthy, and unreachable. I use another network connected to this Windows machine, found antrea-agent stopped running.

**To Reproduce**
Install Kubernetes with antrea on Windows node

[2022-01-13 04:23] jianjuns commented on #3195
@wenyingd : could you check this?

[2022-01-13 05:58] wenyingd commented on #3195
Hi all,

From Antrea Agent log, we see that the Windows host was experiencing shutdown at 2022/01/08 03:53:57
[code]
Then at 03:54:11, Antrea Agent was starting, I guess at this time the Windows host is restarted. But at this time Antrea Agent fails to connect to the kube-apiserver, which causes agent crashes again.
[code]
When Antrea Agent crashes because of the initialization failure, HNS Networ

[2022-01-13 06:05] wenyingd commented on #3195
To quickly recover the host, the operations should include:
1. Remove OVS configurations. ovs-vsctl.exe del-br br-int
2. Disable Hyper-V Extensible Virtual Switch on Ethernet. powershell > Set-NetAdapterBinding -Name "Ethernet" -ComponentID vms_pp -Enabled $false

After the above two steps, the Windows host network should be recovered, then antrea agent is possibly restarted, and recreate the HNSN

[2022-01-13 07:12] yongxiu commented on #3195
I tested it, and it works! Thank you so much!

[2022-01-13 07:12] #3195 closed

[2022-01-13 07:21] yongxiu commented on #3195
Will it be better to call  1) remove OVS bridge, 2) remove HNSNetwork during machine starting up? In case the machine shutted down unexpectedly.

[2022-01-13 08:01] wenyingd commented on #3195
Personally, I would prefer to call them when shutting down. It is because the HNSNetwork configuration is saved in memory or a temp file on Windows host by default which is possibly deleted before starting up, and some connection data might be lost at this time, so if we do cleanup at this time, I am afraid some legacy network interfaces (or registry data) is difficult to remove. Actually we used

[2022-01-14 01:28] bangqipropel commented on #3126
we have added it manually in `DefaultAntreaFeatureGates`

[2022-01-14 02:31] #3184 closed

[2022-01-15 00:26] #280 closed

[2022-01-18 02:11] luolanzone commented on #3126
after sync with bangqi, we found developer have updated the corresponding feature info in the code, so no need to do anything for this issue, close it.

[2022-01-18 02:11] #3126 closed

[2022-01-18 05:11] tnqn commented on #2801
The document about IPPool IPAM https://github.com/antrea-io/antrea/blob/main/docs/antrea-ipam.md#antrea-flexible-ipam has been merged, closing the issue.

[2022-01-18 05:11] #2801 closed

[2022-01-18 09:13] #2211 closed

[2022-01-18 17:54] antoninbas commented on #1605
@saramach No update from you so I'm removing you as an Assignee in case someone else wants to work on this

[2022-01-18 18:31] jayunit100 commented on #2774
`containerd version: 1.5.0-420-g61a46e9fd` <-- invalid issue bc its an old issue.

[2022-01-18 22:41] #3187 closed

[2022-01-19 10:07] #2250 closed

[2022-01-19 10:49] #3057 closed

[2022-01-19 13:37] knabben commented on #2774
This bug is related to https://github.com/kubernetes/kubernetes/pull/83730#issuecomment-790940854

Make sure you have all the Windows updates installed in the machine. One from Sep 2020 fixes it.

[2022-01-19 15:49] tnqn opened #3208 "antrea-agent spamming "Transport address is not found, using NodeIP instead""
**Describe the bug**

When `transportInterface` is not set (by default), each antrea-agent logs one record for every Node every minute:
[code]

**To Reproduce**

Deploy antrea with default configuration

**Expected**

Do not spam useless logs.

**Versions:**
Please provide the following information:
 - Antrea version (Docker image tag).  7dd8d8609428da3f32e484b5284109590de27d3d

[2022-01-20 00:58] wenyingd commented on #2774
I succeeded in another Windows host later, which was installed with all latest official KBs, and I also removed dockerd on the new host. Then containerd with verson 1.5.5 works

[2022-01-20 00:59] #2774 closed

[2022-01-20 03:19] #3073 closed

[2022-01-20 16:12] tnqn opened #3213 "integration test is very flaky"
**Describe the bug**

It has more than 50% possibilities to fail on unrelated changes, while testing it locally always succeed. I suspect it's related to the performance of testbed.

**To Reproduce**
See https://jenkins.antrea-ci.rocks/job/antrea-manual-integration-for-pull-request/

[2022-01-20 21:19] amayacitta commented on #832
Sorry to dig this one out from 2020. I am seeing the same issue when deploying through VMware Tanzu, we are deploying TKGS clusters using a standard YAML spec and intermittently get this error. Sometimes we get it, sometimes we dont. If we do then there is no CNI on the node at all...

If I run this against the failed agents I get the following

kubectl logs antrea-agent-5sjml -n kube-system
error

[2022-01-21 00:43] wenyingd opened #3217 "Antrea Agent crashed after restart in AKE with NetworkPolicyOnly mode"
**Describe the bug**

Using the latest code, Antrea Agent crashed after restart (e.g., by changing the yaml configuration), and we got the following error output,
[code]

Having checked host IP configuration on the Node where agent fails, we found that on AKE setup, antrea-gw0 was configured with Node's IP with 32bit mask, which resulted in there were two interfaces configuring NodeIP.

**To Repro

[2022-01-21 00:59] #3208 closed

[2022-01-21 02:19] tnqn commented on #2251
@wenyingd Since this is supported now, could you check if we still need to keep this issue? If it can be closed, could you list the PRs that implement it here.

[2022-01-21 03:03] #3115 closed

[2022-01-21 04:52] tnqn opened #3222 "Unit test TestTraceflow is flaky"
**Describe the bug**

I met the following error twice:
[code]
It should be caused by the same issue in fake clientset as the one in https://github.com/antrea-io/antrea/pull/1723 that resource creation events were missing if the resources were created in-between list and watch call of an informer.

[2022-01-21 05:57] luolanzone commented on #3107
There is a conclusion in an internal MC sync meeting that we will support troubleshooting related feature in antctl for mc only, antrea operator will be the better place to do deployment/bootstrap related.

[2022-01-21 06:05] luolanzone commented on #3107
There is a conclusion in a MC discussion meeting that we will support troubleshooting related feature in antctl for mc only, antrea operator will be the better place to do deployment/bootstrap related.

[2022-01-21 06:54] #3222 closed

[2022-01-21 19:08] antoninbas opened #3228 "Add documentation for SecondaryNetwork feature"
Antrea v1.5 introduces the `SecondaryNetwork` feature gate: it is now possible to annotate a Pod resource so that Antrea configures a secondary network interface for the Pod. At the moment only SR-IOV VFs for baremetal Nodes are supported as secondary Pod network interfaces. Without documentation / a user guide, it is very difficult for someone to figure out how to use the feature, or understand t

[2022-01-21 19:09] antoninbas opened #3229 "Add documentation for Multicast feature"
Starting with Antrea v1.5, Antrea can support multicast traffic (within the cluster network, or between the Node network and the cluster network) under certain conditions. In order for users to understand how to use this feature, it needs to be documented.

[2022-01-21 19:11] antoninbas opened #3230 "Add documentation for ServiceExternalIP feature"
The `ServiceExternalIP` feature gate was introduced in Antrea v1.5, but the feature still needs to be documented. We need a doc with examples, just like we have for the [egress feature](https://github.com/antrea-io/antrea/blob/main/docs/egress.md).

[2022-01-21 23:40] amayacitta commented on #832
This can be ignored, it's a very simple cause for me, each node will consume a /24 from your PodCIDR allocation. I had mine only at /23 so was only allowed one master and one worker before it was consumed... I thought it was intermittent but it was consistent for sure. I was just ignorant to its behaviour.

I've now set it to /20 which allows 16 nodes, which is plenty. 3 master and 13 worker. Hura

[2022-01-22 00:01] antoninbas commented on #832
@amayacitta this error is usually easy to troubleshoot by looking at the agent logs

error: a container name must be specified for pod antrea-agent-5sjml, choose one of: [antrea-agent antrea-ovs] or one of the init containers: [install-cni]

You just need to add `-c antrea-agent` as indicated in the error message

[2022-01-22 00:26] amayacitta commented on #832
Thanks for the tip, that’s how I figured out the node couldn’t consume anymore /24 networks from the pod CIDR. The antrea agent log moaned about it.

Just gotta make sure I keep the pod CIDR large enough. I was being too ‘tidy’.

[2022-01-23 00:24] #1390 closed

[2022-01-24 02:43] rysinal opened #3233 "Network performance problem between cross-host PODs"
OS-IMAGE: VMware Photon OS/Linux
KERNEL-VERSION: 4.19.160-1.ph3-esx
CONTAINER-RUNTIME: containerd://1.4.3
k8s VERSION: v1.19.7+vmware.1
my antrea agent image version is `antrea-photon:v0.10.2_vmware.3`

Open two demo backend pods , pod1(192.168.9.155) and pod2(192.168.10.81), pod1 and pod2 on different host machines,The bandwidth measurement between pods under different hosts is only 12.0 Mbits/se

[2022-01-24 03:31] luolanzone commented on #3131
@jianjuns @antoninbas Do you have any suggestion about the new way to get Service ClusterIP CIDR via creating a invalid Service? the detail is in my previous comment, I syned with @tnqn today, since MC need to get ClusterIP CIDR as well for setting up route across clusters, quan's recommendation is to use this way in MC and also provide a configuration like `serviceCIDR` and `serviceCIDRv6`  so us

[2022-01-24 05:48] tnqn commented on #3233
@rysinal  The cross-node bandwidth seems abnormal. Normally it may be caused by incorrect MTU configuration or defect in checksum offloading of the network adapters. Could you capture some traffic of the session on physical interfaces of both Nodes and upload them for analysis?
If it's related to checksum offloading issue, disabling the TX offloading should workaround it, you could try `ethtool -K

[2022-01-24 06:18] rysinal commented on #3233
@tnqn Thank you for your answer, I confirmed that the MTU configuration of the VMware customization machine is 9000. As if you need to adjust the DEFAULTMTU configuration of Antrea (the default properties seem to be 1450)

[code]

[2022-01-24 11:21] tnqn commented on #3233
@rysinal The MTU of virtual network interfaces including antrea-gw0 and the veth devices of Pods should be 50 less than the physical network inteface's to accommodate tunnel header. So the auto-configured MTU is fine. By "incorrect MTU configuration", I meant it's possible that the actual MTU of the datapath is not consistent with the MTU configured on the physical interface. You could check it by

[2022-01-24 17:19] arunvelayutham commented on #3228
@antoninbas I will get it done this week.

[2022-01-24 18:37] antoninbas commented on #3233
You may want to reach out to VMware support directly to get help with this issue.

[2022-01-24 19:02] antoninbas commented on #3131
I am fine with the proposed alternative, it will make the code much simpler.
I do hope that the format of the error message will not change in the future or this mechanism will break. But it would be unlikely. Eventually I hope K8s exposes an API for this.

[2022-01-24 19:17] jianjuns commented on #3131
Sounds good to me too.

[2022-01-25 02:47] #2972 closed

[2022-01-25 03:18] luolanzone commented on #3107
There a a few basic commands for antctl troubleshooting in MC after a discussion.
1. `antctl list clusterset [-n|--namespace ] [--kubeconfig]`
antctl can list all managed ClusterSets.
2. `antctl get clusterset [-n|--namespace ] [--kubeconfig]`
antctl can show a ClusterSet details including the number of member/leader clusters, the ids of each cluster in the ClusterSet, and also the overall status

[2022-01-25 03:20] luolanzone commented on #3107
@aravindakidambi  Could you help to take a look as well? welcome any suggestion. thanks

[2022-01-25 03:59] rysinal commented on #3233
@tnqn Disable TX does work, can you tell me the specific reason for the description, thank you very much for your answer

[2022-01-25 09:56] #3233 closed

[2022-01-25 12:06] tnqn commented on #3233
@rysinal it should be related to the infrastructure network's processing on encapsulation, as @antoninbas suggested, you should probably reach out to VMware support to get it fixed.

[2022-01-25 12:16] jsalatiel opened #3243 "Agent fails on AlmaLinux8/CentOS8"
**Describe the bug**

The agent does not work on CentOS8/AlmaLinux8.
Logs show:
[code]

**To Reproduce**
Installed a basic kubernetes on AlmaLinux8 and applied the antrea 1.5 definition yaml.

**Expected**
Agents running and pods working.

**Actual behavior**
Antrea agent shows the error above and other pods are not scheduled with message:
[code]

**Versions:**
 - Antrea version (Docker image tag)

[2022-01-25 18:11] antoninbas commented on #3243
It seems that CentOS8 does not include the `ip_tables` kernel module and thus only supports iptables in nft mode, while Antrea (running inside an Ubuntu 20.04 container) will default to iptables in legacy mode (which depends on `ip_tables`).

@tnqn I feel like this problem is likely to happen more frequently with the way distros are evolving. Should we look into using something like https://github

[2022-01-25 21:46] GraysonWu opened #3245 "kube-proxy.yml in Antrea Windows doc doesn't work on some Windows OS"
**Describe the bug**
As stated here: https://github.com/antrea-io/antrea/blob/main/docs/windows.md#add-windows-kube-proxy-daemonset, we use the `kube-proxy.yml` from https://github.com/kubernetes-sigs/sig-windows-tools/releases/download/v0.1.5/kube-proxy.yml with some modifications to deploy `kube-proxy-windows`. But from v0.1.5 they changed the `spec.containers.command` from using `powershell` to

[2022-01-25 21:49] GraysonWu commented on #3245
Maybe @XinShuYang has more context and ideas.

[2022-01-26 00:26] #1426 closed

[2022-01-26 02:36] XinShuYang commented on #3245
Thanks Grayson for this information. It seems 'pwsh' is not a valid command before powershell v6.0. You can either install a new version or use 'powershell' in yaml if commands work well. I think add this reminder in doc is a good idea. @GraysonWu

[2022-01-26 13:27] jsalatiel opened #3249 "Network policy CIDR except vs higher priority deny"
Hi, I am not really sure if this is a bug or something that it is not implemented, but I will try to explain my problem.

I am trying to replace calico with antrea and for that I need to replace calico GlobalNetworkPolicies with AntreaCluster Network Policies.
The goal is to give web access (ports 80/443) to any pod that has the label internet=='allowed' to 0.0.0.0/0 **except** for the private CID

[2022-01-26 13:29] jsalatiel commented on #3168
HI @qiyueyao , this is probably low priority on your list, but will you be able to implement it?
I am having a hard time debugging network policies without the destination port on the logs.

Thanks!

[2022-01-26 14:42] tnqn commented on #3249
@jsalatiel There are two solutions that can achieve the desired behavior:
1. Using the `Pass` action to skip further Antrea-native policy rule evaluations, for example:
[code]
This will delegate policy evaluation of the traffic towards the private IPs and TCP 80/443 to K8s policies, and allow traffic towards other IPs and TCP 80/443. Then your K8s policy will work.

2. Or you could use higher prio

[2022-01-26 14:48] tnqn commented on #3243
@antoninbas it makes sense to me. If the wrapper already works for kube-proxy, it shouldn't be hard to support. We could try to make it in release 1.6.

[2022-01-26 15:28] tnqn opened #3250 "Windows e2e tests failed on waiting for Pod IP"
**Describe the bug**

[code]
From antrea-agent logs, it received CNI Add requests and handled it correctly. I have created https://github.com/antrea-io/antrea/pull/3248 to log Pod status when it fails, but it's likely due to image pulling error.

Could we load image when setting up the tests to avoid such errors like the tests on Kind?

[2022-01-26 15:29] tnqn commented on #3250
@XinShuYang could you help take a look?

[2022-01-26 17:54] jsalatiel commented on #3249
Thanks @tnqn. It worked perfectly. I have two more questions that I'd be glad if you can help me with:

1) How can I match ICMP on a cluster network policy? I tried the  following snippet and found that it allows all access ingress/egress in the cluster. I would expect allow only ICMP or give me some error. ( actually it looks dangerous! )

[code]

2) Is there a way to match all namespaces except

[2022-01-26 22:31] qiyueyao commented on #3168
Yes of course, didn't know it was a roadblock😔. This is first thing for me asap, doing last minute wrap up on another PR.

[2022-01-27 04:37] tnqn opened #3255 "antrea-agent spamming "failed to get Service for Endpoint" error log"
**Describe the bug**

When `ServiceExternalIP` feature is enabled, antrea-agent spams the following error logs in a cluster of K8s v1.19.1:
[code]

**To Reproduce**
Deploy antrea-agent v1.5.0 and K8s v1.19.1, enable `ServiceExternalIP` feature.

[2022-01-27 12:47] tnqn commented on #3249
@jsalatiel
1. Currently Antrea doesn't support matching ICMP protocol in NetworkPolicies. It's definitely wrong that the configuration is accepted but not enforced as desired. We should validate the protocol in the CRD schema so such input will be rejected on creation. Since you find the issue, are you interested in creating a PR to fix it?
2. This can be achieved by using `NotIn` operator of labe

[2022-01-27 12:57] jsalatiel commented on #3249
Thanks for the feedback. Unfortunately I do not understand CRDs to do a PR.
Is supporting ICMP protocol in the roadmap?

[2022-01-27 12:57] jsalatiel commented on #3249
I am gonna close this issue and open a new one as a bug for this.

[2022-01-27 13:03] jsalatiel opened #3262 "Network Policy does not validate protocol and accept wrong configuration"
**Describe the bug**
The protocol on network policies is not validated and that can lead to a complete unexpected beahaviour. See the yaml below.
[code]

Since ICMP is still not supported on NetworkPolices, that yaml will basically allow ALL ingress and ALL egress on your cluster, even if you would expect it only apply to ICMP.
According to @tnqn  at #3249 , "It's definitely wrong that the configu

[2022-01-27 13:06] jsalatiel opened #3263 "Accept protocol = ICMP on ClusterNetworkPolicies"
**Describe the problem/challenge you have**
I would like to allow ping as a ClusterNetworkPolicy.
Unfortunatelly ICMP is not supported yet.

**Describe the solution you'd like**
Accept protocol: ICMP on ClusterNetworkPolicy and maybe _icmpType_ to describe the ICMP code allowed.

The current behaviour is wrong as explained here #3262.

[2022-01-27 13:10] tnqn commented on #3249
@jsalatiel We didn't plan it as K8s NetworkPolicy doesn't support it and no one complained about it before. Feel free to open a feature request if you have a use case, we could consider supporting it if it is useful to users.

[2022-01-27 13:22] jsalatiel commented on #3249
I have opened a feature request. Thanks. Closing this.

[2022-01-27 13:22] #3249 closed

[2022-01-27 13:28] jsalatiel commented on #3263
I ask this because even if k8s default netpol does not support, calico GlobalNetworkPolicies do support it. And that helps a lot debugging connectivity.

[2022-01-28 00:46] Dyanngg commented on #3263
@GraysonWu Could you share some insights / do some scope investigation? Thanks

[2022-01-28 10:00] tnqn commented on #3250
I'm working on #3267 to improve test stability and debugability, which will cover this.

[2022-01-28 17:53] #3245 closed

[2022-01-29 00:29] antoninbas commented on #3243
I can give this issue a try: I will install `iptables-wrappers` inside the Antrea Docker image and see how it goes.

[2022-01-29 12:07] #2531 closed

[2022-01-29 15:35] jayunit100 opened #3272 "nodeport is a no-op in nodeportlocal without the portRange"
**Describe the bug**

It seems like server side antrea doesnt reject `nodePort` when `portRange` isnt enabled.
This leads to unpredictable behaviour:

The annotation on a pod spec:
[code]

**To Reproduce**
Run the steps here https://github.com/jayunit100/k8sprototypes/tree/master/antrea-LIVE/11-14-2021 (with or without tanzu should be the same on antrea 1.2.3 at least...)

**Expected**

`nodePort`

[2022-01-31 16:35] haunted-pancakes opened #3274 "Compatibility with iptables (nf_tables)"
**Describe the bug**

The antrea-agent is not working correctly with iptables (nf_tables) on EL 8 distros that do not have access to the iptables-legacy binary.
We expect to see some rules added during agent start up, but it does not occur.

Mostly a duplicate of [Agent fails on AlmaLinux8/CentOS8](https://github.com/antrea-io/antrea/issues/3243) and related to [Antrea does not support firewalld](

[2022-01-31 18:37] antoninbas commented on #3272
@jayunit100 actually _valid_ `nodeportlocal` annotations are honored by Antrea: that's an important part of ensuring that port mappings stay consistent across antrea-agent restarts. I would discourage users from annotating Pods themselves upfront, as it would be easy to provide invalid or duplicate annotations.

In your example (https://github.com/jayunit100/k8sprototypes/tree/master/antrea-LIVE/1

[2022-01-31 18:38] antoninbas commented on #3274
Yes, I believe this is a duplicate of #3243

[2022-01-31 20:39] jayunit100 commented on #3272
ahhhh ok

[2022-01-31 20:42] jayunit100 commented on #3272
so i think if we just say the defauling logic is going to take over in a Broad range of situations, i agree,
 i think thats good enough

[2022-01-31 23:47] #3272 closed

[2022-02-01 00:26] #2106 closed

[2022-02-02 00:27] #1374 closed

[2022-02-02 15:38] arunvelayutham commented on #1347
Secondary network support with VF interface changes were merged 2 weeks back.
Work in progress for
   - veth pair as secondary interface.
   - e2e test framework for Secondary network.
   - IPAM refactor.
   - CNIServer pkg refactor.
   - Document/wiki updates.

[2022-02-02 22:17] antoninbas opened #3279 "DNS failures: Antrea ProxyAll and `ClusterFirstWithHostNet` DNSPolicy for Antrea Agent"
**Describe the bug**
The antrea.yml currently sets the DNSPolicy for the antrea-agent DaemonSet Pods to `ClusterFirstWithHostNet`: https://github.com/antrea-io/antrea/blob/e23cf3b5714d15ae66a33196c1f870196065f651/build/yamls/antrea.yml#L4707

Let's see why this is a problem for ProxyAll users:
- these users may want to be able to remove kube-proxy from the cluster. As a result they need to provide

[2022-02-02 22:19] antoninbas commented on #3279
Setting a lowish priority (`important-longterm`) as there are several workarounds:
- use an IP address instead for `kubeAPIServerOverride`
- change the DNSPolicy manually

[2022-02-04 00:24] #2152 closed

[2022-02-06 21:32] jsalatiel commented on #3263
@GraysonWu could you please share your insights on this? Is this change hard to implement? ( No developer here )

[2022-02-08 23:49] itlinux opened #3284 "Containerd and CRI getting Crashloop"
**Describe what you are trying to do**

Hello, I have an env with the following:
NAME                                       STATUS   ROLES                  AGE   VERSION
ip-10-0-1-10                               Ready    <none>                 46m   v1.20.1
ip-10-0-1-135                              Ready    <none>                 46m   v1.20.1
ip-10-0-1-211.us-west-1.compute.internal   Ready

[2022-02-09 00:03] antoninbas commented on #3284
This should be the root cause.

The `--cluster-cidr` is **not** the Service CIDR, it a CIDR out of which Pod IPs are allocated.

All the info about IPAM with Antrea is in the getting started document: https://github.com/antrea-io/antrea/blob/main/docs/getting-started.md#nodeipam. Typically, Antrea users leverage the K8s NodeIPAMController in `kube-controller-manager`. If this is not desirable for

[2022-02-09 01:17] GraysonWu commented on #3263
Sorry for the late response. Somehow I missed this message.
From my understanding, it won't be hard to implement on our data path. OVS already has ICMP matching support.
Most work would be from the API perspective.

[2022-02-09 01:30] edwardbadboy commented on #2275
Hi @heanlan , shall we close this issue?

[2022-02-09 01:47] heanlan commented on #2275
My PR was closed, without being merged. The patch should work for other tests except of proxy_test. There's some remaining issue in the proxy_test as I mentioned in the last comments. I don't have enough context to fix that. I can re-open the PR if someone else would like to take-over it, or providing more context for the issue.

[2022-02-09 02:09] GraysonWu opened #3285 "Validate CRDs labels in validating webhook"
**Describe what you are trying to solve**
Currently while creating K8s resources, for example, Pod, k8s NeworkPolicy, etc., the API server will validate if labels used in those resources are valid. For example, if I use an invalid character '=', it will return:
[code]
But now our CRDs with invalid labels can be accepted, for example, the acnp below:
[code]
This ACNP won't have any effect since no

[2022-02-09 02:24] #3255 closed

[2022-02-09 03:46] luolanzone opened #3288 "Move has-changes github action as standalone repo"
**Describe the problem/challenge you have**
For now, we have a github action inside of Antrea repo named `has-changes` which will trigger auto CI in Antrea when there is any code change in this action.

**Describe the solution you'd like**
`has-changes` can be a standalone repo in antrea.io like https://github.com/antrea-io/review-manager, then we don't have to impact Antrea repo when there is any

[2022-02-09 06:52] ceclinux opened #3294 "Support Multicast statistics"
**Describe what you are trying to solve**

This proposal is to collect and expose the statistical data of multicast. The requirements are listed below:

Per pods stats

[code]

Networkpolicy stats for
[code]

Per multicast group stats

[code]

One `kubectl` command and one `antctl` command are introduced to display these statistics. The sample command outputs would be:

[code]

[code]

The command

[2022-02-09 15:30] tnqn opened #3296 "Skip build-windows check when there is no related change"
**Describe the bug**

Like kind tests are skipped when there is no related change, it could also skip "build-windows" test if no windows source code change. The test sometimes takes very long time to finish and may timeout.

**Expected**

Skip build-windows check when no windows source file change.

[2022-02-09 20:53] antoninbas opened #3298 "Remove legacy Antrea APIs (*.antrea.tanzu.vmware.com) in v1.6"
**Describe what you are trying to solve**
These legacy APIs (and the mirroring controller that goes with them) were scheduled for deletion in December 2021 as per [our documentation](https://github.com/antrea-io/antrea/blob/f7f353a9bd0d07212cd5feb31e182a30b460b371/docs/api.md?plain=1#L45-L53). By the time Antrea v1.6 is released, we will have supported the legacy APIs post-deprecation for about 1

[2022-02-09 23:19] antoninbas opened #3300 "Flaky TestAggregatorCollectListGet on Windows"
**Describe the bug**
I observed this test failing in CI:
[code]

[2022-02-10 00:58] hongliangl opened #3301 "NodePort/LoadBalancer bug of AntreaProxy when proxyAll is enabled"
Steps to reproduce the problem:

- Create a NodePort/Loadbalancer Service whose externalTrafficPolicy is Cluster.
- Change externalTrafficPolicy of the Service from Cluster to Local.
- Get a failure when connecting to the updated Service.

The log of Antrea Agent is like the following:

[code]

From the log, we can see that an OVS group is not installed, which leads to the failure of installing No

[2022-02-10 09:01] ceclinux commented on #985
I think antctl is not implemented with this feature. Could you explain why? @tnqn

[2022-02-10 09:52] tnqn commented on #985
The API follows K8s style and the data can be retrived via `kubectl get networkpolicystats/antreanetworkpolicystats/antreaclusternetworkpolicystats`, no reason to repeat it in antctl

[2022-02-10 10:19] tnqn commented on #985
Yes, I didn't plan node level stats, but it sounds like a good idea to me, maybe helpful for troubleshooting.

[2022-02-10 17:40] tnqn commented on #2394
I managed to reproduce the failure with detailed logs. It turns out that there might be some issue in Pod exec API that it sometimes doesn't return error when the probe fails. As the output below shows, the second probe actually failed but the returned error is nil, causing the probe result was considered "connected".
[code]

I don't know the problem in Pod exec API, but we could fix it in test co

[2022-02-11 07:30] tnqn opened #3306 "Dumping OVS flows of a NetworkPolicy is not working"
**Describe the bug**

Using antctl to dump OVS flows of a NetworkPolicy is not working:
[code]

The issue is on server side. antrea-agent logs:
[code]

**To Reproduce**

1. Deploy a Pod
2. Create a NetworkPolicy applying to the above Pod such as:
[code]
3. Execute antctl from the antrea-agent Pod which runs on the same Node as the above Pod:
[code]

**Versions:**

 - Antrea version (Docker image t

[2022-02-11 10:00] #2394 closed

[2022-02-11 15:08] tnqn opened #3307 "e2e tests failed because of image pulling error"
**Describe the bug**

[code]

[code]

They failed to pull projects.registry.vmware.com/antrea/nginx:1.21.6-alpine and projects.registry.vmware.com/antrea/perftool. I thought it's about image size but it seems as nginx:1.21.6-alpine is only 23.4MB. It seems there is something wrong with projects.registry.vmware.com but maybe we could alleviate it by pulling the required images once before running t

[2022-02-11 17:03] #3300 closed

[2022-02-11 18:02] #3243 closed

[2022-02-11 18:02] #3274 closed

[2022-02-15 00:26] #2187 closed

[2022-02-15 03:44] hjiajing opened #3315 "Multicluster bootstrap in antctl"
**Describe what you are trying to solve**

The antrea multi-cluster cluster set can be deployed following the [instruction](https://github.com/antrea-io/antrea/blob/main/docs/multicluster/getting-started.md)

**Describe the solution you have in mind**

Add a sub-command `mc` so users can run `antctl mc <VERB>` to get resources, create resources and deploy the clusterset in cli rather than by YAML

[2022-02-15 03:45] hjiajing commented on #3315
@luolanzone Could you help to review it ? Thanks .

[2022-02-15 05:35] #3298 closed

[2022-02-15 05:55] luolanzone commented on #3315
this is a part of #3107

[2022-02-15 05:58] luolanzone commented on #3315
I suppose `antctl deploy leader-cluster` will just deploy leader controller and `antctl init leader-cluster` will do some tasks like adding ClusterSet and ClusterClaim for the leader?

[2022-02-15 17:52] #3217 closed

[2022-02-15 17:57] #3301 closed

[2022-02-15 19:52] jianjuns commented on #3315
I feel in K8s such orchestration should be done by an operator, but not CLI. @salv-orlando @tnqn @antoninbas might have opinions too.

[2022-02-15 23:37] antoninbas commented on #3315
I tend to agree with @jianjuns about the operator, but I don't have a very strong opinion. Having this support in antctl can be a stop-gap solution too if needed. I think we discussed in the past that a few things could benefit from being both antctl commands and operator functions (we discussed having a shared "library" between the 2 IIRC).

[2022-02-16 13:18] liu4480 opened #3323 "support for multicast networkpolicy"
**Describe the problem/challenge you have**
Antrea has implemented multicasr traffic support, but currently there is no networkpolicy for multicast, all multicast packet will be passed as long as the pod enters the group. For security consideration, it is better to implement networkpolicy for multicast to allow or reject multicast packet.
This proposal is to define networkpolicy for multicast, her

[2022-02-16 16:57] tnqn opened #3324 "Support Pod traffic control in Antrea"
**Describe what you are trying to solve**

Security and visibility services like IDS, NSM require receving packets sent from/to Pods to analyse. There was an issue opened for such requirement: https://github.com/antrea-io/antrea/issues/3008. Having the capacity of Pod traffic control will be useful for these services as Antrea can be configured to redirect/mirror specific Pods' traffic to specific

[2022-02-16 21:47] jayunit100 opened #3325 "Time to update CNI default to 0.4.0 ? or 1.0.0 ?"
**Describe the bug**

- We just noticed that antrea-cni.conflist is running 0.3.0 ... should we upgrade to 0.4.0 (includes check) or 1.0.0 ?
- also seems like we hardcode
[code]
0.4.0 in the CHECK impl should that be a variable?
- Also just for good measure we should add a comment about what we do in our CHECK implementation - i.e. do we check OVS routing rules etc - or just NIC attachment -  if w

[2022-02-17 02:39] luolanzone commented on #3315
@hjiajing  I think we need an option like --version here to allow user to deploy different version of Multicluster controller.

[2022-02-17 02:41] vicky-liu commented on #3315
I agree. It's weird if running cmd on a cluster member to delete/deploy another member cluster via antctl.

[2022-02-17 05:37] wenyingd commented on #3323
I have a question about how to represent an Ingress rule for multicast traffic? What should be the "appliedTo" value, multicast address or Pods? If it is multicast address, the existing ANP API doesn't support using IPBlock as AppliedTo field, and AntreaController might not able to calculate the ANP span. If the appliedTo is a Pod, how would you identify this is a rule for multicast but not for a

[2022-02-17 05:39] wenyingd commented on #3323
From my understanding, Antrea should support 3 scenarios for multicast: 1) Pods only work as multicast sender, 2) Pods only work as multicast receiver, 3) Pods work as both multicast sender and receiver.  If we only support Egress rule with multicast, I don't think we can satisfy the security requirement for senario 2.

[2022-02-17 05:45] liu4480 commented on #3323
I 'd like to introduce a field IPBlock to indicate the multicast address or other IP address. And for "appliedTo" we should use the existing implementation, for example, pod selector, clustergroup and so on.

[2022-02-17 05:56] hjiajing commented on #3315
okay，I'll do it

[2022-02-17 08:54] luolanzone opened #3328 "ClusterID uniqueness validation in a ClusterSet"
**Describe the bug**

In Antrea Multicluster, when user set up a ClusterSet, there is no way to know if the ClusterID is unique or not in a member cluster since a full member cluster list is in a leader and ClusterClaim's name can be different with the value of 'id.k8s.io' like below in one member cluster.
[code]

and user can create as many ClusterClaims as they want, which will cause confusion.

[2022-02-17 08:55] luolanzone commented on #3328
@aravindakidambi  Could you take a look and reply if you have any comment for this issue. thanks!

[2022-02-17 16:48] tnqn commented on #3315
AFAIK, istio and cilium have started to use CLI for installing their components. For example, https://istio.io/latest/docs/setup/install/istioctl/#install-istio-using-the-default-profile

[2022-02-17 19:10] jianjuns commented on #3315
Good to know this. Thought over. Probably I need to understand better how the antctl way works. For example, for joining a member, do we run the command in member or in leader, and does the command needs to interact with a remote cluster too?

[2022-02-17 19:29] jianjuns commented on #3328
Agreed the problem statement is valid.

[2022-02-17 21:42] #2927 closed

[2022-02-18 10:01] gran-vmv opened #3333 "[flexible-ipam] IP leak when deleting NodeIPAM Pod"
**Describe the bug**
AntreaIPAM plugin incorrectly processes CmdDel request for a NodeIPAM Pod when AntreaIPAM enabled.

**To Reproduce**
Deploy Antrea cluster with AntreaIPAM enabled.
Create some NodeIPAM Pods.
Delete Pods above.
Check IP allocations by host-local IPAM plugin. Default path is `/var/run/antrea/cni/networks/antrea`

**Expected**
All IP allocations of above Pods should be removed.

[2022-02-18 16:50] #2612 closed

[2022-02-18 18:15] antoninbas commented on #2641
Other advantages of using Helm charts:

* ability to list Antrea on https://artifacthub.io/
* ability to set RBAC permissions granularly based on which Antrea features are enabled (if we wanted to do so today, we would need to provide many different combinations of YAML manifests)

[2022-02-19 00:31] #2204 closed

[2022-02-20 00:32] #2060 closed

[2022-02-20 07:46] ikandars opened #3334 "Egress and ServiceExternalIP can not works together for the same External IP"
**Describe the bug**

If we create Egress object where we defined `egressIP` for example `103.15.226.42`, we can't use that IP in `Service LoadBalancer type`  in `loadBalancerIP` key. The status will be `pending`.

**To Reproduce**

create external IP Pool object:

[code]

Create Egress object:

[code]

Create a pod:

[code]

Create service object:

[code]

Check service:

[code]

**Expected**

We

[2022-02-21 15:23] voidengineer commented on #2641
Additional advantage:

  * let cluster administrators customize pod tolerations (especially for antrea-controller)

[2022-02-21 15:47] jsalatiel commented on #3263
@GraysonWu will that doc be publicly available?😅

[2022-02-22 00:28] #1543 closed

[2022-02-22 08:12] wenyingd opened #3339 "AntreaProxy performs unnecessary group ID allocation and recycle"
**Describe the bug**

This code logic (https://github.com/antrea-io/antrea/blob/main/pkg/agent/proxy/proxier.go#L475) would allocate a new group ID and then recycle it at once if the `groupIDLocal` doesn't exist in the groupCounter cache. This is because the logic of groupCounter.Get() is reading from cache first with the given key, and create new ID when it doesn't exist in the cache. This logic

[2022-02-22 18:06] antoninbas commented on #3334
Can you clarify why this is the expected behavior for you?
What's the use case for having the same IP for Egress traffic and for a LoadBalancer Service?

IMO, what you are observing would be the correct behavior since you are trying to use the same IP from the same pool for 2 different things. But we should try to find a way to report an error to the user (if this is not already the case).

[2022-02-23 02:08] antoninbas opened #3344 "Remove support for `--k8s-1.15` flag from generate-manifest.sh"
**Describe what you are trying to solve**
This flag was introduced at the end of 2020 to support generating an Antrea YAML manifest which would work for K8s 1.15 clusters. In particular, this flag would ensure that CRDs were registered using the `admissionregistration.k8s.io/v1beta1` API, instead of the `admissionregistration.k8s.io/v1` API. See https://github.com/antrea-io/antrea/pull/1664 for mo

[2022-02-23 02:09] antoninbas commented on #3344
@jianjuns @tnqn @guesslin @marcusschiesser any concern?

[2022-02-23 02:53] tnqn commented on #3344
Make sense to me.

[2022-02-23 03:54] jianjuns commented on #3344
I have no concern.

[2022-02-23 11:29] jainpulkit22 opened #3346 "Building an Image didn't work when running it on arm64 architecture"
**Describe the bug**

After making changes to some code files in antrea, when I compiled the binaries and image, on my arm64 architecture, using the make file, and deployed it on a kubernetes cluster, antrea agent and controller crashed.

**To Reproduce**

- cd into the cloned antrea repository,
- run "make bin",
- run "make build" or just "make" , and
- then use the built image to deploy antrea i

[2022-02-23 16:00] tnqn commented on #3168
Closed by #3277

[2022-02-23 16:01] #3262 closed

[2022-02-23 18:05] CapKenR opened #3349 "Error starting the Antrea Octant plugin"
**Describe the bug**
When I click on Antrea in the Octant UI, I just get a spinning circle. The Octant log shows several errors related to the Antrea Octant plugin.

**To Reproduce**
See above.

**Expected**
I would expect to be able to use the Antrea functionality within Octant.

**Actual behavior**
![Antrea Octant UI](https://user-images.githubusercontent.com/11944619/155378260-d705326a-75e3-4f6

[2022-02-23 18:20] antoninbas commented on #3349
I don't see the Octant version anywhere in the logs. But if you are trying to use a recent version of Octant (IIRC, >= 0.19) then I would not expect it to work given that you are using an old version of Antrea (and therefore an old version of the Antrea Octant plugin). Some Octant releases have introduced breaking API changes (notably 0.19).

Recent versions of Antrea support recent versions of Oc

[2022-02-23 20:29] CapKenR commented on #3349
I tried Octant v0.16.1 with v0.11.4 of the Antrea Octant plugin but am unable to run `octant`.

[code]

[2022-02-23 20:34] CapKenR commented on #3349
I tried Octant v0.16.1 with v0.13.3 of the Antrea Octant plugin and it seems to be working.

[2022-02-23 20:45] antoninbas commented on #3349
Not able to reproduce with these versions:
[code]
[code]
[code]
(The `antrea-octant-plugin` binary doesn't provide a way to check the version, but I downloaded it as a release asset from the correct Antrea release: https://github.com/antrea-io/antrea/releases/tag/v0.11.4)

Octant logs:
[code]

[2022-02-23 22:04] CapKenR commented on #3349
The only difference I can see is I'm running on Ubuntu 18.04 (on WSL2). I downloaded the plugin again just to be sure but got the same SHA256.
[code]
[code]
[code]

[2022-02-23 22:33] antoninbas commented on #3349
Is it possible that you didn't make the plugin binary executable by any chance?
[code]

[2022-02-24 01:36] CapKenR commented on #3349
No. It's execuatable.

[code]

[2022-02-24 03:50] wenyingd commented on #2433
File https://github.com/antrea-io/antrea/blob/main/pkg/agent/openflow/fields.go is used to describe the marks used with registers, and function newRegMark (https://github.com/antrea-io/antrea/blob/53d7d5a0f922006cdfc5fd4630bad862035464de/pkg/ovs/openflow/ofctrl_nxfields.go#L53) is used to define the mark.

So close this issue.

[2022-02-24 03:50] #2433 closed

[2022-02-24 04:58] jainpulkit22 commented on #3346
I made changes to the pkg/agent/openflow/network_policy.go file to fix the ovsflow dumping bug.

After making the changes to the code, I saved the code and build the binaries because i wanted to build a local image for antrea to deploy it on my minikube and validate if my code changes are working properly. So that's why I run these commands.

The image was build successfully and was loaded into th

[2022-02-24 07:11] tnqn commented on #3346
@antoninbas could it be because of the difference in the filesystem of minukube and the one used in CI? The latter has dependencis that are required by the dynamic executable while the former doesn't so only static executable can run.
@jainpulkit22 It would be easier to understand your issue if you can paste the error when running the binaries without CGO enabled and the output of `kubectl exec <a

[2022-02-24 08:32] #3285 closed

[2022-02-24 08:36] #3339 closed

[2022-02-24 11:27] jainpulkit22 commented on #3346
When I inspect the architecture of the image build using make file the architecture is amd64 even though my system has arm64 architecture, and even when I changed the architecture of the image build using make file. The architecture of image was arm64 but when i run the ovs container the architecture was amd64 and I got an error.

`docker@minikube:~$ docker exec -it f8d4c12f576a /bin/bash`
`root@m

[2022-02-24 18:28] #3344 closed

[2022-02-24 20:07] antoninbas commented on #3346
What did you do for all the base images? These are not available for architectures other than amd64 in the Docker registry?
Did you build them locally?

The recommended way to build Antrea on an ARM platform would be:
[code]

Looks to me that there is indeed an issue with your base image. OVS should not be able to run either?

[2022-02-25 01:08] #3213 closed

[2022-02-25 02:00] luolanzone opened #3358 "Deleting namespace stuck at "Terminating" state"
**Describe the bug**
When user deploy Antrea in a specific namespace eg: antrea-system, then trying to delete all resource in this namespace via `kubectl delete ns antrea-system`, the namesapce will stuck at terminating state.

**To Reproduce**
1. Change the default namespace in the antrea.yml to 'antrea-system'
2. Run `kubectl apply -f antrea.yml`
3. Delete all resources via `kubectl delete ns an

[2022-02-25 02:20] tnqn commented on #3279
@antoninbas I take a look at how flow exporter uses the address and doubt if it's easy to change the server IP at runtime. Do you think it's necessary to handle service recreate case? Even for antrea service, antrea-agent relies on service env injection, so if its cluster IP changes antrea-agent won't be aware of it and will still use stale IP. Is it acceptable that antrea-agent should be restarte

[2022-02-25 03:34] antoninbas commented on #3279
I feel like the correlation between the Antrea Agent and the Antrea Service is much stronger than between the Antrea Agent and the Flow Aggregator Service. The Antrea Agent and the Flow Aggregator Service are deployed in different Namespaces, with different YAML manifests. So I can imagine someone re-deploying the Flow Aggregator Service (e.g. to tune some parameters) and having to re-deploy the A

[2022-02-25 05:29] jainpulkit22 commented on #3346
When I inspect the image architecture it is arm64, but still when i run the ovs container and check its architecture it is amd64 only for image with make file.

when i build the image using my own docker file where i have used antrea/antrea-ubuntu as the base image and copied the antrea-agent binary, then everything works fine

[2022-02-25 05:30] jainpulkit22 commented on #3346
To build them locally for arm64 I amended the make file and instead of docker build, I used

`docker buildx build --platform=linux/arm64`

[2022-02-25 08:37] luolanzone commented on #3296
Hi @tnqn do you mean unit test for windows? I can see a job named `test-unit`, but I didn't  see a test named "build-windows" but a build target.

[2022-02-25 09:14] tnqn commented on #3288
Remove `good first issue` label as this requires repo create permission

[2022-02-25 09:50] luolanzone commented on #3358
The behavior is  expected according to issue https://github.com/kubernetes/kubernetes/issues/75788, the most common case is with some of its resources do not get removed and Kubernetes keeps waiting for that. So provide some options here to clean up the stuck namespace in case if any user encounter this issue and try to find a solution.

1. You should see some apiservices registered by Antrea cont

[2022-02-25 09:50] #3358 closed

[2022-02-25 13:32] tnqn opened #3361 "Initial egress connections from Pods go out with node IP rather than Egress IP assigned"
**Describe the bug**

If a Pod tries to access external right after it's up, Node IP will be used as the SNAT IP even when an Egress applying to it has been created.

**To Reproduce**

1. Create an Egress first
2. Create a Pod the above Egress will apply to. Set the Pod's command to access external server.
3. Check the access log of external server, the client IP will be the Node IP, instead of th

[2022-02-25 14:08] wenqiq opened #3362 "NodePort service is not accessible when Egress (SNAT) is applied to the same Pods."
**Describe the bug**

When creating a NodePort service and applying an Egress to the server Pods.
If the Egress Node is not the Node that running the server Pods.

The external client cannot access to the NodePort.

**To Reproduce**

kubectl create ns demo

kubectl  create deploy nginx --image=nginx --replicas=2 -n demo

kubectl expose deployment nginx --port=80 --target-port=80 -n demo --type=Nod

[2022-02-25 14:30] CapKenR commented on #3349
It's probably not worth the effort to pursue this further as 1) the plugin is for an ancient version, 0.11.4, and 2) the plugin for a slightly newer version, 0.13.3, works for my purposes.

[2022-02-25 14:30] #3349 closed

[2022-02-25 15:00] #3306 closed

[2022-02-25 23:43] alexgaganashvili commented on #3362
Curious whether I'm reproducing the issue the wrong way - I'm not observing the above problem.

[2022-02-26 05:40] wenqiq commented on #3362
The EgressIP and the Pod are on the same Node?

[2022-02-26 06:02] alexgaganashvili commented on #3362
I tried both cases.

[2022-02-26 09:56] wenqiq commented on #3362
curl the NodePort with an external different network.

[2022-02-27 01:18] ikandars commented on #3334
So, there is a case where a workload use both public IP for in ingress and egress. In my case, I use KubeVirt to manage Virtual Machine. Another example is, deploying smtp server in a pod, where the public IP should consistent.

So, if this behavior expected, then I should change the label to feature request then.

[2022-02-27 17:27] wenqiq commented on #3362
I think maybe you need to wait a moment until the Egress is realized.
before the Egress realized, curl <NODE-IP>31665 from remote-IP
[code]

after the Egress realized, curl <NODE-IP>31665 from remote-IP
[code]

[2022-02-28 02:13] gunine opened #3368 "Not working on CentOS 8 / Rocky Linux 8 due to missing of iptables modules"
**Describe the bug**
Antrea does not work on CentOS 8 or Rocky Linux 8 operating systems, due to Antrea is currently relying on iptables kernel modules, while those systems do not contain iptable modules.

**To Reproduce**
Intall antrea CNI on CentOS 8 or Rocky Linux 8 distros.

**Expected**
All PODs supported to be in running state.

**Actual behavior**
A set of PODs are stuck in ContainerCreatin

[2022-02-28 02:17] #3368 closed

[2022-02-28 03:51] Jexf opened #3369 "Don't delete the routes which are added for the peer IPv6 gateways"
**Describe the bug**

"on-link" is not identified in IPv6 route entries, the peer IPv6 gateways need to add into IPv6 routes separately. But the related routes will be removed in init node routes process when Antrea Agent starting, then sync again.

[code]

Add peer  IPv6 gateways routes logic:

[code]

**To Reproduce**
1.Use dual-stack with Antrea
2.Restart Antrea Agent

**Expected**
Just remove

[2022-02-28 04:16] Jexf opened #3370 "Pod requests inner-cluster svc failed with kube-proxy when the pod arp entry GC on the node"
**Describe the bug**

Pod requests inner-cluster svc failed with kube-proxy when the pod arp entries GC on the node.

1. When the current Pod A accesses Service B for the first time (assuming that the Pod is just running and the gateway ARP entry is empty), it will request the MAC address of the gateway first. After the request reaches the node antrea-gw0, it will cache the ARP entry of Pod A, and

[2022-02-28 04:18] Jexf commented on #3370
@tnqn @antoninbas @jianjuns Can I take it?

[2022-02-28 06:42] tnqn commented on #3370
@Jexf Thanks for the report and feel free to take the issue. I assume you are using kube-proxy ipvs mode? otherwise the kernel would have used antrea-gw0's IP as the source IP of the ARP request. It would keep the original source IP that triggers the ARP request only when the source IP is owned by the host and arp_announce is 0.
What's your plan of fixing it? A potential solution is to increase re

[2022-02-28 09:40] Jexf commented on #3370
@tnqn Thanks for the reply. Yes, we are using kube-proxy ipvs mode. Setting arp_announce to 1 for the antrea-gw0 device sounds good to me, but I'm not sure if there has the same problem on windows.

[2022-02-28 10:58] jainpulkit22 commented on #3346
thanks @antoninbas this command worked and now everything works fine, but i have a suggestion that this should also be updated in the contributing.md docs because there it is mentioned to run make command, and no architecture specific instructions are there.

[2022-02-28 18:40] antoninbas commented on #3370
Would running kube-proxy with `--ipvs-strict-arp` solve the issue as kube-proxy would take care of setting `arp_announce` to 2?

[2022-02-28 19:14] antoninbas commented on #3288
I have created the repo and moved the code, as well as opened a PR to transition to the new Action URL.
I haven't removed the old code yet (`/ci/gh-actions/has-changes`) to avoid breaking existing PRs. I will remove it in a while and close this issue when I do.

[2022-02-28 19:56] antoninbas commented on #3346
@jainpulkit22 feel free to open a PR, however from a developer's perspective I feel like we should try to fix the `make` command so that it behaves the same way and produces a valid image on both platforms. I imagine that everyone using "new" macOS laptops with arm CPUs is likely to face the same issue. That probably means that the base images needs to become multi-arch images as well, which is go

[2022-03-01 00:31] #1354 closed

[2022-03-01 03:29] luolanzone opened #3375 "Run `verify` job only in Go workflow if there are only doc changes"
**Describe what you are trying to solve**

When the PR contains doc change only, the Go workflow will still run all jobs. it should run the `verify` steps only.
for example: https://github.com/antrea-io/antrea/runs/5369650326?check_suite_focus=true

**Describe the solution you have in mind**

Refine Go workflow as other workflow to add a job `check-changes` to skip unnecessary jobs.

[2022-03-01 06:05] wenqiq commented on #3023
Correct the last reply. The NodeSelector is only in 'from' or 'to' sections. If we add NodeSelector in 'appliedTo', maybe we need to implement the Host-Firewall, that’ll be a more big feature.

[code]

[2022-03-01 06:09] wenqiq commented on #3023
[https://docs.google.com/document/d/1gkGusO3Q2zZGvWKY8HMsPIOOJBCWJQjGbEEL9xs2mtc/edit?usp=sharing](Antrea NetworkPolicy NodeSelector Design Docs)

[2022-03-01 06:29] tnqn commented on #3370
@antoninbas That sounds better. It seems designed for this scenario. Then the only thing we could do is to document this requirement when working with kube-proxy ipvs. Does it work for you @Jexf
Another thing need to note is that Egress needs arp_ignore to be 0 to respond ARP requests received on external interfaces. Since `--ipvs-strict-arp` will change it to 1, we need to ensure the userspace ar

[2022-03-01 10:13] liu4480 opened #3376 "acnp does work with IPBlock clustergroup set in `from` under `ingress`"
**Describe the bug**
I 've created two clustergroups, one parent group, the other is child grouo, with IPBlock set. Then I set the parent group to ingress from in acnp, the acnp does not take effect

**To Reproduce**

1. define two clustergroups parent and child like following:
[code]
2. use the group as from in ingress like:
[code]
3. here is the pod matches app=a
[code]
here are the pods under n

[2022-03-01 11:46] hjiajing commented on #3315
# Commands
In the first stage, we plan to implement those commands below which can help users to set up and initialize and delete a cluster set quickly.

+ `antctl mc deploy leader/member cluster`: used for initializing a leader or member cluster.
+ `antctl mc delete member-cluster`: used for deleting a member cluster.
+ `antctl mc delete cluster-set`: used for deleting a cluster set.

## Deploy

[2022-03-01 15:01] tnqn commented on #3296
I just realized I was wrong about the assumption. In fact any change to source files that doesn't have `_windows.go` suffix may affect windows test as they are shared by platforms. So it would only make sense to skip tests when the only changes are for files that have `go:build !windows` tag, which can not really skip many PRs so seems not worth.

[2022-03-01 18:19] jianjuns commented on #3315
@hjiajing : thanks for the good writeup of the proposal. But I think it could me understand if you add each command is running in which cluster (leader and member), or say it talks to which cluster's apiserver.

[2022-03-01 19:55] wenqiq opened #3377 "The controller keeps crashing after restarting the Node"
**Describe the bug**

Create a new antrea image from the main branch and restart the Node.

**To Reproduce**

Restart the controller Node.

**Expected**

Antrea controller and agent can restart.

**Actual behavior**

Antrea controller keeps crashing. Is this as expected?

**Versions:**

- Antrea version

 version> 1.5.0,  main branch

kubectl version
Client Version: version.Info{Major:"1", Minor:"

[2022-03-02 00:12] antoninbas commented on #3377
You are using a new antrea-ubuntu Docker image, but you haven't updated your YAML manifest. The Docker image version must match your deployment manifest version, otherwise you may have some inconsistencies (in your case missing RBAC permissions).

[2022-03-02 00:12] #3377 closed

[2022-03-02 01:41] Jexf commented on #3370
@tnqn @antoninbas Thanks for the reply, ` --ipvs-strict-arp` works well for me.

[2022-03-02 04:59] jainpulkit22 commented on #3346
yes i agree with you, and will try if i can solve this issue.

[2022-03-02 06:55] wenyingd opened #3380 "Remove dependency of package pkg/agent/util from ovsconfig"
**Describe the bug**

Antrea ovsconfig depends on pkg/agent/util in the latest branch for Windows implementation, and at the same time ovsconfig is also dependent by pkg/agent/config

https://github.com/antrea-io/antrea/blob/main/pkg/ovs/ovsconfig/ovs_client_windows.go#L21
https://github.com/antrea-io/antrea/blob/main/pkg/agent/config/node_config.go#L21

It is easier to have dependency loop if the

[2022-03-02 07:10] wu105 opened #3382 "traceflow to external ip seems always fail/timeout"
**Describe what you are trying to do**
We are testing antrea traceflow, hope it would cover all the networking on the kubernetes nodes when pods have issues reaching external destinations.

However, using definitions similar to below, testflows from pods to external ips seems always fail/timeout regardless of the destination condition, e.g., ok, connection refused, reset by peer, slow responding,

[2022-03-02 07:45] tnqn commented on #2944
Fixed by https://github.com/antrea-io/antrea/pull/3335

[2022-03-02 07:45] #2944 closed

[2022-03-02 08:21] gran-vmv opened #3384 "[flexible-ipam] IP leak when deleting AntreaIPAM Pod when restarting antrea-agent"
Describe the bug
AntreaIPAM plugin incorrectly processes CmdDel request for a AntreaIPAM Pod when restarting antrea-agent.

To Reproduce
Deploy Antrea cluster with AntreaIPAM enabled.
Create some AntreaIPAM Pods.
Restart antrea-agent and delete Pods immediately.
Check IP allocations in IPPool.

Expected
All IP allocations of above Pods should be removed.

Actual behavior
Some IP allocations may re

[2022-03-02 19:22] antoninbas commented on #3382
There are some Traceflow cases like this one (destination is an external IP) which are not well supported in old versions of Antrea like this one.

If you look at [Antrea v1.0 changes](https://github.com/antrea-io/antrea/blob/main/CHANGELOG/CHANGELOG-1.0.md) for example, you will see:

We no longer support Antrea v0.13 at this time.

[2022-03-02 19:23] #3382 closed

[2022-03-02 23:10] jpmcb opened #3386 "`kind` cluster unable to connect after restart using `v1.2.3`"
**Describe the bug**
When deployed ontop of `kind` using v1.2.3`, my cluster is unable to survive a container restart.

**To Reproduce**
This is mostly following the provided kind docs found here: [antrea/kind.md](https://github.com/antrea-io/antrea/blob/main/docs/kind.md#why-do-i-need-to-run-the--script-on-my-host)

1. Create a new kind cluster with a custom config excluding CNI
[code]

2. Apply

[2022-03-02 23:12] jpmcb commented on #3386
Here's the worker node IP info:
[code]

Control plane:
[code]

[2022-03-03 00:32] #1287 closed

[2022-03-03 02:13] tnqn opened #3387 "e2e test TestClusterGroup on kind is flaky"
**Describe the bug**

It failed twice for an irrelevant PR:
https://github.com/antrea-io/antrea/runs/5387722637?check_suite_focus=true
[e2e-kind-encap-no-proxy.tar.gz.zip](https://github.com/antrea-io/antrea/files/8174294/e2e-kind-encap-no-proxy.tar.gz.3.zip)
[code]

https://github.com/antrea-io/antrea/runs/5387722979?check_suite_focus=true
[e2e-kind-noencap.tar.gz.zip](https://github.com/antrea-i

[2022-03-03 04:38] #3380 closed

[2022-03-03 07:05] wenyingd opened #3388 "IGMPv3 leave is not supported correctly"
**Describe the bug**

IGMP v3 doesn's define a direct "leave" message like IGMPv2. If a member wants to leave a multicast group, it still uses IGMP report message, but the group record type is **Include** and the source list is empty. Hence, Antrea Agent should check group record type, and translate the group as a leave group.

**To Reproduce**

**Expected**

**Actual behavior**

**Versions:**

**

[2022-03-03 12:26] tnqn commented on #3386
Thanks @jpmcb for reporting the issue. I could reproduce the issue with the listed steps.

The reason why kubectl was unable to connect to the server is because the Node's network is recreated after docker restart, so what kind-fix-networking.sh has done for the Node's network was reset.

A simple workaround is to rerun `kind get nodes | xargs ./hack/kind-fix-networking.sh` after restarting docker

[2022-03-03 16:05] jpmcb commented on #3386
That would be ideal.

For TCE `unmanaged-cluster`, we use the docker provider (`kind` underneath it all) to create the cluster and than apply the "tanzu" bits ontop of it. Once the cluster is in the hands of the user, we don't really have much else to say about it. The best I'd imagine we could do is instruct the user to re-run a script or a command to get the cluster going again.

For what it's w

[2022-03-04 02:59] #3376 closed

[2022-03-04 03:15] wenyingd opened #3394 "Use Antrea Agent to manage External Node"
**Describe what you are trying to solve**

External Node means the object which is not a Node in the K8s cluster, and it could be a VM or a BM. Use Antrea Agent to manage External Node means that Antrea Agent is running on the External Node host, and is able to realize the ANP rules which are applied to it and able to provide the support bundle to help trouble shooting.

**Describe the solution yo

[2022-03-04 09:00] #3370 closed

[2022-03-04 10:45] #3362 closed

[2022-03-05 00:31] #758 closed

[2022-03-06 00:30] #2254 closed

[2022-03-07 06:15] luolanzone commented on #3296
@tnqn  @KMAnju-2021  is already working on this issue, Do you mean there is no need to put efforts on this issue if the files with `go:build !windows` tag are not so many?

[2022-03-07 08:20] tnqn commented on #3296
Yes, I assume even if we add the check, it can rarely skip PRs, unless my assumption was wrong again.

[2022-03-07 08:26] luolanzone commented on #3296
ok, I checked that there are total 25 files with tag `go:build !windows` including test files, they are probably not changed so often. I am Ok about not adding this check considering most of our code changes are for linux, a new job in workflow will add extra times for github builds.

[2022-03-07 08:51] tnqn commented on #3296
Closing it per above discussion

[2022-03-07 08:51] #3296 closed

[2022-03-07 09:55] luolanzone opened #3409 "Dynamic ofport id for Antrea tunnel interface"
**Describe what you are trying to solve**
In Antrea, we only use static ofport ID for current tunnel and gateway interface. eg: https://github.com/antrea-io/antrea/blob/23c4549893562dbd811389dd06f678313dc93310/pkg/agent/config/node_config.go#L29-L30. but in Antrea multi-cluster, we may add a new tunnel interface dynamically based on a new CRD, which means if we use static id, eg: 4, this one might

[2022-03-07 11:40] hjiajing commented on #3315
According to @jianjuns Jianjun's comments, maybe it's not reasonable to connect two APIServers in one command. I have re-designed the command to deploy the member clusters. The deployment of member clusters could be divided into two steps. In the first step, the users can use the command `antctl mc create` to create an access-token or service account in the leader cluster,  which will be used by t

[2022-03-07 20:05] jianjuns commented on #3315
The new proposal sounds good to me. Let us implement cluster bootstrapping first, and then we can consider if need to support other functionalities.

[2022-03-07 21:52] GraysonWu commented on #3263
@jsalatiel After a few round discussions offline we got some ideas and here is the doc: https://docs.google.com/document/d/1TnAhJh-8-5XEU-wYetL5zQu_aVsXgItPWudpTmoPnaI/edit?usp=sharing
Feel free to leave a comment.

[2022-03-07 22:50] jsalatiel commented on #3263
Hi @GraysonWu , I read the documentation. Just perfect!
Thanks!

[2022-03-07 23:26] antoninbas commented on #3387
I would say it's very flaky... Unfortunately, because the errors are logged with `Debug` verbosity, it's hard to know what's going on.

https://github.com/antrea-io/antrea/blob/7dc81f08f930c2590fd5784844d80064138c0ad3/test/e2e/k8s_util.go#L307-L310

My guess would be that there is some kind of race with Namespace deletion from previous test cases. The Deployment fails to create because the old obj

[2022-03-08 13:33] jainpulkit22 commented on #3387
I was able to reproduce the issue with my draft PR to log some more info and then I tried running these test on my local system.
By running the test few times on local system and stopping the test before the namespaces were deleted, and then I tried to manually delete those namespaces and it took approximately 6-7 seconds to delete the namespace. So, I updated my draft PR with a sleep timer of 10

[2022-03-08 18:09] antoninbas commented on #3387
Please don't rely on an arbitrary sleep. That doesn't always resolve all the flakiness issues and it makes the tests longer to run over time. Instead you can Poll for the Namespace deletion.

[2022-03-08 18:29] antoninbas opened #3420 "e2e tests should not run commands from the host machine"
**Describe the bug**
The e2e tests should not run commands from the host machine (i.e. the machine running the Go tests), as the machine may not have direct connectivity to the K8s Nodes.

As of now the following tests assume connectivity between the host test machine and the K8s Nodes:
- `TestSecurity`: the test needs access to the Antrea Controller API
https://github.com/antrea-io/antrea/blob/43

[2022-03-09 00:24] jsalatiel commented on #3263
@GraysonWu In which release can icmp support be expected then? 😅

[2022-03-09 01:02] #2272 closed

[2022-03-09 02:49] jayunit100 opened #3422 "(renamed) Feature: Add CNI_PLUGIN_INSTALL_POLICY for custom /opt/cni/bin plugin bundles"
**Describe the problem/challenge you have**

Antrea overwrites /opt/cni/bin with a default list of plugins

**Describe the solution you'd like**

Id like antrea to only add antrea cni, and provide other cni-plugins myself if possible.

[2022-03-09 04:13] tnqn commented on #3422
Hi Jay, Antrea overwrites some metadata plugins by design because we met issues in some versions of them, for example in #1499, portmap plugin v0.8.6 would hold xtables lock almost forever in large scale, causing antrea-agent unable to start. A compromise solution may be provding en enviroment variable like CNI_PLUGIN_INSTALL_POLICY to the init container:
- "Always", which is the default value, ma

[2022-03-09 06:47] luolanzone opened #3423 "Multi-cluster upgrade test cases"
**Describe what you are trying to solve**

The multi-cluster feature is introduced in v1.5.0, since there will be more feature introduced in MC, it would be good to have some basic upgrade test to verify that basic functions are not broken during upgrade.

**Describe the solution you have in mind**

We plan to support up to 1 version in multi-cluster upgrade, Leader controller need to be upgraded

[2022-03-09 06:58] Dyanngg commented on #2272
This is addressed by #2964

[2022-03-09 07:39] wenqiq commented on #2945
@tnqn @liu4480 @antoninbas Could you help to take a look at this issue and PR?

[2022-03-09 08:10] Dyanngg commented on #3387
Based on a recent run from PR #3415:
[code]
It seems that the Namespace is stuck in terminating state because of `NamespaceDeletionDiscoveryFailure` and `NamespaceContentRemaining`.

[2022-03-09 12:44] jayunit100 commented on #3422
ah great !!!!!!!!!!! thank you quan

[2022-03-09 12:51] tnqn commented on #3422
Let's keep the issue open until the above is implemented.

[2022-03-09 12:51] jayunit100 commented on #3422
ah misread, sorry, i thought already implemented.
thanks quan.

[2022-03-09 20:34] GraysonWu commented on #3263
I'd like to say in 1.7

[2022-03-09 21:15] dreamtalen opened #3426 "[Antctl] Add an output format to better display multi-line string responses"
**Describe the problem/challenge you have**

When working on implementing policy recommendation CLI through Antctl, I found current output formatters (table, json, and yaml) of Antctl are not good at displaying multi-line string responses.
For example, I added a command `antctl get-policy-reco-result` and its response is a multi-line string containing network policies in yaml format.
Currently, th

[2022-03-10 06:19] hangyan opened #3428 "Live Traffic Tracing"
**Describe what you are trying to solve**
Antrea Traceflow support tracing crafted traffic and first packet of live traffic. To help the end user get more insight into the live traffic, its would be better if we can support the following:
1. trace multiple packets based on proper sampling methods
2. trace packets on both sides

After trace multiple packets in real traffic, we can captured these pa

[2022-03-10 13:50] tnqn opened #3431 "Locally generated packets from Node net namespace is SNATed mistakenly"
**Describe the bug**

I found the issue while debugging the failure in https://github.com/antrea-io/antrea/runs/5488710083?check_suite_focus=true. The failure was because kube-apiserver failed to access antrea service in testEgressUpdateNodeSelector.

When I reproduced it locally, I found kube-apiserver -> antrea service traffic was SNATed with an Egress IP created in that test. However, Egress SN

[2022-03-10 14:44] #2492 closed

[2022-03-10 16:22] tnqn commented on #3422
@jayunit100 I think it depends on which way is more convenient for users.
Isn't setting "CNI_PLUGIN_INSTALL_POLICY" to "IfNotPresent" or "Never" only once simpler than listing all CNI plugins in the configuration and keep updating it whenever you add or remove a CNI plugin?

[2022-03-10 16:28] #3369 closed

[2022-03-10 18:45] #3387 closed

[2022-03-10 18:55] antoninbas commented on #3422
@tnqn I expect this will mostly be used by distributions and not end users, so maybe we should go with the more powerful options (IMO) of listing individual binaries, in case the distribution only cares about a specific plugin?

[2022-03-11 01:40] #3431 closed

[2022-03-11 03:09] antoninbas opened #3437 "TestWireGuard/testServiceConnectivity failing in IPv6 cluster"
**Describe the bug**
After merging https://github.com/antrea-io/antrea/pull/3336, the e2e test `TestWireGuard/testServiceConnectivity` is failing for the `jenkins-ipv6-only-e2e` CI job.

It seems that the new IPv6 route reconciliation logic prevents correct gateway route configuration on the Node.

If we deploy Antrea without Wireguard, the gateway routes look like this:
[code]
If we deploy Antrea

[2022-03-11 03:09] antoninbas commented on #3437
Test failure:
[code]

[2022-03-11 07:34] 988651 commented on #1605
As the issue states implementing sort-by flag in more resources and more feilds ,will take this issue to implement sort-by flag in generic form like kubectl sort-by flag

[2022-03-11 16:27] tnqn commented on #3422
@antoninbas I was thinking "IfNotPresent" could be used if the distribution only cares about specific plugins as they will only install them. But either way works for me, since  "skip_cni_binaries" makes more sense to you and Jay, I'm fine with it.

BTW, @jainpulkit22 is interested in implementing the idea and it should be available in v1.6.0.

[2022-03-11 17:42] antoninbas commented on #3422
@tnqn I see, that makes sense. I don't have a strong preference. Maybe `skip_cni_binaries` can let the user skip some plugins that are not always required and that they may not care about (`bandwidth`, `whereabouts`), even though there is no strong advantage in doing so (except if you are *really* limited in storage).

[2022-03-11 18:13] dreamtalen commented on #3426
Hi @antoninbas @tnqn, may I have your opinions regarding this issue?

[2022-03-12 00:50] jsalatiel opened #3446 "EKS - Pods randomly losing network connectivity and a few other problems on AWS EKS"
**Describe the bug**
I am trying to use antrea to replace calico on aws for network policies only. In other words, I am trying to keep using aws cni for IPs and antrea for netpolicies only.
Unfortunately, after a while, any new scheduled pods will have no working network. The already running pods are just fine.
When that happens, the only thing that I can do to make new pods be able to work is cre

[2022-03-12 03:44] antoninbas opened #3448 "OF rule ID included in PacketIn message can be invalid"
**Describe the bug**
While running Antrea NetworkPolicy e2e tests with **ProxyAll enabled** and the Flow Exporter enabled, I observe the following Antrea Agent panic:
[code]

The ruleID (`168428067`) is incorrect. It is indeed missing from the rule cache, but with good reason. IDs are allocated incrementally starting from 0, and at this point in the test only 4 rules had been installed.
[code]
So

[2022-03-12 03:45] antoninbas commented on #3448
@hongliangl I am assigning you because I think this may be something that could be addressed by your flexible pipeline work?

[2022-03-14 03:47] hongliangl commented on #3448
@antoninbas, I have tried to reproduce the bug.

- `ProxyAll` and `Flow Exporter`
- run e2e test `TestNetworkPolicy/testDefaultDenyIngressPolicy`

But the test passed. Did I miss something? Thanks.

[2022-03-14 18:06] antoninbas commented on #3448
No, your configuration looks right.
I was using this PR (https://github.com/antrea-io/antrea/pull/3413), and running the tests in Kind.

BTW, if you look at the issue report, I mention that this test passes, but the Agent crashes, so the next test actually fails. Make sure you run all the `TestNetworkPolicy` test cases, and not just the `TestNetworkPolicy/testDefaultDenyIngressPolicy` subtest.

[2022-03-14 18:07] #3288 closed

[2022-03-15 15:49] jpmcb commented on #3386
Hi @tnqn - just checking in here.

We'd love to accept a PR to bring this back in or I'd be happy to take a stab if you have steps to get this working! 👀

[2022-03-15 22:58] bangqipropel commented on #3328
[code]

seems like need to check if the name is the same as the value here, but we want to remove the name, so does the name here mean the name in objectmeta?

[2022-03-16 16:25] tnqn commented on #3386
@jpmcb when I was testing the change I made in tce, I found unmanaged-clusters doesn't consume the antrea package generated by addons/packages/antrea but a package in tkr, and I needed to make the following changes to make it work:

1. Update tkg-core-packages.images."antrea.tanzu.vmware.com" to point to updated package
2. Update tkg-core-packages.images.tanzuCorePackageRepositoryImage to point to

[2022-03-16 16:37] jpmcb commented on #3386
Correct, `unmanaged-cluster` consumes a TKr to get the versions of software to use for various packages in the core package repository.

You should make a pr against the `addons/packages/antrea` package and that should flow down to then eventually be apart of a TKr.

[2022-03-16 20:18] antoninbas commented on #3428
There is no permission to comment for the Google doc?

In the doc, you write:

But it seems to me that you mean "differentiate packets from different hosts" and not "correlate packets from different hosts".

[2022-03-16 21:18] antoninbas commented on #3428
Unless you mean match the packet captured at the source Node and the packet captured at the destination Node, to identify that this is the same packet.

[2022-03-16 22:12] jsalatiel commented on #3446
Any ideas on this one?
The error appears to come from this:
F0311 21:07:59.926541       1 main.go:58] Error running agent: error initializing agent: failed to get local IPNet device with IP &{10.137.2.22 <nil>}: IPs of localIPs should be on the same device

[2022-03-16 23:01] antoninbas commented on #3446
@jsalatiel any chance you could ssh into a Node and run `ip addr` (or alternatively exec into a hostNetwork Pod and run `ip addr`, which may be easier on EKS and will yield the same output)?

[2022-03-17 00:30] #2785 closed

[2022-03-17 00:30] #2784 closed

[2022-03-17 00:30] #2776 closed

[2022-03-17 00:30] #2707 closed

[2022-03-17 00:30] #2706 closed

[2022-03-17 00:30] #2686 closed

[2022-03-17 00:30] #2685 closed

[2022-03-17 00:30] #2671 closed

[2022-03-17 00:30] #2657 closed

[2022-03-17 00:30] #2638 closed

[2022-03-17 00:30] #2601 closed

[2022-03-17 00:30] #2500 closed

[2022-03-17 00:30] #2497 closed

[2022-03-17 00:30] #2496 closed

[2022-03-17 00:30] #2457 closed

[2022-03-17 00:30] #2439 closed

[2022-03-17 00:30] #2434 closed

[2022-03-17 00:30] #2424 closed

[2022-03-17 00:30] #2409 closed

[2022-03-17 00:30] #2393 closed

[2022-03-17 00:31] #2369 closed

[2022-03-17 00:31] #2366 closed

[2022-03-17 00:31] #2359 closed

[2022-03-17 08:45] luolanzone commented on #3409
@wenyingd since multi-cluster might reuse existing tunnel interface to forward cross-cluster traffic, this requirement about add interface dynamically might be invalid, but I would leave it to you to determine if there is any other area may benefit from this kind of change. thanks.

[2022-03-17 10:56] wenqiq commented on #3324
A question about the traffic control API, why not use `AppliedTo` instead of `PodSelector` and `NamespaceSelector` in the `TrafficControlSpec`?

[2022-03-17 13:09] tnqn commented on #3324
It's good idea. I didn't think about it too much. Use `AppliedTo` struct makes sense to me. Will update.

[2022-03-17 13:31] tnqn opened #3468 "NetworkPolicy may be not enforced correctly after restarting a Node"
**Describe the bug**

Thanks @Nilesh7756 for reporting the issue. I'm quoting his report:

Traffic validation test case failed, NetworkPolicy not working, we found OVSFlow rules missing on workernode for respected POD.

Below workFlow we have followed till now:

1. Deploy tanzu cluster on AWS
2. Scale 5K PODs with 1K NS and 1K services
3. Upgrades Antrea version from v1.2 to v1.5
4. PODs Datapath/

[2022-03-17 18:24] jianjuns commented on #3428
We discussed in the community meeting, but also share my two general comments here:

1. I feel Traceflow CRD is overloaded. Probably we should have another CRD for packet capture and sample, which does not trigger "Traceflow" (tracing the first packet).
2. I wonder whether we need to capture packets on multiple Nodes and correlate them, which seems add much more complexity.

[2022-03-17 21:38] jsalatiel opened #3471 "antrea-eks-node-init and containerd"
**Describe the bug**
Apparently antrea-eks-node-init does not support containerd.  It would be good if it supports since docker is deprecatd for k8s container runtime.

**To Reproduce**
Read eksctl documentation on how to create the cluster using the containerd runtime and try to follow antrea eks guide.

**Expected**
The containers should be restarted to use the antrea netpol.

**Actual behavior*

[2022-03-17 21:45] jsalatiel commented on #3446
Hi @antoninbas , I am not able to reproduce the randomly losing network connectivity for new pods, but I can easily replicate the crashloop by just trying to update antrea from 1.5.0 to 1.5.1 ( on a new test cluster ) Maybe this relates to #3471

[code]
Output of ip addr
[code]

[2022-03-17 22:00] antoninbas commented on #3446
This seems to be a duplicate of https://github.com/antrea-io/antrea/issues/3217. This issue was fixed on the main branch. If you could try deploying the latest Antrea to confirm that it resolves your issue, it would be great.

[code]

Unfortunately, it seems the issue was not back-ported to 1.5, which is why release 1.5.1 also suffers from the issue. This is a mistake on our part, we should the pa

[2022-03-17 22:21] jsalatiel commented on #3446
btw, whats ther correct way to update antrea?
I tried ```kubectl apply -f  https://raw.githubusercontent.com/antrea-io/antrea/main/build/yamls/antrea-eks.yml```
but the antrea-agent pod crashlooped with:
[code]

So I used ```kubectl replace -f  https://raw.githubusercontent.com/antrea-io/antrea/main/build/yamls/antrea-eks.yml``` and restarted the deployment and it worked.

This fixes the crashloop

[2022-03-17 22:31] antoninbas commented on #3446
I would think so. This crash would happen after any agent restart, and then there is no way to recover. After a few days it is possible that the agent is restarted for various reasons.

[2022-03-17 22:35] jsalatiel commented on #3446
Thanks. I am gonna close this. If the pods lose connectivity again I will open a new one. Tks!

[2022-03-17 22:42] jsalatiel commented on #3446
I think I talked too soon. I restarted one of the nodes and it is crashloopback again with:
[code]

[2022-03-17 22:50] antoninbas commented on #3446
This looks like a separate issue ...

@tnqn this last error looks like it could be related to https://github.com/antrea-io/antrea/pull/3393.

[2022-03-17 23:12] antoninbas commented on #3446
@jsalatiel Actually it's pretty silly. The YAML manifest I pointed you to and that you applied (`https://raw.githubusercontent.com/antrea-io/antrea/main/build/yamls/antrea-eks.yml`) is primarily meant for development and has `imagePullPolicy` set to `IfNotPresent`... When you applied it, it used the new ServiceAccount definition with the old Antrea Docker image, which caused the error you observed

[2022-03-18 00:32] #2300 closed

[2022-03-18 00:32] #2298 closed

[2022-03-18 00:32] #2292 closed

[2022-03-18 00:32] #2290 closed

[2022-03-18 00:32] #2289 closed

[2022-03-18 00:32] #2285 closed

[2022-03-18 00:32] #2217 closed

[2022-03-18 00:32] #1838 closed

[2022-03-18 01:51] luolanzone opened #3473 "Upgrade whereabout to latest 0.5.1?"
**Describe the bug**
I noticed that the whereabout version in Antrea is 0.4.2, and when I execute it as `./whereabout`, it will print a `TODO` like below.
[code]
It should print the version of whereabout by default. looks like it's not implemented back to v0.4.2. I suppose it doesn't impact the function. but it would be good to have the latest(v0.5.1) whereabout from here https://github.com/k8snet

[2022-03-18 03:20] #3468 closed

[2022-03-18 03:52] hangyan commented on #3428
Sorry, I have updated the permis

Sorry, I have updated the link and changed permissions. Please try again.

[2022-03-18 03:53] hangyan commented on #3428
Yeah, I mean the same packet in differenet locations, use the IPID field to correlate them. I will update the doc to make that clear. Thanks

[2022-03-18 14:47] #3388 closed

[2022-03-18 14:49] tnqn opened #3480 "Consider creating new Namespaces in antrea e2e tests"
_Originally posted by @antoninbas in https://github.com/antrea-io/antrea/issues/3417#issuecomment-1064379335_

[2022-03-18 17:37] antoninbas commented on #3473
I implemented both of these things in Whereabouts :), so yes I support upgrading to the latest version.

Not sure it qualifies as an Antrea bug though :P

[2022-03-18 21:30] #3151 closed

[2022-03-20 00:33] #2802 closed

[2022-03-20 00:33] #2767 closed

[2022-03-20 23:45] jsalatiel commented on #3334
This would be really great for containerized postfix.

[2022-03-21 00:31] #723 closed

[2022-03-21 01:12] luolanzone opened #3489 "Remove uncessary access right for leader and member service account."
**Describe the bug**
The service account in the multi-cluster member and leader manifests are using default setting which is generated by kube-builder based on the comment marker in go files. but some of them are actually not required in member or in leader service account. we need to limit and remove unnecessary resource access right in leader or member's service account.

**Additional context**

[2022-03-21 09:48] #3422 closed

[2022-03-21 10:13] #3333 closed

[2022-03-21 10:13] #3384 closed

[2022-03-21 10:23] wenqiq commented on #3324
If `AppliedTo` field was used in the trafficControl API, I think unifying AppliedToGroup of NetworkPolicy/Egress/trafficControl will improve the appliedToGroup processing efficiency because the same appliedToGroup only need to be processed one time.
I have tried to make a PR to implement the traffic control API, which may include the first and second work breakdown items.
Hope it will be helpful t

[2022-03-21 20:50] anfernee opened #3497 "Error logs in agent: `Unable to cancel request for *exec.roundTripper`"
**Describe the bug**
antrea-agent on windows (only observed in windows, but it should be platform independent) shows a lot of error logs saying `Unable to cancel request for *exec.roundTripper`. It's pretty annoying, though the functionality seems not impacted. The DEBUG logs are like the following.

[code]

**To Reproduce**
Run the agent and check the log.

**Expected**
No error logs

**Actual be

[2022-03-21 20:50] anfernee commented on #3497
cc @shettyg

[2022-03-22 00:39] #2816 closed

[2022-03-22 01:55] luolanzone opened #3502 "Multi-cluster datapath connectivity support"
**Describe what you are trying to solve**
Multi-cluster feature is introduced since v1.5.0, and it supports to export/import Service/Endpoints between member clusters in a ClusterSet, but it relies on underlay network to implement Pod direct connectivity. It may work fine in most public cloud, but not so adaptable when it comes to private cloud or private clusters. so we intend to introduce Antrea

[2022-03-22 05:18] hongliangl opened #3505 "Received duplicate echo reply packets when pinging Windows hosts"
**Describe the bug**
Env:
- k8s-node-control-plane (Linux) 192.168.240.220
- k8s-node-worker-2-win (Windows) 192.168.240.202
- k8s-node-worker-2-win (Windows) 192.168.240.203

Latest upstream Antrea is installed.

**To Reproduce**
Ping 192.168.240.2 on 192.168.240.220, the result is as the following:
[code]
It seems that the packets are forwarded circularly. In PR #3137, IP forwarding on Windows i

[2022-03-23 00:37] #2752 closed

[2022-03-23 00:37] #2727 closed

[2022-03-23 00:37] #2717 closed

[2022-03-23 00:37] #448 closed

[2022-03-23 07:52] #2693 closed

[2022-03-23 23:31] #3473 closed

[2022-03-24 07:17] xliuxu opened #3517 "Enhance e2e tests for WireGuard"
After https://github.com/antrea-io/antrea/pull/3413 merged, some of the tests for WireGuard e2e tests using the `wg` utility are removed. As the binary may not exists on Nodes and it is not easy to read the WireGuard status using Netlink sockets by shell scripts, I think we can add some basic check to make sure that the route to Pods on different Nodes is targeting the WireGuard device. Similar ch

[2022-03-24 18:27] antoninbas commented on #3517
If you want you can run a Pod in hostNetwork mode, with the wireguard-tools installed, and you can run checks from within this Pod. I see that our `wireguard-go` image already has wireguard-tools, so we don't need to create a new one.

[2022-03-25 03:15] xliuxu commented on #3517
That is a good suggestion. Thank you @antoninbas!

[2022-03-25 04:53] jainpulkit22 commented on #3480
@tnqn I would like to work on this issue

[2022-03-25 05:16] Atish-iaf commented on #3420
I am interested to work on this issue.

[2022-03-25 05:27] luolanzone commented on #3420
@KMAnju-2021  is already working on this issue, I updated the assignee and @Atish-iaf will work on other issue. thanks!

[2022-03-25 05:53] Atish-iaf commented on #3426
Can i take this issue?

[2022-03-25 06:25] tnqn commented on #3480
thanks @jainpulkit22, assigned you.

[2022-03-25 08:09] #3437 closed

[2022-03-25 09:11] #3489 closed

[2022-03-25 09:50] luolanzone opened #3523 "Inconsistent log format in multicluster controller log"
**Describe the bug**
When Antrea multicluster controller is running, it prints logs like below, it's obviously different format. The base codes of Mulit-cluster is generated by Kubebuilder originally, so the json format is from Kubebuilder related packages. we need to check if there is a way to make them consistent or disable the json one.

[code]

**To Reproduce**
Follow up the MC user guide http

[2022-03-25 12:16] tnqn commented on #3230
No PR is ready for the document, defer it to next release.

[2022-03-25 13:40] #3505 closed

[2022-03-25 13:42] tnqn commented on #3448
No PR is ready for this issue, defer it to 1.7

[2022-03-25 13:44] tnqn commented on #3230
@xliuxu could you help document this feature?

[2022-03-25 14:53] xliuxu commented on #3230
@tnqn  I think this was already addressed in PR https://github.com/antrea-io/antrea/pull/3322.

[2022-03-25 15:07] tnqn commented on #3230
@xliuxu thanks for the link. Then we should update https://github.com/antrea-io/antrea/blob/main/docs/feature-gates.md#serviceexternalip with the link and remove "More documentation will be coming in the future."

[2022-03-25 16:53] dreamtalen commented on #3426
Sure, thank you Kumar.

[2022-03-25 21:52] #3230 closed

[2022-03-27 00:37] #2819 closed

[2022-03-29 07:33] Atish-iaf commented on #3426
Hi @dreamtalen , can u please help me to reproduce this issue as `antctl get-policy-reco-result` is not working and using `antctl get networkpolicy -o yaml` and `antctl get networkpolicy -o json` doesn't give output as described in the issue. Thanks.

[2022-03-29 16:24] vrabbi opened #3538 "Antrea Egress feature fails when using NSX antrea interworking operator"
**Describe the bug**
When using the Antrea-NSX interworking operator with antrea, you cant use the egress feature as both tools utilize the same host port 10351.

**To Reproduce**
1. Install antrea
2. install the Antrea-NSX interworking operator
3. try to enable the egress feature
4. restart the antrea pods to pick up the change

**Expected**
for the antrea agents to come up successfully

**Actual

[2022-03-29 17:14] antoninbas commented on #3538
Not sure this is the best place to report this, as Antrea-NSX integration is not part of this OSS project. I would suggest reaching out to VMware support.
I will tag @edwardbadboy who works on Antrea-NSX integration in case he wants to follow-up with you.

[2022-03-29 17:14] #3538 closed

[2022-03-29 17:31] rikatz opened #3540 "NetworkPolicy status support - Feature Request"
**Describe the problem/challenge you have**
Kubernetes v1.24 will start supporting condition status in Network Policy API (alpha and feature gate'd)

It would be great if Antrea supports this field to provide feedback for users whether the Network Policy could be parsed, and if not the reason (lack of feature, some error, etc)

**Describe the solution you'd like**
* Update client-go to v1.24 when

[2022-03-29 21:18] GraysonWu commented on #3263
Had another round of discussion in the community meeting. We decided not to remove `ports` field. Users are familiar with `ports` field, and the usage of ICMP is much smaller than other protocols. If users want to use ICMP or they prefer the new struct, they could choose to use `Protocols` as an advanced feature. Otherwise, they could keep using `ports`. Also, in this way, we don’t need to bump up

[2022-03-30 03:34] edwardbadboy commented on #3538
Thanks. I got the problem.  Let me follow up this with Scott directly.

[2022-03-30 05:29] Dyanngg opened #3547 "Tooling for Identifying potentially conflicting Antrea-native policy rules"
**Describe the problem/challenge you have**
In the antrea-network-policy document "Notes and constraints" section, there is a paragraph describing the problem of Antrea-native policy rules being potentially conflicting:
[code]
To help users identify such potentially conflicting rules, Antrea can provide additional tooling, which scans all the Antrea-native policies in the cluster, and prints out a

[2022-03-30 07:13] Atish-iaf commented on #3426
Hi @dreamtalen , i got following outputs on running antctl commands:
`root@kind-worker2:/# antctl get networkpolicy -o yaml
- appliedToGroups:
  - cg-pods-a-then-c
  metadata:
    creationTimestamp: null
    generation: 1
    name: 13e3a092-4c9c-451e-824b-4425ea289c32
    uid: 13e3a092-4c9c-451e-824b-4425ea289c32
  priority: 1
  rules:
  - action: Drop
    direction: Out
    enableLogging: false

[2022-03-30 08:29] wenyingd opened #3551 "kind test can"
**Describe the bug**

Hi there,

I created a feature branch "feature/externalnode" to maintain code changes for VM agent case. But after I created a PR on the new branch, I found that kind tests failed to run. Shall we has enhancement in CI scripts to support running kind tests on such feature branch?

**To Reproduce**

**Expected**

**Actual behavior**

**Versions:**

**Additional context**

[2022-03-30 10:36] Atish-iaf commented on #3426
Hi @dreamtalen , i got following responses on running antctl commands:
[code]

[code]
Still unable to reproduce the issue, can you please provide more clarification? Thanks.

[2022-03-30 10:42] XinShuYang commented on #3551
@antoninbas @tnqn I add all "feature/*" branches to the filter. Or I can only add "feature/externalnode" branch. Do you have any suggestions?

[2022-03-30 16:26] jsalatiel commented on #3263
@GraysonWu Understood, tks! Probably not having to bump up the api version is a good thing.
What exactly would be the syntax to allow ECHO REQUESTS ( ping ) then ?

[2022-03-30 16:45] dreamtalen commented on #3426
Hi @Atish-iaf, please read my last comment. The output of the command `antctl get networkpolicy` you ran is not a multiple-line string, and you should change the result to a multiple-line string of any current available antctl commands.

[2022-03-30 16:46] dreamtalen commented on #3426
Hi @Atish-iaf, please read my last comment. The output of the command `antctl get networkpolicy` you ran is not a multiple-line string, and you should change the result to a multiple-line string of an antctl command.

[2022-03-30 17:47] #2472 closed

[2022-03-30 19:03] #3131 closed

[2022-03-30 19:14] antoninbas commented on #3547
I think there may be a *little* bit of overlap with the implementation of https://github.com/antrea-io/antrea/blob/main/docs/antctl.md#mapping-endpoints-to-networkpolicies, as in both cases you look at policies applied to a given endpoint.

I am not sure there is value in being able to run this command in Agent mode.

[2022-03-30 20:45] GraysonWu commented on #3263
@jsalatiel
[code]

[2022-03-30 22:20] jsalatiel commented on #3263
Thanks!, @GraysonWu
Still targeted for 1.7 release?

[2022-03-30 22:24] GraysonWu commented on #3263
Yes.

[2022-03-31 00:32] #2021 closed

[2022-03-31 00:34] jsalatiel opened #3558 "NodeSelector "compatibility" to select EKS master nodes IP on NetworkPolicies"
Antrea 1.6 brought a great feature that allows network policies to target nodes.
That allows for example have a single net policy rule that make PODs labeled with some label be able to connect to the API without knowing previously the IP of the kubernetes master nodes while keeping a default deny policy for the cluster.

[code]

From the documentation , that nodeSelector  adds the Node IPs to the

[2022-03-31 00:57] jsalatiel opened #3559 "antrea 1.6 agent crashing [signal SIGSEGV: segmentation violation code=0x1 addr=0x50 pc=0x1bb2f45] │"
Not sure what information I can supply to help debugging this.
New cluster running antrea 1.6 fresh install with a few network policies.

[code]

**Versions:**
Please provide the following information:
 - Antrea version (Docker image tag). 1.6
 - Kubernetes version (use `kubectl version`): 1.21 on prem
 - Container runtime: containerd

[2022-03-31 01:16] antoninbas commented on #3559
@GraysonWu could you look into it?
Based on the backtrace it looks like it is possible for `dIface` top be nil. https://github.com/antrea-io/antrea/blob/c927d1a79031cc1868fdef8d4f337ceff4cb530d/pkg/agent/controller/networkpolicy/reject.go#L136

[2022-03-31 05:15] tnqn opened #3563 "No status report from jobs with matrix if they are skipped"
**Describe the bug**

For example, in https://github.com/antrea-io/antrea/pull/3544, there is a status report for "Go / Golangci-lint (pull_request)" (skipped) but no report for "Golangci-lint (macos-latest)" and "Golangci-lint (ubuntu-latest)".

The reason is "Go / Golangci-lint (pull_request)" has matrix defined, but it was skipped before the matrix is expanded but we require the status report o

[2022-03-31 05:25] tnqn commented on #3563
Is it because https://github.com/antrea-io/has-changes/issues/7 caused has-changes always returned "yes"?

[2022-03-31 06:00] zm1990s opened #3566 "When AntreaIPAM is used for static IP pool allocation, OVS bridge still use first nic of worker, not transportInterface in Antrea configmap."
**Describe the bug**

**To Reproduce**
Create a vm with two nics. One for management (ens160)and one for data(ens192, which will connect to a trunk portgroup).
Deploy antrea and specify data nic via transportInterface setting.

**Expected**
br-int connect to data interface.

**Actual behavior**
br-int will connect to management interface not data interface.

**Versions:**
Tested in Antrea 1.4 and

[2022-03-31 11:45] Atish-iaf commented on #3426
Hi @dreamtalen , may i know actual `transformedResponse` used in the new command so that i could get multiple-line string output ? And also the exact output of the api for the new command if possible. Thanks.

[2022-03-31 12:44] jsalatiel commented on #3559
I only have one using REJECT action:

[code]

Looking at the /var/log/antrea/networkpolicy/np.log inside the node the agent is crashing I have only one "strange" line. Strange because I see NIL there.

[code]

[2022-03-31 15:56] tnqn commented on #3558
@jsalatiel If your Pods access kube API via service address, perhaps `toServices` can meet your requirement: https://github.com/antrea-io/antrea/blob/main/docs/antrea-network-policy.md#acnp-for-toservices-rule

[code]

[2022-03-31 15:57] #3551 closed

[2022-03-31 16:29] jsalatiel commented on #3558
I think that most webhooks (nginx ingress for example) connect to the api server directly through the endpoints, not the services, but i am gonna check that out.

[2022-03-31 17:15] dreamtalen commented on #3426
Hi @Atish-iaf
The `transformedResponse` I used when defining the new antctl command in `pkg/antctl/antctl.go` is `transformedResponse: reflect.TypeOf("")`.
My new command doesn't have a fixed output, you could create some general multiple-line string with `\n`. For example, `"Hello World\nHow are you doing today\nHope all is well with your go\nAnd code"`

[2022-03-31 17:31] antoninbas commented on #3559
The `nil` entries make sense for ICMP, given that there is no source port / destination port, which is what these columns are for.
It seems that this is a pretty simple connection (2 Pods on the same Node), but I expect @GraysonWu will know more about why this is causing the agent to crash. Thanks for sharing all this info.

[2022-03-31 17:43] antoninbas commented on #3563
I don't think it is because of `has-changes`. It seems the action is working as expected now.
IMO it is because of https://github.com/antrea-io/antrea/pull/3450, which is also a fairly recent change. Before that change, we never skipped that test for documentation changes, now we do. You could revert that change for the matrix job(s) if you want, and add a comment there about why the job should no

[2022-03-31 18:11] GraysonWu commented on #3559
I'm able to reproduce this issue in my env. Working on it.

[2022-03-31 18:48] Dyanngg commented on #3547
There might be some overlap logically but from the user's point of view it's very different:
[code]
From the output of such command, even if users find out two policies are created at the same priority level, it will require them to take a look into each policy to identify potential conflicts. Not to mention that obviously users cannot run this for all Pods in the cluster.

Agreed

[2022-03-31 22:46] antoninbas commented on #3559
I would guess that for some packets, the packet in that is parsed in the Antrea Agent code is not handled correctly.
So these IP addresses that you cannot recognize could be just garbage. It could be a bug in libOpenflow or somewhere else. I would recommend to log the packet at different stages of processing to figure out what goes wrong. Maybe the packet has an unexpected size and the parsing doe

[2022-03-31 22:59] GraysonWu commented on #3559
`255.248.0.0` also confused me. Sure, I take a deep look at this.

[2022-03-31 23:51] jsalatiel commented on #3559
Will we have a 1.6.1 soon to fix this? 😅

[2022-04-01 00:37] #215 closed

[2022-04-01 02:44] luolanzone opened #3573 "Improve e2e log with timeline information"
**Describe the problem/challenge you have**
We do have some timestamp information when Antrea e2e have some logs codes to print useful information. but it would be better to have some high level execution time line during e2e.

**Describe the solution you'd like**
We may have below ways to enhance the log which can help us to analyze the timeline and do enhancement easier.
1. Add timestamp log inf

[2022-04-01 03:20] tnqn commented on #3566
@zm1990s thanks for the report. @gran-vmv could you take a look?

[2022-04-01 04:17] tnqn commented on #3558
I guess they connect to service, otherwise all these components need to watch endpoints API themselves and implement an client side loadbalancing, which is kube-proxy/antrea-proxy is designed to avoid.

[2022-04-01 07:08] jainpulkit22 opened #3574 "use FeatureGate to check if IPv6 is enabled and then read configuration item "ServiceCIDRv6"."
**Describe the problem/challenge you have**

To validate whether IPv6 is enabled or not before reading the configuration ServiceCIDRv6.

**Describe the solution you'd like**

One of the solution is to add a new feature named as IPv6, or we can just use IPv6 as a boolean variable to ensure whether it is enabled or not as in the other parts of the code.

**Anything else you would like to add?**

Thi

[2022-04-01 07:08] jainpulkit22 commented on #3574
@tnqn @antoninbas @luolanzone any opinions

[2022-04-01 07:15] luolanzone commented on #3574
Hi @jainpulkit22  Could you please add the permanent comment link where you see this TODO? it can help @tnqn  and @antoninbas  to understand where this issue comes from. thanks.

[2022-04-01 07:20] jainpulkit22 commented on #3574
yes sure

[2022-04-01 07:31] tnqn commented on #3574
Feature gate is used for isolating experimental code, and shouldn't be used as a configuration, even though they are similar sometimes. IPv6 support is already kind of mature, we shouldn't add it at this stage. The todo is stale.
I remember agent is already using NodeIP/PodCIDR to determine whether IPv4/IPv6 is enabled.

[2022-04-01 11:12] jainpulkit22 commented on #3574
okay so should I close this for now?

[2022-04-01 13:45] luolanzone commented on #3574
@jainpulkit22 I suppose you can remove the TODO comment within a PR, maybe remove it in one of your working one, and use `Fixes #ThisIssueNumber` to close this issue.

[2022-04-01 13:52] jainpulkit22 commented on #3574
okay will do it, thanks.

[2022-04-03 00:36] #2855 closed

[2022-04-03 13:06] vrabbi opened #3581 "Enhance the Octant plugin"
**Describe the problem/challenge you have**

The Octant plugin is great but with a few more additions it would be even more beneficial and provide a much better UX.
**Describe the solution you'd like**

The main features that would make the plugin better i believe are:
1. Add Dropdowns for Namespace and Pod names and dont require manual entering of these values when generating a traceflow
2. Add a

[2022-04-04 00:33] #1852 closed

[2022-04-04 00:33] #1137 closed

[2022-04-04 16:37] jsalatiel opened #3582 "[ Help request/ Documentation ] Network Policy between nodes for default deny policy"
Hi, I am trying to implement default zero-trust cluster security posture according to the documentation, but I understand that I do need some extra policies in the kube-system namespace.
So, I have a default deny on the baseline tier and the following rules for the kube-system namespace on the Emergency Tier:

[code]
AFAIK that would allow all pods on kube-system namespace:
1)  talk to each other

[2022-04-05 12:03] hongliangl opened #3583 "CT mark is not realized correctly"
**Describe the bug**
CT mark defined in `pkg/agent/openflow/field.go` like `NotServiceCTMark = binding.NewOneBitZeroCTMark(4)` is used in a flow as the following:

[code]

The flow should to be like the following:
[code]

But it is:
[code]

As a result, the CT mark is not realized in the flow.

[2022-04-05 20:13] antoninbas commented on #3497
I did some research into this.
This is specific to users of [client-go credential plugins](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins), and in this case the [exec auth plugin](https://github.com/kubernetes/client-go/tree/master/plugin/pkg/client/auth/exec). @anfernee I assume that you are indeed using this plugin for client-go authenticatio

[2022-04-05 20:15] antoninbas opened #3584 "Upgrade client-go to v0.24 when it is available"
For #3497 and #3540

[2022-04-06 03:02] hongliangl opened #3586 "Extend the priority levels in pkg/agent/openflow/pipeline.go"
**Describe the problem/challenge you have**

Since the features of Antrea is more and more rich, the current priority levels (priorityHigh, priorityNormal, priorityLow) are not sufficient.

**Describe the solution you'd like**

***Solution 1***
Add new priority levels:

- priorityHighest (230)
- priorityHigher (220)
- priorityLower (180)
- priorityLowest (170)

The advantages of this solution are:

[2022-04-06 03:05] hongliangl commented on #3586
I came up with this idea inspired by https://support.atlassian.com/jira-service-management-cloud/docs/what-are-priority-levels-in-jira-service-management/.

[2022-04-06 09:57] luolanzone opened #3588 "Fail to realize MC service when it has port name"
**Describe the bug**
When user creates a Service with port name, and trying to export/import via Antrea Multi-cluster feature, it will fail to get realized due to imported Service's port is without name during export/import pipeline, but Endpoint's port is still kept the same as original one.

**To Reproduce**
Create a Deployment and define a Service with a port name like below, and export it in a

[2022-04-06 18:49] antoninbas commented on #3446
@jsalatiel were you able to confirm that this is resolved with the `latest` Antrea image?

[2022-04-06 18:50] jsalatiel commented on #3446
yes. Closing it.

[2022-04-06 18:50] #3446 closed

[2022-04-06 18:50] antoninbas commented on #3386
I'm closing this issue. Starting with Antrea v1.6, we no longer use the userspace OVS datapath for Kind clusters and this issue should no longer exist. Please re-open if needed.

[2022-04-06 19:11] antoninbas commented on #3181
All Antrea minor releases >= 1.2 have a patch release built with Go 1.17

[2022-04-06 19:11] #3181 closed

[2022-04-06 19:17] antoninbas commented on #2033
This issue is no longer relevant. Since https://github.com/antrea-io/antrea/pull/3413, we are using the OVS kernel datapath instead of the OVS userspace datapath for Kind clusters. SCTP is now supported in Kind clusters, and we no longer skip tests that require SCTP in our Kind CI jobs.

[2022-04-06 19:17] #2033 closed

[2022-04-06 19:18] antoninbas commented on #467
No longer relevant since https://github.com/antrea-io/antrea/pull/3413. We no longer use the OVS userspace datapath for Kind clusters.

[2022-04-06 19:18] #467 closed

[2022-04-06 19:19] antoninbas commented on #2743
/test-all

[2022-04-06 19:36] antoninbas commented on #2003
This has been addressed on the master branch of OVS: https://github.com/openvswitch/ovs/commit/78ff3961ca9fb012eaaca3d3af1e8186fe1827e7. We will include the patch in the OVS version that we ship with Antrea v1.7.0.

[2022-04-06 23:56] hongliangl commented on #3586
@tnqn @jianjuns @antoninbas @wenyingd Which solution do you prefer? Or something else？Thanks.

[2022-04-07 01:05] luolanzone opened #3592 "Antctl log-level subcommand doesn't work"
**Describe the bug**
When I run antctl log-level in a host, it will print below error message:
[code]

After check the doc here https://github.com/antrea-io/antrea/blob/main/docs/antctl.md#showing-or-changing-log-verbosity-level, it shows `The command can only run locally inside the antrea-controller, antrea-agent or flow-aggregator container.`, I suppose we need remove it from command list when w

[2022-04-07 02:00] luolanzone opened #3593 "MC importer doesn't work when leader controller is restarted"
**Describe the bug**

The importer of member cluster in a ClusterSet will stop working when the leader controller is restarted. Importer in MC is watching the events from leader cluster after a ClusterSet is initialized, when the leader controller is restarted, leader election can complete successfully but it doesn't start a new importer after election is done. This means member cluster can't impo

[2022-04-07 02:45] #3588 closed

[2022-04-07 17:26] #3559 closed

[2022-04-07 19:30] antoninbas opened #3599 "Upgrade VMC testbed to a more recent version of K8s"
The Jenkins jobs (e2e, conformance, networkpolicy) are run on testbeds with K8s v1.20.1. This version is getting a bit old, and some notable networking changes happened since that version, e.g. the EndpointSlice feature went GA. At the moment, it is is not possible to run recent upstream K8s e2e tests, as a lot of tests will fail when using a conformance image version >= v1.21:
[code]
The tests ex

[2022-04-07 19:31] antoninbas commented on #3599
@XinShuYang do you think this is something that could be done?

[2022-04-07 19:31] antoninbas commented on #2743
Blocked on https://github.com/antrea-io/antrea/issues/3599

[2022-04-07 21:44] jsalatiel commented on #3558
@tnqn  You are right! thanks!
Another single question, is there a fromService?
Use case: I can connect to the api using the:
[code]
But how can I point the control plane IP  in EKS as **from** in a net policy rule?
The IPs are the endpoints' IP  for kubernetes.default service in EKS.
On prem I can just add the nodeSelector for the masters label.

[2022-04-08 01:23] XinShuYang commented on #3599
@antoninbas  Yes, the latest OVA version is 1.20. As I know @edwardbadboy is working on supporting 1.24 testbed on AWS. I am also working on private lab testbed upgrade.

[2022-04-08 01:48] tnqn commented on #3324
The group calculation is delegated to `grouping.Interface`, which doesn't care the kind of the group. If a group created for Egress has same label selector as a group created for NetworkPolicy, they will share the selector in `grouping.Intetface` and get same result, so there should be no duplicate workload. There was a discussion about whether Egress should have its own Egress group or share the

[2022-04-08 17:15] antoninbas opened #3605 "Antrea e2e tests consistently failing in Jenkins for TestFlowAggregator"
**Describe the bug**
I see e2e tests failing in Jenkins pretty much all the time with the following error:
[code]

It seems like it should be easy to fix.

[2022-04-08 23:13] antoninbas commented on #3605
I saw it happen for other tests as well (coverage file for the agent this time, not the flow-aggregator):
[code]

[2022-04-10 00:34] #2881 closed

[2022-04-11 03:11] luolanzone opened #3611 "Utilize git commit hook to reduce the usage of github runner"
**Describe the problem/challenge you have**
When we have multiple PRs running, the time of the workflow job spending on waiting available github runner might be quite long. but sometimes, there are just some static or doc check failure which are actually can be run locally before push. we can actually use pre-push hook to do some checks before push which can help on reducing unnecessary force push

[2022-04-11 05:11] jainpulkit22 commented on #3592
@luolanzone would like to work on this issue.

[2022-04-11 21:31] shettyg opened #3621 "windows: node add route logic broken after antrea-agent restart"
**Describe the bug**

On Windows, with noEncap node, if you restart antrea-agent, it will keep complaining about failure to add host route to a peer k8s node.  The routes had already been added in a previous run. Errors are of the form:

[code]

Looking through the code (and adding some debug statements), the following happens.

1. pkg/agent/route/route_windows.go:Reconcile() is called
 -> listRou

[2022-04-12 03:53] luolanzone commented on #3611
@mohitsaxenaknoldus sure, thanks.
@antoninbas  @tnqn  do you have any comment or suggestion for this proposal?

[2022-04-12 04:45] antoninbas commented on #3611
I don't have a strong opinion on this, it's ok to provide hooks for developer to use. However, I think we need to keep the following in mind:
* client-side hooks are not copied when you clone a repository: you cannot force developers to run your client-side hooks, you can only provide the scripts and suggest that they add them to their local `.git/hooks/` folder.
*  the scripts used for these hook

[2022-04-12 06:49] edwardbadboy opened #3624 "antctl Support Bundle Should Collect Logs from Crashed Agent and Controller Containers"
**Describe the bug**

When antctl runs in remote mode, it needs to connect to remote agent or controller APIServer to get support bundle. If remote agent or controller fails, antctl writes the failed node name in support bundle. I'd like to suggest an improvement. If antctl fails to connect to agent/controller APIServer, it can alternatively get logs from K8s API. For example:

[code]

Another imp

[2022-04-12 08:35] #1931 closed

[2022-04-12 10:03] #3593 closed

[2022-04-12 21:29] antoninbas opened #3626 "[Flaky test] TestDropPacketDedupLog"
**Describe the bug**
I observed the `TestDropPacketDedupLog` unit test fail on Windows (`Unit test (windows-2019)` CI job)

[code]

[2022-04-12 21:30] antoninbas commented on #3611
this sounds fine to me

[2022-04-12 22:07] antoninbas commented on #3324
@tnqn I have the following related questions:
- For the redirect case, can the same port be used for both traffic directions (i.e. `peerName == name`)? Or does the implementation require 2 different OVS ports?
- Can tunnel destinations be used for the `Redirect` action? I assume that if the answer to my previous question is "No", then the answer is also "No" here.

[2022-04-13 04:05] hangyan commented on #3624
working on this

[2022-04-13 04:53] anfernee commented on #3497
Thanks @antoninbas for the updates. Yes, you are right. We do use exec auth plugin for both kubelet and antrea-agent in GKE, so very likely to be the issue you described.

[2022-04-13 06:35] wenyingd commented on #3583
Hi Hongliang, this is introduced by an issue in the dependent library ofnet. I have made a fix and it is merged now (https://github.com/antrea-io/ofnet/pull/30). Please update go.mod with ofnet version 0.5.7+, and the fix would be involved.

[2022-04-13 08:48] luolanzone opened #3631 "Enhance markdown-link-check"
**Describe the problem/challenge you have**
Recently markdown link check failure happens quite often, eg:
https://github.com/antrea-io/antrea/runs/5988453685?check_suite_focus=true, it's a false negative result, the dead link is actually accessible, and rerun the job doesn't help. it would be good to enhance the check process.

**Describe the solution you'd like**
1. Add a cron job to run a full c

[2022-04-13 11:22] NamanAg30 commented on #1740
I have started working on this issue

[2022-04-13 18:07] #3626 closed

[2022-04-13 18:24] antoninbas commented on #1578
Since #3609, we do the following when the user-provided timeout exceeds the maximum supported value (65535):
1) Log a warning
2) Truncate the user-provided timeout to the maximum supported value

[2022-04-13 18:28] antoninbas commented on #1740
@NamanAg30 I don't think this issue can be resolved before https://github.com/antrea-io/antrea/issues/2743, and that issue depends on the K8s testbeds we use for CI being upgraded to a more recent version

[2022-04-14 01:55] antoninbas opened #3636 "Antrea Agent failing to start on Windows"
**Describe the bug**
I'm trying to run Antrea on a Windows Node, but the agents gets into a CrashLoopBackOff state, with the following error:
[code]

The error doesn't really help me troubleshoot anything.

**Versions:**
Antrea v1.6.0

**Additional context:**
I am using Docker as the container runtime, and using the antrea-windows DaemonSet to run the agent.

Here is some additional information:
[

[2022-04-14 02:23] antoninbas commented on #3636
I created a brand new Windows Node and ran into the exact same issue again after following the steps in https://github.com/antrea-io/antrea/blob/main/docs/windows.md#installation-via-wins-docker-based-runtimes

[2022-04-14 02:52] wenyingd commented on #3636
Hi @antoninbas , I saw the Windows Node network adapter name was "Ethernet" which was configured with NodeIP address, and there are exsiting netadapter named as "vEthernet (Ethernet)". The crash happens after creating HNSNetwork. By default, Windows host should create a new virtual management network adpater with a name format "vEthernet ($netadapter_name)", and we use this format to check the exi

[2022-04-14 03:36] #3605 closed

[2022-04-14 04:28] antoninbas commented on #3636
@wenyingd Thanks for the quick reply. Your explanation makes sense.

I ran some more experiments and it seems that this network adapter (`vEthernet (Ethernet)`) is created after the Node joins the cluster and the kube-proxy hostNetwork Pod is scheduled on the Node (at this point I haven't created the `antrea-windows` DaemonSet yet).

I am using an AWS AMI named [Microsoft Windows Server 2019 Base

[2022-04-14 04:36] tnqn commented on #3324
@antoninbas

From antrea side, it doesn't really care whether the ports are same. It will just make sure traffic received from peer port can be forwarded to traffic's original destination without being stuck in a loop (be redirected again). However, AFAIK, network firewalls such as suricata and snort require two different interfaces when working inline mode. I tested suricata, it cannot start when

[2022-04-14 05:07] #3583 closed

[2022-04-14 08:44] jsalatiel opened #3640 "netpolicy logs should also log drops from standard k8s netpol rules"
As the cluster admin, I use antrea ACNP to define global rules and one last rule "default deny" policy with logging:
[code]
This way all drops are logged to /var/log/antrea/networkpolicy/np.log.
The developers are the ones responsible for building the netpolicies ( standard k8s netpolicies) for their appications as long as those do not conflict with the global rules defined in ANCP. The problem is

[2022-04-14 18:37] jianjuns commented on #3324
TrafficControlPort (if all types of destination will have a port)?

[2022-04-15 00:48] tnqn commented on #3324
Thanks @jianjuns for the suggestion. I tried to call it Port, however we have port of "Port" type and "Tunnel" type, which may lead to a struct name like "PortTrafficControlPort". I used "Device" for the struct and "PortDevice" and "TunnelDevice" for the specific types in #3644, could you check if it makes sense to you?

[2022-04-15 17:35] XinShuYang commented on #3599
I noticed containerd is not the default runtime in vagrant cluster. Do we have the plan to switch to containerd as the default runtime for kubelet?  @antoninbas

[2022-04-15 17:38] antoninbas commented on #3599
@XinShuYang containerd is the default runtime in the Vagrant-based testbed, what makes you say it is not?

[2022-04-15 19:16] antoninbas opened #3648 "TestConnectivity/testOVSFlowReplay flakiness"
**Describe the bug**
I observed this e2e test failing during an execution of the E2e tests on a Kind cluster on Linux with Antrea-native policies disabled" Kind job.

[code]

Note that the OVS error logs are harmless and can be ignored. However, there is a flow count mismatch after the replay. It is hard to troubleshoot the test with the current log levels. I propose to dump the flows in case of t

[2022-04-15 20:24] #2003 closed

[2022-04-15 20:29] antoninbas opened #3650 "[Flaky test] TestFlowAggregator/IPv4/InterNodeFlows"
**Describe the bug**
I observed a failure of TestFlowAggregator/IPv4/InterNodeFlows in Kind CI, for the "E2e tests on a Kind cluster on Linux with AntreaProxy all Service support" job (don't know if the exact job is relevant):

[code]

Full test logs: https://gist.github.com/antoninbas/f543aa2e9eb2c34cba41edf9825bf39e

[2022-04-15 20:29] antoninbas commented on #3650
@heanlan @dreamtalen could someone take a look at this?

[2022-04-15 21:04] heanlan commented on #3650
@antoninbas ack

[2022-04-17 14:53] XinShuYang commented on #3599
@antoninbas I was wrong to say Vagrant testbed not use containerd. Actually I reused vagrant playbook to setup environment in private CI testbed. The problem is I also installed docker by another script at the same time. In this case kubelet will use docker as default runtime because Vagrant playbook doesn't add "--container-runtime-endpoint" parameter for kubelet. Do you think it's a wrong idea t

[2022-04-18 00:40] #2904 closed

[2022-04-18 00:40] #2901 closed

[2022-04-18 08:26] wenyingd commented on #3621
For now, antrea doesn't list route entries on br-int interface (used in noEncap mode for accross Node routing) because user might have created other routes on this interface, and Antrea is possible to remove thoses entries by mistake in a reconcile. But antrea-gw0 is created by Antrea, so Antrea could operate it as desired.

To fix the issue, I am thinking maybe we should use a different metric on

[2022-04-18 08:50] wenyingd commented on #3621
I check the code with main branch, and I didn't see the issue. I think it should be resolved by this change https://github.com/antrea-io/antrea/pull/2235/files#diff-7bcfac48fad8417e532efd53e1885724b2a3537025e64ab11030aa72a6893cfdR181

Although the current code still only lists routes on antrea-gw0, but when adding a route entry, it first checks the existence entry, and only add if not existing or

[2022-04-18 17:04] shettyg commented on #3621
Thanks much for the pointer. Looks like I just need to get the following change to 1.2?

[code]

[2022-04-18 17:31] #2104 closed

[2022-04-18 18:40] antoninbas commented on #3599
Do you need to build images on the K8s Nodes?

If you want to keep Docker on the Nodes, I suggest that we start setting `nodeRegistration.criSocker` in the Kubeadm configurations (for init and for join). You can do this change in the vagrant playbook if you want.

I imagine that starting with K8s v1.24 (with the removal of Dockershim), K8s will stop defaulting to Docker?

[2022-04-18 23:30] antoninbas opened #3657 "[Flaky test] TestCluster_Run/Local_Node_matches_ExternalIPPool_nodeSelectors"
**Describe the bug**

I have seen test `TestCluster_Run/Local_Node_matches_ExternalIPPool_nodeSelectors` fail in the Github CI, when run on Windows, for which the VMs are significantly slower. This is one of the unit test for the code in charge of assigning Nodes responsible for each "external" IP (e.g., Egress IP). Looking at the test, it seems that races are definitely possible: the test conside

[2022-04-18 23:36] #3636 closed

[2022-04-19 06:43] hwdef opened #3662 "can not install ovs in windows server 2022"
**Describe the bug**

can not install ovs in windows use `https://github.com/antrea-io/antrea/blob/main/hack/windows/Install-OVS.ps1` shell.

**To Reproduce**

[code]

**Expected**

successfully installed

**Actual behavior**

[code]

**Versions:**

kubernetes version: 1.21.11
windows version: windows server 2022
container runtime: containerd

**Additional context**

[2022-04-19 09:55] XinShuYang commented on #3599
Yes, they announced Dockershim will no longer be included in Kubernetes.
I wonder if we have tried any CI test in Vagrant cluster? I tried to run e2e test on my containerd testbed and found some errors. If tests can pass on Vagrant cluster it may caused by my environment issue, otherwise we need to update CI test code. @antoninbas

[2022-04-19 17:53] antoninbas commented on #2641
This issue is not resolved yet, there are still several changes required in order for the Helm chart to be usable by Antrea users.

[2022-04-19 17:55] #3631 closed

[2022-04-19 18:42] #3657 closed

[2022-04-19 22:51] jsalatiel commented on #3640
Hi @tnqn ,
1. IMHO The log line can just say it was dropped by a "standard k8s net policy" in that case. The important is that the drops are logged some place. Besides being easier to debug rules that the developer forgot by seeing those drops in the logs, there are several tools  that can parse the drops in /var/log/antrea/networkpolicy/np.log and trigger alerts if excessive drops are being gener

[2022-04-19 22:55] antoninbas opened #3665 "[Helm chart] Should CRDs be placed in the special `crds/` directory."
This is related to https://github.com/antrea-io/antrea/issues/2641.

We now have a chart for Antrea, which is currently used to generate the Antrea deployment manifests. In this chart, CRDs are currently treated as regular templates. Helm 3 introduces "special treatment" for CRDs, with the ability to place CRD definitions (as plain YAML, not templated) in a special `crds/` directory. When CRDs are

[2022-04-19 22:55] antoninbas commented on #3665
@hangyan @tnqn for opinions

[2022-04-20 03:45] hangyan commented on #3665
Well i think I'm against solution 1, because it's problematic，some other reasons i can recall:
1. The normal creation step for resources in `templates` wont wait for the discovery api to be refreshed. This is critical to the crd resource, because we need that. `crds` solution can handle this.
2. I'm not sure how the current helm' upgrade method works, it's kind of complicated, i think it's tree-wa

[2022-04-20 04:33] mohitsaxenaknoldus commented on #3611
PR: https://github.com/antrea-io/antrea/pull/3669
@luolanzone

[2022-04-20 08:32] jainpulkit22 commented on #3523
@luolanzone would like to work on this issue

[2022-04-20 08:33] luolanzone commented on #3523
sure, I have assigned it to you, thanks!

[2022-04-20 15:48] tnqn commented on #3665
The information I get from https://helm.sh/docs/chart_best_practices/custom_resource_definitions is that Helm adds special handling for CRDs because some charts have CRDs and CRs at the same time, and separating CRDs from chart can ensure CRDs are always installed first? If I get it correctly, I think we don't have such issue, right? We have some pre-defined CRs (the static Tiers) but we chose to

[2022-04-20 16:44] tnqn commented on #3662
@hwdef thanks for reporting.
@wenyingd @XinShuYang could you check the issue?

[2022-04-21 02:23] wenyingd commented on #3662
Hi @hwdef could you help provide ovs version?

[2022-04-21 02:50] hwdef commented on #3662
ovs version is 2.15.3
download from https://downloads.antrea.io/ovs/ovs-2.15.3-antrea.0-win64.zip
I guess it is a problem with the adaptation of windows server 2022, because I tested it on windows server 2019 and it is no problem.

[2022-04-21 03:11] wenyingd commented on #3662
May I know how did you run the powershell script "install_ovs.ps1"? By running ps script on a ssh connection or on a RDP connection? Please ensure to run it on a RDP (Remote desktop) connection or using console directly. I used to hit similar issues on a ssh connection because the path in the script is possible to be resolved as a wrong path on a ssh connection.

[2022-04-21 03:14] hwdef commented on #3662
yes, I run the powershell on a RDP connection.
The service registration is successful, but it cannot be started

![图片](https://user-images.githubusercontent.com/13084946/164364596-429ad1ff-4a9d-42c9-8215-714843478bf1.png)

[2022-04-21 03:14] hwdef commented on #3662
![图片](https://user-images.githubusercontent.com/13084946/164364689-d6f6823a-0008-4dd8-a9e3-ddb341500ae7.png)

[2022-04-21 03:20] wenyingd commented on #3662
Please help show the result of command "pnputil.exe -e".

Besides, could you try to run this command in powershell directly "C:\openvswitch\usr\sbin\ovsdb-server.exe C:\openvswitch\etc\openvswitch\conf.db -vfile:info --remote=punix:db.sock --remote=ptcp:6640 --log-file --pidfile", and paste the output here

[2022-04-21 03:23] hwdef commented on #3662
[code]

![图片](https://user-images.githubusercontent.com/13084946/164365573-c11a942a-ee5a-49c7-9f92-63804b092259.png)

[2022-04-21 03:29] wenyingd commented on #3662
Please try to re-install OVS first. The steps include:

1. PS> uninstall-OVS.ps1 (download from here: https://github.com/antrea-io/antrea/blob/main/hack/windows/Uninstall-OVS.ps1)
2. PS> rm -r C:/openvswitch

[2022-04-21 03:35] XinShuYang commented on #3662
<img width="811" alt="image" src="https://user-images.githubusercontent.com/25102428/164366914-80df0191-165d-4bdd-97a0-3fbac9aa36e7.png">

[2022-04-21 03:39] hwdef commented on #3662
I followed the instructions above to reinstall once, and it still failed, The error message is the same as before.
Now that you have successfully tested, I think this is a problem with my environment, I will continue to investigate, thank you for your help.
![图片](https://user-images.githubusercontent.com/13084946/164367252-c178b9c0-188b-4d96-a935-999245adcf7c.png)

[2022-04-21 04:27] hangyan commented on #3665
If we follow a strict policy to not add related CR to the templates, the CRD discovery api refresh is not needed in that case. Although i still won't recommend to put the crds in the templates dir, as it's  a unique resource compare to others. remove crds from the normal `helm upgrade` phase is a safe approach. I can think of anther corner case will cause data loss: If there was an incompatible cr

[2022-04-21 04:33] hwdef commented on #3662
![图片](https://user-images.githubusercontent.com/13084946/164372528-6791d752-aa95-48dd-b6e1-c18cc84b96a3.png)

All executables have no output, is this normal?

@wenyingd @XinShuYang