[2020-11-26 16:39] tnqn commented on #1600
@jianjuns @wenyingd do you have any clue for this bug?

[2020-11-27 01:47] wenyingd commented on #1600
@tnqn Shall we confirm from log that Antrea Agent already send OpenFlow to OVS, but OVS doesn't realize it, or Antrea Agent never sends OpenFlow entries?

[2020-11-27 02:10] tnqn commented on #1600
It's the `flow-restore-wait` config, not openflows. OVS won't forward packets until that config is reset. Please check the logs I pasted above, agent log declared it had done it:
[code]
But I can find the config is still there.

[2020-11-27 02:15] wenyingd commented on #1600
So you mean although Antrea Agent has updated ovsdb and doesn't get any error back, but the writing operation doesn't succeed actually?

[2020-11-27 02:21] ceclinux commented on #1599
I can take this issue

[2020-11-27 02:22] tnqn commented on #1599
Thanks @ceclinux, assigned to you.

[2020-11-27 02:24] tnqn commented on #1600
@wenyingd yes.

[2020-11-30 19:11] arunvelayutham commented on #1347
@jianjuns, @marcusschiesser deeply apologies for the delayed response. I was OOO from 20th of November till 29th of November (thanksgiving holidays). We would be able to present our solution by next community meeting.

[2020-12-02 01:15] antoninbas commented on #1555
Something to keep an eye on if we run into any issue / limitation with the VMware Harbor registry: https://aws.amazon.com/about-aws/whats-new/2020/12/announcing-amazon-ecr-public-and-amazon-ecr-public-gallery/

[2020-12-03 00:04] Dyanngg opened #1605 "Implement `sort-by` flag in more antctl resources for more fields"
PR https://github.com/vmware-tanzu/antrea/pull/1530 introduced the `sort-by` flag to the NetworkPolicy resource for `antctl get` command. Currently the only supported value for this flag is `effectivePriority`, which is computed based on the Tier priority and policy priority of each NetworkPolicy.

As pointed out in https://github.com/vmware-tanzu/antrea/pull/1530#discussion_r534534714, since sort

[2020-12-03 05:58] Dyanngg opened #1608 "Flaky Antrea-upgrade tests"
Upgrade tests from N-1/N-2 has been pretty flaky in recent PR pre-check runs (https://github.com/vmware-tanzu/antrea/actions?query=workflow%3A%22Antrea+upgrade%22) as well as for post-checkin runs in ToT.
Specifically, the NetworkPolicy test changed by #1586 has been failing at test/e2e/networkpolicy_test.go#L263.
It appears the NetworkPolicy created before upgrading no longer work properly.
It mi

[2020-12-03 05:59] Dyanngg commented on #1608
/cc @tnqn

[2020-12-03 10:43] liu4480 opened #1609 "add informers for AntreaAgentInfos and AntreaControllerInfos"
**Describe the problem/challenge you have**
I want to monitor AntreaAgentInfos and AntreaControllerInfos to get information about these resources, watch function is not enough since I need to wrap the add/update/delete functions

**Describe the solution you'd like**
add informer for the two resources

**Anything else you would like to add?**

[2020-12-03 10:50] tnqn commented on #1609
Since this is Antrea resources and we already have its clientset code in the repo, I think harmless to generate the informer in the repo for consuming in case each downstream will have to maintain its own copy, even though Antrea itself doesn't use it yet.
@jianjuns @antoninbas do you agree?

[2020-12-03 12:38] tnqn commented on #1608
@Dyanngg Thanks for filing it. I noticed this flake as well after changing the PodSelector from Everything to MatchExpressions, however it recovered that day after I added 2 seconds of latency and I cannot reproduce it even once on local testbeds with or without the sleep.

I checked logs when it failed on CI, the agent received the policy almost at the same time the controller processed the polic

[2020-12-03 19:20] jianjuns commented on #1609
Makes sense to me.

[2020-12-03 19:47] #936 closed

[2020-12-03 21:40] antoninbas commented on #1554
Done

[2020-12-03 21:40] #1554 closed

[2020-12-03 22:57] zyiou opened #1610 "Security support for flow exporter and flow aggregator"
**Describe what you are trying to solve**
to provide security support between flow exporter and collecting process in flow aggregator. The collector (in Flow Aggregator) will work as server and exporters (in Antrea Agent) are the clients to connect to collector.

**Describe the solution you have in mind**
1. Flow Aggregator generates self-signed certificate based on the CA certificate from antrea-

[2020-12-03 22:59] zyiou commented on #1610
Thanks @antoninbas for providing suggestions on the proposal. @srikartati @tnqn @jianjuns Please kindly take a look at the proposal when you have time. All suggestions (especially on certificate generation and client authentication) are welcome. Thanks!

[2020-12-03 23:57] jianjuns commented on #1610
The proposal sounds good to me. I am not sure if people like a separate CA cert for flow aggregator in some cases, but we can start from the Antrea CA cert.

[2020-12-04 07:53] mengdie-song commented on #1609
Same here, we can generate both informers and listers for AntreaAgentInfos and AntreaControllerInfos, so that others can interact with monitoring CRDs without having to generate informers and listers themselves.

[2020-12-04 08:02] tnqn commented on #1609
Thanks @jianjuns @mengdie-song for your inputs.

@liu4480 would you mind creating a PR to add the code you need?

[2020-12-04 09:51] tnqn commented on #1610
@zyiou I have a few questions:
1. Flow aggregator runs as a separate process or inside antrea-controller?
2. Is it possible to generate server certificate with CA certificate only? I think it need the private key of the CA to sign it, however it's not published in antrea-ca.
3. Same question for generating client certificate with CA certificate only. Otherwise the certificate won't secure anything

[2020-12-04 11:22] tnqn commented on #1609
Closed by #1612

[2020-12-04 11:22] #1609 closed

[2020-12-04 11:43] tnqn opened #1613 "Traceflow didn't work when Antrea policy with drop action is created"
**Describe the bug**
After creating a AntreaPolicy with drop action, traceflow will always fail:
[code]
The agent had error logs:
[code]
**To Reproduce**

1. Enable AntreaPolicy
2. Create an Antrea policy with drop action and apply it pods
3. Create a traceflow request, it will always timeout

**Expected**
1. Traceflow should succeed
2. E2E test should be added for the case that traffic is dropped

[2020-12-04 12:21] tnqn opened #1614 "agent crashed when networkpolicystats, antreapolicy, traceflow is used together"
**Describe the bug**
After temporarily applying the fixes of #1599 and #1613, the agent still crashed after I turned on networkpolicystats and antreapolicy and have an Antrea Policy with drop action.
[code]

This is because when there are other flows in metrics tables when traceflow is being executed:
[code]
The current code only excludes the default flow:
https://github.com/vmware-tanzu/antrea/bl

[2020-12-04 12:36] tnqn commented on #1614
I think after we have an e2e test of traceflow with ANP (supposed to be added with #1602 or a following PR), the failure can be caught by the "all-features-on" test.
@weiqiangt since you created the test, could you follow up with it to ensure it's not flaky and then we can make it mandatory and respected?

[2020-12-04 12:44] tnqn opened #1616 "Is there any advantage to having conversion functions for non resources registered to the schema"
Is there any advantage to having conversion functions for non resources registered to the schema? I understand why `Convert_controlplane_AddressGroup_To_v1beta1_AddressGroup` needs to be registered, but it seems conversion functions for non resources will only be called indirectly by other conversion functions. Is it for auto-generated conversion functions?

_Originally posted by @antoninbas in ht

[2020-12-04 14:39] jayunit100 commented on #331
@jianjuns "long term work" ... as in months or years ? :) i think getting off Hyper-v is emerging as a high priority for us .

[2020-12-04 16:04] ruicao93 commented on #331
Hi @jayunit100 , I think the "long term work" means we need to wait OVS remove the dependency to hyper-v. Actually we already have private patches which support it but only be used in VMware product. I'm not sure when the patches could be ported to upstream OVS. Maybe Jianjun know more info about it.

I search the problem, but can find the answer from AWS official doc. It seems only baremetal inst

[2020-12-04 18:57] antoninbas commented on #1610
I believe the plan is to have the aggregator run as a separate Pod, thus without access to the antrea-controller's key.
You're right about the key. It seems that we may have to use a different CA in the aggregator then, and also publish it through a ConfigMap to the Agents. I would prefer to have a single CA, but that seems hard to realize here.
For the Agents, it seems that the simpler solution b

[2020-12-05 00:01] michmike commented on #331
i think we can use our good friends at cloudbase and Alin to help us push the fixes upstream in OVS. do we have anyone from antrea team involved in OVS community that can help here as well?

[2020-12-05 00:11] jianjuns commented on #331
We did talk to Alin, Ben, and Anand on these changes. @wenyingd can update the status. Probably let us discuss offline.

[2020-12-05 00:16] abhiraut commented on #1325
@GraysonWu do you want to update this issue with the latest proposal, so anyone checking out this issue knows what is being implemented. Thanks!

[2020-12-06 05:31] gitnote-images opened #1620 "how to config not k8s node host visit k8s podip"
**Describe what you are trying to do**
A description of what you are trying to achieve, what you have tried so far and the issues you are facing.
I want to not k8s visit k8s podip，Realize network interoperability.

[2020-12-07 02:02] ruicao93 opened #1621 "Antrea Generic Operator"
**Describe what you are trying to solve**
Currently we're working on the implementation of Antrea Operator for OpenShift4 platform #1068 .

To make the operator can run on more platforms, we need changes based on current design.

**Describe the solution you have in mind**
Update the current design to support more platforms. Below is a draft disgn doc:
https://docs.google.com/document/d/1gSih9_B_2X

[2020-12-07 14:19] jayunit100 commented on #331
lets sync about this at the antrea community meeting this wk, and then ill update this issue with details afterwards.    Im also going to talk to @yasensim on wednseday

[2020-12-07 19:20] GraysonWu commented on #1325
The latest proposal is as followed:
[code]
`endPort` defines the end of the port range, being the end included within the range. It's an optional field that can only be set when a numerical `port` is set.

[2020-12-07 20:11] antoninbas commented on #1620
Sorry I am not sure what "not k8s visit k8s podip" mean. This is also not enough information for a support or feature request issue.

Please feel free to re-open the issue if you can clarify your question and provide more detailed information.

[2020-12-07 20:11] #1620 closed

[2020-12-07 21:50] antoninbas opened #1627 "Should AntreaProxy support ExternalIPs for ClusterIP Services?"
**Describe the problem/challenge you have**
ClusterIP Services can be "assigned" ExternalIPs: https://kubernetes.io/docs/concepts/services-networking/service/#external-ips
I believe that at the moment AntreaProxy does not handle ExternaIPs.

When creating the following Service:
[code]
The following flows are present in the bridge:
[code]
We can see a flow for `10.104.121.92` (ClusterIP assigned to

[2020-12-08 03:11] #989 closed

[2020-12-08 06:30] #1546 closed

[2020-12-08 06:58] vicky-liu commented on #331
Alin didnt want to merge the private patches into OVS upstream to disable hyper-v because he is working on a new implementation on v2 HCN API. Let me check the progress and update here.

[2020-12-08 16:28] tnqn commented on #1610
Yes @antoninbas if we want to follow the same model of antrea-controller's cert, maybe we could reuse the code to generate self-signed cert / read user-provided secret by parameterizing the CA configmap name and secret name.

For agent verification, does go-ipfix support token authentication? I saw the endpoint was TCP or UDP, not HTTP, not sure if it's easy to delegate authentication like antrea-

[2020-12-08 17:18] anfernee opened #1632 "Support noEncap mode on Windows"
**Describe the problem/challenge you have**
Running antrea-agent with option `TrafficEncapMode: NoEncap` will fail with the error:

[code]

**Describe the solution you'd like**
NoEncap mode also works on windows

**Anything else you would like to add?**
This gives the feature parity to Linux nodes. It will be useful for customers that don't like the performance penalty of an additional tunnel, as

[2020-12-08 19:35] antoninbas commented on #1610
You're right. I had the apiserver-network-proxy in mind, but that's using gRPC, which is over HTTP and they have a mechanism to pass tokens. So we need a way to distribute certificate and key to clients (the Antrea Agent) for authentication. Maybe the aggregator can create a K8s TLS secret which can be consumed by the agents. I think we can use the same secret for all agents, and use the same CA f

[2020-12-09 04:00] suwang48404 opened #1635 "Agent NetworkPolicyController reconciler to update egress rule ignores IP block"
**Describe the bug**
In agent networkpolicy reconciler, if initial egress rule add to open flow fails, maybe because ovs is not ready, and if the egress rule contains dst IPBlock, the update method during retry does not add dst IP block to open flow rules.

**Expected**
ovs flows should eventually converge and have IP block rule installed.

**Actual behavior**
ovs flows rules are missing ip block

[2020-12-09 08:38] srikartati opened #1637 "Exporting flows over a time interval in Flow Exporter and Flow Aggregator"
**Describe what you are trying to solve**
Currently, all flows get exported at once simultaneously based on the `exportFrequency` parameter at Agent as part of the FlowExporter feature.
This is not ideal as everything gets exported at one burst and there can issues at the external IPFIX collector when handling bursty traffic.
More context is provided in [this comment](https://github.com/vmware-tan

[2020-12-09 18:41] abhiraut opened #1638 "Support endPort field for K8s NetworkPolicies"
**Describe the problem/challenge you have**
K8s NetworkPolicies in the coming releases will have an `endPort` field in `Ports` to specify a range of ports.

**Describe the solution you'd like**
Implement the `endPort` field in Antrea for K8s NetworkPolicies in similar fashion to how they are implemented with Antrea-native policies.

[2020-12-09 18:45] abhiraut commented on #1638
expected alpha in v1.21. xref https://github.com/kubernetes/enhancements/pull/2090

[2020-12-09 20:12] antoninbas commented on #1608
I'm running into this issue a lot as well. Seems to happen more than 50% of the time

[2020-12-09 22:25] abhiraut opened #1642 "Antrea-native policies: Update podSelector semantics in ACNP"
**Describe what you are trying to solve**
Users want to reduce the management overhead of security policies by writing succinct Antrea-native policies. For example, a namespace isolation policy for the entire cluster (inter-ns deny, intra-ns allow), currently users must create a default-allow policy per Namespace instead of a single Cluster scoped policy. This is due to the fact that the ACNP is n

[2020-12-10 02:15] #1599 closed

[2020-12-10 14:43] weiqiangt commented on #1614
Sure, I will handle it.

[2020-12-10 15:42] perithompson opened #1644 "Windows Agent failing on NSX-T network"
**Describe the bug**
When running Antrea on a windows cluster on Vsphere with NSX-T I am seeing the following error.  I have run the Clean and Prepare scripts.  It seems to create the `br-int` correctly but then deletes it before this error is shown

[code]

**To Reproduce**
Create a Windows Hybrid Cluster on Vsphere with NSX-T Networking configured

**Expected**
Antrea agent should initialise HNS

[2020-12-10 15:53] perithompson opened #1645 "Run Windows antrea-agent without Hyper-V"
**Describe the problem/challenge you have**
HyperV cannot run on VMs where Nested Virtualisation is disabled and Public cloud providers only offer limited support for this scenario.  Having the ability to run Antrea on any windows node, regardless of the Platform is essential for wide adoption and in order for that to be true Antrea needs to be able to run without the Hyper-V dependency.

**Descri

[2020-12-10 16:30] tnqn commented on #1608
After digging into the problem, I think the failure was caused by netdev datapath implementation bug:
Some dp flow cache were not flushed after installing new flows that drop new connections. For example:

Before installing drop flows, 10.10.1.43 can connect 10.10.2.44
[code]

After installing drop flows, the corresponding dp flows were not flushed:
[code]

Then 10.10.1.43 can still connect 10.10.

[2020-12-10 17:04] jayunit100 commented on #331
thanks , this is actually a blocker for us now so, anything we can do to help please let us know !

[2020-12-10 17:18] jayunit100 commented on #1645
xref, part of #331 @yasensim @ruicao93 @wenyingd

[2020-12-10 17:35] yasensim commented on #1645
Thanks for reporting this @perithompson and @jayunit100 . We plan to remove the dependency on Hyper-V. I will come back here when we have more clarity on timeline.

[2020-12-10 17:39] srikartati commented on #1608
Hi @tnqn, Is this with geneve tunnel? From ./ci/kind/test-upgrade-antrea.sh it seems so.
If the tunnel is geneve, this might be the same issue as https://github.com/vmware-tanzu/antrea/issues/897

[2020-12-10 19:21] antoninbas commented on #1608
@tnqn yes that does seem like a duplicate of #897 and only affects Geneve tunnels. We already reached out to the OVS team a while ago with steps to reproduce it without K8s / Antrea, but they haven't got back to us with a fix. Once #1643 is closed, we can close this issue in favor of #897

[2020-12-11 02:14] tnqn commented on #1608
Thanks @srikartati and @antoninbas for the information! After looking at the symptom of #897, I think it's same issue.

[2020-12-11 02:15] antoninbas commented on #897
It seems a patch was submitted upstream: https://www.mail-archive.com/ovs-dev@openvswitch.org/msg49689.html. We can pick it up in Antrea after it's merged.

[2020-12-11 02:44] #1608 closed

[2020-12-11 05:01] tnqn opened #1652 "Kernel version requirement in getting started doc out of date as AntreaProxy is now enabled by default"
**Describe the bug**
The [doc](https://github.com/vmware-tanzu/antrea/blob/master/docs/getting-started.md#ensuring-requirements-are-satisfied) says:

However, since 0.11, AntreaProxy has been enabled by default and it requires kernel >=4.6: https://github.com/vmware-tanzu/antrea/blob/master/docs/feature-gates.md#requirements-for-this-feature.

This caused users met connectivity issues as the pipel

[2020-12-11 06:17] weiqiangt commented on #1652
Could we detect kernel version when an agent is starting, and force disable Antrea proxy if the kernel not meets the requirements? maybe also print a warning to the log if there is a downgrade.

[2020-12-11 06:58] tnqn commented on #1652
User may compile newer OVS kernel modules on kernel 4.4 so detecting kernel version is not accurate. We should check whether the OVS in-use has capabilities required by current featureset or not.

But I think force disabling automatically will cause confusing when it's turned on by user. I would prefer exiting the problem with clear error message. Do we miss some error handling when initializing t

[2020-12-11 10:49] lzhecheng opened #1658 ""Verify docs and spelling" is failing"
**Describe the bug**
I saw several PRs fail at "Verify docs and spelling". They don't seem to touch related files.

**To Reproduce**
Created a PR.

[2020-12-11 18:47] abhiraut commented on #1658
could you link some of the failures and your PR?

[2020-12-11 19:13] jayunit100 opened #1659 "Antrea CNI not cleaned up after deletion"
**Describe the bug**

Kubelet seems to still want to use antrea as its CNI provider, even after antrea is removed:
[code]

**To Reproduce**

Uninstall antrea and then attempt to install a different CNI provider.  Containers will land on nodes (nodes continue to be marked as schedulable) even though theres no cni.sock.

**Expected**

After the antrea cni is gone, the kubelet would no longer be awar

[2020-12-11 19:33] antoninbas commented on #1658
@tnqn reported the issue to me yesterday (https://github.com/vmware-tanzu/antrea/pull/1643#issuecomment-742923719)

it was because this CI jobs checks for dead links in the documentation by trying to access them directly. https://asciinema.org/ was down yesterday, but it is no longer down now, sop this issue can be closed. To avoid blocking PRs, I had made the CI check optional yesterday. I will n

[2020-12-11 19:33] #1658 closed

[2020-12-11 19:37] antoninbas commented on #1659
This is a duplicate of https://github.com/vmware-tanzu/antrea/issues/181, so I will close this issue.
We are aware of this. This is an issue which is common to most (all?) CNIs AFAIK. I do not believe there is a good way to automate this cleanup when you delete Antrea K8s resources. However, we could and should provide a mechanism for cleanup, like other CNIs do, e.g. in the form of a K8s Job.

[2020-12-11 19:37] #1659 closed

[2020-12-12 06:02] #1438 closed

[2020-12-13 04:34] inforly commented on #1516
@antoninbas do you know if the Photon OS have a plan to add the missing module? Or do we have some workaround? Could users add it manually?

[2020-12-13 04:42] ruicao93 commented on #1644
Thanks Peri for your report.

The antrea-agent failed to startup because the NetIPAddress on br-int may not exist but antrea always try to remove the NetIpAddress. If the address not exist, the removal operation will fail.

Created a patch: https://github.com/vmware-tanzu/antrea/pull/1660 for the issue.

[2020-12-14 07:03] lzhecheng commented on #1658
Now, https://asciinema.org/ has "Internal Server Error" issue again and this check is failing...

[2020-12-14 14:55] tnqn commented on #1658
It has recovered again...

[2020-12-14 19:32] antoninbas commented on #1516
@inforly I believe the Photon team intends to enable IFB in the kernel, but it seems that it hasn't been done yet. Maybe you could reach out to them directly on Github?

I am not Photon expert, but I believe you can modify the config file and build your own kernel.

[2020-12-14 19:50] antoninbas opened #1663 "Remove dependency on the `juju/errors` module"
Antrea currently has an indirect dependency on `juju/errors`. This is because Antrea uses `github.com/benmoss/go-powershell` for the Windows Agent implementation, which in turn uses `juju/errors`. However, the `juju` modules are licensed under LGPL v3. According to our [policy](https://github.com/vmware-tanzu/antrea/blob/master/ci/golicense/README.md), we should avoid dependencies with this licens

[2020-12-15 00:10] #235 closed

[2020-12-15 00:10] #50 closed

[2020-12-15 00:10] #34 closed

[2020-12-15 00:10] #9 closed

[2020-12-15 00:10] #10 closed

[2020-12-15 01:11] inforly commented on #1516
Got it, thank you very much！

[2020-12-15 16:48] ruicao93 commented on #1581
Create an issue for containerd because we need to let containerd team help to measure the workfow changes for Windows from Docker to containerd.

https://github.com/containerd/containerd/issues/4851

[2020-12-15 16:55] ruicao93 commented on #1581
Open an issue in hcsshim repo to request for help about how to create VNIC in container. https://github.com/microsoft/hcsshim/issues/911

[2020-12-15 18:33] #1644 closed

[2020-12-16 00:09] #16 closed

[2020-12-16 00:09] #19 closed

[2020-12-17 10:03] ceclinux opened #1669 "Support rule stats in NetworkPolicy(Also in ANP, ACNP)"
**Describe what you are trying to solve**
This proposal is to give a separate view of Networkpolicy(Also ANP, ACNP) statistical data, group by different `ingress` or `egress` rules. The separated Networkpolicy statistical data can be obtained via  `kubectl get TheNetworkStatsYouWantToInspect -o json` or `kubectl get TheNetworkStatsYouWantToInspect -o yaml`, and other possible output supported in `

[2020-12-17 12:48] tnqn commented on #1613
Fixed by https://github.com/vmware-tanzu/antrea/pull/1602

[2020-12-17 12:48] #1613 closed

[2020-12-17 12:48] tnqn commented on #1614
Fixed by #1615

[2020-12-17 12:48] #1614 closed

[2020-12-17 14:58] tnqn commented on #1652
It seems there is a problem in the ofnet transaction implementation that it ignores the error reply to the ONFT_BUNDLE_ADD_MESSAGE message.
The ovs-vswitchd log:
[code]

The antrea-agent log:
[code]

The code is here: https://github.com/wenyingd/ofnet/blob/6fd225d8c8d1e2b7ae48e0ec852609cd92961a42/ofctrl/ofSwitch.go#L353-L357

Need to look into ofnet implementation to see how it's ignored.

Besides

[2020-12-17 15:54] shapirov103 commented on #867
@jianjuns Any updates on this? Maybe specific benefits that could open up in this mode, such as for example multi-cast support within the network (e.g with overlay).

[2020-12-17 18:04] jianjuns commented on #867
@shapirov103 : unfortunately not much progress yet. You know the key is an IPAM solution, as EKS cannot enable K8s NodeIPAM. We looked at the easiest solution of leverage K8s NodeIPAMController code to allocate a single subnet per Node, but we like to see if we cover other IPAM use cases (like allocating small subnets on demand, subnets per Namespace) with a single solution, and so did not proceed

[2020-12-17 18:59] antoninbas commented on #1652
@tnqn I think your original comment about the docs being out-of-date now that AntreaProxy is enabled by default still holds.

This would imply that when using "default" Antrea, the required kernel version is 4.4, when it is actually 4.6

[2020-12-17 21:54] #1327 closed

[2020-12-18 03:49] tnqn commented on #1669
@ceclinux Thanks for the proposal. My comments as below:
1. We have rule Name but not RuleID in the context of CRD, so it doesn't need to be in the API.
2. I would keep the policy level stats for now to keep backwards compatibility. Removing it or not can be discussed later after we have rule level stats.

[2020-12-18 05:10] antoninbas commented on #1555
All "user-facing" images (antrea/antrea-ubuntu, antrea/antrea-windows, antrea/octant-antrea-ubuntu) are now pulled from projects.registry.vmware.com, and the YAML manifests have been updated.

Keeping this issue open as we are still pulling images from Dockerhub as part of the build process, so devs may run into rate-limiting issues when building. Github Actions CI jobs are not affected at this st

[2020-12-18 05:13] antoninbas commented on #1545
Moving it to v0.13.0 milestone as agreed

[2020-12-18 05:20] tnqn opened #1673 "Openflow networkpolicy interfaces should be atomic to avoid inconsistency and potential incorrect behavior"
_Originally posted by @tnqn in https://github.com/vmware-tanzu/antrea/issues/1667#issuecomment-747872955_

@antoninbas I agree that making the `BatchInstallPolicyRuleFlows` method atomical would be the best. However I am not super familiar with that code either. It would take some time for me to figure out how to achieve it, and guess it's not a simple change. @Dyanngg might comment.

This patch f

[2020-12-18 05:24] gitnote-images commented on #1620
for example：http://code2life.top/2019/04/15/0037-k8s-tunnel/

[2020-12-18 05:27] ZhangYW18 opened #1674 "E2E Test Case `TestNetworkPolicyStats` Failed on Photon 3, K8S v1.17.5 case"
[Matrix compatibility test job](https://jenkins.antrea-ci.rocks/job/antrea-weekly-matrix-compatibility-test/) runs weekly, and the E2E test running under Photon 3 and Kubernetes v1.17.5 fails on `TestPodTrafficShaping` test case in the most recent week (tested 2020.12.12):

[code]

One thing to note, this test passed in Photon 3.0, Kubernetes v1.18.2 case.

[2020-12-18 05:39] tnqn commented on #1620
@gitnote-images the article is in chinese so it would be hard for @antoninbas to understand. I can probably try to understand your question. Do you mean you want to access the Pod IPs directly from external network? If yes, that's doable with Antrea but firstly you will need to manage your physical network to route packets to corresponding nodes properly, or use cloud provider to manage the routes

[2020-12-18 05:42] tnqn commented on #1620
BTW, the first approach in your article works on Antrea too, the second approach is similar to I mentioned above.

[2020-12-18 06:10] ZhangYW18 commented on #1674
Test it again and this test passes.

[2020-12-18 06:10] #1674 closed

[2020-12-18 06:19] jianjuns commented on #867
@shapirov103 : since you mentioned overlay, we like to understand do you expect the traffic are encapsulated across Nodes? I am asking because there is another possibility that Antrea does not encapsulate the traffic, but let VPC router route the traffic across Nodes. We call this mode noEncap mode in Antrea, and it requires to add the Nodes' Pod CIDRs to the VPC routing table (by K8s AWS Cloud Pr

[2020-12-18 06:50] ceclinux commented on #1669
Thank you for your comment.

1.  Sounds reasonable, I will remove RuleID
2. Maybe my description is not clear enough, I will make policy level stats in API level untouched. My plan is to modify or remove the policy level stats calculation in the internal functions and aggregates them later from the policy-rule level .

[2020-12-18 07:03] antoninbas opened #1675 "Use inclusive terminology in Antrea"
A lot of open-source projects and organizations are now opting to ban non-inclusive terms: master/slave, whitelist/blacklist, etc.

- The [Inclusive Naming Initiative](https://inclusivenaming.org/) launched recently, with members such as the Linux Foundation, the CNCF and VMware. Several [related projects](https://inclusivenaming.org/related-projects/) have also come into existence.

- VMware has

[2020-12-18 19:49] siddhant94 commented on #628
hey @antoninbas , is this still in pipeline for implementation?
If yes and if @agiannif has not already started on this, I would like to try work on this.

[2020-12-18 20:03] agiannif commented on #628
Hey @siddhant94, I had to drop this. Feel free to take it up!

[2020-12-21 02:02] ruicao93 commented on #1632
Thanks Yongkun for your report. NoEncap mode support on Windows is indeed high priority.

We're working on that but is blocked by an OVS issue: https://github.com/openvswitch/ovs-issues/issues/197

Will address the issue soon with OVS team.

[2020-12-21 04:14] ruicao93 opened #1679 "Windows Containerd Support short-term proposal"
**Describe what you are trying to solve**
Windows Containerd Support short-term proposal.

We met two blocking issues which make antrea-agent cannot work with Windows ContainerD.

- [[Windows][Blocker] Windows CNI plugin has no chance to create and configure container VNIC](https://github.com/containerd/containerd/issues/4851)
- [[Windows] Containerd should support Pod hostNetwork mode like Docker

[2020-12-21 04:22] ruicao93 opened #1680 "Windows Containerd Support long-term proposal"
**Describe what you are trying to solve**
Windows Containerd Support long-term proposal.

We met two blocking issues which make antrea-agent cannot work with Windows ContainerD.

- [[Windows][Blocker] Windows CNI plugin has no chance to create and configure container VNIC](https://github.com/containerd/containerd/issues/4851)
- [[Windows] Containerd should support Pod hostNetwork mode like Docker

[2020-12-21 18:01] anfernee commented on #1632
Thanks @ruicao93  Do you have a rough estimation when it can be done?

[2020-12-21 18:28] #1635 closed

[2020-12-21 19:47] #1325 closed

[2020-12-22 08:58] tnqn commented on #1652
@lhongliang-vmware could you help with this issue? I think we could do two things to improve:
1. Update the getting started doc about the required kernel version as @antoninbas suggested.
2. Figure out why bundle error was not caught and failed the initialization and fix it, so that user can be aware of that and choose to upgrade the kernel or disable some feature.

[2020-12-22 18:24] anfernee opened #1684 "Antrea-agent supports specifying apiserver endpoint"
**Describe the problem/challenge you have**
`antrea-agent` currently doesn't allow to specify apiserver. It always uses the first service clusterIP (10.96.0.1) as apiserver. One less configuration option is good, but it also requires `kube-proxy` to be running before `antrea-agent` could be started. Also a kube-proxy failure will also cause the failure of cluster networking and network policy, whi

[2020-12-22 20:09] antoninbas opened #1685 "When configuring the Antrea gateway IP address, stale addresses should be removed"
**Describe what you are trying to solve**
We sometimes run into a situation where the antrea-gw0 interface is assigned multiple IP addresses, which creates issues when the Agent configures routes and leads to connectivity issues.

My understanding is that this can happen if a Node joins a cluster, leaves it, then join the cluster again (or a different one) later one. In this case, the Node can be

[2020-12-22 20:09] antoninbas commented on #1685
/cc @tnqn @lzhecheng

[2020-12-23 01:53] gran-vmv commented on #1092
This issue should be covered by PR #1361

[2020-12-23 01:53] #1092 closed

[2020-12-23 03:51] leonstack opened #1691 "Can pod use ovs internal port instead of veth pair device？"
For now the ovs bridge and the pod's network namespace are connected by veth pair device, but the performance of veth pair device is a bit low than ovs internal port, perhaps we can use ovs internal port attach to pod's network namespace directly.

Because of kubelet(GetPodIPs need hard code name 'eth0' in pod's network namespace ), and the ovs internal port doesn't support rename very well, we ca

[2020-12-23 04:57] antoninbas opened #1692 "Introduce usage reporting (aka telemetry) in Antrea"
**Describe what you are trying to solve**
As Project Antrea matures and we make our way towards a v1.0 release, it would be good to have a way to collect statistics about how Antrea is used in practice, and use these statistics to make informed decisions. These are some important questions for which we don't have much data today:
* which features are the most widely used and should be prioritized?

[2020-12-23 07:52] tnqn commented on #1684
Hi @anfernee, thanks for the proposal.

Your point about the cons of relying on kube-proxy makes sense to me. And Antrea currently supports ClusterIP service via OVS and will support NodePort via OVS in near future, by when running kube-proxy will be optional. So an option to specify the kube apiserver endpoint directly will definitely be needed.

BTW, Antrea doesn't always use the first service c

[2020-12-23 21:13] antoninbas commented on #1691
Hi @leonstack, thanks for your suggestion.
I would be interested in knowing more about the proposed implementation:
* I may be misunderstanding, but it seems your proposal would entail having 2 interfaces (the dummy eth0 one and the internal port one) in the same network namespace with the same IP address, and I am not sure how that would work.
* You say that "the ovs internal port doesn't support

[2020-12-23 21:16] antoninbas commented on #1562
This test is failing very frequently now. Any update on a possible fix?

[2020-12-24 01:35] ruicao93 commented on #1562
Thanks for your report. I will take a look.

[2020-12-24 02:37] leonstack commented on #1691
hi @antoninbas , thanks for your reply!

- Yes, I created the dummy eth0 with same IP, but its status is down, so it won't create any packet for transmission, only used for kubelet's GetPodIPs function(nsenter --net=/var/run/netns/<pod-net-ns> ip -o -4 addr show dev eth0 scope global)
- There are so many pods that we need create several internal ports in br-int with different names, then we set th

[2020-12-24 02:43] leonstack commented on #1691
@antoninbas  In OpenStack community, the virtual router/network/loadbalancer‘s network namespaces are attached into ovs bridge with internal port, but they don't need to be renamed to 'eth0', so it worked fine. But for pods..seems almost all
of cni plugins use veth pair devices, no matter linux bridge or ovs bridge :-(

[2020-12-24 10:44] gitnote-images commented on #1620
Yes,You are right,can you write a demo?thanks

[2020-12-24 11:31] ruicao93 commented on #1562
The test on windows is slow, it migh be the root cause. I will double confirm it.

[2020-12-28 14:54] jayunit100 commented on #883
- the windows tutoiral we have could be rebranded as an antrea-the-hard-way tutorial.
- for linux, i think we could do something similar

[2020-12-30 14:30] wiperpaul opened #1706 "flowaggregator (aggregatorTransportProtocol)"
**Describe the bug**
In the flow-aggregator configmap

The `aggregatorTransportProtocol:` option causes an error when set to either udp or tcp.  The error in `kubectl describe` response is abstract, but an indication of the issue shows in the output of `kuebctl logs` as shown below.

When the configuration option is left as default (commented) the pod starts fine and uses tcp.

**To Reproduce**
St

[2020-12-31 15:52] wiperpaul opened #1707 "flowaggregator (elk-flow-collector) Can't Decode Flowset"
**Decode FlowAggregator NF output into logstash Failed**

I have been struggling to implement the newest feature addition of the Flow Aggregator Service, one of the main reasons I decided to implement this immediately is because it seems to improve resource usage when compared to sending the Flow Collector results straight to logstash.

I can confirm that Flow Aggregator seems to be working and is

[2020-12-31 15:54] wiperpaul commented on #1707
I attempted to fix this issue by adding the entries 120-135, but I still seemed to get the same error, not sure if this is an error on my side.

Here it is
[code]

[2021-01-01 02:49] srikartati commented on #1706
@wiperpaul Thanks for trying this feature.
Indeed there is a bug [here](https://github.com/vmware-tanzu/antrea/blob/master/cmd/flow-aggregator/options.go#L128) that makes flow aggregator expect protocol in capital cases. This bug will be fixed soon. Please use "TCP" or "UDP" as a workaround meanwhile.

[2021-01-01 05:12] srikartati commented on #1707
@wiperpaul Please make sure elk-flow-collector is deployed using the latest v0.12.0 branch. You are right the new fields that are required seem to be missing and need to be added. Strange that it is still not working.

Tagging @zyiou, who may have tried this with the flow aggregator feature. I will also give it a shot from my end.

[2021-01-02 07:42] zyiou commented on #1707
@wiperpaul Thanks for pointing out the issue.
We will need to update the new fields for `ipfix.yml` and `kibana.ndjson`. `ipfix.yml` is correct in your current change. For the time being, to use Kibana dashboard correctly, after uploading the ndjson file, just click refresh button in the flow-* index pattern page like below:
![Screen Shot 2021-01-01 at 11 36 42 PM](https://user-images.githubuserco

[2021-01-04 19:45] antoninbas opened #1710 "`make codegen` is no longer working"
**Describe the bug**
Invoking the command will fail with:
[code]

This is causing the `Check code generation` job in the `Go` workflow to fail.

**To Reproduce**
Run `make codegen` locally.

**Additional context**
The following code:
https://github.com/vmware-tanzu/antrea/blob/c91d6ee5c6482dd9cf65f90adbba2494381c264b/hack/update-codegen-dockerized.sh#L148-L154

may run 2 git processes simultaneous

[2021-01-04 20:00] antoninbas commented on #1562
@ruicao93 I have seen the test fail on Linux as well. For example, see https://github.com/vmware-tanzu/antrea/runs/1593012375?check_suite_focus=true

[2021-01-04 20:48] rhenwood-arm commented on #450
I've chatted to @ppouliot - and I believe these platforms do include Armv7 (aka AArch32) hardware support - so they could be the perfect fit.

@antoninbas are you blocked in other places with your Arm enablement?

[2021-01-04 21:05] #1710 closed

[2021-01-05 00:35] antoninbas commented on #450
@ppouliot @rhenwood-arm thanks for sharing this. I don't see any mention of Armv7 / AArch32 though. Am I missing something?

[2021-01-05 02:27] rhenwood-arm commented on #450
@antoninbas : yes, in discussion with @ppouliot he has advised that the Arm hardware behind the OSUOSL cluster includes hardware support for AArch32. I thought this would be easy to verify by looking up spec sheets etc - but after 30 minutes of clicking around and reading specifications, the best I got was: OSUOSL cluster hardware Ampere eMag. Ampere eMag is an Armv8.0-A platform. Armv8.0 specific

[2021-01-05 02:28] #889 closed

[2021-01-05 18:22] anfernee commented on #1684
Thanks for the reply @tnqn. Are you saying there is no need to use `--master` to overwrite it? Then there is nothing to be done here because the following snippet already supports it. We might need to deprecated in-cluster support, because it always inject the service vip. Not to use `--master` sounds like a correct idea. It's kinda hacky, and `kube-proxy` is going to deprecate it as well.

https:

[2021-01-05 20:24] antoninbas opened #1715 "Rename Antrea APIs from *.antrea.tanzu.vmware.com to *.antrea.io"
**Describe what you are trying to solve**
Recently, the topic of renaming Antrea APIs from `*.antrea.tanzu.vmware.com` to `*.antrea.io` has come up a few times, including at the 01/04/2021 community meeting. This is something we would like to do before we promote Antrea to v1.0.

As far a I can tell, the main reasons for renaming the APIs:
* shorter names
* match the Antrea website
* remove VMware

[2021-01-05 21:15] siddhant94 commented on #628
hey @antoninbas ,apologies for the delay. For the implementation part, I kept track of all rules that are applied in RouteClient while initialization. As part of initialization,I have added a sync loop, a goroutine which given a specified interval runs a check for every rule we have bookmarked in init iptables phase.
The above check is run using go-iptables' [Exists() method](https://github.com/co

[2021-01-05 22:37] abhiraut commented on #1319
PR addressing this issue was merged and released with Antrea 0.11

[2021-01-05 22:37] #1319 closed

[2021-01-05 22:38] abhiraut commented on #597
thanks @jayunit100 .. this is now moved upstream

[2021-01-05 22:38] #597 closed

[2021-01-05 22:41] abhiraut commented on #927
Fixed by #1301

[2021-01-05 22:41] #927 closed

[2021-01-05 22:42] abhiraut commented on #1007
Feature merged and released with v0.11

[2021-01-05 22:42] #1007 closed

[2021-01-05 23:38] antoninbas commented on #628
@siddhant94 I don't think you want to use `Exists()` for every single rule, especially if each call takes the iptables lock. I would recommend the same approach as the kube-proxy iptables proxier instead: https://github.com/kubernetes/kubernetes/blob/v1.18.2/pkg/proxy/iptables/proxier.go#L1543. I believe they re-build the set of rules and use one iptables restore call.

[2021-01-06 07:52] tnqn commented on #1684
@anfernee Sorry I was not clear. I suggested not to use CLI option `--master` just because Antrea doesn't have many CLI options like kube-proxy but takes most configurations from config file. I still like the idea of having a separate config option to override the address of the Kubernetes API server regardless the client is initialized via in-cluster discovery or kubeconfig file. Pretty like `--m

[2021-01-06 16:22] wiperpaul commented on #1707
Updating the field list like you showed worked well, thanks.

As for the other issue it cleared up after a fresh install.

I will leave this open until the `ipfix.yml` is updated.

[2021-01-06 16:31] anfernee commented on #1684
I see. You mean using config file, not options. also with a better name. I agree. I could send out a PR.

[2021-01-06 16:51] tnqn commented on #1684
Thanks @anfernee!

[2021-01-07 07:17] tnqn commented on #1562
Agree @antoninbas this is not specific to windows, and not really because of the timeout. I can reproduce the failure on linux even extending the timeout to 10 seconds. It should be some race condition causing event missed.

[2021-01-07 23:58] #1562 closed

[2021-01-08 00:25] #223 closed

[2021-01-08 05:07] jianjuns commented on #1715
Would we consider to consolidate all CRDs to a single API group - in my mind either directly under antrea.io or crd.antrea.io? Feel it is easier for users to remember and consume.

[2021-01-08 22:02] antoninbas commented on #1715
I like `crd.antrea.io`. It does mean we would have to change how we do versioning for CRDs. Today, we mostly treat all CRDs in one API group as a block, and when we introduce a new version for the API group, we promote all of them to the new version. If all CRDs are under `crd.antrea.io`, we will need to version individual CRDs and promote them individually. But I think that it is consistent with

[2021-01-08 22:49] antoninbas opened #1725 "Release Antrea v1.0"
At the 01/04 community meeting, we started the discussing the possibility of promoting Antrea to v1.0 in early 2021 (v0.14 timeframe?).

I propose that we use this issue to discuss, list and document the tasks that we believe are required before we can release Antrea v1.0. I will start a list, but I expect it to evolve over time based on discussions below, at meetings and on Slack. If we do intend

[2021-01-09 00:27] #1384 closed

[2021-01-09 03:25] siddhant94 commented on #628
@antoninbas Should iptables restore be called everytime sync runs? Or we do it only if we find a rule missing? And also, what do you think should be the sync period?

fyi, kube-proxy does it via iptables restore in [`fn syncProxyRules()`](https://github.com/kubernetes/kubernetes/blob/v1.18.2/pkg/proxy/iptables/proxier.go#L775)(as you mentioned), whereas kubelet checks/ensures every rule individual

[2021-01-09 09:24] alex-vmw opened #1728 "Node looses connectivity to all other nodes via antrea interface"
**Describe the bug**
Node looses connectivity to all other nodes via antrea interface.

**To Reproduce**
Unknown

**Expected**
Other nodes should always be accessible via antrea interface for pod-to-pod communication to work.

**Actual behavior**
Node looses connectivity to all other nodes via antrea interface.

For example, here are the routes to other nodes in the cluster:
[code]

And NONE of th

[2021-01-10 23:54] antoninbas commented on #1728
Confirmed duplicate of https://github.com/vmware-tanzu/antrea/issues/1600

[2021-01-10 23:54] #1728 closed

[2021-01-11 12:10] tnqn commented on #1600
I have tried several ways to reproduce it but none has succeeded, pasting my methods in case anyone wants to try:
1. Repeat setting and deleting the config and check its value until it's not desired:
[code]
It has run more than 100,000 rounds but hasn't reproduced yet.

2. Repeat restarting antrea-agent until the config value is undesired:
[code]
The program to monitor the result and restart antre

[2021-01-11 12:21] tnqn commented on #1600
I also took a look at the OVSDB golang lib, nothing is suspicious so far. The call is considered success only if a response has been received and no error is seen in members of the "result" field.

[2021-01-12 02:55] antoninbas commented on #628
I wasn't aware of the kubelet code. I think for a small number of rules, either approach can work fine. It seems that the current implementation of `initIPTables` in Antrea uses a mix of `iptables-restore` (whenever possible) and `EnsureRule` (as a fallback for link Antrea-specific chains with default chains, and avoid overriding rules not managed by Antrea).
Based on existing comments, it seems t

[2021-01-12 14:38] perithompson opened #1737 "When setting up on containerd windows node, we hit no-flood error"
**Describe the bug**
When setting up on containerd windows node, we hit no-flood error

[2021-01-12 14:42] perithompson commented on #1737
I have uploaded the logs to https://gist.github.com/perithompson/f2504b58f7ffddcfdf3c9bd5290c462e this issue relates to version compiled by @ruicao93

[2021-01-12 15:38] ruicao93 commented on #1737
Found following infos from logs. Will try to repro tomorrow.

[code]

[2021-01-12 18:46] abhiraut commented on #1715
@suwang48404 you should probably keep a tab on this item

[2021-01-12 20:58] jayunit100 commented on #331
FWIW, we do have hyper-vless branches we can use now, but we just dont have them in a production ready context.  @ruicao93 has details.

[2021-01-12 23:53] antoninbas commented on #1652
@hongliangl - tagging you as I think Quan used the wrong Github id. Could you take care of this? We should update the documentation before the 0.13 release.

[2021-01-13 00:56] mhoshi-vm opened #1739 "Redirect logs to stdout/stderr based on log severity"
**Describe the problem/challenge you have**
We are trying to implement log monitoring, but there seems to be a problem with the antrea-agent pod, which all logs are streamed to stderr instead of stdout . Through out the cluster this is the only pod doing so and is producing a lot of noise to the monitoring logic.
For example, this is parts from my envs /var/log/containers/antrea-agent-5cdq2_kube-s

[2021-01-13 00:58] #1447 closed

[2021-01-13 01:13] antoninbas opened #1740 "Replace hack/netpol/ with new upstream NetworkPolicy test suite"
The netpol test suite that we protoyped in Antrea (https://github.com/vmware-tanzu/antrea/tree/master/hack/netpol) was ported upstream by @jayunit100 and others: https://github.com/kubernetes/kubernetes/tree/master/test/e2e/network/netpol

As a result it now makes sense to remove the `hack/netpol/` directory altogether and instead start running the upstream version of the test suite as part of Ant

[2021-01-13 01:13] antoninbas commented on #1740
@jayunit100 were you still planning to handle this?

[2021-01-13 01:18] antoninbas commented on #1739
@jianjuns @tnqn I would be fine with outputting only warnings and errors to stderr, and all other log messages to stdout. Do you see any issue with that? `klog` has [`SetOutputBySeverity`](https://godoc.org/github.com/kubernetes/klog#SetOutputBySeverity) which we should be able to use for this purpose. @tnqn do you know if the K8s components do something similar or do they always output everything

[2021-01-13 01:20] jianjuns commented on #1739
Outputting only warning and error logs to stderr makese sense to me.

[2021-01-13 01:36] hongliangl commented on #1652
I'll handle it soon. BTW, I have changed my Github ID.

[2021-01-13 02:27] jayunit100 commented on #1740
Happy to help but cycles limited

If any newcomers in the network policy testing area this is a good getting started issue that I could collaborate on

Otherwise I'll get it done sooner or later

[2021-01-13 04:22] siddhant94 commented on #628
Sure @antoninbas . So I am already using the `initIPTables` method, it's just that I have added complexity of looping through existing rules and then making a decision.I'll remove this part, so we would just set a sync-period and the go routine would at every sync-period run Antrea's current `initIPTables`(with name changed).

[2021-01-13 14:27] tnqn commented on #1739
It seems that the function is used to change the file when logging to file is enabled. I guess there will be new problems:
If both of logging to stderr and file are enabled, error logs will be duplicated in console output because both stdout and stderr has them, and they will be missing in log files.
If only logging to file is enabled, we will lost the ability to view logs from `kubectl logs`.

Ta

[2021-01-14 01:38] antoninbas commented on #450
I'm happy to announce that Project Antrea has received some virtual machines hosted on ARM64 hardware, which we will use to build Antrea docker images for ARM and run some basic tests on them. Thanks to @ppouliot for supporting our request, to [Ampere](https://amperecomputing.com/) for providing the hardware and to [OSU Open-Source Lab](https://osuosl.org/) for hosting the VMs.

[2021-01-14 04:44] weiqiangt opened #1745 "Agent should go crash if installation of essential flows failed"
**Describe the bug**
The AntreaAgent keeps running even it met flow installation errors. For E.g. AntreaProxy needs kernel version ≥ 4.6 and thus in the lower version kernel any flow installation with `ct(nat)` will fail which leads to several key flows in table 30 not exist. The AntreaAgent should crash instead of keeping running which misleads users.

**To Reproduce**
Deploy Antrea on Node with

[2021-01-14 04:48] robcowart commented on #1417
I have tested `v0.12.0` and there are still issues. Previously (see my comment from 22 Nov 2020) the "start" time was fixed, but the "end" time was wrong. Now the opposite is true. As you can in the PCAP below... "end" is now correct, but "start" is again wrong. If one of the two had to be wrong, it is most important that the end time is correct. However it would be best for both to be correct.

[

[2021-01-14 10:49] wiperpaul opened #1747 "Flowaggregator panic: runtime error"
**Describe the bug**
flow-aggregator pod crashes fairly infrequently.

[code]
`kubectl describe` does not give much information to go on.

[code]

Using kubectl logs with previous flag I can grab the logs but often not all of the traceback.

`kubectl logs flow-aggregator-ddd46cfc7-h4kff -n flow-aggregator -p`

I have included the few lines above the "panic" to show that it is not the same precedin

[2021-01-14 19:00] antoninbas commented on #1747
Thanks for the report @wiperpaul. I don't think a packet capture will be needed, the backtraces are pretty straightforward. I'm assigning @srikartati for triage.

[2021-01-14 19:10] srikartati commented on #1417
@robcowart Thanks for reporting this. Did you use the Flow Aggregator service when you tested or directly exported flow records to the flow collector from Flow Exporter?

[2021-01-14 19:17] robcowart commented on #1417
Directly exported from flow exporter.

[2021-01-15 04:36] tnqn commented on #1715
+1 to `crd.antrea.io` for all CRDs.

I'm thinking we could treat CRDs case by case.
For the ones that are ephemeral or generated by Antrea itself including Traceflow, ControllerInfo/AgentInfor, maybe we could simply remove the previous CRD.
For the ones that are persistent and written by users like Antrea Policies. We keep previous CRD for few releases and could have a post-start hook like https:/

[2021-01-15 04:52] zyiou commented on #1417
@robcowart Does it happen every time you export flow records or it happens occasionally?
@srikartati I checked all the recent exported flow records that flowStartSeconds are correct. Since the startTime in case above seems to be default value for empty time, is it possible that the startTime from conntrack table is not filled? If so, do we need to check and set value if startTime is invalid?

[2021-01-15 04:54] srikartati commented on #1747
Thanks Paul for reporting the issue. Yes, backtrace is quite informative.

Looks like this one is happening because the associated field values in the decoded flow record are invalid. In this case, one of statElements values seems to be invalid. This has to be fixed in go-ipfix library. One possible solution is to validate every incoming flow record if the decoded values are valid or not before do

[2021-01-15 05:01] srikartati commented on #1747
The other two crashes seem to be somewhat related. They seem to be happening because of closing the connection after the error in `decodePacket`: https://github.com/vmware/go-ipfix/blob/release-0.4.0/pkg/collector/tcp.go#L66

Need little more investigation on why this panic error: panic: runtime error: slice bounds out of range [:232] with capacity 95
This also needs an issue in go-ipfix. Will ope

[2021-01-15 05:11] antoninbas commented on #1715
The PostStartHook idea looks good, but I don't think we should convert all CRs by default and stop serving the old CR APIs. This would break client software and would require that software to be upgraded to use the new CR APIs. Instead we should provide this conversion capability as an option which can be used by Antrea users when upgrading.

[2021-01-15 05:27] tnqn commented on #1715
@antoninbas Making the conversion optional to keep backwards-compatbility makes sense to me.
My concert was mainly how to make networkpolicy controller work with two group of APIs work at the same time if we don't convert one to another, especially if some CRs have same name.

In the [APIs deprecation policy](https://github.com/vmware-tanzu/antrea/blob/master/docs/versioning.md#apis-deprecation-po

[2021-01-15 05:32] antoninbas commented on #1715
Maybe we can have some conversion code early in the controller, but I agree there will be a bit of duplicate code... Even though the APIs are alpha, I think we should strive to keep serving old APIs for a bit, if the effort is reasonable. We should make the CR conversion optional for 1 or 2 release, then make that conversion automatic for another couple of releases (returning an error when the old

[2021-01-15 05:41] srikartati commented on #1417
@zyiou Yes, that is my follow up comment. If this case is not happening for every flow, then we need to look at conntrack dumping API from `github.com/ti-mo/conntrack` package from which we get startTime timestamp. It could be possible that start timestamp is not filled, then we should check if it is invalid or not and set it the first time when we convert netlink connection to antrea connection [

[2021-01-15 05:49] tnqn commented on #1715
DIscussed with @antoninbas offline, we agree that keeping backwards-compatbility for Policy CRDs is worth, and a way to not make controller too complex is always replicating old CRs to new CRs, so users can use both APIs and policy controller only deals with new CRs.
This could be something similar to K8s EndpointSliceMirroringController: https://github.com/kubernetes/kubernetes/commit/86914660593

[2021-01-15 07:47] siddhant94 commented on #628
Linked the PR @antoninbas . For test, I have extended the TestInitialize in route_test.go (agent). For now I am testing with just one testcase. I'll wait for review comments, then will update more cases if needed.

[2021-01-15 11:52] robcowart commented on #1417
@zyiou I checked the PCAP of records that I made. It isn't all of the records, but it is at least 80% or more. If it is relevant... this environment is not very busy. It has only a few example deployments to test the IPFIX exporter.

@srikartati `ovsDatapathType` commented out, so I assume that the default of `system` is in effect.

[2021-01-15 16:01] tpepper commented on #1692
The LF link is broken.  Looks like it should probably be: https://www.linuxfoundation.org/telemetry-data-collection-and-usage-policy/

[2021-01-15 18:28] antoninbas commented on #1692
Thanks @tpepper, maybe the link changed since I opened the issue. I edited the issue to use the link you provided.

[2021-01-15 20:14] jayunit100 opened #1752 "CNI Dns injection support"
**Describe the problem/challenge you have**

We want https://github.com/kubernetes/kubernetes/pull/97987/files to pass, which is, reading DNS outputs from the CNI and then injecting it via the container runtime.

**Describe the solution you'd like**

Antrea should return DNS information if its in the pod so that this dns info can be relayed back to containred.

**Anything else you would like to ad

[2021-01-15 20:26] antoninbas commented on #1752
@jayunit100 is this something that should be implemented for both Linux & Windows but is only useful for Windows Nodes at the moment?

[2021-01-17 12:49] ksamoray commented on #1400
Proposing the [following](https://docs.google.com/document/d/1bXa7e6BdlzNN7ZnXekHAu1t6aZx911H8VsU6FYbf4DM/edit?usp=sharing) as a solution for the above. Would like some feedback.

[2021-01-17 19:47] jayunit100 commented on #1752
On Linux u get it for free from the kubelet

On windows, u need to plumb it in by having the CNI do the same thing that azure CNI is doing I think

[2021-01-19 13:18] perithompson opened #1759 "Pods running on windows nodes cannot access the API server using the internal Kubernetes Service"
**Describe the bug**
Pods running on windows nodes cannot access the API server when trying to connect via the kubernetes internal service.  It seems that the IP address is accessible from the pod but https traffic fails.
[code]
This is not the case when accessing the API server via this service from the host.

**To Reproduce**

- Deploy Antrea cluster with windows node.
- Start a windows pod
- At

[2021-01-19 16:48] wiperpaul opened #1760 "Kube-proxy detect "local" traffic / SNAT confusion"
**Describe what you are trying to do**

In my exported flow records the `sourceTransportPort` field are populated with the kube-proxy SNAT'd Ports in the 30000-59999 range. In `destinationTransportPort` however I also see  unchanged outgoing ports such as `53`, `443` etc. I assume this is because K8's uses SNAT on everything it deems as external (not from my cluster) and is also changing the sourc

[2021-01-19 18:58] jayunit100 opened #1761 "Add cyclonus Fuzz CNI comparison tooling to hack/"
**Describe the problem/challenge you have**
@mattfenwick has written and begun comparing things across CNIs generating policies from the existing upstream hack/netpol library.  Hes expressed an intention to collaborate w/ the antrea community on making it work the same on calico/antrea

**Describe the solution you'd like**
Make a hack/netpol2 or similar place so we can integrate  https://github.co

[2021-01-19 19:03] jayunit100 commented on #1761
#433

[2021-01-19 19:03] jayunit100 commented on #433
hey folks, this is now stale, ill consolidated with 1761,

[2021-01-19 19:03] #433 closed

[2021-01-19 19:05] jayunit100 commented on #1761
Per @antoninbas ,  will be happy to hear, good news is that cyclonus is in golang, so it will be easy to integrate (alt to illuminatio)

[2021-01-19 20:06] srikartati commented on #1760
@wiperpaul
I created a pod-to-external flow (my pod to google.com) and dumped the related conntrack flows on the node.
I see the following flows:
[code]
We consider only the flows in Antrea conntrack zone. I do not see any SNATed IP, but just pod IP. I believe flow record should have the same IP for pod-to-external flow.
Are you looking at Pod-To-External flows or different type of flows? Could yo

[2021-01-19 20:13] mattfenwick commented on #1761
👍 Looking forward to learning more about antrea and working with the antrea folks 😄 😄 !

[2021-01-19 21:28] wiperpaul commented on #1760
Thanks @srikartati it seems the SNAT indeed was not the issue and it just appeared that way due to none of my external initiated flows showing in my specific implementation this was due to a tun interface..

Thanks for sharing the conntrack dump, I was able to debug and solve the issue pretty fast after figuring out how to do it.

Dumping using `sudo ovs-appctl -t /var/run/antrea/openvswitch/ovs-v

[2021-01-19 21:28] #1760 closed

[2021-01-19 22:27] antoninbas commented on #1759
That doesn't really help with this issue here :), but I just wanted to point out that the fact that the ping tests "succeeds" is a bit misleading here. ICMP traffic is not load-balanced to an actual Pod here. If I recall correctly, for Windows Nodes, we create a "Service interface" on the Node and all ClusterIPs are assigned to it. So when the ping test "succeeds" (or in the case of the traceroute

[2021-01-19 22:28] antoninbas commented on #1759
@ruicao93 does it mean that all Pod-to-Service traffic is broken for Windows Nodes in the latest release, or is this some edge case?

[2021-01-19 23:48] antoninbas commented on #1675
Better support for default branch renaming has been rolled out by Github. See https://github.blog/changelog/2021-01-19-support-for-renaming-an-existing-branch/.

[2021-01-20 01:37] ruicao93 commented on #1752
@jayunit100 Do you mean the `DNS capability` support?

I think Antrea Windows should have introduced the capability in #642

[2021-01-20 01:43] ruicao93 commented on #1759
@antoninbas : I think only the services like "kubernetes" are broken. It's because the endpointIP is node IP instead of pod IP.

[2021-01-20 02:09] dreamtalen commented on #1706
Fixed in https://github.com/vmware-tanzu/antrea/pull/1718, thanks for pointing out.

[2021-01-20 02:09] #1706 closed

[2021-01-20 10:59] perithompson commented on #1759
@antoninbas, @ruicao93  is correct, We've only seen this on the Kubernetes API internal service, I was going through this with him yesterday. The only thing that I could think of was that the service has a double hop `readfrom tcp 10.96.0.1:443->10.96.0.1:49752: read tcp 10.176.37.239:49753->10.176.37.186:6443` although I don't know if that is unique?  I wondered if this is the same result if you

[2021-01-20 13:25] mattfenwick opened #1764 "NetworkPolicy: unable to allow ingress by CIDR"
**Describe the bug**

A NetworkPolicy which allows ingress traffic by an IPBlock/CIDR does not allow traffic from the IPBlock on a KinD cluster running antrea-0.12.0.

**To Reproduce**

Create a KinD cluster:

[code]

netpol.yaml:
 - NOTE: the cidr is chosen so that the first three octets match the first three octets of the IP of at least one of the pods in the setup

[code]

Create netpol and pod

[2021-01-20 14:06] ruicao93 commented on #1759
@perithompson: The root cause should be that for such case, we both do DNAT and SNAT in pipelin. Which is not supported by OVS as test.

So we need a new design to split these two NAT operation in different CT_ZONE. I will popose a new design soon.

[2021-01-20 16:29] srikartati commented on #1417
@robcowart Thanks for confirming. Could you please check if the following sysctl config is set in your system? /proc/sys/net/netfilter/nf_conntrack_timestamp

[2021-01-20 16:40] robcowart commented on #1417
Every node in the cluster has the same value...

[code]

[2021-01-20 16:55] tnqn commented on #1764
@mattfenwick Thanks for catching it!
This was caused by the non-standard CIDR `10.10.1.12/24` used in the policy. Apparently K8s allows it, however, OVS rejects it and it was then ignored:
[code]

I've made a quick fix #1767 for it.

[2021-01-20 18:01] mattfenwick commented on #1764
🎉 🎉 😄

[2021-01-20 23:22] antoninbas commented on #51
@jianjuns sorry for reviving this old issue, but I have seen some issues caused by mounting `/sbin/depmod` to the initContainer. Typically this happens when the `/sbin/depmod` (or rather `kmod` since `/sbin/depmod` is just a symlink to `kmod`) on the host / Node depends on some libraries which are not available inside the container. This can happen when the OS distribution on the host uses a diffe

[2021-01-20 23:51] jianjuns commented on #51
Unfortunately I lost my env for testing this. Could you try with the old Antrea image (like 0.1.0) in case it is no more an issue with Ubuntu 18.04?

[2021-01-21 00:41] antoninbas commented on #51
So I confirmed that there is an issue with v0.1.0 (or more precisely with Ubuntu 18.04, before we switched our base image to Ubuntu 20.04):
[code]
It's a bit misleading to mount `/sbin/depmod` as the solution. Really it's an issue with `kmod` (but `/sbin/depmod` is just a symbolic link to `kmod`).

The issue was because the `kmod` included in Ubuntu 18.04 did not support compressed kernel modules

[2021-01-21 00:57] jianjuns commented on #51
Thanks for figuring this out!

Yes, I am also thinking about any security violation to mount the whole FS. How about let us go with your option #2 for now, until we see new issues?

[2021-01-21 03:45] #1652 closed

[2021-01-21 14:50] tnqn commented on #51
I also feel option 2 is less risky if it can solve all current issues.
I don't know if mounting the whole host FS into container is common, not sure if there is circulation in path or any other issue.

[2021-01-21 19:21] antoninbas commented on #1675
Planning to rename the default branch from "master" to "main" on Monday Jan 25th at 4pm PST. All contributors will need to update their local copy of the repository and start using the new branch. Apart from that, there should not be too much disruption, thanks to recent changes made by Github to facilitate branch renaming (see https://github.com/github/renaming).

[2021-01-22 04:52] #1684 closed

[2021-01-22 04:54] #1764 closed

[2021-01-22 13:35] tnqn commented on #280
I'm looking at this issue as users have met it and questioned why a policy that denies all ingress traffic doesn't take effect when accessing the Pod via NodePort. Since iptables based solutions don't have this issue, I think it's worth to fix it.

The traffic is allowed by a special openflow that always allows local host IP to access all Pods, which is required by kubelet tcp/http probe. However,

[2021-01-22 18:44] jianjuns commented on #280
Sorry, but how you match the original source IP, to open access only from the allowed sources?

[2021-01-23 00:46] antoninbas opened #1776 "Antrea manifest should not mount /sbin/depmod to the initContainer"
**Describe the bug**
I have seen some issues caused by mounting `/sbin/depmod` to the initContainer. Typically this happens when the `/sbin/depmod` (or rather `kmod` since `/sbin/depmod` is just a symlink to `kmod`) on the host / Node depends on some libraries which are not available inside the container. This can happen when the OS distribution on the host uses a different version of `kmod` than

[2021-01-23 01:58] antoninbas commented on #280
I have the same question as @jianjuns. With your solution, we are able to deny traffic, but since we are still doing SNAT, how can we enforce a policy like the one in the original issue ("allow ingress traffic from `192.168.0.0/16`").

[2021-01-25 06:50] tnqn commented on #280
@jianjuns @antoninbas There are two things in this topic:
1. NetworkPolicy is honored but enforced after SNAT so the policy decision is based on the SNATed IP, instead of the original IP.
2. NetworkPolicy is not honored, external traffic bypasses ingress policy because of the special flow created for local network probe.

For 1, I don't have a good solution yet and I feel other CNIs unlikely have

[2021-01-25 15:28] tnqn commented on #776
Closing it as we have used ct_label to match reply packets.

[2021-01-25 17:12] jianjuns commented on #280
I got that. But I do not understand how you can make a good fix. Do you want to drop all NodePort traffic, unless user creates NP to explicitly allow traffic from Node IPs? But do users understand and would follow this way?

[2021-01-25 18:08] tnqn commented on #280
I will only change the openflow rule that matches the local gateway IP.
Before:
[code]
Our intention is to allow kubelet access the Pod regardless of the NetworkPolicy configuration. However, when the Pod is isolated, user can still access it via NodePort.

After:
[code]
Kubelet can still access the Pod. Any other clients cannot access it if it's isolated.

For how user can configure ingress polic

[2021-01-25 19:06] antoninbas commented on #1388
@Dyanngg I believe we can close this issue?

[2021-01-25 19:09] jianjuns commented on #280
So other CNIs drop NodePort traffic if a Pod is isolated, unless you create NP to allow Node IPs?

[2021-01-25 19:14] antoninbas commented on #1299
Fixed by https://github.com/vmware-tanzu/antrea/pull/1569

[2021-01-25 19:14] #1299 closed

[2021-01-25 20:14] #1776 closed

[2021-01-25 22:11] abhiraut opened #1782 "Add ClusterGroup CRD to group Pods based on labels or share IPBlock"
**Describe what you are trying to solve**
Currently Antrea policies are responsible to specify the security rules that apply to workloads and also responsible to specify how to group the source and destination and the workloads to which the rules apply to. This grouping of workloads is done via the use of resource selectors (podSelector, namespaceSelector...) which has the capabilities of grouping

[2021-01-26 00:04] antoninbas commented on #1675
The "master" branch has been renamed to "main". This issue can now be closed.

[2021-01-26 00:04] #1675 closed

[2021-01-26 00:56] antoninbas commented on #280
Two more questions:
* does the same problem exist on Windows and what would be the solution there?
* how is the problem / solution impacted when NodePort functionality is provided by AntreaProxy / OVS?

[2021-01-26 02:08] ydp commented on #1759
Hi @ruicao93 we had a similar "pod cannot access kubernetes service" issue(not resolved since found) in NCP windows cluster, https://bugzilla.eng.vmware.com/show_bug.cgi?id=2661766
do you think they are the same?
Thanks.

[2021-01-26 03:38] tnqn commented on #280
@jianjuns Yes, for iptables based CNIs, the policy is enforced on forward chain, so NodePort traffic will be dropped and local originated traffic will bypass policy and allowed.

@antoninbas
1. Windows uses kube-proxy userspace mode, in fact, even on Linux NodePort traffic can bypass NetworkPolicy with kube-proxy userspace mode as there's no difference between kube-proxy and kubelet from network p

[2021-01-26 03:42] tnqn commented on #280
My point is, where networkpolicy is enforced for NodePort traffic, preNAT or postNAT, could be controversial and varies according to implementation. But regardless of the place of enforcement, it should be enforced, instead of bypassed.

[2021-01-26 03:57] antoninbas commented on #280
But in theory in a cluster without kube-proxy and with AntreaProxy NodePort support, we could have an option to enforce policies on the original external source IP for NodePort traffic if we wanted to?

[2021-01-26 04:10] tnqn commented on #280
Yes, that makes sense. I meany it doesn't impact the work that prevents NodePort traffic from bypassing Policies when they are NATed by kube-proxy rules. Maybe it's confusing to discuss the change I planned to make under this issue, the change was only to make the specical rule designed for the requirement [agents on a node (e.g. system daemons, kubelet) can communicate with all pods on that node]

[2021-01-26 12:23] mrporcles commented on #723
@antoninbas Any idea what release this is now planned for?

[2021-01-26 23:09] antoninbas commented on #723
@mrporcles I am not actively working on this at the moment and it is not scoped for any release.
I did have a PR out to automatically restart the Antrea containers when the ConfigMap changes, but we have found a couple of drawbacks with that approach. At this time, my favorite solution would be treat the ConfigMap as immutable and offer support in the Antrea CLI (`antctl`) to edit configuration pa

[2021-01-26 23:10] antoninbas commented on #723
The "immutable ConfigMap approach" is described here: https://github.com/vmware-tanzu/antrea/pull/1427#issuecomment-717512194

[2021-01-27 05:52] Dyanngg opened #1788 "AKS Jenkins jobs are failing due to 'tenant not found issue'"
http://jenkins.antrea-ci.rocks/view/cloud/job/cloud-antrea-aks-conformance-net-policy/101/console

=== Logging into Azure Cloud ===
az login --service-principal --username **** --password **** --tenant ****
Failed to resolve tenant ****.

Error detail: {"error":"invalid_tenant","error_description":"AADSTS90002: Tenant 'akiarpyk4kvco73q2x6m' not found. This may happen if there are no active subscri

[2021-01-27 05:56] Dyanngg commented on #1388
Yes somehow I did not point the original PR to close this. Thanks for the reminder.

[2021-01-27 05:56] #1388 closed

[2021-01-27 06:47] weiqiangt opened #1789 "Enable race detector in tests"
**Describe the problem/challenge you have**
Currently, we don't have a helper for checking race issues and we have found some bugs related to race conditions.

**Describe the solution you'd like**
Enable race detector of Antrea components which are for testing.

**Anything else you would like to add?**

According to the [doc](https://golang.org/doc/articles/race_detector.html),

The memory usage s

[2021-01-27 14:18] tnqn commented on #667
@jianjuns I'm working on this and have some questions want to discuss with you:
1. About the multiple interfaces/networks a Node can connect to, is it a valid use case to consider? I thought the egress policy applies to to all external traffic so it should always be the interface that has the default route to be the egress interface? If there are multiple networks, then the policy should have some

[2021-01-27 23:05] zyiou opened #1794 "ELK stack should use total counts for bytes and packets calculation"
**Describe the bug**
In Kibana Overview dashboard, the bytes and packets are not showing correct values.

**Expected**
In Logstash, `bytes` field should use octetTotalCount, `packets` field should use packetTotalCount.

**Actual behavior**
`bytes` field uses octetDeltaCount, `packets` field uses packetDeltaCount.

[2021-01-28 01:17] jianjuns commented on #667
1. I am thinking about the case you have a subset of Nodes for egress, which have extra NICs on a different physical subnet. If we allocate SNAT IPs to Nodes, then seems we might need to configure routes too, but for the 1st version if we just assume IPs are configured manually by users, then we can assume routes are correctly configured too.
2. This is a valid point. Unless we introduce priority,

[2021-01-28 03:41] tnqn commented on #667
1. I mean the Nodes that can access external should have a default route on one of its NICs, right? So we don't need to care about how many NICs they have and could always assign the SNAT IP to the NIC with default route? If this is a reasonable assumption, we could configure the IP automatically instead of asking user to do it.
2. Then maybe let's first user labelSelector and assume policies over

[2021-01-28 04:05] jianjuns commented on #667
1. Right, for now we might assume there is a default route. Later we can consider using different SNAT IP for different destination, then not necessarily a default route. But I would do IP configuration later still (in my mind we need to support auto IP->Node assignment together).
2. Ok.
3. In your proposal, user needs to duplicate the label selector for every SNAT policy? And how we define that f

[2021-01-28 05:07] Dyanngg commented on #1788
Closing the issue as the job is back to normal. Root cause seems to be that the job got misconfigured to use incorrect Jenkins creds.

[2021-01-28 05:07] #1788 closed

[2021-01-28 21:58] antoninbas commented on #1692
At this point we have decided to postpone adding telemetry support in Antrea. We have the following concerns:
- because of Antrea "installation" mechanism, there is no good way to inform users about data being collected and let them opt-in / opt-out as they deploy Antrea
- if telemetry is opt-out, there may be a negative reception from the community, not to mention concerns about respecting privac

[2021-01-28 22:41] #1663 closed

[2021-02-01 00:12] #12 closed

[2021-02-01 23:13] Dyanngg opened #1807 "AddressGroup is not updated when Pod IP changes due to Node restart"
**Describe the bug**
Special thanks to @tnqn for initial triage on this issue.
In a cluster where Pods are running on multiple Nodes, if a Node is restarted, the Pods on that Node might get new IPs assigned to them. When this happens, NetworkPolicies that refer to these Pods in ingress/egress peers are expected to be correctly enforced. Antrea Controller should compute updated IPs for correspondin

[2021-02-02 01:43] #1669 closed

[2021-02-02 04:59] abhiraut commented on #1638
corresponding PR is merged in upstream and will be available as feature gated in 1.21. @GraysonWu would you have cycles to adapt this to our K8s NP implementation ?

[2021-02-02 05:05] GraysonWu commented on #1638
Sure. Will work on it.

[2021-02-03 00:44] #1679 closed

[2021-02-03 01:58] #1807 closed

[2021-02-03 09:55] #628 closed

[2021-02-03 23:00] antoninbas opened #1812 "TestSvcUpdateAnnotation is flaky"
**Describe the bug**
[code]

Not sure if this is an issue with the test or the implementation.

**To Reproduce**
This was observed in the Github CI. But I am hoping it can be reproduced locally by running the test enough times.

**Versions:**
 - Antrea version (Docker image tag): top-of-tree

[2021-02-05 01:44] zyiou opened #1820 "Flow Aggregator unexpected number of warnings"
**Describe the bug**
When running Flow Aggregator, there are a lot of same warning messages indicating that the field should not have been filled.
[code]

**To Reproduce**
Deploy the Flow Aggregator, create some inter-Node traffic, then print the log of Flow Aggregator Pod.

**Expected**
Less or no warning messages.

**Actual behavior**
A lot of same warning messages about `destinationServicePort`

[2021-02-05 01:53] zyiou commented on #1820
Thanks @antoninbas for pointing out the issue and helping with triaging. The problem happens for inter-Node flows and is caused by using `record.Conn.TupleOrig.DestinationPort` as `destinationServicePort` for both source Node record and destination Node record, which causes mismatch in the values. If having a Service (\<ClusterIP\>, tcp 80) with an Endpoint (\<IP\>, tcp 8080), then `record.Conn.Tu

[2021-02-05 05:01] siddhant94 commented on #1685
hey @antoninbas , can I have a go at this?

[2021-02-05 05:23] antoninbas commented on #1685
@siddhant94 yes of course, will assign to you

[2021-02-05 18:50] #1812 closed

[2021-02-06 05:13] #1707 closed

[2021-02-06 05:13] #1794 closed

[2021-02-07 00:13] #379 closed

[2021-02-07 00:13] #374 closed

[2021-02-07 00:13] #310 closed

[2021-02-07 00:13] #240 closed

[2021-02-07 05:19] ruicao93 opened #1830 "[Windows] Network policy not working occasionally with ContainerD runtime"
**Describe the bug**
Network policy not working occasionally with ContainerD runtime.

Here's one of the failure cases:

[code]

**To Reproduce**
ginkgo --noColor e2e.test -- --provider=skeleton --node-os-distro=windows --ginkgo.focus="\[Feature:NetworkPolicy\]"

**Versions:**
main branch

**Additional context**
[code]

[2021-02-07 05:22] ruicao93 commented on #1830
The case should be casued by OVS port delayed creation for ContainerD runtime.

Pod IP is not in `ifaceStore` if agent apply network policy before OVS port creation complete.
https://github.com/vmware-tanzu/antrea/blob/main/pkg/agent/controller/networkpolicy/reconciler.go#L780

Will have a fix soon.

CC. @tnqn

[2021-02-07 09:32] ruicao93 opened #1831 "[Windows] antrea-agent cannot print error logs on panic"
**Describe the bug**
If panic happens, antrea-agent exits silently without any error logs.

~~I see the issue when using ContainerD as runtime.~~

**To Reproduce**
~~Start antrea-agent and run some tests.~~

**Expect**
The error info should be printed in log if panic happens.

[2021-02-07 09:33] ruicao93 commented on #1831
I'm tring to find out the reason why antrea-agent exits using Windows tool `gflags`:
https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/setting-and-clearing-flags-for-silent-process-exit

[2021-02-07 09:48] ruicao93 commented on #1831
Caught exit even:
[code]
Will get dump file next step.

![Uploading antrea_agent_crash.jpg…]()

[2021-02-07 13:13] ruicao93 commented on #1831
Got dumpfile using `gflags` tool, but cannot find out the info.

Tring to use `go-delve` for analysis:
https://github.com/go-delve/delve

[2021-02-08 01:09] ruicao93 commented on #1831
Failed to repro the issue using `go-delve`.

[2021-02-08 02:35] #1830 closed

[2021-02-08 02:51] ruicao93 commented on #1831
From test, `panic` info is not be printed in logs on Windows. I will keep all output of antrea-agent.exe to see if the panic msg can be captured.

[2021-02-08 03:39] ruicao93 opened #1833 "[Windows] antrea-agent panics when disable AntreaProxy feature"
**Describe the bug**
antrea-agent will panic if disable AntreaProxy.

**To Reproduce**
Disable AntreaProxy and start antrea-agent. antrea-agent will fail to start with panic messages.
[code]

[2021-02-08 03:43] ruicao93 commented on #1833
The root case is that `uplink table` is not initialized in `generatePipeline()` when disable AntreaProxy feature.

Which will cause antrea-agent crashed when tring to access the table(nil pointer).

[2021-02-08 07:47] weiqiangt opened #1835 "Connection to service IP fails from pods after a bulk reboot of worker nodes."
**Describe the bug**
Connection to service IP fails from pods after a bulk reboot of worker nodes. In an Antrea Cluster with 500 nodes, 50K POD /4k Services.

**To Reproduce**
- There are client pods that keep on accessing server pods using clusterIP service
- Reboot all worker nodes
- After reboot is done, some client pods keep on crashing as a connection to ClusterIP service fails

[code]

**Exp

[2021-02-08 16:18] #1833 closed

[2021-02-08 19:18] antoninbas commented on #711
I haven't seen this happen for a while. Probably because of updates to ofnet and libOpenflow.

[2021-02-08 19:18] #711 closed

[2021-02-08 20:26] antoninbas opened #1837 "Antrea APIServices become unavailable"
**Describe the bug**
This issue was reported by @mohitevishal. In some cases, it seems that the Antrea APIServices become unavailable, which prevents performing some actions on the cluster (e.g. namespace deletion).

[code]

The Antrea Controller logs can be found [here](https://gist.github.com/antoninbas/9f2f81089d6821a766c2626a961c4611). Restarting the Antrea Controller manually resolves the iss

[2021-02-08 20:32] antoninbas commented on #1837
@tnqn based on some of the early error logs:
[code]
This could be related to https://github.com/kubernetes/kubernetes/pull/95725, which affects aggregated apiservers. We should consider updating the version of the apiserver library we use to pick up this fix. The fix is important and was back-ported to v1.18.15 and v1.19.6. You have this PR open: https://github.com/vmware-tanzu/antrea/pull/1653. W

[2021-02-08 21:58] anfernee opened #1838 "Support nonMasqueradeCIDRs"
**Describe the problem/challenge you have**
When a pod talks to an external address, [ip-masq-agent](https://kubernetes.io/docs/tasks/administer-cluster/ip-masq-agent/) controls a list of CIDR ranges no to masquerade by `nonMasqueradeCIDRs`. It's useful to some cloud providers that controls some internal addresses that are flat to the podCIDR. Antrea provides an option `noSNAT`, but it applies to

[2021-02-08 23:24] antoninbas commented on #1838
On Linux:
I believe that when using noEncap mode, you should be able to set `noSNAT` in the Antrea configuration, while deploying `ip-masq-agent` alongside Antrea with the desired value for `nonMasqueradCIDRs`

On Windows:
AFAIK, `ip-masq-agent` does not work on Windows Nodes. The Antrea `noSNAT` configuration is ignored on Windows, since we do not support noEncap mode on Windows. This feature req

[2021-02-09 00:24] antoninbas commented on #969
Added in #1459

[2021-02-09 00:24] #969 closed

[2021-02-09 01:20] Dyanngg opened #1842 "NetworkPolicy used for `testANPBasic` is not cleaned up after the testcase execution"
**Describe the bug**
In Antrea-native policy e2e tests, all testcases under testgroup "TestGroupDefaultDENY" is executed with the same underlying K8s netpols which provides default isolation. Hence, K8s netpols are not by default cleaned up after each testcase execution. For this reason, if any testcase under "TestGroupNoK8sNP" creates K8s netpol for some purpose, it needs to be manually cleaned u

[2021-02-09 08:15] #1759 closed

[2021-02-09 13:27] tnqn commented on #1837
The http handlers execute in [separate goroutines](https://github.com/golang/net/blob/4acb7895a0574887276b79d6c959e9aa3182386d/http2/server.go#L1884) and it seems that they [panic on purpose](https://github.com/kubernetes/kubernetes/blob/a01bc2ba8979cff17fd465777d8f0fc18e6537fb/staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go#L243-L253) for some cases so the panics shouldn't affect other

[2021-02-09 19:28] antoninbas commented on #897
There is a new upstream patch for OVS which I believe replaces the one mentioned in https://github.com/vmware-tanzu/antrea/issues/897#issuecomment-742920337: https://mail.openvswitch.org/pipermail/ovs-dev/2020-December/378711.html. The patch has not been merged yet.

[2021-02-09 19:28] jianjuns commented on #1838
Agreed this is can be a good feature. Probably we can extend the noSNAT option for supporting a noSNAT feature.

On Windows, I remember @ruicao93 has a draft PR already, so hopefully we will get it soon.

[2021-02-09 19:31] weiqiangt commented on #1745
In `github.com/contiv/lib!openflow@v0.0.0-20201014051314-c1702744526c/util/stream.go:71`
[code]
There are multiple parsers that make messages lose the order, and thus we see that the `BundleClose` message may be received earlier than `BundleAddErrorMesage`.

[2021-02-09 19:39] moshe010 commented on #1153
@antoninbas sorry for the late response on this. We are working on Nvidia network operator which will enable this setup automatically and we want to support antrea with it. So once we test it with antrea we will provide docmention on how to install the operator and configure switchdev mode.

[2021-02-09 19:40] jianjuns opened #1848 "Profiling CPU and memory usage of AntreaProxy"
We probably should test CPU and memory usage of AntreaProxy at scale, like with 10K's of Services and 100K Endpoints, and when there is a burst of Service/Endpoint updates for a period.

One particular concern is on installServices() which could run every 1s and scan all Services to check if any OVS flow changes can be performed.

[2021-02-09 19:41] jianjuns commented on #1848
@weiqiangt : I am assigning this issue for now.
@tnqn : FYI too.

[2021-02-09 19:53] antoninbas commented on #1600
Removing the v0.13 release milestone. We didn't root cause this issue so we are keeping this open for now. However, we added some retry logic in the code which hopefully will prevent this issue from happening again. We also added additional logs to help provide more insight into what's happening.

[2021-02-09 23:28] #1842 closed

[2021-02-10 00:16] antoninbas commented on #1545
No PR yet, moving it to v0.14

[2021-02-10 05:53] #1835 closed

[2021-02-10 18:57] #1747 closed

[2021-02-10 18:57] #1820 closed

[2021-02-10 20:57] antoninbas opened #1852 "Set TCP SYN flag by default in antctl for TCP requests"
**Describe the problem/challenge you have**
A user (@ipirva) reported that `antctl traceflow` requests were failing on EKS clusters for TCP requests (timeout), but succeeding for UDP requests. After doing some troubleshooting, I realized that it was because the TCP SYN flag is not set by default (user has to set the flag explicitly when creating the request). The traceflow packet is dropped by the

[2021-02-10 22:58] jianjuns commented on #1852
Probably good to set it in antrea-agent, unless we want to test packet drop due to no-SYN.

[2021-02-11 00:27] antoninbas commented on #1086
I think this has been addressed

[2021-02-11 00:27] #1086 closed

[2021-02-11 01:20] antoninbas commented on #280
Fixed for Linux Nodes (OVS kernel datapath) in https://github.com/vmware-tanzu/antrea/pull/1816

[2021-02-11 02:53] antoninbas commented on #1164
Fixed by #1703

[2021-02-11 02:53] #1164 closed

[2021-02-11 21:17] #1610 closed

[2021-02-12 02:38] abhiraut commented on #1782
All related PRs have been merged. Mark it closed.

[2021-02-12 02:38] #1782 closed

[2021-02-14 00:09] #401 closed

[2021-02-14 15:30] laidbackware opened #1872 "antctl version should return cli version without a server connection"
**Describe the problem/challenge you have**
The antctl commant does not return the version without an API server connection making ti diffucult to script the management of the CLI.

**Describe the solution you'd like**
When no API server connection is present antctl should still return the version of the cli binary, along with any server connection messages.

**Anything else you would like to add?

[2021-02-14 19:14] jayunit100 opened #1873 "Invalid JSON (windows 0.13 installation)"
Likely this is just a dupe of the overall fact that containerd on windows doesnt support host network startup.

The solution should be for the time being that we modify https://github.com/vmware-tanzu/antrea/blob/main/docs/windows.md to install antrea *as a windows service* rather then as a pod, since our instructions should generally default to supporting antrea on Containerd.

**Describe the bug

[2021-02-16 20:43] antoninbas commented on #1872
I will take a look at this @laidbackware, thanks for reporting this

[2021-02-17 17:43] jianjuns opened #1878 "Segment fault in libOpenflow for Traceflow to an external IP"
**Describe the bug**
Got a segment fault for a Traceflow to the Node IP, or the gw0 IP, or an external IP that is reachable from the source.

It is probably triggered by the returned Traceflow packets from antrea-gw0.

**To Reproduce**
For example, antctl traceflow -S kube-system/coredns-74ff55c5b-6sz9g -D nodeIP

**Versions:**
Please provide the following information:
 - Antrea version: 0.13

**A

[2021-02-17 20:12] antoninbas commented on #1878
I can look into this for triage

[2021-02-18 22:24] #1878 closed

[2021-02-19 04:57] jianjuns commented on #667
In the first version, we require users to manually configure SNAT IPs on the Nodes. In a SNATPolicy, a particular SNAT IP can be specified for the selected Pods, and antrea-controller will publish the SNATPolicy to the Nodes on which the selected Pods run.
On the Node, antrea-agent will realize the SNATPolicy with OVS flows and iptables rules. If the SNAT IP is not present on the local Node, the p

[2021-02-19 04:58] jianjuns commented on #667
@tnqn : let me know what you think ^^

[2021-02-19 14:49] perithompson opened #1889 "Antrea running as a service on windows"
**Describe the problem/challenge you have**
While we wait for HostNetworking on Windows, Antrea for Containerd (like other CNIs) must run as a host process, making it critical that this stays up and is tolerate to restarts.  I would like to make sure that the antrea agent and kube-proxy are able to be installed as services rather than running the start.ps1 script manually.  [Nssm](https://nssm.cc/

[2021-02-19 14:49] perithompson commented on #1889
/sig windows

[2021-02-19 15:36] wrowe commented on #1889
At minimum, `& nssm set kube-proxy DependOnService tcpip afd`
although we might discover other minimal service dependencies.

Is this also worthwhile? `& nssm set kube-proxy Start SERVICE_AUTO_START`

One advantage to nssm is that stderr (stdout, even stdin) can be piped, e.g.
`& nssm set antrea-agent AppStderr C:/var/log/antrea/stderr.log`
`& nssm set kube-proxy AppStderr C:/var/log/kube-proxy/st

[2021-02-21 00:09] #411 closed

[2021-02-22 00:09] #432 closed

[2021-02-22 00:09] #438 closed

[2021-02-22 00:09] #426 closed

[2021-02-22 18:20] zyiou opened #1893 "Flow Exporter does not work with customized collector DNS name"
**Describe the bug**
When setting flow exporter with `flowCollectorAddr: "flow-aggregator.flow-aggregator.svc.cluster.local:4739:tcp"`, it cannot start. But it works well under static IP.

**To Reproduce**
Start Antrea and Flow Aggregator with following settings:
antrea-agent.conf
[code]
flow-aggregator.conf
[code]

**Expected**
Flow exporter should start without error.

**Actual behavior**
Flow e

[2021-02-22 23:11] anfernee opened #1894 "antrea-agent failing to set gateway interface on windows"
**Describe the bug**
When antrea-agent starts, it fails to set IP address in gateway interface. The following error was raised:

Screenshot: https://photos.app.goo.gl/BkLZdWq4cumVxo5a8
![newipaddress_issue](https://user-images.githubusercontent.com/4922662/108790334-66da9c80-75b7-11eb-9f2a-302067c232fe.png)

**Versions:**
Please provide the following information:
 - Antrea version (Docker image ta

[2021-02-22 23:11] anfernee commented on #1894
cc @ruicao93

[2021-02-23 01:01] ruicao93 commented on #1680
Threads about "windows, CNI Check, VNICs, and containerd":
https://groups.google.com/g/kubernetes-sig-network/c/dd6OnOAJ0PY

[2021-02-23 01:10] ruicao93 commented on #1873
The behavior is expected as MFST is still working on the containerd "hostNetwork"support:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-windows/1981-windows-privileged-container-support#graduation-criteria

The alpha versions will be:
[code]
@jayunit100 What do you expect on Antrea side?  We could describe the limitation of containerd in Windows doc.

[2021-02-23 01:26] ruicao93 commented on #1894
I had a debug session with Yongkun last week. The antrea-agent executed "New-NetIpAddres" command as expected and all params are correct.

We test the operation on another interface which is not created by antrea-agent, the error also appears. So I think it should be an error on Windows system side.

I guess that the networking system of Windows may be in disorder in someway. @anfernee Could you c

[2021-02-23 01:33] ruicao93 commented on #1831
Cannot see the issue anymore. The issue may happen on a issue node previously.

But it's still an issue that antrea-agent cannot print error logs on panic. We will still use the current link for the issue.

[2021-02-23 01:34] ruicao93 commented on #1752
Close the issue because the `DNS capability` is already supported in #642.

[2021-02-23 01:34] #1752 closed

[2021-02-23 01:36] ruicao93 commented on #1737
We catched error after adding more logs:
https://github.com/vmware-tanzu/antrea/issues/1894

But it migh not be a antrea-agent issue.

[2021-02-23 01:43] ruicao93 commented on #1645
Thanks @perithompson and @jayunit100 ,  workaround works to install Hyper-V without CPU checking in doc:
https://github.com/vmware-tanzu/antrea/pull/1744

Close the issue.

[2021-02-23 01:43] #1645 closed

[2021-02-23 01:46] #1577 closed

[2021-02-23 15:29] tnqn commented on #667
@jianjuns the proposal LGTM, one question about configuring SNAT IP and publishing SNATPolicy:
It looks like in the first version the SNATPolicy doesn't have any Node information. How does a Node know itself is a SNAT node and which are SNAT IPs if SNATPolicy is only pushed to Nodes that run the selected Pods? Or if it's still required to specify a Node in SNATPolicy or there is a NodePool CRD, is

[2021-02-23 17:22] jianjuns commented on #667
@tnqn : I think each Node can discover all local IPs, and based on that decide whether or not to perform SNAT locally or tunnel to the SNAT IP.

Do you have extra thoughts on the 1st version scope, like should we do IPv4 only or not?

[2021-02-23 22:28] #1893 closed

[2021-02-24 00:59] #1872 closed

[2021-02-24 01:56] antoninbas commented on #1685
@siddhant94 some users are running into issues with specific K8s solutions because of this. We would therefore like to address it ASAP and create bug fix releases for 0.11.x and 0.12.x, ideally this week. If you don't have time to work on this immediately, do you mind if we re-assign it to someone else?

[2021-02-24 02:00] tnqn commented on #667
I assume agent will need to treat all local IPs as potential SNAT IPs and configure openflows, allocate mark IDs, and configure iptables rules for them. Could it lead to many unnecessary configurations? For example, when kube-proxy ipvs mode is used, all service IPs will be configured on a network interface, there might be other cases that we are not aware of in production?

[2021-02-24 02:03] jianjuns commented on #667
Do we have some way to filter IPs and assume we have a reasonable set of IPs to care about?

Another way is to watch all SNAT policies and know the IPs can be used.

[2021-02-24 02:51] tnqn commented on #667
I think filtering IPs approach might be not clean and become complex to adapt all scenarios. Using SNATPolicy as source of truth sounds good to me.

Is this the first version scope in your mind:
1. User needs to configure SNAT IPs manually and reasonablely (no duplicate, no missing)
2. User configures a SNATPolicy with PodSelector and SNAT IP
3. No failover if the Node holds the SNAT IP crashes
4.

[2021-02-24 04:46] jianjuns commented on #667
Yes, that is what I am thinking. Do you think it can save some work if we start from IPv4 and Linux (not much to support Windows too)?

[2021-02-24 05:10] tnqn commented on #667
I feel the main work to support IPv6 is more about testing as the design doesn't sound address family specific, while I'm not sure the extra work to support windows given that it doesn't use iptables to do SNAT. I would lean to support dual-stack and only for Linux in the first version.

[2021-02-24 05:36] jianjuns commented on #667
Windows is even easier? As we do SNAT with OVS only. But the same as IPv6, there will be work for testing. If our target is 0.14, I think we can just do IPv4 on Linux.

[2021-02-24 05:52] tnqn commented on #667
Sure, IPv4 on Linux sounds good to me.

[2021-02-25 02:39] siddhant94 commented on #1685
Hey @antoninbas apologies for delay in picking this up. You can re-assign this as I am caught up till this weekend.

[2021-02-25 16:49] ruicao93 commented on #1407
The issue is fixed in https://github.com/vmware-tanzu/antrea/pull/1412

[2021-02-25 16:49] #1407 closed

[2021-02-25 22:17] #1685 closed

[2021-02-25 23:16] zyiou opened #1902 "Support TCP related information in Flow Exporter"
**Describe the problem/challenge you have**
For Flow Aggregator/Exporter, tcp related fields like `tcpControlBits` are missing in exported Netflow, which are useful for analytics. For example, for users to detect SYN flood, DDos attack etc.

**Describe the solution you'd like**
TCP state and flags can be obtained from connection entry in conntrack tables. We can add these information in exported f

[2021-02-25 23:20] daschott commented on #1894
@anfernee What is the full Windows OS build #, including patch status?

1.0.17763 is partial. There should be something like `17763.1790`. This gives an idea of the patch status of the Windows machine.

[2021-02-26 12:12] tamilhce opened #1910 "NPL(NodePort Local) changing service type from clusterIP to Nodeport doesn't removes the NPL annotations in POD"
**Describe the bug**
NPL(NodePort Local)while changing  the service type from clusterIP to Nodeport. The  respective  NPL annotations in POD are not removed
**To Reproduce**

step1: created svc object(default : Cluster IP)
[code]
step2: As expected observed the  NPL annotations in the POD
[code]

step3 : Change the svc from type clusterIP to NodePort
[code]

step4: observed that Pod Annotations ar

[2021-02-26 19:34] tamilhce opened #1912 "NPL(node Port Local) doesn't works for Multi-Port Services objects"
**Describe the bug**
For the service object with multiple ports, the NPL pod annotations are created for one of the port. Not for the all the ports

**To Reproduce**
step1 : created SVC object with Multiple Ports
[code]
[code]

step2 : observed that NPL annotations are created  only for the targetPort 8080 and it doesn't got created for the targetPorts/PodPorts 8081. As per the Expectation the NPL

[2021-02-26 19:55] antoninbas commented on #1912
Do the Pods selected by your Service have 2 container ports (8080 and 8081)? Could you share the yaml for your Deployment?

I am not able to reproduce with the following yaml:
[code]

[code]

[2021-02-26 21:04] daschott commented on #1894
Alternatively, if you run `Get-Hotfix` that should also print patch status.

[2021-02-26 21:43] antoninbas opened #1914 "Traceflow Service "hairpinning" does not work"
**Describe the bug**
When performing a Traceflow request with the source set to a Pod and the destination set to a Service selection the source Pod, the request will timeout if AntreaProxy load-balances the packet to the source Pod.

**To Reproduce**
In a "regular" K8s cluster with 2 coreDNS Pods, perform the following Traceflow request:
[code]
Run the request multiple times, with different values

[2021-02-26 21:58] antoninbas opened #1915 "Explicitly reject position arguments for antctl commands which do not support them"
**Describe the problem/challenge you have**
When generating a Traceflow request with antctl, it's easy to forget a flag, which can completely change the behavior of the command and create confusion. For example:
[code]

[code]

The first one is the intended command: the UDP header fields are set so that the Traceflow packet is destined to the Service and thus handled by AntreaProxy. The second one

[2021-02-27 02:10] anfernee commented on #1894
@daschott  Get-HostFix gives me:
- KB4552924
- KB4562562
- KB4561608

The Windows version is 10.0.17763.0 (revision number is 0).

[2021-02-27 09:11] tamilhce commented on #1912
Actually My container spec has only port 8080 exposed, once i added the port 8081, the NPL annotations are added as expected
[code]

Just one doubt here, even though the container  port 8081  is not mentioned in the POD container spec, Nothing stops us from creating SVC object with the targetPort 8081, By default containers ports are exposed and it works fine. Can we create the NPL annotations for

[2021-02-28 00:09] #464 closed

[2021-02-28 00:09] #224 closed

[2021-03-01 07:47] tamilhce opened #1923 "Traffic for the NPL(Node Port local) IP:Port originating with in the same worker node as the pod is not working"
**Describe the bug**
For Traffic originating within the same worker node where the POD is deployed.
The Traffic for the NPL IP & PORT not working.The same works fine if the traffic originate outside the worker node.

**To Reproduce**
step1 :deploy the POD
[code]
step2 : create SVC object with NPL enabled
[code]
[code]
spte3: verify the NPL annotations & IP tables rules

[code]
Lets take pod deploy

[2021-03-01 08:10] monotosh-avi commented on #1923
Thanks @tamilhce for pointing this out. Currently we add a rule in PREROUTING chain to handle traffic for NodePortLocal, to handle traffic originating in the same node we need to do the same in OUTPUT chain.

[2021-03-01 09:53] tnqn opened #1924 "Egress Policy v1alpha1 implementation"
**Describe what you are trying to solve**
This proposal summarizes the first alpha version of the Egress feature. Please see https://github.com/vmware-tanzu/antrea/issues/667 for the complete proposal.

In v1alpha1, we require users to manually configure SNAT IPs on the Nodes. In an Egress, a particular SNAT IP can be specified for the selected Pods, and antrea-controller will publish the selected

[2021-03-01 09:57] tnqn commented on #1924
@jianjuns I created this issue to track the design change and progress of the first version of the feature, copied some content we have discussed in #667 here. Feel free to update it directly if you have any ideas on details or names.

[2021-03-01 09:58] wiperpaul opened #1925 "Aggregator discards Pod-to-External Flows"
**Describe the bug**
Pod to external flows are not exported. Discussed in [Slack Conversation](https://kubernetes.slack.com/archives/CR2J23M0X/p1614344433014500).

We [ignore the records](https://github.com/vmware-tanzu/antrea/blob/main/pkg/flowaggregator/flowaggregator.go#L339) in Flow Aggregator if `ReadyToSend` field is not set. In go-ipfix code, we set this only for Pod-To-Pod and Pod-To-Servi

[2021-03-01 12:42] tamilhce opened #1926 "NPL(Node Port Local) The label selector is matches across namespace.Results in the Pods outside the namespace got NPL annotations"
**Describe the bug**
NPL(Node Port Local). The service label selector is applied across namespace.Results in Pods outside the namespace(in another namespace)  got NPL annotations, which is not expected.

**To Reproduce**
step1: create svc object in the kube-system ns
[code]
[code]
step2: kube-system ns has no pods with matching selector
Kube-System Namespace
[code]
Default NameSpace
[code]
[code]

[2021-03-01 19:53] antoninbas commented on #1912
@tamilhce I tend to agree with you. I am not sure why the current implementation is using the (optional) containerPorts from the Pod spec, as opposed to the targetPorts from the Service spec. It may be because of the initial NPL implementation in Antrea: NPL had to be enabled for each Pod using an annotation, as opposed to via an annotation on the Service selecting the Pods.

I would be open to ma

[2021-03-02 00:16] antoninbas commented on #1532
For the CHANGELOG, I suggest moving to a separate `CHANGELOG/` directory (similar to https://github.com/kubernetes/kubernetes/tree/master/CHANGELOG) after the Antrea 1.0 release. We can group all pre-1.0 entries into the same file (`CHANGELOG/CHANGELOG-0.x.md`) and create a new file for each minor release after that (1.0, 1.1, 1.2, ..., 2.0, 2.1, ...). We should also look into automatically updati

[2021-03-02 00:43] jianjuns commented on #1924
Thanks for the details of version 1.

A question for controlplane API: could we reuse AppliedToGroup instead of adding a new EgressGroup?

[2021-03-02 07:14] vicky-liu commented on #1924
cc @ceclinux to take a look at work breakdown.

[2021-03-02 08:17] tamilhce opened #1930 "Enhancement NPL(Node Port Local): For the pods with hostNetwork/hostPort avoid reserving port in nplPortRange and reuse the same Port as in the pod spec"
**Describe the problem/challenge you have**
As per the current Implementation the NPL reserves an port (nplPortRange) even for the Pods's with  hostNetwork/hostPort.In case of hostNetwork/hostPort, pods will already exposed with node IP & Port. In the NPL annotations we can make use  of the same port instead a reserving a port from nplPortRange there by saving addition port & redundant ip tables e

[2021-03-02 08:27] hongliangl opened #1931 "Replace KubeProxy Design Draft (Linux Only)"
## Replace KubeProxy Design Draft (Linux Only)
[original google doc](https://docs.google.com/document/d/14IJllrntO-miM-C4gzMJ3siYc6UBLjZPTcU6QtYNTMM/edit)

### Why We Should Do This
Since we will provide NodePort Service support in AntreaProxy recently, we will then have the ability to remove KubeProxy totally. This will save a lot of cycles and memories, and make it possible to have more control

[2021-03-02 09:06] vicky-liu commented on #1725
I think we can make ANP as Beta because CQE already verified it on 500 nodes.
@Dyanngg , any comments on item of ANP version?

[2021-03-02 16:35] monotosh-avi commented on #1912
@antoninbas @tamilhce
We had explored few options while designing NPL (https://docs.google.com/document/d/1SoAKBvbbt2QMnGmt53E8ja0ZxCv_T4r1zLVnMzpykTg), one option was creating a new CRD - NPLEndpointSlice which would follow the default Endpoint slice implementation and use target port for service. The other option - which we implemented, was annotating Pod with Container Ports of the Pod. In case

[2021-03-02 16:50] tnqn commented on #1924
@jianjuns

I thought about this but didn't find real benefits to do so so switched to another way that could reduce code redundancy and grouping caculation between all kinds of groups, including clustergroups, appliedtogroups, addressgroups and egressgroups.
Some cons of reusing AppliedToGroup I thought of:
1. When AppliedToGroups for NetworkPolicy and EgressPolicy are mixed in a single API, the A

[2021-03-02 17:23] jianjuns commented on #1924
But from understanding/troubleshooting perspective, it is much better to use a single type, and map a single ClusterGroup to a single AddressGroup or AppliedToGroup.
If we think too much work to refactor NetworkPolicyController, can we still reusing the same AppliedToGroup type, but create another set of AppliedToGroups in this release?

I think better to support ClusterGroup and Service reference

[2021-03-02 20:27] daschott commented on #1894
Can you please apply the latest cumulative update? This seems to be state of June 2020 of the OS and there have been many changes since then.

Latest cumulative updates can be found here:
https://support.microsoft.com/en-us/topic/february-16-2021-kb4601383-os-build-17763-1790-preview-9535653c-8012-47f0-0f90-44cdd57cdc36

[2021-03-03 00:08] #479 closed

[2021-03-03 01:14] antoninbas commented on #1912
This seems like the most sensible solution to me. I'm not sure why you think this solution is more complicated. In the current implementation, whenever we process a Pod, we already iterate through all Services:
https://github.com/vmware-tanzu/antrea/blob/347de8266882f92dea4654be980b27dedda63881/pkg/agent/nodeportlocal/k8s/npl_controller.go#L263-L281

It would be easy to have this function return t

[2021-03-03 02:36] tnqn commented on #1924
I think you mean having another API path but use the same struct, like "/v1alpha1/egressgroups" will get the new set of AppliedToGroup. However, clientset code is generated based on the name of the struct or the "resourceName" tag of the struct. I think it won't work if we use same struct in same API group as the paths in the generated clientset will be exactly same.

And what do you think the fir

[2021-03-03 03:41] antoninbas commented on #1931
@hongliangl could you clarify what happens for Host ClusterIP access when the endpoints for the Service are not in the Pod Network (they can be host IPs, e.g. for the `antrea` Service, or even external IPs)? How do we guarantee that the return traffic goes through AntreaProxy in this case (for reverse translation). I think @ruicao93 brought this up at the community meeting yesterday, as he had a s

[2021-03-03 03:44] monotosh-avi commented on #1912
@antoninbas I was concerned about the implementation in case we need to keep track of a target port being used by multiple services, but looks like it won't involve extensive changes. In any case, we should be able to implement this.

About the usability improvement, I think we don't need the service name in the Pod annotation, because in that case the annotation can get big, if a Pod is being ref

[2021-03-03 06:43] ruicao93 opened #1934 "[WIP][Windows]Antrea Proxy NodePort Service Support"
## Problem
We has already implemented ClusterIP Service support (Pod) with antrea-proxy, but Kube-Proxy is still needed for NodePort services.

On Windows there're no native kit like `Netfilter + Iptables` which can help to filter/redirect/nat packets in kernel. Use 3rd tools will need to install additional network drivers.

As we know, kube-proxy on Windows currently runs in user space which is i

[2021-03-03 06:55] ruicao93 opened #1935 "[WIP][Windows] Remove the dependency on kube-proxy"
## Problem
Currently, Antrea on Windows replies on kube-proxy to provide NodePort Service and ClusterIP Service from host. It has been implemented to access ClusterIP Service from Pod. By removing the kube-proxy and implementing the related functions with antrea-proxy, we could take full control of the traffic and make it more efficient. This design is going reuse some implementations already done

[2021-03-03 23:49] anfernee commented on #1894
Actually the OS version information might not be accurate. I've run the following commands with different results. I attach all the results here:
[code]

[2021-03-04 16:57] daschott commented on #1894
@anfernee no worries, we know from Get-Hotfix that OS build is 17763.1282. Get-Hotfix output is sufficient in this regard.

hal.dll is not representative of overall OS version.

FYI you can view full OS version including UBR value indicating patch status using `winver` command. In headless environment, you can determine OS version and UBR values using:
`(Get-ItemProperty 'HKLM:\SOFTWARE\Microsoft\

[2021-03-05 01:33] antoninbas commented on #450
The `antrea/antrea-ubuntu` Docker image is not a multi-arch manifest that supports amd64, arm64, and arm/v7. The only remaining item before we can close this issue is to update the documentation in time for the 0.14 / 1.0 release.

[2021-03-05 01:38] antoninbas commented on #1725
@vicky-liu I think Alpha vs Beta here should be more about the stability of the API and less about the robustness of the implementation. @Dyanngg do we still have changes planned to the policy API in the short term, and are any of them non backwards compatible?

[2021-03-05 04:34] vicky-liu commented on #1725
@antoninbas @jianjuns , I'm afraid we cannt make Antrea proxy totally replace kube-proxy for Windows as the design is not ready for now. Regarding linux,  the design and PoC is ready, but the work breakdown and effort estimation still need time to clarify. I think for Antrea 1.0, we can allow Antrea proxy co-exist with Kube-proxy?

[2021-03-05 04:36] jianjuns commented on #1725
That is fine in my mind. Anyway, I do not think we can remove kube-proxy for the majority of deployments.

[2021-03-05 04:55] Dyanngg commented on #1725
As discussed with @antoninbas offline, there is a `namespaceSelector -> namespaces` upgrade we want to introduce to the Antrea ClusterNetworkPolicy peers, which would be a breaking change and a rather sizable effort.  This is to keep parity with our ClusterNetworkPolicy KEP proposal, as well as giving user to ability to specify a per-namespace rule in a single policy. The goal is captured by #1642

[2021-03-05 05:18] jianjuns commented on #1725
I think we should revise AppliedTo of NetworkPolicy, which will be an incompatible change. But I agree it might not really impact 1.0.

[2021-03-05 07:09] anfernee commented on #1894
Applying the latest windows hotfixes fixed the issue. Verified on `10.0.17763.1790`. Thanks @daschott @ruicao93!!

[2021-03-05 07:09] #1894 closed

[2021-03-05 14:15] tnqn commented on #1931
Some update about open questions from community meetings:
1. Is the MASQUERADE action necessary? Yes, @hongliangl verified that the source address was selected based on the main route table before packets processed by netfilter where we match ipset and set mark to apply policy routing.
2. Can antrea-controller rely on AntreaProxy's service proxying instead of adding a configuration to connect kube

[2021-03-05 15:09] hongliangl commented on #1931
The implementation for host IPs is a little complicated, and I'll explain it later in detail.

[2021-03-05 19:27] jianjuns commented on #1931
Again I feel we should come up with a single approach to redirect matched host traffic to OVS. Later we will that for Node security policies (but it can be different in that most Node traffic should be directed to OVS) too.

[2021-03-05 19:29] Dyanngg opened #1941 "ACNP: replace NamespaceSelector with Namespaces for policy peers"
**Describe what you are trying to solve**
Users want to reduce the management overhead of security policies by writing succinct Antrea-native policies. For example, a namespace isolation policy for the entire cluster (inter-ns deny, intra-ns allow), currently users must create a default-allow policy per Namespace instead of a single Cluster scoped policy. This is due to the fact that the ACNP is n

[2021-03-05 19:29] Dyanngg commented on #1642
superseded by #1941

[2021-03-05 19:29] #1642 closed

[2021-03-06 03:00] #1926 closed

[2021-03-07 00:09] #424 closed

[2021-03-08 12:32] shadowlan commented on #740
what I got from IBM IKS network team is "CNI plugin is installed and managed by IBM. The customer doesn’t have any option to replace it.", which means it won't be possible to deploy Antrea as CNI plugin... 😞

[2021-03-08 17:25] hongliangl commented on #1931
For endpoint in remote host network. E.g,
  * SRC: 192.168.77.100:12345 DST: 10.96.0.1:8080. In host network, packets will be marked 0x21 in mangle table PREROUTING chain.
  * SRC: 10.0.1.1:12345 DST: 10.96.0.1:8080. In host network, packets will be masqueraded matching mark 0x21 in POSTROUTING chain on host network after routing to antrea-gw0. 10.0.1.1 is the IP address of antrea-gw0.
  * SRC: 10

[2021-03-09 00:09] #284 closed

[2021-03-09 06:20] shadowlan commented on #740
ah, yes, I shouldn't say it's impossible to deploy Antrea, for deployment perspective, I guess it may work, but they mentioned it will break things by using different CNI. I am trying to get the answer what's kind of thing will be broken if using other CNI.

[2021-03-10 00:09] #338 closed

[2021-03-10 01:30] srikartati commented on #1637
This is done for Flow Exporter but not for Flow Aggregator. Reopening to track the task for Flow Aggregator.

[2021-03-10 01:37] antoninbas commented on #1637
What's the current behavior for the FlowAggregator? Periodic export?

[2021-03-10 05:18] srikartati commented on #1637
Yes, that's correct. It is the same as old behavior.

[2021-03-11 02:39] tnqn opened #1945 "Move mutable configmap out of deployment manifest?"
**Describe the bug**
Not all deployment tools use 3-way merging, for instance [kapp](https://github.com/vmware-tanzu/carvel-kapp), see https://github.com/vmware-tanzu/carvel-kapp/issues/58 for details.

When users use above tools to deploy Antrea, the content of ConfigMap "antrea-ca", "antrea-cluster-identity" will be overwritten by deployment tools after Antrea updates them, causing problems. Unl

[2021-03-12 01:43] antoninbas commented on #1945
I am fine with the proposed change, but wouldn't classify this issue as a bug. It's more of an improvement that we want to make so that we can play along more nicely with kapp.

We probably should include the FlowAggregator ConfigMap (`flow-aggregator-ca`) as well?

[2021-03-12 05:01] tnqn commented on #1945
I agree. I didn't add the bug label intentionally but didn't find more appropriate choice in https://github.com/vmware-tanzu/antrea/issues/new/choose, I just removed the label manually.

[2021-03-13 00:25] #1692 closed

[2021-03-14 00:09] #513 closed

[2021-03-14 11:52] ruicao93 opened #1954 "[WIP][Windows] Support ClusterIP service access from host on Windows in antrea-proxy"
**Describe what you are trying to solve**
Support ClusterIP service access from host on Windows in antrea-proxy

**Describe the solution you have in mind**
Currently,

With kube-proxy disabled:
1. Pod --> ClusterIP service (AntreaProxy)
2. On Windows node -->  ClusterIP service (Kube-proxy)   <======== We propose to remove the kube-proxy dependency.

![clusterip_design](https://user-images.githubu

[2021-03-15 11:58] tnqn opened #1956 "e2e cases failed quite often after testing TestFlowAggregator"
**Describe the bug**
Many e2e tests failed after testing TestFlowAggregator regardless of where it ran:
Jenkins tests:
https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/2180/console
https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/2181/console
Kind tests:
https://pipelines.actions.githubusercontent.com/rI6se88BdHGIt3c6pWSIOE7hniT9sK2Yykq02f3adUskIOWLhd/_apis/pipelines/

[2021-03-15 17:46] srikartati commented on #1956
Thanks @tnqn for reporting this. This may have caused by #1898
Looking into this closely to figure out the exact reason.

[2021-03-15 17:48] jayunit100 opened #1957 "windows: Kubelet not registering as up, even though antrea is running"
1) The windows antrea has a conflist written:

[code]

2) However, the kubelet continues to post that the cni isnt initialized yet

[code]

Ive filed this as an antrea issue , because im assuming something peculiar is going on w the way we write the antrea.conflist out?

[2021-03-15 22:06] antoninbas commented on #1957
@jayunit100 could you share the following information:
* contents of `C:\opt\cni\bin\` on that host
* kubelet command-line parameters for that host
* which container runtime is used

[2021-03-15 22:17] jayunit100 commented on #1957
I guess the issue i was seeing , was that somehow my image was pointing to

c:/program files/containers

fixed

[2021-03-15 22:17] jayunit100 commented on #1957
something is inconsistent between image-builder, sig-windows-tools ... ill follow on elsehwere, closing thanks :)

[2021-03-15 22:20] #1957 closed

[2021-03-16 03:26] srikartati commented on #1956
Flow aggregator starting with no sleep affects only its yaml, but in this case, flow aggregator started fine and the error is related to Antrea Agent not restarting again properly during `TestFlowAggregator` or after the test. Need to look at logs to see why Antrea Deamonset did not come up properly.

[code]

Tried to reproduce this locally to get hold of agent logs when the error has occurred, bu

[2021-03-16 09:09] ruicao93 commented on #1737
Applying the latest windows hotfixes should could fix the issue per #1894.

[2021-03-16 09:09] #1737 closed

[2021-03-16 09:09] #1873 closed

[2021-03-16 10:22] hty690 commented on #1945
Maybe I can work on this issue.

[2021-03-16 10:36] tnqn commented on #1945
@hty690 thanks, please let me know if more information is required for you to understand how to resolve it.
Please take care of all "mutable" configmap that are used in Antrea.

[2021-03-17 00:38] srikartati commented on #1956
By dumping the describe output when error happens, I see that the antrea-agent container goes into `crashloopbackoff` state and doesn't start again :
 Warning  Unhealthy  5s (x8 over 75s)  kubelet, antrea-e2e-for-pull-request-2200-5g9kg  Readiness probe failed: Get "https://localhost:10350/readyz": dial tcp 127.0.0.1:10350: connect: connection refused

I think the root cause is the non-availabilit

[2021-03-17 03:38] srikartati commented on #1956
Log prior to the crash shows that DNS resolution error:
[code]
Backtrace that caused the agent to crash is following:

[code]

The reason is with the code for checking the interface to be nil. The interface is not nil, even though the object typecasted by the interface is nil. This led to illegal check and crash. Fixed it using reflect package.

[2021-03-17 17:18] srikartati commented on #1956
Summarizing the fix here: There are two bugs here.
1. Eetching certificates right before connecting to the flow aggregator service during the retries.
2. If there is any issue is creating an exporter connection to the flow aggregator (because of prior bug or unavailability of service leading to DNS failure). This leads to Antrea agent crash.

Fixed those in #1959

[2021-03-17 17:52] tnqn commented on #1924
@jianjuns Given the fact that all agents need to watch all Egresses and there shouldn't be overlapped groups for Egress, I found there is no much value to have a controlplane Egress API as we could just create a EgressGroup with the same name as the Egress resource (just like Service and Endpoint), then use the Egress's name to get its group on agent side to save many code (the controller in antre

[2021-03-17 17:59] jianjuns commented on #1924
I am fine to watch Egresses directly from K8s API for now. We can decide what to do later (when we have another solution to discover/assign SNAT IPs).

[2021-03-17 19:28] srikartati opened #1966 "Add generic APIserver in Flow Aggregator"
**Describe what you are trying to solve**
Support display of flows records or flow logs from Flow Aggregator through `antctl` (CLI support)

**Describe the solution you have in mind**
This problem can be solved by adding the generic API server endpoint in the Flow Aggregator. It provides REST API endpoint to communicate with `antctl`.

**Describe how your solution impacts user flows**
The user exp

[2021-03-17 20:01] #1956 closed

[2021-03-17 21:39] GraysonWu opened #1967 "Change from `netcat` to `agnhost` in E2E test."
**Describe what you are trying to solve**
Currently, in E2E test, we are using `netcat` to test the connectivity between Pods. But after adding `Reject`, we should distinguish different errors, not only true or false. We should know the failure of a request is caused by `Drop` or `Reject`.
Also in UDP cases, `netcat` can't tell the differences between `Allow` and `Drop`. From the client-side, no m

[2021-03-18 04:19] #822 closed

[2021-03-18 05:16] tnqn opened #1970 "Jenkins tests sometimes failed when delivering Antrea to Nodes"
**Describe the bug**
For instance: https://jenkins.antrea-ci.rocks/job/antrea-conformance-for-pull-request/1896/console
[code]
This seems easy to avoid by making the script more robust.

[2021-03-18 20:50] antoninbas commented on #1966
@srikartati I'm confused by this issue. I just want to confirm that there is no impact on how IPFIX records are delivered from the FLowExporter to the FlowAggregator? In other words, this will not leverage the new apiserver running in the FlowAggregator?

You still need to be able to update the certificate used by the server in go-ipfix when there is a rotation. I don't think adding an apiserver h

[2021-03-19 02:08] lzhecheng opened #1975 "[Upgrade] Flaky e2e tests with VMC K8s v1.20.1"
**Describe the bug**
The uprade of VMC testbeds to v1.20.1 is being tested in this PR #1958. With no code change, the failed e2e tests are frequent and random. I looked into the test logs and it turns out that the cause is `antrea-test` namespace deleting issue.
E.g.
`Error when creating busybox test Pod 'test-pod-0rys3596': pods "test-pod-0rys3596" is forbidden: unable to create new content in na

[2021-03-19 06:48] ceclinux opened #1976 "Miscalculation of Packats for e2e test TestNetworkPolicy"
**Describe the bug**

Sometimes, incorrect packet count was given by  e2e test `TestNetworkPolicy` .
For instance, in Github checks https://github.com/vmware-tanzu/antrea/runs/2144170609?check_suite_focus=true
[code]
In the example above, `40` packets were counted as allowed packet for Networkpolicy `test-networkpolicy-ingress`, while  `60` packets were counted as allowed packet for Networkpolicy

[2021-03-19 11:38] #1970 closed

[2021-03-19 21:51] srikartati commented on #1966
Thanks for the comments and insights @antoninbas
With this proposal, we do not expect any impact on how the flow records are communicated between the flow exporter and the flow aggregator.

We did not pay complete attention to the certificate rotation part yet. We will investigate more to see if resetting the connection is ok or we should do something similar to K8s dynamiccertificates package at

[2021-03-22 03:35] alex-vmw commented on #891
/lm remove, lifecycle/stale

[2021-03-22 09:39] perithompson opened #1979 "Remove dependancy on statically assigned NodeIP on Windows"
**Describe the problem/challenge you have**
Currently, when creating windows nodes there is a requirement to append --node-ip=$NODE_IP to the kubelet arguments.

When using Cluster API nodes are assigned a dynamic IP address, because these are not statically assigned, when the IP address changes the Windows node will break and manual intervention is needed to get the node back online.

**Describe

[2021-03-22 09:40] perithompson commented on #1979
/cc @lzhecheng @ruicao93

[2021-03-22 21:36] antoninbas commented on #1979
@perithompson could you clarify the expectation here?

That seems unrelated to using Antrea or even Windows Nodes

Antrea relies on the InternalIP for the Node being set (read from the K8s API). This value indeeds come from kubelet's `--node-ip` when it is provided. I believe that otherwise it will be defaulted to the IP address for the Node's default interface.

If you do not provide `--node-ip`

[2021-03-22 21:44] perithompson commented on #1979
Thanks @antoninbas, I will test tomorrow although the windows docs for antrea make it seem that the --node-ip is a mandatory addition if it isn't then I'm happy to not set it. Will give this a go...

[2021-03-22 21:48] antoninbas commented on #1979
You typically want to provide `--node-ip` when you have multiple networks on your Node. This is the case for my K8s Linux testbeds typically (public NATed network for Internet access and private network for K8s traffic). On Windows, however, we currently assume (in the datapath implementation) that a single network is used, so we should be able to remove `--node-ip` from the instructions, assuming

[2021-03-22 21:54] perithompson commented on #1979
How does antrea typically handle cluster API clusters on Linux as that seems to be DHCP nodes by default but manually setting this in a file seems like this would be a problem with ephemeral nodes?

[2021-03-22 22:07] antoninbas commented on #1979
@perithompson I didn't check anything, but I believe kubelet detects the default interface (using the default route on the Node), and uses the IP of that interface as the Node's InternalIP, which is then consumed by Antrea. That's not specific to ClusterAPI, and that works as long as the default network is the one you want to use for K8s. If you have an existing ClusterAPI cluster where you can SS

[2021-03-22 22:36] GraysonWu commented on #1967
Currently, we use TCP reset as reject responses for TCP requests, and ICMP `Communication with Destination Host is Administratively Prohibited` (Type 3 Code 10) for all other protocols.

With current protocols, the behavior of `agnhost`:

- For TCP cases, it will return `TIMEOUT` for `Drop` and `REFUSED` for `Reject`. Everything works as we expect.

- For UDP cases, it will return `TIMEOUT` for `D

[2021-03-22 23:32] antoninbas commented on #1967
@GraysonWu typically I would say that we shouldn't change our response for the sake of testing simplicity, but things may be a bit different here. For example, if the Linux implementation of SCTP ignores our ICMP message (ICMP Type 3 Code 10), then one has to wonder if our Reject implementation is useful, as the application would not be noticed of the issue. However, "Destination protocol unreacha

[2021-03-23 00:05] GraysonWu commented on #1967
Cool. So I will keep the current reject impl and just test UDP in our E2E test.
About your last question: because in the impl of NSX-T, they use type 3 code 10. We were trying to follow it.

[2021-03-23 00:09] #431 closed

[2021-03-23 00:15] antoninbas commented on #684
We no longer use `apiextensions.k8s.io/v1beta1`

[2021-03-23 00:15] #684 closed

[2021-03-23 02:25] lzhecheng commented on #1979
@antoninbas I checked those windows cluster used by CI. The node-ip seems unnecessary.
[code]
@perithompson I was not sure the situation when @ruicao93 wrote the windows doc. But I think it is ok to add something in the doc like `If you want to specify the node-ip used by the Windows Node, you can set --node-ip in kubeadm-flags.env` before the instruction to append `--node-ip` to `kubeadm-flags.en

[2021-03-23 02:27] antoninbas commented on #1979
@lzhecheng thanks for checking. Yes I think we can update the documentation as you suggested.

[2021-03-23 03:09] gran-vmv opened #1982 "Multi-cluster support"
**Describe what you are trying to solve**
Multi-cluster feature provides native Pod IP routing, Global Service discovery and NetworkPolicy enforcement across multiple Kubernetes clusters.

**Describe the solution you have in mind**
Add a separate controller to watch resources in remote Clusters in every Antrea controller/agents, and extend NodeRoute, Proxy, NetworkPolicy controller to support reso

[2021-03-23 07:28] perithompson commented on #1979
Random idea, would adding an optional parameter in the config map that allows setting which interface Id you want to use for the nodeip, that way you could allow the agent to determine the node IP dynamically even when more than one interface exists? Not important but thought I'd mention it

[2021-03-23 20:56] antoninbas commented on #1979
I think that there is still some misunderstanding here. Basically K8s "requires" this IP: either you provide it manually or it will try to determine it manually. Antrea simply gets the IP from K8s. There is no need for the Agent to determine the IP, this logic lives in kubelet. So you are talking about kubelet changes, not Antrea changes.

The logic is in this file if you want to look: https://git

[2021-03-23 22:13] antoninbas commented on #819
Closing this issue since we have had such a job for a while: https://jenkins.antrea-ci.rocks/view/antrea/job/antrea-daily-whole-conformance-for-period/

[2021-03-23 22:13] #819 closed

[2021-03-24 00:08] antoninbas opened #1986 "Does the flow-aggregator image need to depend on antrea/base-ubuntu?"
I just realized that `antrea/flow-aggregator` depends on `antrea/base-ubuntu`

https://github.com/vmware-tanzu/antrea/blob/e99a0bf37f71695dc21a48dfd9cd7556fa6bed20/build/images/flow-aggregator/Dockerfile#L9

This makes the image larger than it needs to be, and it also means that unneeded dependencies are included (python, OVS, ...).  It seems to me that we could easily make the image distroless, i

[2021-03-24 00:09] antoninbas commented on #1986
@srikartati please comment. If there is no reason to keep using `antrea/base-ubuntu:2.14.0 `, we can tag this as a "good first issue" in case someone wants to take a stab at making the flow-aggregator image distroless.

[2021-03-24 00:09] #364 closed

[2021-03-24 01:40] srikartati commented on #1986
There are no dependencies on Python, OVS etc. Currently, we just need flow aggregator binary to be compiled in go. We may have to add a local volume as a persistent volume to enable a feature that restores flow records upon restarts. I do not think we need any distro dependencies for doing this.

Switching to distroless image sounds good to me.

[2021-03-24 09:01] luolanzone opened #1988 "Add Traceflow IPv6 support for antctl"
**Describe the problem/challenge you have**
antrea traceflow already supports ipv6, but antctl is without such feature.

**Describe the solution you'd like**
add a new option in antctl traceflow to support ipv6

**Anything else you would like to add?**
N/A

[2021-03-24 15:39] tnqn opened #1989 "Packet metadata missing in logs when Antrea NetworkPolicy logging is enabled for IPv6 cluster"
**Describe the bug**
This happened in an IPv6 cluster. The packets hit the drop rule which has logging enabled. However, packet metadatas were missing in the log.
[code]

**To Reproduce**

1. Create an IPv6 cluster
2. Create an Antrea NetworkPolicy with drop rule
3. Send traffic which will hit the drop rule
4. Check the log

**Versions:**
Please provide the following information:
 - Antrea version

[2021-03-24 19:20] perithompson commented on #1979
Oh got it, interesting! Thanks @antoninbas!

[2021-03-24 21:07] antoninbas commented on #1989
Thanks Quan. I can take this if no one is already looking at it.

[2021-03-25 00:20] antoninbas opened #1991 "The Antrea-native policy e2e tests are never run in an IPv6 cluster"
Because of https://github.com/vmware-tanzu/antrea/issues/1989, I became aware that the Antrea-native policy e2e tests are never run in an IPv6 cluster.

We need an "ipv6-only-all-features-e2e" jobs to run the e2e tests in an IPv6 cluster with all features (and in particular AntreaPolicy) enabled. "ipv6-only" because at this time a single-stack IPv6 cluster (and not a dual-stack cluster) should be

[2021-03-25 00:27] antoninbas opened #1992 "Antrea-native e2e test framework should have better support for dual-stack clusters"
While writing-up #1991, I realized that the framework only looks at `pod.Status.PodIP` when determining the IP address of a Pod. This IP address is then used to run "probes" which test connectivity between Pods and validate the implementation of Antrea-native policies.

These tests should be changed to support validating the implementation of policies in a dual-stack cluster. In a dual-stack clust

[2021-03-25 05:21] tnqn commented on #1536
Fixed by #1723

[2021-03-25 05:21] #1536 closed

[2021-03-25 21:25] GraysonWu commented on #1992
I can take this up.

[2021-03-25 21:49] #1989 closed

[2021-03-26 11:35] dantingl opened #2002 "Antrea CNI returns wrong response format in networkPolicyOnly mode"
**Describe the bug**
A clear and concise description of what the bug is.
If you believe this bug is a security issue, please don't use this template and follow our [security guidelines](/SECURITY.md)

Running antrea in CNI chain +  mode, antrea CNI response is wrong. containerd has "failed to find network info for sandbox" error, pod is stuck in creating state.

**To Reproduce**
Steps to reproduce

[2021-03-26 11:39] tnqn commented on #2002
@dantingl thanks for reporting it, I believe the issue will cause Antrea's networkpolicy mode not working with containerd and all other container runtimes that respect CNI response, would you like to create a patch for it?

[2021-03-27 02:03] antoninbas opened #2003 "OVS leak log file when rotating logs"
**Describe the bug**
One of our users reported an issue with log rotation in Antrea. I tracked it down to an issue in Open vSwitch. When using log rotation with OVS (OVS ships with configuration files for logrotate for multiple distributions), if monitoring is used for the ovs-vswitchd and ovsdb-server daemons, the first log file is "leaked". Antrea relies on logrotate to rotate the OVS log files

[2021-03-29 17:58] #1967 closed

[2021-03-29 20:25] antoninbas opened #2007 "CVE-2021-3449 (openssl)"
*This issue is informational only, and does not require any action from the Antrea Community. Antrea is not affected by CVE-2021-3449.*

The Clair security scan of the latest released version of the Antrea container image (v0.13.1) warns that it is affected by [CVE-2021-3449](https://nvd.nist.gov/vuln/detail/CVE-2021-3449). This CVE was published on 03/25/2021.

The fix for this CVE was backported

[2021-03-29 20:26] #2007 closed

[2021-03-29 22:42] #1986 closed

[2021-03-30 00:50] #391 closed

[2021-03-30 05:24] madhukark opened #2010 "A way to get list of FeatureGates that are enabled (set to True)"
Hello,

Currently, the only way to know which of the FeatureGates are enabled is by looking at the manifest file. Would be good to have a way (antctl perhaps) to get which of the FeatureGates have been set to True.

This would be useful for troubleshooting as well.

[2021-03-30 20:02] anfernee opened #2013 "antrea-agent failed to start on windows"
**Describe the bug**
antrea-agent failed to start on windows with the following error:
[code]

One difference from the windows guide is that I ran antrea-agent and kube-proxy as windows service directly in root namespace, not as a daemonset pod.

**To Reproduce**
Actually I am trying to add antrea support in kubernetes's `kube-up` script. This is how I found this problem. It's still a working in p

[2021-03-30 22:22] antoninbas commented on #2013
@anfernee are you aware of this PR which updates the documentation to run antrea as a Windows service: https://github.com/vmware-tanzu/antrea/pull/1874/files. Maybe it will help you?

@lzhecheng could you help triage the issue?

[2021-03-30 23:00] #1945 closed

[2021-03-30 23:04] antoninbas commented on #1979
We'll close this issue when the documentation has been updated

[2021-03-30 23:05] anfernee commented on #2013
@antoninbas Thanks for the doc. I am not aware of the change. I did essentially the same or equivalent thing as described in the doc.

[2021-03-30 23:06] antoninbas commented on #1761
Closing this issue, we run cyclonus daily as part of CI

[2021-03-30 23:06] #1761 closed

[2021-03-30 23:08] antoninbas commented on #2013
@anfernee Thanks, I am hoping that @lzhecheng can reproduce the issue

[2021-03-30 23:17] antoninbas opened #2014 "Reduce runtime of Antrea e2e tests"
As we add more features and more tests, the runtime of tests has been increasing steadily.
We should review the test suite and investigate the following:
* are there some obvious changes that can be made to speed up tests, notably in setup & teardown?
* can some tests be run in parallel, e.g. by using separate test namespace instead of a single one? Maybe tests can be grouped by feature (e.g. Node

[2021-03-31 00:41] lzhecheng commented on #2013
I will look into it.

[2021-03-31 02:26] lzhecheng commented on #2013
@anfernee I searched this error and it seems to be a common issue.
https://github.com/moby/moby/issues/40621
https://github.com/moby/moby/issues/40998

Newer OS may introduce this issue. Can you try to uninstall some patch first?
https://github.com/moby/moby/issues/40998#issuecomment-634682489
https://github.com/moby/moby/issues/40998#issuecomment-634411279

My Windows version is 17763.1457, sligh

[2021-03-31 04:39] anfernee commented on #2013
It's pretty concerning if newer os image would introduce the issue. I've seen other issues, and microsoft guys recommended to install the latest patches which fixed those issues. It's like a moving target now.

I think we should provide something like support matrix for windows, or a recommended windows version and patches to install (or not to install), so users know in advance what to choose and

[2021-03-31 16:29] anfernee commented on #2013
This seems very os version dependent. can you help address this issue on the newer windows?

[2021-04-01 01:03] #326 closed

[2021-04-01 01:37] lzhecheng commented on #2013
@anfernee yes, I will try.

[2021-04-01 03:50] lzhecheng opened #2017 "[CI][Windows] Add e2e tests for Windows setup"
**Describe the problem/challenge you have**
There's no Windows e2e tests so far. Such customized tests are good for verifying Antrea Windows functions and easier to run for developers compared with conformance ones.

**Describe the solution you'd like**
- [x] A new Windows testbed. We have 2 for Windows tests so far (conformance & networkpolicy). An extra one can make sure test time is acceptable.

[2021-04-01 05:20] anfernee commented on #2013
Thanks @lzhecheng  This https://github.com/kubernetes/kubernetes/pull/100736 will help reproduce the issue.

[2021-04-01 19:09] anfernee opened #2020 "Document Antrea deployment guide with MetalLB"
Missing documentation for MetalLB solution. There was #322 but it was closed.

[2021-04-01 19:37] anfernee opened #2021 "Verify that Antrea works on COS image"
**Describe the bug**
For kubernetes's kube-up to support both Linux and Windows, please verify that Antrea works on COS images.

**Additional context**
https://github.com/kubernetes/kubernetes/pull/100736 is the change for antrea to support kube-up in windows node.

[2021-04-01 20:57] antoninbas commented on #2021
I can give this a try. Could be something basic. Last time I checked, COS did come with the OVS kernel module, but maybe I'm confused...

[2021-04-01 22:15] antoninbas opened #2022 "Running Antrea-native e2e policy tests more than once (using `-count`) does not work"
**Describe the bug**
Running the following command (as an example) does not work:
[code]

**To Reproduce**
Run any subset of `TestAntreaPolicy` tests with a `-count` command line parameter greater than 1.

**Expected**
Tests should run twice and all succeed.

**Actual behavior**
Second run of tests fail with some very strange behavior:
[code]
Notice how the test framework believe we have 18 Pods i

[2021-04-01 23:49] hongliangl commented on #2022
I have encountered this problem and have fixed it in #1799.

[2021-04-01 23:53] antoninbas commented on #2022
Thanks @hongliangl please close this issue when your PR is merged

[2021-04-02 00:30] #2022 closed

[2021-04-02 01:07] andrewsykim opened #2023 "Implement Service Internal Traffic Policy"
**Describe the solution you'd like**
Kubernetes v1.21 will introduce alpha implementation of [Service Internal Traffic Policy](https://github.com/kubernetes/kubernetes/pull/96600). This allows node-local routing of cluster IPs. Antrea proxy should implement this API when/if it gets promoted to Beta.

**Anything else you would like to add?**
Anything else which is relevant and may help us understan

[2021-04-02 02:09] antoninbas commented on #2021
@anfernee I have confirmed that there is no openvswitch kernel module present for COS:
[code]
That makes is pretty much impossible to run Antrea on COS nodes. That's unfortunate...

[2021-04-02 02:29] GraysonWu opened #2025 "TCP rejection can't work on Kind when the traffic mode is noEncap"
**Describe the problem/challenge you have**

When exec E2E test, the test case `TestAntreaPolicy/TestGroupNoK8sNP/Case=ACNPRejectIngress` which is testing if `Reject` can work on TCP traffic always fails when enabling AntreaPolicy in noEncap mode. Some connections that should be rejected are observed as dropped. But it doesn't fail when testing it on the local vagrant testbed.

When manually test

[2021-04-02 16:05] anfernee commented on #2021
Thanks for the investigation, @antoninbas

[2021-04-02 18:28] antoninbas commented on #1540
This issue can be considered fixed. We now build all base images (leveraging Docker caching to reduce build times) for all Github workflows and Jenkins jobs.

[2021-04-02 18:28] #1540 closed

[2021-04-02 20:40] antoninbas commented on #2025
To be clear, it's a similar situation as https://ask.openstack.org/en/question/28300/iptables-invalid-rule-preventing-rst-packets-on-closed-ports-between-vms/, but not quite the same.

The TCP RST packet does go twice through conntrack for some reason, which seems related to the fact that we use an extra netdev bridge (br-phy) attached to a physical interface (eth0). I have confirmed this by addin

[2021-04-02 20:46] GraysonWu commented on #2025
Thanks @antoninbas for adding these helpful details. Yeah, we could try that later.

[2021-04-03 00:07] Dyanngg commented on #1227
fixed by #1335

[2021-04-03 00:07] #1227 closed

[2021-04-05 17:10] jianjuns commented on #2023
@hongliangl

[2021-04-05 17:13] jianjuns commented on #2021
But @anfernee - could you help pushing COS to add OVS module?

I think kube-up can work with Ubuntu image too?

[2021-04-05 17:17] jianjuns commented on #2014
We should consider:

It can be for test cases in a single test too.

And maybe no need to repeat some tests in all modes (noEncap, hybrid, encap, ANP, noProxy, etc.). For ANP, could we always enable it? Of course these might not really save runtime as they run in parallel.

[2021-04-05 17:18] jianjuns commented on #2010
An antctl command makes sense to me.

[2021-04-05 17:21] jianjuns commented on #2003
So, this should be a fix in OVS monitoring script?

[2021-04-05 17:24] jianjuns commented on #1982
As we discussed, I feel we should align with K8s multi-cluster service API: https://github.com/kubernetes-sigs/mcs-api

[2021-04-05 18:40] jianjuns opened #2030 "Support tracing live traffic in Traceflow"
**Describe what you are trying to solve**
Support tracing real traffic going on between Pods, besides tracing the injected Traceflow packet.
Collect the captured packet headers for live-traffic tracing.
Support tracing only the packets dropped by NetworkPolicies.

Examples:
* I like to trace the TCP packet from Pod1 to Service1.
* I like to trace the first UDP packet from Pod1 in 10 minutes, and c

[2021-04-05 18:46] jianjuns commented on #2030
- [x] Support live-traffic Traceflow (#2005)
- [x] Support configurable Traceflow timeout (#2025)
- [x] Enhance antctl traceflow command to support live-traffic Traceflow (#2025)
- [x] Report captured packet information and support capturing only dropped packet (#2029)
- [] Support live-traffic Tracflow for specific traffic from any Source or a source IP to a particular destination Pod
- [] Extend

[2021-04-05 21:04] antoninbas commented on #2003
@jianjuns yes, this needs to be fixed in OVS. I cannot think of any workaround we can do in Antrea: the monitor processes need to re-open their log files (like the main OVS daemons), otherwise the file can never be deleted by the OS. Fortunately that's only a 100MB "leak" with the default log rotation settings. It also means that the logging for the monitor processes is broken (they don't log to t

[2021-04-06 01:44] #1350 closed

[2021-04-06 01:45] antoninbas commented on #1715
Take care of in https://github.com/vmware-tanzu/antrea/pull/1799

[2021-04-06 01:45] #1715 closed

[2021-04-06 02:03] antoninbas commented on #1988
@luolanzone can this issue be closed? I see that you merged a related PR

[2021-04-06 02:05] luolanzone commented on #1988
@antoninbas yeah. this can be closed.

[2021-04-06 02:05] #1988 closed

[2021-04-06 17:50] antoninbas opened #2033 "No NetworkPolicy support for SCTP traffic on Kind"
**Describe the bug**
The OVS userspace conntrack implementation does not support SCTP. Since the userspace datapath (netdev) is used for Kind clusters and connection tracking is required for NetworkPolicy enforcement, it is not possible to run NetworkPolicy tests which involve SCTP traffic.

This is why at the moment we disabled the Antrea-native policy tests with SCTP when running e2e tests on a

[2021-04-07 00:46] GraysonWu opened #2035 "FlowAggregator e2e tests sometimes timed out."
**Describe the bug**
When we run `/test-ipv6-e2e` to trigger our CI job `jenkins-ipv6-ds-e2e`, the `TestFlowAggregator` sometimes times out. It's kind freaky.
For example, http://10.176.27.169:8080/job/antrea-ipv6-ds-e2e-for-pull-request/279, this is triggered by PR #2034, which only fixes some small bugs in the TraceFlow test. But all tests under `TestFlowAggregator/` fails.
The related log is be

[2021-04-07 01:15] antoninbas commented on #2002
Since we haven't heard from @dantingl, I can take care of this so we have a patch to include in v1.0

[2021-04-07 01:23] lzhecheng commented on #2035
@srikartati could you help take a look?

[2021-04-07 05:58] srikartati commented on #2035
Sure Zhecheng.
There are two aspects here. One is the failure itself and the timeout values when the failure happens.
1. These failures were observed on the dual-stack cluster in PR #1904 as well. Yiou fixed this in her PR. She observed that the test is passing consistently after the fix. Could you confirm this @zyiou?
2. Timeout values: `collectorCheckTimeout` value of 10s is high. This can be re

[2021-04-07 06:32] zyiou commented on #2035
The failure I had was kinda different: `wait.Poll` condition got passed but incorrect number of records were received (expecting 2 or more but only 1 was received). So I changed the wait condition to pass when 2 or more valid records are found.

I found this error message might be the reason:
[code]
Since all tests are failing, probably flow exporter does not start correctly.

[2021-04-07 14:23] luolanzone commented on #2010
A proposed antctl command and output will be like this, let me know if you have any other suggestion.
[code]

[2021-04-07 15:41] #1910 closed

[2021-04-07 16:22] jianjuns commented on #2010
Looks good to me. Maybe good to print the feature versions as well.

[2021-04-07 16:26] antoninbas commented on #2010
Can you think about agent mode vs controller mode?
What is the source of the information (ConfigMap vs conf file mounted to the Pod)? Does that depend on the antctl mode?
If the source is the ConfigMap (at least for controller mode), can we print the info for both Agent & Controller? It would enable us to spot discrepancies.

[2021-04-07 17:15] tnqn commented on #1924
All code changes have been merged, closing

[2021-04-07 17:15] #1924 closed

[2021-04-07 18:55] #1992 closed

[2021-04-07 18:56] #1902 closed

[2021-04-07 18:59] antoninbas commented on #450
Closing this issue. The Antrea v1.0 release is imminent. The documentation has already been updated in "main".

The process of deploying Antrea to a K8s cluster is the same, whether it uses x86 Nodes, ARM (arm64 or arm/v7) Nodes, or a mix of both.

[2021-04-07 18:59] #450 closed

[2021-04-07 22:01] #2002 closed

[2021-04-07 22:21] srikartati commented on #2035
Thanks, Yiou. This seems like an intermittent issue--I did not hit this when running tests as part of PR #2039. Tried running this multiple times with `count` argument locally as well.

I see that previous test cases have passed but as you pointed out in the following error that the Antrea agent is missing, but the same error was not there when configuring network policies in the other three test

[2021-04-07 22:32] antoninbas commented on #1852
Removing this from 1.0 milestone, since no one has picked it up

[2021-04-07 23:53] antoninbas commented on #1637
Removing from 1.0 milestone: FlowExporter has been completed for v1.0, FlowAggregator will be completed for v1.1

[2021-04-07 23:59] #1915 closed

[2021-04-08 00:48] srikartati commented on #2030
Hi Jianjun, Interesting feature with traceflow. Is it possible to capture this packet on the receiver node as well? I think this can be useful to figure out if the packet of a flow reached the destination or dropped somewhere in the underlay.

[2021-04-08 05:18] hty690 commented on #627
I can take on this job.

[2021-04-08 05:40] tnqn commented on #627
thanks @hty690

[2021-04-08 09:38] hongliangl commented on #2023
Thanks, this should be taken into account. Also thanks for reminding @jianjuns.

[2021-04-08 18:15] #1930 closed

[2021-04-08 18:59] srikartati commented on #2035
For reproducing this issue on dual-stack cluster as per discussion here: https://github.com/vmware-tanzu/antrea/pull/2039#issuecomment-815454616

@lzhecheng Is it possible to get a jenkins setup for dual-stack clusters?
@dreamtalen Do you know of ways to get a local setup with dual-stack cluster? I believe the vagrant setup has only single IPv6 cluster setup.

[2021-04-08 19:05] #1889 closed

[2021-04-08 19:56] dreamtalen commented on #2035
Hi Srikar, yes zhecheng helped me set up a dual-stack cluster before, will provide you with the cluster info offline.

[2021-04-08 21:38] zyiou opened #2049 "Support tcp state transitions in Flow Exporter"
**Describe what you are trying to solve**
Currently we support tcpState field in Flow Exporter from conntrack protoInfo for tcp. Since conntrack info is polled periodically, we are not able to observe all the states from conntrack. For example, in a short connection, the only state we may observe is `TIME_WAIT`. Useful tcp states like SYN, FIN, RST are missing.

**Describe the solution you have in

[2021-04-08 21:38] antoninbas opened #2050 "AntreaPolicy cannot be enabled on Windows"
**Describe the bug**
When AntreaPolicy is enabled on Windows, the Agent cannot start and enters a CrashLoopBackoff state because of the following issue:
[code]

**To Reproduce**
Deploy Antrea, with the AntreaPolicy feature enabled, in a K8s cluster with at least one Windows Node.

**Expected**
Antrea Agents on the Windows Node(s) should run successfully.

**Actual behavior**
Antrea Agents on the W

[2021-04-08 21:46] #1925 closed

[2021-04-08 23:40] poozza opened #2053 "Documentation for using Antrea with Rancher"
Documentation for Rancher support for Antrea CNI

**Describe the solution you'd like**
A description of what you want to happen.

**Anything else you would like to add?**
Anything else which is relevant and may help us understand the issue.

[2021-04-09 01:43] antoninbas opened #2056 "Can the Kibana dashboard decode the flowType to a string?"
**Describe the problem/challenge you have**
I was playing around with the latest flow visualization code. I realized that the Kibana dashboards we provide do not decode the flowType and display it as an integer:
![image](https://user-images.githubusercontent.com/2495809/114116664-edaeb480-9899-11eb-99cc-11ae26ed6600.png)

**Describe the solution you'd like**
Is it possible to transform it to a str

[2021-04-09 01:44] antoninbas opened #2057 "Add "area" Github labels for FlowExporter / FlowAggregator"
To facilitate issue triage.

[2021-04-09 01:50] antoninbas opened #2058 "Update "ELK Flow Collector" documentation to account for the FlowAggregator"
* The documentation (https://github.com/vmware-tanzu/antrea/blob/main/docs/network-flow-visibility.md#elk-flow-collector) should describe how to modify the FlowAggregator configuration: the logstash ClusterIP address should be used as `externalFlowCollectorAddr`
* The information about configuring `"interval"` in the logstash configuration seems outdated. The `Configuration` points to the FlowExpo

[2021-04-09 02:39] luolanzone commented on #2010
@antoninbas I was using feature package to get featuregates status, per my understanding, it's from conf file which have been parsed via option when agent/controller start. I tried it in controller container only, still working on it and will verify both on agent and controller.

[2021-04-09 03:27] tnqn opened #2060 "Support Egress feature for hybrid mode"
**Describe the bug**

Currently Egress feature didn't work for two Nodes in same subnet in hybrid case. The reason is:

- After the request packet is tunneled to the Egress Node and sent to its host network, reverse path filtering will drop the packet as the traffic comes from antrea-gw0 while it's on a route of one physical interface like eth0. rp_filter is set to strict mode in some distribution

[2021-04-09 03:32] #2050 closed

[2021-04-09 13:03] perithompson opened #2066 "Containerd Windows nodes RBAC"
**Describe the problem/challenge you have**
Clusterapi nodes are not able to automatically get kubeconfigs to run the CNI automatically on the creation of the nodes

**Describe the solution you'd like**
Can we set up some resource minimal permissions for the node to run kube-proxy and the antrea-agent on the host.

**Anything else you would like to add?**
The secrets are in kube-system so we just

[2021-04-09 17:28] srikartati commented on #2056
I think this is possible. Tagging @zyiou as she is more familiar with elk-flow-collector config code.

[2021-04-09 17:49] zyiou commented on #2056
Yes we can do that. Do we also need a new filter for flow type?

[2021-04-09 19:46] antoninbas opened #2069 "Rate limiting of PacketIn messages should be enforced in the dataplane"
**Describe the bug**
Antrea uses the PacketIn feature of OVS to redirect some packets from the datapath to the local controlplane (Agent). This is required to implement the following Antrea features:
* NetworkPolicy Audit Logging
* NetworkPolicy Reject Action
* Traceflow

In theory, it is possible for someone to generate a large amount of packets in the Pod network that will be sent as PacketIn me

[2021-04-09 20:55] GraysonWu commented on #2069
Thank you @antoninbas for describing this in such detail. Working on it.

[2021-04-09 21:45] srikartati commented on #2056
Yes, that would be good. However, in the current dashboard with Pod-To-Pod and Pod-To-Service flows, only `IntraNode` and `InterNode` are applicable. We need to think of ways to display Pod-To-External flows.

[2021-04-09 23:50] #1725 closed

[2021-04-13 00:41] antoninbas commented on #1979
@perithompson @lzhecheng I was experimenting a bit with Windows today and realized that the reality didn't fully match my expectations.

After joining Windows Node to the cluster, I got the following:
[code]

Both Nodes are on the same VPC subnet, and the IP address for the Windows Node is wrong. It should be `10.0.0.223` in my case, and not `30.0.50.233`, which happens to be a ClusterIP!!!

I thi

[2021-04-13 02:44] luolanzone commented on #2010
@jianjuns when you talk about the feature version, do you mean Alpha vs Beta? I can only see this kind of version as `PreRelease` field in code, for specific version like v0.10, it's a static comment in feature code file, I don't think there is a way to get this info, or we need to refine antrea_feature.go code.

[2021-04-13 02:55] jianjuns commented on #2010
Yes, I am talking about alpha, beta, etc.

[2021-04-13 04:19] jianjuns commented on #2030
Yes, it does trace the forwarding path from sender to receiver just like a normal Traceflow, but I meant only the sender will report the packet header info.

[2021-04-13 04:55] srikartati commented on #2030
Thanks Jianjun. What I meant is could the antrea agent on the receiver node also report these packet headers with a different traceflow request?
If I am not wrong, you seem to be adding that functionality in this PR: https://github.com/vmware-tanzu/antrea/pull/2068

[2021-04-13 05:03] jianjuns commented on #2030
So of now a sender/source Pod must be specified for a Traceflow, and then I feel it is good enough for only the sender to report packet headers (but the receiver will report NodeResult too which proves the packet is received on the receiver Node and is delivered to the destination Pod or dropped).
#2068 is to support capture a packet from any sender to a receiver, in which case only the receiver w

[2021-04-13 08:20] lzhecheng commented on #1979
@antoninbas I tried to reproduce what you saw but I found the `INTERNAL-IP` is the Node IP. I did see a new DnsName after a Service is created in a cluster with Windows Node via `Resolve-DnsName <Windows-Node-HostName>`.
Did you just join the Windows Node after a Linux cluster is set up with some Service? No more other steps?

[2021-04-13 08:37] perithompson commented on #1979
@antoninbas I feel like this is what Rui must have found before and hence the workaround, if there is a way we can do this from antrea that would be awesome, some of the problems here will be the lack of privileged containers that should have been going into alpha now but has been pushed back to 1.22 which is a shame! Manually setting up containerd seems difficult to but not having to at least har

[2021-04-13 08:48] lzhecheng commented on #2066
I think it is the follow up discussion on this issue, right? A proper kubeconfig is needed for kube-proxy and antrea-agent service? https://github.com/vmware-tanzu/antrea/pull/1874#discussion_r592411549

[2021-04-13 10:42] lzhecheng commented on #1979
Indeed, I tried to add another Windows Node and the cluster ip became its internal ip.

[2021-04-13 12:14] perithompson commented on #2066
yep thought it was good to get this tracked as an issue outside of that comment, if we had a way for the node to get the config then that would be great, the other option is have a on the management node that can copy it for me but that's harder

hopefully this is only temporary as id rather be putting this in a pod 😄 and not installing on the host

[2021-04-13 13:08] tnqn opened #2083 "Antrea-native Policy with multiple AppliedTo were not enforced correctly in some cases"
**Describe the bug**
If an Antrea-native Policy has multiple `AppliedTo` and any of them doesn't select any Pod running on a Node that the Policy applies to, the whole Policy will not be enforced. For example:
[code]
The above ClusterNetworkPolicy can block all ingress traffic to all Pods successfully. However, if it has another `AppliedTo` which selects nothing like below, the Policy won't take e

[2021-04-13 17:32] srikartati commented on #2030
Got it. Thanks for clarifying, Jianjun.

[2021-04-13 22:55] antoninbas opened #2085 "Flow visualization no longer working correctly in v1.0"
**Describe the bug**
When deploying the FlowAggegator and the reference ELK stack, I am no longer able to observe correct flow information in Kibana.

**To Reproduce**
Use the following YAML in any cluster (in my case I used a cluster on EC2 provisioned with kubeadm):
[code]
Everything else is "vanilla" Antrea and the only change I made was enable the FlowExport feature for the Agent and configure

[2021-04-13 23:09] srikartati commented on #2085
Thanks for reporting the bug. Will triage it.

[2021-04-13 23:13] antoninbas opened #2086 "Agent NetworkPolicy logs too verbose?"
When experimenting with Antrea-native policies I observed the following Agent logs:
[code]
It seems that we get a `Can't find interface` info log message for every host network Pod.
I assume that these Pods are included in the AppliedToGroup received by the Agent, but since they are not in the Pod network, we do not enforce policies on them. If these logs are "expected", I suggest changing the ver

[2021-04-14 02:00] lzhecheng commented on #2066
Thank you! Yes it is good to have an issue to track this. I don't have a clear mind which is better so maybe it is helpful to involve others to discuss on this topic.

[2021-04-14 03:05] tnqn commented on #2083
Credit goes to @antoninbas for finding the issue.

[2021-04-14 03:35] tnqn opened #2090 "Antrea-native Policy CRD schema verification should be improved"
**Describe the bug**
While reproducing an issue, I input a typo **matchLables** like below:
[code]
However, creating it succeeded without any error. And I found the policy didn't work as I imagined. After debugging, it turned out that it took effect like an empty namespaceSelector because `matchLables` cannot be parsed correctly. The struct of `LabelSelector` has only two fields: `matchLabels` and

[2021-04-14 04:46] Dyanngg commented on #2086
I'm thinking about the correct way to solve this issue. If host network Pods would never have policies applied onto them, then maybe we should not add them into appliedToGroup msgs?
Namely, in `GetEntities` in group_entity_index.go, we don't add the Pod if `groupType==appliedToGroup` and `pod.Spec.HostNetwork==true`.
/cc @tnqn and @jianjuns to see if this is also a valid assumption for egress poli

[2021-04-14 07:59] luwang-vmware opened #2092 "clusterip service not work after running big service(1000 endpoints) with antrea-proxy enabled along with kube-proxy"
**Describe the bug**
I enabled antrea-proxy along with kube-proxy in our k8s clusters and create big services with 250 endpoints, 1000 endpoints and 5000 endpoints. After the testing, the clusterip service functionality is broken.

**To Reproduce**
1. create 500 worker nodes cluster in TKGM1.3 with antrea-proxy enabled
2. download clusterloader2 source code and run the scripts of dep_svc_l.yaml, d

[2021-04-14 11:20] luwang-vmware commented on #2092
Tested that 500 endpoints per service(deployment) works fine. 1000 endpoints per service could consistently repo this issue.

[2021-04-14 13:00] tnqn commented on #2092
Thanks @luwang-vmware for finding it and providing a way to reproduce it consistently! We will prioritize fixing this issue.

cc @jianjuns @antoninbas

[2021-04-14 17:04] hongliangl commented on #2092
I have made a test with ovs. I used the below script to generate a group with X buckets, and I use the generated command to run in antrea-ovs container.

[code]

- When the number of buckets < 512, it works
- When the number of buckets >= 512, the output is stuck, and output is below.
[code]

I made a test to verify that if the action in table 41 can be set with multiple groups, like this: `ovs-of

[2021-04-14 18:31] jianjuns commented on #2086
It is definitely true for Egress.

[2021-04-14 22:30] srikartati commented on #2035
I see some intermittent e2e test errors in other testsuites as well. I was able to get the logs on one of the runs and found the backtrace where flow aggregator crashes.
https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/2382/consoleFull

[code]
After closely examining the backtrac, I found that records in `fa.set` are not reset properly. We use the same set for both template and data

[2021-04-15 03:07] antoninbas commented on #2092
I think you are just reaching the max OpenFlow message size which is 64K bytes.
Without getting too accurate :), 64K bytes / 512 buckets is 128 bytes. Given that each bucket has a 16-byte header and that you also have 5 actions per bucket, you pretty much get to 128 bytes.
You can run your `ovs-ofctl` command with `--verbose=dbg` to get more information. You should also specify `-O OpenFlow13` to

[2021-04-15 03:57] tnqn commented on #2086
I think the index's consumer can have their own conditions to filter out entities, not necessarily to do it in index as it's generic, otherwise many conditions will need to be added to it like whether the Pod has an IP, whether it's scheduled.

[2021-04-15 04:05] Dyanngg commented on #2086
Yes I realized this and this is what I ended up adding in #2093

[2021-04-15 07:14] #2083 closed

[2021-04-15 10:07] nitrotm opened #2095 "Some deployed cni plugins are not statically compiled"
**Describe the bug**
On an alpine-based native server (which is itself based on busybox), `/opt/cni/bin/antrea` cannot execute due to being dynamically linked to some system libraries. This is not the case for some other standard plugins, such as `loopback`.

**To Reproduce**
Try to run `antrea` cni plugin binary on a busybox system or alternatively with incompatible libpthread or libc. In particu

[2021-04-15 14:21] tnqn commented on #2095
Hi @nitrotm, thanks for the report! Making antrea cni binary statically compiled makes sense to me. It applies to other binaries that will run out of container too, e.g. antctl, antrea-octant-plugin.
Or maybe we could just compile all of the binaries statically if no real drawbacks. What do you think? @jianjuns @antoninbas

@nitrotm would you be willing to create a PR for this?

[2021-04-15 14:22] tnqn commented on #2095
And to confirm, I assume the issue could cause the container runtime fail to call antrea cni, but it shouldn't fail on initContainer of antrea-agent while installing cni. Could you paste the failure of initContainer if there is? I couldn't reproduce it with k3os.

[2021-04-15 16:16] jianjuns commented on #2095
Agreed on compiling Antrea CNI statically.

[2021-04-15 16:18] nitrotm commented on #2095
@tnqn sorry, that's right, not related to initContainer. I was trying a whole bunch of different cni solutions (calico, cilium, kube-ovn, etc) and forgot the exact root cause of the error. I did the deploy from scratch again and here is more detailed info:

If you deploy antrea and start a simple pod (eg. busybox), then you'll see the following in the events:
[code]

But the file is there on the h

[2021-04-15 16:28] #2085 closed

[2021-04-15 16:33] nitrotm commented on #2095
As per the question about creating a PR, I am probably not the right person for doing this right now because I feel I don't know yet enough about CNI internals and practically nothing about the way antrea is built and packaged.

I'll give antrea a try when this is solved and eventually will replace calico in my self-provisioned k8s clusters, depending upon how well it will fit my use-case. In the

[2021-04-15 16:58] hongliangl commented on #2092
Thanks @antoninbas @tnqnf. I first thought of the idea of ​​solving this problem by modifying function `func (self *Group) Install() error` in `github/contiv/ofnet/ofctrl/fgraphGroup.go`  like this below.
[code]
After discussed with @tnqn , he suggested that the group buckets should be added/inserted in a bundle way. I'm working on this now.

[2021-04-15 17:14] #2086 closed

[2021-04-15 17:43] antoninbas commented on #2095
Thanks for reporting this @nitrotm. I can look into this before the next release (Antrea v1.1). Will assign this to me, but if someone wants to start working on this, please comment here and I can assign the issue to you.

[2021-04-16 07:53] yktsubo opened #2099 "Traceflow with liveTraffic and droppedOnly didn't capture results from source node"
**Describe the bug**

When traceflow is done with liveTraffic and droppedOnly for packets across nodes, the status on source nodes lacks.
Here is the manifest for the traceflow. It has the result only from the destination node.

[code]

The souce node is k8s2-md-0-647454fc57-9sf7n and the destination node is k8s2-md-0-647454fc57-qpqbg.

[code]

**To Reproduce**

Not sure if all the procedure is re

[2021-04-16 16:39] jianjuns commented on #2099
@yktsubo : thanks for trying out the new feature and providing feedback! The behavior you described is actually by design. The reason is that the source Nodes does not know if a packet will be dropped on the destination Node or not, and so cannot capture and report every matched packet it sees. Hope it makes sense to you.

BTW, I am working on a new change #2068 which will allows to capture a pack

[2021-04-16 17:22] srikartati commented on #2058
Modified in PR #2094

This interval was removed in PR #2089

[2021-04-16 18:52] hongliangl commented on #2092
Unfortunately, guys, I'm stuck with bundle issue.  There are 2 issues:
1) I didn't find the reason that why when added a group in bundle,  deleting the group with groupID failed, but deleting it in bundle way can work.
2) INSERT-BUCKET doesn't work as expected. I write a simple test in PR #2101 https://github.com/vmware-tanzu/antrea/blob/b320a4dd63b8b51f9510ff74b1734897ae58663e/test/integration/ag

[2021-04-16 19:31] antoninbas commented on #2092
I wanted to take a look at your code, but really couldn't make sense of the following:
[code]
Why is there a `fakeGroupId` and why are we deleting it several times?

I think the interface needs to change so that AntreaProxy can provide a list of endpoints / buckets to insert and a list of endpoints / buckets to remove. The we generate the appropriate insertions & deletions. We shouldn't be deletin

[2021-04-17 00:26] antoninbas opened #2104 "Antctl "agent mode" support on Windows"
**Describe the problem/challenge you have**
I am not sure what the best way of running antctl in "agent mode" on Windows is.
* Wins installation (docker only): we run the antrea-windows container on each Windows Node, but the image does not include antctl. If we were to include antctl, I assume we would be able to exec into the container and run antctl, like we do on Linux Nodes.
* Nssm service in

[2021-04-17 04:53] g-rabah opened #2106 "Multiple physical interfaces"
Hi,

I ma trying to deploy Antrea worker node on a baremtal, but cannot find how to make OvS uses multiple Interfaces (ens3-ens9). can someone point me to the documentation please ?

Thnx

[2021-04-18 18:16] hongliangl commented on #1931
The key to implement NodePort is how to "redirect" the traffic of NodePort into OVS. The NodePort traffice can be from localhost or remote hosts.

### Traffic from remote hosts

#### Environment

This is the test environment. **router**, **endpoint** are two network namespaces, and **node** is a VM. Note that, this is different with real Antrea environment, so there should be some changes when int

[2021-04-18 18:26] hongliangl commented on #1931
Hello,  @antoninbas @jianjuns @tnqn, I have post the new design and test result.

[2021-04-19 00:31] #648 closed

[2021-04-19 04:49] tnqn commented on #2092
Agree with @antoninbas's question. @hongliangl For your second question, I can see the code in the PR installs a group twice: one is by `bucketBuilder.Done`, another by bundle, which might be the root cause. BTW, Could you raise code related issue in the PR in the future so there is a context and the discussion can be tracked properly?

[2021-04-19 12:31] yktsubo commented on #2099
@jianjuns Thank you for the explanation. I thought it was a bug as octant plugin didn't show anything. But that makes sense now.

I got the impression that this live-capture traffic is more of a 'tcpdump by kubectl'.
Therefore the situation where we want to use it for troubleshooting is like to understand why packets get dropped.
In my opinion, the following function might be useful.
- Captures fo

[2021-04-19 16:51] jianjuns commented on #2099
Thanks @yktsubo . Let me add "Captures packets that were dropped by a specific table" to the todo list.

The Traceflow implementation is actually different from tcpdump. It uses OVS flows to send matched packets to agent. But I also thought about to add some tcpdump like functions, which can stream the captured packets to a collector.

[2021-04-19 16:53] yktsubo commented on #2099
@jianjuns  Thank you for considering that.
I'll close this issue as the behavior is expected. Thanks.

[2021-04-19 16:53] #2099 closed

[2021-04-19 17:47] antoninbas commented on #1418
This was taken care of in https://github.com/vmware-tanzu/antrea/pull/1505

[2021-04-19 17:47] #1418 closed

[2021-04-19 17:50] jianjuns commented on #1931
Hi @hongliangl , I do not understand the following:

What is gw1 and what is gw3?
"add DNAT on the current network namespace": how you do DNAT? OVS or iptables or TC?

[2021-04-19 17:56] antoninbas commented on #2106
Hi @g-rabah. I think you will need to provide more information about what you are trying to do.
Antrea does not attach any host interface to the bridge, so it doesn't matter how many you have. You can refer to https://github.com/vmware-tanzu/antrea/blob/main/docs/design/architecture.md for more information. As an example, by default Antrea uses Geneve encapsulation for cross-Node Pod-to-Pod traffi

[2021-04-19 20:57] #2057 closed

[2021-04-20 04:52] saramach commented on #1605
Will take this

[2021-04-20 06:07] hongliangl commented on #1931
Hi @jianjuns,

gw1 and gw3 are two veths. The picture below is the test environment. `router` and `endpoint` are network namespaces.  The configuration of them has nothing related with the TC design.

I do DNAT with iptables here.

![image](https://user-images.githubusercontent.com/75655411/115344676-4bb79200-a1e0-11eb-94b0-9b8af01b4076.png)

[2021-04-20 17:44] antoninbas commented on #1605
Thansk @saramach, I assigned this to you!

[2021-04-21 06:07] melodycho commented on #2090
I would like to  fixes the issue, @tnqn

[2021-04-21 06:14] tnqn commented on #2090
thanks @melodycho, assigned to you

[2021-04-21 07:26] tnqn opened #2115 "OpenFlow 1.5 support"
**Describe the problem/challenge you have**
Antrea uses [github.com/contiv/libOpenflow](https://github.com/contiv/libOpenflow) to configure Openflow rules to OVS. Currently the library only supports OpenFlow 1.3. It becomes a problem when we need some features introduced in new versions. For example, when fixing https://github.com/vmware-tanzu/antrea/issues/2092, the ideal solution is to use "inse

[2021-04-21 09:35] gran-vmv opened #2116 "Traceflow e2e test failed in DualStack Cluster"
**Describe the bug**
Traceflow e2e test failed in DualStack Cluster

**To Reproduce**
Run "/test-ipv6-ds-e2e" at any PR.
[OR]
Setup a DualStack e2e test Cluster.
Run "go test -v -timeout=30m github.com/vmware-tanzu/antrea/test/e2e -run TestTraceflowIntraNode"

**Expected**
The result should be "PASS".

**Actual behavior**
Some test case may fail like:
`--- FAIL: TestTraceflowIntraNode/traceflowGro

[2021-04-21 20:47] #2058 closed

[2021-04-22 01:19] antoninbas opened #2118 "Codecov.io Bash Uploader Security Issue"
_This issue is informational only, recommended actions have already been taken to address the security issue._

On April 15th, Codecov [announced](https://about.codecov.io/security-update/) that there had been a security breach and that the Bash Uploader script had been compromised. In particular, environment variables set at the time the script was executed may have been made available to a malic

[2021-04-22 01:19] #2118 closed

[2021-04-22 04:33] antoninbas opened #2120 "Antrea Windows cannot use kube-proxy 1.21"
**Describe the bug**
If someone follows the instructions from https://github.com/vmware-tanzu/antrea/blob/main/docs/windows.md and tries to deploy the latest version of the userspace kube-proxy (v1.21.0), ClusterIP load-balancing will not work for connections handled by kube-proxy. This means that the Antrea Agent will not start, since by default it accesses the K8s API using the ClusterIP address

[2021-04-22 07:29] gran-vmv commented on #2116
According to local test, this is because installed OVS flows cannot take effect immediately.
Will add a small sleep to fix this.

[2021-04-22 14:10] #1976 closed

[2021-04-25 00:33] #231 closed

[2021-04-26 09:28] dantingl opened #2127 "AntreaProxy failed to create ovs flows and groups for K8s service"
**Describe the bug**
Pod failed to do nslookup.

**To Reproduce**
When running K8s conformance test, hit this issue, not sure how to reproduce it.

**Expected**
$ nslookup google.com
Server:		172.30.0.10
Address:	172.30.0.10#53

Non-authoritative answer:
Name:	google.com
Address: 172.217.5.110
Name:	google.com
Address: 2607:f8b0:4005:808::200e

**Actual behavior**
$ cat /etc/resolv.conf
search dns

[2021-04-26 15:07] jayunit100 commented on #2120
thanks @antoninbas ... in the latest antrea 0.13,
 can we get away without running kube-proxy, at all ? we install it now but i believe @jianjuns mentioned that it would be obviated.

[2021-04-26 15:29] jayunit100 commented on #2120
Also @antoninbas can you turn off the `--feature-gates=WindowsEndpointSliceProxying=false` feature gate ?

[2021-04-26 17:25] jianjuns commented on #2120
@jayunit100 : we are trying to remove kube-proxy on Windows in Antrea 1.1 (or at least 1.2).

[2021-04-26 17:42] antoninbas commented on #2120
@jayunit100 as indicated in the original issue, turning off `WindowsEndpointSliceProxying` indeed avoids the problem

[2021-04-26 17:46] tnqn opened #2128 "Support automatic failover for Egress"
## Describe what you are trying to solve
Currently the Egress feature requires the Egress IP must be assigned to an arbitrary interface of one Node manually, and users have to reassign the IP to another Node if the previous one becomes unavailable. This is not ideal for production where automatic failover is desired. The proposal describes a solution that supports automatic failover for Egress.

#

[2021-04-27 00:08] antoninbas commented on #2120
I opened an issue upstream: https://github.com/kubernetes/kubernetes/issues/101500

[2021-04-27 01:25] #2116 closed

[2021-04-27 02:06] antoninbas commented on #2128
@tnqn this looks great to me, thanks for the detailed proposal. A few notes:

* does `FailoverPolicy` have to be a pointer? Or can it be like `ExternalTrafficPolicy` in the K8s `ServiceSpec`?
* the proposal doesn't give any information about IP address advertisement in case of failover? I suppose we need to send a gratuitous ARP message at least?
* for "Limit Egress Nodes", my favorite option woul

[2021-04-27 02:41] tnqn commented on #2128
@antoninbas Thanks for the quick review.

I was considering compatability if some Egresses have been persistent in etcd without the field. Will check how is this case handled in K8s. Thanks for the suggestion.

Yes, we need ARP annoucement for IPv4 and NDP for IPv6. will add this to the design.

I recall @jianjuns had a concern that it would require users to duplicate NodeSelector for all Egresses

[2021-04-27 04:58] tnqn commented on #2128
@jianjuns do you think "Have a per-Egress NodeSelector in the Spec of Egress" can work for the cases you mentioned that a subset of Nodes can hold some IPs and another subnet of Nodes can hold other IPs? Or you have concern on duplicating labelSelectors in Egresses. In some way, specifying labelSelector (if it's quite simple) is same as specifying the name of NodePool?

[2021-04-27 05:12] jianjuns commented on #2128
@tnqn : as we talked in the community meeting, to be most flexible, I think we should separate Egress IP - Node association. Originally I was thinking an IPPool and a NodePool CRD (see #667), and one of them refers to the other for the association. Then Egress IP belongs to a pool should be configured to only a Node in the associated the Node pool. The same design can be reused by other IP allocat

[2021-04-27 05:15] jianjuns commented on #2128
I would associate IPs with Nodes, but not Egress. The reasons are: 1) indeed the relationship is between IPs and Nodes; 2) later we might do egress IP allocation for Egresses; 3) multiple Egresses might share one egress IP; 4) later we might support other IP assignment cases like LB VIP and might like a common way to define IP - Node mapping.

[2021-04-27 05:35] tnqn commented on #2128
@jianjuns I agree IP and Node association makes more sense. About the default NodePool and removing `FailoverPolicy`, whether it must be created/configured to enable auto-failover? I thought for users that just have a basic flat Network, it's redundant to ask them to do such configuration. Do you think we could just use the whole cluster as the default pool if we are going to have NodePool resourc

[2021-04-27 05:45] jianjuns commented on #2128
But I do not think failover policy should be configured on Egress.

I thought once you configure a NodePool (a single pool for now), it means you want to enable auto-failover (otherwise why even configure it?). Do you agree?

[2021-04-27 06:05] tnqn commented on #2128
I meant not creating the default NodePool explicitly. Just like all Nodes can be candicate if you don't specify any `NodeSelector` for a Pod. In the way you proposed, do user have to create a Pool before they can get failover feature?
The knob sounds a little obscure to me: If I have only static IPs and don't want Antrea to migrate the IPs I have configured on Nodes, I shouldn't create a NodePool.

[2021-04-27 13:30] tnqn commented on #1390
Saw it again: [unittest-error.log](https://github.com/vmware-tanzu/antrea/files/6384885/unittest-error.log)

[2021-04-27 17:37] jianjuns commented on #2128
I feel it might be a little obscure, but not too bad in my mind. You want auto-assignment and failover, then you should define a scope for that, even it is the whole cluster?

What is your proposal then? I do not like to associate failover policy with Egress for the reasons described above.

[2021-04-27 18:28] #2053 closed

[2021-04-28 04:21] tnqn commented on #2127
@dantingl thanks for reporting it.
From the logs, the agent lost connection with ovs-vswitchd:
[code]
And the flows for Service and Proxy cannot be reinstalled successfully.
[code]
It seemed AntreaProxy cannot handle reconnection correctly. We should definitely enhance this.

@dantingl did you see antrea-ovs container restarted? If you still has the setup, could you help check ovs-vswitch.log unde

[2021-04-28 04:48] dantingl commented on #2127
Here is ovs-vswitch.log around 00:47:38
https://gist.github.com/dantingl/e2a087f12641110239ddff65748ff17c

[2021-04-28 05:16] tnqn commented on #2127
Thanks @dantingl. I can see there was only single restart. Obviously this case was not handled properly.

@hongliangl Have you started fixing it? If not, I could work on it. The issue seems serious to me as once antrea-ovs is restarted (could due to liveness probing failure or OOM killer), all Pods on a Node will basically lose all connections as it cannot access any services, including cluster DN

[2021-04-28 05:56] hongliangl commented on #2127
Sorry, I have not started fixing it.

[2021-04-28 07:07] #627 closed

[2021-04-28 14:30] antoninbas commented on #2127
I talked to @tnqn. Since no one has started working on this, I can take a stab at fixing this today.

[2021-04-28 17:03] antoninbas commented on #2127
I found the issue (`Reset` method for the group not called during flow replay, and its implementation is not correct). I will work on improving the `TestOVSFlowReplay` e2e test and submit a PR.

[2021-04-28 19:32] srikartati opened #2135 "Exporting flows governed by Egress policy"
Thanks for the clarification. Re-tested it and made sure the egress/SNAT policy is installed properly. Here the egress node IP is 192.168.77.100
I see the following conntrack flow on the source Node, which gets exported to Flow Aggregator.
[code]
And the following conntrack flows on the egress Node:
[code]
Here one of them is in Antrea conntrack zone and other one is in default zone. which is igno

[2021-04-29 16:27] perithompson commented on #1426
@antoninbas @lzhecheng I think this is actually stale, so may as well close this

[2021-04-29 21:15] antoninbas opened #2137 "Support NodeLocal DNSCache with AntreaProxy"
**Describe the problem/challenge you have**
[NodeLocal DNSCache](https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/) improves performance of DNS queries in a K8s cluster by running a DNS cache on each Node. DNS queries are intercepted by a local instance of CoreDNS, which forwards the requests to CoreDNS (cluster local queries) or the upstream DNS server in case of a cache miss.

Th

[2021-04-29 22:10] #2127 closed

[2021-04-30 11:32] lzhecheng commented on #1426
@perithompson I see that #1415 is not merged yet. Do you think it is unnecessary for this issue?

[2021-05-03 20:37] #2056 closed

[2021-05-05 10:53] GNtousakis opened #2152 "DPDK support"
Hello everyone! Amazing work on the Antrea project!

I saw on the roadmap file that you plan to implement DPDK support on antrea.
Do you have a time frame for this feature?
Is it something that you would be working on the following months or years?

Thank you all!

[2021-05-05 17:35] antoninbas commented on #2152
Hi @GNtousakis - thanks for opening this issue.

There are 2 potential ways to leverage DPDK in Antrea:
1) Support secondary Pod network interfaces using an OVS-DPDK bridge as the datapath. @jianjuns opened an issue a while back to track this: https://github.com/vmware-tanzu/antrea/issues/1374
2) Enable DPDK in the "main" OVS bridge created by Antrea to provide Pod networking as per K8s requiremen

[2021-05-06 00:55] antoninbas commented on #1500
This was taken care of in https://github.com/vmware-tanzu/antrea/pull/1884

[2021-05-06 00:55] #1500 closed

[2021-05-06 07:05] GNtousakis commented on #2152
Hi @antoninbas - thanks for the quick answer!

Let me elaborate a little bit more on the use case i have in mind. Lets say we have the following topology:
![image](https://user-images.githubusercontent.com/48942855/117253255-b22ee800-ae4f-11eb-8a72-ff4286a7cbc5.png)

In the current state of the stack, the red cable uses the OVS mirroring capabilities in order to forward all traffic that occurs in

[2021-05-06 16:52] jianjuns commented on #2152
@GNtousakis : thanks for sharing your use case. It is interesting to learn! I agree in your case, moving primary interface to OVS should be a better solution. I have two extra questions to understand the configuration better:

1. I assume you would still connect Pod to OVS using veth? Just to mention veth on OVS DPDK bridge has a little lower performance compared to veth on OVS kernel datapath.
2.

[2021-05-06 17:56] jianjuns commented on #2135
Just like to learn the reason we think source node is better?

[2021-05-06 17:58] jianjuns commented on #2137
I feel we might make it more generic to let AntreaProxy ingore configurable ClusterIP Services.

[2021-05-06 18:05] jianjuns commented on #2106
While what @antoninbas described is correct, I want to add: 1) on the receiving side the traffic will be received from the NIC on which the K8s Node IP is configured (as we use the K8s Node IP as the tunnel destination); 2) on the sending side, yes it depends on the route configuration on the host, but more likely it is also the NIC with the K8s Node IP.

But if you mean you want to use NIC bondin

[2021-05-06 18:07] antoninbas commented on #2135
@jianjuns the ideas is to avoid splitting the information across 2 records, which makes the FlowAggregator implementation more complicated. If the SNAT information is sent by the egress Node, then we still need information from the source Node, which is the only one with information about NetworkPolicy egress rule. So the FlowAggregator needs to wait for the record from the source Node and for the

[2021-05-06 18:12] antoninbas commented on #2152
cc @marcusschiesser as it is similar to his use case and to his reasons for wanting to enable DPDK in the br-int bridge

[2021-05-06 18:27] jianjuns commented on #2135
Thanks for the clarification. Makes sense to me.

[2021-05-06 18:39] #2090 closed

[2021-05-06 23:20] antoninbas opened #2154 "Move antrea Github repo from the vmware-tanzu to the antrea-io organization"
As part of project onboarding to the CNCF Sandbox (https://github.com/cncf/toc/issues/650), we need to move the project to "its own separate neutral github organization". The new organization name was decided by a poll in the `#antrea` channel in the K8s Slack workspace: it will be `antrea-io`.

The following tasks need to be performed:
- [x] transfer the repo to the new organization. The transfer

[2021-05-06 23:21] antoninbas commented on #2154
cc @jianjuns @tnqn

[2021-05-07 03:04] marcusschiesser commented on #2152
@antoninbas thanks for adding us here. @guesslin and I are planning to continue working on the second option in a few weeks.

[2021-05-07 06:04] GNtousakis commented on #2152
Hey @jianjuns. I always thought that learning was fun! To answer your questions:

1. Yes, i think we are still going to connect Pod to OVS using veth. Although if you think that there are better options i am open to suggestions.
2. We are leveraging the `init container` functionality of kubernetes, in order to execute a script that creates mirroring on a specific port passed by some ENV variable.

[2021-05-07 13:02] tnqn opened #2157 "Bypass Windows host network when forwarding Pod egress traffic in noencap mode"
**Describe what you are trying to solve**
To forward Pod egress traffic in noencap mode, Antrea requires the Windows host network to route the packets. The current traffic path is as below:
[code]
As uplink interface is attached to OVS bridge, it's possible to output the packets to uplink interface when it enters the OVS bridge the first time, then the path will be as below:
[code]
With the shorte

[2021-05-07 14:48] #817 closed

[2021-05-07 17:18] jianjuns commented on #2152
Thanks for the clarification @GNtousakis !

I do not have a better option, unless your Pod runs a DPDK or another user space IP stack (then you can use vhost-user interface to connect to OVS DPDK bridge).

Good to know! Would you consider open an issue for mirroring support in Antrea too (or I can handle it)?

[2021-05-07 17:49] #1532 closed

[2021-05-07 18:28] jianjuns commented on #2157
But you still need to learn gateway MAC right, as the Nodes can be in different subnets. I prefer to start from gateway MAC only if that works in GKE (I know it works for NSX-T), and we can decide later to support more cases.

[2021-05-07 21:05] antoninbas commented on #2157
It seems that the gateway MAC solution assumes that the router / gateway always knows how to route all Pod IP addresses, which is the case in GKE but is not always true. I sometimes deploy Antrea on Nodes in the same subnet and I enable noEncap mode. My default gateway doesn't know about the Pod IPs.

We can do the same subnet improvement first by learning the MAC addresses and keep the current im

[2021-05-07 22:51] antoninbas commented on #2137
I chatted with @alex-vmw and he things the config option with a list of Service names / Cluster IPs is good enough.

I'm tagging this as a good first issue because the scope is quite small and doesn't require too much prior knowledge about Antrea.

[2021-05-10 04:20] tnqn commented on #2157
Yes, as @antoninbas pointed out, the routes must be configured on router either manually or by cloud controller, otherwise the basic traffic wouldn't work. If we assume the Nodes should be in same subnet for small and medium size clusters, wouldn't it be too complicated to ask users to configure router manually or install a cloud controller to get basic function?

Indeed we need to learn gateway M

[2021-05-10 04:49] jianjuns commented on #2157
I now got you guys want to optimize for single subnet case first. But the problem many clusters span across subnets. Do we know what is the case for GKE?

I was surprised to know in GKE router cannot forward Pod traffic. Do you know the reason, like: router drop the packet from the same subnet (due to RPF check), or maybe in a single subnet deployment, cloud controller does not add routes at all?

[2021-05-10 04:53] jianjuns commented on #2157
BTW, on Linux there are socket APIs to resolve ARP and even get notified at ARP entry changes (I used the APIs before for an overlay implementation), so it is not very hard to resolve MAC with ARP. But I do not know what support Windows has.

[2021-05-10 05:43] tnqn commented on #2157
@jianjuns I'm not sure whether GKE installs a cloud controller with route controller enabled automatically, I think @antoninbas means gateway MAC **works** in GKE. @antoninbas could you confirm?

GKE places all Nodes of a cluster into single subnet: https://cloud.google.com/kubernetes-engine/docs/how-to/routes-based-cluster. I think it should apply to most small and medium size clusters.

Yes, I a

[2021-05-10 05:56] jianjuns commented on #2157
I see. Seems I misunderstood.

Ok, good to know for GKE we can assume a single subnet (but for TKG I do not feel we can assume that).

On Linux (and ESX too), there is a socket ioctl API for you to resolve an IP's MAC via ARP (the tcp/ip stack will handle ARP), and there is also an IP to notify the ARP entry change (e.g. after it is refreshed by GARP).

If there is no good way to resolve MAC with

[2021-05-10 07:58] gran-vmv commented on #1914
In table 110, the self-access traffic was processed by first flow, which priority is 210, but Traceflow traffic should be processed by temporary Traceflow specific flows (priority=203 or 202).
We need to improve the priority of temporary Traceflow specific flows in table 110. e.g. 202->212, 203->213
[code]