[2022-04-21 04:39] hwdef commented on #3662
![图片](https://user-images.githubusercontent.com/13084946/164373234-95f306c8-8e89-4242-9527-7d9ce23409ce.png)

Maybe this is the reason

[2022-04-21 04:41] hwdef commented on #3662
![图片](https://user-images.githubusercontent.com/13084946/164373433-a9ce1a06-6516-4974-bfbf-6f2f16bd6956.png)
![图片](https://user-images.githubusercontent.com/13084946/164373458-cab24d37-21f5-40ae-9ac2-9038b5b28458.png)

[2022-04-21 06:07] hwdef commented on #3662
I finally confirmed that the issues were caused by missing the three dll above.
The reason for the lack is that these three dll are brought when installing docker, and I am using containerd.
![图片](https://user-images.githubusercontent.com/13084946/164385456-8377eb72-2405-4221-bf1b-c311bc5b1647.png)

[2022-04-21 06:09] #3662 closed

[2022-04-21 07:53] hwdef commented on #3662
By the way, docker has been deprecated in k8s 1.24, should the ovs installation script be equipped with containerd?

[2022-04-21 09:54] hongliangl opened #3676 "Golangci-lint cannot work as expected with go 1.18.1 (latest stable version) on Mac OS"
**Describe the bug**

When running `make golangci` with golang 1.18.1, the output is as the following:

[code]

If switch the golang version to an old one, `make golangci` can work as expected.

[2022-04-21 15:14] tnqn commented on #3665
@hangyan could you explain this more? You mean helm will check whether CRD has incompatible change and fail the upgrade?

I think we are following the recommended API practice and have never made incompatible change to any API. If there is an incompatible change, we should have a new version, and would there be a problem with helm?

Is the case that CRD is removed accidently because of an incompat

[2022-04-21 18:14] antoninbas commented on #3665
The second one. Users needs to run `kubectl apply` first to apply a YAML manifest with CRDs only, then they can run `helm upgrade`. That means CRDs (and therefore CRs) won't be deleted during upgrade.

@tnqn do you know what happens is a CRD manifest is updated to remove a version (i.e. the version is removed from the `spec.versions` list) while there are still some CRs with that version stored in

[2022-04-21 23:38] jsalatiel opened #3680 "Antrea wildcard fqdn netpolicy not working"
**Describe the bug**
According to the netpol documentation, one could use example like the following to match fqdn:
[code]

I also have a  cluster netpol default-deny  priority 999 on Baseline. So by default all traffic should be denied except traffic to google. The problem is if that I try to curl www.google.com from the container it is still being denied by the default-deny baseline rule. If I c

[2022-04-22 15:37] #3592 closed

[2022-04-25 00:32] #2933 closed

[2022-04-25 00:32] #2794 closed

[2022-04-25 06:38] luolanzone opened #3684 "Antrea will become CrashLoopBackOff if any config mismatch."
**Describe the bug**
When user is trying to `./ci/kind/kind-setup.sh --antrea-cni create test` to create a new cluster, it might be failed due to local latest image is overwritten by local development, but `kind-setup.sh` is still trying to use local latest image and load it to kind.
https://github.com/antrea-io/antrea/blob/79414ec011261ae506e86607ca2cb86929c984f4/ci/kind/kind-setup.sh#L207-L224

[2022-04-25 23:30] #3650 closed

[2022-04-25 23:42] antoninbas commented on #3684
Not sure I understand under which circumstances this happens. I don't understand this sentence:

But please note that the `--antrea-cni` flag is really meant for users, not developers: https://github.com/antrea-io/antrea/blob/main/docs/kind.md#as-an-antrea-developer. There is no simple way for us to guarantee that the local manifest matches the local image.

[2022-04-25 23:52] antoninbas commented on #3680
@Dyanngg could you help triage this issue? IIRC, wildcard rules rely on DNS response interception (instead of proactive querying), so there could be an issue with that code?

[2022-04-26 00:38] #2938 closed

[2022-04-26 00:39] #2932 closed

[2022-04-26 00:39] #2925 closed

[2022-04-26 00:39] #2831 closed

[2022-04-26 00:39] #2635 closed

[2022-04-26 00:39] Dyanngg commented on #3680
@jsalatiel Actually could you please share the rules you use to allow Pods to resolve DNS in the issue? Those might very well be relevant. Also trying to understand that by `the problem is if that I try to curl [www.google.com](http://www.google.com/) from the container it is still being denied by the default-deny baseline rule.` was this verified by policy rule stats etc., or is it just that we'r

[2022-04-26 01:49] luolanzone commented on #3684
OK, maybe we can add a log to warn user about this potential mismatch? @antoninbas

[2022-04-26 04:46] Dyanngg commented on #3680
Update: I have tried this on my own test setup and wasn't able to reproduce. @jsalatiel one thing I've noticed however is that you used
[code]
in the fqdn policy. Did you put the same appliedTo for the baseline deny-all policy? The reason I'm asking is, we need to make sure that the two-way communication between the client Pod and dns Pod is not dropped by the baseline deny rule.
In other words, t

[2022-04-26 08:52] jsalatiel commented on #3680
Hi, @Dyanngg . These are my other policies:

[code]

That should allow both ingress/egress from/to kube-system and egress to kube-dns and nodelocaldns from anywhere.

[code]

 169.254.25.10/32 is the nodelocaldns deployed by kubespray. (Can be related to the problem?)

[2022-04-26 11:23] jsalatiel commented on #3680
More debugging here.

I have changed default DROP to default REJECT in the baseline tier to make sure I would have one single line on the np.log for the curl.

For the following netpol ( changed from ANCP to ANP):
[code]
I get the output:
[code]

and the respective netpol.log:
[code]

When I change the netpol for:
[code]

I get the following output on curl:
[code]
and the following netpol.log
[cod

[2022-04-26 19:59] antoninbas commented on #3684
Yes I guess you can log a warning if `--antrea-cni` is used but there is no local image.

[2022-04-26 21:48] Dyanngg commented on #3680
Hi @jsalatiel,
Thanks so much for providing these additional information! I applied the exact same policies in my local testbed (except for the `169.254.25.10/32` bit because I do not have nodelocaldns), and again the wildcard policy is working as expected. So it seems that the problem could be Antrea failed to intercept the DNS response from nodelocaldns. Maybe the nodelocaldns is not listening o

[2022-04-26 22:11] antoninbas commented on #3680
@jsalatiel Since you are using nodelocaldns, I also have a few questions:
- did you configure AntreaProxy correctly for nodelocaldns (not sure if it is directly related to the issue if you didn't): https://github.com/antrea-io/antrea/blob/main/docs/antrea-proxy.md#when-you-are-using-nodelocal-dnscache
- can you exec into an antrea-agent Pod and get the contents of `/etc/resolv.conf`?
- can you get

[2022-04-26 22:13] jsalatiel commented on #3680
@Dyanngg This is the result from dig on the localdns IP from a container.
[code]
So apparently it is resolving and it is on UDP 53.

Why would antrea intercept www.google.com correctly and not *.google.com if those are all DNS queries ?

[2022-04-26 22:19] jsalatiel commented on #3680
@antoninbas
1) No, I have not. I just kubectl apply antrea.yml ( so, all defaults ). I will check and get the results back.
2) antrea-agent
[code]
3) Node.
Except for "nameserver 192.168.254.1", the other entries have been added by kubespray playbook
[code]
4) "regular" workload Pod
[code]

[2022-04-26 22:22] Dyanngg commented on #3680
For policies with specific FQDN (as opposed to wildcard FQDNs), Antrea will directly contact dns server specified with env variable `KUBE_DNS_SERVICE_HOST` and `KUBE_DNS_SERVICE_PORT` in the agent and use the result to program FQDN policy datapath rules. So, for www.google.com, it is possible that the DNS query result does not come from nodelocaldns

[2022-04-26 22:28] jsalatiel commented on #3680
@antoninbas I have added  skipServices: ["kube-system/kube-dns"] , restart all pods , but I still get the same problem. So I think it is not related.

[2022-04-26 23:04] antoninbas commented on #3680
@jsalatiel your answer to 2 & 4 are surprising to me. I would have expected the ClusterIP for CoreDNS there, even when using nodelocaldns. The dnsPolicy for the antrea-agent Pod is `ClusterFirstWithHostNet`.

BTW, do you see anything interesting in the antrea-agent logs about DNS queries?

[2022-04-26 23:11] antoninbas commented on #3680
Ignore this, I see that kubespray configures kubelet this way, so it is expected:
https://github.com/kubernetes-sigs/kubespray/blob/d57ddf0be805407239141b334c6425717aa1cf3f/roles/kubernetes/node/templates/kubelet-config.v1beta1.yaml.j2#L45-L60

[2022-04-26 23:29] antoninbas commented on #3680
@Dyanngg If you cannot reproduce after deploying NodeLocal DNSCache to your cluster, you may need to provision a cluster with Kubespray.

[2022-04-27 00:19] jsalatiel commented on #3680
@antoninbas  The agent logs shows:
I0427 00:16:20.205809       1 fqdn.go:181] "Unable to derive DNS server from the kube-dns Service, will fall back to local resolver"

[2022-04-27 00:24] antoninbas commented on #3680
This is not really an issue. Apparently kubespray uses a different name for the CoreDNS service.

[2022-04-27 00:33] Dyanngg commented on #3680
But it does explain why the policy works when `www.google.com` is in the spec. The fqdn controller will instantiate an net.DefaultResolver and use that to parse `www.google.com` directly. It further confirms that the problem lies in Antrea not being able to intercept the dns response from nodelocaldns

[2022-04-27 19:47] jsalatiel commented on #3680
[code]

[2022-04-27 21:42] antoninbas commented on #3680
@jsalatiel that would be what I mean by a different name. Most clusters I have encountered (including the ones provisioned by kubeadm) use `kube-dns` as the Service name, for legacy reasons.

[2022-04-27 22:52] Dyanngg commented on #3680
I'm trying to repro the issue with a kubespray provisioned cluster. @jsalatiel Could you confirm that you installed Antrea on such kubespray cluster after uninstalling the original CNI (I see flannel as the default)? Just trying to get the same setup.

[2022-04-28 00:34] jsalatiel commented on #3680
Use this override.yml and pass -e '@override.yml'  in ansible command line. You will get exactly my setup. ( no default CNI )
[code]

[2022-04-28 00:53] #2949 closed

[2022-04-28 00:53] #2948 closed

[2022-04-28 08:30] jsalatiel commented on #3680
Btw, The underlying OS in my kubespray cluster is AlmaLinux 8.5

[2022-04-28 11:33] luolanzone opened #3698 "Enable multicluster controller on arm64 architecture"
**Describe what you are trying to solve**
There was a troubleshooting meeting with @jainpulkit22 , and we found that the MC deployment can't be deployed successfully. It turns out there is no Antrea Multi-cluster controller image for arm64 architecture.
User is unable to deploy Antrea Multi-cluster controller on the system with arm64 architecture

**Describe the solution you have in mind**
Provide

[2022-04-28 12:11] tnqn opened #3699 "AKS v1.22.6 doesn't work with Antrea"
**Describe the bug**

The test "cloud-antrea-aks-conformance-net-policy" for AKS started failing a few days ago. There are 3 issues:
1. ubuntu updated git to include a fix for CVE-2022-24765: https://github.blog/2022-04-12-git-security-vulnerability-announced
This has been fixed by configurating the test machine.
2. kubectl cannot connect to K8s API after force recreating coredns Pods: https://jen

[2022-04-28 19:58] antoninbas commented on #3611
@mohitsaxenaknoldus @luolanzone I have an idea for a follow-up PR: add a hook to verify that commits are signed when pushing. That's a very common "mistake".

[2022-04-28 20:01] mohitsaxenaknoldus opened #3704 "add a hook to verify that commits are signed when pushing"
**Describe what you are trying to solve**

A pre-commit hook to check DCO.

**Describe the solution you have in mind**

**Describe how your solution impacts user flows**

**Describe the main design/architecture of your solution**

**Alternative solutions that you considered**

**Test plan**

**Additional context**

This is a followup after #3611

[2022-04-29 00:13] luolanzone commented on #3611
@antoninbas, I agree with you, it's indeed a common 'mistake', it's a good idea to add a commit to check sign-off, maybe we can also add sign-off info automatically if there is no one in the commit?

[2022-04-29 00:17] luolanzone commented on #3698
Hi @jianjuns, do you have any comment for this issue?

[2022-04-29 00:23] AbdYsn opened #3705 "Manifests building with `hw-offload` is broken due to wrong helm templates"
**Describe the bug**
Following [patch](https://github.com/antrea-io/antrea/pull/3578) antrea started to use helm to build its manifests, the patch broke the `hw-offload` flag of the `hack/generate-manifest.sh` by having a mismatch between the helm values of [generate-manifestes.sh](https://github.com/antrea-io/antrea/blob/main/hack/generate-manifest.sh#L346) and the [helm template](https://github.

[2022-04-29 00:24] AbdYsn commented on #3705
@antoninbas can i bother you to take a look at the issue, thanks.

[2022-04-29 00:28] luolanzone commented on #3611
Hi @mohitsaxenaknoldus  I saw you created a new issue #3704 for sign-off check commit, are you going to work on this?
Could you please refine the description of the issue to make sure you provide clear idea? or maybe link it to this issue with a simple background intro.

[2022-04-29 00:29] antoninbas commented on #3705
Thanks for catching this @AbdYsn. I have submitted a patch.

[2022-04-29 00:35] antoninbas commented on #3611
I wouldn't recommend signing off commits automatically. The sign off means that the contributor acknowledges the DCO, and I don't think this should be automated.

[2022-04-29 00:37] AbdYsn commented on #3705
@antoninbas Thank you very much for taking a look and fixing the issue.

[2022-04-29 00:38] jianjuns commented on #3698
I feel while arm64 support for any feature is preferrable, it is not high priority. If the efforts is trivial we can support it, if not maybe let us do later when we see a real requirement.

[2022-04-29 02:24] edwardbadboy opened #3708 "CI: Run Conformance/NetworkPolicy/E2E Test in Kind Testbed"
Kind testbed is more light-weight than a 3-node K8s cluster. We can consider: deploy a new VM for each test run, setup kind on it, run conformance/networkpolicy/e2e test on it, and destroy the VM after the test. The ci/jenkins/test-vmc.sh run_integration function is already operating the IaaS via govc like this. We can improve this script to create and destroy kind testbeds on-demand. The K8s conf

[2022-04-29 02:29] hongliangl opened #3709 "Jenkins test antrea-ipv6-ds-e2e almost always fails"
When running any task, the Jenkins test antrea-ipv6-ds-e2e almost always fails for the following tests:

- TestAntreaPolicy/TestGroupNoK8sNP/Case=RejectNoInfiniteLoop
- TestAntreaPolicy/TestGroupNoK8sNP/Case=ACNPServiceAccountSelector

[2022-04-29 02:30] edwardbadboy opened #3710 "CI: Use CAPV Images for New K8s Releases"
CAPV recently published images for K8s 1.21, 1.22, 1.23. We evaluate and try to use K8s 1.23 in Jenkins tests.

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere#kubernetes-versions-with-published-ovas

[2022-04-29 04:06] Dyanngg commented on #3680
I was able to reproduce this issue with a kubespray cluster with nodelocaldns enabled, with Antrea v1.6 build.
TL;DR - this issue can be solved with https://github.com/antrea-io/antrea/pull/3510, which was intended to fix another issue and is already merged in main branch (after the 1.6 release cutoff).

Wildcard FQDN rule matching is made possible by Antrea installing a DNS reply packet intercept

[2022-04-29 05:42] hongliangl commented on #3680
If we backport #3510, we also need backport #3630.

[2022-04-29 12:30] #3699 closed

[2022-04-29 17:41] antoninbas commented on #3680
@hongliangl I approved both PRs. BTW, I think that it is possible to cherry-pick 2 separate changes with a single PR.
It may have been appropriate in that case:
[code]

[2022-04-29 17:50] #3705 closed

[2022-04-29 19:09] mohitsaxenaknoldus commented on #3704
@luolanzone Can you please assign this to me? Looks like I don't have perms.

[2022-04-30 01:03] hongliangl commented on #3680
Thanks @antoninbas

[2022-04-30 01:05] jsalatiel commented on #3680
Are there plans to release 1.6.1? Or will the fix only be available on 1.7?

[2022-05-02 00:39] #2922 closed

[2022-05-02 02:34] jsalatiel commented on #3640
Getting back to this. Traceflow is not a nice replacement for logs in anp.log

[2022-05-03 22:54] antoninbas commented on #3680
@jsalatiel fix will be included in 1.6.1. Release will be late this week or next.

[2022-05-04 00:38] #2911 closed

[2022-05-04 18:11] jdoylei commented on #3640
Hi @tnqn, I completely agree with the issue described by @jsalatiel here, and his responses to your questions.

Background:
* We are implementing a Kubernetes cluster with VMware's "vSphere with Tanzu" product and adopted Antrea as the CNI plugin on their recommendation.
* We successfully tested using Kubernetes NetworkPolicy with Antrea, apart from logging policy denies, which our Cyber Security

[2022-05-04 20:07] jdoylei commented on #3640
About configuring the proposed logging behavior for Kubernetes NetworkPolicies/KNPs - since the NetworkPolicies within a namespace are evaluated collectively when deciding whether a pod is isolated by KNP, maybe the configuration is something that makes sense per namespace?  Some options:

* Enable KNP drop logging by installing an AntreaNetworkPolicy in the given namespace, assuming AntreaNetwork

[2022-05-04 21:43] Dyanngg commented on #3640
/cc @antoninbas @jianjuns

[2022-05-04 22:04] antoninbas commented on #3640
I think that this is a legitimate ask. The idea of adding an Antrea-specific Namespace annotation to toggle logging for K8s NetworkPolicies in that Namespace is interesting IMO.

[2022-05-04 22:37] antoninbas opened #3729 "Assumption that a secret token is automatically created for each ServiceAccount not valid anymore"
**Describe the bug**
The assumption  that a secret token is automatically created for each ServiceAccount is not valid anymore, starting with K8s v1.24.

This is the relevant entry in the [CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md):

One can refer to [KEP 2799](https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/2799-reduction-of-s

[2022-05-05 00:17] jianjuns commented on #3640
Is it the reasoning that - users prefer to use K8s NetworkPolicy (which they are more familiar with) over AntreaNetworkPolicy, but they are willing to learn the new annotation?

[2022-05-05 00:27] jsalatiel commented on #3640
Afaik , the annotation is created by the cluster admins. The KNP by the devs.

[2022-05-05 00:29] jianjuns commented on #3640
Was thinking about that too, which makes more sense to me. + @yfauser to see if he has an opinion.

[2022-05-05 14:00] jdoylei commented on #3640
That's exactly what I was thinking, too.  It could allow a separation of duties like with the Namespace labels used by [Pod Security Admission](https://kubernetes.io/docs/concepts/security/pod-security-admission/) (`pod-security.kubernetes.io/enforce` etc.).  The KNPs and other application resources deployed inside the Namespace can stay CNI-agnostic and reflect app architecture information the de

[2022-05-06 07:52] hjiajing commented on #3315
The PR about this issue is #3474

[2022-05-06 11:40] tnqn commented on #3640
@jsalatiel @jdoylei thanks for the explanation. Now I understand the requirement is to log unintended access. The requirement and the proposal that uses a namespace annotation to control the behavior make sense to me.

If everyone is on the same page, @qiyueyao could you evaluate the change and see which release we can add the support?

[2022-05-06 18:35] #3729 closed

[2022-05-08 00:36] #2997 closed

[2022-05-09 00:37] #3005 closed

[2022-05-09 16:45] tnqn opened #3753 "Windows e2e test kept failing due to image pulling error"
**Describe the bug**

[code]

[code]

Not sure how did it work before, but recent failures were all because of it.

cc @XinShuYang

[2022-05-09 17:18] jianjuns opened #3754 "Multi-cluster Gateway scheduling and HA"
**Describe what you are trying to solve**
In the current implementation, users need to specify a single worker Node to be the Gateway, and the Gateway will not move to another Node if the specified Node fails.

Finally, we should allow users to specify a set of Nodes to potentially host Gateway and specify the desired number of active Gateway instances. Antrea should auto select Nodes to run the G

[2022-05-09 17:22] jianjuns commented on #3754
@gran-vmv @tnqn : could you review if the design makes sense?

Several questions:
1. When a Node fails, when agents re-select Gateway Nodes using memberlist, can we keep the previous Gateway Nodes which are still alive, but just select a new Node to replace the failed one? @tnqn
2. I feel better to let MC Controller (rather than antrea-agent) create Gateway CRs, to have a single source of truth fo

[2022-05-10 01:40] gran-vmv commented on #3754
LGTM overall.
I think the major issue is how we design the failover logic.

[2022-05-10 16:44] tnqn opened #3762 "cloud-antrea-gke-conformance-net-policy test failed consistently after bumping up test image to 1.22.8"
**Describe the bug**

The test started failing after merging https://github.com/antrea-io/antrea/pull/3700, which made test use the same version of image as the cluster's version. The cluster in GKE is 1.22.8-gke.200, the test image was updated from 1.18.5 to 1.22.8.
Look at the failures, all of them were because creating Pod failed:
[code]
And each build failed on different cases but all of them

[2022-05-11 02:32] xliuxu opened #3765 "Support IPsec Certificate-based Authentication"
**Describe what you are trying to solve**
The current Antrea IPSec support can only use preshared shared key (PSK) authentication with static manually created keys. This is too limited for serious use in enterprise networks.

**Describe the solution you have in mind**
OVS supports authenticating tunnel endpoints using x509 version 3 certificates. Antrea only needs to manage the certificates and lo

[2022-05-11 16:12] tnqn commented on #3762
I can confirm test image 1.20.15 can pass while 1.21.0 cannot. So it's related to test image.

And while I was testing, GKE happened to update the default K8s version, it's now 1.23.5-gke.2400 and node image with docker runtime can no longer be used:
[code]

[2022-05-12 11:07] Atish-iaf commented on #2247
### 1. Create a new component for Egress in Traceflow
kind-worker2 is Egress Node
Expeced Output:

- [ ] When Egressing from same Node

[code]
- [ ] When Egressing from a remote Node

[code]

### 2. Add more fields in `Forwarding` component for Egress

- [ ] When Egressing from same Node

[code]
- [ ] When Egressing from a remote Node

[code]
Egress Node is the final Node for an Egress traffic, so

[2022-05-12 13:13] tnqn commented on #3680
@jsalatiel https://github.com/antrea-io/antrea/releases/tag/v1.6.1 has been released, which should have the fix. Please let us know if the issue is resolved. Other minor releases should have no this issue.

[2022-05-12 18:19] antoninbas opened #3777 "[Security] Too many RBAC permissions for the antrea-agent ServiceAccount"
This issue discloses a possible security issue in older Antrea releases, for which the antrea-agent ServiceAccount was granted too many permissions through K8s RBAC. Some of these permissions could have been used to do significant damage to other workloads and to the clusters, _should a Node have become compromised (e.g. through a container escape) in a way that an attacker could gain access to th

[2022-05-12 18:20] antoninbas commented on #3777
Closing this issue as it is a security disclosure and we have already patched the latest Antrea minor release (v1.6) appropriately.

[2022-05-12 18:20] #3777 closed

[2022-05-12 22:01] jsalatiel commented on #3680
Working perfectly.

[2022-05-13 05:16] wenyingd commented on #3621
Yes, using "replaceRoute" should relove the issue.

[2022-05-13 17:41] jsalatiel opened #3785 "ServiceLoadBalancer + externalTrafficPolicy: Local = Connection Refused most of time"
**Describe the bug**
I have a 5 node cluster with a deployment with 2 replicas. The deployment uses the ServiceExternalIP  feature of antrea.
I can see that the service got an IP from the same node network
[code]
But if I try to curl  10.1.2.220  it will work for some remote endpoints, but not for others.
It works just fine if I set the externalTrafficPolicy=Cluster, but that way I will lose the c

[2022-05-13 18:20] antoninbas commented on #3785
This is the correct expectation and this is how the implementation should work even today.

Since you are using Antrea v1.6.1, you can exec into antrea-agent Pods and run `antctl get serviceexternalip`. It will display information about how external IPs are distributed across Nodes. The command only connects to the Agent API (which is why you need to exec into an antrea-agent Pod to run it). It ma

[2022-05-13 19:02] antoninbas commented on #2247
I like having a dedicated `Egress` component (solution 1), but may @jianjuns has some insight on how this is typically done in other solutions with a similar feature.

Just a few comments on that first approach:
* why is the `Egress` component after the `Forwarding` component? I think from an implementation perspective at least, the `Forwarding` component is populated based on information such as

[2022-05-13 19:34] jsalatiel commented on #3785
It appears to be acquired for worker5 which seems to be OK.
[code]

Pods are running on worker3 and worker 5
[code]
Service is there
[code]

From master1:
[code]
From node4 ( not running the pod ):
[code]

From node3 ( running the pod )
[code]

From node3 ( running the pod )
[code]

[2022-05-13 19:41] jsalatiel commented on #3785
I have never tested on 1.6.
I am starting to test this feature now, so I can replace metallb.

[2022-05-13 19:50] antoninbas commented on #3785
I assume you have the following default configuration, but let us know if this is not the case:
AntreaProxy enabled (feature gate set to true)
ProxyAll disabled (`antreaProxy.proxyAll` set to false)
kube-proxy running normally

[2022-05-13 20:02] jsalatiel commented on #3785
All default.
The only change i have done on the antrea.yaml file was changing ServiceExternalIP to true in two lines.

[2022-05-13 21:02] jianjuns commented on #2247
I like @antoninbas 's above proposal.

[2022-05-13 21:10] antoninbas commented on #3785
@jsalatiel I gave it more thought and I think this is the expected behavior and not specific to the Antrea implementation.
The traffic "path" is as follows:
1) you run the `curl` command from a Node (host) - `curl <LB IP>`
2) kube-proxy is handling the traffic
3) because Antrea has updated the Service with the correct LB external IP, kube-proxy can load-balance the traffic to that IP (as it would

[2022-05-13 23:12] antoninbas opened #3786 "Revisit logging framework for Antrea"
From the beginning, Antrea has been using `k8s.io/component-base/logs` and `klog` for logging. There have been several changes recently in upstream K8s which had / have an impact on Antrea logging:
- https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1602-structured-logging
- https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/2845-deprecate

[2022-05-14 02:47] antoninbas opened #3787 "Support running `./hack/make-metrics-doc.sh` from macOS"
Currently the only way to update the Prometheus metrics with the `./hack/make-metrics-doc.sh docs/prometheus-integration.md` command, is to run it on a Linux machine.

Why, you ask. Well because of 2 main issues:
1) the script assumes that the Antrea Agent and Controller can be reached using the control-plane Node IP. For example it assumes that metrics for the Agent can be retrieved from `https:/

[2022-05-14 20:16] jianjuns commented on #3786
1) sounds a reasonable choice to me. I do not know 4) well enough, but that sounds much more work than 1)?

[2022-05-14 20:28] jianjuns commented on #3785
If I understood the problem correctly, the ask is to select a Node with a backend Pod to assign the Service's LoadBalancer IP, when  externalTrafficPolicy is Local. I think we do not implement this behavior today, but it should be a valid feature. I also saw MetalLB does respect externalTrafficPolicy.

[2022-05-14 20:37] jianjuns commented on #3765
The proposal looks good to me. We should support user provided CA cert too.

A question: I assume `uthentication.kubernetes.io/pod-name` is auto populated by K8s, not added by antrea-agent right?

[2022-05-15 18:09] jianjuns commented on #3754
After more thinking, I now feel it is a little too complicated to leverage memberlist to select Nodes for active Gateway instances. An alternative choice is to let MC Controller select Gateway Nodes. On each Node, antrea-agent can use heartbeat to detect Gateway failure and always send cross-cluster traffic to the living Gateways. The same mechanism can be shared by antrea-agent to detect local Ga

[2022-05-16 05:57] Atish-iaf commented on #2247
I didn't had strong idea about implementation when i was writing, so just added `Egress` component at the end. I will make required changes.

Will correct this.

For duplication issue, i kept in on one node only.

Thanks @antoninbas for your suggestions. I'll try to implement your proposal.

[2022-05-16 06:51] tnqn commented on #3785
@jianjuns Antrea's implementation does respect `externalTrafficPolicy`:
https://github.com/antrea-io/antrea/blob/2526b1f8c9f3b70933ef96dab89e034db660574d/pkg/agent/controller/serviceexternalip/controller.go#L363-L371
I think @antoninbas is correct. The access is supposed to fail if the traffic towards a service with `Local` externalTrafficPolicy reaches a Node that doesn't have any backends of the

[2022-05-16 12:01] jsalatiel commented on #3785
I understand what @antoninbas  and @tnqn are saying and it looks like the expected behaviour, but there is something still strange happening.
If I try to curl from any node outside the cluster but in the same network ( 10.1.2.0/24 ) it will work, but If I try from any node outside the cluster but in another network ( 172.16.0.0/24 for example ) I will be able to ping the service IP but I will get

[2022-05-16 12:42] jsalatiel commented on #3785
More debugging here:
I have opened a tcpdump on all cluster nodes ( including the masters ) and I can see that when I curl from one server in another network, that curl was arriving on the master node, and after a while started arriving on another node not running the pod, and then got to a node that has the pod and curl started answering for a while until that IP moved again.
Thats really odd.
1)

[2022-05-16 13:15] xliuxu commented on #3785
ping will not work for the external IPs of Services managed by Antrea. The IP is virtually assigned on Nodes.

AFAIK no extra requirements are required.

`antctl get serviceexternalip` should always return the same Node selected by Antrea on all antrea-agents. Could you help to confirm the result of tcpcump when running curl from the same subnet?

[2022-05-16 13:30] xliuxu commented on #3765
For user-provided CA, do we need user to provide the CA and also privatekey in order to sign certificates for Nodes? Or do you mean that user only need to provide the CA certificate, and they will also need to sign and manage certificates for all Nodes. If the latter applies, the potential issue is that we may need users to save all the certificates and private keys for Nodes to one single Secret

[2022-05-16 13:38] jsalatiel commented on #3785
Ping does work ( from servers outside the cluster at least )! This is a new subnet so I am absolutely sure there is no IP conflict if that's what you mean. As soon I remove the service  ( which releases the loadBalancerIP ) ping stops.
[code]

10.1.2.23 is the node5 node IP. Curious that when I remove the service from the cluster and ping stops, the real ip of the node is exposed. ( good to know )

[2022-05-16 14:03] jsalatiel commented on #3785
i tried a quick deploy of metalLB and got the same problem, so I decided to read metallb documentation and found the fix there.
The kube-proxy must have strictARP: true
I could not find that on Antrea's serviceexternalIP, so it would be nice put there.

![image](https://user-images.githubusercontent.com/5522389/168610444-1d67e560-f6d7-410f-8269-7b36d744b7a3.png)

[2022-05-16 14:10] jsalatiel commented on #3785
Found a nice comment [here](https://lifesaver.codes/answer/kube-proxy-in-ipvs-mode-breaks-metallb-ips-153) that may explain what was happening to me.

[2022-05-16 15:32] jianjuns commented on #3765
I meant users to provide CA private key.

[2022-05-16 16:31] jsalatiel commented on #3785
I do not know how to do PRs , sorry.

[2022-05-16 16:53] jianjuns commented on #3785
No problem. I can make the change.

In case you like to learn how to create a PR, check here: https://github.com/antrea-io/antrea/blob/main/CONTRIBUTING.md.

[2022-05-16 16:55] jsalatiel commented on #3785
Thanks. Closing this.

[2022-05-16 17:17] jsalatiel opened #3794 "Add namespace name to antrea network policy logs"
It would be really nice if we could get the namespace name on the antrea network policy logs. I do not even know if this would be possible, but if so it would be a lot more friendly to debug if you see any drops because you can clearly see if those namespaces should be communicating or not.
of course if the traffic comes from/goes to some external entity that should issue a "null" namespace as sou

[2022-05-16 17:46] antoninbas commented on #3794
It's easy enough to add the Namespace / Name for the local Pod (the Pod on which the network policy is applied) to the logs. The Antrea Agent has this information already. However, getting that information for the other endpoint - if it is a Pod - is not really straightforward. The Pod will typically be on a different Node, and the Agent generating the log entry has no knowledge about that Pod, it

[2022-05-16 18:13] antoninbas commented on #3785
We need to document this, something came up in the past already with kube-proxy IPVS: https://github.com/antrea-io/antrea/issues/3370

Although it may be a pain to identify when exactly it is required. And @tnqn pointed out in the past (https://github.com/antrea-io/antrea/issues/3370#issuecomment-1055072889) that strictARP mode may interfere with the Egress feature if we are not cautious.

[2022-05-16 18:25] jianjuns commented on #3785
That is actually a TODO (@xliuxu) with Egress. We can add it too in the Service LB document.

[2022-05-16 19:27] jsalatiel commented on #3785
What must be done to not break egress?

[2022-05-16 21:15] heanlan opened #3795 "DenyConnectionStore connections IP address mix up"
I recently found this bug and have spent a week on it without finding the root cause. I have asked around in the flow-visibility team @dreamtalen @yanjunz97 , we didn't work it out. I'm trying to reach out to the broader team for help, to see if there's any golang behaviors or packetIn logic that we are not aware of can possibly result in the error. Any help will be much appreciated.

cc @antoninb

[2022-05-17 07:52] heanlan commented on #3795
I was finally able to find the root cause.

`func (c *Controller) HandlePacketIn(pktIn *ofctrl.PacketIn)` takes pointer of PacketIn as the argument. And it pass the pointer to `func (c *Controller) storeDenyConnection(pktIn *ofctrl.PacketIn)`. IP addresses are read from pktIn, with underlying structure []bytes. When we initialize the IP addresses of a deny conn, with the assignment below, it is sh

[2022-05-17 08:10] jainpulkit22 commented on #3787
@antoninbas can i work on it

[2022-05-17 10:57] jsalatiel commented on #3794
It would be great to have the namespace/pod name for local on the logs, even if it is only half of the information it would be really helpful if it could be implemented.

[2022-05-17 10:59] jsalatiel commented on #3785
Can that be set automatically by the node agent if it detects strictArp=true?

[2022-05-17 14:44] jianjuns commented on #3785
I think our plan is to remove the requirement for arp_ignore for Egress. If you do have use cases to have both Egress and Service LB working with kube-proxy IPVS, we can prioritize the fix.

Another solution is to use AntreaProxy to replace kube-proxy: https://github.com/antrea-io/antrea/blob/main/docs/antrea-proxy.md#antreaproxy-with-proxyall. Not sure if that is what you want though.

[2022-05-17 15:12] jianjuns opened #3804 "Make Egress work with kube-proxy IPVS strictARP mode"
**Describe the problem/challenge you have**
When kube-proxy IPVS is configured with strictARP mode (which is required in particular cases like #3785, #3370), Antrea Egress feature may not work as expected, as described in https://github.com/antrea-io/antrea/issues/3370#issuecomment-1055072889.

**Describe the solution you'd like**
There is already a plan described in a TODO comment of Egress IPAss

[2022-05-17 15:13] jianjuns commented on #3785
Good to know you plan to use the feature in production! We can definitely prioritize the Egress fix. I created an issue to track that: 3804

[2022-05-17 15:26] xliuxu commented on #3765
Thank you @jianjuns. btw, do we need a feature gate for this feature? Or should we replace the PSK-based verification completely?

[2022-05-17 15:28] xliuxu commented on #3804
This should be a simple fix. I will take this. Thank you @jianjuns.

[2022-05-17 15:34] tnqn commented on #3786
With 1 or 4, will there be logs of different formats due to antrea code and k8s library code using different logers?

[2022-05-17 15:40] jsalatiel opened #3805 "add endpointSelector support for netpolicies"
Antrea netpolicies support nodeSelector which easiness a lot the job of having "dynamic" rules. I can easily match for example all control-plane nodes by using _node-role.kubernetes.io/control-plane: ""_ and new control plane nodes added will be automatically added to the addressgroup  ( as far as i understand ) that matches the netpolicy.

So it is really easy to build netpolicies to allow:
All i

[2022-05-17 15:41] jsalatiel commented on #3558
Closing this in favor of #3805

[2022-05-17 15:41] #3558 closed

[2022-05-17 21:07] jianjuns commented on #3795
Given most consumers just read the packetIn data once, and in some cases we expect to process packets efficiently, I think it is fine to avoid a deep copy of the whole packetIn, but probably we should add comments to handlePacketIn() that not safe to save and access pointers/slices of packetIn in another routine.

[2022-05-17 21:09] antoninbas commented on #3795
I am not sure we need to make a copy before calling the handlers. However, adding a comment in code to indicate that the handler implementations should not modify the input pktIn and should not assume that the pktIn contents will not be modified at a later time could be a good idea.

Based on the code, it is not clear to me why the memory contents get overwritten later. My assumption is that it is

[2022-05-17 21:22] antoninbas commented on #3786
@tnqn In both cases, we keep using the klog logging facade (`klog.Info`, `klog.Error`, ...). I think that when we consume K8s libraries in Antrea, the libraries don't initialize any specific logging backend (they just use the klog logging facade). So Antrea can configure the logging backend for klog as desired, and both Antrea + the K8s libraries should end up using the same logging facade and the

[2022-05-17 23:56] #3118 closed

[2022-05-17 23:56] #3497 closed

[2022-05-17 23:56] #3584 closed

[2022-05-17 23:57] antoninbas commented on #3540
We have upgraded client-go to v0.24, so if someone wants to work on that issue, it should be straightforward

[2022-05-18 09:29] gran-vmv opened #3806 "OVS flows in L3Forwarding table conflict"
**Describe the bug**

**To Reproduce**
Run ipv6-ds-e2e test. This issue should affect ipv4/ipv6/ds, but actually only ds will fail.

**Expected**
All cases passed.

**Actual behavior**
Ingress drop policy may not take effect on some Node for intra-Node traffic.
[code]

**Versions:**
Antrea>=1.6

**Additional context**
Caused by priority conflict. Below flows are used by Egress feature which enable

[2022-05-18 09:34] gran-vmv commented on #3806
Wrong result trace:
[code]

Correct result trace:
[code]

[2022-05-18 09:36] gran-vmv commented on #3806
@hongliangl @wenyingd

[2022-05-18 11:52] liu4480 opened #3808 "multicast does not work if antreaPolicy is disabled"
**Describe the bug**

**To Reproduce**

disable antreaPolicy while enable Multicast in feature-gates both for antrea-controller and antrea-agent
**Expected**

multicast can work
**Actual behavior**

multicast does not work
**Versions:**
main branch

**Additional context**

[2022-05-18 16:53] #3808 closed

[2022-05-18 19:18] projx commented on #3581
If I could add an additional suggestion to this - When clicking "Submit" on the TraceFlow form, if there is an error (such as a invalid Pod name), the form completely resets and loses all values, these should be persistent.

[2022-05-19 00:43] #3039 closed

[2022-05-19 18:32] antoninbas commented on #3794
Thanks for the feedback. I'd like to make the following points though:
* we don't intend for the flow visibility tools to miss any connection. We want to have at least one flow record for every connection. We listen to conntrack for events (at the moment we poll, but I'd like us to change that and even when polling, connections stay in conntrack for long enough for us to catch everything)
* we are

[2022-05-19 21:51] #3786 closed

[2022-05-19 22:32] #3795 closed

[2022-05-21 01:38] jianjuns commented on #3794
Yes, it seems hard to add remote Pod information for every logged packet, and probably also hard to stream all logs to a central service to add Pod information there.

Maybe we can have an async service (in antrea-agent or a separate one) to add information for dropped traffic (assuming dropped traffic is less), and try best to add information for other with some rate control?

[2022-05-21 01:44] jianjuns commented on #3805
Humm - this is an interesting requirement. However, my feeling the proposal is very specific to control plane Nodes, as typically Endpoints are not Node IPs. @Dyanngg : thoughts?

[2022-05-21 10:10] jsalatiel commented on #3805
Yes, most for control plane.
This also affect some services that talk to the control plane using endpoints instead of the default/kubernetes services. Prometheus stack is one example of those services.

[2022-05-21 10:36] jsalatiel commented on #3794
I like to the appriach of just writing to a file. If it's going to be on a central location, add to a log file in the node running the controller.

[2022-05-22 22:29] jsalatiel opened #3815 "Can not delete namespaces"
I can not delete namespaces.
Get:
[code]

**To Reproduce**
Antrea 1.6.1 on EKS

**Expected**
The namespace should be deleted.

**Actual behavior**
The namespace will be forever on terminating state.

**Versions:**
 - Antrea version (Docker image tag). 1.6.1
 - Kubernetes version (use `kubectl version`). v1.22.6-eks-14c7a48

I have a default DROP netpolicy, but kube-system can talk to Self and to c

[2022-05-23 03:56] luolanzone opened #3817 "Fix deprecated log options"
**Describe the bug**
I saw that there are logs indicates some log options will be deprecated in the future. These options are used in both Antrea-agent and Antrea-controller, we need to fix them before they are truly removed.

[code]

[2022-05-23 04:04] tnqn commented on #3817
duplicate of #3786, already fixed by https://github.com/antrea-io/antrea/pull/3810

[2022-05-23 04:04] #3817 closed

[2022-05-23 21:05] antoninbas commented on #3815
This error means that the K8s control plane cannot communicate with the Antrea (Controller) API. This is independent of network policies given that the antrea-controller Pod is a hostNetwork Pod. Do you have any VPC security group rules denying such connections?

[2022-05-23 21:09] jsalatiel commented on #3815
No, I have not.
I have deleted the controller pod and after it was rescheduled by k8s(at the same node btw) the deletion worked. Is there a proactive way to detect when this problem happens? What other problems can i face if the control plane can not take to antrea controller(I am supposing this is the problem )?

[2022-05-23 21:53] antoninbas commented on #3815
Antrea uses [K8s aggregated APIs](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/) to expose some Antrea Controller APIs through the K8s apiserver. Some functions in antctl depend on that.

In K8s, if any API (including aggregated APIs) is not reachable, it prevents Namespace deletion.

I don't know why you get in a situation where these APIs are not acce

[2022-05-24 00:42] #1528 closed

[2022-05-24 06:23] luolanzone opened #3822 "Unused Multicluster CRDs and dead codes clean up"
**Describe the bug**
There are some CRDs like `ResourceExportFilter`,  `ResourceImportFilter` which are introduced in very early stage, but they are actually never being used, so we should clean up those unused CRDs and dead codes.
Below are CRDs:
https://github.com/antrea-io/antrea/blob/main/multicluster/apis/multicluster/v1alpha1/resourceexportfilter_types.go
https://github.com/antrea-io/antrea/

[2022-05-24 06:23] luolanzone commented on #3822
@hjiajing  Could you help to take a look at this issue? thanks!

[2022-05-24 07:15] hjiajing commented on #3822
@luolanzone Sure. I will take a look. Thanks

[2022-05-24 10:22] luolanzone commented on #3704
Hi @mohitsaxenaknoldus  Are you still working this issue? or I should assign this to others.

[2022-05-25 00:57] luolanzone commented on #3684
@jainpulkit22 will work on other tasks, reassign this to @urharshitha

[2022-05-25 13:41] XinShuYang opened #3826 "Support NodePortLocal on Windows agent and update NPL annotation"
**Describe the problem/challenge you have**
There's no Windows agent support for NPL so far. We can implement windows npl rules with NetNatStaticMapping.

**Describe the solution you'd like**
- [x] Windows NPL rule support. We have NetNatStaticMapping implementation now.
- [x] E2e framework update. It should support configmap update on Windows Node.
- [x] NPL e2e test support on windows.
- [ ] A n

[2022-05-26 00:41] #1463 closed

[2022-05-26 09:53] #3480 closed

[2022-05-26 09:53] #3574 closed

[2022-05-26 15:33] tnqn opened #3834 "Consider supporting IPsec tunnel for TrafficControl"
_Originally posted by @antoninbas in https://github.com/antrea-io/antrea/pull/3800#discussion_r875279189_

[2022-05-26 17:46] jianjuns commented on #3834
Mirroring with IPsec might be useful for some use cases. But I would see any feedback from users and community before adding IPsec support for TrafficControl.

[2022-05-27 06:02] hjiajing commented on #3822
I created a PR about this issue. https://github.com/antrea-io/antrea/pull/3836

[2022-05-27 08:21] jsalatiel commented on #3471
Any updates on this ?

[2022-05-27 11:35] liu4480 opened #3838 "hack/generate-manifest.sh has some options does not implement"
**Describe the bug**
There are some options in hack/generate-manifest.sh, which are not implemented.

**To Reproduce**
1. Run `./hack/generate-manifest.sh --help` to see what is supported:
[code]

2. Run command  `./hack/generate-manifest.sh --mode dev --encap-mod noEncap`

**Expected**
It is expected  to change encap mode with `./hack/generate-manifest.sh --mode dev --encap-mod noEncap`

**Actual

[2022-05-27 11:41] tnqn commented on #3838
The warning has clearly pointed out the problem: `Unknown option --encap-mod`, there is only --encap-**mode**

[2022-05-27 11:41] #3838 closed

[2022-05-27 18:05] antoninbas commented on #3471
I'll take a look at this. I assume it's just a matter of changing the `docker` command in the script to use `ctr` instead.

[2022-05-27 21:07] antoninbas commented on #3471
@tnqn I submitted a patch for this, would be good to include it in v1.7 if possible

[2022-05-28 00:59] qiyueyao commented on #3640
@jsalatiel @jdoylei @jianjuns @tnqn @Dyanngg thanks for the proposal and discussion. Had a question regarding admission for the two methods
1. namespace annotation -- Antrea would not have enforcement on that only cluster admins create the annotation, admission depends on specific clusters, Antrea only retrieves this information.
2. Antrea CRD -- Antrea could be responsible and verify admission fo

[2022-05-28 05:37] jianjuns commented on #3640
I think Namespace annotation should work.

[2022-05-28 10:22] jsalatiel commented on #3640
annotation is fine

[2022-05-30 03:07] luolanzone commented on #3704
Hi @mohitsaxenaknoldus  due to no response from you, I will re-assign this to @KMAnju-2021 , thanks.

[2022-05-30 12:02] tnqn opened #3842 "ipv6 e2e tests keeps failing on TestAntreaPolicy"
**Describe the bug**

For antrea-ipv6-ds-e2e-for-pull-request/, the following tests keeps failing.
[code]
For antrea-ipv6-only-e2e-for-pull-request, the following tests keeps failing.
[code]

[2022-05-30 12:03] tnqn commented on #3842
@Dyanngg @GraysonWu could you take a look?

[2022-05-31 00:39] #1616 closed

[2022-05-31 03:29] #3765 closed

[2022-05-31 05:50] outbackdingo opened #3843 "seems you broke something today recently, worked yesterday"
today its broken kubectl apply -f https://raw.githubusercontent.com/antrea-io/antrea/main/build/yamls/antrea.yml results in

![image](https://user-images.githubusercontent.com/52370034/171101821-443764e7-6e2e-46d2-964b-69b7f2c9d2bb.png)

[2022-05-31 10:20] luolanzone commented on #3843
Hi @outbackdingo Have you tried to pull latest image `projects.registry.vmware.com/antrea/antrea-ubuntu:latest`?  The `imagePullPolicy` of antrea-agent DaemonSet is `imagePullPolicy: IfNotPresent`, this should be caused by image and yaml mismatch.

[2022-05-31 10:28] luolanzone opened #3845 "Migrate MC e2e env from pre-defined Clusters to kinds Clusters"
**Describe what you are trying to solve**
Due to new data path change introduced in Multicluster, now we are maintaining two pre-defined ClusterSets for e2e test in lab. This requires more efforts to maintain two env, and hard to track env change.

**Describe the solution you have in mind**
We can migrate current ClusterSets to kind clusters and provision them dynamically to reduce maintenance eff

[2022-05-31 18:16] #3804 closed

[2022-05-31 19:12] antoninbas commented on #3843
I'm closing this issue as @luolanzone's explanation is accurate. You could edit `antrea.yml` after downloading it (and before applying it) to change the `imagePullPolicy` to `Always` (there are several occurrences in the manifest file).
My recommendation is to use a released / tagged version of Antrea when possible.

[2022-05-31 19:12] #3843 closed

[2022-05-31 20:13] jsalatiel commented on #3804
Will this be available on 1.7?

[2022-05-31 20:20] jianjuns commented on #3804
Yes. We already merged the fix to main. You can try it if you want.

[2022-05-31 21:49] antoninbas opened #3847 "NPL TestMultipleProtocols unit test failing"
**Describe the bug**

https://github.com/antrea-io/antrea/actions/runs/2416940934

[code]

**Versions:**
main branch

[2022-05-31 21:51] #3471 closed

[2022-06-01 03:38] wenyingd opened #3848 "Antrea Agent is crashed on Windows"
**Describe the bug**
Antrea Agent fails to run because of the following error:
[code]

Having checked code and configurations, it should be related with https://github.com/antrea-io/antrea/pull/3778.
antrea-agent-windows.yaml doesn't have set the default values for ipse option since it is not supported on Windows, agent code doesn't set default value in function option.complete. But the function v

[2022-06-01 05:09] XinShuYang commented on #3847
I didn't find the same error after triggering test again. It's a little weird because we didn't change recent linux npl code and it should still assign the same nodeport to a new rule with existed podip+podport and new protocol. And I think maybe we don't need this nodeport consistency check iafter we support unified port allocation? @antoninbas

[2022-06-01 11:44] #3848 closed

[2022-06-01 12:56] xliuxu opened #3851 "Unit test for IPsec certificate is flaky"
**Describe the bug**
[code]
[code]

**To Reproduce**
Unable to reproduce it locally, but have seen it twice in Github actions.

[2022-06-01 16:22] XinShuYang commented on #3847
`testSvc2.Spec.Ports = append(testSvc2.Spec.Ports, corev1.ServicePort{
		Port:     81,
		Protocol: corev1.ProtocolUDP,
		TargetPort: intstr.IntOrString{
			Type:   intstr.Int,
			IntVal: 80,
		},
	})`
I think the Protocol should be ProtocolTCP here, currently we get "spec: {[{ udp <nil> 81 {0 80 } 0} { UDP <nil> 81 {0 80 } 0}] map[tcp:true udp:true]" from testSvc2 after svc update.
And the new ann

[2022-06-01 18:26] antoninbas commented on #3826
Re-opening this issue as some tasks are not completed.

In addition, since #3453, it is no longer possible to run the NPL unit tests on macOS, which is quite annoying when developing locally and troubleshooting. I expect that when the PortTable implementation is unified across Linux & Windows, we will once again be able to run the tests on macOS.

[2022-06-01 20:18] antoninbas commented on #3847
I am taking a look at this and trying to reproduce.
I agree that this is a strange failure (plus the test is written in a confusing way). My fear is that there is some race condition. I just saw the test fail again on main: https://github.com/antrea-io/antrea/actions/runs/2420323323

[2022-06-02 00:49] #3076 closed

[2022-06-02 00:58] XinShuYang commented on #3826
Do you mean to run "make docker-test-unit" on macOS? Is it the same issue in https://github.com/antrea-io/antrea/issues/3847 ?

[2022-06-02 01:06] antoninbas commented on #3826
No, I mean `go test -v ./pkg/agent/nodeportlocal/. It doesn't work for all Antrea modules because some dependencies cannot be satisfied on macOS, but it works for most packages. There isn't really any reason why it shouldn't work for NPL tests, since we mock the `PodPortRules` interface.

[2022-06-02 01:48] wenyingd commented on #3847
I am also looking at this issue, and I doubt it is related with the order of update Pod2's label and update Service2's label ( not sure about it). The current testing code is first to update Pod2's label, then Service2's label. When npl_controller processes Pod2's update, if the Service2 is not updated yet, it should first add TCP protocol ( selected by Service1 ), then delete UDP protocol ( selec

[2022-06-02 05:02] XinShuYang commented on #3847
Wenying and I just found a possible case that may cause this issue. Although the pod label was updated earlier(`updatePodOrFail` , `updateServiceOrFail`), NPL workers still could finish service info update before pod info update in race condition. In this situation, the pod2 annotation was **fully removed** firstly, then added a new nodeport with both tcp and udp rules to pod2 by service update (f

[2022-06-02 05:26] antoninbas commented on #3847
@XinShuYang I was able to reproduce it in my fork with a simple workflow: https://github.com/antoninbas/antrea/blob/go-test/.github/workflows/go-test.yml. You may want to do something similar in your fork. It took 3 tries, and it seems to only happen with the `-race` flag and the code coverage flags.

I increased the log verbosity a bit for my test, and I saw the following logs:
[code]
Notice that

[2022-06-02 05:37] XinShuYang commented on #3847
Thanks, I will also try to reproduce the error and collect logs with your setup.

[2022-06-02 06:57] wenyingd opened #3856 "e2e test case "TestAntctl/testAntctlProxy/AgentIPv4" always fails on branch feature/externalnode"
**Describe the bug**
On feature branch `feature/externalnode`, e2e test case "TestAntctl/testAntctlProxy/AgentIPv4" always fails in kind test and CI e2e-test job after rebasing on the main branch.

Having added some log info with the failed case, I got this output:
[code]
Looking into the code, the error log is output when antctl fails to read AntreaAgentInfo with the target Node name. It is possi

[2022-06-02 13:44] jdoylei commented on #3640
@qiyueyao - The namespace annotation sounds fine to me, even without Antrea itself enforcing who can or can't create the annotation.

I think organizations deploying a cluster with Antrea could still choose one or both of these options outside of Antrea:
- Use K8s RBAC to restrict who can create and modify Namespaces, and those users also have permission to set this Antrea-specific annotation on N

[2022-06-04 14:10] chipzoller opened #3859 "Running `kind-setup.sh` with no arguments fails to locate image"
**Describe the bug**

When following the instructions given [here](https://antrea.io/docs/v1.6.1/docs/kind/#create-a-kind-cluster-and-deploy-antrea-in-a-few-seconds) and running `kind-setup.sh` with no arguments (on KinD v0.14), the script is unable to locate and therefore load the image named `projects.registry.vmware.com/antrea/antrea-ubuntu:latest`.

**To Reproduce**

1. Have KinD v0.14 install

[2022-06-04 14:15] chipzoller commented on #3859
After reading the documentation further, once I manually pull the docker pull `projects.registry.vmware.com/antrea/antrea-ubuntu:latest` image and re-run the script, it complete successfully. There either needs to be:
1. A provision in the script to detect and pull (if missing) the appropriate image prior to attempting the load or;
2. a note in the documentation stating that is a prerequisite to r

[2022-06-06 00:37] #1627 closed

[2022-06-06 01:40] wenyingd commented on #3856
Having added some debug info in antctl code where returns error, and got the followsing output:
[code]

The changed code in path `pkg/antctl/raw/helper.go` is like this,
[code]

[2022-06-06 03:41] mengdie-song commented on #3856
I am looking into it and will make a fix.

[2022-06-07 09:35] wenyingd opened #3866 "Considering compiling antctl on Windows along with command windows-bin"
**Describe the bug**

antctl is useful to help collect Controller and Agent informantion for troubleshooting. On Windows, we always use two commands `make windows-bin` and `make antctl` to generate the basic bits. But it is only one command "make bin" would build all bits on Linux.

It would be better if antctl is built in the command `make windows-bin`

**To Reproduce**

**Expected**

**Actual be

[2022-06-08 03:15] XinShuYang commented on #3847
In failed case the annotation is:
pod2ValueUpdate,: [{80 10.10.10.10 61002 tcp [tcp]} {80 10.10.10.10 61002 udp [udp]}]

After adding a waiting window, the test has not failed again.

[2022-06-08 12:04] jsalatiel commented on #3805
@Dyanngg , thoughts? =)

[2022-06-08 12:32] jsalatiel opened #3872 "Documentation improvement on action=Pass / priority and ANP vs ACNP"
According to the documentation, we have:

action: Each ingress or egress rule of a ClusterNetworkPolicy must have the action field set. As of now, the available actions are ["Allow", "Drop", "Reject", "Pass"]. ... **A "Pass" rule, on the other hand, skips this packet for further ACNP rule evaluations** (all ACNP rules that has lower priority than the current "Pass" rule will be skipped, except for

[2022-06-08 14:53] tnqn opened #3873 "Antrea policies with exact FQDN doesn't work on IPv6 clusters"
**Describe the bug**

I found the issue when investigating #3842. antrea-agent logs show DNS resolving never succeeded:
[code]
The problem is IPv6 address must be wrapped with "[]" when used in network API. It seemed policies with exact FQDN never worked. However, the test only started failing recently and was relatively stable before. I checked previous success log and found the first two probes

[2022-06-08 16:09] XinShuYang commented on #3873
Release-1.6 can pass both dual-stack and ipv6 e2e test. I think it's possible the code change between 1.6 and 1.7 introduce this new issue. @tnqn

[2022-06-08 16:15] tnqn commented on #3873
@XinShuYang thanks for the information. What's more strange is I can reproduce this error when running v1.6.0 in my local kind cluster and it failed because of the same reason as main branch. I don't understand why running release-1.6 on CI can get 3 "REFUSED". When running release-1.6 and main branch, is there any K8s version difference?

[2022-06-08 17:59] Dyanngg commented on #3872
Hi @jsalatiel, we already have a PR in flight addressing these, namely #3512.
To answer your questions though:
1. Pass is a valid action in ANP as well
2. It will skip further ACNP/ANPs with lower priorities
3. It will cause indeterministic behavior.

[2022-06-08 18:28] jsalatiel commented on #3872
Thanks

[2022-06-08 18:28] #3872 closed

[2022-06-09 01:16] GraysonWu commented on #3842
Update my current investigation here:
Failures of `RejectNoInfiniteLoop` and `ACNPServiceAccountSelector` cases are caused by the same reason, the CT state.

Let me use `RejectNoInfiniteLoop` as an example to explain details since it has more traffic types. In `RejectNoInfiniteLoop`, there are four cases to be tested. We used ACNP to block the traffic from the client to the server and from the ser

[2022-06-09 02:44] mengdie-song commented on #3856
Command "antctl proxy --agent-node" requires the information from AntreaAgentInfo.
As a result, we need to make sure the content of AntreaAgentInfo is populated before
we run the command.

Since we recently move AntreaAgentInfo creation from agent to controller for branch feature/externalnode, agent may
not set the content for AntreaAgentInfo when it starts if controller has not created the Antrea

[2022-06-09 02:44] #3856 closed

[2022-06-09 02:49] gran-vmv commented on #3842
Test DualStack e2e with flexible-ipam, all TestAntreaPolicy cases passed. Is this issue related to iipv6/ds env?
My env uses K8s==1.23.x

[2022-06-09 03:14] XinShuYang commented on #3873
All ipv6 tests run on private testbed so the k8s version is same. The k8s version is 1.21.2 for ipv6-dual stack and 1.18.12 for ipv6-only.

[2022-06-09 03:59] wenyingd commented on #3842
Having debugged the issue along with @GraysonWu , I think this issue could be fixed by @hongliangl 's PR https://github.com/antrea-io/antrea/pull/3809. The reason is the traffic from local to local Pods are mismatched by the flow `table=L3Forwarding, priority=190,ct_state=-rpl+trk,ip,reg0=0x3/0xf actions=resubmit(,EgressMark)` for a priority conflict. Then the packet is added with a "toGateway" ma

[2022-06-09 04:12] tnqn commented on #3842
Thanks all for debugging this.
@hongliangl confirmed the two flows have been there since 1.6.0, however, the issue only appeared recently on main branch.
I guess the issue was there since 1.6.0 but was hidden by randomness of hashing that previously the desired flow was executed first, some recent changes changed hash factor which caused the undesired flow was executed first.
Anyway let's merge #3

[2022-06-09 04:21] tnqn commented on #3842
BTW, the issue is same as https://github.com/antrea-io/antrea/issues/3806 @gran-vmv filed days ago.

[2022-06-09 05:01] #3806 closed

[2022-06-09 05:07] GraysonWu commented on #3842
I did a quick test with the commit in PR #3809 cherry-picked. And `RejectNoInfiniteLoop` and `ACNPServiceAccountSelector` passed. Result here: http://10.176.27.169:8080/view/dual-stack/job/antrea-ipv6-ds-e2e-for-pull-request/1170/console

[2022-06-09 05:10] tnqn commented on #3842
@GraysonWu thanks for confirming. I have merged #3809 and let's see if whole tests of pending PRs can now pass.

[2022-06-09 05:29] gran-vmv commented on #3842
Agree with you. I test flexible-ipam DualStack with #3809 on my testbed and never hit this issue.

[2022-06-09 05:29] #3866 closed

[2022-06-09 06:07] XinShuYang commented on #3710
Update CAPV image to 1.23 based on ubuntu20.04.

[2022-06-09 08:13] XinShuYang commented on #2205
This feature has been supported in antrea windows.

[2022-06-09 08:13] #2205 closed

[2022-06-09 08:18] tnqn commented on #3842
Closing this as ipv6-e2e is stable now. ipv6-only-e2e issue is tracked by https://github.com/antrea-io/antrea/issues/3873.

[2022-06-09 08:18] #3842 closed

[2022-06-09 10:05] luolanzone commented on #3754
@jianjuns  I am thinking maybe we can run a dummy deployment for all Gateway Nodes, and use [leader election](https://github.com/kubernetes/client-go/tree/master/tools/leaderelection) provided by client-go to do elect active Gateway and provide an API for other member clusters to get active Gateway?

[2022-06-09 17:32] jianjuns commented on #3754
What you mean by "provide an API for other member clusters to get active Gateway"? Please add details.

[2022-06-10 00:42] #3119 closed

[2022-06-10 00:42] #3117 closed

[2022-06-10 01:51] luolanzone commented on #3754
I am thinking it maybe like the API endpoint in the Agent, an Endpoint like http://<mc-gateway-ip>:10350/active-gateway, The deployment on all local Gateways will have only one active replica. The active replica will be running on local active Gateway Node, It can get remote Gateway info from ClusterInfoImport, and check all remote Gateway's endpoint, it can return success as long as it get the ac

[2022-06-10 03:52] jianjuns commented on #3754
I am still confused.

1. Do you have one active Gateway or multiple ones per cluster? Finally we need to support multiple active Gateways. The design needs to consider that.
2. How client-go leader election is used?

Ideally, we want not require another port open across clusters, except the tunnel port. Opening a port requires firewall configuration.

[2022-06-10 04:23] luolanzone commented on #3754
Ok, I thought we will support one active Gateway and do HA with failover. Here is a blog about [client-go leader election](https://itnext.io/leader-election-in-kubernetes-using-client-go-a19cbe7a9a85). The core idea is:
[code]
It's simple to use, a sample code is like below:
[code]

[2022-06-10 04:35] jianjuns commented on #3754
We can start from one active GW, but we should finally support active/active. We discussed it multiple times.

I meant in your proposal how leader election is needed? You said you want to run a single replica; then you still need a leader? If we need a leader, we can consider client-go, or just use memberlist. The latter makes more sense if we want to leverage memberlist to detect active GW failur

[2022-06-10 04:46] luolanzone commented on #3754
OK, I mean a Deployment with multiple replicas in all Gateways but only one is active (as a leader) if leader election is used, but you are right,  memberlist should be faster considering the K8s API introduces latency during request and response.

[2022-06-10 05:11] jianjuns commented on #3754
I now feel it might be simpler to let mc-controller select active Nodes (than a separate Deployment or elect). We may consider election as a backup solution for faster failure detection and failover, as a future enhancement. What you think?

In dataplane, we can implement a simple heartbeat (over tunnel to avoid opening another port) to detect an active Gateway is up or not without depending on ap

[2022-06-10 05:57] luolanzone commented on #3754
yeah, I think it's Ok to let mc-controller to select active Nodes, and we need to define what's the policy to do selection. one remain question from me is if we let mc-controller to do selection, and there is also heartbeats, does it mean we only let mc-controller to select active Gateway Nodes at very beginning and let heartbeat to detect which Gateway is preferred in data plane? I am thinking  i

[2022-06-10 06:37] #3847 closed

[2022-06-10 15:15] sybadm opened #3884 "coredns container does not start with antrea 1.6.1"
**Describe the bug**

I have hard time setting K8S cluster with antrea ( v1.5.3 antrea pods does not come online) v1.6.1 antrea pods comes online but coredns containers does not work. I have been using Weave and Flannel for many years with no issues. The reason I chose antrea was to have Windows worker nodes.

**To Reproduce**

`kubeadm init --pod-network-cidr=10.244.0.0/16`

`kubectl apply -f htt

[2022-06-10 16:07] jianjuns commented on #3754
I feel nothing complex here - just randomly select the desired number of "ready" Nodes from all Nodes with the mc-gateway annotation. As we discussed earlier, even we use Deployment and let K8s decide the placement, it does not really do better in our case. The main question is how to detect a Node is ready or not. I think we can start from just checking the Node resource in K8s API, and if needed

[2022-06-10 16:10] jianjuns commented on #3754
I am not saying we must implement all active/active and DP failure detection in one release. I am fine if you like to start from a single active instance. I just meant we should think about the long term direction, and avoid throw-away work.

[2022-06-10 16:17] tnqn commented on #3859
@chipzoller thanks for the details. kind-setup.sh is a convenience script typically used for testing a local build so it was made to not pull the image automatically. But as you suggested we could make it more friendly by detecting whether it's available locally before loading it and throwing error.

BTW, if loading local antrea image to kind nodes failed, the nodes would still work as they could

[2022-06-13 03:57] luolanzone opened #3887 "Add copy right info for shell scripts and Dockerfiles"
**Describe the bug**
There was a PR #3122 to add a script to check copy right info in Antrea and add copy right info if it's missing, but looks like it doesn't handle the shell script files without `.sh` suffix. Those files under `build/images/scripts` are still missing copy right info.

**Expected**
This file need to be refined https://github.com/antrea-io/antrea/blob/main/hack/add-license.sh#L61

[2022-06-13 10:06] #3873 closed

[2022-06-13 10:10] sybadm commented on #3884
@tnqn Not sure what happen to the information I attached previously.

kubectl version
WARNING: This version information is deprecated and will be replaced with the output from kubectl version --short.  Use --output=yaml|json to get the full version.
Client Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.1", GitCommit:"3ddd0f45aa91e2f30c70734b175631bec5b5825a", GitTreeState:"clean",

[2022-06-13 11:17] wenyingd opened #3890 "Antrea Agent continues printing FQDN error logs like `"DNS exchange failed" err="read udp 10.176.27.243:46116->10.172.40.1:53: i/o timeout"`"
**Describe the bug**

Run Antrea Agent on code branch feature/externalnode to check the realization of ANP FQDN rules, and got the following error logs continously
[code]

Having check the related code, the error is output with this logic,
[code]

Capturing the packets on the OVS uplink and host internal port ( the port pair is added on ExternalNode feature), I got that the DNS response is receive

[2022-06-14 07:46] tnqn opened #3894 "Document kernel version requirement to use ERSPAN tunnel for TrafficControl"
**Describe the bug**

Not all kernel versions support ERSPAN tunnel port. According to http://vger.kernel.org/lpc_net2018_talks/erspan-linux.pdf, ERSPAN was added to Linux kernel in 4.14 for IPv4 and 4.16 for IPv6, but @hongliangl mentioned 4.15 didn't work. We should verify the exact version and document it in https://github.com/antrea-io/antrea/blob/main/docs/traffic-control.md#targetport to mak

[2022-06-14 07:47] tnqn commented on #3324
All patches have been merged, closing this issue.

[2022-06-15 10:38] xliuxu commented on #3851
not reoccurred. closing.

[2022-06-16 00:39] #2783 closed

[2022-06-16 00:39] #2600 closed

[2022-06-16 05:58] arunvelayutham opened #3906 "Service Function Chaining support for Antrea's CNF use case (using native secondary network framework)"
**Describe what you are trying to solve**
Implement Service Function Chaining (SFC) to chain the CNF specific packet forwarding use cases.
**Describe the solution you have in mind**
•	Antrea Control node changes:
•	New Controller module to be introduced to configure Network function chaining
o	Handle networkChaining kind and support parsing spec.ChainType, routing Spec.networkChain, left provider

[2022-06-16 16:28] tnqn commented on #3008
@leonstack Antrea v1.7.0 introduced a TrafficControl API as https://github.com/antrea-io/antrea/issues/3008#issuecomment-982703409 mentioned, could you see if it can meet your requirement?

[2022-06-20 00:38] #3150 closed

[2022-06-20 06:06] tnqn commented on #3822
@hjiajing please link issues in future PRs with proper keywords so issues can be closed automatically and have more information about what they are for: https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/using-keywords-in-issues-and-pull-requests#linking-a-pull-request-to-an-issue

Closing it manually as #3836 has been merged.

[2022-06-20 06:06] #3822 closed

[2022-06-20 06:08] hjiajing commented on #3822
@tnqn Thanks for remindng. I'll do it next time.

[2022-06-20 13:24] liu4480 opened #3916 "unit test fail with TestNamespaceLabelsUpdate"
**Describe the bug**
[code]

**To Reproduce**
https://github.com/antrea-io/antrea/runs/6935305974?check_suite_focus=true

**Versions:**
main branch

[2022-06-21 01:24] luolanzone opened #3918 "MC leader controller will crash when ClusterSet is deleted"
**Describe the bug**
When the ClusterSet is deleted in a Namespace where the leader controller is running, it will raise following nil pointer error which causes the leader controller crash and restart.

[code]

**To Reproduce**
Create a ClusterSet on the leader controller's Namespace, then delete it.

**Expected**
MC controller should be able to handle ClusterSet deletion event successfully.

**A

[2022-06-21 05:59] tnqn commented on #3916
@hongliangl could you take a look?

[2022-06-21 06:00] hongliangl commented on #3916
Sure

[2022-06-21 15:17] hjiajing opened #3921 "Multi-cluster antctl command refactor"
**Describe the problem/challenge you have**

In antrea v1.7.0. The antctl supports the` antctl mc deploy` command to deploy the Deployment and define the CRDs in a leader or member cluster. But only Deployment is not enough, we still need to define the `ClusterClaim` and `ClusterSet` to set up the Antrea Multi-cluster. So, there will be at least 3 steps to build an Antrea Multi-cluster.

In the id

[2022-06-21 15:19] hjiajing commented on #3921
@luolanzone @jianjuns Would you please help to review ? Thanks .

[2022-06-21 15:54] #3918 closed

[2022-06-22 02:09] hongliangl commented on #3916
I have tested the unit test in my local MacBook IDE, a remote Linux and rerun the test on Github Kind, and this issue is not reproduced. Could you provide a env to reproduce the issue @liu4480 ?

[2022-06-22 05:53] luolanzone commented on #3921
@hjiajing I feel it would be error prone to let `antctl mc init` do all deployements. Have you checked how do you handle the error case if one or two deployment failed? I am thinking we may follow the quick start guide as @jianjuns  suggested. I feel you can provide a config template and script to call `antctl mc` for user to set up the ClusterSet.

a config template might be like below:
[code]
an

[2022-06-22 06:21] liu4480 commented on #3916
I did not encounter the issue in my local setup, but in github CI:
https://github.com/antrea-io/antrea/runs/6935305974?check_suite_focus=true

[2022-06-22 06:48] hjiajing commented on #3921
@jianjuns The command will deploy the MC Controllers to all clusters because it will create clients for each cluster. The argument `--leader-cluster` specifies which cluster is the leader cluster (to deploy the leader-cluster manifests), and others are member clusters. So the `antctl mc init` will deploy the YAML files to all clusters in a loop.

[2022-06-22 06:57] liu4480 commented on #3916
after rebasing the branch to latest main, the issue is not producible, will reopen this issue when reproducing it.

[2022-06-22 07:01] tnqn commented on #3916
I met this failure once, the issue should be there, perhaps caused by a race condition that is not easy to reproduce, let's keep it open in case others meet it too.

[2022-06-22 07:04] hjiajing commented on #3921
@luolanzone
I'm trying to set up an Antrea Multi-cluster with as less parameters as I can. Maybe the fewer arguments, the easier to use.
In Antrea-Multicluster, the ServiceAccount, RoleBinding, and the Secret only will be used multi-cluster cases. So maybe we can just create them in a fixed format. Such as "member-{CLUSTER_NAME}-access-sa" and so on.  As well as the ClusterClaim and the ClusterSet

[2022-06-23 03:46] luolanzone opened #3931 "Antrea agent crash when NodeIPAM is enabled but PodCIDR is not updated yet"
I was following [eks installation](https://github.com/antrea-io/antrea/blob/main/docs/eks-installation.md#deploying-antrea-in-encap-mode) doc and [enable NodeIPAM
](https://github.com/antrea-io/antrea/blob/main/docs/antrea-ipam.md#running-nodeipam-within-antrea-controller) to install antrea in `encap` mode, I observed below errors in antrea-agent after I updated `antrea.yml` with `NodeIPAM` enable

[2022-06-23 08:34] wenyingd opened #3933 "IPSec certificate unit test failed on Windows"
**Describe the bug**

Hi,

I hit the following failure with IPSec certificate unit test when running on Windows. It seems a flaky failure, since I don't hit it every time running test on Windows.

[code]

**To Reproduce**

**Expected**

**Actual behavior**

**Versions:**

**Additional context**

[2022-06-23 11:57] tnqn commented on #3931
Yes, I agree this can be improved, maybe use a poll to wait for a while (like 30s) instead of exiting immediately, it's possible that pod CIDR is allocated after agent is up, espeically when antrea-controller is responsible for it.

[2022-06-23 14:19] mohitsaxenaknoldus commented on #3859
I can work on adding this functionality to the script. Please assign.

[2022-06-23 14:25] tnqn commented on #3859
thanks @mohitsaxenaknoldus, assigned it to you

[2022-06-23 14:59] mohitsaxenaknoldus commented on #3859
I can't pull the image:

[code]

[2022-06-23 18:37] NamanAg30 commented on #3547
Started working on this issue

[2022-06-23 23:08] antoninbas commented on #3665
For the sake of making progress on this, I have decided to go with option 2 (use the `crds/` directory, with an approach similar to the Istio project). In the end, I based the decision on the following factors:
* `helm install` is still straightforward (single-step process), as CRDs are installed from the chart.
* `helm upgrade` requires an extra step (manual CRD upgrade from standalone YAML manif

[2022-06-23 23:55] antoninbas commented on #3665
I wanted to add that I also considered sticking with option 1 and adding the [`"helm.sh/resource-policy": keep`](https://helm.sh/docs/howto/charts_tips_and_tricks/#tell-helm-not-to-uninstall-a-resource) annotation to all CRDs. This would have ensured that CRDs were never deleted during upgrade. However:
* A CRD update can also be dangerous (e.g. removing a version from a CRD)
* It may be better to

[2022-06-24 02:08] luolanzone commented on #3921
@jianjuns  regarding this part `let each member join the ClusterSet itself, rather than requiring an "add member" step in the leader. `, do you mean to skip the step of updating member list in ClusterSet in leader when there is a new member coming?

[2022-06-24 02:36] jianjuns commented on #3921
Yes, could we let leader mc-controller automatically update that? Why a manual step helps?

[2022-06-24 02:40] luolanzone commented on #3921
Yeah, I agree with you, I will check this part to see how to refine it.

[2022-06-24 08:52] #3409 closed

[2022-06-25 00:57] GraysonWu commented on #1580
If I understand this issue correctly, we want our network policy could control the external access to a NodePort Service. I have some draft ideas, share them here:

First of all, in most cases, users are using `IPBlock` to select theirs external clients. Then we should enforce our network policy before any SNAT happens in order to correctly do the source matching. Antrea proxyAll doesn't perform S

[2022-06-26 08:25] ksamoray commented on #3931
I think that polling as @tnqn suggested could work. We don't run anything in parallel at this point that could break, if I recall.

[2022-06-26 14:09] hjiajing commented on #3921
@jianjuns The reason I want to combine three steps (`antctl mc create`, `antctl mc deploy`...) into one step is that The user will not just create a secret, but will continue to create controllers and other resources after creating the Secret.
A single Secret doesn't make much sense, as well as ServiceAccount and other resources.  These three commands are a whole, and users will hardly use only on

[2022-06-27 05:07] jianjuns commented on #3921
What you mean by a single Secret does not make sense? In many cases, a shared Secret works well. It is just like "kubeadm init" generates a single token for all Nodes to join the cluster.

I do not fully agree. At least, I would not require a single host and config directory to access all clusters, which are not even possible in some cases. So, it means we at least to run the commands in leader an

[2022-06-27 05:29] xliuxu commented on #3851
https://github.com/antrea-io/antrea/runs/7066492436?check_suite_focus=true
[code]

[2022-06-27 06:20] luolanzone opened #3943 "Antrea code coverage enhancement"
**Describe the problem/challenge you have**
Antrea is using codecov to analyze and generate overall test code coverage results. In the codecov site, we can see that [Antrea's overall result](https://app.codecov.io/gh/antrea-io/antrea) go up and down with big differences. After a few investigation, we notice that Antrea uses [codecov flags](https://github.com/antrea-io/antrea/blob/main/codecov.yaml

[2022-06-27 06:21] hjiajing commented on #3921
I agree with you. The member clusters may be maintained by different users or teams. It's not easy, even not possible to store the kubeconfigs in one directory or one host.

So the member cluster has to set up itself.
Thanks for Jianjun's suggestion. I think two steps is a good way. I will make some tests.
And then, while creating the resources I still think there are too many arguments. Even long

[2022-06-27 11:15] ksamoray commented on #3931
Maybe it's worthwhile to add several tests, e.g in 5-10-15-30 intervals before failing?
@luolanzone do you plan to fix this? Otherwise I'll do it.

[2022-06-27 12:37] luolanzone commented on #3931
@ksamoray I am afraid I don't have bandwidth for this recently, it would be great if you can fix it. Thanks a lot!

[2022-06-27 14:13] XinShuYang commented on #3826
@antoninbas  I think I found the root cause of this unit test failure on MacOS. Files with os specific suffixes follow the same constraints of GO ENV. So previous port_table_linux.go can not be built on MacOs during go test building stage. You can successfully run "go test -v ./pkg/agent/nodeportlocal/." with this fix.

[2022-06-27 17:44] jianjuns commented on #1580
@GraysonWu Your approach 1) sounds good to me. For API, probably we should explicitly call out it is NodePort Service (e.g. changing serviceReference to nodePortService).

[2022-06-28 00:58] luolanzone commented on #3921
@jianjuns  I have synced with @hjiajing regarding the change to remove the "add member" step in leader, he will work on this part with antctl change together.

[2022-06-28 01:19] jsalatiel opened #3946 "EKS node randomly stop applying netpolicies to pods"
**Describe the bug**
Out of nowhere, eks nodes stop applying netpolicies to new pods.

**To Reproduce**
This is really hard to reproduce. Eventually after a few days when I try to scale some deployment the new pods won't have the netpols applied.

**Expected**
Netpolicy should apply as expected

**Actual behavior**
New pods have no connectivity

**Versions:**
Please provide the following informati

[2022-06-28 13:13] tnqn commented on #1580
1 makes more sense to me, `ct_nw_src` already has the original IP, perhaps we could use it directly?

For API, I wonder if this approach can work with ClusterIP, LoadbalancerIPs too. I guess yes. Should we just name it `service`, even if we only support matching NodePort traffic for now?

[2022-06-28 18:04] GraysonWu commented on #1580
Oh, if this is the case, then it will be easier.

Yes, since no matter what type of Service, with AntreaProxy, we can use its groupID to match traffic.

[2022-06-28 20:04] antoninbas commented on #3946
Anything that could have triggered that situation? Maybe the Node rebooted at some point (for an update or something else)?

Could you share the contents of the `/etc/cni/net.d/` directory on the Node that is broken? List of files and content for each file.

[2022-06-28 20:12] jsalatiel commented on #3946
No, the node has not been restarted. ( same uptime as the others )
[code]
cat /etc/cni/net.d/10-aws.conflist
[code]

[2022-06-28 20:16] jsalatiel commented on #3946
Not sure if it matters, but running in EKS using containerd.

[2022-06-28 21:04] antoninbas commented on #3946
It seems to me that NetworkPolicy enforcement is working well. It would be good to see if the packet leaves the Pod network correct and is forwarded out of the Node.

For this traffic:
[code]

Could you do a packet capture on `antrea-gw0`?

And could you share the following info:
* output of `ip addr`
* output of `ip route`

[2022-06-28 21:46] jsalatiel commented on #3946
ip addr
[code]

ip route
[code]

tcpdump
[code]

[2022-06-29 17:37] antoninbas commented on #3946
Maybe check the traffic on `eth0`. Because the routes seem correct (along with the traffic captured on the gateway), I would assume that traffic goes out of eth0 correctly, but that for some reason we don't get any reply traffic (leading to TCP retransmissions).

Did you validate Pod-to-Pod traffic on the same Node?

[2022-06-29 21:20] jsalatiel commented on #3946
Pod-to-Pod traffic on the same Node works just fine.
Same tcpdump on eth0: (  sudo tcpdump -v -i eth0 host 193.122.6.168 )
0 packets received by filter
0 packets dropped by kernel

[2022-06-29 23:21] antoninbas commented on #3946
I have more commands for you to run:
`ip rule list`
`ip route show table all`

[2022-06-30 00:39] dreamtalen commented on #3426
Close this issue since CLI of policy recommendation has been moved to Theia.

[2022-06-30 00:39] #3426 closed

[2022-06-30 19:35] #3523 closed

[2022-06-30 21:29] jsalatiel commented on #3946
Hi @antoninbas , Unfortunatelly I had to get  a working node back, but before terminating the node I restarted the aws-node pod and got the connectivity back. So it is working right now.
I know that the problem will get back in a few days , so I will keep this issue opened.
As I mentioned on the first comment, I have a default DROP policy on baseline tier, but kube-system pods can talk inside the

[2022-07-01 00:27] antoninbas commented on #3946
These are hostNetwork Pods right?
We'll need to know the full IP rules and route tables. It must be something wrong there.

It's interesting that restarting the aws-node Pod on that Node resolves the issue. It must fix the routing configuration, but I don't know what can cause it to be messed up in the first place.

[2022-07-01 09:03] jsalatiel commented on #3946
aws-node is hostNetwork: true
aws-load-balancer is not. The traffic I see in the logs is from aws-load-balancer pod.

After restarting aws-node, the connectivity is reestablished, but all netpolicies are being bypassed on that node. I suppose this is not the expected behaviour? Should antrea-node-init also be restarted after aws-node ?
All I can see in the antrea-agent logs is a lot of:
[code]

[2022-07-01 19:42] jsalatiel commented on #3946
Hi @antoninbas , well, it has been so much information here that it really became confuse.
Let me do a timeline

1) I have opened the ticket because after sometime, new pods were not having netpolicies applied. ( at least this was what i  thought at first ). Since I have a default drop policy ( on baseline tier ) and applying label to new pods were not giving them connectivity i supposed the probl

[2022-07-01 21:51] jsalatiel commented on #3946
I keep trying to debug. Since this is a production cluster ( pretty stable deployments) it takes time to understand it.
I decided to do the following test. I have created 3 cronjobs that runs every minute and the fire a container that only does curl www.google.com. Two of those 3 containers have the label internet=true which allows the container to access the internet. The last one does not.
So, f

[2022-07-01 21:57] antoninbas commented on #3946
Thanks @jsalatiel. Yes, it seems that restarting aws-node may cause Antrea networking to be bypassed. I need to take a look at it.

I see that one Node is broken in the first screenshot (the one with IP `10.138.3.191`). if you get a Node in this state again, please share the information I requested above:
[code]

[2022-07-01 22:03] jsalatiel commented on #3946
After restarting aws-node, what can I do to antrea reapply the policies ? Restart the antrea-eks-init? Or the only solution is to add more nodes ?

[2022-07-01 22:05] jsalatiel commented on #3946
Do you want the supportbundle even if the policies are now being skipped?
I will check what kind of information it collects.

[2022-07-01 22:08] antoninbas commented on #3946
Restarting the `antrea-eks-init` Pod on that Node should be enough. But I will experiment early next week on an EKS cluster, so I can circle back to you after I test it.

I will check what kind of information it collects.

No, we need it for a Node in the broken connectivity state (not after aws-node restart). You can pass a Node name to `antctl supportbundle` so it only collects information from

[2022-07-01 22:15] jsalatiel commented on #3946
OK. I will get back when I get a node back in that state. It should not take long.

[2022-07-01 23:46] jsalatiel commented on #3946
@antoninbas  here is the info you asked. This node is in the same state.

ip addr
[code]

ip route
[code]

ip rule list
[code]

ip route show table all

[code]

This is the get pods from the failing nodes, so you can get the IP assigned to the pod and match the info above.

[code]

[2022-07-03 00:41] #3166 closed

[2022-07-03 00:41] #3167 closed

[2022-07-05 22:57] jsalatiel commented on #3946
@antoninbas I am also facing the same problem on my second production EKS cluster.
So, unfortunately, both of my clusters  randomly can lose connectivity.

[2022-07-06 00:46] #2981 closed

[2022-07-06 17:28] #3328 closed

[2022-07-06 18:03] antoninbas commented on #3946
@jsalatiel I have created a cluster of my own and I am trying to reproduce

[2022-07-07 03:28] wsquan171 opened #3972 "Flow exporter memory bloat when unable to connect with downstream collector"
**Describe the bug**
When flow exporter is enabled, but failed to connect to downstream IPFIX collector, antrea agent will run into various memory issues. In a scale setup with limited worker node memory, iptables could be crashed due to memory exhaustion, and host reboot is needed for node recovery.

The issue is introduced as part of priority queue refactor [#2360](https://github.com/antrea-io/a

[2022-07-07 05:57] #3563 closed

[2022-07-07 19:46] antoninbas commented on #3946
@jsalatiel I found one possible issue, for Pods which receive an IP from a secondary network interface.
The issue affects connectivity to the internet, as SNAT is not done properly for these Pods.

I am not totally sure that this is the same issue as the one you are experiencing. To check if this is the same issue, you can try this fix and run the following command on all your Nodes:
[code]

As fo

[2022-07-07 21:55] antoninbas opened #3974 "[EKS] Restarting aws-node will remove Antrea as CNI plugin until the antrea-eks-node-init runs again"
**Describe the bug**
Restarting the `aws-node` Pod on a given EKS Node will cause all changes to `/etc/cni/net.d/10-aws.conflist` to be overwritten, and Antrea will be removed from the `plugins` list.

**To Reproduce**
Create an EKS cluster, deploy Antrea, restart `aws-node`.

**Expected**
The CNI configuration should remain the same (with Antrea). New Pods should join the Antrea Pod network.

**A

[2022-07-07 22:57] jsalatiel commented on #3946
@antoninbas It worked!!!! I will let the test pods running for more time, but at least so far they are working as expected. Failing when they are supposed to fail and completing fast when they are supposed to work.

![image](https://user-images.githubusercontent.com/5522389/177884838-7ec09439-5987-4bba-bf3c-f12262f3ff5c.png)

When you find an actual fix, will it be ported to 1.7 and released as 1.

[2022-07-07 23:23] antoninbas commented on #3946
Yes

We may also be able to handle #3974 in time for 1.7.1. It's a more minor issue.

[2022-07-08 07:07] XinShuYang commented on #3710
PR merged, close this issue.

[2022-07-08 07:07] #3710 closed

[2022-07-08 21:07] antoninbas commented on #2641
Antrea Helm chart repo is available at `https://charts.antrea.io`.
[code]

Helm installation method will be supported starting with Antrea v1.8.0.

At this stage, the only thing left is to update the documentation with this new supported installation method.

[2022-07-08 21:08] antoninbas opened #3979 "Add Antrea to https://artifacthub.io/"
This is a follow-up to https://github.com/antrea-io/antrea/issues/2641.
With the Antrea Helm chart being available (starting with v1.8.0), Antrea can be listed on https://artifacthub.io/.

[2022-07-08 22:57] jsalatiel opened #3980 "Add netpolicy rule name field to netpolicy logs"
Currently we can give names to the rules inside a netpolicy spec.
Eg:
[code]
But in netpolicy logs, that name is not used at all
[code]

It would be pretty useful if we had the rule name too. Sometimes one has a big spec file with several rules and it is hard to know which one matched that traffic.

[2022-07-12 00:44] #3192 closed

[2022-07-12 00:44] #3081 closed

[2022-07-12 22:04] #2641 closed

[2022-07-13 02:23] #3946 closed

[2022-07-13 19:40] yuntanghsu opened #4001 "FlowEndSeconds in the record from Flow-exporter doesn't match the actual flow-end-time"
**Describe the bug**

I sent a flow using iperf3 with flow-duration=2s.

root@web-client1-1:/# iperf3 -c 10.96.0.132 -t 2 -b 15M
[ ID] Interval           Transfer     Bitrate         Retr
[  5]   0.00-2.00   sec  3.62 MBytes  15.2 Mbits/sec    0             sender
[  5]   0.00-2.00   sec  3.62 MBytes  15.2 Mbits/sec                  receiver

However, when I checked the log in antrea-agent, I foun

[2022-07-13 22:34] yuntanghsu commented on #4001
Update:
In conntrack_ovs.go, I found "// TODO: We didn't find stoptime related field in flow string right now, need to investigate how stoptime is recorded and dumped.", which means the stoptime will only be set to time.Now().

In conntrack_linux, it checks the connection status is dying or not in order to set the stoptime. However, when I check the log in antrea-agent, the statusFlag is always 43

[2022-07-14 07:43] #3315 closed

[2022-07-15 00:51] antoninbas commented on #3979
Our charts are now listed on Artifacthub:
<img width="1424" alt="image" src="https://user-images.githubusercontent.com/2495809/179124974-c8419040-53ec-4410-a439-67a676a00ffc.png">

There is probably a way to avoid that "F" image security rating. Need to upgrade some dependencies...

[2022-07-15 00:51] #3979 closed

[2022-07-15 09:26] liu4480 commented on #3323
close as https://github.com/antrea-io/antrea/pull/3660 is merged

[2022-07-15 15:19] tnqn commented on #4001
According to conntrack doc:

It doesn't seem closed TCP connections would be seen as "dying" status normally. And because a TCP connection would go through FIN_WAIT, CLOSE_WAIT, LAST_ACK, TIME_WAIT states before the entry is removed from conntrack, I doubt we can get a "stoptime" directly from conntrack entry as it's hard to say which the above state should be regarded as "stop". From conntrack's

[2022-07-15 19:24] jsalatiel commented on #3815
Closing this. Probably related to #3946

[2022-07-15 19:24] #3815 closed

[2022-07-18 10:02] XinShuYang opened #4027 "Install-OVS.ps1 failed to start ovsdb service without ssl files on windows"
**Describe the bug**
ovsdb-server fails to start without openssl files:

**To Reproduce**
Remove ssleay32.dll and libeay32.dll in $env:PATH.
Run Install-OVS.ps1 to install latest ovs (e.g. 2.16.4)

**Expected**
ovsdb-server should start

**Actual behavior**
[code]

[2022-07-19 00:26] #3974 closed

[2022-07-19 01:11] #3188 closed

[2022-07-19 02:58] jayunit100 commented on #4027
Yes, ive been pretty confused about this, this breaks antrea on sig-windows-dev-tools i think

https://github.com/kubernetes-sigs/sig-windows-dev-tools/issues/198

cc @wenyingd  i think this might be part of our problem

[2022-07-19 03:04] jayunit100 opened #4033 "doc magic constants for winpipe:// and unix:// to our ovsdb wrapper"
I spent some time trying to understand wether or not we use (or can use) SSL to talk to openvswitch, when investigating https://github.com/kubernetes-sigs/sig-windows-dev-tools/issues/198 .

I've written this up here... https://jayunit100.blogspot.com/2022/07/how-does-antrea-talk-to-ovsdb.html .. just my thoughts exploring the codebase.

I found in the process that , it looks like we hardcode `win

[2022-07-19 03:04] jayunit100 commented on #4033
/good-first-issue

[2022-07-20 00:21] antoninbas opened #4039 "Kind CI jobs can fail when they are re-run"
**Describe the bug**
I ran into a pretty cool edge case:
If a job from https://github.com/antrea-io/antrea/blob/main/.github/workflows/kind.yml fails after code coverage is uploaded as an artifact, trying to re-run the fail tests will also fail. This is the exact sequence of events:
1) code coverage directory is uploaded as an artifact
2) the `codecov/codecov-action` fails for any reason (e.g. ser

[2022-07-20 06:23] #3704 closed

[2022-07-20 17:38] #3845 closed

[2022-07-20 19:09] #4039 closed

[2022-07-21 00:44] #2920 closed

[2022-07-21 07:54] #3887 closed

[2022-07-21 19:10] antoninbas commented on #3933
Just wanted to comment that I ran into this issue quite often for my PRs

[2022-07-21 19:12] antoninbas commented on #3933
Closing this. This is actually a duplicate of #3851 and there is already an open PR to fix it

[2022-07-21 19:12] #3933 closed

[2022-07-22 16:18] #4027 closed

[2022-07-26 02:17] luolanzone opened #4055 "Remove Service kind of ResourceExport when no available Pod Endpoints"
**Describe the bug**
Since 1.7, Antrea multi-cluster Service's Endpoints have been changed to exported Service's ClusterIP, ClusterIP is relatively stable, usually it's no need to update Service kind of ResourceExport. But there is a corner case when there is no Pod Endpoints for exported Service, mc-controller should remove the Service kind of ResourceExport from leader cluster, so it won't be im

[2022-07-26 18:58] antoninbas commented on #3762
@tnqn it seems to me that the issue is with the netpol tests themselves

The netpol tests use their own `createNamespace` function for Namespace creation:
https://github.com/kubernetes/kubernetes/blob/5ac563c507cd75c9382a2a23a3c8e3452138a021/test/e2e/network/netpol/kubemanager.go#L177-L185

While the K8s e2e test framework already provides a robust Namespace creation function:
https://github.com/k

[2022-07-27 02:26] tnqn commented on #3762
@antoninbas your analysis makes a lot of sense to me. Now I can understand why it failed in netpol tests only. Would you create a fix upstream? If so, I think we could set cluster version in GKT test for now and unset both conformance and cluster versions after GKE's default cluster version bumps up to a release including the fix.

[2022-07-27 04:40] hjiajing commented on #3921
Design details are as follows:
## current commands
In our current antctl mc commands, there will be a problem that the leader cluster needs to know the member cluster list. Once the Antrea multicluster is running, if the users want to add a new member cluster they need to modify the ClusterSet in the leader cluster.
So, adding a member cluster need both leader and member cluster's operations. But

[2022-07-27 05:27] #3851 closed

[2022-07-27 09:20] #3294 closed

[2022-07-27 18:53] antoninbas commented on #3762
@tnqn I searched through the K8s repo, and realized that there was an issue for this already: https://github.com/kubernetes/kubernetes/issues/108298

It also has a corresponding PR. Let me see if I can get a status update.

[2022-07-28 11:34] wenyingd opened #4059 "Race condition in unit test on IPsec"
**Describe the bug**

When I run unit test, I hit these error:
[code]

**To Reproduce**

**Expected**

**Actual behavior**

**Versions:**

Antrea: main branch

**Additional context**

[2022-07-28 15:26] tnqn commented on #3762
@antoninbas since we know the issue is in NetPol tests, I guess for now we could skip them for GKE and set `KUBE_CONFORMANCE_IMAGE_VERSION` to auto to test default GKE cluster version and corresponding conformance version?

[2022-07-28 17:09] antoninbas commented on #3762
@tnqn yes sounds good to me.
Meanwhile I will work on the upstream PR, but it could take some time

[2022-07-28 17:47] tnqn commented on #4001
It seems the netlink message only returns timeout in seconds, this looks like the code that returns the timeout https://github.com/torvalds/linux/blob/6e7765cb477a9753670d4351d14de93f1e9dbbd4/net/netfilter/nf_conntrack_netlink.c#L179. If so, I don't have other idea.

[2022-07-29 13:47] #4059 closed

[2022-08-02 00:35] #4055 closed

[2022-08-02 00:47] #1347 closed

[2022-08-05 08:05] jsalatiel commented on #3980
@qiyueyao any thoughts on this? :)

[2022-08-05 11:12] tnqn opened #4081 "Unit test TestStatefulSetLifecycle is very flaky"
**Describe the bug**

TestStatefulSetLifecycle failed very frequently after merging https://github.com/antrea-io/antrea/pull/3072
[code]

https://github.com/tnqn/antrea/runs/7684550323?check_suite_focus=true
https://github.com/antrea-io/antrea/runs/7689295086?check_suite_focus=true
https://github.com/antrea-io/antrea/runs/7687228906?check_suite_focus=true

[2022-08-05 16:11] liulangwa opened #4083 "antrea-octant-plugin can't be load"
**Describe the bug**
faile to start plugin

**To Reproduce**

after build
./bin/antrea-octant-plugin
panic: proto: file "extensions/extension.proto" is already registered
	previously from: "github.com/googleapis/gnostic/extensions"
	currently from:  "github.com/google/gnostic/extensions"
See https://developers.google.com/protocol-buffers/docs/reference/go/faq#namespace-conflict

goroutine 1 [runni

[2022-08-08 00:39] #3284 closed

[2022-08-08 00:39] #2017 closed

[2022-08-08 03:23] #1580 closed

[2022-08-08 07:28] #4081 closed

[2022-08-08 08:26] wenyingd opened #4086 "e2e test "TestBatchCreatePods" is Flaky"
**Describe the bug**

Hi,

I hit this failure when running e2e test on IPv6-only or dual-stack testbed. The error shows the fds are changed after batch creating Pods. I hit the failure several times, and the failure looks flaky because it may pass after I re-run the tests. I hit the error with my code change to switch OpenFlow version from 1.3 to 1.5, and I don't think the OpenFlow version change

[2022-08-09 00:48] #2275 closed

[2022-08-09 03:19] wenyingd opened #4089 "Support configuring IGMP version in multicast feature"
**Describe the bug**

By now, IGMP v1/v2/v3 query messages are sent from Antrea Agent when multicast feature is enabled. It introduces a duplication on the IGMP query behavior on some setup if only one IGMP version is used in the Pod receivers. Is it possible to support configuring IGMP versions in agent configuration?

**To Reproduce**

**Expected**

**Actual behavior**

**Versions:**

**Addition

[2022-08-09 08:46] wenyingd opened #4092 "Agent fails to re-connect to OVS"
**Describe the bug**

Hi,

We noticed such an issue in Antrea, if OVS is working with high CPU load, Antrea Agent may fails to re-connect to OVS after a disconnection.

Having some offline debug, I think this is because the following events: The first connection is disconnected by OVS because either echo request or echo reply message is not received on the unix domain socket. Agent (ofnet) receive

[2022-08-09 09:14] #3640 closed

[2022-08-09 09:42] mengdie-song opened #4095 "Panic is found in log after agent successful initialization [feature/externalnode branch]"
**Describe the bug**
Found panic in log after agent initialization for feature/externalnode branch. It doesn't impact the agent running, but we will see the panic in log.
`I0610 07:12:23.519375   14587 agent.go:447] Agent initialized NodeConfig=NodeName: mengdie-k8s0-0, OVSBridge: br-int, PodIPv4CIDR: <nil>, PodIPv6CIDR: <nil>, NodeIPv4: <nil>, NodeIPv6: <nil>, TransportIPv4: <nil>, TransportIPv6:

[2022-08-10 18:58] antoninbas commented on #3762
Submitted a PR upstream for this: https://github.com/kubernetes/kubernetes/pull/111789

[2022-08-10 21:28] #3921 closed

[2022-08-10 23:52] qiyueyao opened #4100 "Update documentation for ovs-pipeline table number"
**Describe the bug**
After the merge of [Flexible pipeline](https://github.com/antrea-io/antrea/pull/3058), table numbers are no longer the same with instructions in [docs/design/ovs-pipeline.md](https://github.com/antrea-io/antrea/blob/main/docs/design/ovs-pipeline.md).

**Describe what you are trying to do**
I am using `ovs-ofctl dump-flows` for dev testing, following the table numbers in the ou

[2022-08-11 11:12] XinShuYang commented on #4086
@tnqn Hi, the TestBatchCreatePods failure often blocks ipv6 CI pipeline. Do you have any idea about the root cause?

[2022-08-11 11:22] wenyingd commented on #4086
Having checked agent logs, I do not see re-connection between agent and OVS.

[2022-08-11 11:25] wenyingd commented on #4086
I doubt the socket is not unix domain socket, but TCP connections from Agent to API Server or to Controller. The same issue is seen on both IPv6 and dual-stack testbed recently, but not found on IPv4 only.

[2022-08-11 15:19] wenyingd commented on #4086
Having looked through the code, I doubt it is related with the socket is not closed which is used to send Gratuitous IPv6 NDP packet for a new Pod. https://github.com/antrea-io/antrea/blob/main/pkg/agent/util/ndp/ndp.go#L45 . I would try to verify if it can be fixed by closing the socket.

[2022-08-11 15:29] tnqn commented on #4086
Nice catch. Glad to see TestBatchCreatePods still has some value. Do you know why it sometimes can succeed? The FD were garbage collected sometimes?

[2022-08-11 15:44] wenyingd commented on #4086
I didn't investigate why it succeeds sometimes..

[2022-08-11 17:08] antoninbas opened #4105 "Update Golang from v1.17 to v1.19"
Golang v1.17 is now end of life. As usual, we will update to the latest available version (v1.19), starting with Antrea v1.9.

[2022-08-11 22:53] jsalatiel opened #4108 "Allow FlexibleIPAM to work in encap mode, so it would work with EgressIP"
**Describe the problem/challenge you have**
The current implementation of FlexibleIPAM requires  _Linux Nodes, with IPv4, system OVS datapath type, and noEncap, noSNAT traffic mode._
That means that I can not use EgressIP while still being able to assign some specific ippool for namespaces.

**Describe the solution you'd like**
I would like to be able to use FlexibleIPAM with the default antrea co

[2022-08-12 00:41] #3307 closed

[2022-08-15 03:06] #4086 closed

[2022-08-15 07:45] #4083 closed

[2022-08-15 07:53] #4095 closed

[2022-08-15 12:26] iMikeG6 opened #4115 "egress snat ha break while using multiple nodes for SNAT gateway."
**Describe the bug**
We are currently testing Antrea Egress SNAT feature in HA mode. There's two nodes that has the `snat-origin` label, let's say **node1** and **node3**.

both has the interface down
[code]
Leader is currently **node1**

the snat and pool are the following:

[code]

and egress config

[code]

The egress is applied by the following matchLabels selector `field.cattle.io/projectId:

[2022-08-15 12:40] iMikeG6 commented on #4115
Here's the controller logs:

[code]

below, agent logs:

https://gist.github.com/iMikeG6/97417c05659e2b3ed514a732559d64f0

[2022-08-15 14:14] tnqn commented on #4115
@iMikeG6 thanks for reporting the issue. It seems the egress IP 10.246.3.170/32 was configured on antrea-egress0 of two Nodes, I suspect the agents failed to reach each other to negotiate the active Egress node for the Egress IP. It could be caused by the nodes' firewall dropping the traffic. Could you check whether TCP port 10351 is allowed?
https://github.com/antrea-io/antrea/blob/main/docs/netw

[2022-08-15 14:21] iMikeG6 commented on #4115
Hi @tnqn,

thank you very much for quick reply.

Indeed, I realized that as soon as I dug into the agent logs.

I then open port 10351 and restarted the agents and the controller, then only node1 one has the vip on the antrea-egress0.

For the records, I used this documents to open firewall ports: https://antrea.io/docs/v1.6.0/docs/network-requirements/ which miss the port 10351. Doc need to be up

[2022-08-15 14:29] iMikeG6 commented on #4115
Oups, my bad, read the wrong doc page version instead of the main one. Port 10351 is indeed mentioned.

[2022-08-15 16:14] tnqn opened #4116 "AntreaNetworkPolicy should not be applied to Pods in other Namespaces"
**Describe the bug**

Group validation was only performed when creating AppliedToGroup for namespaced group, there were two ways that can bypass the validation and apply the AntreaNetworkPolicy to Pods in other Namespaces:
1. Use a group which has child groups that select Pods in other Namespaces, for example:
[code]
2. Use a group which is namespace scope first, then change it to cluster scope. T

[2022-08-15 16:58] jianjuns commented on #4108
@gran-vmv : I remember you did consider supporting encap mode with FlexibleIPAM? Could you share thoughts here?

[2022-08-16 01:30] gran-vmv commented on #4108
According to current FlexibleIPAM design, we're unable to provide EncapMode in an easy way, because EncapMode requires Antrea to calculate next-hop for inter-Node traffics, which is handled by L2 network currently.
If Antrea calculates next-hop, it will require antrea-agent to cache all Pod-Node-VLAN mapping and greatly increase the complexity of OVS flows to set the tunnel-dst according to packet

[2022-08-16 02:13] luolanzone commented on #3754
After a few dicussion, we'd like to implement active-standy mode of high availability in the first phase.
From user perspective, users need to annotate one or more Nodes with annotation 'multicluster.antrea.io/gateway=true'.
These Nodes will become Gateway candidates. The first ready Node with annotation 'multicluster.antrea.io/gateway=true' becomes the Gateway. A Gateway CR will be created automa

[2022-08-17 00:46] #3325 closed

[2022-08-17 05:20] Anandkumar26 opened #4122 "Upon VM reboot OVS contains stale configuration"
Upon VM reboot, observed that interface configurations are stale in OVS as shown below.

root@testvm:~# ovs-vsctl show
b5fb7c75-0c80-41fa-9352-94ec318ae29f
    Bridge br-int
        datapath_type: system
        Port eth0
            Interface eth0
                type: internal
                error: "could not add network device eth0 to ofproto (File exists)"
        Port phy-eth0
            In

[2022-08-17 09:41] #4116 closed

[2022-08-17 13:52] #4115 closed

[2022-08-17 15:01] tnqn opened #4127 "Race conditions in NetworkPolicyController caused NetworkPolicy realization issues"
**Describe the bug**

There were a few race conditions in NetworkPolicyController:
* An AppliedToGroup or AddressGroup in use may be removed if situations like this happens:
1. `addANP` creates a group for ANP A;
2. `addNetworkPolicy` reuses the group for KNP B, is going to create an internal NetworkPolicy;
3. `deleteANP` deletes the group for ANP A because at that moment no other internal Network

[2022-08-17 15:02] tnqn commented on #4127
Closed by #4028

[2022-08-17 15:02] #4127 closed

[2022-08-17 15:44] #4092 closed

[2022-08-18 04:39] tnqn opened #4130 "e2e test ACNPFQDNPolicy is flaky"
**Describe the bug**

[code]
[antrea-test-logs.tar.gz](https://github.com/antrea-io/antrea/files/9367656/antrea-test-logs.tar.gz)

The above logs are from a build of flexiable IPAM, but I saw this failure in other environment too.

[2022-08-18 05:56] tnqn opened #4132 "SCTP NetworkPolicy tests are failing AKS clusters"
**Describe the bug**

[code]

This is because AKS Nodes doesn't SCTP: https://docs.microsoft.com/en-us/answers/questions/573521/does-azure-aks-support-sctp-and-how-to-enable-it.html.

I confirmed it by the following output from an AKS Node:
[code]

**Expected**

The 3 tests should be skipped on AKS.

[2022-08-18 06:13] #3826 closed

[2022-08-18 14:17] tnqn opened #4137 "The auto-generated helm charts for release used wrong image tag"
**Describe the bug**

When I used helm to install Antrea 1.8.0, Antrea Pods can't be up and running because of missing image.
The image used by helm chart was "projects.registry.vmware.com/antrea/antrea-ubuntu:1.8.0" while it should be "projects.registry.vmware.com/antrea/antrea-ubuntu:v1.8.0".

It's because AppVersion is used as the tag, while it's set to 1.8.0.
https://github.com/antrea-io/antre

[2022-08-18 14:20] tnqn commented on #4137
@antoninbas @yanjunz97

[2022-08-19 02:19] #4132 closed

[2022-08-19 06:55] luolanzone opened #4140 "Antctl doesn't work on EKS clusters"
**Describe the bug**
I tried a few `antctl` commands on a EKS cluster, it seems it doesn't work as we expected and get below errors:
[code]

Here are a few commands I tried, there should be a problem to initialize the rest client correctly due to unexpected API version.
[code]

**To Reproduce**
Run `antctl version` with a EKS cluster kubeconfig file.

**Expected**
Antctl should work correctly on E

[2022-08-19 17:08] #4137 closed

[2022-08-22 00:42] luolanzone commented on #3931
Fixed by #3950

[2022-08-22 00:42] #3931 closed

[2022-08-22 08:05] tnqn opened #4142 "Improve unit test coverage"
**Describe the bug**

To ensure quality code and features being delivered, code coverage is one of the most important metrics we rely on. With good coverage for regression testing, there is also much less risk of breaking existing functionality when adding or changing features.
Currently Antrea’s entire coverage is 66.02%, with 49.12% e2e test coverage, 44.70% unit test coverage, 35.00% integratio

[2022-08-22 11:08] jsalatiel commented on #3794
/remove-stale

[2022-08-22 17:26] antoninbas commented on #4142
@tnqn do you have the link with code coverage info per package?

[2022-08-22 17:39] #3787 closed

[2022-08-23 09:00] luolanzone commented on #4140
It turns out that  'client.authentication.k8s.io/v1alpha1' is deprecated but it's still used by old aws-cli. User need to make sure aws-cli version has this fix: https://github.com/aws/aws-cli/pull/6476.
I followed this guide https://docs.aws.amazon.com/cli/latest/userguide/getting-started-install.html to deploy latest v2 aws-cli and regenerated the kubeconfig file via `aws eks --region $region up

[2022-08-23 09:00] #4140 closed

[2022-08-24 20:48] jayunit100 opened #4149 "lets implement the new admin cluster networkpolicies?"
It would be nice to have an initial implementation of

https://raw.githubusercontent.com/kubernetes-sigs/network-policy-api/master/config/crd/bases/policy.networking.k8s.io_adminnetworkpolicies.yaml

i.e.

[code]

and so on ...

[2022-08-24 20:50] jayunit100 commented on #4149
filed an issue to get installation instructions for the external CRDs here https://github.com/kubernetes-sigs/network-policy-api/issues/38

[2022-08-24 21:05] antoninbas commented on #3762
The PR was merged upstream and will be in K8s v1.26

[2022-08-24 22:36] #4105 closed

[2022-08-25 17:17] antoninbas commented on #4149
I think @qiyueyao has already started working on this, let me assign her

[2022-08-26 10:05] luolanzone commented on #4142
Hi @tnqn  I was trying to take the ` pkg/apiserver/certificate` packages and add unit test, but after checking the codecov data, I feel the coverage is good enough with e2e/integration test data, it might be unnecessary to add more cases for this packages, could you help to check and let me know your opinion? thanks
https://app.codecov.io/gh/antrea-io/antrea/tree/main/pkg/apiserver/certificate

[2022-08-28 00:48] #1363 closed

[2022-08-29 05:08] hongliangl opened #4159 "Redundant Openflow messages are sent when syncing an updated group to OVS"
**Describe the bug**

For example, when syncing an ClusterIP Service whose Endpoints has been changed,

Function in the following is called in [pkg/agent/openflow/client.go](https://github.com/antrea-io/antrea/blob/c8200a89c0da142caf41f2912355ef7046cd7b01/pkg/agent/openflow/client.go#L618), we can see that variable `group` is returned by `serviceEndpointGroup` , then call the method `Add()` to syn

[2022-08-29 14:52] tnqn commented on #4159
@hongliangl nice catch!

[2022-08-29 14:58] #4159 closed

[2022-08-30 01:00] #3346 closed

[2022-08-30 11:49] hongliangl opened #4175 "Members of group cache for multicast are never deleted"
In [pkg/agent/multicast/mcast_controller.go](https://github.com/antrea-io/antrea/blob/dbaebc7a82d32a0270b84f02af0070cdc86276d8/pkg/agent/multicast/mcast_controller.go#L523), we can see that `UninstallGroup` is called to uninstall a group for multicast,  but in [pkg/agent/openflow/client.go](https://github.com/antrea-io/antrea/blob/dbaebc7a82d32a0270b84f02af0070cdc86276d8/pkg/agent/openflow/client.

[2022-08-31 15:12] tnqn commented on #4142
I made the list based on the unit test coverage report. It was 30% for this package as there is no unit test for cacert_controller.go. And I understand why its overall coverage looks fine: as long as the program runs end to end, many code in cacert_controller.go will run at least once regardless of whether the e2e test is intended to test it. But running the code once doesn't mean it's well tested

[2022-08-31 21:01] antoninbas commented on #2115
Done in https://github.com/antrea-io/antrea/pull/3770

[2022-08-31 21:01] #2115 closed

[2022-09-02 19:47] antoninbas opened #4197 "[Flaky test] TestPodLabelsUpdate/Update_Pod_labels_to_match_TrafficControl_tc1_(effective),_tc3_(alternative)"
**Describe the bug**
I have seen this test fail in CI.

[code]

[2022-09-05 04:26] iMikeG6 opened #4199 "Service mesh feature"
**Describe the problem/challenge you have**
In our organization we are considering Antrea for our next k8s service project and tried few different service mesh system such as Linkerd, istio, Consul, etc, but all of them, or at least most of them are using Envoy and seem to have some conflicts with Antrea, or Redhat 9 or perhaps with how we are implementing restricted psp for our client that run on

[2022-09-05 16:40] #4175 closed

[2022-09-06 00:48] #2945 closed

[2022-09-07 07:37] jsalatiel commented on #3805
/remove-stale

[2022-09-07 07:55] ColonelBundy opened #4213 "Control node traffic through network policies"
**Describe the problem/challenge you have**
When implementing a deny all rule usually you want the same policy to be enforced on the node level and not only for pods so you don't allow unnecessary traffic. A developer today would need to a network policy to allow for a particular ip or fqdn and then have to do the same on the node level for multiple nodes.

**Describe the solution you'd like**
I w

[2022-09-08 16:23] tnqn commented on #4213
@ColonelBundy thanks for the proposal.

At the moment `nodeSelector` cannot be used in `appliedTo` and can only be used in `from` or `to` of a rule's peer. I think even when `nodeSelector` can be used in `appliedTo`, it should mean the policy applies to specific Node's interfaces literally, without the need of `applyToNode: true` flag.

From implementation's perspective, applying policy to Nodes'

[2022-09-08 16:34] tnqn commented on #4199
@iMikeG6 Thanks for your consideration. Implementing service mesh is a big topic, and my impression was Antrea as the L2/L3/L4 network provider shoud work well with the higher layer service mesh systems, could you let us know the conflicts or issues you met when using Antrea with service mesh?

[2022-09-08 17:57] ColonelBundy commented on #4213
If OVS exists and the node becomes unavailable it's not the worst thing that could happen to be honest if we think about the reason you run kubernetes in the first place, so this would be an acceptable risk for our use case.
This is also pretty easily solved using a secondary interface or not choosing to route port 22 over the bridge to OVS for disaster recovery reasons.
For our use case it's not

[2022-09-13 17:55] tnqn commented on #4130
The issue was because the DNS response was so large that the response was truncated and the client sent another query via TCP protocol, see https://en.wikipedia.org/wiki/Domain_Name_System#DNS-over-TCP/53_(%22Do53/TCP%22)

In 1989, RFC 1123 specified optional [Transmission Control Protocol](https://en.wikipedia.org/wiki/Transmission_Control_Protocol) (TCP) transport for DNS queries, replies and, p

[2022-09-13 22:37] antoninbas opened #4224 "[Flaky test] TestController_RotateCertificates"
I have seen the test fail in CI (`Unit test (ubuntu-latest)`), with the following logs:

[code]

[2022-09-14 01:33] #2770 closed

[2022-09-14 09:10] tnqn opened #4225 "FQDN NetworkPolicy may not work if DNS over TCP is used"
**Describe the bug**

The issue derives from https://github.com/antrea-io/antrea/issues/4130.

In some cases, clients will use DNS over TCP to resolve FQDN if the DNS reponse got via UDP is too large and the "tc" (truncation) flag is set in the response. If clients get an IP from TCP response different from the one got from UDP response, the application traffic will bypass the FQDN NetworkPolicy b

[2022-09-14 09:11] tnqn commented on #4225
cc @Dyanngg

[2022-09-15 00:53] #3428 closed

[2022-09-15 00:54] arunvelayutham commented on #3906
WIP (will go after enabling test framework for Secondary network)

[2022-09-15 01:23] luolanzone opened #4228 "Pod traffic doesn't go through OVS when Antrea agent is in networkPolicyOnly mode"
**Describe the bug**
I followed [this guide](https://github.com/antrea-io/antrea/blob/main/docs/eks-installation.md#deploying-antrea-in-aws-eks) to deploy an EKS cluster with Antrea in networkPolicyOnly mode.
After deployment completed, I tried to curl a Service from one Pod. I didn't see any packets counts increased in OVS flow rules if I run `ovs-ofctl dump-flows br-int`.  With a few of troubles

[2022-09-15 13:55] advancedwebdeveloper opened #4229 "Support RISC-V arch"
Christ Jesus bless you.

I am curious if it might be possible to support RISC-V.

[2022-09-15 13:56] #4130 closed

[2022-09-15 13:58] advancedwebdeveloper opened #4230 "-race is not supported on linux/riscv64"
On behalf of https://github.com/antrea-io/antrea/issues/4229

As for

on 64bit RISC-V board

while running "make"

CC @lazyparser

[2022-09-15 14:00] #4230 closed

[2022-09-15 18:15] tnqn opened #4231 "Support L7 NetworkPolicy in Antrea"
**Describe what you are trying to solve**

K8s NetworkPolicy and Antrea-native NetworkPolicy are used to control traffic flow at Layer 3 (Network) and 4 (Transport) in the OSI model, based on IP address, transport protocol, and port. Many cloud native applications use application layer protocols such as HTTP or gRPC to communicate and expose APIs. Securing such applications at IP and port level pr

[2022-09-16 08:15] NamanAg30 commented on #3547
Unfortunately , I have not been able to work on this issue as I have been pre-occupied with other issues . As soon as I get time I'll re start tghe work on this issue. Apologies for any inconvenience.

[2022-09-16 15:33] tnqn opened #4233 "Antrea agent log is full of "Skipping invalid IP:""
**Describe the bug**

It was found antrea-agent is full of the following logs:
[code]

It's hard to tell what's the IP used for from the log itself. But fortunately the function that prints the log is only called in two cases: when processing "service.Spec.ExternalIPs" and when processing "service.Status.LoadBalancer.Ingress.IP". K8s has a validation for the former so it's impossible to set empty

[2022-09-19 06:15] reachjainrahul opened #4236 "Add support for updating ANP realization state"
**Describe what you are trying to do**

Currently Antrea Controller only supports rule realization success. There could be cases like agent realized the rule and later upon agent restart or system reboot, agent fails to realize the rule. There isn't a way for agent to remove the realization which was reported as success earlier. For Nephe, we need this functionality.

[2022-09-19 06:15] reachjainrahul commented on #4236
@tnqn @wenyingd

[2022-09-20 17:17] antoninbas commented on #4229
I am a bit reluctant to support a new architecture if we don't have a way to run some basic conformance tests to validate that it works correctly. Have you considered building the binaries yourself?

[2022-09-20 23:36] antoninbas commented on #4197
@tnqn @wenqiq do you think you could take a look?

[2022-09-21 06:36] wenyingd commented on #4236
Having offline discussed with @tnqn, a proposal to resolve this issue is to expand the existing controlplane API `NetworkPolicyNodeStatus`(https://github.com/antrea-io/antrea/blob/main/pkg/apis/controlplane/types.go#L385) with two additional fields: `Realized` and `Message`. For Nephe use case, `Realized` should be set with false when an ANP Node status is expected to be reverted from successfuly

[2022-09-21 06:38] xliuxu opened #4243 "IPsec not working in UBI based image"
**Describe the bug**
antrea-ipsec container in CrashLoopBackOff state for UBI-based image.
[code]

**To Reproduce**
Build UBI image using `make build-ubi` and configure the cluster using antrea-ipsec.yml

**Expected**
IPsec works as expected.

**Actual behavior**
antrea-ipsec container in CrashLoopBackOff state.

**Versions:**
latest

**Additional context**
openvswitch-ipsec rpm depends on libresw

[2022-09-21 15:58] #4224 closed

[2022-09-22 00:15] jianjuns commented on #4236
The approach sounds good to me. Should we use "RealizationFailure" instead, if it is not set when no error?

[2022-09-22 02:26] wenyingd commented on #4236
If my understanding is correct, you mean we merge the `Realized` and `Message` into one string field `RealizationFailure`, and Nephe should set this field with failure message when the realization is failed. I would implement with this solution.

[2022-09-22 04:14] jianjuns commented on #4236
I thought about merging to one string field. But I am not sure that is the right way. It sounds implicit to indicate failure with an error message. Or maybe we can use a struct with a message string? Do we always have an error message?

[2022-09-22 05:23] wenyingd commented on #4236
I doubt no.

[2022-09-22 14:12] edwardbadboy opened #4246 "A Default ExternalIPPool for ServiceExternalIP"
**Describe the problem/challenge you have**
When ServiceExternalIP is enabled, antrea-controller allocates external IP for Service type=LB, the ExternalIPPool name has to be annotated on the Service manually. Maybe it will be more convenient to to specify a default ExternalIPPool globally by adding an annotation `service.antrea.io/default-service-lb-external-ippool: ""` to that ExternalIPPool, so

[2022-09-22 17:28] #4243 closed

[2022-09-22 17:58] jianjuns commented on #4236
Then we should separate the flag and error message.

[2022-09-24 01:02] jsalatiel commented on #3334
/remove-stale

[2022-09-27 08:05] Anandkumar26 opened #4247 "Antrea-agent binaries are not provided as part of release asssets."
As antrea supports running antrea-agent on VMs since 1.8 release, but the binaries are not yet published.
Nephe expects the antrea-agent binaries to be published for the 1.9 release, so that antrea-agent installation is automated.

Also publish antrea-agent install script for Windows and Linux.

[2022-09-27 14:05] hongliangl commented on #4197
I have only tested the unit test on github action, but it always succeeds. Any idea to reproduce the issue?

[2022-09-27 14:19] tnqn commented on #4197
An effective way to reproduce test failure is to run specific test case locally with `-c` parameter. With github action, you can only run it once every tens of minutes, which is hard to reproduce flaky test.

[2022-09-27 16:45] #2092 closed

[2022-09-27 20:42] antoninbas commented on #4228
@luolanzone could you share more information on how to reproduce?

I used the following steps:
[code]
And I was not able to reproduce (I tried twice, with 2 different clusters).

There are only 2 Pods that need to be restarted (the core-dns Pods, only Pods on the Pod network), and I observe that they are restarted correctly by `antrea-eks-node-init`:

[code]

The routes for these Pods are correct:

[2022-09-27 22:18] Dyanngg commented on #4231
I have some concern for L7 policy CRD if it uses an allow-list only model like current K8s netpol. How do we handle "somewhat conflicting" rules of L7 policy and Antrea-native policies in this case? For example, if both policy selects app=backend pods, L7 policy says only allow GET on /docs from 192.168.0.0/16, while an ACNP in the same cluster says ALLOW traffic from 192.168.0.0/17 and DROP traff

[2022-09-28 01:57] luolanzone commented on #4228
@antoninbas yes, I created a Pod before deploy Antrea. I will try it today and let you know the result.

[2022-09-28 02:32] luolanzone commented on #4228
I tried in two clusters, both works this time. the original environment is cleaned up, I will keep this in mind and to see if it's possible to reproduce it or not. But I found that if I delete all Antrea related deployment, then create a new Service deployment without Antrea, I will see below errors, it this expected?
[code]

[2022-09-28 03:49] hongliangl commented on #4197
I have tested the specific test case more than many times, but the issue is not reproduced. I also verified the code and found nothing wrong.

[code]

[2022-09-28 10:41] tnqn commented on #4231
@Dyanngg Thanks for the comments. Your concern is the main reason why L7 policy is proposed as a new CRD instead of extending current Antrea policy schema to support L7. If the latter way, it's hard to explain and understand the relationship and enforcing order between L3/L4 policies and L7 policies. With separate CRDs, I want to express the meaning that they are different layer of policies and wi

[2022-09-28 13:54] ColonelBundy opened #4253 "Unable to run 1.8.0 due to permission issues in antrea-controller"
**Describe the bug**

Antrea cannot create antreaagentinfos, list/get groups due to lack of permissions.
Logs:
` E0928 13:24:43.907567       1 controller.go:277] "Error syncing Node" err="antreaagentinfos.crd.antrea.io is forbidden: User \"system:serviceaccount:kube-system:antrea-controller\" cannot create resource \"antreaagentinfos\" in API  group \"crd.antrea.io\" at the cluster scope" Node="RE

[2022-09-28 18:21] Dyanngg commented on #4231
Thanks @tnqn for the reply. It make sense to me, and I'm on board with allow-list only L7 policies, as long as we clearly document the order of enforcement between L7 and L3/4 policies. That being said, there are still some questions/suggestions I have in mind:
1. I'm wondering in which scenario will an empty list of `protocols` be useful in a L7 policy. If there's a ACNP and L7 policy both applie

[2022-09-28 18:33] antoninbas commented on #4253
I am assuming you mean https://github.com/vmware/antrea-operator-for-kuberneteshttps://github.com/vmware/antrea-operator-for-kubernetes

It seems likely that some Antrea manifest changes are needed for v1.8 in that repo.
I'm assigning @ksamoray as I see that he has been updating the operator with each Antrea release.

[2022-09-28 18:55] ColonelBundy commented on #4253
Right, didn't realize antrea.yaml is copied to that repo, I assume manually. Their antrea.yaml does not match the one released
ref: https://github.com/vmware/antrea-operator-for-kubernetes/blob/v1.8.0/antrea-manifest/antrea.yml

Could this be the source of the issue?

[2022-09-29 01:01] #3573 closed

[2022-09-29 01:01] #3566 closed

[2022-09-29 01:12] luolanzone commented on #4228
Thanks. I feel resource clean up may be done by a `PreStop` hook, do you know is there any reason we didn't clean them up?

[2022-09-29 01:22] antoninbas commented on #4228
There are some issues with `PreStop` hook. You can refer to https://github.com/kubernetes/kubernetes/issues/35183 and more generally for Antrea cleanup you can refer to https://github.com/antrea-io/antrea/issues/181.

[2022-09-29 01:40] luolanzone opened #4255 "Antctl multi-cluster member token command enhancement"
**Describe what you are trying to solve**
When the user is trying to initialize a multi-cluster ClusterSet, a member access token is required for member cluster to join leader cluster. For now, user can use `antctl mc create membertoken` or `antctl mc init` with `--create-token` option to create the member token. But there is no way via `antctl` to get the member token information again or delete

[2022-09-29 14:16] ksamoray commented on #4253
Hi,
I've created a [PR](https://github.com/vmware/antrea-operator-for-kubernetes/pull/67) within the operator repository with an updated set of YAMLs for v1.8.0.
Once this is merged, I'll tag this as v1.8.0.01 or such (@antoninbas do we have any convention for this?).
I'll revise the process of the YAML generation later on, so the release will contain the correct set of YAMLs.

[2022-09-29 17:32] antoninbas commented on #4253
@antoninbas I don't have a convention for this, I didn't know we were using the Antrea version to tag the operator releases. It's not going to be a valid semver, but you should use whichever scheme work best for you. `v1.8.0.01` sounds fine.

[2022-09-30 02:39] wenyingd opened #4262 "TrafficController unit test failure"
**Describe the bug**

Hi,

I hit this failure when running unit test. It seems a flaky failure as I can not reproduce it every time.

[code]

**To Reproduce**

**Expected**

**Actual behavior**

**Versions:**

Antrea: main branch

**Additional context**

[2022-09-30 06:59] reachjainrahul opened #4264 "Avoid creating internal appliedTo and addressGroup name with namespace/name"
**Describe the bug**

When we add Antrea Group CR, internal groups created by antrea carries namespaced/name. Kubernetes doesnt even allow / in the name of the object.

**To Reproduce**

Add CR
[code]

When used as AppliedTo in ANP, the internal group created as,
[code]
root@rjdev2:~/new/nephe# kubectl get appliedToGroup -A
NAME                CREATED AT
sample-ns/all-vms   0001-01-01T00:00:00Z

t

[2022-09-30 17:20] antoninbas commented on #4253
@ksamoray's PR has been merged

[2022-09-30 17:20] #4253 closed

[2022-10-02 00:58] #3582 closed

[2022-10-05 00:59] #2743 closed

[2022-10-05 11:40] pablo-ruth opened #4271 "Noisy TCP traffic between two pods"
**Describe the bug**
We see a lot of strange TCP behaviors (Out-of-order, Retransmission, Dup ACK) when making an HTTP request between two pods both on the same node.

**Expected**
A clean TCP dialog without all out-of-order, retransmission, etc...

**Actual behavior**
We see a lot of strange TCP behaviors (Out-of-order, Retransmission, Dup ACK) when making an HTTP request between two pods both on

[2022-10-05 15:03] pablo-ruth commented on #4271
As seen with VMware support, doing the dump specifying the pod interface resolve the problem of duplicate tcp packets.

[2022-10-05 15:03] #4271 closed

[2022-10-10 16:27] tnqn commented on #4231
@Dyanngg thanks for the comments.

I feel the major use case of L7 policy is when users want more fine grained control on traffic, and it perhaps doesn't make sense to use L4 policy and L7 policy together for same purpose as the L4 policy would be either redundant or conflicted. But I agree with your point about the meaning of empty list of `protocols`. If it means all protocols but we support htt

[2022-10-11 07:44] meibensteiner commented on #3229
Is there some preliminary documentation on this? Especially interested in cluster network to node network communication.

[2022-10-12 02:23] luolanzone commented on #3107
This is mainly done by https://github.com/antrea-io/antrea/pull/3287 and https://github.com/antrea-io/antrea/pull/3474, close this issue.

[2022-10-12 02:23] #3107 closed

[2022-10-12 03:59] #3980 closed

[2022-10-12 11:36] #4262 closed

[2022-10-13 00:56] #3648 closed

[2022-10-13 01:54] luolanzone opened #4286 "Clean up stale integration jenkins jobs and scripts"
**Describe the problem/challenge you have**
Antrea's integration tests have been moved to github action by PR #4079, the integration jobs and scripts should be cleaned up when there is no release use them.
https://github.com/antrea-io/antrea/pull/4079#issuecomment-1208013659

Most stale codes should be in `ci/jenkins/jobs` folder: https://github.com/antrea-io/antrea/tree/main/ci/jenkins/jobs
Creat

[2022-10-13 10:11] hongliangl opened #4291 "More fine-grained partial updating for proxy"
**Describe the problem/challenge you have**
When I add unit tests for pkg/agent/proxy, I found that the updating of a field can triggers all flows, routes and ipset updating.
There is no need to updated all flows, routes and ipset when updating a some field. For example, when only updating a NodePort port, it is no need to update flow and route for its corresponding ClusterIP; when only updating p

[2022-10-13 10:12] hongliangl commented on #4291
Could you give some suggestions? @tnqn @jianjuns @antoninbas @wenyingd  Thanks!

[2022-10-13 12:31] meibensteiner opened #4293 "mDNS messages not redirected from antrea-gw0 to nodes transport interface"
**Describe the bug**
mDNS messages (224.0.0.251:5353) are not redirected from antrea-gw0 to the nodes transport interface (in my case ens32).

**To Reproduce**
Antrea v1.8.0 deployed via helm with the following values:
[code]
Deployed an application sending mDNS messages (224.0.0.251:5353) which are not detected when sniffing on ens32

**Expected**
Expected mDNS messages be forwarded to ens32

**A

[2022-10-13 17:43] tnqn opened #4294 "Race condition in LabelIdentityReconciler"
**Describe the bug**

Unit test failed consistently as the following. And the race condition exists in real world too.
[code]

[2022-10-13 23:40] jianjuns commented on #4291
When you say "triggers all flows, routes and ipset updating", you mean flows/routes of a single Service right?

[2022-10-14 00:03] hongliangl commented on #4291
Yes, just for a single Service

[2022-10-14 00:06] jianjuns commented on #4291
In that case, updating attributes of a single Service after creation should not be common right? Maybe not worthwhile to optimize?

[2022-10-14 00:19] hongliangl commented on #4291
Yes, you are right, maybe it is not worthwhile. Currently, we have partial updating for LoadBalancer (ingress IPs), and I also was inspired by this. Maybe it is too fine-grained listed in the table, I think we can do like this:

- Updating one or more attributes triggers the flows updating for ClusterIP, NodePort and LoadBalancer.
- Only updating attribute `ClusterIP` triggers the route updating f

[2022-10-14 00:33] jianjuns commented on #4291
Sure, if you have ideas to optimize without adding too much complexity, it is always good.

[2022-10-14 05:31] tnqn opened #4298 "Unit test failed in antrea.io/antrea/pkg/flowaggregator"
**Describe the bug**

[code]
[logs_193519.zip](https://github.com/antrea-io/antrea/files/9782751/logs_193519.zip)

[2022-10-17 18:32] #4247 closed

[2022-10-18 00:58] #3599 closed

[2022-10-18 02:27] #4294 closed

[2022-10-18 03:09] #4236 closed

[2022-10-18 09:10] meibensteiner opened #4309 "ServiceExternalIP: Allow multiple services sharing one IP"
**Describe the problem/challenge you have**
Our production environment requires some services to share a single IP, which is currently not possible and is the single reason why we wouldnt be able to remove MetalLB altogether and just use Antrea with the ServiceExternalIP feature flag.

**Describe the solution you'd like**
A similar solution to MetalLB would be nice which is a simple annotation on

[2022-10-18 17:08] tnqn commented on #4309
Thanks @meibensteiner for the proposal. I think technically it would work if the services use different ports. We also received another feature request for sharing same IP for Egress and Service LoadBalancerIP(https://github.com/antrea-io/antrea/issues/3334). Actually if we specify same IP for multiple Egresses, it should be already working. Then I'm thinking whether we should just adjust the IP b

[2022-10-18 20:25] antoninbas commented on #4309
The value of the annotation `metallb.universe.tf/allow-shared-ip` is unclear to me. I thought it was a means to enable IP sharing without having to explicitly provide an IP, but that's not really the case:

(from https://metallb.universe.tf/usage/#ip-address-sharing)

I am fine with Quan's proposal. Do we plan to have some sort of validation if the user mistakenly provides the same IP AND port for

[2022-10-19 01:00] #3676 closed

[2022-10-19 01:44] xliuxu commented on #4309
+1 for Quan's proposal. Something in my mind:
1. I recall that for egress we need to assign the external IP to the dummy interface and it conflicts with the implementation of ServiceExternalP. So I think it is not easy to share IP for Egress and Service.
2. What is the expected behavior if Service1 does not have a loadBalancerIP set in the spec, but user sets Service2 with the same IP to the spec.

[2022-10-19 08:22] meibensteiner commented on #4309
@tnqn No. I always considered that metallb annotation to be unnecessary. I thought I would bring it up to illustrate my use case.

Did I read this correctly and multiple services using one IP is already possible? I thought I tried it and was unsuccessful because the IP was already claimed. I will try again and circle back.

[2022-10-19 08:27] xliuxu commented on #4309
@meibensteiner Sharing IP for multiple services is not possible for the moment. We need to finalize the API design and implement it in future releases.

[2022-10-19 08:29] tnqn commented on #4309
@meibensteiner I meant multiple Egresses using one IP should work today. Egress is another Antrea feature manging egress traffic SNATing, which also consumes the external IP pool.

[2022-10-19 14:59] tnqn commented on #4309
Yes, if you don't mean validatingWebhook for Service object, I think we could validate whether the services can share an IP and use ServiceStatus and events assosicated with the Service to report error, for example:
When Service A and Service B are specified same LoadBalancer IP and have same port, if Service A is processed first it will get the LoadBalancer IP, and we do not set Service B's `stat

[2022-10-20 00:09] #4255 closed

[2022-10-20 06:45] wenyingd commented on #4293
Hi @meibensteiner , thanks for filing this issue. Could you provide more details about your use case and purpose why you want to forward the Pod mDNS traffic to external hosts?

According to `IPv4 Multicast Address Space Registry` proposed by IANA (https://www.iana.org/assignments/multicast-addresses/multicast-addresses.xhtml#multicast-addresses-1), this CIDR (224.0.0.0/24) is reserved for the use

[2022-10-21 05:24] wenyingd opened #4326 "IP may leak after agent restart"
**Describe the bug**

In the existing reconcile logic (), antrea-agent remove OVS ports/ OpenFlow entries / items in the memory interface store if the Pod is deleted when agent is down. But the logic does not call IPAM to recycle the allocated IP. So this may lead to a leak on the IP resources.

**To Reproduce**

**Expected**

**Actual behavior**

**Versions:**

Antrea: main branch

**Additional c

[2022-10-21 07:36] luolanzone opened #4327 "Antrea agent become crashloopbackoff when no available Node IPs"
**Describe the bug**

User reported an issue about antrea-agent crash after the Node is restarted. After a few debug, I feel we may do some improvement here.

When the Node is ready but its external and internal IPs are `<none>` after restart,  antrea-agent will become `CrashLoopBackOff` and the error log is like below:

[code]

The reason about why Node's external IP and internal IP becomes <none

[2022-10-24 04:32] wenqiq opened #4330 "unit test TestLock failure"
**Describe the bug**

W1024 02:34:41.370909   33022 env.go:88] Environment variable POD_NAMESPACE not found
W1024 02:34:41.371001   33022 env.go:126] Failed to get Pod Namespace from environment. Using "kube-system" as the Antrea Service Namespace
--- FAIL: TestLock (1.20s)
    --- FAIL: TestLock/lock-already-acquired (0.20s)
        lock_test.go:82: lock() error = <nil>, wantErr true
FAIL
coverag

[2022-10-24 21:28] heanlan commented on #4298
Sorry for late response, just back from PTO.

I'm not seeing this error in recent CI runs, and not able to reproduce it locally.

By comparing the logs of a passed run(see at the bottom), I believe it is failed in the last test `TestFlowAggregator_closeUpdateChBeforeFlowExportLoopReturns` . It shouldn't have these two logs:
[code]

Go back to the code https://github.com/antrea-io/antrea/blob/main/

[2022-10-25 04:49] vrabbi commented on #4309
A side note, as i just saw it in the example from above.
The spec.loadBalancerIP field is deprecated as of k8s 1.24 and is planned to be removed in a few releases from core k8s. The recommendation from k8s community is to have an annotation for specifying the loadbalancer ip that is provider specific. May be worth adding such an annotation sooner then later into antrea, to give users more time bef

[2022-10-25 08:02] meibensteiner commented on #4309
Another side note, a feature flag was introduced with k8s 1.20 which allows using different protocols (tcp&udp) on one _LoadBalancer_ Service instance. Would be great if that was supported by antrea as well.
https://github.com/kubernetes/enhancements/issues/1435

Not a dealbreaker however, since you could just create two services. One for udp, one for tcp.

[2022-10-25 11:09] meibensteiner commented on #4293
A customer is using hardware that is controlled by software which was moved into a container for some reason.
There are essentially two special services: one uses mdns to announce an endpoint the hardware is supposed to connect to. Another service uses ssdp for that.
Since we are now pushing to migrate services into k8s, we are looking for a solution for that in the cloud native landscape.

Essent

[2022-10-27 00:49] #3709 closed

[2022-10-27 02:16] #4197 closed

[2022-10-27 04:26] reachjainrahul opened #4344 "Make support bundle collection per ns in parallel"
**Describe the problem/challenge you have**

In case of scale agented VM setup with 500 VMs per NS, current approach of support bundle collection will collect bundle per VM. Even if collection takes 1 sec for a VM, for 500 VMs, it will be 500 sec.

**Describe the solution you'd like**

Can we make collection in parallel, or in batch, like 50 VMs in 1 request.

**Anything else you would like to add

[2022-10-27 04:27] reachjainrahul commented on #4344
cc @wenyingd

[2022-10-27 06:38] luolanzone opened #4345 "Improve multi-cluster unit test coverage"
This is a sub task of #4142.
Our final goal of Antrea unit test coverage is 70%. We need improve multicluster unit test since there are still a gap.

Multi-cluster's unit test coverage can be found here https://app.codecov.io/gh/antrea-io/antrea/tree/codecov-ut/multicluster

We can improve the unit test from below two major parts.

1. multicluster/cmd [@hjiajing]
2. multicluster/controllers [@bang

[2022-10-27 07:39] wenqiq commented on #4330
W1025 14:08:35.706055    3944 env.go:88] Environment variable POD_NAMESPACE not found
W1025 14:08:35.737313    3944 env.go:126] Failed to get Pod Namespace from environment. Using "kube-system" as the Antrea Service Namespace
--- FAIL: TestTrafficControlAdd (2.54s)
    --- FAIL: TestTrafficControlAdd/Add_TrafficControl_with_only_Namespace_selector (0.30s)
        controller.go:924: Unexpected call

[2022-10-27 07:54] luolanzone opened #4347 "Support Red Hat Enterprise Linux 8.4 for VM/BM agent feature"
There is a new requirement to support Redhat Enterprise Linux 8.4 for VM/BM agent. The CI pipeline of VM/BM agent is already setup, but there is no corresponding image on Antrea's testbed yet, and scripts are also missing. We need to add a new image of `Redhat Enterprise linux 8.4` with OVS 2.16 to verify this new platform and scripts.

Create this issue to track related tasks and progress.

* PR

[2022-10-27 16:38] antoninbas commented on #2135
@salv-orlando @heanlan @dreamtalen I believe this issue is still valid. Do we have a plan to address it?

[2022-10-27 20:55] bangqipropel commented on #4345
@luolanzone  @wenqiq seems like this report's result is a log of different from what we just `make test-unit` locally, so how can we regenerate the code-cov result locally?

[2022-10-27 21:35] arunvelayutham commented on #3228
Thanks for opening this back. I will get it done once we merge the e2e framework.

[2022-10-28 01:02] luolanzone commented on #4345
What do you mean about a lot of differences? I know there might some data differences but they should have no big gap since codecov is also using the same output from test-unit. And I don't think you need to run the whole unit test. You just need to focus on multicluster packages. You can run something like below to check mc package's test data locally via a browser.

[code]
You can run before add

[2022-10-28 13:43] rajnkamr commented on #4142
**Add unit test for cmd/antrea-agent/util.go** #4349

[2022-10-28 18:37] tschwaller opened #4353 "Wrong link in traffic-encryption documentation"
The documentation https://antrea.io/docs/v1.9.0/docs/traffic-encryption/ is pointing to the file https://antrea.io/build/yamls/antrea-ipsec.yml which does not exist. It should point to https://github.com/antrea-io/antrea/blob/main/build/yamls/antrea-ipsec.yml.

[2022-10-28 21:06] #4298 closed

[2022-10-30 00:55] #3708 closed

[2022-11-01 10:15] yuzs2 opened #4361 "route entry would disappear after the LoadBalancer is registered"
**Describe the bug**
When creating a LoadBalancer type service, one route entry would be registered on the node ip route. However, in some cases, we couldn't found the route entry after the LoadBalancer is created.

**To Reproduce**
This issue can be intermittently reproduced.
For example, we created below three LoadBalancers:
[code]
However, we could only find 2 route entries on the node:
[code]

[2022-11-02 03:42] luolanzone commented on #4353
@antoninbas Do you have any idea about this issue? The link works fine if user review docs in antrea repo, but if it's with `https://antrea.io` domain, it will be translated to `https://antrea.io/build/yamls/antrea-ipsec.yml`.

[2022-11-02 07:39] tnqn commented on #4353
@tschwaller thanks for reporting it.
@luolanzone It's because the use of absolute path. To fix it, only relative path should be used, and the link pointed out by the issue is not the only case.

[2022-11-04 23:28] projx opened #4376 "Random error when applying Egress Manifest, it never consistently happens - Internal error occurred: failed calling webhook "egressvalidator.antrea.io""
**Describe the bug**
I use Egress IPs to allow me to distiguish the source Pods for network traffic, it has worked flawlessly for about a year - But for the past few weeks, I get this random error when I apply the Manifest below, and when I say random, I can run kubectl apply -f manifest.yml, it will fail on the first 2 times, and then successfully apply on the 3rd attempt and work without any pro

[2022-11-06 00:46] #3753 closed

[2022-11-07 04:33] reachjainrahul opened #4378 "Fix errors observed while deleting antrea.yaml"
**Describe the bug**

Error message observed while deleting antrea yaml

[code]

**To Reproduce**

**Expected**

**Actual behavior**

**Versions:**

**Additional context**

[2022-11-08 07:11] luolanzone opened #4383 "Support multi-cluster with networkPolicyOnly mode"
**Describe what you are trying to solve**
For now, Antrea multi-cluster is running with encap mode by default, it can't support the case when Antrea is running in a networkPolicyOnly mode.

**Describe the solution you have in mind**

Make Antrea multi-cluster work when Antrea is running in a networkPolicyOnly mode.

**Describe how your solution impacts user flows**

The primary CNI manages Pod IPs

[2022-11-08 15:33] tnqn commented on #4376
Hi @projx, I tried the manifests on K3S and didn't reproduce the problem. Could you use `antctl supportbundle` to collect necessary support information and upload to the issue for us to identify the cause? It looks like the apiserver is not able to connect antrea-controller via the service IP.
Did the problem start happening after upgrading to Antrea 1.9.0 or upgrading K3S, or any event that may b

[2022-11-08 15:37] tnqn commented on #4361
Hi @yuzs2 @hongliangl Did we ever see the route for "10.78.144.48" on that Node? Want to confirm if it disappeared or it may be never installed.

[2022-11-08 15:38] hongliangl commented on #4361
I have saw that it has been installed and uninstalled.

[2022-11-08 16:10] tnqn commented on #4361
Did this happen to one Node only or all Nodes? Any agent log collected when the issue happened?

[2022-11-08 16:20] robbo10 opened #4385 "Egress IP across multi subnets"
We have Antrea running on EKS, however when trying to make use of the EgressIP feature we are limited to all the nodes being on the same subnet.

For availability purposes we have nodes in 2/3 subnets across different AZ's per cluster.

We would like the ability to use EgressIP in H/A mode by Antrea being able to support multiple subnets for nodes running in a cluster.

Thanks for all the work don

[2022-11-08 19:22] bangqipropel opened #4386 "Improve multi-cluster unit test coverage for multicluster/controllers"
This is a sub task of https://github.com/antrea-io/antrea/issues/4345.
Our final goal of Antrea unit test coverage is 70%. We need improve multicluster unit test since there are still a gap.

Multi-cluster's unit test coverage can be found here https://app.codecov.io/gh/antrea-io/antrea/tree/codecov-ut/multicluster

We can improve the unit test from below two major parts.

[2022-11-09 04:05] GraysonWu opened #4387 "MC Service couldn't be accessed from the same cluster"
**Describe the bug**

Multi-cluster Services couldn't be accessed by the client that is in the same Cluster as the original Service.

**To Reproduce**

In a Multi-cluster environment,
1. Create a Service in cluster-A
2. Export this Service as a multi-cluster Service
3. Initiate traffic from a client that is also in cluster-A to the multi-cluster Service IP in cluster-A

Service reply could get bac

[2022-11-09 05:50] yuzs2 commented on #4361
This is happening on all nodes. We can see the flood of Antrea error in our log system everywhere.

[2022-11-09 07:37] XinShuYang commented on #4347
Close this issue because we have added the redhat node to VM/BM cluster in CI pipeline.

[2022-11-09 07:37] #4347 closed

[2022-11-10 00:45] #3621 closed

[2022-11-10 00:45] #3586 closed

[2022-11-10 08:40] hjiajing commented on #4387
Hi Grayson. I tried to reproduce the phenomenon in my dev environment like below:

[code]

And then I found that it worked well if I enable the kube-proxy component. But if I enabled the `proxyAll` in the antrea configuration, I met the same error, too.
Maybe there's something wrong in the OVS flow, I'll continue to track this. Thanks.

[2022-11-10 13:26] tnqn commented on #4361
Not sure if @hongliangl manages to reproduce it, but I wonder if the issue is caused by this scenario:
LoadBalancer Service A uses 10.78.144.48 as external IP in the beginning;
LoadBalancer Service A is deleted and the external IP is released, meanwhile LoadBalancer Service B is created and the external IP is assigned to it;
antrea-agent processes the creation of Service B first and installs a rou

[2022-11-10 18:36] alex-vmw commented on #4361
@tnqn Yes, on DECC Clusters LoadBalancer Services are VERY often created and deleted and of course same IPs are re-used from DNS as long as they are free/released.

[2022-11-10 21:38] projx commented on #4376
Hi

I've literally just re-installed the Cluster, and it happened immediately:

[support-bundles_20221110T212617Z.zip](https://github.com/antrea-io/antrea/files/9984726/support-bundles_20221110T212617Z.zip)

I had to run "kubectl import -f . " several times before it eventually actually worked...

I was previous running K3S v1.22 and Antrea 1.8.0, and had seen it happen sometimes with this, but no

[2022-11-10 22:50] jianjuns commented on #4385
Hi @robbo10 , I like to understand your requirement better. Egress feature does not really require all Nodes on the same subnet. Maybe you meant your want a single Egress IP can be failed over from one Node subnet to another Node subnet? That is indeed not supported.

@tnqn

[2022-11-11 09:51] robbo10 commented on #4385
@jianjuns  - On our EKS clusters we are using 3 subnets for the workers, 1 subnet per AZ.  We were running into issues trying to get EgressIP working, the configuration etc of Antrea was correct however whenever validating the traffic from the SNAT IP, we always seen the source IP being the node the Egress was assigned to versus the EgressIP.

We had a troubleshooting session with @tnqn last week

[2022-11-11 13:39] tnqn commented on #4361
@alex-vmw thanks for confirming. Then we could focus on reproducing the issue in this way and fixing it.

[2022-11-11 15:14] tnqn commented on #4385
@robbo10 The Egress IP should be in the same subnet as the Node's IP, so if the node selector selects all Nodes, they need to be in the same subnet. Reminded by @jianjuns's comment, I wonder if you could limit the node selector to one AZ only and use Egress IPs from the subnet of that AZ. You could even have 3 externalIPPools, each of which selects only Nodes of one AZ and contains IPs in that AZ'

[2022-11-11 16:00] robbo10 commented on #4385
@tnqn - For HA purposes, to ensure that we don’t have downtime for any products, if worst case say AZ1 went down which would result in all namespaces which have their Egress tied to nodes in that subnet having an outage.  Is it possible as you mention to have 3 externalIPPools, and per namespace assign 3 Egress IP's to each namespace, one from each externalIPPool, so as if all nodes within an AZ w

[2022-11-14 05:48] hjiajing commented on #4387
Hi Grayson, I tried several ways to reproduce the issue, but it once appeared once.  Can you reproduce the issue every time ?  @GraysonWu

[2022-11-15 00:45] luolanzone commented on #3754
Close this issue since Gateway active-passive mode HA is support from v1.9.0.
Will create a new issue if there is any plan to support active-active mode.

[2022-11-15 00:49] jsalatiel commented on #4108
/remove-stale

[2022-11-15 08:52] tnqn commented on #4385
I think I understand the requirement now and wonder if two backup Egress IPs are needed. It may happen one AZ is totally down so one backup should be enough? If yes, I'm considering a secondaryEgressIP field (and a corresponding secondaryExternalIPPool field), which would take over the Egress traffic when the primary EgressIP's nodes are all unavailable. It may be helpful for static Egress as well

[2022-11-15 10:22] tnqn commented on #4376
@projx thanks for the support bundle. I have checked it and everything in Antrea seems fine, especially antrea-controller was running well but kube-apiserver was not able to reach it when validating webhook was called, which looks like an issue on client side (kube-apiserver, or the apiserver in k3s). After searching the symptom in k3s repo, I see many k3s users encountered the same issue regardle

[2022-11-15 13:08] projx commented on #4376
Thank you @tnqn, and apologies, I should have looked wider a field (I did try searching for it, but couldn't find any other indicators).

[2022-11-15 13:08] #4376 closed

[2022-11-15 20:10] jianjuns commented on #4385
I also feel >1 Egress IPs are the only way for AWS, where a subnet is a single AZ.

[2022-11-16 15:11] brammulders opened #4396 "Does Static Egress SNAT work in GKE?"
**Using Static Egress in GKE seems to not work**

Can someone shed some light on whether the Egress works within GKE?
I'm trying to use it because we need a specific range for egress, but I'm not sure if it's even functioning.
The installation seems to be correct. And I changed the Egress featureflags both to true.

This is the Egress definition I'm using.
The Pod for the 'antrea-test-app' is on t

[2022-11-16 15:34] #4396 closed

[2022-11-17 02:44] GraysonWu opened #4398 "To Address windows test cases failures like reject, audit logging & fqdn for Antrea policy on Windows"
**Describe what you are trying to solve**

Enable Antrea policy on Windows requires all Antrea policy related e2e tests to pass. The current status is only `reject`, `fqdn` and `audit logging` test cases failed on Win.
I previously worked on this item but due to some reasons, I switched to other features before I finished it. Sharing some info here:
* `reject`: I have fixed this case before by add

[2022-11-17 02:44] GraysonWu commented on #4398
@wenyingd

[2022-11-17 08:21] luolanzone commented on #4398
@NamanAg30  you should need windows environment to start the job, @XinShuYang  can do some windows related TOI to you when you understand the issue and plan to work on it.

[2022-11-17 09:11] NamanAg30 commented on #4398
Sure @luolanzone

[2022-11-17 14:23] robbo10 commented on #4385
@tnqn - With the approach you outlined above would that allow for nodes in an EKS cluster to be in two AZ's, therefore the workers could be split across 2 subnets and EgressIP would work?

Thanks

[2022-11-18 09:25] rajnkamr commented on #3708
@KMAnju-2021 is working on it. Plz re open this task.

[2022-11-21 14:44] luolanzone commented on #4383
After a few discussion and performance test, We choose another solution for Pod routes which is simpler and easier to implement and maintain. In order to let Gateway know how to forward the Pod traffic back to general Node, Antrea-agent will simply watch all Pods and set up one rule per Pod in L3Fowarding table as below as long as the Pod is running in a general Node instead of Gateway itself.

[c

[2022-11-22 00:44] #3684 closed

[2022-11-22 00:55] jsalatiel commented on #3794
/remove-stale

[2022-11-23 06:19] luolanzone commented on #4387
After a few more verification and discussion, we found that the environment with this kind of issue has Service ClusterIP overlapping, which doesn't meet the Antrea multi-cluster prerequisites. It's expected to fail in such case, so close this issue.

[2022-11-23 06:19] #4387 closed

[2022-11-23 14:05] robbo10 commented on #4385
@tnqn - just to clarify as things stand we can’t assign multi EgressIP to a namespace to solve the multi AZ subnet problem?

Thanks

[2022-11-23 17:10] tnqn commented on #4385
Yes, but it's not supported yet, just an idea how to resolve the problem and need more evaluation on the implementation.

It's not supported yet as seen from the Egress API, only a single Egress IP and ExternalIPPool can be specified.

[2022-11-28 05:25] reachjainrahul commented on #4378
yes

[2022-11-28 07:46] luolanzone opened #4416 "stretched NetworkPolicy support on networkPolicyOnly mode"
**Describe the problem/challenge you have**

Antrea multi-cluster feature plan to support stretched NetworkPolicy on v1.10. It should work with encap mode by design, and all cross-cluster traffic will utilize Geneve header to load Pod's LabelIdentity in tun_id. When Antrea is deployed on public cloud clusters like EKS, it will be deployed with networkPolicyOnly mode, the primary CNI is responsible

[2022-11-29 08:53] wenyingd opened #4417 "Use a security connection between Agent and Controller in VM"
**Describe the problem/challenge you have**

VM is insecure in the Internet, so it might introduce security risk on the connection between Agent and Controller.
Most internal resources between Controller and Agent are cluster scope, and Antrea Controller always trusts the connection peer as long as it has a token used in the connection in the existing code. This may introduce an issue when running

[2022-11-29 09:03] wenyingd opened #4418 "Add e2e cases for support bundle collection feature"
**Describe the bug**

Although the SupportBundleCollection feature functions are almost done, no e2e test cases are provided, which is possible to hide the issues in the logic. We need e2e test to verify the functions.

[2022-11-30 18:03] tnqn opened #4426 "Virtual network device's MAC address changes after it's created with systemd v242 and later"
**Describe the bug**

@wyike reported an issue that a Node sometimes can't talk to Pods running itself when running Antrea with Ubuntu jammy (22.04.1) version. After some troubleshooting, we found it's because antrea-gw0's MAC address was different from the one used in OpenFlow rules. For example, it was `be:4d:3d:c8:de:94` according according to `ip addr`:
[code]
But the agent log said it was `4a