[2021-05-10 13:14] tnqn commented on #2157
@jianjuns thanks for sharing the method to resolve MAC.
@lzhecheng please check if windows platform has similar API. We need to have this for different subnet case soon.

[2021-05-10 21:44] antoninbas commented on #2154
I may be wrong but I think we can choose either one. It depends on whether we want to have other Go modules under antrea.io.

[2021-05-10 22:30] antoninbas commented on #2157
Yes, that's what I meant. I didn't try, but the gateway MAC is likely to work in GKE in my opinion. But not as a generic solution for all network infras.

[2021-05-11 01:19] antoninbas commented on #1519
I think this is still a valid issue that we haven't taken care of. Removing the "lifecycle/stale" label.

[2021-05-11 03:41] tnqn commented on #2154
I see normally the projects that use vanity URL still have a repo name in the path, e.g. Kubernetes and Istio. I think it would be more extensible to use `antrea.io/antrea` in case we want to put some common libraries, tools under `antrea.io` in the future?

[2021-05-11 16:37] #1837 closed

[2021-05-12 00:44] antoninbas commented on #1543
Test is still being skipped, we haven't investigated the issue yet. Removing the "lifecycle/stale" label.

[2021-05-12 03:47] lzhecheng commented on #2017
@dreamtalen hello, the windows-e2e job is enabled. Could you please update flow aggregator related e2e tests?

[2021-05-12 04:48] dreamtalen commented on #2017
Thanks zhecheng, could you merge this PR first? I will add flow aggregator related tests in my PR.

[2021-05-12 05:49] #1372 closed

[2021-05-12 17:21] moshloop commented on #1354
@antoninbas - I think the use of API aggregation introduces fragility by increasing the blast radius of failure / misconfiguration, especially in GitOps environments where it could cause the very updates to fix a broken cluster to fail due api resource listing breaking in controllers like Flux

Why not just convert the APIService aggregations to direct calls to the controller?

[2021-05-12 19:08] antoninbas commented on #1354
@moshloop Thanks for the feedback. I tend to agree with your statement. IIRC the main reason why we chose to use aggregation in the first place was to allow easy access to resource URLs from the antctl command-line tool, without having to worry about endpoint discovery / authentication. Recently we have added more commands to antctl which access non-resource URLs in the controller and for which AP

[2021-05-12 20:46] antoninbas opened #2171 "Enable DCO for Antrea"
Now that Antrea is a CNCF project, we need to transition from the VMware CLA to either the [CNCF CLA](https://github.com/cncf/cla) or a [DCO](https://github.com/apps/dco) (see https://github.com/cncf/toc/issues/650).

It seems that most CNCF projects (all except for K8s and gRPC?) use DCO, so I suggest that we do the same. We simply need to add the probot DCO app to this repository.

[2021-05-13 00:05] dims commented on #2171
good call. +1

[2021-05-13 17:15] #2154 closed

[2021-05-13 17:17] #2171 closed

[2021-05-13 19:13] antoninbas opened #2178 "Supporting running a new Traceflow request with the same exact parameters in Octant UI"
**Describe the problem/challenge you have**
When running Traceflow requests using the Octant UI, it is not possible to run the same request again with the same parameters. Think about the following scenario:
1) I use Traceflow to verify that Pod A can initiate a TCP connection to Pod B on port 80
2) I define a NetworkPolicy to prevent Pod A to initiate connections to Pod B
3) I want to run the sam

[2021-05-13 19:17] antoninbas opened #2179 "Include SNAT information for Service hairpinning by AntreaProxy in Traceflow"
**Describe the problem/challenge you have**
This is a follow-up to https://github.com/antrea-io/antrea/issues/1914
When running a Traceflow request for which AntreaProxy has to perform SNAT because of hairpinning, it would be nice to include the SNAT information in the Traceflow Status and show it in the Octant UI.

Currently the Status information looks like this:
[code]
It would be good to add a

[2021-05-13 21:25] antoninbas commented on #1638
Now that we have updated our client-go dependency to v0.21 (https://github.com/antrea-io/antrea/pull/1973), we should be able to implement his easily.

@GraysonWu could you take care of this before the Antrea v1.1 release?

[2021-05-18 06:30] anfernee commented on #2157
In GKE, a cluster is created inside a VPC subnet. It's never across subnets. Also correct me if I am wrong, direct routing mode only works within the same subnet, otherwise you will need some tunnel, right?

ARP/NDP also doesn't work in GCE. I think in general, broadcast/multicast protocols are not supported in GCE (or other clouds?). When ARP request was sent from an instance, I guess what happen

[2021-05-18 07:02] tnqn commented on #2157
Thanks for confirming this. There are two ways to make it work across subnets:

- Setting traffic mode to hybrid, in which case it works as you said, i.e. tunnels will be created between nodes that are in different subnets
- Setting traffic mode to noencap, in which case it's assumed that the router in the underlying network knows how to route pod traffic. The routing path: Pod A1 -> Node A -> Rou

[2021-05-18 14:53] tnqn commented on #2128
@jianjuns to associate with Egress IPs with Nodes, what do you think about this way?
Add an IPPool CRD, which defines the subnet, ip ranges and associated Nodes:
[code]
Then we could add an optional pool field to `EgressSpec` to indicate which IPPool the EgressIP should be allocated from, and failover will be enabled when the IP pool is specified:
[code]

[2021-05-18 17:05] jianjuns commented on #2128
@tnqn : do you mean we will support Egress IP allocation? I thought it will not be in the next release?

For IPPool CRD, I like to make it generic, so it can be used by other use cases too like LB VIP allocation. LB VIPs share common requirements as Egress IPs, so your definition should work. However, it is not very clear to me if we will use the same IPPool to support allocating Pod IPs (e.g. for

[2021-05-18 17:44] jayunit100 opened #2187 "self-registration of antrea.exe service to avoid nssm dependency"
**Describe the problem/challenge you have**

Its inconvenient to have to install nssm for running antrea as a service on windows... and theres no containerd option ...

**Describe the solution you'd like**

Would be possible to take https://github.com/containerd/containerd/blob/master/cmd/containerd/command/service_windows.go ...

the register-service stuff and plumb it into ...

[code]
So that an

[2021-05-19 00:16] antoninbas commented on #2187
@lzhecheng could you help triage / investigate this?

[2021-05-19 02:27] tnqn commented on #2128
Yes, I want to make auto-failover enablement more explicit to users when they create Egress. Defining an standalone IPPool or NodePool but not associating them with Egress sounds obscure to me and it seems we would reuse the Pool resources for other features which would make it more obscure.

I was thinking something like SubnetPool to support Pod IPs allocation. It sounds complex to support indiv

[2021-05-19 04:32] jianjuns commented on #2128
I feel it is ok if we want to do only failover first. As you proposed originally, we can have a NodeSelector parameter in the ConfigMap, and we can use a name like DefaultEgressNodes, which should be clear enough Egress IPs can be assigned to these Nodes.

For Pod IP allocation, I feel it is not really different from Egress IP or VIP allocation. It is still a pool of IPs, but just that IPs are ass

[2021-05-19 04:51] tnqn commented on #2128
@jianjuns Is static Egress IP that don't need failover a valid case to you? And a combination of static Egress IP and failover-able Egress IP in same cluster a valid case? For example, some pods may just use a specified Node's primary IP as Egress IP, while some others use floating IPs. The `FailoverPolicy` or `EgressIPPool` field added to `EgressSpec` is to make them work together. Otherwise star

[2021-05-19 06:07] jianjuns commented on #2128
I feel it is not very important to support this case. Of course I am not saying not good to have per IPPool settings, but I am just saying it might be ok to start from a global setting, if we plan to develop this feature across releases.

I got what you mean by a single global group. Originally I thought smaller groups can be configured based on failure domains, and can scale better (but there can

[2021-05-19 07:19] tnqn commented on #2128
We may not be able to catch 1.1 anyway so I assume we have some time to support per IPPool setting and it doesn't sound complex to implement. Except the API change, I imagine we just need antrea-controller to maintain the IP usage of IPPools in memory and allocate an IP from the speicfied IPPool if an Egress doesn't have IP specified.

Smaller groups would also introduce extra traffic if a Node ca

[2021-05-19 16:30] antoninbas commented on #136
I notice that there is one remaining item for this issue:

Is this accurate (i.e. support is missing)? Does anyone know what's not supported and what needs to be done? Maybe opening a separate issue with more context would be a good idea.

[2021-05-19 19:10] #1637 closed

[2021-05-20 09:41] sladyn98 commented on #2187
@antoninbas @lzhecheng I could help in the implementation of this as well : ) let me know if its feasible to do such a thing

[2021-05-20 09:50] tnqn commented on #2187
@sladyn98 You are very welcome to help implement it. I have assigned it to you. Thanks!

[2021-05-20 23:09] #2095 closed

[2021-05-21 02:10] lzhecheng commented on #136
I am going to test it.

[2021-05-21 22:35] antoninbas opened #2199 "Graduate the NetworkPolicyStats feature to Beta"
Opening this Github issue to discuss what it would take to graduate the NetworkPolicyStats feature to Beta.

NetworkPolicyStats has been in Alpha since Antrea v0.10.
There was a recent bug fix for this feature, which was included in v1.0.1: https://github.com/antrea-io/antrea/pull/2078

It would seem reasonable to me to plan to graduate the feature to Beta in Antrea v1.2 if no other major bug is d

[2021-05-21 23:29] zyiou opened #2201 "Multi-cluster support for ELK flow collector"
**Describe what you are trying to solve**
Currently, elk flow collector only supports deployment in the same cluster as Antrea, which has a high minimum resource requirement and consumes cpu & resources as other pods/services. It will be better to support separation of collector and visualization apps. Also, in the future when we have network policy recommendation, the controller can retrieve proc

[2021-05-24 00:23] #227 closed

[2021-05-24 06:51] xliuxu opened #2204 "Support WireGuard for traffic encryption"
**Describe what you are trying to solve**
WireGuard provides better throughput compares with IPsec and it is shipped with Linux kernel version >=5.6.  It would be great if Antrea could support using WireGuard for traffic encryption.

**Describe the solution you have in mind**
Support WireGuard in Antrea.

**Describe how your solution impacts user flows**
User can set wireguard: enable in Antrea co

[2021-05-24 13:54] lzhecheng opened #2205 "[Windows] antrea agent klog verbosity level cannot be set"
**Describe the bug**
Antrea Windows agent's klog verbosity level cannot be set like Linux one.
https://github.com/antrea-io/antrea/blob/release-1.0/build/yamls/antrea.yml#L2928
There's nowhere to configure this in Windows.
https://github.com/antrea-io/antrea/blob/release-1.0/build/yamls/antrea-windows.yml

**To Reproduce**
Now there's nowhere to configure for Windows.

**Expected**
There should be

[2021-05-25 14:05] tnqn commented on #136
@lzhecheng you may need to update `GetNodeAddr` to make dual-stack noEncap work. Please see the thread https://github.com/antrea-io/antrea/pull/2191#discussion_r635478931

[2021-05-25 14:07] tnqn commented on #2199
@antoninbas not yet, I will collect it. Thanks for proposing it.

[2021-05-26 21:27] #1638 closed

[2021-05-26 22:21] #1923 closed

[2021-05-26 23:47] antoninbas opened #2210 "Periodically verify that all required NodePortLocal iptables rules are present in the Node"
**Describe what you are trying to solve**
This issue is similar to https://github.com/antrea-io/antrea/issues/628. In https://github.com/antrea-io/antrea/pull/1751, we added support to periodically sync-up iptables rules. However that PR didn't cover the NodePortLocal iptables rules (https://github.com/antrea-io/antrea/blob/main/pkg/agent/nodeportlocal/rules/iptable_rule.go), probably because PRs

[2021-05-27 00:20] dreamtalen opened #2211 "Improve the bandwidth/throughput calculation on Flow Aggregator side"
**Describe what you are trying to solve**
When working on https://github.com/antrea-io/antrea/pull/1802, we found using `octetDeltaCountFromSourceNode` and `flowEndSeconds` fields to calculate bandwith on Flow Aggregator side may be wrong in some corner cases. Because `flowEndSeconds` will be updated whenever Flow Aggregator received records from the Flow Exporter on source or destination node, ho

[2021-05-27 03:17] #1914 closed

[2021-05-27 03:35] lzhecheng commented on #2013
@anfernee The reason is that there's a docker network “l2bridge” on the Node which is created by google cloud init script. As a result, when creating "antrea hsnnetwork", the request is rejected. If the docker network can be deleted, antrea-agent should be started successfully.

[2021-05-27 03:36] mmottaghi opened #2213 "Better error message instead of "hnsCall failed in Win32""
Antrea Version 1.0 runs into a problem if the host Windows already has multiple hnsNetworks; especially if it has an hns network already connected to the external network port.
In these cases Antrea fails when trying to create **antrea-hnsnetwork** and shows a raw error message which is misleading:

Therefore, **before** trying to create **antrea-hnsnetwork**, Antrea should enumerate the existing

[2021-05-27 18:21] #1004 closed

[2021-05-27 19:09] #1632 closed

[2021-05-27 20:50] antoninbas opened #2214 "Should listing NetworkPolicyStats when the Feature Gate is disabled return an empty list instead of an error?"
This is what we get when we try to list NetworkPolicyStats when the `NetworkPolicyStats` Feature Gate is disabled:
[code]
This is of course expected based on the code:
https://github.com/antrea-io/antrea/blob/b8e9157122cdb51ca6368e2394a402397473d227/pkg/apiserver/registry/stats/networkpolicystats/rest.go#L65-L68

This causes software like kapp to print a log message when listing all resources in a

[2021-05-27 20:50] antoninbas commented on #2214
cc @tnqn

[2021-05-28 05:43] #2035 closed

[2021-05-28 05:53] antoninbas opened #2217 "Increase QPS limits to reduce client throttling in e2e tests?"
I often see the following log messages in Antrea e2e test logs, especially when testing batch Pod creation and during NetworkPolicy tests.
[code]

Maybe we should consider increasing QPS limits for the client used for testing. I see that the default values for client-go are 5 for QPS and 10 for burst: https://pkg.go.dev/k8s.io/client-go@v0.21.1/rest#Config. While the K8s e2e framework seems to be

[2021-05-28 07:34] #1545 closed

[2021-05-28 14:48] tnqn commented on #2213
@mmottaghi thanks for the enhancment suggestion! I'm working on it.

[2021-05-28 15:17] tnqn commented on #2214
I was following some alpha API behavior in K8s: https://github.com/kubernetes/kubernetes/blob/d22dc5cb72a627341f4004b5d58d275f3d8773b3/pkg/registry/core/pod/storage/storage.go#L299. But it's a subresource so won't be listed.
And I wanted to make the API show that the feature is disabled from the response so user will know they need to enable it when they try to use it.

But I agree that this may b

[2021-05-28 16:50] antoninbas commented on #2214
https://github.com/kubernetes/kubernetes/blob/648c591fff986e241aabf32e661a0a95345fa35f/pkg/controller/namespace/deletion/namespaced_resources_deleter.go#L509

But to my point, if the resource had been deletable, then gating the `List` method like this would not have been acceptable as it would have prevented Namespace deletion?

I think that makes sense for other API verbs, but maybe List doesn't

[2021-05-28 22:34] antoninbas opened #2223 "Introduce a short feature freeze period before each release"
I'd like to propose the introduction of a small feature freeze period before each minor release. I believe that doing so would:
* ensure that we can release on time: we systematically release on Fridays instead of Wednesdays, and just before the weekend is not an ideal release time
* help keep the release process more organized: instead of rushing reviews for bug fixes and new features alike durin

[2021-06-01 04:19] sdake commented on #136
General question here about IPv6 only support. Does Antrea support IPv6 only mode, and further, is the list accurate? I plan to test this, although it is easier said then done as photon does not yet have IPv6 support (so I have to roll with a different OS).

Cheers,
-steve

[2021-06-01 21:07] antoninbas commented on #136
Yes Antrea supports both IPv6-only and dual-stack clusters, and we test both configurations in CI. The list above should also be accurate. If anything, IPv6-only mode is easier to support, there are fewer quirks than with dual-stack and it's very similar to IPv4-only clusters.

[2021-06-02 02:47] luolanzone commented on #2137
@antoninbas @jianjuns  do you think it's Ok to add a string list 'SkipServices' to antrea-agent.conf like below?
SkipServices:
  kube-system/kube-dns
  10.1.11.4

[2021-06-02 02:52] antoninbas commented on #2137
@luolanzone I would say yes, but it's probably better to keep this issue for a new contributor IMO, since it's not urgent and quite straightforward to do.

[2021-06-02 02:56] luolanzone commented on #2137
@antoninbas  ok, I was planing to go through the code and get myself familiar with AntreaProxy related code, if it's not urgent, I will leave it for now.

[2021-06-02 06:41] tnqn commented on #2223
Sounds good to me!

[2021-06-03 00:43] antoninbas commented on #2013
Is this issue resolved? It seems that the only action item for the Antrea community is to improve the error log: https://github.com/antrea-io/antrea/issues/2213

[2021-06-03 01:17] lzhecheng commented on #2013
@tnqn is also reviewing GKE initialization script to avoid that hnsnetwork before Antrea hnsnetwork. @tnqn what's the progress now?

[2021-06-03 02:41] tnqn commented on #2013
I think we can resolve this one and track the error log improvement in #2213.

[2021-06-03 06:10] lzhecheng commented on #2013
Closing this issue and use #2213 to track.

[2021-06-03 06:10] #2013 closed

[2021-06-03 06:23] anfernee commented on #2013
Make sense. This can be closed.

[2021-06-03 14:18] #2010 closed

[2021-06-03 16:45] tnqn commented on #2214
I get your point now. Yes, I agree `List` shouldn't be gated.

[2021-06-04 12:56] bertpersyn opened #2238 "Antrea on k3d + k3s"
**Describe the problem/challenge you have**

Install Antrea CNI on k3s using k3d.
Used KIND setup, but got following error

`spec: failed to generate spec: path "/var/run/netns" is mounted on "/var/run" but it is not a shared or slave mount`

**Describe the solution you'd like**

Added following line to the hack/kind-fix-networking.sh:

`#!/usr/bin/env bash

# Copyright 2019 Antrea Authors
#
# Lic

[2021-06-04 13:44] tnqn commented on #2238
@bertpersyn thanks for the issue and the solution! The issue seems common in some distros: https://github.com/kubernetes/kubernetes/issues/61058 and your solution is recommended there too https://github.com/kubernetes/kubernetes/issues/61058#issuecomment-372764783.
Since you already pointed out how to fix it, would you create a PR so you can get credit for your solution?

[2021-06-07 02:12] luolanzone commented on #2014
@antoninbas  @jianjuns  after check the e2e execution time, Antrea policy test cases use around 15mins which is the most time-consuming test cases, and there are five e2e in parallel, I am thinking is it possible to move Antrea policy out of these cases and make it run in parallel?
[code]
the new list maybe like below:

[code]

[2021-06-07 06:33] xliuxu opened #2243 "WireGuard on Antrea implementation"
**Describe what you are trying to solve**
This proposal summarizes the first version of WireGuard on Antrea. Refer to https://github.com/antrea-io/antrea/issues/2204 for the proposal.

In the first version, we want to implement WireGuard on default encap mode as existing features such as EgressPolicy will not be affected.

**Describe how your solution impacts user flows**
Users can enable WireGuar

[2021-06-07 13:29] tnqn opened #2244 "Pods stuck in RunContainerError status with error: no IP addresses available"
**Describe the bug**
With containerd 1.4.4 as container runtime, it may happen that some nodes failed to create new Pods with `RunContainerError`. Describing the pod got the below message:
[code]
But there should be available IPs on the Node.
This seems to be caused by some issue in containerd or runc because containerd had been failing to create sandbox container tasks for a while before the IPs

[2021-06-07 13:35] tnqn commented on #2244
cc @luwang-vmware @dims @andrewsykim

[2021-06-07 17:20] tnqn commented on #2213
@mmottaghi @anfernee I found the reason why the error was "The parameter is incorrect" was because the discovered uplink interface was a virtual adapter if L2Bridge type HNSNetworks were created before running antrea-agent.
For example, before creating any HNSNetwork, the node IP was on a physical adapter:
[code]
After creating any L2Bridge HNSNetwork, it attached the physical adapter to the HNSNe

[2021-06-07 17:56] mmottaghi commented on #2213
Thank you @tnqn  !
We most likely cannot remove our `l2dridge`; I tried deleting it a couple of times and doing so always resulted in some sort of serious instability. So, it would be helpful if we could find a solution in the existence of the `l2dridge`.

[2021-06-07 18:07] antoninbas commented on #2014
I don't think that creating more jobs that run in parallel is necessarily the solution. In the end the project only gets a limited number of concurrent workers, and adding more parallel jobs may actually make things slower across Pull Requests. Instead we should 1) see if improvements to the framework and test cases can be made to speed up tests, 2) consider reducing the number of tests we run (re

[2021-06-07 23:47] antoninbas opened #2247 "Improve support for Egress in Traceflow"
**Describe the problem/challenge you have**
See discussion in https://github.com/antrea-io/antrea/pull/2227#discussion_r644425735

At the moment, we will generate the following observations for Egress traffic:
* when Egressing from the same Node, the `Forwarding` component will report the `ForwardedOutOfOverlay` action
* when Egressing from a remote Node, the `Forwarding` component will report the

[2021-06-08 01:35] luolanzone commented on #2014
@antoninbas , I think there are actually two major issues in your comment, one is the overall e2e time is too long, another one is when we have a job failed, we have to rerun all jobs. I will figure out if there is a way to rerun one job only if any parallel job failed.
I compared a few e2e execution logs, most of test cases are around 1min or less, I doubt there is an efficient way to reduce the

[2021-06-08 01:59] luolanzone commented on #2014
hmm, after check the github community, I am afraid there is no way to rerun single job at the moment: https://github.community/t/re-run-jobs/16145, they are using issue https://github.com/actions/runner/issues/432 to track this requirement, but looks like it's still on going.
one option for us is to split workflow for the e2e.

[2021-06-08 02:02] antoninbas commented on #2014
I don't really see a significant difference between https://github.com/antrea-io/antrea/actions/runs/907309257 (recent run on master, 1h15) and https://github.com/antrea-io/antrea/actions/runs/915168994 (your PR, 1h13). Am I missing something?

https://github.com/antrea-io/antrea/actions/runs/915168994 does not seem to be "normal"; sometimes CI is slower I think

If we can reduce the execution tim

[2021-06-08 02:09] luolanzone commented on #2014
ah, I am checking the each e2e execution item's time instead of total duration, hmm, you are right, there is no significant difference for the total duration. :pensive:

[2021-06-08 04:11] antoninbas commented on #2223
Consensus at the 06/07/2021 Community Meeting is that we will introduce the feature freeze period for v1.3. If it improves the release process, we will adopt this for all subsequent releases.

[2021-06-08 05:53] lzhecheng opened #2249 "[CI][e2e] return *v1.Pod for createPodOnNodeInNamespace(), etc."
**Describe the problem/challenge you have**
Currently, functions like `createPodOnNodeInNamespace()` and those functions call it only returns `error` after creating a Pod. https://github.com/antrea-io/antrea/blob/release-1.1/test/e2e/framework.go#L895
I think it is better to return `*v1.Pod` as well. The reason is that when a Pod is created, some fields are set implicitly like namespace (testNames

[2021-06-08 06:13] anfernee commented on #2213
From the comment, it also said L2Bridge network requires an external vSwitch.

https://github.com/kubernetes/kubernetes/blob/887e5e61b0cdca445bce1e9549ac38dc9814ca62/cluster/gce/windows/k8s-node-setup.psm1#L779-L785

daschott also mentioned that each external vSwitch requires one dedicated interface.
https://github.com/microsoft/SDN/issues/300#issuecomment-493168982

I guess what we can do is prob

[2021-06-08 06:29] mmottaghi commented on #2213
I thought about the idea of not creating the L2Bridge,
however, I asked the guys who created the L2Bridge and they suggested it was a bad idea;
because there are some services that rely on it.

Alternatively, we might be able to create an Antrea-friendly bridge instead of the existing L2Bridge
and configure it appropriately, to satisfy the needs of the current dependent services.

[2021-06-08 06:47] hangyan opened #2250 "Add doc about running e2e test on existing k8s cluster"
**Describe the problem/challenge you have**
I want to run the e2e test for antrea, and i have an existing k8s cluster, not kind. I want to run the e2e test or other test on it, not use vagrant to create new ones.

**Describe the solution you'd like**
Add doc and script to support run all kinds of test for antrea on existing k8s cluster(not kind)

**Anything else you would like to add?**
No

[2021-06-08 08:26] luolanzone opened #2251 "Multicast Support in Antrea"
**Describe what you are trying to solve**
Currently Antrea doesn’t support multicast traffic, all multicast traffic will be dropped by data path in OVS. Considering there will be some multicast applications like financial services require multicast support from CNI, it would be ideal to have multicast supported in Antrea.

**Describe the solution you have in mind**
User can enable or disable multi

[2021-06-08 11:02] #2213 closed

[2021-06-08 13:06] tnqn commented on #2213
It may help if we know what exactly services rely on the L2bridge. I think in Antrea case no containers will be connected to that bridge. Could we first try the way that skips creating the L2Bridge when installing antrea and see whether there is anything wrong?

[2021-06-08 20:13] jayunit100 opened #2254 "Windows Refactoring of helper.psm"
**Describe the bug**

https://github.com/antrea-io/antrea/blob/main/hack/windows/Helper.psm1 Is extremely verbose and not commented well.  Especially the parts around service accounts and kube proxy.

Lets comment it and break out functions where necessary.  This will be used in part of https://github.com/FriedrichWilken/KubernetesOnWindows/issues/19 , as an example of how to use antrea in the bro

[2021-06-09 03:58] lzhecheng commented on #1218
This test has been renamed to `TestPrometheusServerControllerMetrics` and it is stable now. Closing this issue.

[2021-06-09 03:58] #1218 closed

[2021-06-09 08:19] tnqn opened #2258 "Remove deprecated API: networking.antrea.tanzu.vmware.com v1beta1"
**Describe the bug**

It's time to remove the deprecated API "networking.antrea.tanzu.vmware.com" according to the [API deprecation policy](https://github.com/antrea-io/antrea/blob/main/docs/versioning.md#apis-deprecation-policy) and [the plan](https://github.com/antrea-io/antrea/blob/main/docs/api.md#currently-supported). antrea-agent switched to "controlplane.antrea.tanzu.vmware.com" in [v0.10.0

[2021-06-09 08:26] luolanzone commented on #2014
After check the github doc, it shows the maximum runner for free plan is 20,  I think it's worthy to reduce the total jobs we used in our workflows which can help to release runner quicker when there are multiple PRs, here is a sample change: https://github.com/antrea-io/antrea/pull/2245/files#diff-678682767f2477de3e3c546746f8568b9a1942b2c647d32331d7e774b8ff8d9f

There are also a few areas I have

[2021-06-09 08:27] tnqn commented on #2258
@jianjuns @antoninbas do you have any concern on the cleanup?

[2021-06-09 14:35] antoninbas commented on #2258
No concern on my side. v1.2 seems like the right release to do that.

[2021-06-09 15:23] jianjuns commented on #2258
Glad to remove the deprecated APIGroup!

[2021-06-09 15:28] tnqn commented on #2258
@hangyan could you help this item?

[2021-06-09 15:33] tnqn commented on #2258
@jianjuns @antoninbas thanks for your feedback.

[2021-06-09 15:49] #2178 closed

[2021-06-09 20:19] antoninbas commented on #2014
I wouldn't necessary assume that tests for Service proxy or the Flow Aggregator have no dependency on the traffic mode (encap, noEncap). They don't have an explicit dependency that's true, but I'm not sure that means we shouldn't validate these features for difference traffic modes. There can always be unexpected dependencies or interactions.

[2021-06-10 06:43] lzhecheng commented on #2014
I think these methods will help but we should be very careful about the fourth. I suggest now beginning with the first 3 and invite more to discuss the fourth.

Besides these, I think this will also help reduce e2e runtime. Skip method `skipIfAntreaPolicyDisabled()` like this one is called after `setupTest(t)`, which is a waste of time. Currently, we get ConfigMap field value with API so this skip

[2021-06-11 03:10] antoninbas opened #2266 "TestAntreaClusterNetworkPolicyStats failing consistently in CI"
**Describe the bug**
I don't know what change could have caused this, but it seems that `TestAntreaClusterNetworkPolicyStats` is now failing consistently in Kind tests

Recent job run for main branch:
[code]

It has been failing consistently for 2 of my PRs as well.

[2021-06-11 03:12] antoninbas commented on #2266
I see `TestANPNetworkPolicyStatsWithDropAction` failing a lot as well, so maybe a general issue with policy stats:
[code]

[2021-06-11 03:26] antoninbas commented on #2266
Maybe this is something out of our control (Github VMs slower than usual). I see that the sleep delay for policies to be realized is 1.5s. Maybe it would help to increase it. @tnqn do you think it would make sense to use the NetworkPolicy status for Antrea-native policies instead of using a fixed delay? When the status indicates that the policy is realized, it's probably safe to start sending traf

[2021-06-11 03:44] tnqn commented on #2266
@antoninbas Using status makes sense to me. It sounds a perfect use case.

[2021-06-11 10:18] tnqn commented on #2244
After applying containerd/containerd#5569 to containerd 1.4.4, Pod IPs were no longer leaked and all Pods failed with the error `failed to start sandbox container task`
we saw exactly same error as https://github.com/opencontainers/runc/issues/2865.
[code]
So this was caused by https://github.com/opencontainers/runc/issues/2865 and has been fixed by https://github.com/opencontainers/runc/pull/2871

[2021-06-11 10:18] #2244 closed

[2021-06-11 11:25] wiperpaul opened #2267 "Logstash filter.rb divide by 0 error"
**Describe the bug**
Bug in [elk-flow-collector logstash config file](https://github.com/antrea-io/antrea/blob/e8ca54441b116c944accd3297eb7428234562b37/build/yamls/elk-flow-collector/logstash/filter.rb) `filter.rb`

When some of the throughput divisions divide time variables if they are identical (hours/min) we get a divide by 0 error.

The error does not seem to crash but it logged.

[code]

flow

[2021-06-11 15:13] wiperpaul commented on #2267
also tcp with quite some packets

[code]
<details>

[code]

</details>

[2021-06-11 17:19] antoninbas commented on #2266
I can probably take care of that since no one has picked it up. I don't know if CI is still failing today because of this issue.

[2021-06-11 17:59] srikartati commented on #2267
@wiperpaul Yes, this is expected as we are supporting only `flowStartSeconds` and `flowEndSeconds`. We could move to millisecond precision fields to fix this. We are considering throughput time series on a scale of seconds right now. For that use case, I think precision in seconds is good enough. Could you outline your use case?
Details on flow end reason: https://www.iana.org/assignments/ipfix/ip

[2021-06-11 18:33] zyiou commented on #2267
We haven't supported that yet. Will add decoding.

[2021-06-11 20:25] wiperpaul commented on #2267
Thanks, I think that level of precision is also fine.

In our use case, we log flows of a single cluster to ELK as well as DNS data using (dnstap + fluentd).  Just debugging an issue at the moment and came across this as a possible cause, it turned out not to be.

[2021-06-11 22:12] abhiraut opened #2272 "Support strong namespace isolations with ACNP"
**Describe what you are trying to solve**
Currently, users cannot write a single ACNP to perform strong namespace isolation guarantees. For example, as a user, I want all my Namespaces to not be able to talk to other Namespaces within the cluster i.e. specifically deny inter-namespace traffic.

**Describe the solution you have in mind**
Introduce a new `namespaces` matching strategy, say `NotSelf`

[2021-06-11 22:38] abhiraut commented on #2272
/cc @Dyanngg

[2021-06-11 22:58] antoninbas opened #2274 "Website and refactor and auto-generation"
**Describe what you are trying to solve**
Currently the source for the antrea.io website (based on Jekyll) is located in its own branch in this repo (https://github.com/antrea-io/antrea/tree/website-with-versioned-docs). A new version of the website based on Hugo is a work-in progress and the source is located in yet another branch (https://github.com/antrea-io/antrea/tree/website-hugo).

At the m

[2021-06-11 23:31] lzhecheng opened #2275 "[CI][e2e] Wait for Service to be realized in proxy tests"
**Describe the problem/challenge you have**
In e2e proxy tests, `time.Sleep(3 * time.Second)` is used to wait for nginx Service to be realized.
https://github.com/antrea-io/antrea/blob/release-1.1/test/e2e/proxy_test.go#L94

**Describe the solution you'd like**
It can be improved with some retry mechanism, e.g. the one used in service_test.go.

[2021-06-12 00:35] #2266 closed

[2021-06-12 03:21] tnqn commented on #2157
Resolved by https://github.com/antrea-io/antrea/pull/2161 and https://github.com/antrea-io/antrea/pull/2160, closing.

[2021-06-12 03:21] #2157 closed

[2021-06-13 17:42] #2267 closed

[2021-06-15 02:34] luolanzone commented on #2014
@lzhecheng I have moved some skip methods like skipIfAntreaPolicyDisabled() and skipIfProxyDisabled before setupTest(t)
@antoninbas I also moved Service proxy or the Flow Aggregator out of the default list.
The e2e result for the new implementation is here  https://github.com/antrea-io/antrea/actions/runs/937670984, the total e2e time are still around 15m less comparing with other jobs eg: https:/

[2021-06-15 04:12] hongliangl commented on #1463
## Replace KubeProxy NodePort with Linux TC

### Scenarios

For simplicity, here we assume that we have an interfaces **eth0** whose two IP addresses can be used for NodePort.  There are three scenarios:

- Accessing from remote with **eth0**'s IP addresses and NodePort protocol/port. If `externalTrafficPolicy` is `Local`,  source IP address will not be masqueraded.
- Accessing from localhost with

[2021-06-15 04:14] hongliangl commented on #1463
hello, @jianjuns @tnqn @antoninbas @wenyingd @lzhecheng, this is the design of NodePort with Linux TC. Please give your suggestions. Thanks.

[2021-06-15 05:49] srikartati commented on #2267
Hope you were able to debug this further. Would like to know if you are using UDP or TCP protocol for the external collector. In the case of UDP, there is a template refresh after some time (default is every 30 mins). Maybe it's giving some trouble.

[2021-06-15 08:31] #2258 closed

[2021-06-15 18:15] jianjuns commented on #2014
I feel might be ok to skip some tests for other traffic mode, as long as they are covered by daily (?) and release tests. But might be better keep proxy_test for noEncap.

[2021-06-16 01:30] gran-vmv commented on #2014
Traceflow e2e should cover all the different environments, but I think you can try to run it in parallel, this is disabled in current version and not tested.

[2021-06-16 01:36] luolanzone commented on #2014
I suppose the new default list can be as below items?
[code]

[2021-06-16 13:10] #2179 closed

[2021-06-16 20:16] antoninbas opened #2282 "FlowAggregator tests fail on dual-stack clusters"
**Describe the bug**
I observe very frequent failures of FlowAggregator e2e tests in CI for dual-stack K8s clusters. Actually, the dual-stack CI job has been failing consistently for a while, partly because of FlowAggregator test failures.

As an example, see the test logs below:
[code]

It seems that the root cause is missing / empty Information Elements in the records sent by the aggregator to t

[2021-06-16 20:34] antoninbas opened #2283 "FlowAggregator bandwidth tests are too flaky"
**Describe the bug**
I have been seeing test failures like this one frequently:
[code]

It seems to happen more frequently for IPv6 e2e test jobs than for IPv4 e2e test jobs, but I don't know if there is a real correlation there.

[2021-06-16 21:54] #2025 closed

[2021-06-17 05:53] zyiou commented on #2283
Found the reason for bandwidth failing in e2e tests:
I checked the IPv6 flow records received by collector, and found that starting from `originalExporterIPv6Address`, the record is not correctly encoded, which will cause the stats after this fields have unreasonable values.
[code]
This is because the original exporter ip is in IPv4 format and does not have IPv6 address. But for templates sent fro

[2021-06-17 06:24] zyiou commented on #2282
Missing fields issue for deny connections is caused by missing configuration of podIndex for podInformer https://github.com/antrea-io/antrea/blob/main/pkg/flowaggregator/flowaggregator.go#L220-L229
[code]
For dual stack, each pod should have two ips (IPv4 and IPv6). Current implementation covers only one address, which causes missing filling of certain k8s metadata.

[2021-06-17 08:31] Jexf opened #2285 "Support custom tunnel id on ovs overlay tunnels"
**Describe the problem/challenge you have**
Sometime we want to set overlay tunnel id, eg: vxlan tunnel vni.
Take flannel as an example：
[code]

[code]

**Describe the solution you'd like**
The antrea  just use ovs to implement cni network function,  we can set the tunnel id to NXM_NX_TUN_ID in openflow pipeline.

eg:
[code]
or just set tunnel key in port interface options:

[code]

[2021-06-17 09:37] tnqn commented on #2285
@Jexf thanks for opening this. May I know your use case of requiring a specific tunnel ID for the in-cluster encapsulated traffic? Antrea doesn't use the tunnel ID to isolate traffic so your solution definitely works. But there were some discussions about leveraging the tunnel ID to represent some metadata for some features too. Your use case may be helpful here.

[2021-06-17 17:30] srikartati commented on #2283
@zyiou This is a good find. Makes sense to cover all the cases through different templates. This issue is pertinent to the dual-stack case and doesn't explain the flakiness in other test setups which are raised by this PR. Therefore, it is better to move in Issue #2282

I think we have to check the combination before sending each aggregated flow record. If that is the case, it's better to have thi

[2021-06-18 00:25] zyiou commented on #2282
Found the reason for bandwidth failing in e2e tests:
I checked the IPv6 flow records received by collector, and found that starting from `originalExporterIPv6Address`, the record is not correctly encoded, which will cause the stats after this fields have unreasonable values.
[code]
This is because the original exporter ip is in IPv4 format and does not have IPv6 address. But for templates sent fro

[2021-06-21 02:39] Jexf commented on #2285
@tnqn thanks for getting back to me, sometime we want have pod-to-pod communication between Antrea cluster with Flannel cluster, but the Flannel cluster already set vni for a special value.

Maybe we can add special openflow entry, eg:

[code]
Replace the global virtual mac 'aa:bb:cc:dd:ee:ff' to the remote gatway mac and set vni to NXM_NX_TUN_ID[]

By the way, we also want just config tunnel id i

[2021-06-21 09:42] lzhecheng opened #2289 "[OVS][Windows][Bug] Encap mode, d-SNAT on table 30 is not working"
**Describe the bug**
With Windows encap mode, if a Windows client sends traffic to a NodePort Service, the traffic sometimes fails. The problem is on reply traffic on sender Node. On table 30, reply packet should be d-SNATed, which changes DST IP to client Pod IP. However, we observed that the related flow is hit but DST IP is not changed.

We believe there's something wrong with Windows OVS imple

[2021-06-21 09:49] lzhecheng commented on #2289
As a result of this issue, kubernetes conformance test: `[sig-windows] Services [It] should be able to create a functioning NodePort service for Windows` is not flaky. This testcase tests if in a period of time, every traffic to NodePort Service is successful.
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/test/e2e/windows/service.go#L42

@antoninbas As for

[2021-06-21 10:24] lzhecheng opened #2290 "[CI][Windows] Upgrade e2e.test binary to K8s v1.21"
**Describe the problem/challenge you have**
Currently, we are still using e2e.test binary built with K8s v1.18 code. We need to upgrade it to v1.21.
https://github.com/wenyingd/kubernetes

This binary is used by Windows conformance and network policy test.

**Describe the solution you'd like**
Cherry-pick hack commits on the latest kubernetes repo code.

[2021-06-21 23:22] antoninbas commented on #2289
sounds good to me

[2021-06-22 05:59] antoninbas opened #2292 "[CI] E2e tests keep failing on dual-stack cluster"
**Describe the bug**
The test-ipv6-e2e Jenkins job, which runs Antrea e2e tests on a dual-stack cluster, keeps failing and it is not possible to get it to pass for any pending PR.
The failures look like this:
[code]

Based on this, it looks like the test binary is losing connection to the K8s apiserver.

After investigations, it seems that:
* the tests are run on the control-plane Node and as we r

[2021-06-22 07:32] tnqn commented on #2285
Thanks for sharing your use case. If my understanding is correct, it seems you will need to add OpenFlow rules/create a tunnel anyway as Antrea doesn't know this Flannel node so cannot do it automatically (It doesn't know the remote pod subnet, remote node IP, and remote interface MAC). Then even if the VNI is configurable, it doesn't seem to help your use case. Do I misunderstand anything?

[2021-06-22 07:52] luolanzone commented on #2251
There was a few topics during the design sharing session in community meeting, added here for further discussion, please correct me if I missed anything or misunderstood it. @antoninbas @jianjuns @salv-orlando @tnqn

1. Try IGMP Proxy instead of mrouted
2. Higher priority for Encap, hybrid can be lower one.
3. Support multicast from/to external cluster
4. Jianjun and Antonin is investigating BSD m

[2021-06-22 08:51] Jexf commented on #2285
@tnqn yes, we need expose the Flannel cluster info, which you said（remote node ip, remote gateway mac and remote pod subnet cidr）to Antrea cluster, then override 'aa:bb:cc:dd:ee:ff' flows by high priority

[2021-06-22 09:30] tnqn commented on #2292
It looks like moby/spdystream@1d9fc66 is doing the right thing. The issue seems introduced after https://github.com/moby/spdystream/commit/622dc858fad08b5c858effad0153c17b03ab8bc7 is made, which changes the semantic of `Close` method from "Close and Wait" to "Close" only and adds a new method `CloseWait` for its original sementic and a new method `Wait` for specifying a specified timeout. If `Wait

[2021-06-22 14:54] lzhecheng commented on #2289
The temporary e2e test has been added in PR: https://github.com/antrea-io/antrea/pull/2286

[2021-06-22 16:19] jianjuns commented on #2251
I meant technically it should be possible to call a socket API (setsockopt() with IP_ADD_MEMBERSHIP) to join a multicast group from a host NIC, then Linux TCP/IP stack can handle IGMP for you; then you can achieve similar effects as IGMP Proxy without depending on another solution. I feel it makes sense if: 1) we found some disadvantage of IGMP Proxy (in complexity, functionalities, overhead, stab

[2021-06-22 17:29] antoninbas commented on #2292
@tnqn I was looking at a quick fix to unblock testing, which is why I reverted the commit (additionally client-go was used for several years _without_ that commit, so I am not sure how important it actually is...)

I want to spend more time looking at why we have an error when closing the connection, which ultimately is the reason why we "leak" a goroutine for 10 minutes. We get this problem becau

[2021-06-22 18:45] srikartati commented on #2251
@luolanzone @jianjuns
Asking out of general interest in the multicast topic.
In encap mode, can the nodes join the multicast group in addition to the pods/ports of the overlay network connected to OVS? I understand that we have to rely on multicast functionality in the underlay switches/router and depend on the capability of the nodes to send IGMP reports. By doing this, we could use the multicast

[2021-06-22 18:48] srikartati commented on #2283
@dreamtalen Could you comment on this bandwidth issue based on your experience while working on a similar bug earlier: #2211? Are these related?

[2021-06-22 19:01] dreamtalen commented on #2283
Sure, the error in this screenshoot shows that test failed at the average bandwidth check using `octetTotalCountFromSourceNode`, and the value 17457.23 Mbits/s is 25% less than we expected, which means that in the last record, the `flowEndSeconds` is updated while the `octetTotalCountFromSourceNode` has not been updated (missed the last flow record from sourceNode at timestamp 12s since traffic be

[2021-06-22 19:19] srikartati commented on #2283
I thought the intention of workaround placed in the e2e flow aggregator test is to make the test stable. Why did it become flaky?

[2021-06-22 20:45] dreamtalen commented on #2283
I don't think current workaround will make the test flaky, just triggered the e2e test with a local ipv6 vagrant cluster multiple times and no failure happened. Maybe we should look through the records received by collector in this failed case to find the root cause.

[2021-06-22 22:53] antoninbas commented on #897
The patch has been merged into the master branch of OVS: https://github.com/openvswitch/ovs/commit/cca40141a8250562156ae8628f5c73de3621303e.

We should consider applying it to our OVS build.

[2021-06-23 01:18] luolanzone commented on #2251
Hi @srikartati , I don't think it will work to let nodes join the multicast group for the purpose you want to achieve, per my understanding, each node is actually the local multicast router for pods. between nodes (routes to routes), we have to involve PIM/DVMRP etc to do the job. you may check this article about OVS multicast. https://software.intel.com/content/www/us/en/develop/articles/ip-multi

[2021-06-23 02:37] hongliangl commented on #1463
Hello, @jianjuns @tnqn PR #2239 has implemented 4 cases of NodePort as fowllowing form. Do you think all NodePort cases are neccessary?

| No.  |  From Network   |  NotePort ExternalTrafficPolicy   |  Endpoint Network   |  SNAT   | AntreaProxy Support   |  KubeProxy Support   | Note   |
| --- | --- | --- | --- | --- | --- | --- | --- |
| 1    | Remote        | Cluster                         | Ser

[2021-06-23 04:00] #2282 closed

[2021-06-23 04:30] jianjuns commented on #1463
@hongliangl: what does Endpoint Network = Service CIDR mean? You mean service access through the ClusterIP, but not the NodePort (but I thought you are asking about NodePort)?

[2021-06-23 05:23] hongliangl commented on #1463
Sorry, I misunderstood something. It should be `Pod CIDR`, not `Service CIDR`.

[2021-06-23 05:27] jianjuns commented on #1463
So that means the Service endpoints are Pods; while "Host" means the Endpoints are Node IPs?

[2021-06-23 05:32] hongliangl commented on #1463
Yes, `Host` means that pod's network is the k8s node network.

[2021-06-23 09:56] luolanzone commented on #2251
I tried a static multicast route tool [smcroute](https://github.com/troglobit/smcroute), looks like we can configure static multicast route to allow traffic between nodes in noEncap mode, which means we may use the way @jianjuns suggested to do our own codes similar as smcroute to manipulate mroute table to do multicast works across nodes.

[2021-06-23 16:50] mixitgit opened #2298 "Antrea crashes after bridge manually added to OVS"
**Describe the bug**

Antrea crashes when bridge is created via ovs-vsctl on host node

**To Reproduce**
On node that is running antrea-agent create bridge `ovs-vsctl add-br br-test`

**Expected**
The bridge is created and both antrea and ovs bridge are working and not conflicting

**Actual behavior**
Antrea-agent container crashes with this log:
`E0623 16:14:20.195427       1 runtime.go:78] Obser

[2021-06-23 17:43] antoninbas commented on #2298
I am able to reproduce this. After some research it seems that running multiple instances of the OVS daemons _in the same network namespace_ is not supported. This thread is pretty old but I imagine it is still current: https://mail.openvswitch.org/pipermail/ovs-discuss/2013-February/009157.html

The Antrea Agent runs in the host network namespace, so it's not possible based on that information to

[2021-06-23 18:35] dreamtalen commented on #2283
@antoninbas Hi Antonin, is this failure shown in the screenshot inside a ipv6 only jenkins test job? Could you share how frequently it happens and how to reproduce it if possible, thanks!

[2021-06-23 19:55] MixITGit commented on #2298
The logs I attached above were actually from running antrea with volume changed to /var/run/openvswitch
I tried to delete antrea-ovs pod and antrea still crashes:
[code]
I think I might try to run the antrea binary on the host instead of ovs-daemon, will see if it helps

[2021-06-23 20:02] antoninbas commented on #2283
@dreamtalen all the information I have is in the issue. I don't recall which testbed it was, but I do know I observed the same issue on IPv4 testbeds as well. There was a memory leak in the test binary until recently causing a lot of test failures as one of the Nodes (control-plane Node) would run out of memory. It's possible that it could explain such failures, although I'm not sure how. You can

[2021-06-23 20:12] antoninbas commented on #2298
This seems like an unrelated error... It just means that the Agent cannot find the interface to which the Node IP is assigned.

I think it would help to know your Node network configuration, your exact steps and the YAML manifest you are using... I am pretty sure that the methods I shared above work. I know the first method works, I haven't tried the second one but I'm also fairly confident it wil

[2021-06-23 21:34] MixITGit commented on #2298
Ok, they error above might have occured since I was trying to run antrea on a cluster that was running canal previously.
I tried to create a new cluster with antrea 1.1.0 and this antrea-agent resource:
`apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app: antrea
    component: antrea-agent
  name: antrea-agent
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app: antr

[2021-06-23 21:43] antoninbas commented on #2298
you removed `hostNetwork: true` apparently, it's not going to work and also explains the previous error (`failed to get local IPNet device`)

[2021-06-23 21:59] MixITGit commented on #2298
Oh, I haven't noticed it, thanks!
It seems to be working now, but I will make a bit more in depth tests later

[2021-06-23 23:38] antoninbas commented on #2283
@dreamtalen I just saw this failure on an IPv4 testbed: https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/2745/console

[code]

This PR doesn't have the memory leak patch, but I am not sure the memory leak affected IPv4 testbeds.

[2021-06-23 23:44] dreamtalen commented on #2283
Thanks Antonin, I'm looking at it.

[2021-06-24 04:07] antoninbas opened #2300 "Harden permissions for Antrea log files (files under /var/log/antrea)"
**Describe the bug**
CIS bionic rule 4.2.3 states:

The Antrea log files (Agent logs, Controller logs, ~~OVS logs~~, NetworkPolicy logs) do not abide by this rule.

While discussing https://github.com/antrea-io/antrea/pull/1770, we originally decided not to restrict permissions for log files, but:
* we were unaware of the CIS rule
* we made an invalid assumption that Pod logs (under `/var/log/pods

[2021-06-24 09:25] wenyingd opened #2301 "HNS Endpoint is still left on the host after Windows Pod is deleted"
**Describe the bug**
After Windows Pod is deleted(no matter it is deleted by the user, or removed because error occurred when creating the Pod), HNS Endpoint is left on the host.
From antrea agent log, we could see such log like this:
[code]

**To Reproduce**
1. Run Pod on Windows Node
2. Check HNSEndpoint using powershell command "Get-HNSEndpoint"
2. Delete the new Pod
4. Check HNSEndpoint using

[2021-06-24 11:11] tnqn opened #2303 "error calling MarshalJSON when accessing NetworkPolicy.networking.antrea.tanzu.vmware.com"
**Describe the bug**
This was found by Stephan Rosendahl when connecting Antrea to ArgoCD instance. The below error message pops up in the ArgoCD UI and CLI when listing the clusters:
[code]

Listing the `networkpolicy.v1beta1.networking.antrea.tanzu.vmware.com` API got the same error.
[code]
The issue was triggered by a NetworkPolicy created by ArgoCD which has more than one port in a rule.
[code

[2021-06-24 11:43] tnqn opened #2304 "v1beta1.controlplane.antrea.tanzu.vmware.com used v1beta2 types and field selectors were missing"
**Describe the bug**

When debugging #2303, I found that listing the `networkpolicy.v1beta1.controlplane.antrea.tanzu.vmware.com` API didn't get error when listing `networkpolicy.v1beta1.networking.antrea.tanzu.vmware.com` got "MarshalJSON error", while they were supposed to use same types and get same results.

It turned out that`v1beta1.controlplane.antrea.tanzu.vmware.com` was actually using `v

[2021-06-24 14:32] tnqn commented on #2285
@Jexf then at least for now, I assume only adding a configurable VNI is not really helpful for your case?

@jianjuns @antoninbas do you see value to add the configuration?

[2021-06-24 19:32] jianjuns commented on #2285
Yes, Flannel is in another Cluster, just setting tunnel ID does not help to enable the cross-cluster communication. Probably we need to understand the whole solution.

[2021-06-24 22:50] #2069 closed

[2021-06-24 23:31] dreamtalen commented on #2283
Updated: reproduce this bandwidth check failure successfully. Find the root cause is that ipfix-collector only received two data records and missed the last one, so that the average bandwidth calculated using `octetTotalCountFromSourceNode` is wrong.
The reason why collector didn't receive the last data record is because there are control flow and data flow record of iperf traffic, and in the corn

[2021-06-24 23:32] antoninbas commented on #2292
I opened a Github issue in client-go with all the details: https://github.com/kubernetes/client-go/issues/993.

[2021-06-25 01:56] #2303 closed

[2021-06-25 02:01] #2304 closed

[2021-06-25 03:48] #1912 closed

[2021-06-25 07:42] mengdie-song opened #2315 "Upgrade antrea-octant-plugin and make it compatible with latest octant"
**Describe what you are trying to solve**
Octant has some breaking API changes since v0.19.0 https://github.com/vmware-tanzu/octant/releases/tag/v0.19.0.
We need to upgrade antrea-octant-plugin by using latest octant plugin APIs, so that antrea-octant-plugin can be loaded as expect for latest octant.

**Describe the solution you have in mind**
Upgrade antrea-octant-plugin by using latest octant pl

[2021-06-25 18:52] srikartati commented on #2283
Great. Source port could definitely help in resolving the issue. Prior we talked about using `cport` which was not implemented when improving the bandwidth tests. We could also get the source port from iperf command output. I incorporated the source port based detection in PR #2308. It should resolve the issue. Let me know if you think otherwise.

[2021-06-28 15:10] tnqn opened #2319 "Cannot access ClusterIP service if the endpoint is on another Node when AntreaProxy is disabled"
Thanks @hxietkg for finding the issue.

**Describe the bug**

When AntreaProxy is disabled, a Pod cannot access the ClusterIP of the Service if the selected endpoints is on another Node.

For example, the DNS query against kube-dns service failed because the reply was from unexpected source:
[code]

Access a http service got no reply:
[code]

The root cause of this issue is that, if the reply traf

[2021-06-29 06:41] #2319 closed

[2021-06-29 11:37] #2301 closed

[2021-06-29 17:09] tnqn opened #2330 "Cannot access ClusterIP service if the endpoint is on local Node when both AntreaProxy and Egress are enabled"
**Describe the bug**
When debugging test failure in https://github.com/antrea-io/antrea/pull/2306, I found the case "TestClusterIP" failed consistently on Windows+Linux mixed e2e test but never failed on Linux e2e test, even though the failure was between two Linux Pods in former case.

[code]

The failure was not related to https://github.com/antrea-io/antrea/pull/2306, it was first caught in tha

[2021-06-29 17:11] tnqn commented on #2330
@jianjuns is the above flow necessary to support Egress? why does it need to bypass normal L3 flows for local Pods?

[2021-06-29 17:35] tnqn commented on #2330
I'm not sure if this is an issue on Windows: since the flow is installed unconditionally on Windows, would it prevent local Pods accessing each other via ClusterIP?

[2021-06-29 17:41] jianjuns commented on #2330
The flow is added to bypass:

Do you have any good idea? I can only think about an extra table for MAC rewrite.

[2021-06-29 17:44] jianjuns commented on #2330
How about changing the priorities of MAC rewrite flows and/or the SNAT skipping flow?

[2021-06-30 00:01] jianjuns commented on #1463
@hongliangl : two questions.

1. In your examples of TC rules for response packets, there is not a case for externalTrafficPolicy = Local? In the rules, source IPs are matched, but I think in the "Local" case we do not have fixed source IPs?

2. For request packets, does kube-proxy match destination IPs must be one of Node IPs? Could we match any destination IP?

[2021-06-30 03:11] hongliangl commented on #1463
On general interfaces(like eth0),  TC rules match NodePort destination IPs(case for externalTrafficPolicy = Local preserves request source IPs). On Antrea gateway(antrea-gw0), TC rules match NodePort source IPs(destination IPs can be non-fixed or fixed).

KubeProxy can match any IPs if option `NodePortAddresses` is not set. We can also match any destination IPs if option `NodePortAddresses`(this o

[2021-06-30 04:44] jianjuns commented on #1463
The example rule you gave is like:
[code]
So, it matches source IP to be the Node IP. But in my understanding, if externalTrafficPolicy = Local, the source IP of the response  packets should not be Node IP, but the server Pod IP?

Does your PR already do that?

[2021-06-30 05:28] hongliangl commented on #1463
I don't think the source IP can be service Pod IP of response NodePort traffic. If so, the source/destination IP addresses of the request and response traffic are asymmetric.

Yes.

[2021-06-30 05:35] jianjuns commented on #1463
Could you just explain the end-to-end forwarding path of a  "externalTrafficPolicy = Local" request and its response? Like when it is SNAT'd / DNAT'd and to what IP?

I feel the original iptables design descriptions by Weiqiang are much easier to follow. I do not need the diagrams, but at least describe the end-to-end path with texts.

[2021-06-30 05:50] hongliangl commented on #1463
An example for externalTrafficPolicy = Local. Assumed that NodePort IP is 192.168.77.100, port is 30001. Endpoint is 10.10.0.4:80.

Request traffic:
- Remote client: nw_src: 192.168.77.1 nw_dst: 192.168.77.100 tp_src: 12345 tp_dst: 30001
- AntreaProxy gateway: nw_src: 192.168.77.1 nw_dst: 192.168.77.100 tp_src: 12345 tp_dst: 30001
- AntreaProxy table 42(DNAT):  nw_src: 192.168.77.1 nw_dst: 10.10.0

[2021-06-30 05:55] jianjuns commented on #1463
Thanks! It much clear to me now!

So for this flow:
[code]
If NodePortAddresses is not specified, how it will be like? We can no more match src_ip to be a Node IP?

[2021-06-30 06:03] hongliangl commented on #1463
If `NodePortAddresses` is not specified, AntreaProxy will get all localhost interfaces'(not including Antrea gateway, this interface can be never accessed by external client) IPv4 and IPv6(not including link-local) addresses as NodePort IP.

For example, a k8s node has interface eth0 (IP: 192.168.1.1, 192.168.2.1; ifindex: 2), eth1(IP: 172.16.1.1; ifindex: 3), below TC rules will created on Antrea

[2021-06-30 11:54] wenyingd commented on #2330
This flow exists only on Windows, because we want to perform SNAT on the packets that are sent to the external. Since we can't predict destination of external traffic, we have to give a higher priority on the local traffic than the default packets. However, this flow and the rewrite MAC flow have the same priority currently, it is possible to prevent MAC rewrite actions on the packet that both sou

[2021-06-30 12:59] tnqn commented on #2330
Thanks for your input @jianjuns @wenyingd.

@jianjuns I think normal LB/router will do TTL when forwarding the traffic, should we keep it same? I think TTL will be reduced in kube-proxy case too.

@wenyingd the flow exists on Linux too when enabling Egress feature, which requires some flows to SNAT Pod-to-External traffic.

For the solution that makes MAC rewrite flow have higher priority than SNA

[2021-06-30 13:40] PeterEltgroth commented on #2214
A few of us plan to take a look at this and hopefully submit a PR soon. This issue and the Flux one @jonathan-innis linked have just caused us some pain and delays.

[2021-06-30 21:07] jianjuns commented on #2330
But why you remove this flow?
[code]

[2021-07-01 05:41] srikartati opened #2336 "Original exporter IP in aggregated flow records is not Node IP"
**Describe the bug**
Original exporter IP is not Node IP, but it is always the gateway of the Pod network on the Node in the Encap mode. This is expected as the Flow Exporter sends the flow records from the Antrea agent, which is on the host network to the Flow Aggregator which is on the Pod network.
It is not useful to have gateway IP in the aggregated flow records.

**To Reproduce**
Any aggregat

[2021-07-01 17:47] zyiou commented on #2336
Also prefer option 1 to remove both `originalExporterIPv4Address/originalExporterIPv6Address` and `OriginalObservationDomainID` since the information these fields reveal is either generated or can be shown from node name.

[2021-07-02 01:08] antoninbas commented on #2336
Proposed solution sounds good to me

[2021-07-02 16:41] tnqn commented on #2330
I did test on windows and confirmed the issue indeed applied to windows even when Egress feature is not enabled (and the feature cannot be enabled on windows currently).

But the access didn't always fail. It depended on which flow is enforced first. Even when they have same priority, one of them will be enforced first, skipping another. For example, in below case there will be no problem. That ma

[2021-07-03 12:21] jayunit100 opened #2344 "Decouple kubelet node-ip from the Antrea default Gateway uplink"
**Describe the bug**

TLDR Windows node logic for selecting default gateways seems to be a little too highly specified with the "assume the default gateway is on the same network as the kubelet node IP".  Can we put some kinda knob in here?...

Concretely : I want our windows development environments to work on a private network, where im not gauranteed a default route attached to the `node-ip` (v

[2021-07-03 20:21] jayunit100 commented on #2344
after thinking more about this, i suspect maybe its related to the default ethernet device being wrong ?

this is the vbox interface....
[code]

but not sure...

[code]

[2021-07-03 20:26] jayunit100 commented on #2344
ah, so ok, now, that interface *26* is actually not possesing a 0.0.0.0/0 destinationPrefix.

is that a problem with my underlying network?  Or is this something that could be parameterized for the agent startup.... im out of my depth here :)
[code]

[2021-07-04 00:17] #919 closed

[2021-07-04 09:56] jayunit100 commented on #2344
# using 0.0.0.0/0 as the interface...  is that required ? or should that be configurable

Ive updated my virtualmachines to make sure they use the right `node-ip` but i still get this error, because i think the ifindex `6` isnt targetted to 0.0.0.0....

@antoninbas i see that you wrote the docs with the spec that the way the interface is picked is by looking up the 0.0.0.0/0 interface https://gith

[2021-07-04 10:47] jayunit100 commented on #2344
(note ive modified this question since my original post, as ive played more with it to figure some things out)

[2021-07-04 10:47] jayunit100 commented on #2344
@lzhecheng any thoughts on this windows IP / gateway configuration issue ?

[2021-07-04 11:52] jayunit100 commented on #2344
btw, from a working cluster,
[code]

just as a reference

[2021-07-04 15:06] rikatz commented on #2344
So my suggestion here is: we should support an way to override Antrea automatically trying to find the default gateway :)

What if we verify if some sort of configuration exists (env var, as suggested by @jayunit100 ) or whatever that defines "hey, this is your public interface, which is different from your kubernetes node ip address because you have two net interfaces: one for management/controlp

[2021-07-04 16:11] jayunit100 commented on #2344
yeah, i agree, being able to  override the default gateway is the thing that matters.

[2021-07-05 01:48] wenyingd commented on #2344
@jayunit100 @rikatz Thanks for catching the issue and giving suggestions.

For Antrea Windows, we always assume there is only one interface on the Node, which is configured with NodeIP (used by kubelet) to comunnicate in the cluster and to access external addresses. Then we could add the interface on OVS bridge to work as the uplink, and we expected Pod-to-external traffic could leave the host fro

[2021-07-05 07:08] #2330 closed

[2021-07-05 09:09] jayunit100 commented on #2344
Thanks @wenyingd ! So... can you clarify what you mean by "losing configurations while migrating the interface"

[2021-07-05 09:15] wenyingd commented on #2344
To support Windows containers, OVS is working as an extension of HNS Network. Antrea uses "Transparent" HNS Network, and add the physical interface to OVS bridge as the uplink. During this operations, we have removed the L3 configurations from the physical interface, and added them to OVS bridge (br-int). So there should be a short time the existing L3 configurations are "lost" on the host , and t

[2021-07-05 14:19] jayunit100 commented on #2344
ah ok ! so you are saying, its totally possible to add this functionality as long as we allow for L3 configuration to be down for a few moments ?

if so, can we make a branch of antrea that exhibits this behaviour ? https://github.com/kubernetes-sigs/sig-windows-dev-tools/issues/46 depends on this, and it will allow us to continue using antrea as the default CNI on windows development tooling for

[2021-07-05 17:37] tnqn commented on #2344
I think @jayunit100 @rikatz 's requirement makes sense.
@wenyingd @lzhecheng  if we don't assume the default route must exist on the interface that has nodeIP configured, can everything just work?
For example, in above case:
[code]
1. Can we attach the public network device to OVS bridge and use it as uplink and do SNAT using its IP?
2. Is there any difference between moving IPs/Routes from mgmt n

[2021-07-06 00:59] wenyingd commented on #2344
I don't think we can support to use the management interface as the 'only' uplink, because we need to use the Node IP (used by kubelet) to perform tunnel in Encap mode. But what if two uplink interfaces? I am not sure about it, let me have a try.

For OVS operations, they should be the same. The key point is how to forward the "public traffic" from OVS management device to the public network devic

[2021-07-06 11:34] jayunit100 commented on #2344
Great thank you. I will test the patch if available !

[2021-07-06 19:16] srikartati commented on #1966
Looked into `pkg/apiserver/` code more closely. The certificate controller is only for the certificates generated and utilized by the api server for communication with clients like `antctl` as mentioned in the above comment.

Therefore, we need to handle the addition of the api server in the Flow Aggregator and certificate management for communication channel between Flow Aggregator and Flow Expor

[2021-07-06 20:30] antoninbas opened #2352 "Replace github.com/contiv/libOpenflow dependency with antrea.io/libOpenflow"
We now maintain our own fork of `github.com/contiv/libOpenflow`: https://github.com/antrea-io/libOpenflow (import path is `antrea.io/libOpenflow`). This decision was made because the entire Contiv project is no longer maintained (according to their Slack). We have pretty much been the sole contributors to `github.com/contiv/libOpenflow` in the last couple of years and getting our contributions mer

[2021-07-06 21:17] kloading commented on #2217
Can I take this? Looking to get involved in Antrea

[2021-07-06 21:18] antoninbas commented on #2217
@kloading yes that would be great! assigning the issue to you. thanks!

[2021-07-07 04:08] wenyingd commented on #2344
Having offline discussion with @tnqn , it is valuable to support multical interfaces on Windows and let user decide which interface is used as OVS uplink. In this case, no default gateway configuration on the uplink interface is allowed. One precondition is the chosen interface should be used for Pod traffic to access other Pods in the cluster and to access external addresses, and Antrea would use

[2021-07-07 09:25] mengdie-song commented on #1519
Octant has added create and delete APIs in dashboard interface. I will try the latest octant plugin APIs.

[2021-07-07 13:47] jayunit100 commented on #2344
ok, to clarify:
- `One precondition`: When you say `should`, do you mean `must` ?
- `Encap mode`: Don't we already encap all traffic w/ antrea by default ?
-   What if the interface for the node is on a private network which doesn't have a default gateway ?  how does OVS find the right interface for pod vs external traffic ?  that is the case in `private_ip` with vagrant, which is what we see in t

[2021-07-07 17:21] srikartati opened #2359 "Failures in TestANPNetworkPolicyStatsWithDropAction on dual-stack clusters"
**Describe the bug**
Failure in `TestANPNetworkPolicyStatsWithDropAction` on dual-stack cluster bed continuously on two runs.
http://10.176.27.169:8080/job/antrea-ipv6-ds-e2e-for-pull-request/444/consoleFull
http://10.176.27.169:8080/job/antrea-ipv6-ds-e2e-for-pull-request/443/consoleFull

Seems intermittent; last success was on July 1st
http://10.176.27.169:8080/job/antrea-ipv6-ds-e2e-for-pull-re

[2021-07-07 22:57] #1417 closed

[2021-07-07 22:57] #2283 closed

[2021-07-08 01:06] wenyingd commented on #2344
Correct, I mean 'must'.

In Encap mode, for the Pod-to-Pod traffic (no matter the target Pod is the direct destination or behind a Service), we encap the packet if the destination Pod is on a different Node. But we don't encap the Pod-to-external traffic.

If there is no default gateway on the chosen interface, and the packet destination is not known (that should be external traffic), we plan to l

[2021-07-08 03:38] #2199 closed

[2021-07-08 03:42] antoninbas commented on #2300
Update on this: while we could just change the permissions for the `/var/log/antrea` folder (to prevent listing files and accessing files), I would prefer it if we could set the "correct" permissions on a per-file basis. Unfortunately, klog hardcodes the permissions for new files to `0666` and it cannot be changed through configuration: https://github.com/kubernetes/klog/blob/79f9f6b8291d38aaf33a0

[2021-07-08 12:23] jayunit100 commented on #2344
! ok thanks !
one more question, just curious... by "addtional configuration on Windows host" , does that mean
- adding OVS rules or
- adding special Powershell / netsh commands ?

[2021-07-08 14:01] jayunit100 opened #2364 "Antrea agent for windows concurrency issue"
**Describe the bug**
In cases of slow hardware/multiple nodes, it seems like we see an issue where the powershell bindings to antrea which call the underlying `netsh` windows stuff get hung up....

[code]

**To Reproduce**

Run an antrea cluster with multiple windows nodes in a CPU or diskio constrained environment

**Expected**

Powershell commands would not be able to hang up antrea agent

**Ver

[2021-07-08 14:03] jayunit100 commented on #2364
@tnqn  @wenyingd @antoninbas we saw this downstream, but its really an upstream issue i think.  LMK if im missing anything there

[2021-07-08 14:03] jayunit100 commented on #2364
.... btw i think antonin was going to suggest using a regular `exec` call to avoid complexity here ......

[2021-07-08 14:06] wenyingd commented on #2364
@jayunit100 Thanks for raising the issue. You are correct, it is also an upstream issue. @lzhecheng is working on the fix to use exec instead of go-powershell.

[2021-07-08 17:30] zyiou opened #2365 "TestPodConnectivity failed in dual stack e2e test"
**Describe the bug**
Two TestPodConnectivity tests `TestPodConnectivityDifferentNodes` and `TestPodConnectivityDifferentNodes` failed when running Jenkins dual stack e2e tests.

**To Reproduce**
I was using #2361 when detecting this failure. This PR should not have affect for this failure as far as I know. Just trigger dual stack e2e tests.

**Expected**
Tests get passed.

**Actual behavior**
A cl

[2021-07-08 18:43] antoninbas opened #2366 "Data race in TestNetworkPolicyMetrics unit test"
**Describe the bug**
[code]

**To Reproduce**
This is from a Github workflow run. I haven't tried reproducing it locally.

**Versions:**
`main` branch of Antrea

[2021-07-09 00:59] wenyingd commented on #2344
I mean add special Powershell commands

[2021-07-09 02:47] zyiou opened #2369 "FlowAggregator e2e test IntraNodeFlow is flaky"
**Describe the bug**
In Kind e2e tests run, IntraNodeFlow test will fail with following log:
[code]
It happens only on "E2e tests on a Kind cluster on Linux with Antrea-native policies disabled", not sure whether it is related.
Failure runs:
https://github.com/antrea-io/antrea/runs/3021700709?check_suite_focus=true
https://github.com/antrea-io/antrea/runs/3024202914?check_suite_focus=true

**To Re

[2021-07-09 03:18] antoninbas commented on #2365
I see that the tests for https://github.com/antrea-io/antrea/pull/2361 consistently fail because of this. @lzhecheng do we know what could cause this?

[2021-07-09 03:44] mengdie-song commented on #1519
Found an issue https://github.com/vmware-tanzu/octant/issues/2623 when I tried to use latest octant plugin APIs,  octant team will take a look. I will work on this after the octant issue is fixed.

[2021-07-09 03:45] antoninbas commented on #2369
I think that's related to a recent change by @srikartati ?

[2021-07-09 03:54] lzhecheng commented on #2365
@antoninbas I'm looking into it.

[2021-07-09 09:13] lzhecheng commented on #2365
One VM of the first testbed in queue, has difficulty pulling the agnhost image. I maunally triggered the test and the image was pulled finally. The latest 2 ds-e2e builds are successful, one is on that first testbed in queue and one is on another.

Closing this issue. Please reopen it and ping me if the problem still exists.

[2021-07-09 09:13] #2365 closed

[2021-07-09 18:13] srikartati commented on #2369
I see the same error here when patch #2308 is merged: https://github.com/antrea-io/antrea/runs/3013964846
Unfortunately, the flakiness seems to be still there even after resolving an issue of not considering complete logs, which was causing the intermittent failure.
I have seen this locally but did not have sufficient logs to debug further and did not hit that again. I also did not hit this error

[2021-07-09 21:25] #2336 closed

[2021-07-10 00:58] #2364 closed

[2021-07-10 16:30] ssuriyan7 commented on #2275
Hi @lzhecheng @heanlan , this looks inactive. Shall I take it on me?

[2021-07-11 03:26] heanlan commented on #2275
Hi, thanks for getting involved in Antrea! Unfortunately I've started working on this already:( Please take another look at other issues that interest you.

[2021-07-12 11:20] tnqn opened #2378 "Network Policies are not working in a large cluster after restarting antrea-controller"
**Describe the bug**

Thanks @alokmaurya88 for reporting this issue. This was how he found it:

In a large cluster,
- Create Namespaces
- Create ANP/ACNPs /K8S network policies
- Create PODs/Services in cluster
- Network policies are not working
- Traffic works from pod, even though its now allowed by network polices
- We dont see any network policies in antrea-agent

[code]
`antctl get networkpol

[2021-07-12 15:58] tnqn opened #2380 "ClusterNetworkPolicy is not enforced correctly when a rule's From or To is empty"
**Describe the bug**

When a rule's From or To is empty, this rule will not be appended to the converted NetworkPolicy: https://github.com/antrea-io/antrea/blob/7121422a4cc6768fb6f74602c8cc9233a63529b3/pkg/controller/networkpolicy/clusternetworkpolicy.go#L310-L321

For example, create the below rule:
[code]

Getting the controlplane NetworkPolicy, the ruls is missing:
[code]

It was introduced in

[2021-07-12 17:23] antoninbas commented on #2380
I'm assuming this affects the main branch as well, so I want to postpone the 1.2 release given that this seems like a major bug

[2021-07-12 17:28] Dyanngg commented on #2380
I am actually failing to understand how this causes the ClusterNetworkPolicy to be not enforced correctly. For a rule without a From/To peer in ANP and ACNP, the effect of that rule is essentially none... I do understand that for other book-keeping purposes (i.e. maintaining rule counts and rule names etc.) this is a valid issue.

[2021-07-12 17:29] Dyanngg commented on #2380
/cc @abhiraut

[2021-07-12 17:38] tnqn commented on #2380
I might be wrong, but take the above policy as example:
[code]
Doesn't it mean all traffic from all sources should be dropped and logged?

[2021-07-12 17:40] tnqn commented on #2380
The comment says "If this field is empty, this rule matches all sources."
https://github.com/antrea-io/antrea/blob/e7051c02dcc2b137ee132b7c4d193f357f03d814/pkg/apis/crd/v1alpha1/types.go#L352-L355

[2021-07-12 17:42] Dyanngg commented on #2380
Yes I just realized that this is a valid case...
[code]
I will add a E2E testcase for this specific scenario as well as I think it is missing as of now

[2021-07-12 18:05] antoninbas opened #2381 "Fix NodePortLocal port allocation: make sure port is available and bind to any allocated port"
**Describe the bug**
Currently NPL allocates ports sequentially from a configurable range (by default, 40000-41000), without checking if the ports are already in-use by another process. Furthermore, after a port has been allocated, the Agent does not currently bind to it, which means it can still be used by another process. Because the default port range overlaps with the default `net.ipv4.ip_loca

[2021-07-12 19:09] abhiraut commented on #2380
this does make sense to me. I see Yang has pushed a fix.

[2021-07-12 20:36] ekultails opened #2384 "Antrea does not support firewalld"
**Describe the bug**
firewalld provides a nice and simple framework/wrapper to manage nftables or iptables. It is also the recommended firewall for Fedora-based distributions including RHEL. When the service is enabled, DNS resolution within Pods does not work. When it is enabled, DNS resolution does work.

This problem was not encountered when using alternative CNI plugins such as (1) Flannel by

[2021-07-13 15:56] odidev opened #2393 "Unable to run Antrea e2e test on a kind cluster on Linux/ARM64"
**Description**

When I try to run e2e test(./ci/kind/test-e2e-kind.sh) which uses kind cluster on Linux/ARM64 machine, I am getting the below errors.

[code]

**To Reproduce**

Start kind end to end test on Linux/ARM64 machine using below command

[code]

**Expected**

Kind cluster to be created and e2e test to be completed.

**Actual behavior**

I am getting the below errors as these images are

[2021-07-13 15:58] tnqn commented on #2384
@ekultails thanks for reporting the issue. I found all antrea specific chains are missing in the output of iptables-save regardless of whether firewalld is running or not, which may be the cause of the issue.

For example, we expected forward rules in filter table:
[code]
Could you share the antrea-agent logs? It may have some clue why the iptables were not installed.

[2021-07-13 16:10] tnqn opened #2394 "AntreaNetworkPolicy related tests failed randomly in kind clusters"
**Describe the bug**

I have met this kind of failures several times in kind clusters. Normally the same tests can pass if rerunning them.
[code]

[code]

**Expected**
The tests should be stable on kind clusters.

**Actual behavior**
It failed randomly.

Logs:
[e2e.log](https://github.com/antrea-io/antrea/files/6810363/e2e.log)
[e2e-kind-encap-no-proxy.tar.gz (1).zip](https://github.com/antrea-io/

[2021-07-13 17:24] #2378 closed

[2021-07-13 17:43] antoninbas opened #2395 "Support other protocols (UDP, SCTP) in NodePortLocal"
**Describe what you are trying to solve**
At the moment NodePortLocal only supports TCP. TCP is hardcoded in the iptables rules:
https://github.com/antrea-io/antrea/blob/7faeaaf54ff06c4ea33399d34f6d5c208b1c3bcf/pkg/agent/nodeportlocal/rules/iptable_rule.go#L76
And https://github.com/antrea-io/antrea/pull/2385 only adds port binding for TCP sockets.

We should look into supporting the other protoco

[2021-07-13 19:55] #2381 closed

[2021-07-13 19:56] #2380 closed

[2021-07-13 20:07] antoninbas commented on #2393
I think we could consider providing a multi-arch image for the flow aggregator (antrea/flow-aggregator). What do you think @srikartati ? Even though realistically I would expect most users to have some x86 Nodes in their clusters in addition to ARM Nodes.

I am not sure about the rest. At the moment we only run K8s conformance tests to validate Antrea ARM support, not Antrea e2e tests. I don't kno

[2021-07-13 21:42] heanlan commented on #2249
I did some experiments, using `pod.Namespace` to replace `testNamespace` in `data.podWaitForRunning`.
As the method polls the K8s apiserver until the specified Pod is in the "running" state, the pod actually has not been ready yet while we calling the method. It will reports error "Error when waiting for IP for Pod 'test-pod-02y95hvw': error when getting Pod 'test-pod-02y95hvw': an empty namespace

[2021-07-13 21:49] srikartati commented on #2393
Yes, we could consider ARM64 image for flow aggregator. Maybe it could be useful in clusters, where ARM nodes are beefy when compared to x86 nodes.

[2021-07-13 21:56] srikartati commented on #2394
@tnqn I also saw the following [intermittent failure](https://github.com/antrea-io/antrea/pull/2308#issuecomment-871754228) in Antrea network policy tests in Kind clusters along with the one in the above comment. Piggybacking on this issue. Hope that is ok.

[code]

[2021-07-14 01:20] tnqn commented on #2394
@srikartati It's great to add similar failures to this issue so people who investigate it may have more clue.

cc @Dyanngg @abhiraut if you have bandwidth to look at it.

[2021-07-14 01:25] antoninbas opened #2398 "Should the FlowAggregator documentation be updated to remove references to originalExporterIPv4Address?"
https://github.com/antrea-io/antrea/commit/4895f6ab58916c56740071e32c56de03de902c53 removed the `originalExporterIPv4Address`, `originalExporterIPv6Address` and `originalObservationDomainId` IEs from the flow records sent by the FlowAggregator. However, it seems that the [documentation](https://github.com/antrea-io/antrea/blob/main/docs/network-flow-visibility.md) still mentions `originalExporterI

[2021-07-14 01:48] lzhecheng commented on #2249
@heanlan Thank you. Then maybe we should pass a parameter into the `createBusyboxPodOnNode`.

[2021-07-14 16:48] tnqn opened #2407 "e2e tests on kind cluster failed consitently because kube-proxy failed to start"
**Describe the bug**
On release-0.13 and release-1.0 branches, all CI tests on kind clusters failed consistently.
It was because kube-proxy failed to start:
[code]

There was a similar issue in Kind: https://github.com/kubernetes-sigs/kind/issues/2240. The root cause seems to be a change in Linux kernel: https://github.com/torvalds/linux/commit/d0febd81ae77a0e13717f1412ff9589e43fc4f8b, which doesn

[2021-07-14 18:04] antoninbas opened #2409 "All NodePort conformance tests are failing for AKS CI job"
**Describe the bug**
Since end of May / beginning of June, the following tests have been failing consistently:
[code]

I am not sure yet what the root cause could be. Typically this means Nodes within the cluster cannot access each other using their public IP.
The only related thing I can see right now is that the [Public IP per Node feature](https://docs.microsoft.com/en-us/azure/aks/use-multiple

[2021-07-14 18:14] antoninbas commented on #2407
@tnqn this file tracks all the software for the Ubuntu 20.04 Github action worker VMs (including the kernel version): https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md. It is updated weekly. It looks like there was a recent update from 5.4 to 5.8.

[2021-07-14 19:15] antoninbas opened #2411 "Consider auto-generating CHANGELOG for release based on PR descriptions"
**Describe what you are trying to solve**
In https://github.com/antrea-io/antrea/pull/2230#discussion_r643608440, @tnqn suggested that we try to automate CHANGELOG-generation for each release, by collecting the relevant information from PR descriptions.

This is a good idea that would significantly simplify the release process in the long term, especially if the project keeps growing or if the rel

[2021-07-14 19:42] antoninbas opened #2413 "Antrea Controller can no longer run on 32-bit architectures"
**Describe the bug**
The 32-bit ARM CI job has been failing ever since https://github.com/antrea-io/antrea/commit/7faeaaf54ff06c4ea33399d34f6d5c208b1c3bcf was merged:

[code]

This is because of our use of `atomic.LoadUint64`. As per the Go [documentation](https://pkg.go.dev/sync/atomic#pkg-note-BUG) for the `sync/atomic` package:

`podAddEvents`, `externalEntityAddEvents` and `namespaceAddEvents`

[2021-07-14 21:25] #2398 closed

[2021-07-14 23:28] zyiou opened #2416 "Template changes on Flow Exporter and Flow Aggregator"
**Describe what you are trying to solve**
Currently we have two templates (IPv4 & IPv6) for records in Flow Exporter and Flow Aggregator. All the records will send same number of fields even though some of them are not necessary. For example, for flow type `ToExternal`, we cannot obtain metadata from destination like `destinationPodName` or `destinationPodNamespace`, but these fields will occupy s

[2021-07-14 23:53] zyiou commented on #2416
Here is the table of 4 different templates. At Flow Exporter, the template is same for Intra-Node and Inter-Node, we can combine it into one. So we will have 6 templates from Flow Exporter and 8 templates from Flow Aggregator (considering IPv4 and IPv6 templates)
Fields to be removed are marked as x in the table.
| Field name                                   | Flow Exporter or Aggregator | Intra-

[2021-07-15 01:39] tnqn commented on #2407
Thanks @antoninbas for the information. It makes sense then. The permission change of nf_conntrack_max was made in 5.7.

[2021-07-15 02:08] mengdie-song commented on #2315
Have met an issue with 0.21.0 https://github.com/vmware-tanzu/octant/issues/2623 and will wait octant 0.23 which contains the related fix.

[2021-07-15 02:36] #2413 closed

[2021-07-15 18:40] Dyanngg commented on #2409
I was able to reproduce this bug after upgrading the AKS CLI to 2.26.1 _and_ removing the `aks-preview` extension since the `--enable-node-public-ip` option is not a preview feature anymore.

What I discovered is that the Nodes in the AKS cluster cannot reach each other by their public IPs:
[code]
This should explain why all the node port traffic is failing. All NSG firewall rules for this cluster

[2021-07-16 01:04] abhiraut opened #2424 "Add Namespaced Group support for ANP"
**Describe what you are trying to solve**
Currently ANP are responsible to specify the security rules that apply to workloads and also responsible to specify how to group the source and destination and the workloads to which the rules apply to within a Namespace. This grouping of workloads is done via the use of resource selectors (podSelector, namespaceSelector...) which has the capabilities of g

[2021-07-16 05:29] #2214 closed

[2021-07-16 06:50] lzhecheng opened #2426 "[IPv6] Support dual-stack mode in no-encap mode with Linux"
**Describe what you are trying to solve**
Antrea should support dual-stack in no-encap mode with Linux.

Current the basic Node/Pod to Pod cross-node traffic fails. When adding routes to other nodes, the destination pod CIDR and NodeIP are not in the same IP family.
[code]

**Describe the solution you have in mind**
- [x] Upgrade dual-stack testbeds to support both IPv4, IPv6 address in Node's `in

[2021-07-16 06:53] lzhecheng commented on #136
I just tested no-encap mode and found that there're failures in dual-stack e2e and IPv6-only conformance tests. For the first one, an issue has been created to track the bug #2426. The second will need more investigation.

[2021-07-16 18:13] jianjuns commented on #1463
@hongliangl : question on your case 4. I feel hard to say it is not a valid case. Do you think we are able to support it with SNAT?

And I am trying to understand the challenge without SNAT. Guess the problem is to redirect return traffic to OVS. But with TC flower, could we use conntrack to mark the connection after the request is forwarded out of the OVS bridge (through gw0)?

[2021-07-18 07:53] jayunit100 commented on #2344
hm I tried compiling the binary from your branch here https://storage.googleapis.com/jayunit100/antrea-agent-if-ps-fixes.exe but seems to not run for me.  maybe a golfing windows compilation issue on OS X?

[2021-07-19 17:51] srikartati commented on #2416
A couple of comments:
- Tag Flow Aggregator along with Flow Exporter for the fields which are applicable like FE, FA
- Will there be any changes required in go-ipfix repo?

[2021-07-19 20:58] zyiou commented on #2416
Done. Thanks!

I expect no changes in go-ipfix since we don't have changes (addition/removal/modification) for information elements.

[2021-07-20 02:57] wenyingd opened #2433 "Use a generic API to define the marks using register"
**Describe the problem/challenge you have**
Antrea uses OVS registers as marks for packets, but the usage is totally controlled by feature owners. Especially, some features are using the registers directly in OpenFlow entry, and there is no definition. Then it is difficult for the developers to use registers in a new feature. It requries developer to read all OpenFlow related code to avoid misconf

[2021-07-20 03:09] hxietkg opened #2434 "Pod is not able to access a service through external IP on windows node"
**Describe the bug**

Antrea does not create ovs-flow to external IP of a service, so test case "should be possible to connect to a service via ExternalIP when the external IP is not assigned to a node" fails on windows node, this test will create a service with both cluster IP and external IP:

NAMESPACE       NAME                       TYPE        CLUSTER-IP       EXTERNAL-IP     PORT(S)

[2021-07-20 03:23] tnqn commented on #2434
Thanks @hxietkg for creating the issue.
I think it applies to both Windows and Linux Nodes. Currently the external IP is processed by iptables/ipvs on Linux Node. I don't know why antrea-agent didn't install OpenFlow rules for external IPs but I think it's straightforward to do it. It should just need one flow per external IP which forwards the packet to the same group as the cluster IP.
@honglian

[2021-07-20 03:34] hongliangl commented on #2434
OK，I'll take a look soon.

[2021-07-20 04:58] ekultails commented on #2384
I recently did a fresh install of Debian 11 RC 3 and installed Kubernetes 1.19.13. The DNS issue did not occur.

One thing I did notice, however, was that the first time I stop firewalld it removed all of the Antrea iptables rules. The only way to restore those iptables rules was to restart the node. After restarting the node, turning firewalld off no longer touched the Antrea rules and they conti

[2021-07-21 01:53] lzhecheng opened #2439 "[CI] OVS on Windows testbeds are upgraded to 2.15 from a forked repo"
Now, the OVS version on Windows testbeds is upgraded from 2.13.1 to 2.15. The OVS 2.15 from a forked repo includes a fix (https://github.com/twofish197/ovs-215_0630/commit/0f1a5571e0b1bf18e85c0c084cbd402ad28af22d) to incorrect checksum after NAT. Without this fix, some Windows related PRs cannot get merged.

This issue is used to track when OVS is upgraded to a release version.

[2021-07-21 02:52] antoninbas commented on #2439
@lzhecheng is there any AI for this issue or is this just informational?
If just informational we should close it right away.

BTW, are we going to upload this version of OVS to downloads.antrea.io and update the OVS installation scripts?

[2021-07-21 03:45] lzhecheng commented on #2439
@antoninbas The action is to use an official OVS release instead of current one built from a forked repo.

I prefer not to upload this unofficial OVS and let's wait for an official one. I updated the CI now because old OVS blocks our Windows PRs.

[2021-07-21 10:02] odidev commented on #2393
Thank you for the help with the source file links.

I was able to build the required images for antrea kind end to end testing and ran the test locally.

Following are the changes I made in antrea e2e test scripts for running the test on Linux/ARM64.

Instead of projects.registry.vmware.com/library/busybox used busybox:1.33.1 dockerhub image available for Linux/ARM64.
Instead of projects.registry.

[2021-07-22 08:56] Jexf opened #2449 "Parse kernel version failed with "4.19.43-300.el7.x86_64" for meter feature"
**Describe the bug**
Parse kernel version failed with "4.19.43-300.el7.x86_64" for meter feature.

[code]

When use github.com/blang/semver/semver.go lib function to parse, it will check prerelease, it find preIndex by '-', then get prerelease by split from preIndex+1 to kernelVersionStr end

[code]

it will cause parse prerelease error when kernel version is "4.19.43-300.el7.x86_64", so need chec

[2021-07-22 20:55] antoninbas opened #2453 "Automate Go module dependency updates"
**Describe what you are trying to solve**
At the moment Go module dependencies have to be updated manually. In practice this means that CVEs in some of our dependencies can go unnoticed for a while, which can lead to potentially several Antrea releases being shipped before we update the dependency to address the security vulnerability. We should look into automating the update of these dependencie

[2021-07-22 21:04] ekultails commented on #2384
Tried a third fresh install this time using Debian 10.10, Kubernetes 1.20.9, Antrea 1.2.0, and firewalld. Same as the original problem. DNS resolution is not working.

One thing I noticed on here is that the iptables "RULE_REPLACE" isn't being recognized on Debian 10:

[code]

[2021-07-22 23:17] ekultails commented on #2384
I have found a resolution to the problem: the legacy iptables binaries need to be used. On Debian 10, I have confirmed this is a working fix:

[code]

https://serverfault.com/questions/1025176/debian-10-how-can-i-disable-nftables-and-continue-to-use-iptables-only

Anyone on RHEL >= 8 are out of luck because it does not ship `iptables-legacy`. That seems outside the scope of Antrea. I will close ou

[2021-07-22 23:17] #2384 closed

[2021-07-23 01:02] tnqn opened #2454 "Report the number of allocated vs free IPs to status of the EgressIPPool?"
This was a suggestion from @antoninbas.

I think it would make the ExternalIPPool API informative and should be straighfoward to implement.

_Originally posted by @antoninbas in https://github.com/antrea-io/antrea/pull/2236#discussion_r647797960_

[2021-07-23 01:04] tnqn commented on #2454
Please let me know your opinion on this API change if any. @jianjuns @antoninbas @wenqiq @abhiraut

[2021-07-23 01:18] abhiraut commented on #2454
i think this is a great idea.

[2021-07-23 03:55] jianjuns commented on #2454
Sounds good to me.

[2021-07-23 15:45] tnqn opened #2457 "antrea-agent memory footprint optimization"
**Describe the bug**
In large scale cluster, with many Pods, NetworkPolicies and Services deployed, each antrea-agent consumed a lot of memory, and sometimes caused oom-killer have to kill other processes. For example:
[code]

We should reduce its memory footprint as much as possible to leave more resources to workloads.
Here are pprof output of the heap:
[heap.pb.gz](https://github.com/antrea-io/

[2021-07-24 01:21] #2249 closed

[2021-07-26 08:44] luolanzone opened #2468 "Support IPsec with VXLAN tunnel mode"
**Describe what you are trying to solve**
Antrea only supports IPSec with GRE only, but OVS claims it can supports GRE, GENEVE, VXLAN, and STT tunnel, considering VXLAN is a quite common tunnel mode, it's better to support VXLAN at least.

**Describe the solution you have in mind**
Support IPSec with VXLAN tunnel mode.

**Describe how your solution impacts user flows**
Provides customer one more o

[2021-07-27 00:17] #1018 closed

[2021-07-27 02:14] lzhecheng opened #2472 "[Windows] Move agent log to C:\var\log\antrea"
**Describe the problem/challenge you have**
Currently, Windows agent log is at `C:\k\antrea\logs` while other log like kubelet is at `C:\var\log\kubelet`. It is better to put them together: `C:\var\log`.

**Describe the solution you'd like**
Update:
* agent code
* script
* doc

[2021-07-27 03:22] Jexf opened #2473 "Antrea supports setting network interface for inter-host communication"
**Describe the problem/challenge you have**

[code]

Antrea gets NodeInternalIP or NodeExternalIP for  inter-host communication, sometimes we need set special network interface for inter-host communication.

**Describe the solution you'd like**
Maybe need ` antrea-agent --config /etc/antrea/antrea-agent.conf --iface eno1` or ` antrea-agent --config /etc/antrea/antrea-agent.conf --iface-regex 172.1

[2021-07-27 03:52] tnqn commented on #2473
@Jexf thanks for the suggestion. This is definitely a valid scenario Antrea should support. We received similar feature suggestion in https://github.com/antrea-io/antrea/issues/2344, though it's for windows.
@wenyingd has https://github.com/antrea-io/antrea/pull/2370 (not merged yet) which should covers the scenario. It adds an option "transportInterface" to agent configuration file. Would you che

[2021-07-27 12:27] Jexf commented on #2473
Thanks for reply @tnqn, the patch https://github.com/antrea-io/antrea/pull/2370 adds an option "transportInterface" to config interface name, maybe we need add option "transportCIDRRange"  for different interface name on each node.

[2021-07-27 12:55] tnqn commented on #2473
Good idea. @jianjuns @antoninbas what's your opinion?
@Jexf would you like to create a PR for it after #2370 is merged?

[2021-07-27 13:00] tnqn commented on #2394
It failed quite often recently. Almost at least one failure among a round of tests.

[2021-07-27 16:57] jianjuns commented on #2473
I did not get the idea. transportCIDRRange is for supporting different interface names on different Nodes? How it helps?

[2021-07-27 17:04] #2449 closed

[2021-07-27 17:19] antoninbas commented on #2473
I think it's to identify the interface based on its subnet and not based on its name which can vary across Nodes.
I understand the problem we are trying to solve but this doesn't seem like a very elegant solution, especially when not all Nodes are on the same L2 network. Can you think of any other project using a solution like this one? Any alternatives we could consider?

[2021-07-27 23:37] antoninbas opened #2483 "Remove controlplane.antrea.tanzu.vmware.com/v1beta1"
As per our [documentation](https://github.com/antrea-io/antrea/blob/main/docs/api.md), the `controlplane.antrea.tanzu.vmware.com/v1beta1` API group version can be removed in August 2021, which means we can remove it starting with Antrea v1.3.0.

[2021-07-28 00:54] antoninbas commented on #2453
I did some more investigation on this. One issue is that Antrea includes several go.mod files (top-level one and a different one for the Octant plugin: https://github.com/antrea-io/antrea/blob/main/plugins/octant/go.mod). The Octant plugin module depends on the main Antrea module, and whenever a dependency is updated for the main Antrea module, we expect `go mod tidy` to be run for both the main A

[2021-07-28 02:59] wenqiq commented on #2454
Good idea. I think I could implement this. Please assign this to me. Thanks

[2021-07-28 10:13] Jexf commented on #2473
A k8s-antrea has three nodes:

`[root@tos-04 ~]# kubectl  get nodes
NAME     STATUS   ROLES                  AGE   VERSION
tos-04   Ready    control-plane,master   15d   v1.21.2
tos-05   Ready    <none>                 15d   v1.21.2
tos-06   Ready    <none>                 15d   v1.21.2`

The interface for inter-host communicatio on tos-04 is:
[code]

The interface for inter-host communicatio on t

[2021-07-28 17:06] jianjuns commented on #2473
Interface or subnet list do not sound ideal either, as two Nodes can have the same set of interfaces or subnets, but want to choose different ones.

If we step back, do you think you can create two Antrea DaemonSets (each should select different Nodes) for the two Nodes in your example, with different transportInterface configuration? It is not very convenient but should work?

[2021-07-29 01:23] antoninbas opened #2488 "Run Go benchmarks as part of CI and automatically monitor for performance regressions"
**Describe what you are trying to solve**
Several PRs have been submitted recently to address some scaling issues in very large clusters. As part of these PRs (e.g., https://github.com/antrea-io/antrea/pull/2479), benchmarks have been added to evaluate the impact of the performance improvement. We are starting to have a decent amount of benchmarks as a result. However, we never run these benchmark

[2021-07-29 10:57] edwardbadboy opened #2492 "Support IP Address in ClusterGroup Membership and Association Query"
The ClusterGroup spec allows to define static IPBlocks, but the IPBlocks are not returned in membership query result. Is it possible to add a field EffectiveIPs to ClusterGroupMembers? So the EffectiveIPs includes IP addresses of Pods, ExternalEntities and static IPBlocks. If there are duplicated IP addresses in the EffectiveIPs, maybe perform a dedup and return unique IP addresses.

Is it possibl

[2021-07-29 12:10] tnqn opened #2494 "Agent panics when calculating NetworkPolicy rule stats"
**Describe the bug**

Thanks @alokmaurya88 for reporting this issue.
[code]
There was a bug in `calculateRuleDiff` that it didn't process the case of a new rule of existing networkpolicy correctly when it's stats is zero.
This was introduced when rule level stats was added.

**To Reproduce**
1. Create an Antrea NetworkPolicy or ClusterNetworkPolicy that applies to any Pod, wait for one minute.
2.

[2021-07-29 14:24] #2344 closed

[2021-07-29 17:38] svdb-ncc opened #2496 "Jenkins is out of date."
Jenkins and the installed plugins are out of date. Version 204 is installed.
Impact:
As there are known security issues with this version, there is a posibility that the environment is misused and the secrets that are required for the AWS and vSphere get leaked.
Mitigation:
Update Jenkins and the installed plugins to the latest version. Consider migrating to managed Jenkins solution.

[2021-07-29 17:40] svdb-ncc opened #2497 "Artefacts are not signed"
The generated artefacts are not signed.

Impact:
Public users can not verify the authenticity of the artifacts.

Mitigation:
Consider using a signing service to sign, or generate safe SHA hashes.

[2021-07-29 17:54] antoninbas commented on #2497
@svdb-ncc are you aware of other similar open-source projects signing their Github artifacts? If yes, what is their process and which tool do they use?

I would be ok with publishing SHAs for our Github artifacts. I never quite get the point when distributing artifacts over HTTPs from Github. Ultimately if we distribute an additional asset file with SHAs or we add the SHAs to the Github release no

[2021-07-29 22:05] #2494 closed

[2021-07-30 00:07] lzhecheng opened #2500 "[CI] Flaky windows-networkpolicy tests with antrea windows agent deployed with script"
**Describe the bug**
Now in windows-networkpolicy tests, if antrea windows agent is deployed with script, there're many flaky failures.

**To Reproduce**
Run Windows networkpolicy CI.

**Expected**
No flaky failures.

**Actual behavior**
Many flaky faillure.

**Additional context**
I am going to switch deployment of windows networkpolicy test to Daemonset to let CI work.

[2021-07-30 00:59] vicky-liu commented on #2492
@abhiraut

[2021-07-30 01:44] wenyingd commented on #2251
I tried IGMP proxy, it doesn't satisfy our requirement: IGMP Proxy gives two roles for the networking interfaces (antrea-gw0, and ens192, e,g.): upstream and downstream. It assumes Multicast client is outside the host, so it only forwards the Multicast traffic to the downstream interface from upstream interface, but not do it on the reverse path. That would cause Multicast traffic sent out from a

[2021-07-30 01:45] wenyingd commented on #2251
For statically configuring multicast routing entry, it works if we leverage cgo to configure the Linux mroute table.

[2021-07-30 07:30] tnqn commented on #2488
This is a great idea!

[2021-07-30 18:42] antoninbas opened #2514 "Switch to actions/setup-go@v2 in workflows"
Switch to version v2 of the [setup-go](https://github.com/actions/setup-go) action in all Github workflows.

[2021-07-31 15:43] lamw opened #2518 "[Docs] - "multiple K8s minor versions" URL is invalid"
**Describe the bug**
On this [page](https://antrea.io/docs/v1.2.0/kubernetes-installers/), the link to `multiple K8s minor versions` which points to https://antrea.io/docs/v1.2.0/kubernetes-installers/versioning.md#supported-k8s-versions goes to 404

[2021-08-01 13:10] lamw opened #2519 "Antrea interfaces are lost upon OS reboot"
**Describe what you are trying to do**
Install latest Antrea version w/K8s (kubeadm) on a single node running on VMware Photon OS

**Software Versions**
Antrea: `v1.2.0`
Kubernetes: `v1.20.2`
OS: Photon OS 4.0 (`1526e30ba`)

**Observed Behavior**
Everything is configured correctly upon first boot and setting up our application. However, after an OS reboot, all Antrea interfaces are lost

Here is t

[2021-08-02 03:57] #2014 closed

[2021-08-02 07:20] tnqn commented on #2519
@lamw thanks for reporting it. I suspect it was because antrea-agent failed to start from some reason after rebooting, or kubelet failed to create antrea-agent pod. Could you check the status and log of antrea-agent pod on the rebooted node and upload if possible?

[2021-08-02 13:14] lamw commented on #2519
Antrea pods are indeed running:

[code]

However, the networking is affected and hence I'm not able to get the logs as I always get this error for getting logs for any pods:

[code]

Here's the pod logs _prior_ to reboot but I don't see any logs after the reboot
[antrea-agent-before-reboot.log](https://github.com/antrea-io/antrea/files/6917122/antrea-agent-before-reboot.log)

[2021-08-02 14:10] tnqn commented on #2519
I guess the status you got from `k -n kube-system get pods` was stale and didn't reflect the actual status of these Pods because:
1. There are no new antrea logs for both antrea-agent and antrea-controller so they were not running.
2. It was impossible that coredns pods were running well without antrea's network as they have tcp health probe enabled.
3. Normally the number of "RESTARTS" should be

[2021-08-02 16:00] lamw commented on #2519
@tnqn I did see the `NotReady` status but assumed it was related to Antrea, since this was a recent change. Looking at the kubelet logs, it did give me a hint as it kept saying it can't find node `veba` which is the short hostname rather than the expected FQDN. It turns out something must have changed in latest PH3 and PH4 release where FQDN hostname goes back to short and hence causes this issue.

[2021-08-02 16:00] #2519 closed

[2021-08-02 17:18] #2514 closed

[2021-08-03 17:17] #2518 closed

[2021-08-03 17:44] jsm222 opened #2531 "cri-o backend no cni netconfig"
I had to restart crio service after kubectl apply -f https://github.com/antrea-io/antrea/releases/download/v1.2.0/antrea.yml
when /etc/cni/net.d/10-antrea.conflist was created.
with sudo systemctl restart crio otherwise i got error from kubelet "Container runtime network not ready" networkReady="NetworkReady=false reason:NetworkPluginNotReady message:Network plugin returns error: No CNI configurat

[2021-08-03 20:13] antoninbas commented on #2531
This seems to be a combination of:
- the RPM package for cri-o installs 10-crio-bridge.conf as 100-crio-bridge.conf, which will take priority over 10-antrea.conflist
- cri-o requires a restart when changes are made to /etc/cni/net.d/ (See https://github.com/cri-o/cri-o/issues/4276)

Anyway this seems to be a well-know issue for cri-o, which seems to be documented, at last for ArchLinux: https://wi

[2021-08-03 20:20] #2483 closed

[2021-08-03 23:08] #2352 closed

[2021-08-04 17:40] tnqn opened #2534 "antrea-agent Pods didn't update in rolling update fashion in large scale cluster"
**Describe the bug**

Thanks @alokmaurya88 for reporting this issue.
In a large scale cluster, we saw that when antrea is getting upgraded, most of the agents go in terminating state at once, just after controller is upgraded, even though the updateStrategy was set to RollingUpdate.
[code]

This was caused by NotReady state of antrea-agent Pods. Since v1.0, antrea-agent's readiness probe added its

[2021-08-05 17:08] #2534 closed

[2021-08-05 21:57] antoninbas opened #2545 "Switch from docker to containerd for vagrant-based test cluster"
https://github.com/antrea-io/antrea/tree/main/test/e2e/infra/vagrant

It looks like making the switch would make sense, as it seems it is more common nowadays to run K8s with containerd directly, instead of Docker. https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/

While it seems that K8s v1.22 still works fine with Docker, we did run into one issue already: https://github.co

[2021-08-06 01:31] srikartati commented on #2369
The exporting process reset can be definitely explained by the bug fix in PR #2546
We should keep track of the flakiness after the PR is merged.

[2021-08-06 02:25] GraysonWu opened #2548 "Reject cause infinite loop"
**Describe the bug**
If a traffic get matched on both directions by ingress/egress rules with reject action, then one hit will cause an infinite loop. For example:
There are two Pods: PodA and PodB
There is one policy with two rules:
[code]
Here is what will happen:
1. PodA sends a packet to PodB.
2. This packet matches the egress rule then it is sent to the controller.
3. The controller generates

[2021-08-06 07:02] lzhecheng commented on #2426
Now, dual-stack testbeds include 2 InternalIP: IPv4 and IPv6.

Due to more resource consumption of dual-stack testcase, testbeds' CPU and memory are enhanced: 3 -> 8 CPU, 4 -> 12G

[2021-08-06 18:46] antoninbas opened #2554 "NPL Controller shuts down if iptables-restore operation fails"
**Describe the bug**
Thanks @alokmaurya88 for reporting this issue.

When restarting the Antrea Agent in a large scale cluster, the iptables-restore operation used to restore all the DNAT rules previously installed by the NPL Controller (and saved as Pod installations) may fail because of contention. In this case, the following is observed in the Antrea Agent logs:
[code]

**To Reproduce**
Require

[2021-08-06 19:21] antoninbas commented on #2548
I think 1. is fine, but could we even make that decision in the OVS datapath? As an example, if a TCP packet is not a SYN packet, there is no reason to send it to the controller at all.

[2021-08-06 21:26] abhiraut commented on #2492
1. Add static IPBlocks configured in CG to effective members -- This seems fair and doable.
2. Implement query to return CGs which include the input IPAddress -- This is probably a bigger task and should be scoped separately.
3. Pagination support for membership APIs -- We should support this too.

[2021-08-06 23:46] GraysonWu commented on #2548
@antoninbas Thanks for the reply.
I just have some high-level things want to discuss. Let’s talk about what decision we’re going to make before we discuss where do we make the decision.
For example, suppose there is a  egress rule `ruleA` reject the traffic from `PodA` to `PodB`. What should we do when a reject response matches `ruleA`?
* Reject it
   As stated above in this issue, reject a reject

[2021-08-07 00:20] antoninbas commented on #2548
I personally think we should allow it. I don't believe it's a security issue:
- I think the packet still goes through conntrack: it it's invalid it will be dropped
- We have the spoof guard table so a potentially malicious Pod (with the right capabilities) cannot send spoofed TCP or ICMP packets

For ICMP, maybe look into using the `+rel` conntrack state. I didn't research it much, but maybe you o

[2021-08-07 00:40] GraysonWu commented on #2548
1. I'm not sure if I understand correctly about your "goes through conntrack". I think we have a flow in conntrackStateTable(31) to bypass the reject response generated by the controller?
2. If a potentially malicious Pod does exactly what our controller does to send packet_out, will this packet still be dropped by the spoof guard table?

And I remember that we don't commit a connection to conntra

[2021-08-07 01:01] antoninbas commented on #2548
I meant if PodA and PodB are on 2 different Nodes. The bypass is on the Node where the reject message is generated. Doesn't the packet still go through conntrack when it gets to the source Node?

How can a malicious Pod send a controller packet? It would need access to the UDS socket.

[2021-08-07 01:07] GraysonWu commented on #2548
Like using `ovs-ofctl packet-out SWITCH IN_PORT ACTIONS PACKET...`?

[2021-08-08 00:19] #845 closed

[2021-08-08 16:01] jsm222 commented on #2531
Another workaround that I tested does not require restart of crio is to rename the files
/etc/cni/net.d/100-crio-bridge.conf
/etc/cni/net.d/200-loopback.conf
to
10-crio-bridge.conf
20-loopback.conf
(I did kubectl rollout restart  deployment coredns -n kube-system after antrea installation, to pick up the correct pod cidr, and not the cni subnet from crio-bridge)
then 10-antrea.conflist takes prece

[2021-08-09 21:27] GraysonWu commented on #2548
Based on the discussion above, I have come up with a solution below, I'd like to hear your ideas @antoninbas @tnqn @abhiraut @Dyanngg:
Add three bypass flows in AntreaPolicyEgressRuleTable(45) and AntreaPolicyIngressRuleTable(85).
* Flow1: tcp, tcp_flags=+ack+rst, action=resubmit([EgressMetricTable(61)/IngressMetricTable(101)])
* Flow2: icmp, icmp_type=3, icmp_code=10, action=resubmit([EgressMetri

[2021-08-10 00:20] #1077 closed

[2021-08-10 02:29] antoninbas commented on #2548
For ICMP traffic, maybe we should also match on `ct_state=+rel` in the bypass flow. These packets will never have an invalid ct_state as far as I know.

[2021-08-10 02:39] GraysonWu commented on #2548
Updated.

[2021-08-10 16:28] tnqn commented on #2548
It should be allowed. I think NetworkPolicy enforces on the initial packet of a connection only, otherwise many cases wouldn't work. Similarly, I think we should only send the initial packet to controller for reject response generation. We have flows in all NetworkPolicy tables that non initial packets that have a valid ct_state will bypass all NetworkPolicy flows:
[code]
I wonder why this flow do

[2021-08-10 16:53] antoninbas commented on #2548
@tnqn I didn't check and it's very possible I am wrong, but I thought that a TCP RST would not match `ct_state=+est`?

I am however pretty confident it will not match ICMP packets. You need `ct_state=+rel` to match those.

[2021-08-10 17:18] tnqn commented on #2548
I checked TCP RST matches `ct_state=+est`, otherwise client wouldn't receive RST if its ingress rule doesn't allow any incoming traffic.
`ct_state=+est` doesn't mean TCP established, quoting its doc:
[code]

Yes, that's true. In my test, client can receive RST when it accesses a closed TCP port but cannot receive ICMP unreachable  when it accesses a closed UDP port. Do you think we should add a fl

[2021-08-10 17:21] antoninbas commented on #2548
That sounds good to me.

@GraysonWu needs to make sure that packets matching `-new+rel` / `-new+est` should bypass NP enforcement and should not go to the controller.

[2021-08-10 20:34] GraysonWu commented on #2548
I think you are right. If a packet hits a rule with reject action, it won't commit the connection.

The test you have done is that the request is rejected by the actual server, which will commit the connection. But if the request is rejected by Antrea Networkpolicy, without a connection committed, all reject responses, whether TCP or ICMP, generated by the controller will match this flow:
[code]
T

[2021-08-11 02:47] wenqiq opened #2573 "Egress cluster consistent hash map sync error with invalid ExternalIPPool nodeSelector"
**Describe the bug**

Cluster consistent hash map sync error with invalid ExternalIPPool nodeSelector.

**To Reproduce**

Create an ExternalIPPool with specific matchExpressions.values, the values is invalid, for example 'kind-worker-':
[code]

**Expected**

The CRD schema ExternalIPPool nodeSelector fields  verification should improved, or cluster consistent hash map synced successfully.

**Actua

[2021-08-11 10:04] tnqn commented on #2548
If the server is on another Node and the reject is generated on that Node, I think the connection will be committed locally and the response will bypass local networkpolicy flows.
If the server is on same Node and the reject is generated locally, as you have mark the injected packet and make it bypass CT state validation, maybe you can mark it bypass NetworkPolicy flows too? Then we don't need two

[2021-08-11 16:44] #2554 closed

[2021-08-11 17:59] GraysonWu commented on #2548
I can do that.
Previously, I worried that making any packets with this mark bypass networkpolicy flows could be a security concern. But if sending a packet with register loaded is something only OVS controller can do, then we are good.

[2021-08-11 18:52] #1745 closed

[2021-08-12 19:25] #2453 closed

[2021-08-14 00:18] #713 closed

[2021-08-16 06:20] Jexf opened #2600 "Why traffic noEncap/hybrid only support with Antrea-Proxy enabled"
**Why traffic noEncap/hybrid only support with Antrea-Proxy enabled**

[code]

By the way, maybe it would be better to give a warning log instead of carsh directly.

[2021-08-16 08:12] perithompson opened #2601 "Validate serviceCIDR on agent startup"
**Describe the problem/challenge you have**
When setting up the configuration for antrea, it is possible to leave the Service CIDR configured differently from how the Kubernetes is configured. If this happens, the pod starts up but will function incorrectly and while Pod traffic works ok the network traffic will not be able to proxy to services but will look and behave like there is nothing wrong,

[2021-08-16 10:37] tnqn commented on #2600
When AntreaProxy is not enabled, pod-to-service traffic is handled by iptables/ipvs in root netns, if the endpoint is not local the DNATed traffic will be output to physical network directly without going back to OVS for Egress NetworkPolicy enforcement, which breaks basic security functionality. If it's just a warning, many users won't notice it and their Pods won't be secured as expected. As it

[2021-08-16 10:55] tnqn commented on #2601
The reason why antrea-agent requires users to provide the service CIDR is that it didn't know the cluster IPs (it didn't watch services until AntreaProxy is implemented). If a validation is required, it means it will watch services regardless of whether AntreaProxy is enabled or not, then maybe it makes more sense to just calculate the smallest CIDR range that can contains all existing cluster IPs

[2021-08-16 11:49] Jexf commented on #2600
Thanks for reply, I got it @tnqn

[2021-08-16 13:23] perithompson commented on #2601
interesting thought! I hadn't considered that way around

[2021-08-16 17:11] jianjuns commented on #2601
Yes, but given we already enable AntreaProxy by default, and will finally recommend AntreaProxy in all deployments, probably not important to optimize for AntreaProxy disabled case.

[2021-08-16 22:17] antoninbas opened #2606 "Update Go version to 1.17"
Go 1.17 has been released: https://golang.org/doc/go1.17
This means that Go 1.15 will not be actively maintained any more

[2021-08-16 22:17] antoninbas commented on #2548
@GraysonWu I think you can close this issue (since it wasn't done automatically)?

[2021-08-16 22:19] GraysonWu commented on #2548
Sure.
Issue fixed. Close this issue.

[2021-08-16 22:19] #2548 closed

[2021-08-18 15:36] btrieger opened #2611 "Add in DNS-Based Network Policies"
**Describe the problem/challenge you have**
Service IPs tend to change and some service endpoints like [aws have numerous CIDRs](https://ip-ranges.amazonaws.com/ip-ranges.json) that make writing egress network policy rules a challenge.

**Describe the solution you'd like**
I would like the ability within egress to specify: `FQDN: *amazonaws.com` or `FQDN: s3.amazonaws.com` in place of an ipBlock a

[2021-08-18 16:41] btrieger commented on #2611
Will be in commercial Dragonfish offering

[2021-08-18 17:06] antoninbas commented on #2611
This is actually a feature we have been working on. @GraysonWu will be opening a PR soon.

[2021-08-18 18:11] antoninbas opened #2612 "Support running `ctr` as `vagrant` user in vagrant-based test cluster"
**Describe what you are trying to solve**
With https://github.com/antrea-io/antrea/issues/2545 resolved, `docker` is no longer available on the Vagrant Nodes and instead `sudo ctr -n=k8s.io` must be used to manage images and containers (when needed for debugging).

It would be great if `ctr` could be run as the `vagrant` user and didn't require to be root.

**Describe the solution you have in mind

[2021-08-18 23:47] antoninbas commented on #2606
One notable change in Go 1.17 is in the `net` package:

This change addresses this CVE: https://nvd.nist.gov/vuln/detail/CVE-2021-29923. It is not deemed a serious security risk and not backported to earlier Go versions. See https://github.com/golang/go/issues/30999

Here is how it affects Antrea:
An IP block like `010.0.0.1/32` in a NetworkPolicy (K8s or Antrea-native) will be interpreted by Go -

[2021-08-19 05:06] jianjuns commented on #2606
+1 for your option 2.

Jianjun
________________________________
From: Antonin Bas ***@***.***>
Sent: Wednesday, August 18, 2021 16:47
To: antrea-io/antrea ***@***.***>
Cc: Jianjun Shen ***@***.***>; Mention ***@***.***>
Subject: Re: [antrea-io/antrea] Update Go version to 1.17 (#2606)

One notable change in Go 1.17 is in the net package:

The ParseIP and ParseCIDR functions now reject IPv4 address

[2021-08-19 17:08] tnqn commented on #2606
+1 for option 2

[2021-08-19 19:09] #2468 closed

[2021-08-20 00:35] #571 closed

[2021-08-20 01:48] wenyingd opened #2617 "Configure Openflow tables with name strings"
**Describe the problem/challenge you have**
Currently the OpenFlow tabels are shown with IDs, which requires the user and dev has the knowledge of the mapping between table and int number. The output of OpenFlow dump is not Intuitive.
For example, current flows show like
[code]

**Describe the solution you'd like**
Using the OpenFlow MultipartRequest/MultipartReply message with type OFP_Table_Feat

[2021-08-20 17:00] #2454 closed

[2021-08-20 18:14] antoninbas opened #2620 "What do we still have "controlplane.antrea.io/v1beta1"?"
**Describe the bug**
In #2528, we removed "controlplane.antrea.tanzu.vmware.com/v1beta1". However it seems that we still have the types defined for "controlplane.antrea.io/v1beta1": https://github.com/antrea-io/antrea/tree/main/pkg/apis/controlplane/v1beta1

I am not sure why this is the case. Actually I am not sure why this API even exist. I believe that when we introduced the "antrea.io" APIs (i

[2021-08-20 18:14] antoninbas commented on #2620
cc @tnqn @hongliangl @luolanzone

[2021-08-21 00:19] #868 closed

[2021-08-23 02:36] luolanzone commented on #2620
@antoninbas last time when I was removing "controlplane.antrea.tanzu.vmware.com/v1beta1", I saw this API but I am not aware it's unused, @tnqn and @hongliangl  can help to double confirm if it's safe to remove or not, I can clean up this API after confirmation.

[2021-08-23 06:38] nathanawmk opened #2624 "Installing antrea in Multi clusters across multiple cloud providers (GCP, Azure, AWS)"
I have > 1000 microservices spread across the K8S clusters across multiple cloud providers (GCP, Azure, AWS). Instead of using service to service communication, can I setup antrea for these clusters to communicate across layer 3/4?

[2021-08-23 15:50] tnqn commented on #2620
Yes, the actual upgrade should be from `controlplane.antrea.tanzu.vmware.com/v1beta2` to `controlplane.antrea.io/v1beta2`.

`pkg/apis/controlplane/v1beta1` was for `controlplane.antrea.tanzu.vmware.com/v1beta1` only.

[2021-08-23 17:28] antoninbas commented on #2624
There is ongoing work to extend the Antrea datapath to multiple clusters, but it's not supported at the moment.
This is the original issue: https://github.com/antrea-io/antrea/issues/1982
This is the feature branch with the ongoing work: https://github.com/antrea-io/antrea/tree/feature/multi-cluster
Our first priority is to provide cross-cluster K8s Service access, and later we may be looking at c

[2021-08-23 17:45] antoninbas commented on #2611
Fixed by #2613

[2021-08-23 17:45] #2611 closed

[2021-08-23 17:58] antoninbas opened #2626 "Add documentation for FQDN-based NetworkPolicies"
The feature was added in https://github.com/antrea-io/antrea/pull/2613, but is not documented yet.

Ideally the documentation would be added in time for the upcoming release (v1.3), but there may not be enough time.

[2021-08-23 21:04] #897 closed

[2021-08-24 00:34] antoninbas commented on #667
I am going to close this. Other more specialized issues can be created to address gaps in the implementation: Windows, noEncap, etc.

[2021-08-24 00:34] #667 closed

[2021-08-24 00:35] antoninbas commented on #2128
@tnqn should we close this issue?

[2021-08-24 02:25] #2606 closed

[2021-08-24 04:07] antoninbas commented on #2315
I see that Octant v0.23.0 has been released: https://github.com/vmware-tanzu/octant/releases/tag/v0.23.0

It would be great if we could prioritize this task.

[2021-08-24 05:41] tnqn commented on #2128
Yes, updated task lists and closing this.

[2021-08-24 05:41] #2128 closed

[2021-08-24 06:02] mengdie-song commented on #2315
Sure, I will start working on this.

[2021-08-24 14:52] madhukark commented on #2626
PR open: https://github.com/antrea-io/antrea/pull/2634

[2021-08-24 16:07] joshrosso opened #2635 "Which kernel modules/configuration are required to run antrea?"
I'm investigating usage of antrea on Kubernetes clusters running atop Docker Desktop (Windows, backed by WSL2).

Antrea is unable to become healthy, thus pods are unable to start and communicate with the CNI for IPAM functionality. I know antrea requires the OPENVSWITCH module, but I'm wondering if there are other modules required as related to NETFILTER.

**🎇 My Question: What kernel modules / co

[2021-08-24 16:32] antoninbas commented on #2635
If you are running multiple K8s Nodes / Antrea Agents within the same VM (shared kernel), you need to use the userspace / netdev OVS datapath type anyway, like we do for Kind clusters. This means that there is no dependency on the openvswitch kernel module.

The antrea-agent error just indicates that your kernel doesn't support the `NOTRACK` iptables target. Probably because `CONFIG_NETFILTER_XT_T

[2021-08-24 17:10] joshrosso commented on #2635
Looks like it covers it as `NOTRACK` is deprecated and selects TARGET_CT

ref: https://github.com/torvalds/linux/blob/master/net/netfilter/Kconfig#L1008-L1013

[2021-08-24 18:34] antoninbas commented on #2635
BTW since the rules which depend on `NOTRACK` should be purely for performance optimization (do not track encapsulated traffic), I think that we would be open to a patch that only conditionally installs these rules if the target is available on the Node.

I'm cc'ing @tnqn in case he disagrees.

[2021-08-24 18:40] marosset opened #2638 "Provide production signed Windows OVS drivers with Antrea"
**Describe the problem/challenge you have**

Antrea currently provides an OVS package which contains test-signed OV kernel drivers [[1]](https://github.com/antrea-io/antrea/blob/main/docs/windows.md#1-optional-install-ovs-provided-by-antrea-or-your-own) but using these requires allow any test-signed driver [[2]](https://docs.microsoft.com/en-us/windows-hardware/drivers/install/the-testsigning-boot

[2021-08-24 19:54] joshrosso commented on #2635
@antoninbas that would be amazing. Do you think the patch could auto-detect `NOTRACK` ability and make the decision (dynamically) based on that?

As a follow-up, I recompiled the kernel and enabling `CONFIG_NETFILTER_XT_TARGET_CT` solved it. The upstream Windows-Linux kernel does not enable this by default (see: https://github.com/microsoft/WSL2-Linux-Kernel/blob/master/Microsoft/config-wsl#L974).

[2021-08-24 19:58] antoninbas commented on #2635
Yes that would be the idea. I can take a stab at it, should be quick. We will need Quan's blessing on it before we merge.

[2021-08-24 22:06] antoninbas commented on #2635
@joshrosso it would be great if you could validate this patch for your case: https://github.com/antrea-io/antrea/pull/2639

you should see a log message like this one in the antrea-agent logs:
[code]

and of course the agent should not fail any more

[2021-08-25 02:51] hangyan opened #2641 "Helm chart support"
**Describe the problem/challenge you have**

Helm chart is a popular way to package kubernetes apps, maybe we can support helm chart to allow some users with chart
experiences to eaily adapt antrea project.

**Describe the solution you'd like**
Provide helm chart with each release and publish it to officail helm chart repo

**Anything else you would like to add?**
Besides as an alternative way to

[2021-08-25 02:57] qiyueyao opened #2642 "Add documentation support for Fluentd integration with Audit Logging"
The audit logging feature was added, but currently there is not enough usage. A documentation of solution for users to access and filter logs is needed.

A solution would be to integrate Fluentd with Kubernetes. This needs Fluentd DeamonSet to be deployed. Therefore, we need a documentation that explains how to deploy it and provides the necessary config files.

[2021-08-26 13:24] lzhecheng opened #2653 "[e2e] TestAntreaPolicy/TestGroupNoK8sNP/Case=ACNPFQDNPolicy failure in IPv6-only setup"
**Describe the bug**
A testcase failed in all recent IPv6-only tests: TestAntreaPolicy/TestGroupNoK8sNP/Case=ACNPFQDNPolicy.

[code]

**To Reproduce**
Run e2e test in an IPv6-only setup.

**Expected**
The case passes.

**Actual behavior**
The case fails.

[2021-08-26 18:35] arunvelayutham opened #2656 "whereabouts-cni binary update request"
Request to rebuild whereabouts-cni and update tgz at https://downloads.antrea.io/whereabouts/v0.4/whereabouts-linux-${pluginsArch}.tgz

[2021-08-26 20:21] dreamtalen opened #2657 "FlowAggregator e2e test of Pod labels is flaky in Kind clusters"
**Describe the bug**
Pod labels check fails in Flow Aggregator E2E test on Kind cluster time to time:
`=== RUN   TestFlowAggregator/IPv4/IntraNodeFlows
    flowaggregator_test.go:879: Network Policies are realized.
    flowaggregator_test.go:760:
        	Error Trace:	flowaggregator_test.go:760
        	            				flowaggregator_test.go:578
        	            				flowaggregator_test.go:219

[2021-08-26 23:51] #2653 closed, assigned to nobody

[2021-08-27 07:40] tnqn opened #2661 "wireguard e2e test should run on IPv6 and dual-stack testbed"
**Describe the bug**
Currently it didn't run due to lack of kernel module.
[code]

[2021-08-27 12:55] Jexf opened #2665 "Add node routes crash bug when configure TransportInterface"
**bug 1**

Add node routes crash bug when configure TransportInterface

[code]

[code]

The `var transportAddrs *utilip.DualStackIPs`  param is uninitialized

**bug 2**

[code]
`ransportIPv4: <nil>, TransportIPv6: 172.18.123.16/22`  ipv4 address and ipv6 address are confused:

[code]

[2021-08-27 23:13] #2656 closed

[2021-08-28 16:36] eranshpiner opened #2671 "Set an LB VIP address in the 'egressIP' of the "Egress" CRD"
Hello,

In the 'egressIP' field of the "Egress" CRD, can I specify an IP of an LB VIP ? Meaning an IP address which is NOT assigned to any of the nodes in cluster ? .... Similar to the use-case described in the discussion of this [issue](https://github.com/antrea-io/antrea/issues/2128 ), my requirement is to SNAT all egress UDP traffic from certain pods, setting the LB VIP as the source IP of thes

[2021-08-30 04:39] tnqn opened #2674 "TestDropPacketMultiDedupLog failed on Windows platform occasionally"
**Describe the bug**

[code]
[2_Unit test (windows-2019).txt](https://github.com/antrea-io/antrea/files/7074162/2_Unit.test.windows-2019.txt)

It happened occasionally:
https://github.com/antrea-io/antrea/pull/2672/checks?check_run_id=3457591260

[2021-08-30 08:11] aidrees opened #2676 "TraceFlow not showing on Octant 0.23.0"
**Describe the bug**
Traceflow not showing in Octant 0.23.0 UI
plugin is working and showing controller and agent info. I tested with multiple platforms (Kind & EKS)

**To Reproduce**
easiest way to reproduce is to deploy latest kind with Antrea using ./ci/kind/kind-setup.sh create CLUSTER_NAME
and then run Octant with Antrea Plugin.

**Expected**
when pressing TraceFlow. I should see the form to

[2021-08-30 12:04] #2665 closed

[2021-08-30 18:27] antoninbas commented on #2671
Could you clarify your use case? If you SNAT Pod traffic and set the source IP to the LB VIP, how will reply traffic be handled?

I don't think the issue you referred to (#2128) covers a similar use case. Some of the discussions for that issue mention LB VIP _allocation_, but it seems pretty orthogonal to your use case.

If you define an `Egress` resource and set `spec.EgressIP` to your VIP, Antre

[2021-08-30 19:13] antoninbas commented on #2676
I think that may be expected. There is an open issue to support more recent Octant versions: https://github.com/antrea-io/antrea/issues/2315, and the issue mentions that there was a breaking API change.

@mengdie-song feel free to close this one if this is a duplicate

[2021-08-31 03:37] luolanzone opened #2684 "Watch antrea-ca configmap before Agent do first connection attempt."
**Describe the bug**
User report they encounter an issue during antrea-agent with below error which is actually a warning and acceptable failure during agent initialization, but this error is a bit misleading to user, need to improve to let agent waiting for CA bundle configmap before first attempt.

[code]

**To Reproduce**

**Expected**

Agent should wait for antrea-ca configmap before first con

[2021-08-31 04:47] luolanzone commented on #2684
there are already a fix https://github.com/antrea-io/antrea/pull/1042 for agent initialization, the issue might be caused by controller restart and ca bundle regeneration. need more input from user.

[2021-08-31 09:53] lionstack commented on #2600
@antoninbas Hi, thx for your reply. I mean if the two nodes are in one subnet, in the hybrid mode the pods on the nodes can communicate with each other by host route like: 10.224.1.0/24 via 192.168.10.10 dev eth0, which won't use network tunnel. And the performance of route is better than network tunnel.
But for now, the hybrid mode is not compatible with AntreaProxy, so I want to add a parameter

[2021-08-31 11:05] lionstack opened #2685 "EgressIP support multi-nic environment"
**Describe the problem/challenge you have**
In my environment, there are multi-nic in one node, for example：
internal network: 192.168.12.0/24
public network: 172.16.10.0/24
And the default route is public nic. Besides, the internal network cannot communicate with public network.

When I create an egressIP(192.168.12.155), and the egressIP is allocated on node2, there will be an iptables rule crea

[2021-08-31 17:58] abhiraut opened #2686 "Use AppliedTo struct for Antrea-native policies"
**Describe what you are trying to solve**

Instead of sharing the Peer struct with to/from peers and appliedTo fields, introduce an independent struct for AppliedTo.

**Describe the solution you have in mind**

[code]

[2021-08-31 17:58] abhiraut commented on #2686
/cc @GraysonWu @qiyueyao

[2021-09-01 05:31] wenyingd opened #2693 "Use flexible pipeline in Antrea Agent"
**Describe what you are trying to solve**
The motivation for a flexible pipeline includes: 1) each new feature can define its expected **pipeline_template**, and not worry the conflict with flow installed by other feature; 2) the final pipeline realized on OVS depends on the working features which Antrea Agen is using, and unused flows are not installed at all; 3) new feature no needs to find a va

[2021-09-01 09:15] #2426 closed

[2021-09-01 12:32] tnqn opened #2694 "Agent crashed because of error when listing DP features occasionally"
**Describe the bug**

[code]
It's because agent didn't wait for ovs-vswitchd to be ready before calling ovs-appctl.

**To Reproduce**
It happened occasionally when restarting antrea-agent.

**Versions:**
 - Antrea version (Docker image tag). main and release 1.3

[2021-09-01 12:32] lzhecheng commented on #136
Used a PR to verify noencap support by all ipv6-only and dual-stack tests:
[code]

All tests are successful.
![noencap-allpass](https://user-images.githubusercontent.com/15087620/131671536-7bde161c-86b8-4ecc-a196-f4e78f7d1b5d.png)

[2021-09-01 12:33] #136 closed

[2021-09-01 15:15] tnqn opened #2696 "Service traffic requiring SNAT doesn't work with WireGuard"
**Describe the bug**

When running `sonobuoy run --mode certified-conformance` with WireGuard enabled, there were 10 test failures:
[code]

After troubleshooting, I found all of them failed because of the same reason: the service traffic requiring SNAT couldn't be transfered to peer Node when the endpoint Pod is on another Node.

This is because we didn't set any address on wireguard device antrea

[2021-09-01 19:38] antoninbas commented on #2600
this seems like a legitimate request, but it would be hard for us to assist users if they run into issues with this mode, so they basically would be on their own. Features beyond NetworkPolicies (e.g. Traceflow) may break and additional features may break unexpectedly in the future. I suppose one way for us to enable you to do what you want and force "AntreaProxy" to be disabled even in hybrid mod

[2021-09-01 19:39] antoninbas commented on #2685
Adding @tnqn and @wenqiq for comments

[2021-09-01 22:45] GraysonWu opened #2699 "Reject action can't work in some cases on Service traffic"
**Describe the bug**
The current reject action logic:
* For MAC and IP: Swap srcMAC/IP and dstMAC/IP of the original request packet.
* For `in_port`, the controller will use the srcIP of the reject response to determining if the source Pod of the reject response and the controller are on the same Node. If they are on the same Node, use OF port of this source Pod as `in_port`. If not, use OF port o

[2021-09-02 00:14] antoninbas commented on #2674
I can handle this

[2021-09-02 01:03] GraysonWu commented on #2699
The solution off the top of my head.

1. If the source Pod of the reject response and the controller are on the same Node, use MAC of this source Pod as srcMAC of the reject response.
2. Use `EpSelectedRegMark` to determine if the packet is Service traffic. If it's Service traffic then we don't load reject bypass reg. Because Service traffic will commit ct in endpointDNATTable(42) before the netwo

[2021-09-02 01:59] wenqiq commented on #2685
It seems that internal IP addresses are rarely used in EgressIP.

[2021-09-02 03:16] wenyingd opened #2701 "Windows bug: SNAT is not performed on the Service request packet if it is not new in Antrea v1.2"
**Describe the bug**

Windows pod cannot access k8s API service IP from within the windows pod in noEncap mode in Antrea v1.2,  i.e doing something like this from inside the pod does not work:
[code]

After capturing the packets, it is seen that +new packets do get DANtted and SNATted correctly. But established packets miss getting SNATted.

**To Reproduce**
1. Deploy Antrea in Windows cluster and

[2021-09-02 03:41] Jexf commented on #2685
How about use virtual mac to mark and identify the packets which need to do sant. Each egress rule allocate a virtual mac, we update the dst mac to virtual mac, then use node transport ip instead of snat ip to transport the packets to the egress nodes, and just match the dst mac with virtual mac in snatIPFromTunnelFlow function.

[2021-09-02 03:41] tnqn commented on #2685
The first approach may fix this particular case but doesn't make a lot of sense from the API's perspective. The `egressIP` makes no more sense when `forceUseMasq` and becomes a tunnel endpoint IP. And I think not many people can understand the configuration.

We considered the second approach in the begining but chose the current way to avoid encapsulating the egress IP in the tunnel metadata or c

[2021-09-02 04:33] #2696 closed

[2021-09-02 08:20] leonstack commented on #2685
Yes, when `forceUseMasq` is true, the egressIP won't be used to SNAT, but it can support high availability for egress access.

[2021-09-02 09:10] hongliangl opened #2706 "New e2e vmc test for AntreaProxy that supports all Services"
AntreaProxy can support all types of Service in #2599. We need new vmc test  to run the new added e2e tests. I have added Kind test, however, IPv6 is disabled in Kind cluster. Some of the new added e2e cases need IPv6 support.

The test environment requirements:
- KubeProxy is removed.
- Option `kubeAPIServerOverride` of Antrea agent should be set. For exmaple:  `kubeAPIServerOverride: "192.168.77

[2021-09-02 09:12] hongliangl commented on #2706
@tnqn @jianjuns @antoninbas  Could you please give more suggestions about the tests we need to add? Thanks.

[2021-09-02 11:21] leonstack opened #2707 "Egress supports `except` property to allow noSNAT for assigned destination"
**Describe what you are trying to solve**
My environment has multi-nic per-node for several network(such as management, monitor, public), and there are two applications in my environment. One application uses antrea(called antrea-app) and another uses hostNetwork(called host-app) . The antrea-app wants to access the external network and also wants to access the host-app(such as monitor network).
I

[2021-09-02 11:57] leonstack opened #2708 "Egress should disable SNAT when destination is NodeIP"
**Describe what you are trying to solve**
When we create egress for a pod, if the pod wants to access hostNetwork app which listening NodeIP, the packets will be sent to the node which egressIP belong to first, then sent to the node which NodeIP belong to, this will hugely reduce the network performance for their communication.

**Describe the solution you have in mind**
The egress function should

[2021-09-02 12:22] tnqn commented on #2671
This will depend on the type of the LB. If you are using external LB, I assume you mean every Node just SNAT its local Pods directly with same LB VIP, then there will be a problem for the return traffic as @antoninbas mentioned.
If you are using in-cluster LB and the LB VIP is configured on a Node physically, I think it can work if you just specify LB VIP as Egress IP.

This is possible, and recen

[2021-09-02 12:23] tnqn commented on #2671
Just found the issue is already created: https://github.com/antrea-io/antrea/issues/2707

[2021-09-02 12:28] tnqn commented on #2707
@leonstack Thanks for the proposal. Supporting excluding specific traffic from being SNATed sounds reasonable to me. Besides your case, I can imagine that if there are BMs or VMs running in the same network as the Kubernetes cluster, user may want their Pod talk to them directly. So having `except` can help that case too.

@jianjuns @antoninbas @wenqiq Could you share your opinions if any?

[2021-09-02 15:30] #2661 closed

[2021-09-02 15:33] tnqn commented on #2407
Closing it as it has been fixed by https://github.com/antrea-io/antrea/pull/2408

[2021-09-02 15:33] #2407 closed

[2021-09-02 16:30] #2694 closed

[2021-09-02 17:00] jianjuns commented on #2708
Agreed.

[2021-09-02 17:08] jianjuns commented on #2600
If we are sure it works, I am fine to add the flag. I do not remember if we made any code changes when disallowing noEncap/hybrid/policyOnly with kube-proxy. I can check.

[2021-09-02 17:35] jianjuns commented on #2685
I also agree approach 2 is the right way to address such use cases, but it is a big change, and in my mind we might still like to keep the current implementation as it is most efficient and can support a very common deployment topology. So, also thinking could we go approach 1 for now, and see if we really have requirements for generic support of "configurable egress IPs on dedicated egress nodes"

[2021-09-02 19:00] #2674 closed

[2021-09-02 19:16] antoninbas commented on #2707
This sounds good to me. One other issue (https://github.com/antrea-io/antrea/issues/2671) asked for the ability to filter by protocol (TCP / UDP), so maybe we can think of a generic traffic filtering mechanism that covers multiple use cases. I am not totally sure why one would want to filter by protocol though, so maybe @eranshpiner could provide more information about his use case.

[2021-09-02 20:30] antoninbas commented on #2706
Unless something has changed, we unfortunately cannot run IPv6 / dual-stack tests on VMC.
@lzhecheng I think we may need a new set of dual-stack testbeds for proxyAll, without kube-proxy. We should ideally run a single Jenkins job on these testbeds, which would combine a subset of conformance tests (Service related), along with a subset of Antrea e2e tests.

[2021-09-02 21:05] antoninbas commented on #2699
**Case 1:**
typo: s/There is a policyA appliedTo PodA reject egress to PodA/There is a policyA appliedTo PodA to reject egress to PodB

would be good to emphasize that this is because the original packet is sent to the controller after DNAT but _before the source MAC is rewritten_. At least that's my understanding (MAC rewrite happens in table 70).

 **Solution:**

- AntreaProxy enabled: Your solu

[2021-09-02 21:25] GraysonWu commented on #2699
Thanks for the reply. Updated description.
* Why bypass conntrack
For Pod-to-Pod traffic, commit ct is happened in conntrackCommitTable(105). When the network policy is enforced this traffic hasn't commit ct. If the generated reject response don't bypass conntrack, response packet will be dropped in conntrackStateTable(31) by this flow:
[code]
* About your solution
Can we use the srcMAC is antrea-

[2021-09-02 21:36] antoninbas commented on #2699
If we add an output action in the actions list for the packet-out message, will it bypass the pipeline?

I feel like this filter would not be limited to kube-proxy traffic. But maybe this is not an issue.

Maybe this is something @wenyingd can help with as well.

[2021-09-03 02:26] wenqiq commented on #2708
Agree+1

[2021-09-03 08:38] tnqn opened #2717 "testFQDNPolicy is flaky in jenkins-ipv6-ds-e2e"
**Describe the bug**

It failed twice in unrelated PRs:
[code]
Attached two failures:
[antrea-test-logs (21).tar.gz](https://github.com/antrea-io/antrea/files/7104450/antrea-test-logs.21.tar.gz)
[antrea-test-logs (22).tar.gz](https://github.com/antrea-io/antrea/files/7104471/antrea-test-logs.22.tar.gz)

[2021-09-03 08:55] tnqn opened #2718 "TestEgress is flaky in jenkins-ipv6-only-e2e"
**Describe the bug**

It failed in unrelated PR:
[code]
[antrea-test-logs (23).tar.gz](https://github.com/antrea-io/antrea/files/7104491/antrea-test-logs.23.tar.gz)

According to antrea-agent logs, I found it may be affected by previous test which uses same egress IP:

1. At 04:47:36.164029, the log declared "2021::aaa2" was added to antrea-egress0, and localIPDetector detected it.
2. At 04:47:36.

[2021-09-03 08:55] tnqn commented on #2718
cc @wenqiq

[2021-09-03 09:16] wenqiq commented on #2718
@tnqn Thanks for investigating the failure. It seems the process flow is the same with IPv4. But only IPv6 failure happens. There is also a difference in the test case testEgressClientIP. I am still checking this.

[2021-09-03 17:29] antoninbas commented on #2717
@GraysonWu do you have cycles to look at this?

[2021-09-03 17:43] GraysonWu commented on #2717
I will take a look

[2021-09-03 17:45] #2624 closed

[2021-09-04 00:26] jianjuns commented on #2600
I did some tests and see at least noEncap and hybrid modes do work with kube-proxy (Pod -> Service traffic can still go through). So, I am fine to add a ConfigMap parameter or environment variable to allow noEncap/hybrid/networkPolicyOnly modes with kube-proxy (and say it is not a guaranteed configuration). @antoninbas @tnqn

[2021-09-06 00:22] #1224 closed

[2021-09-07 00:18] #1236 closed

[2021-09-07 01:32] luolanzone commented on #2684
no more details from customer, close this issue and will reopen it if we found more details for non-first attempt failure.

[2021-09-07 01:32] #2684 closed

[2021-09-07 06:21] luolanzone opened #2726 "IPsec e2e failure"
**Describe the bug**
A bug reported from @wenyingd ,when the default antrea.yml is not using `encap` as default rafficEncapMode but `noEncap`, the IPsec e2e will fail due to the yaml is IPSec enabled with noEncap mode, antrea-agent will never be ready.

A failed jenkins job https://jenkins.antrea-ci.rocks/job/antrea-e2e-for-pull-request/3240/consoleFull for PR #2702

**To Reproduce**

**Expected**

[2021-09-07 10:15] wenyingd opened #2727 "kind test failed in noEncap cluster with case: TestFlowAggregator"
**Describe the bug**
After I changed antrea.yaml to use noEncap mode in a PR, I triggered kind test, and hit the following error in case TestFlowAggregator.

[code]

**To Reproduce**
Change antrea.yaml to use noEncap mode, and run kind test in hybrid mode.

**Expected**
Test succeeds.

**Actual behavior**
Test failed with panic errors.

**Versions:**
Antrea 1.2

Here is a link for the error: https

[2021-09-07 11:01] tnqn commented on #2685
By going approach 1, the egress IP will only be the tunnel IP, instead of its literal meaning, I'm concerned if the API is still understandable, and user will wonder what's the usage of egressIP here. A more friendly way in my mind is to set a special value to indicate the "masquerade" behavior, maybe just "Masquerade", like headless service using "None" as the clusterIP. For implementation,
1. We

[2021-09-07 12:00] leonstack commented on #2707
hi @tnqn @antoninbas , seems the `except` should include [`cidr`, `protocol`, `port`] for more situation.
Or we can focus on  [`cidr`, `protocol`] that I can't think of a use case for `port`.

[2021-09-07 15:41] tnqn commented on #2707
@leonstack I cannot think of a use case that different protocols and ports expect different egress behavior either. But we can make the API extensible even we only support cidr for now. Something like the following should work:
[code]
[code]

[2021-09-07 17:30] jianjuns commented on #2685
How if user wants to specify a single Node for Egress? Then a egress pool with a single Node should be created?

I got what your points, but it will be a bigger change then, and it is like approach 3. I was thinking we just support a single Node, and then user can manually specify the Node IP to be the egress IP (even though the IP is not really the SNAT IP and so a little  confusing as you said).

[2021-09-07 17:53] srikartati commented on #2727
Confused by above statement. To run the kind test in hybrid mode, don't we need to generate the manifest using hybrid mode? Is that a typo or am I missing something?

This link is not correct. By looking in previous runs on the same PR, I was able to find the kind tests failure in hybrid.
https://github.com/antrea-io/antrea/runs/3523571452?check_suite_focus=true

Looking at error logs, there are c

[2021-09-07 19:31] jianjuns commented on #2685
@leonstack : several questions for your use cases.

1. Would you let Antrea manage egress IP assignment to egress Nodes, or you will manually manage egress IP to Node assignment? E.g. if we go your approach 2, will you define an ExternalIPPool associated with the egress Nodes, and let Antrea assign IPs from the pool to the egress Nodes?
2. Do you have requirements for HA? E.g. if we go your approa

[2021-09-07 20:19] jianjuns commented on #2707
Just wonder do we have requirements for per Egress "except", or we just need a global list of excluded CIDRs.

[2021-09-08 01:23] leonstack commented on #2707
Global list can solve my problem, but for https://github.com/antrea-io/antrea/issues/2671, I'm not sure it's flexible enough.

[2021-09-08 01:42] leonstack commented on #2685
For approach 2, `MASQUERADE` doesn't need an egressIP, but like @tnqn said, I think we must find a way to select nodes for execute `MASQUERADE` action.

For approach 1, I think the egressIP is still associated from an ExternalIPPool, and worked as a tunnel IP, but won't be used for SNAT any more, just for HA, because it can move between the nodes which ExternalIPPool selected.
Or egressIP is manag

[2021-09-08 04:26] wenyingd opened #2729 "Nil pointer dereference in network_policy"
**Describe the bug**
It tries to loop a networkpolicy conjunction's fromClause, toClause and serviceClause when updating the flows in function `getMatchFlowUpdates`. If a policy rule doesn't configure with any of these clauses (e.g., Service ports in the rule is not configured), it might throw out a nil pointer panic.
[code]

**To Reproduce**
Configure many Antrea Policy rules without Service port

[2021-09-08 06:34] wenyingd commented on #2699
I don't think the flow to `bypass generated reject responses in conntrackStateTable(31)` is needed. Let's think of the following workflows:
1. For Pod to Pod case
We can control the actions of the reject response packet to an OVS port Pod directly , 1) output the packet to the original source Pod if both source and destination pods are on the same Node; 2) In the case that source and destination P

[2021-09-08 22:27] jianjuns commented on #2685
Ok. I see you mean you do not really want to define particular egress IPs, but want to egress from a set of egress Nodes, and support HA.

I agree to support that, we should have either egress Nodes concept, or the empty pool as @tnqn suggested. The questions are: 1) whether we should go a more generic way to support allocating egress IPs for egress Nodes too; 2) or we just go your approach 1, whi

[2021-09-09 01:50] leonstack commented on #2685
@jianjuns There is one problem for approach 1, because we haven't found a way to separate egress, if several Egresses use same egressIP, and one of them use `MASQUERADE `, the others' action will also changed to `MASQUERADE `, although they are not marked `MASQUERADE`.

[2021-09-09 06:07] luolanzone commented on #723
Hi @antoninbas @jianjuns @tnqn I would like propose a new way to detect configmap change:
add a new deployment with single replica to watch  configmap change and update the agent/controller Daemonset/Deployment annotation which is similar like Helm chart: https://helm.sh/docs/howto/charts_tips_and_tricks/#automatically-roll-deployments, then we can rely on K8s rolling update strategy to update age

[2021-09-09 08:13] Jexf commented on #2685
@tnqn If we don't allocate an IP from the externalIPPool when EgressIP is set to "Masquerade", it means egress feature can‘t set egress ip for multi interfaces env and only support use  default "Masquerade" on egress node, which transport ip and public ip are isolated

[2021-09-09 14:56] #2718 closed

[2021-09-09 15:08] tnqn commented on #2600
An environment variable sounds good to me.

[2021-09-09 15:57] jianjuns commented on #2600
@Jexf : wonder if you like to make the change as discussed above :) If not, I can take it.

[2021-09-09 16:02] tnqn commented on #2707
I agree with @jianjuns that these except CIDRs are normally global in a cluster. It seems it doesn't make a lot of sense that an IP is an external address to one Pod but an internal address to another. And repeating the configuration in all Egress objects will be boring. Since we haven't received any feedback for #2671, should we just do the way that makes most sense for now? Maybe an option group

[2021-09-10 00:51] antoninbas opened #2743 "Update Kube Conformance Image version used for e2e testing on Jenkins"
The version is stored in https://github.com/antrea-io/antrea/blob/main/ci/k8s-conformance-image-version

Currently it is set to v1.19.4, which is starting to be a bit old.
If we update to a version >= 1.21, we can also tackle this issue: https://github.com/antrea-io/antrea/issues/1740

[2021-09-10 01:22] leonstack commented on #2707
Agreed, and the implementation will be more simplified, we can ignore the #2617 that I haven't found a case avoid SNAT by protocol filter.

[2021-09-10 01:52] Jexf commented on #2600
@jianjuns Thank you for reminding me, I would like to take it.

[2021-09-10 08:26] wenyingd opened #2750 "Windows Agent crashed when removing an exisitng netnat"
**Describe the bug**
Antrea Agent crashed when it tried to remove an existing netnat with name antrea-netnat but having a different Pod subnet. And the log is like:

[code]

**To Reproduce**

1. Creates a NetNat on Windows node using name "antrea-net" and configure the "InternalIPInterfaceAddressPrefix" different from the Pod CIDR assigned to the Node.
2. Start Antrea Agent

**Expected**
Antrea Ag

[2021-09-10 08:31] leonstack commented on #2708
@tnqn @jianjuns @wenqiq There is one thind I concerned, we add a flow for per NodeIP, if there are huge count nodes, the  count of openflow will also increased. How about gathering all the CIDRs where NodeIP belong to, merge the same CIDRs, and add flows for these NodeCIDRs.
What you  think?

[2021-09-10 08:50] #2729 closed

[2021-09-10 11:32] Jexf commented on #2685
@tnqn @wenqiq How about allocate a global snat mark in egressgroup, and use the snat mark to generate a virtual unique mac, then use the virtual mac as source mac. More reasons：

1.Now each antrea-agent need to maintain snat marks info standalone. When antrea-agent restart, it needs to reallocate the snat mark, and may conflict with old mark, then may cause a brief conflict of egress function(mayb

[2021-09-10 16:52] jianjuns commented on #2708
I feel one flow per Node is not too bad. Or we can consider iptables ipset?

[2021-09-10 18:24] antoninbas opened #2752 "Improve code review management for pull requests"
We have decided that some steps were needed to help ensure that pull requests are reviewed more actively and in a more timely fashion, by the right set of people.

Therefore we are planning to introduce a mapping between the different "area labels" (Github labels which describe different areas of the code base, or different features) and the most appropriate "reviewers" (identified by their Github

[2021-09-10 22:26] #2750 closed

[2021-09-10 23:38] AnishShah opened #2754 "[Windows] antrea-agent with containerd as the container runtime throws error while setting up network for Pod"
**Describe the bug**

I have deployed antrea on Windows node with containerd as the container runtime. I don't see any issues in kubelet,containerd,kube-proxy,antrea-agent logs. When I create a Windows Pod, it is stuck in `ContainerCreating` state. On `kubectl describe`, I get this error in the events -

[code]

Can anyone help in debugging this further? I'm not sure if this is a bug in Antrea or

[2021-09-11 00:20] #1245 closed

[2021-09-13 00:21] #1157 closed

[2021-09-13 12:41] Jexf opened #2766 "Should we need to add QoS policy in Egress feature?"
**Describe what you are trying to solve**
Egress feature is a CRD API that manages external access from the Pods in a cluster, and centralized redirects the SNAT packets to Egress Nodes. It may happen that some Pods occupy too much Egress SNAT bandwidth, such as third-party data copy, and there may cause network congestion on Egress Nodes. Although the current k8s has  Pods bandwidth limitation fu

[2021-09-13 15:51] jayunit100 opened #2767 "Antrea Upstream Windows Community Meeting"
*Proposal*

With antrea on Windows now being utilized in the public (i.e. https://github.com/kubernetes-sigs/sig-windows-dev-tools/tree/master/sync), it would be good to make a antrea-on-windows
community meeting.

As examples, we've had newcomers to the project asking questions such as https://github.com/antrea-io/antrea/issues/2638 ...

MAybe a PST time would be ideal ?

Im willing to help start

[2021-09-13 17:04] tnqn opened #2769 "antrea-controller panics in triggerCNPUpdates"
**Describe the bug**

`triggerCNPUpdates` panics if a ClusterGroup is used by multiple ClusterNetworkPolicies. It's because:
When a ClusterGroup is created, updated, or deleted, `triggerCNPUpdates` will be called to update ClusterNetworkPolicies that reference to it. However, a ClusterNetworkPolicy may have not been processed by `addCNP` when they are found in the informer cache, which means its i

[2021-09-13 19:00] abhiraut opened #2770 "Multi-cluster support with Antrea"
**Describe what you are trying to solve**

As the deployment of K8s clusters become more multiple cluster oriented, where users may deploy a single Service in multiple clusters or require access to Service in one cluster from other mutually trusted clusters, Antrea must be able to integrate with this multi cluster story and provide a set of APIs which makes it easier for users to consume Services

[2021-09-13 19:00] abhiraut commented on #2770
/cc @luolanzone @aravindakidambi

[2021-09-13 20:36] AnishShah commented on #2754
I think #2133 breaks antrea for containerd

[2021-09-13 23:14] GraysonWu commented on #2699
What do you mean to enforce the packet to enter ct?

[2021-09-14 00:29] #799 closed

[2021-09-14 01:26] wenyingd opened #2773 "[Windows] Failed to configure MTU when using containerd as the runtime"
**Describe the bug**
When running Antrea Agent on a Windows Node which is using containerd as the runtime, it fails to configure the MTU on the container interface. Antrea Agent is crashed, and we got this error in Antrea Agent log:

[code]

**To Reproduce**
1. Deploy containerd on Windows host, and use containerd as the runtime
2. Start Antrea Agent
3. Deploy Pods.

**Expected**
Pod shoule run

*

[2021-09-14 01:29] wenyingd opened #2774 "Windows Pod is not able to run using containerd"
**Describe the bug**
I am trying to use containerd to run Windows Pods. But I got failed with this error, "Error: failed to create containerd task: failed to create shim: hcs::CreateComputeSystem ping-test2: The directory name is invalid.: unknown"
In my setup, I am using K8s 1.22 to support containerd HostProcess feature, and using the nightly built containerd binary. I have changed the kube-apis

[2021-09-14 01:38] wenyingd commented on #2699
I mean use "goto_table:ConntrackTable" in the actions in the PacketOut.

[2021-09-14 02:39] tnqn commented on #2754
@AnishShah thanks for reporting it.
@lzhecheng could you take a look?

[2021-09-14 05:38] wenyingd opened #2776 "[Github Action]Error response from daemon: missing or empty Content-Length header"
**Describe the bug**
When I back port bugfix to original releases, I always get this failure"Error response from daemon: missing or empty Content-Length header" in Kind tests and Antrea Upgrade tests.

Following are some samples I hit:
https://github.com/antrea-io/antrea/pull/2761/checks?check_run_id=3586260757
https://github.com/antrea-io/antrea/pull/2760/checks?check_run_id=3585497664
https://gi

[2021-09-14 10:17] perithompson commented on #2774
I think `Error: failed to create containerd task: failed to create shim: hcs::CreateComputeSystem test: The directory name is invalid.: unknown` is because it cant find the executable specified, could you try this instead?
[code]

[2021-09-14 17:04] tnqn opened #2780 "Check code generation failed on release-1.1 and release-1.2 branches"
**Describe the bug**
It's because Go version of `codegen:kubernetes-1.21.0` was upgraded to v1.17, in which version the generated code expects the tag `//go:build !ignore_autogenerated`:
[code]

To fix it, we need to:

- [x] Revert `codegen:kubernetes-1.21.0` as it's used by release-1.1 and release-1.2 and these releases use older Go version
- [x] Create `codegen:kubernetes-1.21.0-build.0` which u

[2021-09-14 18:17] AnishShah commented on #2773
Duplicate of #2754?

[2021-09-15 03:52] tnqn commented on #2780
All actions have been taken and "Check code generation" is back to normal. Closing the issue.

[2021-09-15 03:52] #2780 closed

[2021-09-15 04:19] luolanzone opened #2783 "Remove Exclusionary Language"
**Describe the bug**

Antrea should not include any offensive or racism words in codes and docs like “Master/Slave”, “Whitelist/Blacklist” etc.

**To Reproduce**

**Expected**

1. Replace all offensive with alternative words, for example:

blacklist to denylist
master to main
...

2. add a tool to detect any offensive words automatically in new changed codes and docs, add it into our CI pipeline
s

[2021-09-15 19:57] wenqiq opened #2784 "[Scale Test]Agent CrashLoopBackOff after restarted"
**Describe the bug**

The agent CrashLoopBackOff after restarted.

**To Reproduce**

Test deleting antrea-agent Pods, as following code:
[code]

**Expected**

The agent can restart as normal.

**Actual behavior**

Agent CrashLoopBackOff

[code]
describe pod
[code]

**Versions:**

Antrea version:1.2.2

[code]

**Additional context**

[code]

[2021-09-16 03:46] wenqiq commented on #2784
kube-proxy describe:
[code]

kube-proxy logs

[code]

[2021-09-16 07:18] wenqiq opened #2785 "Antrea agent container not Ready after restarted controller and agent Pod"
**Describe the bug**

Antrea agent container not Ready after restarted agent Pod

**To Reproduce**

Test deleting antrea-controller and antrea-agent Pods, as following code:
[code]

**Expected**

The agent can restart as normal.

**Actual behavior**

Antrea agent container antrea-agent not Ready.

[code]
describe pod
[code]

**Versions:**

Antrea version:1.2.2

[code]

**Additional context**

[cod

[2021-09-16 07:53] wenqiq commented on #2684
It seems this issue exists in large scale clusters, see also #2785

[2021-09-16 08:51] wenyingd opened #2790 "Unit test TestIdAllocatorWorker is flaky on Windows"
**Describe the bug**
I hit the unit test case failed twice at least on Windows with this output:
[code]

But if I re-run the test, it might succeed next time.

Following is a sample link: https://github.com/antrea-io/antrea/runs/3619093880?check_suite_focus=true

**To Reproduce**
Run unit test on Windows

**Expected**
Test cases should pass.

**Actual behavior**
Test case fails occurently.

**Vers

[2021-09-16 10:00] #2473 closed

[2021-09-16 16:43] tnqn commented on #2701
Closed by #2702

[2021-09-16 20:46] abhiraut opened #2794 "Possible race condition during CNP processing"
addCNP updates the internalNetworkPolicy Store with an internalNetworkPolicy object, but before this policy is committed to the store, other events may ignore processing the CNP during reprocessing triggers due to its absence in the store. This may cause some events to be missed.

See below comment thread for more info.

[code]

_Originally posted by @GraysonWu in https://github.com/antrea-io/antr

[2021-09-16 20:50] abhiraut commented on #2794
/cc @GraysonWu @tnqn

[2021-09-17 00:15] #2769 closed

[2021-09-17 03:15] #2773 closed

[2021-09-17 03:43] AnishShah commented on #2754
Fixed in #2778

[2021-09-17 03:43] #2754 closed

[2021-09-18 00:19] #1285 closed

[2021-09-18 19:08] jayunit100 opened #2801 "IPPools"
Alot of folks would like to use `ippools` similar to calico with antrea.  I didnt see anything in the docs.  If we support something similar to ippools in antrea, can we have a doc page?

I also poked around for IPAM but didnt see much..   Maybe im looking in the wrong places but we should probably fix the docs up to make it easier to find?

[2021-09-19 00:21] #1219 closed

[2021-09-20 00:22] #1300 closed

[2021-09-20 18:41] antoninbas commented on #2801
We have introduced the an IP pool API for the Egress feature a couple of releases ago:
https://github.com/antrea-io/antrea/blob/b0e229982ee96a3d93f7c5a1b563291b36af1d47/pkg/apis/crd/v1alpha2/types.go#L245-L257

For IP pools in the context of IPAM, which seems to be what you are asking about, there is ongoing work to support this as part of a feature we call "Flexible IPAM". We have a feature branc

[2021-09-20 18:47] antoninbas commented on #1292
The OVS patch was merged a while back: https://github.com/openvswitch/ovs/commit/1090a949ac920b4e7ee901cee36008408a1c2386, and backported to 2.15, which we now use in Antrea. I believe the `chmod` call can be removed from `start_ovs`.

[2021-09-20 18:47] mmottaghi opened #2802 "Cluster scalability data with Antrea"
We need to have an idea of the largest cluster Antrea-controller can support.
Specifically, we need to know the max # of nodes/pods/net-pols a single instance of Antrea controller can support.

Can you guys share any scalability test data?

[2021-09-20 19:20] antoninbas commented on #2767
This is fine by me, if you think there is enough interest from the Antrea users and community to warrant a meeting.
I can help set it up. Any proposals for meeting time and frequency? Ideally the meeting should be at a time that works for @wenyingd and @lzhecheng. I think 5pm PST may work, but I know it's a bit late for you @jayunit100. Unfortunately, not possible to fine a time that works well fo

[2021-09-20 19:24] antoninbas commented on #2766
@Jexf can you clarify the difference between solutions 1. and 2.? They both mention using OVS meters for the implementation.

@tnqn / @wenqiq any thoughts on this? That sounds like a good differentiating feature to me (and maybe the Egress Status could even report some information about bandwidth usage if this is technically possible based on the implementation method?).

[2021-09-21 18:53] #1292 closed

[2021-09-21 22:32] heanlan opened #2806 "Improve FlowExporter tests"
- [ ] Re-write Conntrack Connections unit test `AddOrUpdateConn`

**Describe what you are trying to solve**
The unit test - `TestConntrackConnectionStore_AddOrUpdateConn` in `antrea/pkg/agent/flowexporter/connections/conntrack_connections_test.go` is not well-structured. The test is very long and there are too much testcase-specific code.

**Describe the solution you have in mind**
Break the test

[2021-09-22 01:30] GraysonWu commented on #2717
From my investigation, there are several reasons may cause this flaky issue.
**Unexpected `Drp`**
1. We use `agnhost` to do the probe. And `agnhost` will use `DialTimeout()` from `net` package to test the connectivity. The timeout of `DialTimeout()` includes name resolution. So for the FQDN test, which has a name resolution process, will have a higher chance to timeout.
2. The reason why this flak

[2021-09-22 04:06] Jexf commented on #2766
@antoninbas Thanks for the reply.
Solutions 1:
Now the k8s community uses annotation to add QoS configuration information. Not only need to create an independent ifb device for each pod, but also need to restart the pod to make the configuration take effect after modifying the QoS configuration.

Maybe we can use crd to save QoS configuration and use meter to implement QoS function:
1. use crd to

[2021-09-22 15:45] tnqn opened #2816 "windows-networkpolicy test kept failing"
**Describe the bug**

I'm trying to verify https://github.com/antrea-io/antrea/pull/2793 for release v1.2.3. However, windows-networkpolicy never succeeded since a few days ago. It didn't only fail on this PR but for all PRs.
There were at least 4 different problems among the failures:

1. Windows Node's system date was out of sync, leading to controlplane connection issues. When a test started, t

[2021-09-22 20:14] heanlan opened #2817 "Integrated performance test of FlowExporter"
**Describe what you are trying to solve**
Currently we have two performance unit tests on FlowExporter side: one for conntrack connection store `poll` go-routine, the other for flowExporter `sendFlowRecords` function. It would be great if we can have a performance test that integrates the `poll` go-routine and flowExporter's `Run` go-routine, which checks and exports expired connections based on t

[2021-09-22 22:17] srikartati commented on #2817
@heanlan Let's have all the miscellaneous testing related tasks in one issue including https://github.com/antrea-io/antrea/issues/2806. Having multiple issues is not necessary IMO.

[2021-09-22 22:18] thomasdbaker opened #2819 "Issues with Antrea Agent after September Microsoft Windows OS Patches."
After last round of patches getting the following error when antrea agent  pod tries to recreate:

    Directory: C:\host\k\antrea

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d----           9/22/2021  6:14 PM                bin
FATA[2021-09-22T18:15:45-04:00] rpc error: code = Internal desc = could not rename binary: could not bac

[2021-09-22 22:25] heanlan commented on #2817
Done. Merged into #2806 . Closing this issue.

[2021-09-22 22:25] #2817 closed

[2021-09-23 01:32] wenyingd commented on #2819
@thomasdbaker Thanks for reporting the issue. Do you mean you hit the patch in main branch? Or would you provide Antrea version?

[2021-09-23 02:39] lzhecheng commented on #2819
@thomasdbaker hello, could you tell why to rename (move?) exe file to `C:\windows\TEMP\rancher-wins-antrea-agent.exe`? When does the operation happen?

[2021-09-23 05:19] tnqn commented on #2708
Fixed by #2762, closing it manually.

@leonstack in the future you could add `Fixes #<ISSUE NUM>` to your PR description or commit message then merging the PR will close the issue automatically, which is also a prefered way in Github: https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2021-09-23 05:19] #2708 closed

[2021-09-23 15:45] perithompson opened #2826 "Add random delay to windows startup script"
Windows startup job is a bit too quick for the ovs to come online, this can be fixed by adding

[code]
to the powershell scheduled job

[2021-09-23 15:46] perithompson opened #2827 "antrea agent referencing the wrong path to update the c:\k\startkubelet.ps1 file"
**Describe the bug**
Documentation references `& C:\k\Prepare-AntreaAgent.ps1` but this should be & C:\k\antrea\Prepare-AntreaAgent.ps1

[2021-09-23 16:22] perithompson commented on #2819
This is the copy in the docker config map that copies the exes to the host volume

Seems to be a problem with this patch level
[code]

[2021-09-23 17:35] heanlan opened #2829 "Create all FlowExporter resources in a function"
**Describe what you are trying to solve**
In `antrea/cmd/antrea-agent/agent.go`, we create `denyConnStore`, `conntrackConnStore`, `flowExporter` separately. We can try to have a function in `flowexporter` package to create all the `flowexporter` resources. Reference to: https://github.com/antrea-io/antrea/pull/2360#discussion_r694360020

**Describe the solution you have in mind**
As there are a lo

[2021-09-23 18:31] antoninbas commented on #2827
That's a pretty small change, why not open a PR for it directly?

[2021-09-23 18:36] srikartati commented on #2829
This is not a major change that warrants an issue IMO. Please open a PR directly or have a TODO in the code in your next PR.

[2021-09-23 18:39] heanlan commented on #2829
Got it. I thought issue can be used as a TODO, now be more aware of the usage of issues. Thanks!

[2021-09-23 18:42] srikartati commented on #2201
@zyiou As we are moving away from ELK flow collector, this issue is not relevant anymore right? If you agree, please close it.

[2021-09-23 18:42] antoninbas commented on #2829
It's fine to open an issue if you are not sure sure about the change (and wants to discuss it) or if you don't have time to tackle it in the near future.

[2021-09-23 18:45] heanlan commented on #2829
Got it. Thanks Antonin.

[2021-09-23 19:22] antoninbas opened #2831 "TestFlowAggregator failures (Record does not have correct label...)"
**Describe the bug**
I observed Kind test failures for a recent PR, which was not modifying any code:
[code]

I don't know if this is relevant, but these failures were for Kind test `E2e tests on a Kind cluster on Linux with AntreaProxy disabled`.

Here are the test logs:
[code]

[2021-09-23 19:35] antoninbas commented on #2717
I have observed a similar issue on Kind:
[code]

You present this list like these are all independent issues, but it seems that increasing the `agnhost` timeout should solve the issue?

But maybe this is not needed. The idea of having multiple probes is for the test to be more robust. If we expect a `REFUSED` connection and the probe results are `TIMEOUT, REFUSED, REFUSED` because of some timing i

[2021-09-23 20:04] zyiou commented on #2201
Close this issue as it is no longer applicable.

[2021-09-23 20:04] #2201 closed

[2021-09-23 20:45] GraysonWu commented on #2717
Do you think using the majority returns as the final result is a good way?

[2021-09-23 21:00] perithompson commented on #2827
I just put it here to remember to do it, I'll get the pr done!

[2021-09-23 21:03] perithompson commented on #2826
I'll do the PR for this myself too @antoninbas

[2021-09-23 21:16] thomasdbaker commented on #2819
It is an operation of the Antrea-Agent pod to copy the files at start-up.

[2021-09-23 21:18] thomasdbaker commented on #2819
The version was v1.1.0  but meant the  MS OS monthly patches broke something in the file copy process.

https://support.microsoft.com/help/5005568 Security Update KB5005568 NT AUTHORITY\SYSTEM 9/21/2021
 Security Update KB5005701 NT AUTHORITY\SYSTEM 9/21/2021

[2021-09-23 21:49] antoninbas commented on #2826
Thanks @perithompson. I am not too familiar with Windows jobs, but it feels like we don't really want the delay to be "random" here?

[2021-09-23 21:59] antoninbas commented on #2717
maybe something like this:
if expected == connected && !probes.contains(refused) && probes.contains(connected) => success
if expected == refused && !probes.contains(connected) && probes.contains(refused) => success
if expected == timeout && probes.count(timeout) >= 2 => success
everything else => error

hopefully the tests are still acceptable this way, and we should see way less failures

[2021-09-23 22:07] antoninbas commented on #467
No news from OVS community. I don't think this is likely to be fixed.

[2021-09-23 22:11] antoninbas commented on #2752
Repo for website created: https://github.com/antrea-io/website

[2021-09-23 22:12] antoninbas commented on #2274
Repo for website created: https://github.com/antrea-io/website

[2021-09-23 23:23] srikartati commented on #2831
@dreamtalen  As pod label part in e2e test is added by you, can you take a look at this?

[2021-09-23 23:43] dreamtalen commented on #2831
Hi Srikar and Antonin, I think this is the same issue as I opened before at https://github.com/antrea-io/antrea/issues/2657.
Failure is caused by podInformer sometimes failed to get the Pod objects by searching with Pod IP Address, which I think it's not related to the filing Pod labels code in Flow Aggregator.
To make sure, Antonin could you please share the failed Kind job link so I can check th

[2021-09-23 23:44] abhiraut opened #2832 "Add Pass action to Antrea-native policies"
**Describe what you are trying to solve**

Currently there is no way to delegate rule evaluation from Antrea-native policies to K8s NetworkPolicies. Consider the use case where inter-tenant namespaces traffic must be denied by ACNP but intra-tenant traffic is explicitly delegated to namespace owners and devs. This can be done by ensuring that higher order deny rules don't deny intra-tenant traffic

[2021-09-23 23:45] abhiraut commented on #2832
cc @Dyanngg @GraysonWu @qiyueyao

[2021-09-23 23:50] srikartati commented on #2831
Yongming, I found one here: https://github.com/antrea-io/antrea/runs/3690975072?check_suite_focus=true
You could check for some recent failures in Kind tests under the actions tab.

Yes, most probably the pod informer from go-client is not receiving the pods in that particular test. In addition, we can see other tests passing in the above suite.
Do you know why this may be happening? Connectivity

[2021-09-24 00:12] dreamtalen commented on #2831
Thanks Srikar, that failure you pointed out is caused by the same reason after I checked the logs:
[code]
I was thinking about whether it might be the connectivity issue on the github Kind cluster. Since I haven't reproduced it successfully on local Kind cluster with more than 100 runs, but it happens quite frequently on Github Kind test.

[2021-09-24 02:10] wenyingd commented on #2819
@thomasdbaker Actually, I am a bit doubt it is related with the privileges of service "rancher-wins" (maybe name as "wins"?), which is the actual worker to call antrea-agent.exe on the Window host and the worker to rename C:\windows\TEMP\antrea-agent.exe to C:\windows\TEMP\rancher-wins-antrea-agent.exe. So could you print the "Security Properties" of directory "C:\windows\TEMP\", and the service a

[2021-09-24 02:34] wenqiq commented on #2766
Good idea.About solution 1, I think a more appropriate name of CRD kind is `bandwidth` instead of `kind: Qos`?
IMO, I perfer solution 1, however the more conventional way to limit the bandwidth on pods is througth annotation in k8s community.
If we want to add QoS function for Egress feature, I think solution 2 should be more appropriate now.

[2021-09-24 12:35] perithompson commented on #2819
I feel like this may actually be a problem with wins itself, I think, when the container is terminated, there is a possibility that the process on the host can remain open and not realise that the client has stopped trying to talk to it, therefore the delete/overwrite fails, I suspect this is actually not to do with the Patch and more to do with the way the termination state of wins.  As the file

[2021-09-24 12:45] perithompson commented on #2819
FATA[2020-06-17T00:29:15Z] rpc error: code = Internal desc = could not rename binary: could not backup the existing target file: rename c:\etc\kubernetes\bin\rancher-wins-kubelet.exe C:\Windows\TEMP\ranc
her-wins-kubelet.exe: Access is denied.

It seems this is something to do with this internals of wins https://github.com/rancher/windows/issues/45, https://github.com/rancher/rancher/issues/26739

[2021-09-24 13:46] tnqn commented on #2766
The idea sounds good to me.
1. Will the QoS apply to off-cluster egress traffic of all Pods selected by the Egress (or the QoS if it's another CRD), or it's per Pod?
2. Given Kubernetes has provided a way to specify total ingress and egress bandwidth of a Pod, I feel we could just add a QoS applying to off-cluster Egress traffic only. It could be an optional field of the Egress CRD.
3. For @antoni

[2021-09-24 14:41] tnqn opened #2839 "Unify config name and format?"
**Describe the bug**

I found there are some difference in Antrea config options when they are similar:
For `NodeIPAM` feature, the config options are:
[code]

Some config options in antrea-agent:
[code]

The differences:
1. `NodeIPAM` uses `secondaryServiceCIDR` to take another CIDR while antrea-agent uses `serviceCIDRv6` to take IPv6 CIDR.
2. `NodeIPAM` expects a single string for multiple range

[2021-09-24 14:41] tnqn commented on #2839
@jianjuns @antoninbas @salv-orlando @ksamoray what do you think?

[2021-09-24 14:46] perithompson commented on #2826
The Random delay allows the task to run at a random time within 30 seconds after startup, it's good for keeping processes apart and is saying run within 30 seconds of a startup but the delay has to be random as there isn't a way to fix a delay AFAIK

[2021-09-24 15:18] jianjuns commented on #2839
That sounds good to me. I also suggested to group nodeIPAM and flexible IPAM parameters to be all under antreaIPAM.

[2021-09-24 16:00] ksamoray commented on #2839
Yes I think that there's no sense in having different naming.

[2021-09-24 18:55] antoninbas commented on #2839
This sounds good to me, and we should definitely do it before the next release

[2021-09-24 20:27] GraysonWu commented on #2832
Just to make sure: the rule with Pass action will have the highest priority right?

[2021-09-24 20:30] abhiraut commented on #2832
Practically, emergency Deny rules should be highest; followed by Pass action rules and then the allow and deny rules.
However, since we provide the flexibility of arranging rules and priorities however we want, we should honor such ordering. When the policy is as follow:

Rule1 - Allow
Rule2 - Deny
Rule3 - Pass
Rule4 - Deny
...
RuleN - Allow

traffic matching Rule3 must skip all rules from 4 to N

[2021-09-26 10:15] Jexf commented on #2766
Thanks for your reply,  Now the Kubernetes community qos function is so simple, if we use a new CRD to define and save bandwidth limitation info, we can implement a series of functions：
1. namespace-level bandwidth limitation, we can add `scope` field in  `Bandwidth` CRD,  the `shared`value means the applied pods share the sampe  meter qos rule,  and the `standalone` value means  each pod using a

[2021-09-26 10:23] Jexf commented on #2766
@tnqn Thanks for your reply. Yes, we can just add an optional field in the Egress CRD for Egress bandwidth limitation, and it not conflict with the `Bandwidth` limitation CRD. Maybe we don`t need to add meter qos rule for each pod,  just sharing a meter qos rule for applied pods may be more simple.

[2021-09-27 00:20] #1284 closed

[2021-09-27 02:23] wenyingd commented on #2819
Hi Peri, I think it should be related with the Windows patch. In my own setup (not installing the patch), I restarted Windows Antrea Agent many times, but I never hit the issue. Besides, we shall overwrite the binary for upgrading Antrea Agent case.

[2021-09-27 20:33] antoninbas commented on #2635
@joshrosso did you have a chance to try the fix out?

[2021-09-27 21:01] heanlan commented on #2829
There is a problem - if we want to create all the resources in a function under `flowexporter` package, there will be some import cycles: between `flowexporter` and `connections` package, between `flowexporter` and `priorityqueue` package.
e.g. we need to call methods in `connections` package in [line](https://github.com/antrea-io/antrea/blob/e880406416e488d209f9fdf6f8fba3e5b31b37a9/cmd/antrea-age

[2021-09-28 03:30] Jexf opened #2850 "EgressGroup maybe need to filter hostnetwork pod"
**Describe the bug**

The Log:
[code]

Now Antrea Egress can`t to redirect HostNetwork Pods packets to Egress Node, even if we add pod selector for the HostNetwork Pods. And we can find the not found logs for  HostNetwork Pods, because need to get pod veth interface in Antrea Agent Egress Controller.

the Egress CRD Info:

[code]

[2021-09-28 04:16] antoninbas commented on #2223
Closing this. We had a feature freeze for v1.3, and we intend to have one for future releases as well.

[2021-09-28 04:16] #2223 closed

[2021-09-28 04:50] srikartati commented on #2829
How can `denyConnStore` is grouped with `conntrackConnStore`? `denyConnStore` is needed for initialization of `networkPolicyController`, and `networkPolicyController` is needed for `conntrackConnStore`.

[2021-09-28 05:15] srikartati commented on #2829
I think as a first step, combining priority queue and connection store initializations separately for denyConnStore and conntrackConnStore is better. You could try placing those in the connections package.

[2021-09-28 09:41] #2839 closed

[2021-09-28 14:26] tnqn opened #2852 "pull_request_target needs manual rerun?"
**Describe the bug**

The check appeared as failing after I approved the PR https://github.com/antrea-io/antrea/pull/2845. It seems it only ran once after the commit is updated. Should it rerun upon approval event?

[2021-09-28 14:27] tnqn commented on #2852
@antoninbas is it expected?

[2021-09-28 18:51] heanlan commented on #2829
Yes, the first step makes a lot of sense. I have done that in the PR.
If we want a step further, i think at least we cannot wrap all into the current `flowexporter` package, due to the import cycle problems. I'll try to think about anything else we can do.

[2021-09-29 00:04] antoninbas commented on #2852
The issue is that an approval triggers the `pull_request_review` event type (https://github.com/antrea-io/antrea/blob/5480b686888f767b743f4363d5490936ed1db861/.github/workflows/reviews.yml#L6-L12), which does not have the necessary permissions. I will need to think about how to address this. In the mean time, the failed status for the workflow can be ignored (it is not required for merging).

[2021-09-29 00:40] anfernee opened #2855 "pod cannot access 169.254.169.254 in GCE"
**Describe the bug**
When running antrea in GCE in `nonEncap` mode on Windows, we found that pod failed to access metadata server (at 169.254.169.254). This server provides very important functionality to VM instances [[1]](https://cloud.google.com/compute/docs/metadata/default-metadata-values), including vm metadata like zone/region, image, type, as well as service account and permission that som

[2021-09-29 00:47] jianjuns commented on #2855
Thanks @anfernee for raising the issue. Yes metadata service access is a common requirement in public cloud.

@wenyingd and @tnqn : do you have a better idea, in addition to what @anfernee suggested to add a flow to directly forward the packets to br-int?
But what is the solution for Linux (where we do not move Node IP to br-int)?

[2021-09-29 03:51] tnqn commented on #2855
To route traffic to metadata service properly, it seems Windows need an explict route for 169.254.169.254. https://github.com/GoogleCloudPlatform/compute-image-windows/blob/22bd7e2701da9dc6bd931711cbb39c36a1d81df1/sysprep/instance_setup.ps1#L126 maybe the step installing this route.

The route should be on the physical interface. When attaching the physical interface to OVS bridge, antrea-agent mo

[2021-09-29 03:54] tnqn commented on #2855
@anfernee could you check whether the Node has a route for 169.254.169.254 before and after running Antrea separately?

[2021-09-29 04:29] jianjuns commented on #2855
@tnqn : @anfernee can confirm, but he did show me the host route table includes the route to 169.254.169.254. We suspect it is that IP forwarding does not work for a link-local address, and so the packet is not forwarded from antrea-gw0 to go out from the Node IP. What you think?

[2021-09-29 04:59] anfernee commented on #2855
Yes, the route on the host does exist, so `curl 169.254.169.254` from host always works, but it doesn't work if running inside pods.

[2021-09-29 06:03] wenyingd commented on #2855
@anfernee Could you help print the route entry `route print` for target IP `169.254.169.254` ?

[2021-09-29 06:37] wenyingd commented on #2855
@anfernee Do you mean the metadata Service is actually provided inside every host? Could you help print the existing route entry on Windows host for target IP 169.254.169.254 ?

[2021-09-29 09:13] tnqn commented on #2855
According to https://www.ietf.org/rfc/rfc3927.txt, it seems your suspicion is correct @anfernee @jianjuns :

   support this capability.

   Whichever interface is used, if the destination address is in the
   169.254/16 prefix (excluding the address 169.254.255.255, which is
   the broadcast address for the Link-Local prefix), then the sender
   MUST ARP for the destination address and then send

[2021-09-29 15:51] jianjuns commented on #2855
metadata service is out of the host. The route is like:
`169.254.169.254  255.255.255.255         On-link       node-ip      6`

At least for GKE, the assumption is Pod IP can access metadata service.

[2021-09-29 16:07] tnqn opened #2857 "error when creating agent API server may happen when proxyAll is enabled and kube-proxy is not deployed"
**Describe the bug**

When proxyAll is enabled and kube-proxy is not deployed, the order of creating agent API server and AntreaProxy installing rules is not deterministic. However, creating agent API server need to access K8s Service to get configmap required by authentication delegation. If AntreaProxy installs rules too late, creating agent API server would fail and the whole process would cras

[2021-09-29 16:33] anfernee commented on #2855
[code]

[2021-09-29 22:02] abhiraut commented on #2492
Merged with #2577

[2021-09-29 23:32] GraysonWu opened #2860 "TestClusterIPv4 is flaky in Kind e2e test"
**Describe the bug**
`TestClusterIPv4/Non-HostNetwork_Endpoints/Pods_from_all_Nodes_can_access_Service_ClusterIP` and `TestClusterIPv4/HostNetwork_Endpoints/Pods_from_all_Nodes_can_access_Service_ClusterIP` are flaky in Kind e2e test when Antrea-proxy is disabled and Antrea-native policy is disabled.

[code]

[2021-09-29 23:45] srikartati commented on #2860
Yes, I have seen this. Sometimes only one of the tests fails.

[2021-09-30 00:12] #2857 closed

[2021-09-30 11:58] wenyingd commented on #2855
I tried on our testbed, antrea-gw0 has received the packet, but doesn't forward it.

[2021-09-30 14:52] tnqn commented on #2855
@wenyingd thanks for confirming.
@jianjuns @anfernee Then it seems the most straightforward way is what you have suggested in https://github.com/antrea-io/antrea/issues/2855#issuecomment-929731160. But I suppose you mean "add a flow to directly forward the packets to **physical interface** (instead of br-int)"? And do we need to respond ARP request against the IP? or we should forward the ARP requ

[2021-09-30 16:24] anfernee commented on #2855
That's exactly what we have tried, and it worked for us.

We added an ARP responder for the IP. We also tried to forward the ARP to physical network, but it didn't work for us for some reason.

[2021-09-30 17:11] #2850 closed

[2021-10-01 20:02] #2274 closed

[2021-10-03 00:22] #651 closed

[2021-10-04 12:19] lzhecheng commented on #2860
Saw it for a few times in different PRs.

[2021-10-04 15:52] alex-vmw commented on #2003
/remove-lifecycle stale

[2021-10-04 19:38] AnishShah commented on #2855
I'm seeing the same behaviour on Azure while running in `enCap` mode on Windows.

[2021-10-05 18:52] #2827 closed

[2021-10-05 19:11] antoninbas commented on #2790
@srikartati I took the liberty to submit a patch for this, since this has been open for a couple of weeks and I ran into this issue today

[2021-10-05 19:51] antoninbas commented on #2860
I'll take a look at this

[2021-10-05 20:04] srikartati commented on #2790
Thanks, @antoninbas for taking care of this. I am not aware that the slowness issue in Github workflow windows VMs is causing this problem.

[2021-10-05 23:07] #2826 closed

[2021-10-08 19:59] antoninbas commented on #2831
I notice that we never wait for a cache sync in the Flow Aggregator code.
Maybe try calling `WaitForCacheSync` on the informer factory right after calling `Start()`.

[2021-10-09 08:22] Jexf opened #2879 "Unnecessary processing in Egress update event when Egress status update action"
**Describe the bug**

When create a Egress rule , and set log level to 4.

The egress rule exmaple:
[code]

The logs:
[code]

Now Antrea uses status as a subresource in Egress CR, And Antrea Agent needs to update Egress status by UpdateStatus function in sync Egress process. But Egress Informer also can receive a new update event when update Egress status.
It will cause sync Egress rule twice in A

[2021-10-09 10:29] #2879 closed

[2021-10-09 11:08] Jexf opened #2880 "Duplicated Egress sync processing in Antrea Agent"
**Describe the bug**
When create a Egress rule , and set log level to 4.

The egress rule exmaple:
[code]

The logs:

[code]

**Duplicated Egress sync processing 1**:
1. When create a new Egress rule with externalIPPool, the egressIP is empty, so Antrea Agent receives a create Egress with  none egressIP event, and skip in sync Egress rule process.
2. Then Antrea Controller allocates an ip from ext

[2021-10-10 23:42] iKarthik opened #2881 "Unable to start a pod in EKS cluster with Antrea CNI enabled"
**Describe the bug**
Followed the steps listed [here](https://github.com/antrea-io/antrea/blob/main/docs/eks-installation.md) to get Antrea CNI installed in an brand new AWS EKS cluster (created via eksctl). I was able to create the CRDs, Controllers, RBACs, SAs successfully. When I create a deployment with a simple image like network-multitool, pod creation fails because of an obscure error

**To

[2021-10-12 13:34] jayunit100 opened #2885 "Updating the "antrea office hours" to an official antrea-live stream format"
https://docs.google.com/document/d/1iy6pVVwf0pMV7I7YLZkOaFoJCNmCL1AXeSt_ErHQiG4/

[2021-10-12 17:43] antoninbas commented on #2885
@jayunit100 do you want to start at the next office hours session (next week)?

[2021-10-14 22:45] srikartati commented on #2831
Thanks, Antonin. Yes looks like we are missing that.
@dreamtalen could you try this?